<template>
  <div class="synthesize-audit com-input">
    <div class="up-wrap">
      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字,如：综合价期次" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div class="flex-c">
          <span class="s-text com-label-text">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate2" />
          </div>
        </div>
      </div>

      <div class="com-table table-wrap">
        <div class="com-operate-wrap" />
        <el-table v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%;" @selection-change="handleSelectionChange">
          <el-table-column width="400" label="测算的模版周期名称">
            <template slot-scope="scope">
              <span v-has.show="'complex:getComplexPrices'" class="cp p-color" @click="skipDetail(scope.row)">{{ scope.row.compName }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="matCount" label="材料数量" />
          <el-table-column label="评审状态">
            <template slot-scope="scope">
              <span v-if="scope.row.auditStatus == 2">待审核</span>
              <span v-if="scope.row.auditStatus == 3">已审核</span>
              <span v-if="scope.row.auditStatus == 4">已审批</span>
            </template>
          </el-table-column>
          <el-table-column label="评审方式">
            <template slot-scope="scope">
              <span v-if="scope.row.reviewWay == 0">单审</span>
              <span v-if="scope.row.reviewWay == 1">双审</span>
            </template>
          </el-table-column>
          <el-table-column prop="updateBy" label="提交人" />
          <el-table-column prop="auditBy" label="审核人" />
          <el-table-column label="更新时间">
            <template slot-scope="scope">
              <span>{{ scope.row.updateOn | filterDate }}</span>
            </template>
          </el-table-column>
          <el-table-column label="复核时间">
            <template slot-scope="scope">
              <span>{{ scope.row.updateOn | filterDate }}</span>
            </template>
          </el-table-column>
          <el-table-column label="流程记录">
            <template slot-scope="scope">
              <span class="p-color cp" @click.stop="openIssueRecordDialog(scope.row)">
                <el-tooltip effect="light" content="查看记录" placement="top">
                  <img class="icons" src="@/assets/img/cs/icons/details.png" alt="">
                </el-tooltip>
              </span>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 流程记录弹窗 -->
    <el-dialog title="流程记录" :visible.sync="showIssueRecordDialog" :close-on-click-modal="false" width="591px" class="com-dialog">
      <el-table ref="multipleTable" v-loading="issueRecordLoading" :data="issueRecordList" tooltip-effect="dark" border row-key="id" :expand-row-keys="expands" class="record-dialog-table"
        style="width: 100%;" @row-click="rowClick">
        <el-table-column prop="id" label="id" type="expand" width="1px">
          <template slot-scope="scope">
            <div>
              <span class="com-s-label">评审备注</span>
              <div class="mt-5 t-content">{{ scope.row.remark }}</div>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="流程操作">
          <template slot-scope="scope">
            <span v-if="scope.row.status == 2">待审核</span>
            <span v-if="scope.row.status == 3">已审核</span>
            <span v-if="scope.row.status == 4">已审批</span>
            <span v-if="scope.row.status == 5">审核不通过</span>
            <span v-if="scope.row.status == 6">审批不通过</span>
          </template>
        </el-table-column>
        <el-table-column label="操作时间">
          <template slot-scope="scope">
            <span>{{ scope.row.createOn | filterDate }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="createBy" label="操作员" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="showIssueRecordDialog = false">确定</el-button>
      </span>
    </el-dialog>
    <!-- 流程记录弹窗 end-->

    <!-- 导出弹窗 -->
    <el-dialog title="导出" :visible.sync="showExportDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="fw-b">导出勾选的综合价？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showExportDialog = false">取消</el-button>
        <el-button type="primary">确定</el-button>
      </span>
    </el-dialog>
    <!-- 导出弹窗 end -->
  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import {
  getCompReviewListPage,
  getCompReviewRecordList
} from '@/api/cs/synthesizePriceStock'
export default {
  name: 'SynthesizeAudit',
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    }
  },
  data() {
    return {
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      startDate: null,
      endDate: null,
      loading: false,
      issueRecordLoading: false,
      showIssueRecordDialog: false, // 发布记录弹窗
      issueRecordList: [], // 发布记录
      showExportDialog: false, // 导出弹窗
      expands: [] // 要展开的行
    }
  },
  mounted() {
    this.getDataList()
  },
  methods: {
    // 根据初始化配置起始日期，设置日期默认范围
    initSetDate() {
      const startDate = this.$store.getters.initStartDate
      if (startDate && formatDate(startDate)) {
        const curDate = new Date().getTime()
        const curStartDate = new Date(startDate).getTime()
        // 若当前时间 < 初始化配置时间
        if (curDate < curStartDate) {
          this.startDate = formatDate(curDate)
          this.endDate = formatDate(startDate)
        } else {
          this.endDate = formatDate(curDate)
          this.startDate = formatDate(startDate)
        }
      }
    },
    // 详情
    skipDetail(item) {
      this.$router.push({
        // path: '/synthesizeManager/synthesizePriceDetail/index',
        path: '/cs/EvaluationPrice/EvaluationPriceDetail',
        query: {
          id: item.id
        }
      })
    },
    rowClick(row) {
      if (this.expands.indexOf(row.id) < 0) {
        this.expands = []
        this.expands.push(row.id)
      } else {
        this.expands = []
      }
    },
    // 查看流程记录弹窗
    openIssueRecordDialog(item) {
      this.showIssueRecordDialog = true

      var params = {
        tempId: item.id
      }
      this.issueRecordLoading = true
      getCompReviewRecordList(params)
        .then(res => {
          this.issueRecordLoading = false
          if (res.code == '01') {
            this.issueRecordList = res.body
          }
        })
        .catch(err => {
          this.issueRecordLoading = false
        })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 选择开始适用时间
    toggleDate(val) {
      if (val) {
        const beginTime = new Date(val).getTime()
        const endTime = +beginTime + 3600 * 1000 * 24 * 365
        this.endDate = endTime
      }
      this.currentPage = 1
      this.getDataList()
    },
    // 选择结束适用时间
    toggleDate2() {
      this.currentPage = 1
      this.getDataList()
    },
    // 获取列表
    getDataList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        endDate: formatDate(this.endDate, 2),
        startDate: formatDate(this.startDate, 2),
        keyCode: this.searchKeyword
      }
      this.loading = true
      getCompReviewListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条记录'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.synthesize-audit {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .search-type {
    padding: 20px;
    width: 100%;
    background: #f7f7f7;
    .s-text {
      margin-right: 15px;
      white-space: nowrap;
    }
  }
  .com-search .search-ipt {
    width: 330px;
  }
  .t-content {
    padding: 10px;
    width: 100%;
    height: 150px;
    border: 1px solid #ebeef5;
    border-radius: 3px;
    overflow: auto;
  }
}
</style>
<style lang="scss">
.synthesize-audit {
  .el-table__expand-column {
    opacity: 0;
  }
  .el-table__expanded-cell[class*='cell'] {
    padding: 20px;
  }
}
</style>
