<template>
  <div class="pass-container">
    <CommentExamine />
  </div>
</template>

<script>
import CommentExamine from './components/commentExamine'
export default {
  data() {
    return {
      status: '',       // 审核状态
    }
  },

  components: {
    CommentExamine
  },

  mounted() {
    // this.status = this.$route.query.status
  },

  methods: {

  },
}
</script>

<style lang="scss" scoped>
  .pass-container{

  }
</style>
