<template>
  <div class="synthesize-set-container">
    <div class="up-wrap com-el-tabs">
      <el-tabs v-model="activeName">
        <el-tab-pane v-if="infoPriceShow" label="信息价库" name="infoPrice">
          <InfoPrice v-if="activeName == 'infoPrice'" />
        </el-tab-pane>
        <el-tab-pane v-if="historyShow && $_has('mpccollect:messagePriceHistory:getMessagePriceHistoryListPage')" label="历史库" name="history">
          <HistoryStock v-if="activeName == 'history'" />
        </el-tab-pane>
        <el-tab-pane v-if="recycleBinShow && $_has('mpccollect:messagePrice:getRecycleListPage')" label="回收站" name="recycleBin">
          <RecycleBin v-if="activeName == 'recycleBin'" />
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import InfoPrice from './components/InfoPrice'
import HistoryStock from './components/HistoryStock'
import RecycleBin from './components/RecycleBin'

export default {
  name: 'InfoPriceStock',
  components: {
    InfoPrice,
    HistoryStock,
    RecycleBin
  },
  data() {
    return {
      activeName: 'infoPrice',
      infoPriceShow: false,
      historyShow: false,
      recycleBinShow: false
    }
  },
  mounted() {
    // 判断是否拥有权限
    /*
    var btnRoles = this.$store.getters.btnRoles
    if (btnRoles.indexOf(this.$roles.fun_comprice_messagepool) > -1) {
      this.infoPriceShow = true
    }
    if(btnRoles.indexOf(this.$roles.fun_comprice_history) > -1) {
      this.historyShow = true
    }
    if(btnRoles.indexOf(this.$roles.fun_comprice_recycle) > -1) {
      this.recycleBinShow = true
    }

    // 根据权限选择默认值
    if (btnRoles.indexOf(this.$roles.fun_comprice_messagepool) > -1) {
      this.activeName = 'infoPrice'
    } else if(btnRoles.indexOf(this.$roles.fun_comprice_history) > -1) {
      this.activeName = 'history'
    } else if(btnRoles.indexOf(this.$roles.fun_comprice_recycle) > -1) {
      this.activeName = 'recycleBin'
    }*/
    // 跳过权限判断，默认信息价
    this.infoPriceShow = true
    this.historyShow = true
    this.recycleBinShow = true
    this.activeName = 'infoPrice'
  }
}
</script>

<style lang="scss" scoped>
.synthesize-set-container {
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /deep/.el-tabs__item {
      padding: 0 20px;
    }
  }
}
</style>
