<template>
  <div class="upload-cj-container">
    <div class="up-wrap">
      <h1>{{ tempName }}</h1>
      <div class="com-search">
        <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如：材料名称" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div v-if="customType && customType.length > 0" class="flex-fs custom-type">
          <span class="com-label-text">自定义材料分类</span>
          <div class="t-wrap">
            <ul class="flex-c">
              <li :class="{active: curCustomType === ''}" @click="toggleCustomType('')">全部</li>
              <li v-for="(item, index) in customType" :key="index" :class="{active: curCustomType == item.parentCategory}" @click="toggleCustomType(index)">
                {{ item.parentCategory }}
              </li>
              <li :class="{active: curCustomType === '0'}" @click="toggleCustomType('0')">未分类</li>
            </ul>
            <ul v-if="customTypeItem && customTypeItem.length > 0" class="flex-c">
              <li :class="{active: curCustomTypeItem === ''}" @click="toggleCustomTypeItem('')">
                全部
              </li>
              <li v-for="(item, index) in customTypeItem" :key="index" :class="{active: curCustomTypeItem == item.subCategory}" @click="toggleCustomTypeItem(item.subCategory)">
                {{ item.subCategory }}
              </li>
            </ul>
            <!-- <ul>
              <li class="p-color" @click="$router.push('/setting/modeSet')">前往设置分类</li>
            </ul> -->
          </div>
        </div>
        <div class="flex-fs norm-type">
          <span class="com-label-text"><span class="com-alt">占位符</span>国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{'is-fold': isFold}">
              <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
              <li v-for="(item, index) in normType" :key="index" :class="{active: curNormType == item.code}" @click="changeNormType(index, item.code)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="normTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
              <li v-for="(item, index) in normTypeItem" :key="index" :class="{active: curNormTypeItem == item.code}" @click="changeNormTypeItem(item.code)">
                {{ item.name }}
              </li>
            </ul>
          </div>
          <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" />
        </div>
      </div>

      <div class="com-table">
        <div class="flex-csb com-operate-wrap">
          <div class="flex-c">
            <!--<el-button v-has="$roles.fun_comprice_messagepooldetail_adjnum" @click="openNumDialog">调整序号</el-button>
            <el-button v-has="$roles.fun_comprice_messagepooldetail_export" class="has-primary-btn custom-btn" :loading="exportLoading" @click="exportInfoPrice(0)">按国标分类导出</el-button>
            <el-button v-has="$roles.fun_comprice_messagepooldetail_export" class="has-minor-btn custom-btn" :loading="exportAllLoading" @click="exportInfoPrice(1)">按自定义分类导出</el-button>-->
            <el-button v-has="'complex:operateSortNo'" @click="openNumDialog">调整序号</el-button>
            <el-button v-has="'mpccollect:messagePrice:exportMessagePriceDetailFile'" class="has-primary-btn custom-btn" :loading="exportLoading" @click="exportInfoPrice(0)">按国标分类导出</el-button>
            <el-button v-has="'mpccollect:messagePrice:exportMessagePriceDetailFile'" class="has-minor-btn custom-btn" :loading="exportAllLoading" @click="exportInfoPrice(1)">按自定义分类导出</el-button>
          </div>
          <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting" />
            <span>列表设置</span>
          </div>
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="66px" />
          <el-table-column v-if="checkedList.indexOf('序号') != -1" prop="sortNo" label="序号" align="center" width="96px" />
          <el-table-column v-if="checkedList.indexOf('编码') != -1" prop="zcode" label="编码" />
          <el-table-column v-if="checkedList.indexOf('标准名称') != -1" prop="stdName" label="标准名称" />
          <el-table-column v-if="checkedList.indexOf('材料名称') != -1" prop="name" label="材料名称" />
          <el-table-column v-if="checkedList.indexOf('规格') != -1" prop="spec" label="规格" />
          <el-table-column v-if="checkedList.indexOf('单位') != -1" prop="unit" label="单位" />
          <el-table-column v-if="checkedList.indexOf('信息价（除税价）') != -1" prop="messagePrice" label="信息价（除税价）" />
          <el-table-column v-if="checkedList.indexOf('信息价（含税价）') != -1" label="信息价（含税价）">
            <template slot-scope="scope">
              <span>
                {{ scope.row.taxPrice }}
                <!-- （税率：{{scope.row.taxPoint}}） -->
              </span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('税率') != -1" label="税率">
            <template slot-scope="scope">
              <span>
                {{ scope.row.taxPoint | filterTaxPoint }}
              </span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('备注') != -1" prop="remark" label="备注" show-overflow-tooltip />
          <el-table-column v-if="checkedList.indexOf('信息价趋势') != -1" label="信息价趋势">
            <template slot-scope="scope">
              <img class="cp trend-icon" src="@/assets/img/cs/icons/trend_icon.png" alt="" @click="openTrendDialog(scope.row)">
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" width="450px" class="com-dialog" :close-on-click-modal="false">
      <div class="select-list com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = !showSetListDialog">确定</el-button>
      </span>
    </el-dialog>
    <!-- 列表设置弹窗 end -->

    <!-- 调整序号弹窗 -->
    <el-dialog title="调整序号" :visible.sync="showNumDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-input">
      <div class="flex-c mb-20">
        <span class="label-text">当前序号：</span>
        <span>{{ curNum }}</span>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">新序号：</span>
        <el-input v-model="newNum" @input="checkNewNum" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showNumDialog = false">取消</el-button>
        <el-button type="primary" :loading="numLoading" @click="updateNum">确定并更新</el-button>
      </span>
    </el-dialog>
    <!-- 调整序号弹窗 end -->

    <!-- 信息价趋势弹窗 -->
    <el-dialog class="com-dialog trend-dialog" title="信息价趋势" :visible.sync="trendDialog" :close-on-click-modal="false" width="550px">
      <div id="trendEcharts" class="info-wrap" />
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="trendDialog = false">确定</el-button>
      </div>
    </el-dialog>
    <!-- 信息价趋势弹窗 end -->
  </div>
</template>

<script>
import * as echarts from 'echarts'
// import {
//   getTempCustomType,
// } from '@/api/cs/collectTemplate'
import { getCjType } from '@/api/cs/materialManage'
import {
  getMessagePriceDetailListPage,
  operateSortNo,
  exportMessagePriceDetailFile,
  getMessagePriceListByName,
  getTempCustomType
} from '@/api/cs/infoPriceStock'

export default {
  name: 'InfoPriceDetail',
  filters: {
    filterTaxPoint(val) {
      return val * 100 + '%'
    }
  },
  data() {
    return {
      numLoading: false,
      curNum: '', // 当前序号
      newNum: '', // 新序号
      showNumDialog: false,
      tempName: '',
      id: '',
      searchVal: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      customType: [], // 自定义分类
      customTypeItem: [],
      curCustomType: '',
      curCustomTypeItem: '',
      normType: [], // 国标分类
      normTypeItem: [],
      curNormType: '',
      curNormTypeItem: '',
      loading: false,
      showSetListDialog: false,
      checkList: [
        // 表头列表
        '序号',
        '编码',
        '标准名称',
        '材料名称',
        '规格',
        '单位',
        '信息价（除税价）',
        '信息价（含税价）',
        '税率',
        '信息价趋势',
        '备注'
      ],
      checkedList: [
        // 列表选中的设置项
        '序号',
        '材料名称',
        '规格',
        '单位',
        '信息价（除税价）',
        '信息价（含税价）',
        '税率',
        '信息价趋势',
        '备注'
      ],
      curTempDetailId: '',
      isFold: true,
      trendDialog: false,
      chartData: [],
      exportLoading: false,
      exportAllLoading: false
    }
  },
  mounted() {
    this.id = this.$route.query.id
    this.tempName = this.$route.query.tempName
    this.getData()
    this.getDetailList()
  },
  methods: {
    // 导出信息价
    exportInfoPrice(type) {
      var data = {
        msgId: this.id,
        type: type
      }
      this.$confirm('确定导出当前数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        if (type == 0) {
          this.exportLoading = true
        } else {
          this.exportAllLoading = true
        }
        exportMessagePriceDetailFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '信息价详情列表.xls'
              )
              if (type == 0) {
                this.exportLoading = false
              } else {
                this.exportAllLoading = false
              }
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              if (type == 0) {
                this.exportLoading = false
              } else {
                this.exportAllLoading = false
              }
            }
            // 读取文件成功
            fileReader.onload = event => {
              if (type == 0) {
                this.exportLoading = false
              } else {
                this.exportAllLoading = false
              }
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '信息价详情列表.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              if (type == 0) {
                this.exportLoading = false
              } else {
                this.exportAllLoading = false
              }
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            if (type == 0) {
              this.exportLoading = false
            } else {
              this.exportAllLoading = false
            }
          })
      })
    },
    // 调整序号校验
    checkNewNum() {
      this.newNum = this.newNum.replace(/[^0-9]/g, '')
      try {
        if (this.newNum.length > 1 && this.newNum.slice(0, 1) == 0) {
          this.newNum = this.newNum.slice(1)
        }
      } catch (err) {}
    },
    // 初始化echarts
    initEcharts() {
      // 避免重复初始化
      if (!this.myChart) {
        this.myChart = echarts.init(document.getElementById('trendEcharts'))
      }
      var cycleData = []
      var priceData = []
      for (var i = 0; i < this.chartData.length; i++) {
        cycleData.push(this.chartData[i].howPeriod)
        priceData.push(this.chartData[i].messagePrice)
      }
      var option = {
        color: ['#287EF3'],
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        dataZoom: [
          {
            type: 'slider',
            show: cycleData.length > 6,
            start: 0,
            end: (6 / cycleData.length) * 100
          }
        ],
        grid: {
          left: '9%',
          right: '9%',
          bottom: '6%',
          containLabel: true
        },
        xAxis: [
          {
            type: 'category',
            data: cycleData,
            axisTick: {
              alignWithLabel: true,
              show: false
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: '#287EF3'
              }
            },
            axisLabel: {
              color: '#999'
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '单位/元',
            axisLine: {
              show: true,
              lineStyle: {
                color: '#287EF3'
              }
            },
            axisLabel: {
              color: '#999'
            }
          }
        ],
        series: [
          {
            name: '该期信息价',
            type: 'bar',
            barWidth: '30%',
            data: priceData
          }
        ]
      }

      this.myChart.setOption(option)
    },
    // 趋势弹窗
    openTrendDialog(item) {
      var params = {
        msgDetailId: item.id,
        msgId: item.msgId,
        limit: 6
      }
      var loading = this.$loading({
        text: '趋势数据加载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      getMessagePriceListByName(params)
        .then(res => {
          loading.close()
          if (res.code == '01') {
            this.trendDialog = true
            this.chartData = res.body
            this.$nextTick(() => {
              this.initEcharts()
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          loading.close()
        })
    },
    // 全部导出
    exportAllFile() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem
      if (customTypeId === '0') {
        customTypeId = null
      }
      var data = {
        currentPage: null,
        pageSize: null,
        keyCode: this.searchVal,
        customTypeId: customTypeId || null,
        subcId: subcId || null,
        msgId: this.id
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportAllLoading = true
        exportMessagePriceDetailFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '信息价详情列表.xls'
              )
              this.exportAllLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportAllLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportAllLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '信息价详情列表.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportAllLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportAllLoading = false
          })
      })
    },
    // 导出
    exportFile() {
      if (this.multipleSelection.length == 0) {
        this.openAlert('请选择要导出的数据')
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }

      var data = {
        msgId: this.id,
        ids: ids.join(',')
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMessagePriceDetailFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '信息价详情列表.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '信息价详情列表.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 调整序号
    updateNum() {
      if (!this.newNum) {
        this.$message({
          type: 'error',
          message: '请输入序号'
        })
        return
      }
      if (this.newNum == 0) {
        this.$message({
          type: 'error',
          message: '序号不能为0'
        })
        return
      }
      if (isNaN(Number(this.newNum))) {
        this.$message({
          type: 'error',
          message: '请输入正确的序号'
        })
        return
      }
      var params = {
        id: this.curTempDetailId,
        sortNo: this.newNum
      }
      this.numLoading = true
      operateSortNo(params)
        .then(res => {
          this.numLoading = false
          if (res.code == '01') {
            this.showNumDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getDetailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.numLoading = false
        })
    },
    // 打开调整序号弹窗
    openNumDialog() {
      if (this.multipleSelection.length !== 1) {
        this.openAlert('请只选择一条数据调整序号')
        return
      }
      this.newNum = ''
      this.curNum = this.multipleSelection[0].sortNo
      this.curTempDetailId = this.multipleSelection[0].id
      this.showNumDialog = true
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDetailList()
    },
    // 详情列表
    getDetailList() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem

      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        msgId: this.id,
        // customTypeId: customTypeId ? customTypeId : null,
        parentCategory: this.curCustomType,
        subCategory: this.curCustomTypeItem,
        keyCode: this.searchVal ? this.searchVal : null,
        subcId: subcId || null
      }
      this.loading = true
      getMessagePriceDetailListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 页面初始数据
    getData() {
      Promise.all([getTempCustomType({ type: 1 }), getCjType()]).then(res => {
        // 自定义材料分类
        var data01 = res[0]
        if (data01.code == '01') {
          this.customType = data01.body
        }

        // 国标分类
        var data02 = res[1]
        if (data02.code == '01') {
          this.normType = data02.body.subcTypes
        }
      })
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }
      this.currentPage = 1
      this.getDetailList()
    },
    changeNormTypeItem(code) {
      this.curNormTypeItem = code
      this.currentPage = 1
      this.getDetailList()
    },
    // 切换自定义分类子项
    toggleCustomTypeItem(id) {
      this.curCustomTypeItem = id
      this.currentPage = 1
      this.getDetailList()
    },
    // 切换自定义分类(index:'0'为未分类)
    toggleCustomType(index) {
      if (index !== '') {
        if (index === '0') {
          this.customTypeItem = []
          this.curCustomType = '0'
        } else {
          this.customTypeItem = this.customType[index].sub
          // this.curCustomType = this.customType[index].id
          this.curCustomType = this.customType[index].parentCategory
        }
      } else {
        this.customTypeItem = []
        this.curCustomType = ''
      }
      this.curCustomTypeItem = ''
      this.currentPage = 1
      this.getDetailList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDetailList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/cs/variables.scss';
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    h1 {
      padding: 30px 20px;
      color: #333;
      font-size: 26px;
    }
  }
  .search-type {
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .com-dialog {
    .label-text {
      margin-right: 10px;
      white-space: nowrap;
      color: #333;
      font-size: 14px;
      display: block;
      text-align: right;
      min-width: 90px;
      max-width: 90px;
    }
  }
  .trend-icon {
    width: 24px;
    height: 24px;
  }
  .trend-dialog {
    .info-wrap {
      width: 100%;
      height: 338px;
      box-sizing: border-box;
    }
  }
  .custom-btn {
    width: 140px;
  }
}
</style>
