<template>
  <div class="material-count com-input">
    <div class="up-wrap">
      <!-- 筛选 -->
      <div class="search-type">
        <div class="flex-fs custom-type">
          <span class="com-label-text">均价周期</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li v-for="(item, index) in companyTypeList" :key="index" :class="{active: curCompanyTypeCode === item.value}" @click="toggleCompanyType(item.value)">
                {{ item.label }}
              </li>
            </ul>
          </div>
        </div>
        <div class="flex-c custom-type pb-20">
          <span class="com-label-text">年份</span>
          <!-- <div class="com-time-search">
            <el-date-picker v-model="startDate" type="year" placeholder="选择年份" @change="toggleDate" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="year" placeholder="选择年份" @change="toggleDate2" />
          </div> -->
          <DateRangePiceker :start-date.sync="startDate" :end-date.sync="endDate" type="year" value-format="yyyy-MM-dd" placeholder="选择年份" @change="changeDateRange" />
          <el-select v-model="value" placeholder="请选择" @change="changeCycle">
            <el-option v-for="item in companyTypeList" :key="item.value" :label="item.label" :value="item.value" />
          </el-select>
        </div>
      </div>
      <!-- 表格 -->
      <div class="com-table table-wrap">
        <div class="flex-csb com-operate-wrap">
          <div>
            <el-button v-has="'mpccollect:messageAvgPriceDetail:exportAvgMessagePriceFile'" :loading="exportAllLoading" @click="exportAllFile">全部导出</el-button>
            <el-button v-has="'mpccollect:messageAvgPriceDetail:exportAvgMessagePriceFile'" :loading="exportLoading" @click="exportFile">导出</el-button>
          </div>
        </div>
        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" row-key="id" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" :reserve-selection="true" width="80px" />
          <el-table-column label="生成均价时间">
            <template slot-scope="scope">
              <div class="mode-name" @click="skipDetail(scope.row)">{{ scope.row.avgCycle }}<span v-if="scope.row.avgCycle">信息均价</span></div>
            </template>
          </el-table-column>
          <el-table-column prop="num" label="总条数" />
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>

      </div>
      <!-- 表格 end -->
    </div>

    <!-- 导出弹窗 -->
    <el-dialog title="导出" :visible.sync="showExportDialog" :close-on-click-modal="false" width="491px" class="com-dialog">
      <div class="ta-center">
        <img src="@/assets/img/cs/icons/ex_icon.png" alt="">
        <p>是否导出选择的数据？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showExportDialog = !showExportDialog">取消</el-button>
        <el-button type="primary">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import {
  getAvgMessagePriceDetailListPage,
  exportAvgMessagePriceFile
} from '@/api/cs/materialManage'
import DateRangePiceker from '@/components/DateRangePicker'
export default {
  name: 'AveragePrice',
  components: {
    DateRangePiceker
  },
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    }
  },
  data() {
    return {
      companyTypeList: [
        {
          value: '',
          label: '全部'
        },
        {
          value: '1',
          label: '月'
        },
        {
          value: '2',
          label: '季'
        },
        {
          value: '3',
          label: '半年'
        },
        {
          value: '4',
          label: '年度'
        }
      ],
      value: '',
      startDate: null,
      endDate: null,
      curCompanyTypeCode: '',
      tableData: [],
      multipleSelection: [],
      pageSize: 10,
      currentPage: 1,
      totalCount: 0,
      loading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      showExportDialog: false,
      exportLoading: false,
      exportAllLoading: false
    }
  },
  mounted() {
    this.getDataList()
  },
  methods: {
    // 切换周期
    changeCycle() {
      this.curCompanyTypeCode = this.value
      this.currentPage = 1
      this.getDataList()
    },
    changeDateRange(range) {
      if (range[0] && !range[1]) {
        const temp = range[0].split('-')
        // temp[0] = parseInt(temp[0]) + 1 + ''
        // this.endDate = temp.join('-')
        this.endDate = temp[0] + '-12-31'
      }
      this.currentPage = 1
      this.getDataList()
    },
    // 选择开始适用时间
    // toggleDate(val) {
    //   if (val) {
    //     const beginTime = new Date(val).getTime()
    //     const endTime = +beginTime + 3600 * 1000 * 24 * 365
    //     this.endDate = endTime
    //   }
    //   this.currentPage = 1
    //   this.getDataList()
    // },
    // 选择结束适用时间
    // toggleDate2() {
    //   this.currentPage = 1
    //   this.getDataList()
    // },
    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.$message({
          type: 'error',
          message: '没有可导出的数据'
        })
        return
      }

      var data = {
        avgCycles: ''
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportAllLoading = true
        exportAvgMessagePriceFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '信息均价.xls'
              )
              this.exportAllLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportAllLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportAllLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '信息均价.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportAllLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportAllLoading = false
          })
      })
    },
    // 导出
    exportFile() {
      if (this.multipleSelection.length == 0) {
        // this.exportAllFile()
        this.openAlert('请至少选择一条数据')
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].avgCycle)
      }

      var data = {
        avgCycles: ids.join(',')
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportAvgMessagePriceFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '信息均价.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '信息均价.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 切换均价周期
    toggleCompanyType(code) {
      this.curCompanyTypeCode = code
      this.currentPage = 1
      this.getDataList()
    },
    // 获取列表数据
    getDataList() {
      var data = {
        ids: '',
        keyCode: '',
        msgId: '',
        parentCategory: '',
        subCategory: '',
        subcId: '',
        avgCycle: '',
        mainPage: '1',
        // createOnEnd: formatDate(this.endDate, '5'),
        // createOnStart: formatDate(this.startDate, '5'),
        createOnEnd: this.endDate,
        createOnStart: this.startDate,
        avgType: this.curCompanyTypeCode,
        currentPage: this.currentPage,
        pageSize: this.pageSize
      }
      this.loading = true
      getAvgMessagePriceDetailListPage(data)
        .then(res => {
          this.loading = false
          if (res.code === '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 跳转详情
    skipDetail(item) {
      this.$router.push({
        path: '/publicModule/materialManage/averagePriceDetails',
        query: {
          // id: item.id,
          name: item.avgCycle
          // deptName: item.deptName
        }
      })
    },
    // 导出弹窗
    openExportDialog() {
      if (this.multipleSelection.length === 0) {
        this.openAlert('请至少选择一条数据')
        return
      }
      this.showExportDialog = !this.showExportDialog
    },

    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    openAlert(text) {
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/cs/variables.scss';
.material-count {
  .up-wrap {
    padding: 20px 0 45px 0;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .search-type {
      padding: 20px 20px 0px 20px;
      width: 100%;
      // background: #f7f7f7;
      .custom-type {
        > span {
          margin-right: 15px;
          white-space: nowrap;
        }
        .t-wrap {
          max-width: 100%;
          box-sizing: border-box;
          ul {
            margin-bottom: 10px;
            li {
              margin-bottom: 8px;
              margin-right: 24px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              &.active {
                color: $color-minor;
              }
              &:hover {
                color: $color-minor;
              }
            }
          }
        }
      }
    }
  }
  .com-dialog {
    p {
      margin-top: 15px;
      color: #333;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
/deep/ .el-select > .el-input {
  margin-left: 20px;
}
.mode-name {
  cursor: pointer;
  color: $color-primary;
}
.com-operate-wrap {
  background-color: #f7f7f7;
}
</style>
