<template>
  <div class="user-set">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{ path: '/publicHome' }">进入页</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">通知模板</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <div class="com-up-wrap pl-20">
      <div class="note-wrap">
        <span class="com-label">短信通知模板</span>
        <div class="com-table table-wrap">
          <div class="flex-c com-operate-wrap op-wrap ">
            <el-button v-has="'sys:template:addInform'" type="primary" class="flex-cc w-color" @click="showMsgNoticeDialog = !showMsgNoticeDialog">
              <img src="@/assets/img/table/add.png" alt="" class="el-icon-search va-m">
              <span class="va-m">新增模板</span>
            </el-button>
            <el-button v-has="'sys:template:updateInform'" class="flex-cc default-btn" @click="editMsgNoticeDialog">
              <img src="@/assets/img/table/refresh.png" alt="" class="el-icon-search va-m">
              <span class="va-m">编辑</span>
            </el-button>
            <el-button v-has="'sys:template:delMessageTemplate'" class="flex-cc delete-btn  mr-20" :loading="deleteMsgNoticeLoading" @click="deleteMsgNotice">
              <img src="@/assets/img/table/del.png" alt="" class="el-icon-search va-m">
              <span class="va-m">删除</span>
            </el-button>
          </div>

          <el-table ref="multipleTable" :data="msgNoticeList" tooltip-effect="dark" style="width: 100%" :header-cell-style="{background:'#F7F7F7'}" @selection-change="selectMsgNotice">
            <el-table-column type="selection" />
            <el-table-column prop="sendName" label="模板名称" />
            <el-table-column prop="content" show-overflow-tooltip label="模板内容" />
            <el-table-column label="更新时间">
              <template slot-scope="scope">
                <span>{{ scope.row. updateTime | formatTime }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="updateBy" label="更新人" />
          </el-table>

          <div class="flex-csb com-pages-wrap">
            <div class="flex-c left-page">
              <span>当前显示</span>
              <div class="flex-cc cur-page">
                <el-select v-model="msgNoticeParams.pageSize" placeholder="请选择" @change="changeMsgNoticePage(1)">
                  <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
                </el-select>
              </div>
              <span>条</span>
              <span class="total-num">共{{ msgNoticeParams.totalCount }}条数据</span>
            </div>
            <div class="flex-c right-page">
              <el-pagination background :current-page.sync="msgNoticeParams.currentPage" :page-size="msgNoticeParams.pageSize" layout="prev, pager, next, jumper" :total="msgNoticeParams.totalCount"
                :header-cell-style="{background:'#F7F7F7'}" @current-change="changeMsgNoticePage" />
              <div class="com-page-btn">确定</div>
            </div>
          </div>
        </div>

        <div class="note-wrap mt-46">
          <span class="com-label">邮件通知模板</span>
          <div class="flex-c com-operate-wrap op-wrap ">
            <el-button v-has="'sys:template:addInform'" type="primary" class="flex-cc w-color" @click="showEmailNoticeDialog = !showEmailNoticeDialog">
              <img src="@/assets/img/table/add.png" alt="" class="el-icon-search va-m">
              <span class="va-m">新增模板</span>
            </el-button>
            <el-button v-has="'sys:template:updateInform'" class="flex-cc default-btn" @click="editEmailNoticeDialog">
              <img src="@/assets/img/table/refresh.png" alt="" class="el-icon-search va-m">
              <span class="va-m">编辑</span>
            </el-button>
            <el-button v-has="'sys:template:delMessageTemplate'" class="flex-cc delete-btn  mr-20" @click="deleteEmailNotice">
              <img src="@/assets/img/table/del.png" alt="" class="el-icon-search va-m">
              <span class="va-m">删除</span>
            </el-button>
          </div>

          <el-table ref="multipleTable" v-loading="emailNoticeLoading" :data="emailNoticeList" tooltip-effect="dark" style="width: 100%" @selection-change="selectEmailNotice">
            <el-table-column type="selection" />
            <el-table-column prop="sendName" label="模板名称" />
            <el-table-column label="模板内容" show-overflow-tooltip>
              <template slot-scope="scope">
                <span class="email-rich-text" v-html="scope.row.content" />
              </template>
            </el-table-column>
            <el-table-column label="更新时间">
              <template slot-scope="scope">
                <span>{{ scope.row.updateTime | formatTime }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="updateBy" label="更新人" />
          </el-table>

          <div class="flex-csb com-pages-wrap">
            <div class="flex-c left-page">
              <span>当前显示</span>
              <div class="flex-cc cur-page">
                <el-select v-model="emailNoticeParams.pageSize" placeholder="请选择" @change="changeEmailNoticePage(1)">
                  <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
                </el-select>
              </div>
              <span>条</span>
              <span class="total-num">共{{ emailNoticeParams.totalCount }}条数据</span>
            </div>
            <div class="flex-c right-page">
              <el-pagination background :current-page.sync="emailNoticeParams.currentPage" :page-size="emailNoticeParams.pageSize" layout="prev, pager, next, jumper"
                :total="emailNoticeParams.totalCount" @current-change="changeEmailNoticePage" />
              <div class="com-page-btn">确定</div>
            </div>
          </div>
        </div>

        <div class="note-wrap">
          <span class="com-label">邮件通知设置</span>
          <div class="flex-c op-btn">
            <el-button @click="addEmail">新增邮箱</el-button>
            <el-tooltip class="item" effect="light" placement="right-end">
              <div slot="content">添加邮箱后可<br>在发送邮件给<br>信息员时选择<br>发件人</div>
              <img src="@/assets/img/icons/tips.png" alt="" class="tips">
            </el-tooltip>
          </div>
          <div class="flex-cw set-wrap">
            <ul v-for="(item, index) in emailList" :key="index" class="mb-20">
              <li class="flex-c">
                <div class="flex-c s-left">
                  <span>邮箱服务器</span>
                </div>
                <div class="flex-c s-right">
                  <span v-show="!item.isEdit">{{ item.server }}</span>
                  <div v-show="item.isEdit">
                    <el-select v-model="item.server" class="s-select" filterable allow-create default-first-option>
                      <el-option v-for="(item, index) in emailServerList" :key="index" :label="item.value" :value="item.value" />
                    </el-select>
                  </div>
                  <el-tooltip class="item" effect="light" content="如：smtp.qq.com" placement="right-end">
                    <img src="@/assets/img/icons/tips.png" alt="" class="tips pos">
                  </el-tooltip>
                </div>
              </li>
              <li class="flex-c">
                <div class="flex-c s-left">
                  <span><span class="com-alt">占</span>邮箱账户</span>
                </div>
                <div class="flex-c s-right">
                  <span v-show="!item.isEdit">{{ item.userName }}</span>
                  <el-input v-show="item.isEdit" v-model="item.userName" />
                </div>
              </li>
              <li class="flex-c">
                <div class="flex-c s-left">
                  <span><span class="com-alt">占</span>显示名称</span>
                </div>
                <div class="flex-c s-right">
                  <span v-show="!item.isEdit">{{ item.displayName }}</span>
                  <el-input v-show="item.isEdit" v-model="item.displayName" maxlength="20" />
                </div>
              </li>
              <li class="flex-c">
                <div class="flex-c s-left">
                  <span><span class="com-alt">占位</span>授权码</span>
                </div>
                <div class="flex-c s-right">
                  <span v-show="!item.isEdit">{{ item.password }}</span>
                  <el-input v-show="item.isEdit" v-model="item.password" />
                  <el-tooltip class="item" effect="light" placement="right-end">
                    <div slot="content">在邮箱设置中找到POP3/<br>IMAP/SMTP/Exchange/<br>CardDAV/CalDAV服务，<br>开启POP3/SMTP服务，<br>然后就能获取到授权码。</div>
                    <img src="@/assets/img/icons/tips.png" alt="" class="tips pos">
                  </el-tooltip>
                </div>
              </li>
              <div class="tr-wrap">
                <img src="@/assets/img/icons/close_icon.png" alt="" @click="deleteEditEmail(item, index)">
                <img v-show="!item.isEdit" src="@/assets/img/icons/edit_icon.png" alt="" @click="openEditEmail(index)">
                <img v-show="item.isEdit" src="@/assets/img/icons/save_icon.png" alt="" @click="saveEditEmail(item, index)">
              </div>
            </ul>
          </div>
        </div>
      </div>

      <!-- 添加邮件通知模板弹窗  -->
      <el-dialog title="邮件通知模板" :visible.sync="showEmailNoticeDialog" :close-on-click-modal="false" width="620px" class="com-dialog com-input-width">
        <div class="flex-c mb-20">
          <span class="nw label-text">模板名称：</span>
          <el-input v-model="emailNoticeName" maxlength="20" placeholder="请输入" />
        </div>
        <div class="flex-fs mode-item">
          <span class="label-text">模板内容：</span>
          <vue-ueditor-wrap v-model="emailNoticeContent" :config="editConfig" />
        </div>
        <!-- <div class="rich-label">
          <p>最多只能输入包含富文本标签在内的500个字符</p>
        </div> -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="showEmailNoticeDialog = false">取消</el-button>
          <el-button type="primary" :loading="updateEmailNoticeLoading" @click="addEmailNoticeItem">保存</el-button>
        </span>
      </el-dialog>

      <!-- 编辑邮件通知模板弹窗 -->
      <el-dialog title="邮件通知模板" :visible.sync="showEditEmailNoticeDialog" :close-on-click-modal="false" width="600px" class="com-dialog com-input-width">
        <div class="flex-c mb-20">
          <span class="nw label-text">模板名称：</span>
          <el-input v-model="editEmailNoticeName" maxlength="20" placeholder="请输入" />
        </div>
        <div class="flex-fs mode-item">
          <span class="label-text">模板内容：</span>
          <vue-ueditor-wrap v-model="editEmailNoticeContent" :config="editConfig" />
        </div>
        <!-- <div class="rich-label">
          <p>最多只能输入包含富文本标签在内的500个字符</p>
        </div> -->
        <span slot="footer" class="dialog-footer">
          <el-button @click="showEditEmailNoticeDialog = false">取消</el-button>
          <el-button type="primary" :loading="updateEmailNoticeLoading" @click="editEmailNotice">保存</el-button>
        </span>
      </el-dialog>

      <!-- 添加短信通知模板弹窗 -->
      <el-dialog title="短信通知模板" :visible.sync="showMsgNoticeDialog" :close-on-click-modal="false" width="600px" class="com-dialog com-input-width">
        <div class="flex-c mb-20">
          <span class="nw label-text">模板名称：</span>
          <el-input v-model="msgNoticeName" maxlength="20" placeholder="请输入" />
        </div>
        <div class="flex-fs mode-item">
          <span class="nw label-text">通知内容：</span>
          <el-input v-model="msgNoticeContent" type="textarea" rows="8" maxlength="500" resize="none" placeholder="请输入内容" />
        </div>
        <div class="ta-right">
          <span>{{ msgNoticeContent.length }}/500</span>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showMsgNoticeDialog = false">取消</el-button>
          <el-button type="primary" :loading="updateMsgNoticeLoading" @click="addMsgNoticeItem">保存</el-button>
        </span>
      </el-dialog>

      <!-- 编辑短信通知模板弹窗 -->
      <el-dialog title="短信通知模板" :visible.sync="showEditMsgNoticeDialog" :close-on-click-modal="false" width="600px" class="com-dialog com-input-width">
        <div class="flex-c mb-20">
          <span class="nw label-text">模板名称：</span>
          <el-input v-model="editMsgNoticeName" maxlength="20" placeholder="请输入" />
        </div>
        <div class="flex-fs mode-item">
          <span class="nw label-text">通知内容：</span>
          <el-input v-model="editMsgNoticeContent" type="textarea" rows="8" maxlength="500" resize="none" placeholder="请输入内容" />
        </div>
        <div class="ta-right">
          <span>{{ editMsgNoticeContent.length }}/500</span>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showEditMsgNoticeDialog = false">取消</el-button>
          <el-button type="primary" :loading="updateMsgNoticeLoading" @click="editMsgNotice">保存</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import VueUeditorWrap from 'vue-ueditor-wrap'
import {
  getTemplateListPage,
  addOrUpdateInformTemplate,
  delInformTemplate,
  addOrUpdateEmail,
  getEmailList,
  delEmail
} from '@/api/messageTemplate'
import { mapGetters } from 'vuex'
import { validEmail } from '@/utils/common'
import { formatDate } from '@/utils/common'

export default {
  name: 'UserSet',
  filters: {
    formatTime(val) {
      return formatDate(val, '1')
    }
  },
  components: {
    VueUeditorWrap
  },
  data() {
    return {
      editEmailNoticeContent: '',
      editEmailNoticeName: '',
      showEditEmailNoticeDialog: false,
      updateEmailNoticeLoading: false,
      msgNoticeParams: {
        // 短信通知模板参数
        currentPage: 1,
        pageSize: 10,
        totalCount: 0
      },
      msgNoticeList: [],
      selectMsgNoticeList: [],
      msgNoticeName: '',
      msgNoticeContent: '',
      editMsgNoticeName: '',
      editMsgNoticeContent: '',
      deleteMsgNoticeLoading: false,
      showMsgNoticeDialog: false,
      showEditMsgNoticeDialog: false,
      updateMsgNoticeLoading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      // 邮箱部分
      emailList: [],
      editConfig: {
        // uedit配置
        toolbars: [
          ['FullScreen', 'fontsize', 'Source', 'Undo', 'Redo', 'Bold']
        ],
        initialFrameWidth: 470,
        initialFrameHeight: 200,
        maximumWords: 500,
        wordCount: true,
        wordOverFlowMsg: '你输入的字符个数已经超出最大允许值',
        zIndex: 99999,
        elementPathEnabled: false,
        enableAutoSave: false,
        autoHeightEnabled: false,
        UEDITOR_HOME_URL: '/UEditor/'
      },
      emailNoticeParams: {
        // 邮箱通知模板参数
        currentPage: 1,
        pageSize: 10,
        totalCount: 0
      },
      emailNoticeList: [], // 邮件通知模板列表
      emailNoticeContent: '',
      emailNoticeName: '',
      curEmailNoticeId: '',
      emailNoticeLoading: false,
      deleteEmailNoticeLoading: false,
      showEmailNoticeDialog: false,
      curMsgNoticeId: '',
      msgNoticeLoading: false,

      selectEmailNoticeList: [], // 已勾选的邮件通知模板
      emailServerList: [
        {
          value: 'smtp.163.com'
        },
        {
          value: 'smtp.126.com'
        },
        {
          value: 'smtp.qq.com'
        },
        {
          value: 'smtp.sina.com'
        },
        {
          value: 'smtp.live.com'
        }
      ]
    }
  },
  mounted() {
    this.getEmailNoticeList()
    this.getMsgNoticeList()
    this.getEmailList()
  },
  computed: {
    ...mapGetters(['userId'])
  },
  methods: {
    // 切换短信模板列表页码
    changeMsgNoticePage(val) {
      this.msgNoticeParams.currentPage = val
      this.getMsgNoticeList()
    },
    // 勾选短信通知模板项
    selectMsgNotice(arr) {
      this.selectMsgNoticeList = arr
    },
    // 编辑短信通知模板
    editMsgNotice() {
      var data = {
        sendType: 1,
        content: this.editMsgNoticeContent ? this.editMsgNoticeContent : null,
        sendName: this.editMsgNoticeName ? this.editMsgNoticeName : null,
        id: this.curMsgNoticeId
      }
      this.updateMsgNoticeLoading = true
      addOrUpdateInformTemplate(data)
        .then(res => {
          this.updateMsgNoticeLoading = false
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.editMsgNoticeContent = ''
            this.editMsgNoticeName = ''
            this.showEditMsgNoticeDialog = false
            this.getMsgNoticeList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.updateMsgNoticeLoading = false
        })
    },
    // 编辑短信通知模板弹窗
    editMsgNoticeDialog() {
      if (this.selectMsgNoticeList.length !== 1) {
        this.$message({
          type: 'error',
          message: '请只勾选一条要编辑的短信通知模板'
        })
        return
      }
      this.showEditMsgNoticeDialog = true
      this.curMsgNoticeId = this.selectMsgNoticeList[0].id
      if (this.selectMsgNoticeList[0].content) {
        this.editMsgNoticeContent = this.selectMsgNoticeList[0].content
      } else {
        this.editMsgNoticeContent = ''
      }
      if (this.selectMsgNoticeList[0].sendName) {
        this.editMsgNoticeName = this.selectMsgNoticeList[0].sendName
      } else {
        this.editMsgNoticeName = ''
      }
    },
    // 添加短信通知模板
    addMsgNoticeItem() {
      addOrUpdateInformTemplate
      if (!this.msgNoticeName) {
        this.$message({
          type: 'error',
          message: '请输入模板名称'
        })
        return
      } else if (!this.msgNoticeContent) {
        this.$message({
          type: 'error',
          message: '请输入模板内容'
        })
        return
      }
      var data = {
        sendType: 1,
        content: this.msgNoticeContent,
        sendName: this.msgNoticeName
      }
      this.updateMsgNoticeLoading = true
      addOrUpdateInformTemplate(data)
        .then(res => {
          this.updateMsgNoticeLoading = false
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.msgNoticeContent = ''
            this.msgNoticeName = ''
            this.showMsgNoticeDialog = false
            this.getMsgNoticeList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.updateMsgNoticeLoading = false
        })
    },
    // 删除勾选的短信通知模板
    deleteMsgNotice() {
      if (this.selectMsgNoticeList.length === 0) {
        this.$message({
          type: 'error',
          message: '请勾选要删除的项'
        })
        return
      }
      this.$confirm('确定删除当前勾选模板?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var ids = []
        for (var i = 0; i < this.selectMsgNoticeList.length; i++) {
          ids.push(this.selectMsgNoticeList[i].id)
        }
        var params = {
          ids: ids.join(',')
        }
        this.deleteMsgNoticeLoading = true
        delInformTemplate(params)
          .then(res => {
            this.deleteMsgNoticeLoading = false
            if (res.code === '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.getMsgNoticeList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.deleteMsgNoticeLoading = false
          })
      })
    },
    // 获取短信通知模板
    getMsgNoticeList() {
      var data = {
        currentPage: this.msgNoticeParams.currentPage,
        pageSize: this.msgNoticeParams.pageSize,
        sendType: '1'
      }
      this.msgNoticeLoading = true
      // getTemplateInfoList(data)
      getTemplateListPage(data)
        .then(res => {
          this.msgNoticeLoading = false
          if (res.code === '01') {
            this.msgNoticeList = res.body.list
            this.msgNoticeParams.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.msgNoticeLoading = false
        })
    },
    // 邮箱部分
    // 删除邮箱
    deleteEditEmail(item, index) {
      console.log(item, 'item')
      if (!item.id) {
        this.emailList.splice(index, 1)
        return
      }
      this.$confirm('确定删除当前邮箱?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var params = {
          id: item.id
        }
        delEmail(params).then(res => {
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getEmailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 新增邮箱
    addEmail() {
      this.emailList.push({
        server: '',
        // address: '',
        userName: '',
        displayName: '',
        password: '',
        isEdit: true
      })
    },
    // 编辑邮箱
    saveEditEmail(item, index) {
      if (!item.server) {
        this.$message({
          type: 'error',
          message: '请输入邮件服务器'
        })
        return
      }
      // else if (!item.address) {
      //   this.$message({
      //     type: 'error',
      //     message: '请输入邮件地址'
      //   })
      //   return
      // }
      // else if(!validEmail(item.address)) {
      //   this.$message({
      //     type: 'error',
      //     message: '输入邮件地址格式不正确'
      //   })
      //   return
      // }
      else if (!item.userName) {
        this.$message({
          type: 'error',
          message: '请输入邮件账户'
        })
        return
      } else if (!validEmail(item.userName)) {
        this.$message({
          type: 'error',
          message: '请输入正确完整的邮箱账号'
        })
        return
      } else if (!item.displayName) {
        this.$message({
          type: 'error',
          message: '请输入显示名称'
        })
        return
      } else if (!item.password) {
        this.$message({
          type: 'error',
          message: '请输入密码'
        })
        return
      }

      var data = {
        // address: item.address ? item.address : null,
        displayName: item.displayName ? item.displayName : null,
        password: item.password ? item.password : null,
        server: item.server ? item.server : null,
        userName: item.userName ? item.userName : null,
        id: item.id
      }
      var loading = this.$loading({
        text: '保存中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      addOrUpdateEmail(data)
        .then(res => {
          loading.close()
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.getEmailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          loading.close()
        })
    },
    openEditEmail(index) {
      this.emailList[index].isEdit = !this.emailList[index].isEdit
      this.emailList = JSON.parse(JSON.stringify(this.emailList))
    },
    // 获取邮箱列表
    getEmailList() {
      const params = {
        userId: this.userId
      }
      getEmailList(params).then(res => {
        if (res.code === '01') {
          this.emailList = res.body
        }
      })
    },
    // 切换邮件模板列表页码
    changeEmailNoticePage(val) {
      this.emailNoticeParams.currentPage = val
      this.getEmailNoticeList()
    },
    // 勾选邮件通知模板项
    selectEmailNotice(arr) {
      this.selectEmailNoticeList = arr
    },
    // 编辑邮件通知模板
    editEmailNotice() {
      if (!this.editEmailNoticeName) {
        this.$message({
          type: 'error',
          message: '请输入模板名称'
        })
        return
      } else if (!this.editEmailNoticeContent) {
        this.$message({
          type: 'error',
          message: '请输入模板内容'
        })
        return
      } else if (this.editEmailNoticeContent.length > 500) {
        this.$message({
          type: 'error',
          message: '通知内容包含富文本标签，且不能超过500字符'
        })
        return
      }
      var data = {
        sendType: 2,
        content: this.editEmailNoticeContent || null,
        sendName: this.editEmailNoticeName || null,
        id: this.curEmailNoticeId
      }
      this.updateEmailNoticeLoading = true
      addOrUpdateInformTemplate(data)
        .then(res => {
          this.updateEmailNoticeLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.emailNoticeContent = ''
            this.emailNoticeName = ''
            this.showEditEmailNoticeDialog = false
            this.getEmailNoticeList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.updateEmailNoticeLoading = false
        })
    },
    // 编辑邮件通知模板弹窗
    editEmailNoticeDialog() {
      if (this.selectEmailNoticeList.length !== 1) {
        this.$message({
          type: 'error',
          message: '请只勾选一条要编辑的邮件通知模板'
        })
        return
      }
      this.showEditEmailNoticeDialog = true
      this.curEmailNoticeId = this.selectEmailNoticeList[0].id
      if (this.selectEmailNoticeList[0].content) {
        this.editEmailNoticeContent = this.selectEmailNoticeList[0].content
      } else {
        this.editEmailNoticeContent = ''
      }
      if (this.selectEmailNoticeList[0].sendName) {
        this.editEmailNoticeName = this.selectEmailNoticeList[0].sendName
      } else {
        this.editEmailNoticeName = ''
      }
    },
    // 添加邮件通知模板
    addEmailNoticeItem() {
      if (!this.emailNoticeName) {
        this.$message({
          type: 'error',
          message: '请输入模板名称'
        })
        return
      } else if (!this.emailNoticeContent) {
        this.$message({
          type: 'error',
          message: '请输入模板内容'
        })
        return
      } else if (this.emailNoticeContent.length > 500) {
        this.$message({
          type: 'error',
          message: '通知内容不能超过500字符(包含富文本标签)'
        })
        return
      }

      var data = {
        sendType: 2,
        content: this.emailNoticeContent,
        sendName: this.emailNoticeName
      }
      this.updateEmailNoticeLoading = true
      addOrUpdateInformTemplate(data)
        .then(res => {
          this.updateEmailNoticeLoading = false
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.emailNoticeContent = ''
            this.emailNoticeName = ''
            this.showEmailNoticeDialog = false
            this.getEmailNoticeList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.updateEmailNoticeLoading = false
        })
    },
    // 删除邮箱通知模板
    deleteEmailNotice() {
      if (this.selectEmailNoticeList.length === 0) {
        this.$message({
          type: 'error',
          message: '请勾选要删除的项'
        })
        return
      }
      this.$confirm('确定删除当前勾选模板?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var ids = []
        for (var i = 0; i < this.selectEmailNoticeList.length; i++) {
          ids.push(this.selectEmailNoticeList[i].id)
        }

        var params = {
          ids: ids.join(',')
        }
        this.deleteEmailNoticeLoading = true
        delInformTemplate(params)
          .then(res => {
            this.deleteEmailNoticeLoading = false
            if (res.code === '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.getEmailNoticeList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.deleteEmailNoticeLoading = false
          })
      })
    },
    // 查询邮箱通知模板
    getEmailNoticeList() {
      var data = {
        currentPage: this.emailNoticeParams.currentPage,
        pageSize: this.emailNoticeParams.pageSize,
        sendType: '2'
      }
      this.emailNoticeLoading = true
      getTemplateListPage(data)
        .then(res => {
          this.emailNoticeLoading = false
          if (res.code === '01') {
            this.emailNoticeList = res.body.list
            this.emailNoticeParams.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.emailNoticeLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.user-set {
  position: relative;
  .com-label {
    display: block;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    span {
      color: #999;
      font-size: 14px;
    }
  }
  .c-type,
  .edit-custom {
    ul {
      margin-bottom: 30px;
      li {
        position: relative;
        margin: 0 21px 21px 0;
        width: 160px;
        height: 80px;
        border: 1px solid #b9c6dc;
        border-radius: 4px;
        color: #333;
        font-size: 14px;
        &:hover .hover-wrap {
          display: flex;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4);
          img {
            cursor: pointer;
          }
          img:first-child {
            margin-right: 32px;
          }
        }
        .hover-wrap {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
        }
        .el-icon-plus {
          font-size: 30px;
          font-weight: bold;
          color: #c0c0c0;
        }
      }
    }
  }
  .edit-custom {
    ul {
      li {
        width: 160px;
        height: 120px;
        &:hover .hover-wrap {
          position: absolute;
          top: 0;
          height: 100%;
        }
        > div {
          width: 100%;
          height: 50%;
          box-sizing: border-box;
        }
        .e-ipt {
          color: #999;
          background: #f7f7f7;
        }
      }
    }
  }
  .b-custom {
    margin-bottom: 50px;
    .b-wrap {
      padding: 11px;
      width: 500px;
      border: 1px solid #b9c6dc;
      border-radius: 4px;
      .top-wrap {
        margin-bottom: 20px;
        padding-left: 10px;
        color: #333;
        font-size: 14px;
        .t-time {
          margin-left: 8px;
          color: #999;
        }
        img {
          margin-left: 20px;
          width: 18px;
          height: 18px;
          cursor: pointer;
        }
      }
    }
  }
  .note-wrap {
    margin-bottom: 50px;
    .tips {
      width: 22px;
      height: 22px;
      margin-left: 10px;
    }
    .pos {
      position: absolute;
      right: 40px;
    }
  }
  .time-wrap {
    margin-bottom: 50px;
    .s-month {
      padding-left: 20px;
      width: 100%;
      height: 54px;
      background: #f8fbff;
      color: #666;
      font-size: 14px;
      box-sizing: border-box;
      .cur-page {
        margin: 0 8px;
        width: 56px;
        height: 28px;
        border: 1px solid #b9c6dc;
        border-radius: 5px;
        .el-icon-caret-bottom {
          margin-left: 7px;
          font-size: 14px;
          color: #888;
        }
      }
      .s-text {
        margin-right: 10px;
      }
      .start-btn {
        position: relative;
        .open-text,
        .close-text {
          position: absolute;
          z-index: 999;
          left: 5px;
          top: 4px;
          font-size: 10px;
          color: #fff;
          cursor: pointer;
          user-select: none;
        }
        .close-text {
          right: 5px;
          left: unset;
        }
      }
    }
  }
  .set-wrap {
    ul {
      position: relative;
      width: 298px;
      border: 1px solid #cad6e1;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-right: 30px;
      box-sizing: border-box;
      &:hover {
        border: 1px solid $color-primary;
        box-shadow: 0 1px 11px #d8d8d8;
        .tr-wrap {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
        }
      }
      li {
        width: 100%;
        height: 40px;
        font-size: 14px;
        box-sizing: border-box;
        .s-left {
          min-width: 100px;
          max-width: 100px;
          height: 100%;
          color: #666;
          span {
            margin: 0 auto;
          }
        }
        .s-right {
          padding: 0 10px;
          width: 100%;
          height: 100%;
          background: #edf2f6;
          color: #333;
        }
      }
      .tr-wrap {
        display: none;
        position: absolute;
        right: -27px;
        top: -1px;
        width: 27px;
        height: 48px;
        border: 1px solid $color-primary;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-sizing: border-box;
        img {
          width: 14px;
          height: 14px;
          cursor: pointer;
        }
      }
    }
  }
  .rich-label {
    margin-top: 5px;
    text-align: right;
    color: #999;
    font-size: 12px;
    p {
      margin-right: -20px;
    }
  }
}
</style>

<style lang="scss">
.user-set {
  .c-ipt {
    .el-input {
      margin-right: 5px;
      width: 115px;
      height: 30px;
      input {
        width: 100%;
        height: 100%;
      }
    }
    img {
      cursor: pointer;
    }
  }
  .el-textarea.is-disabled .el-textarea__inner {
    background: #ededed;
  }
  .op-btn {
    margin-bottom: 20px;
  }
  .el-switch__core {
    width: 50px !important;
    height: 22px;
  }
  .el-switch__core:after {
    top: 2px;
  }
  .el-radio {
    margin-right: 5px;
    .el-radio__label {
      display: none;
    }
    .el-radio__inner {
      width: 18px;
      height: 18px;
    }
    .el-radio__inner::after {
      width: 6px;
      height: 6px;
    }
  }
  .set-wrap {
    .el-input {
      width: 100%;
      height: 26px;
      input {
        width: 100%;
        height: 100%;
        padding: 0 8px;
      }
    }
  }
  .email-rich-text {
    div,
    p,
    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .s-right {
    .s-select {
      .el-input {
        width: 176px;
      }
      .el-input__suffix {
        top: 8px;
        right: 8px;
      }
    }
  }
}
</style>

