<template>
  <!-- 添加弹窗 -->
  <el-dialog title="添加信息价" :visible.sync="showAddInfoPriceDialog" :close-on-click-modal="false" :before-close="closeDialog" width="80%" class="com-dialog home-edit-dialog">
    <div class="upload-cj-container">
      <div class="up-wrap">
        <div class="flex-c com-input com-select cycle-wrap">
          <span>信息价</span>
          <el-select class="com-radius-input" v-model="curInfoPriceId" placeholder="请选择信息价" @change="changeInfoPrice">
            <el-option v-for="(item, index) in infoPriceList" :key="index" :label="item.name" :value="item.id">
            </el-option>
          </el-select>
        </div>
        <div class="com-search">
          <el-input class="search-ipt" placeholder="搜索关键字，如：名称、提交人" v-model="searchVal" @keyup.enter.native="searchFunc" />
          <i class="el-icon-search" @click="searchFunc"></i>
        </div>
        <div class="search-type">
          <div class="flex-fs custom-type">
            <span>自定义材料分类</span>
            <div class="t-wrap">
              <ul class="flex-c" v-if="customType && customType.length > 0">
                <li :class="{active: curCustomType === ''}" @click="toggleCustomType('')">全部</li>
                <li :class="{active: curCustomType == item.parentCategory}" v-for="(item, index) in customType" :key="index" @click="toggleCustomType(index)">
                  {{item.parentCategory}}
                </li>
              </ul>
              <ul class="flex-c" v-if="customTypeItem && customTypeItem.length > 0">
                <li :class="{active: curCustomTypeItem === ''}" @click="toggleCustomTypeItem('')">
                  全部
                </li>
                <li :class="{active: curCustomTypeItem == item.subCategory}" v-for="(item, index) in customTypeItem" :key="index" @click="toggleCustomTypeItem(item.subCategory)">
                  {{item.subCategory}}
                </li>
              </ul>
            </div>
          </div>
          <div class="flex-fs norm-type">
            <span><span class="com-alt">占位符</span>国标分类</span>
            <div class="t-wrap">
              <ul class="flex-cw" :class="{'is-fold': isFold}">
                <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
                <li :class="{active: curNormType == item.code}" v-for="(item, index) in normType" :key="index" @click="changeNormType(index, item.code)">
                  {{item.name}}
                </li>
              </ul>
              <ul class="flex-cw all-list" v-if="normTypeItem.length > 0">
                <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
                <li :class="{active: curNormTypeItem == item.code}" v-for="(item, index) in normTypeItem" :key="index" @click="changeNormTypeItem(item.code)">
                  {{item.name}}
                </li>
              </ul>
            </div>
            <span class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" v-if="normType && normType.length > 0"></span>
          </div>
        </div>

        <div class="table-wrap">
          <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" v-loading="loading" row-key="id" style="width: 100%" @selection-change="handleSelectionChange">
            <el-table-column type="selection" :reserve-selection="true" width="96px" class-name="ta-center">
            </el-table-column>
            <el-table-column prop="sortNo" label="序号">
            </el-table-column>
            <el-table-column prop="name" label="材料名称">
            </el-table-column>
            <el-table-column prop="stdName" label="标准名称">
            </el-table-column>
            <el-table-column prop="zcode" label="编码">
            </el-table-column>
            <el-table-column prop="spec" label="规格">
            </el-table-column>
            <el-table-column prop="unit" label="单位">
            </el-table-column>
            <el-table-column prop="messagePrice" label="信息价（除税价）">
            </el-table-column>
            <el-table-column label="信息价（含税价）">
              <template slot-scope="scope">
                <span>{{scope.row.taxPrice}}（税率：{{scope.row.taxPoint}}）</span>
              </template>
            </el-table-column>
          </el-table>

          <div class="flex-csb com-pages-wrap">
            <div class="flex-c left-page">
              <span>当前显示</span>
              <div class="flex-cc cur-page">
                <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                  <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item">
                  </el-option>
                </el-select>
              </div>
              <span>条</span>
              <span class="total-num">共{{totalCount}}条数据</span>
            </div>
            <div class="flex-c right-page">
              <el-pagination background @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount">
              </el-pagination>
              <div class="com-page-btn">确定</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取消</el-button>
      <el-button type="primary" :loading="addInfoPriceLoading" @click="confirmAddOne">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
import {
  getMessagePriceListPage,
  getMessagePriceDetailListPage,
  addMsgPrice,
  getTempCustomType
} from '@/api/cs/infoPriceStock'
// import {
//   getTempCustomType,
// } from '@/api/cs/collectTemplate'
import { getCjType } from '@/api/cs/materialManage'

export default {
  props: ['showAddInfoPriceDialog', 'id'],
  name: 'InfoPriceDialog',
  data() {
    return {
      searchVal: '',
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      customType: [], // 自定义分类
      customTypeItem: [],
      curCustomType: '',
      curCustomTypeItem: '',
      normType: [], // 国标分类
      normTypeItem: [],
      curNormType: '',
      curNormTypeItem: '',
      loading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      isFold: true,
      infoPriceList: [],
      curInfoPriceId: null,
      addInfoPriceLoading: false
    }
  },
  mounted() {
    this.getData()
    this.getMessagePriceListPage()
  },
  methods: {
    // 确定添加单条
    confirmAddOne() {
      if (!this.curInfoPriceId) {
        this.$message({
          type: 'error',
          message: '请选择信息价'
        })
        return
      } else if (this.multipleSelection.length == 0) {
        this.$message({
          type: 'error',
          message: '请选择材料'
        })
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      var data = {
        idList: ids.join(','),
        journalId: this.id,
        msgId: this.curInfoPriceId,
        type: 0,
        msgType: 1 // (1：信息价 2：历史价) 先传1
      }
      this.addInfoPriceLoading = true
      addMsgPrice(data)
        .then(res => {
          this.addInfoPriceLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.closeDialog('update')
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addInfoPriceLoading = false
        })
    },
    // 切换信息价
    changeInfoPrice() {
      this.currentPage = 1
      this.getMessagePriceDetailListPage()
    },
    // 信息价详情列表
    getMessagePriceDetailListPage() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem

      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        msgId: this.curInfoPriceId,
        // customTypeId: customTypeId ? customTypeId : null,
        parentCategory: this.curCustomType,
        subCategory: this.curCustomTypeItem,
        keyCode: this.searchVal ? this.searchVal : null,
        subcId: subcId || null
      }
      this.loading = true
      getMessagePriceDetailListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 信息价列表
    getMessagePriceListPage() {
      var data = {
        currentPage: 1,
        pageSize: 99999,
        startDate: null,
        endDate: null,
        keyCode: null
      }

      getMessagePriceListPage(data).then(res => {
        if (res.code == '01') {
          this.infoPriceList = res.body.list
        }
      })
    },
    // 关闭弹窗
    closeDialog(type) {
      this.$emit('closeDialog', type)
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getMessagePriceDetailListPage()
    },
    // 页面初始数据
    getData() {
      Promise.all([getTempCustomType({ type: 1 }), getCjType()]).then(res => {
        // 自定义材料分类
        var data01 = res[0]
        if (data01.code == '01') {
          this.customType = data01.body
        }

        // 国标分类
        var data02 = res[1]
        if (data02.code == '01') {
          this.normType = data02.body.subcTypes
        }
      })
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }

      this.getMessagePriceDetailListPage()
    },
    changeNormTypeItem(code) {
      this.curNormTypeItem = code

      this.getMessagePriceDetailListPage()
    },
    // 切换自定义分类子项
    toggleCustomTypeItem(id) {
      this.curCustomTypeItem = id

      this.getMessagePriceDetailListPage()
    },
    // 切换自定义分类(index:'0'为未分类)
    toggleCustomType(index) {
      this.curCustomTypeItem = ''
      if (index !== '') {
        if (index === '0') {
          this.customTypeItem = []
          this.curCustomType = '0'
        } else {
          this.customTypeItem = this.customType[index].sub
          // this.curCustomType = this.customType[index].id
          this.curCustomType = this.customType[index].parentCategory
        }
      } else {
        this.customTypeItem = []
        this.curCustomType = ''
      }

      this.getMessagePriceDetailListPage()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getMessagePriceDetailListPage()
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .top-search {
      padding-left: 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .search-ipt {
        width: 315px;
        height: 34px;
        border-radius: 5px 0px 0px 5px;
      }
      .search-btn {
        width: 86px;
        height: 34px;
        text-align: center;
        background: #2773fc;
        box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
        border-radius: 0px 5px 5px 0px;
        color: #fff;
      }
    }
    .cycle-wrap {
      padding: 20px;
      > span {
        margin-right: 19px;
        color: #333;
        font-size: 14px;
      }
      .el-select {
        width: 350px;
      }
    }
  }
  .search-type {
    margin-bottom: 30px;
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        color: #999;
        font-size: 14px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: #2773fc;
            }
            &:hover {
              color: #2773fc;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .tip-label {
    margin: 0 0 20px 20px;
    color: #333;
    font-size: 14px;
  }
}
</style>
<style lang="scss">
.home-edit-dialog {
  .el-dialog {
    margin-top: 0 !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
  }
  .el-dialog__body {
    padding: 20px 0 0 0;
    height: 85%;
    overflow: auto;
  }
  .el-dialog__footer {
    text-align: right;
  }
  .el-checkbox {
    margin-bottom: 0;
    width: unset;
  }
}
</style>
