<template>
  <div class="upload-cj-container com-input">
    <div class="up-wrap">
      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如：名称、提交人" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div class="flex-c">
          <span class="s-text com-label-text">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate('start')" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate('end')" />
          </div>
        </div>
      </div>

      <div class="com-table table-wrap">
        <div class="com-operate-wrap">
          <!-- <el-button v-has="$roles.fun_comprice_history_add" class="has-primary-btn b-btn" @click="openAddDialog">添加历史信息价</el-button>-->
          <el-button class="has-primary-btn b-btn" @click="openAddDialog">添加历史信息价</el-button>
          <el-button @click="showInfoPriceCost">获取信息价</el-button>
          <!-- <el-button v-has="$roles.fun_comprice_history_del" class="delete-btn" @click="openDelDialog('', 'batch')">删除</el-button> -->
          <el-button class="delete-btn" @click="openDelDialog('', 'batch')">删除</el-button>
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%;" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="96px" />
          <el-table-column label="信息价">
            <template slot-scope="scope">
              <span class="cp p-color" @click="skipDetail(scope.row)">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="howPeriod" label="适用周期" />
          <el-table-column prop="matCount" label="材料数量" />
          <el-table-column label="添加时间">
            <template slot-scope="scope">
              <span>{{ scope.row.createOn | filterDate }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="isZjtcnData" label="数据来源">
            <template slot-scope="scope">
              <span>{{ scope.row.isZjtcnData | filterIsZjt }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="130px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <!-- <span v-has="$roles.fun_comprice_history_edit" @click="openEditDialog(scope.row)">
                  <el-tooltip effect="light" content="编辑" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/edits.png" alt="">
                  </el-tooltip>
                </span>-->
                <span @click="openEditDialog(scope.row)">
                  <el-tooltip effect="light" content="编辑" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/edits.png" alt="">
                  </el-tooltip>
                </span>
                <span @click="openDelDialog(scope.row, '')">
                  <el-tooltip effect="light" content="删除" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/del_icon02.png" alt="">
        <p class="fw-b mb-15">是否删除选中的信息价？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delLoading" @click="deleteItem">确定</el-button>
      </span>
    </el-dialog>
    <!-- 删除弹窗 end-->

    <!-- 添加历史信息价弹窗 -->
    <el-dialog title="添加" :visible.sync="showAddDialog" :close-on-click-modal="false" width="491px" class="com-dialog">
      <div class="flex-c mb-20">
        <span class="nw mr-20 label-text">名称</span>
        <el-input v-model="tempName" class="com-radius-input" placeholder="请输入" maxlength="20" />
      </div>
      <div class="flex-c mb-20">
        <span class="nw mr-20 label-text">适用时间</span>
        <div class="com-time-search">
          <el-date-picker v-model="cycleStartDate" type="date" placeholder="选择日期" />
        </div>
        <span class="com-line" />
        <div class="com-time-search">
          <el-date-picker v-model="cycleEndDate" type="date" placeholder="选择日期" />
        </div>
      </div>
      <!-- <div class="flex-c mb-20 com-upload">
        <span class="nw mr-20 label-text">信息价内容</span>
        <div class="flex-c">
          <div class="u-ipt w-277 com-radius-input">{{fileObj.name}}</div>
          <div class="u-btn">上传</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" class="u-file" type="file" placeholder="请选择" @change="uploadFile($event)" />
        </div>
      </div>
      <div class="flex-c">
        <span class="nw mr-20 label-text">模板下载</span>
        <span class="cp p-color" @click="downloadFile">历史信息价上传模板.xlsx</span>
      </div> -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddDialog = false">取消</el-button>
        <el-button type="primary" :loading="editLoading" @click="importFile">确定</el-button>
      </span>
    </el-dialog>
    <!-- 添加历史信息价弹窗 end -->

    <!-- 编辑历史信息价弹窗 -->
    <el-dialog title="编辑" :visible.sync="showEditDialog" :close-on-click-modal="false" width="491px" class="com-dialog">
      <div class="flex-c mb-20">
        <span class="nw mr-20 label-text">名称</span>
        <el-input v-model="tempName" class="com-radius-input" placeholder="请输入" maxlength="20" />
      </div>
      <div class="flex-c mb-20">
        <span class="nw mr-20 label-text">适用时间</span>
        <div class="com-time-search">
          <el-date-picker v-model="cycleStartDate" type="date" placeholder="选择日期" />
        </div>
        <span class="com-line" />
        <div class="com-time-search">
          <el-date-picker v-model="cycleEndDate" type="date" placeholder="选择日期" />
        </div>
      </div>

      <!-- <template v-if="zjtShow != '1'">
        <div class="flex-c mb-20 com-upload">
          <span class="nw mr-20 label-text">信息价内容</span>
          <div class="flex-c">
            <div class="u-ipt w-277">{{fileObj.name}}</div>
            <div class="u-btn">上传</div>
            <div class="u-dot">...</div>
            <input ref="fileElem" class="u-file" type="file" placeholder="请选择" @change="uploadFile($event)" />
          </div>
        </div>
      </template> -->

      <span slot="footer" class="dialog-footer">
        <el-button @click="showEditDialog = false">取消</el-button>
        <el-button type="primary" :loading="editLoading" @click="submitEdit">确定</el-button>
      </span>

    </el-dialog>
    <!-- 编辑历史信息价弹窗 end -->

    <!-- 标准化弹窗 -->
    <ScanLoading v-if="startScan" :title="'添加历史信息价'" :scan-state="scanState" :fail-count="failCount" :success-count="successCount" :download-key-loading="downloadKeyLoading" @confirmScan="confirmScan"
      @downloadErrorList="downloadErrorList" />

    <!-- 获取信息价弹窗 -->
    <el-dialog title="获取信息价" :visible.sync="showInfoPrice" :close-on-click-modal="false" width="720px" class="com-dialog">
      <div class="flex-c">
        <span class="mr-15 com-label-text">适用时间</span>
        <div class="com-time-search">
          <el-date-picker v-model="infoStartDate" type="date" placeholder="选择日期" @change="infoToggleDate('start')" />
        </div>
        <span class="com-line" />
        <div class="com-time-search">
          <el-date-picker v-model="infoEndDate" type="date" placeholder="选择日期" @change="infoToggleDate('end')" />
        </div>
        <el-button class="ml-20 re-primary-btn" round size="mini" @click="infoPriceSearch">查询</el-button>
      </div>
      <div class="mr-15 mt-20 mb-5 com-label-text">选择历史信息价</div>
      <span class="form-tip">若搜索结果无需要的信息价，可调整适用时间或联系客服人员查询服务状态</span>

      <div class="scroll-table">
        <el-table ref="infoPriceTable" v-loading="infoLoading" :data="infoPriceData" tooltip-effect="dark" class="mt-20" style="width: 100%;" @selection-change="infoSelectChange">
          <el-table-column type="selection" width="55" />
          <el-table-column label="信息价名称">
            <template slot-scope="scope">
              <div class="com-edit-wrap">
                <span class="p-color" @click="infoDetail(scope.row)">{{
                  scope.row.notes
                }}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column width="190" label="适用时间">
            <template slot-scope="scope">
              {{ scope.row.startDate }} ~ {{ scope.row.endDate }}
            </template>
          </el-table-column>
          <el-table-column width="100" prop="county" label="区域" />
        </el-table>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="showInfoPrice = false">取消</el-button>
        <el-button v-loading="addInfoLoading" :disabled="!infoMultipleSelect.length" type="primary" @click="addZjtInfo">添加</el-button>
      </span>
    </el-dialog>

    <!-- 获取信息价详情弹窗 -->
    <el-dialog title="获取信息价-详情" :visible.sync="showInfoPriceDetail" :close-on-click-modal="false" width="800px" class="com-dialog">
      <div v-if="isInfoDetail" class="mr-15 mb-5 com-label-text">{{ isInfoDetail.notes }}</div>

      <div class="scroll-table" style="max-height: 550px">
        <el-table ref="infoPriceTable" v-loading="infoDetailLoading" :data="currentInfoDetail" tooltip-effect="dark" class="mt-20" style="width: 100%;">
          <el-table-column prop="name" label="材料名称" />
          <el-table-column prop="spec" label="规格型号" />
          <el-table-column width="70" prop="unit" label="单位" />
          <template v-if="isInfoDetail && isInfoDetail.date < '2016-01-01'">
            <el-table-column prop="price" label="信息价" />
          </template>
          <template v-else>
            <el-table-column prop="no_tax_price" label="信息价（除税）" />
            <el-table-column prop="tax_price" label="信息价（含税）" />
          </template>
          <el-table-column prop="notes" label="备注" />
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="detailPageSize" placeholder="请选择" @change="detailCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ detailTotalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="detailCurrentPage" :page-size="detailPageSize" layout="prev, pager, next, jumper" :pager-count="5" :total="detailTotalCount"
              @current-change="detailCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import ScanLoading from '@/components/ScanLoading'
import { formatDate } from '@/utils/common'
import { downloadErrorExcel } from '@/api/common'
import {
  getMessagePriceHistoryListPage,
  batchDelHistoryMsgPrice,
  downloadMsgPriceHistoryFile,
  importHistoryMsgPrice,
  updHistoryMsgPrice,
  costStationPrice,
  costStationPriceDetail,
  addCostStationPrice
} from '@/api/cs/infoPriceStock'
export default {
  name: 'HistoryStock',
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    },
    filterIsZjt(val) {
      // 是否是造价通数据
      if (val == 1) {
        return '造价通'
      } else {
        return '系统上传'
      }
    }
  },
  components: {
    ScanLoading
  },
  data() {
    return {
      downloadKey: '',
      downloadKeyLoading: false,
      successCount: 0, // 标准化成功数
      failCount: 0, // 标准化失败数
      scanTimer: null, // 标准化定时器
      scanState: '0', // 0请求进行中，1请求成功，2请求失败
      startScan: false, // 开始标准化
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      startDate: null,
      endDate: null,
      loading: false,
      showDelDialog: false, // 删除弹窗
      delLoading: false,
      curDelId: null,
      curDelType: null,
      showEditDialog: false, // 编辑弹窗
      showAddDialog: false, // 添加弹窗
      editLoading: false,
      tempName: null,
      fileObj: {},
      cycleStartDate: null,
      cycleEndDate: null,
      id: null,
      showInfoPrice: false, // 显示获取信息价窗口
      infoStartDate: null,
      infoEndDate: null,
      infoPriceData: [],
      infoLoading: false,
      showInfoPriceDetail: false, // 显示获取信息价-详情窗口
      isInfoDetail: null, // 当前选中信息价信息
      infoPriceDetail: [], // 信息价详情数据
      infoDetailLoading: false,
      infoMultipleSelect: [], // 选中造价通信息价
      addInfoLoading: false,
      zjtShow: null,
      detailPageSize: 10,
      detailCurrentPage: 1,
      detailTotalCount: 0,
      currentInfoDetail: [] // 分页-当前页信息价详情数据
    }
  },
  mounted() {
    this.getDataList()
  },
  methods: {
    // 根据初始化配置起始日期，设置日期默认范围
    initSetDate() {
      const startDate = this.$store.getters.initStartDate
      if (startDate && formatDate(startDate)) {
        const curDate = new Date().getTime()
        const curStartDate = new Date(startDate).getTime()
        // 若当前时间 < 初始化配置时间
        if (curDate < curStartDate) {
          this.startDate = formatDate(curDate)
          this.endDate = formatDate(startDate)
        } else {
          this.endDate = formatDate(curDate)
          this.startDate = formatDate(startDate)
        }
      }
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.startScan = false
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            )
            this.downloadKeyLoading = false
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })
    },
    // 标准化完成
    confirmScan() {
      this.startScan = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
    },
    // 导入历史信息价
    importFile() {
      if (!this.tempName) {
        this.$message({
          type: 'error',
          message: '请输入信息价名称'
        })
        return
      } else if (!this.cycleStartDate) {
        this.$message({
          type: 'error',
          message: '请选择开始时间'
        })
        return
      } else if (!this.cycleEndDate) {
        this.$message({
          type: 'error',
          message: '请选择结束时间'
        })
        return
      } else if (
        new Date(this.cycleEndDate).getTime() <
        new Date(this.cycleStartDate).getTime()
      ) {
        this.$message({
          type: 'error',
          message: '开始时间不能大于结束时间'
        })
        return
      }
      // else if (!this.fileObj || !this.fileObj.size) {
      //   this.$message({
      //     type: 'error',
      //     message: '请上传信息价文件'
      //   })
      //   return
      // }

      this.importHistoryMsgPrice()
      // 接口请求开始标准化效果
      // this.startScan = true
      // this.scanState = '0'
      // this.scanTimer = setTimeout(() => {
      //   this.importHistoryMsgPrice()
      // }, this.$store.getters.loadingTime4)
    },
    importHistoryMsgPrice() {
      var formData = new FormData()
      formData.append('msgPriceName', this.tempName)
      formData.append('startDate', formatDate(this.cycleStartDate))
      formData.append('endDate', formatDate(this.cycleEndDate))
      // formData.append('materialFile', this.fileObj)

      this.editLoading = true
      updHistoryMsgPrice(formData)
        .then(res => {
          this.editLoading = false
          if (res.code == '01') {
            // this.scanState = '1'
            // try {
            //   this.failCount = res.body.failCount
            //   this.successCount = res.body.successCount
            //   this.downloadKey = res.body.downloadKey
            // } catch(err) {
            // }
            this.showAddDialog = false
            this.skipDetail({
              id: res.body.id,
              isZjtcnData: '0'
            })
          } else {
            // this.scanState = '2'
          }
        })
        .catch(err => {
          // this.scanState = '2'
          this.editLoading = false
        })
    },
    // 模板下载
    downloadFile() {
      var loading = this.$loading({
        text: '模板下载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      downloadMsgPriceHistoryFile()
        .then(res => {
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {
            loading.close()
          }
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') ||
              '历史信息价上传模板.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            loading.close()
          }
        })
        .catch(err => {
          loading.close()
        })
    },
    // 文件上传
    uploadFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.fileObj = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    // 添加历史信息价弹窗
    openAddDialog() {
      this.showAddDialog = true
      this.tempName = null
      this.cycleStartDate = null
      this.cycleEndDate = null
      this.fileObj = {}
      try {
        this.$refs.fileElem.value = null
      } catch (err) {}
    },
    // 提交编辑
    submitEdit() {
      if (!this.tempName) {
        this.$message({
          type: 'error',
          message: '请输入信息价名称'
        })
        return
      } else if (!this.cycleStartDate) {
        this.$message({
          type: 'error',
          message: '请输入开始时间'
        })
        return
      } else if (!this.cycleEndDate) {
        this.$message({
          type: 'error',
          message: '请输入结束时间'
        })
        return
      } else if (
        new Date(this.cycleEndDate).getTime() <
        new Date(this.cycleStartDate).getTime()
      ) {
        this.$message({
          type: 'error',
          message: '开始时间不能大于结束时间'
        })
        return
      }
      // 传了文件，需做标准化
      // this.fileObj && this.fileObj.size
      if (false) {
        // 接口请求开始标准化效果
        this.startScan = true
        this.scanState = '0'
        this.scanTimer = setTimeout(() => {
          var formData = new FormData()
          formData.append('msgPriceName', this.tempName)
          formData.append('startDate', formatDate(this.cycleStartDate))
          formData.append('endDate', formatDate(this.cycleEndDate))
          formData.append('uploadFile', this.fileObj)
          formData.append('id', this.id)
          updHistoryMsgPrice(formData)
            .then(res => {
              if (res.code == '01') {
                this.scanState = '1'
                try {
                  this.failCount = res.body.failCount
                  this.successCount = res.body.successCount
                  this.downloadKey = res.body.downloadKey
                } catch (err) {}
                this.showEditDialog = false
                this.getDataList()
              } else {
                this.scanState = '2'
              }
            })
            .catch(err => {
              this.scanState = '2'
            })
        }, this.$store.getters.loadingTime4)
      } else {
        var formData = new FormData()
        formData.append('msgPriceName', this.tempName)
        formData.append('startDate', formatDate(this.cycleStartDate))
        formData.append('endDate', formatDate(this.cycleEndDate))
        formData.append('id', this.id)
        this.editLoading = true
        updHistoryMsgPrice(formData)
          .then(res => {
            this.editLoading = false
            if (res.code == '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.showEditDialog = false
              this.getDataList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.editLoading = false
          })
      }
    },
    // 编辑
    openEditDialog(item) {
      this.showEditDialog = true
      this.id = item.id
      this.tempName = item.name
      this.cycleStartDate = item.startDate
      this.cycleEndDate = item.endDate
      this.zjtShow = item.isZjtcnData
      this.fileObj = {}
      try {
        this.$refs.fileElem.value = null
      } catch (err) {}
    },
    // 添加从造价通获取的信息价
    addZjtInfo() {
      // addCostStationPrice
      this.addInfoLoading = true
      addCostStationPrice(this.infoMultipleSelect)
        .then(res => {
          if (res.code == '01') {
            this.showInfoPrice = false
            this.$message({
              type: 'success',
              message: res.message || '添加成功！'
            })
          }
          this.getDataList()
          this.addInfoLoading = false
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: res.message || res.body
          })
          this.addInfoLoading = false
        })
    },
    // 详情
    skipDetail(item) {
      this.$router.push({
        path: '/synthesizeManager/historyPriceDetail/index',
        query: {
          id: item.id,
          isZjtcnData: item.isZjtcnData,
          tempName: item.name
        }
      })
    },
    showInfoPriceCost() {
      // 弹窗获取信息价窗口
      this.showInfoPrice = true
      this.infoStartDate = null
      this.infoEndDate = null
      this.infoPriceData = []
      this.infoMultipleSelect = []
    },
    // 删除
    deleteItem() {
      var ids = []
      // batch为批量删除
      if (this.curDelType == 'batch') {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      } else {
        ids.push(this.curDelId)
      }
      var params = {
        ids: ids.join(',')
      }
      this.delLoading = true
      batchDelHistoryMsgPrice(params).then(res => {
        this.delLoading = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.showDelDialog = false
          this.currentPage = 1
          this.getDataList()
        } else {
          this.delLoading = false
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 删除弹窗
    openDelDialog(item, type) {
      if (type == 'batch' && this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      this.curDelId = item.id
      this.curDelType = type
      this.showDelDialog = true
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 切换日期
    toggleDate(type) {
      if (type == 'start' && this.startDate) {
        this.startDate = formatDate(this.startDate)
        const beginTime = new Date(this.startDate).getTime()
        this.endDate = formatDate(+beginTime + 3600 * 1000 * 24 * 365)
      }
      if (type == 'end' && this.endDate) {
        this.endDate = formatDate(this.endDate)
      }

      this.currentPage = 1
      this.getDataList()
    },
    // 获取信息列表-切换日期
    infoToggleDate(type) {
      if (type == 'start' && this.infoStartDate) {
        this.infoStartDate = formatDate(this.infoStartDate)
        const beginTime = new Date(this.infoStartDate).getTime()
        this.infoEndDate = formatDate(+beginTime + 3600 * 1000 * 24 * 365)
      }
      if (type == 'end' && this.infoEndDate) {
        this.infoEndDate = formatDate(this.infoEndDate)
      }
    },
    infoDetail(row) {
      // 信息价详情
      console.log(row)
      this.isInfoDetail = row
      this.showInfoPriceDetail = true
      this.infoDetailLoading = true
      costStationPriceDetail({
        county: row.county,
        date: row.date
      })
        .then(res => {
          if (res.code == '01') {
            this.infoPriceDetail = res.body
            this.detailTotalCount = this.infoPriceDetail.length
            this.setCurrentData()
          }
          this.infoDetailLoading = false
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '操作失败'
          })
          this.infoDetailLoading = false
        })
    },
    infoPriceSearch() {
      if (this.infoStartDate && this.infoEndDate) {
        this.getInfoPriceList()
      } else {
        this.$message({
          type: 'warning',
          message: '请先选择开始日期和结束日期'
        })
      }
    },
    getInfoPriceList() {
      // 获取造价站地区信息价-期刊库列表
      this.infoLoading = true
      costStationPrice({
        startDate: this.infoStartDate,
        endDate: this.infoEndDate
      })
        .then(res => {
          if (res.code == '01') {
            this.infoPriceData = res.body
          }
          this.infoLoading = false
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '操作失败'
          })
          this.infoLoading = false
        })
    },
    // 获取列表
    getDataList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        startDate: this.startDate,
        endDate: this.endDate,
        keyCode: this.searchKeyword
      }
      this.loading = true
      getMessagePriceHistoryListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 造价通信息价-选择添加
    infoSelectChange(val) {
      this.infoMultipleSelect = val
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    // 信息价详情切换分页
    detailCurrentChange(val) {
      this.detailCurrentPage = val
      this.setCurrentData()
    },
    setCurrentData() {
      const begin = (this.detailCurrentPage - 1) * this.detailPageSize
      const end = this.detailCurrentPage * this.detailPageSize
      this.currentInfoDetail = this.infoPriceDetail.slice(begin, end)
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条记录'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-top: 5px;
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .search-type {
    padding: 20px;
    width: 100%;
    background: #f7f7f7;
    .s-text {
      margin-right: 15px;
      white-space: nowrap;
    }
  }
  .com-dialog {
    .com-line {
      margin: 0 5px;
    }
    &::v-deep .el-checkbox {
      margin-bottom: 0;
      width: auto;
    }
  }

  .scroll-table {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: hidden;
    .el-table {
      height: 100%;
      overflow-y: auto;
    }

    .el-table::before {
      height: 0;
    }
  }
}
</style>
