<template>
  <div class="branch">
    <div class="flex-csb">
      <p class="b-label">{{stageId == 1 ? '总估算表' :'总概算表'}}</p>
      <div class="flex-c" v-if="xlsxLink">
        <!-- 切换 -->
        <el-select placeholder="切换子表" v-model="sheetName" @change="selectSheet" class="mr-20">
          <el-option v-for="(item, index) in SheetNames" :key="index" :label="item" :value="item" />
        </el-select>
        <!-- 导出 -->
        <p class="b-save" @click="exportFile">
          <img src="@/assets/img/icons/project_stock/export_a.png" alt="">
          <span>导出</span>
        </p>
      </div>
    </div>
    <div class="file" v-if="xlsxLink">
     <div v-html="tableau" class="table"></div>
    </div>
    <div class="nodata-pic" v-else>
      <img src="@/assets/img/nodata.png" alt="" class="img" />
      <div class="nodata-text">暂无数据</div>
    </div>
  </div>
</template>

<script>
let XLSX = require('xlsx');
export default {
  props: ['xlsxData', 'xlsxLink', 'projectStageDetail'], // 文件流 base64 文件链接
  data() {
    return {
      stageId: '',
      tableau: '',
      workbook: null, // 表数据
      sheetName: '', // 当前表名
      SheetNames: [], // 子表名
    }
  },

  mounted() {
    this.stageId = this.projectStageDetail.proStageBaseInfo.stageId
    if(this.xlsxData) this.readFile(this.xlsxData)
  },

  methods: {
    // 导出Excel
    exportFile() {
      let link = document.createElement('a')
      link.setAttribute('href', this.xlsxLink)
      link.click()
    },

    // 切换子表
    selectSheet(e) {
      this.SheetName = e
      let sheetData = this.workbook.Sheets[this.SheetName]
      this.tableau = XLSX.utils.sheet_to_html(sheetData)
    },

    // 渲染文件流
    readFile(file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        const data = reader.result;
        let workbook = XLSX.read(new Uint8Array(data), { type: "array" }); // 解析表数据
        let SheetNames = workbook.SheetNames; // 子表名列表
        let SheetName = SheetNames[0]; // 子表名
        let sheetData = workbook.Sheets[SheetName];// 工作表数据
        this.tableau = XLSX.utils.sheet_to_html(sheetData); // 渲染

        this.workbook = workbook
        this.SheetNames = SheetNames
        this.SheetName = SheetName
      };
      reader.readAsArrayBuffer(file);
    },
  },
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.branch  {
  padding: 25px 36px 66px 14px;
  .nodata-pic {
    text-align: center;
    padding-bottom: 20px;
    .nodata-text {
      color: #cccccc;
    }
  }
  .file {
    padding: 50px 40px;
  }
}
</style>
<style lang="scss">
@import '@/styles/variables.scss';
.branch {
  .el-button {
    padding: 2px 15px;
  }
  .file {
    .table {
      overflow-x: scroll;
      table {
        border-collapse: collapse !important;
        tbody{
          tr:first-child {
            font-size: 15px;
            font-weight: bold;
            height: 70px;
            line-height: 70px;
            td {
              text-align: center;
            }
          }
          tr > td {
            width: 150px;
            border: 1px solid #ccc;
          }
        }
      }
    }
  }
}
</style>
