<template>
  <el-dialog :visible.sync="showDialog" :before-close="closeDialog" :close-on-click-modal="false" title="选择项目对比" width="985px" class="com-dialog">
    <div class="dialog-container">
      <div class="flex-c">
        <div class="com-search2">
          <el-input class="search-ipt" placeholder="请输入项目名称搜索" v-model="keyword" @keyup.enter.native="
              currentPage2 = 1;
              getProjectStageList();
            " />
          <i class="el-icon-search" @click="
              currentPage2 = 1;
              getProjectStageList();
            "></i>
        </div>
        <div class="flex-c com-select">
          <div class="dialog-label">价格取定期</div>
          <div class="sel-time">
            <el-date-picker v-model="projectDate" type="date" placeholder="年/月/日" @change="
                currentPage2 = 1;
                getProjectStageList();
              ">
            </el-date-picker>
          </div>
        </div>
        <div class="flex-c com-select small-select">
          <div class="dialog-label">项目地点</div>
          <el-select v-model="curPro2" placeholder="请选择省" class="mr-10" @change="changeProvince($event)">
            <el-option :value="null">请选择</el-option>
            <el-option v-for="item in commonAreaList" :key="item.id" :label="item.name" :value="item.name">
            </el-option>
          </el-select>
          <el-select v-model="curCity2" placeholder="请选择市" class="mr-10" @change="changeCity()">
            <el-option :value="null">请选择</el-option>
            <el-option v-for="item in commonAreaListItem" :key="item.id" :label="item.name" :value="item.name">
            </el-option>
          </el-select>
        </div>
      </div>
      <div class="flex-c pro-item">
        <div class="item">
          项目分类： <span>{{ this.type }}</span>
        </div>
        <div class="item">
          阶段： <span>{{ this.state }}</span>
        </div>
        <div class="item">
          计税方式：
          <span>{{
            this.taxManner == 1
              ? "增值税（一般计税方法）"
              : this.taxManner == 2
              ? "增值税（简易计税方法)"
              : "增值税（营业税计税方法）"
          }}</span>
        </div>
      </div>
      <!-- 弹窗表格 -->
      <div class="table-box" style="margin-bottom: 110px">
        <el-table ref="multipleTable" :data="tableData2" tooltip-effect="dark" v-loading="tableLoading2" class="table-main" height="280px" style="width: 100%">
          <el-table-column label="项目名称" prop="name"> </el-table-column>
          <el-table-column :sortable="true" :sort-method="sortAllprice2" label="总造价">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.totalPrice) }}</span>
            </template>
          </el-table-column>
          <el-table-column>
            <template slot="header">
              <span class="cp flex-c">
                <span>建筑面积</span>
              </span>
            </template>
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.computeCaliber, true) }}</span>
            </template>
          </el-table-column>
          <el-table-column>
            <template slot="header">
              <span class="cp flex-c">
                <span>单方造价</span>
              </span>
            </template>
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.econStd, true) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <span class="red" @click="addCompare(scope.$index, scope.row, false)" v-if="scope.row.compare">取消对比</span>
              <span class="blue" @click="addCompare(scope.$index, scope.row, true)" v-else>+加入对比</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!-- 底部分页与操作 -->
      <div class="dialog-bottom">
        <!-- 操作 -->
        <div class="flex-csb">
          <div class="added flex-c">
            <div style="width: 104px; height: 29px">已加入项目：</div>
            <div class="addedItem-box flex-cw">
              <div v-for="(item, index) in addedList.slice(0, 10)" :key="index" class="addedItem flex-csb mr-6 mb-5">
                <p class="nowrap">{{ item.name }}</p>
                <img src="@/assets/img/table/del_gray.png" alt="" class="cp" @click="delitem(index, item.name)" />
              </div>
            </div>
          </div>
          <div class="clear" @click="clearAll">
            <img class="mr-5" src="@/assets/img/table/del_gray.png" alt="" />
            <span>清空数据</span>
          </div>
        </div>
        <!-- 分页 -->
        <!-- <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize2" placeholder="请选择" @change="handleCurrentChange2(1)">
                <el-option
                  v-for="(item, index) in pageSizeList2"
                  :key="index"
                  :label="item"
                  :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount2}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange2"
              :current-page.sync="currentPage2"
              :page-size="pageSize2"
              layout="prev, pager, next, jumper"
              :total="totalCount2">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- 弹窗底部 -->
    <span slot="footer" class="dialog-footer">
      <el-button @click="closeDialog">取消</el-button>
      <el-button type="primary" @click="toCompare">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { getAreaTree } from '@/api/common'
import { getProjectStageList } from '@/api/newProject'
export default {
  props: ['details', 'projectStageDetail'],
  data() {
    return {
      showDialog: false,
      currentPage2: 1, // 分页相关
      pageSize2: 10,
      pageSizeList2: [10, 20, 30, 40, 50, 100],
      totalCount2: 0,
      // multipleSelection: [],
      keyword: '',
      type: '',
      projectDate: '',
      tableData2: [], // 项目对比表格数据
      tableLoading2: false, // 表格loading
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      curAreaList: [], // 项目地点列表(区)
      areaData: [], // 组装的地区数据
      curPro2: '', // 选择的省
      curCity2: '', // 选择的市
      addedList: [], // 已添加的对比项目
      taxManner: '', // 计税方式
      state: ''
    }
  },
  mounted() {
    this.initCompare()
    this.getAreaTreeList() // 获取省市区
  },
  methods: {
    initCompare() {
      // 重置
      this.keyword = ''
      this.projectDate = ''
      this.curPro2 = ''
      this.curCity2 = ''
      this.addedList = []
      this.taxManner = ''
      this.type = ''
      this.state = ''
      this.stateId = ''

      let hasdata = true
      let hasMoney = true

      if (!this.details.projectStageList) {
        hasdata = false
      }

      console.log(this.details)

      try {
        for (let i = 0, l = this.details.projectStageList.length; i < l; i++) {
          if (
            this.details.stageId == this.details.projectStageList[i].stageId
          ) {
            console.log(this.details.projectStageList[i])
            if (this.details.projectStageList[i].schedule != 4) hasMoney = false
            break
          }
        }
      } catch {}

      // 无造价数据
      if (!hasdata) {
        this.$message({
          type: 'error',
          message: '当前项目无造价数据，无法进行对比，请先上传造价数据'
        })
        return
      }
      // 无阶段金额
      if (!hasMoney) {
        this.$message({
          type: 'error',
          message:
            '当前项目阶段金额未通过标准化校验，无法加入对比，请重新标准化校验！'
        })
        return
      }

      // let taxManner = this.multipleSelection[0].projectStageList[this.multipleSelection[0].index || 0].taxManner
      // let type = this.multipleSelection[0].specialtyType + this.multipleSelection[0].projectType + this.multipleSelection[0].engType
      // let state = this.multipleSelection[0].projectStageList[this.multipleSelection[0].index || 0].stageUseName
      // let stateId = this.multipleSelection[0].projectStageList[this.multipleSelection[0].index || 0].stageId
      console.log(this.projectStageDetail)
      const taxManner = this.projectStageDetail.proStageBaseInfo.taxManner
      const stateId = this.projectStageDetail.proStageBaseInfo.stageId
      const state = this.projectStageDetail.proStageBaseInfo.stageName

      // let ispass = this.multipleSelection.every((item) => {
      //   return item.projectStageList[item.index || 0].taxManner == taxManner
      // })
      // if (!ispass || !taxManner) {
      //   this.$message({
      //     type: 'error',
      //     message: '请选择相同计税方式'
      //   })
      //   return
      // }
      // let ispass2 = this.multipleSelection.every(item => {
      //   return (item.specialtyType + item.projectType + item.engType) == type
      // })
      // if (!ispass2) {
      //   this.$message({
      //     type: 'error',
      //     message: '请选择同行业、同项目阶段对比'
      //   })
      //   return
      // }
      // let ispass3 = this.multipleSelection.every(item => {
      //   return (item.projectStageList[item.index || 0].stageUseName) == state
      // })
      // if (!ispass3) {
      //   this.$message({
      //     type: 'error',
      //     message: '请选择同行业、同项目阶段对比'
      //   })
      //   return
      // }
      this.taxManner = taxManner || ''
      this.type = this.details.specialtyType + '-' + this.details.projectType
      // +
      // "-" +
      // this.details.engType || "";
      this.state = state || ''
      this.stateId = stateId || ''

      this.showDialog = true
      this.addedList.push(this.details)
      this.getProjectStageList()
    },
    // 关闭弹窗
    closeDialog() {
      this.showDialog = false
      this.$emit('closeDialog', false)
    },
    // 确定去对比
    toCompare() {
      console.log(this.addedList)
      if (this.addedList.length < 2 || this.addedList.length > 10) {
        this.$alert('项目对比至少需要2个项目，最多对比10个项目', '提示', {
          confirmButtonText: '确定',
          type: 'warning'
        })
        return
      }

      const projectParams = []
      const nameArr = []
      this.addedList.forEach(item => {
        nameArr.push(item.name)
      })
      this.tableData2.forEach(item => {
        if (nameArr.indexOf(item.name) > -1) {
          projectParams.push(item)
          console.log('xxxx')
        }
      })
      const params = {
        projectParams: projectParams, // 项目阶段数据数组
        stageId: this.stateId, // 阶段id
        stageUseName: this.state, // 阶段名
        taxManner: this.taxManner, // 计税：1：增值税（一般计税方法），2：简易计税方法,3.增值税（营业税计税方法）
        specialtyType: this.type.split('-')[0], // 项目分类1
        projectType: this.type.split('-')[1], // 项目分类2
        engType: this.type.split('-')[2] // 项目分类3
      }
      console.log(params)
      this.$store.commit('SET_PROJECT_COMPARE', params)
      this.$router.push('/project/compareBigProject')
    },
    // 清除对比项
    clearAll() {
      this.addedList = []
      this.tableData2.forEach(item => {
        item.compare = false
      })
      this.tableData2 = JSON.parse(JSON.stringify(this.tableData2))
    },
    // 删除对比项
    delitem(index, name) {
      this.addedList.splice(index, 1)
      this.tableData2.forEach((item, index2) => {
        if (item.name == name) {
          this.tableData2[index2].compare = false
        }
      })
      this.tableData2 = JSON.parse(JSON.stringify(this.tableData2))
    },
    // 加入项目对比
    addCompare(index, item, isAdd) {
      if (isAdd) {
        // 加入对比
        if (this.addedList.length === 10) {
          this.$message({
            type: 'error',
            message: '最多对比10个项目'
          })
          return
        }

        if (this.addedList.length > 0) {
          const unit = this.addedList[0].caliberUnit // || (this.addedList[0].computeCaliber && this.addedList[0].computeCaliber.replace(/[\d.,]/g,""))
          if (unit != item.caliberUnit) {
            this.$message({
              type: 'error',
              message: '请选择相同的建筑面积单位对比'
            })
            return
          }
        }
        this.addedList.push(item)
      } else {
        //  取消对比
        this.addedList.forEach((items, idx) => {
          if (items.name == item.name) this.addedList.splice(idx, 1)
        })
      }
      this.tableData2[index].compare = !this.tableData2[index].compare
      this.tableData2 = JSON.parse(JSON.stringify(this.tableData2))
    },
    // 总造价排序(对比弹窗)
    sortAllprice2(a, b) {
      return a.totalPrice - b.totalPrice
    },
    // 获取地区（省，市，区）
    getAreaTreeList() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.commonAreaList = res.body
          const areaData = [] //  [{省：[{市：[区]}]}]
          const proList = []
          res.body.forEach(item => {
            proList.push(item.name)
            const cityarr = []
            if (item.sub) {
              item.sub.forEach(city => {
                const areaarr = []
                if (city.sub) {
                  city.sub.forEach(area => {
                    areaarr.push(area.name)
                  })
                }
                const obj = {}
                obj.name = city.name
                obj.sub = areaarr
                cityarr.push(obj)
              })
            }
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData
        }
      })
    },
    // 切换省份
    changeProvince(name) {
      if (name === null) {
        this.curPro2 = ''
        this.curCity2 = ''
        this.commonAreaListItem = []
        this.currentPage2 = 1
        this.getProjectStageList()
        return
      }
      for (var i = 0; i < this.commonAreaList.length; i++) {
        if (this.commonAreaList[i].name === name) {
          this.commonAreaListItem = this.commonAreaList[i].sub
          this.curCity2 = this.commonAreaListItem[0].name
          this.currentPage2 = 1
          this.getProjectStageList()
        }
      }
    },
    // 切换城市
    changeCity() {
      this.currentPage2 = 1
      this.getProjectStageList()
    },
    // 切换分页2
    handleCurrentChange2(val) {
      this.currentPage2 = val
      this.getProjectStageList()
    },
    // 获取项目阶段列表
    getProjectStageList() {
      const type = this.type.split('-')
      const stageId = this.stateId || null
      const unit =
        this.details.projectStageList[this.details.index || 0].caliberUnit || ''
      const data = {
        currentPage: null,
        pageSize: null,
        applicableDate: this.projectDate || null,
        area: null,
        city: this.curCity2 || null,
        // engType: type[2] || null,
        keyword: this.keyword || null,
        projectType: type[1] || null,
        province: this.curPro2 || null,
        specialtyType: type[0] || null,
        stageId: stageId,
        taxManner: this.taxManner,
        timeUnit: this.projectDate ? 'day' : null,
        unit: unit ? unit.replace(/[\d.,]/g, '') : null,
        engineering: false // 大项目为false
      }
      getProjectStageList(data)
        .then(res => {
          if (res.code == '01') {
            this.tableData2 = res.body.list
            this.totalCount2 = res.body.totalCount

            // 是否已在对比中
            const nameArr = []
            this.addedList.forEach(item => {
              nameArr.push(item.name)
            })
            this.tableData2.forEach(item => {
              if (nameArr.indexOf(item.name) > -1) {
                item.compare = true
              } else {
                item.compare = false
              }
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.dialog-container {
  .pro-item {
    .item {
      font-weight: bold;
      padding: 10px 50px 10px 0;
      > span {
        font-weight: normal;
      }
    }
  }
  .dialog-bottom {
    position: absolute;
    left: 0;
    bottom: 62px;
    width: 100%;
    height: 110px;
    width: 825px;
    margin: 0 30px;
    .added {
      width: 740px;
      font-size: 12px;
      color: #333333;
      .addedItem-box {
        .addedItem {
          width: 128px;
          height: 24px;
          color: #999999;
          background: #ebebeb;
          border-radius: 12px;
          padding: 7px 9px;
          .nowrap {
            width: 95px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .clear {
      cursor: pointer;
      color: #999999;
      font-size: 12px;
    }
    .btn-wrap {
      margin-top: 12px;
      text-align: right;
    }
  }
}
</style>

<style lang="scss">
@import '../../../../../styles/variables.scss';
.dialog-container {
  .com-search2 {
    width: 200px;
    min-width: 200px;
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .small-select {
    .el-input--suffix input {
      width: 130px;
    }
  }

  .el-table__row {
    .red {
      cursor: pointer;
      color: $color-danger;
    }
    .blue {
      cursor: pointer;
      color: $color-primary;
    }
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .red {
    cursor: pointer;
    color: $color-danger;
    font-size: 10px;
  }
  .blue {
    cursor: pointer;
    color: $color-primary;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 244px;
  }
  .el-cascader {
    width: 244px;
  }
}
</style>
