<template>
  <div class="quantity">
    <div class="flex-csb">
      <p class="b-label">工料机汇总一览表</p>
    </div>
    <div class="flex-c com-menu-wrap">
      <div class="cp m-item" :class="{active: curMenu === '汇总表'}" @click="changeMenu('汇总表')">
        <span>汇总表</span>
        <div class="t-line" />
      </div>
      <div class="cp m-item" :class="{active: curMenu === '明细表'}" @click="changeMenu('明细表')">
        <span>明细表</span>
        <div class="t-line" />
      </div>
    </div>
    <!-- 汇总表 -->
    <div v-if="curMenu === '汇总表'" class="b-content">
      <div class="flex-csb">
        <span />
        <div class="flex-c export-btn">
          <span class="cp" @click="exportDetailFile">
            <img src="@/assets/img/icons/project_stock/export.png" alt="">
            <span>导出</span>
          </span>
        </div>
      </div>
      <div class="detail-table">
        <el-table key="id" :data="detailTable" tooltip-effect="dark" style="width: 100%">
          <el-table-column label="序号">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="名称" />
          <el-table-column label="合价（元）">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.totalPrice) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="单方造价">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.econStd,true) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="造价占比（合价/项目造价）">
            <template slot-scope="scope">
              <span>{{ (scope.row.pct * 100).toFixed(2) }}%</span>
            </template>
          </el-table-column>
        </el-table>
        <div class="flex-csb bottom-wrap">
          <span />
          <div class="flex-c">
            <p class="mr-75">
              <span class="l-text">工料机合计：</span>
              <span>{{ formatNumber(totalPrice) }}元</span>
            </p>
            <p>
              <span class="l-text">总占比</span>
              <span>{{ totalPct }}%</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 明细表 -->
    <div v-else class="b-content">
      <div class="flex-csb">
        <span />
        <div class="flex-c export-btn">
          <span class="cp" @click="exportDetailFile">
            <img src="@/assets/img/icons/project_stock/export.png" alt="">
            <span>导出</span>
          </span>
        </div>
      </div>
      <div class="total-table expand-table">
        <el-table :data="totalTable" :row-key="getRowKeys" :expand-row-keys="expandRowKeys" style="width: 100%" @expand-change="expandChange">
          <el-table-column type="expand" width="48px">
            <template slot-scope="scope">
              <el-table :data="subTable" style="width: 100%" class="sub-expand-table">
                <el-table-column label="" width="48px" />
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ scope.$index + 1 }}.{{ subScope.$index + 1 }}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="name" label="名称" />
                <el-table-column label="合价（元）">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.totalPrice) }}</span>
                  </template>
                </el-table-column>
                <!-- <el-table-column
                label="单方造价">
                <template slot-scope="subScope">
                  <span>{{formatNumber(subScope.row.econStd, true) || '--/--'}}</span>
                </template>
              </el-table-column> -->
                <el-table-column label="造价占比(合价/项目造价)">
                  <template slot-scope="scope">
                    <span v-if="scope.row.pct || scope.row.pct === 0">{{ (scope.row.pct * 100).toFixed(2) }}%</span>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column label="序号">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="名称" />
          <el-table-column label="合价（元）">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.totalPrice) }}</span>
            </template>
          </el-table-column>
          <!-- <el-table-column
            label="单方造价">
            <template slot-scope="scope">
              <span>{{formatNumber(scope.row.econStd, true) || '--/--'}}</span>
            </template>
          </el-table-column> -->
          <el-table-column label="造价占比(合价/项目造价)">
            <template slot-scope="scope">
              <span v-if="scope.row.pct || scope.row.pct === 0">{{ (scope.row.pct * 100).toFixed(2) }}%</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import {
  exportProjectMatList,
  projectMaterialMachineView
} from '@/api/newProject'
export default {
  props: ['baseInfoParams', 'projectStageDetail'],
  data() {
    return {
      expandRowKeys: [],
      getRowKeys(row) {
        return row.id
      },
      totalPct: 0, // 总造价占比
      totalPrice: 0, // 总造价
      projectStageId: null,
      projectId: null,
      curMenu: '汇总表',
      totalTable: [],
      detailTable: [],
      subTable: []
    }
  },

  mounted() {
    this.projectStageId = this.projectStageDetail.proStageBaseInfo.projectStageId
    this.projectId = this.baseInfoParams.id
    this.getProjectMatCount()
  },

  methods: {
    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 查询工料机汇总详情导出
    exportDetailFile() {
      if (this.detailTable.length == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }
      const data = {
        projectStageId: this.projectStageId
      }
      exportProjectMatList(data).then(res => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: 'text/csv;charset=utf-8;' }),
            sessionStorage.getItem('blob_filename') || '工料机汇总表.xls'
          )
          return
        }
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName =
            sessionStorage.getItem('blob_filename') || '工料机汇总表.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          sessionStorage.removeItem('blob_filename')
        }
      })
    },

    // 展开行
    expandChange(row, expandRows) {
      this.expandRowKeys = []
      if (expandRows.length) {
        if (row) {
          this.subTable = []
          this.expandRowKeys.push(row.id) // 每次push进去的是每行的ID
          if (row.detailList && row.detailList.length > 0) {
            row.detailList.forEach(item => {
              this.subTable.push(item)
            })
          }
        }
      }
    },

    // 工料机汇总表
    getProjectMatCount() {
      const params = {
        projectStageId: this.projectStageId
      }
      projectMaterialMachineView(params).then(res => {
        if (res.code == '01') {
          // 汇总表
          this.totalTable = res.body.projectMatCountResList || []
          let totalPrice = 0
          let totalPct = 0
          for (let i = 0; i < this.totalTable.length; i++) {
            totalPrice += this.totalTable[i].totalPrice
            totalPct += this.totalTable[i].pct * 100
          }
          this.totalPrice = totalPrice.toFixed(2)
          this.totalPct = totalPct.toFixed(2)

          // 明细表
          this.detailTable =
            res.body.projectMaterialMachine &&
            res.body.projectMaterialMachine.detailList
        }
      })
    },

    // 切换tab
    changeMenu(item) {
      this.curMenu = item
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.quantity {
  width: 100%;
  min-height: 300px;
  border-left: 7px solid #f6f6f6;
  background: #fff;
  padding-top: 28px;
  .com-menu-wrap {
    margin-bottom: 33px;
    background: #f6f6f6;
  }
  .com-select {
    width: 281px;
  }
  .com-pages-wrap {
    padding: 0;
  }
  .b-content {
    width: 100%;
    padding: 0 15px 100px 20px;
    .export-btn {
      padding-right: 16px;
      color: #333;
      font-size: 16px;
      .s-export {
        margin-right: 36px;
      }
      img {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
    .total-table,
    .detail-table {
      margin-top: 24px;
      width: 100%;
      box-shadow: 0px 1px 8px 0px #eff0f3;
      border-radius: 8px;
      .bottom-wrap {
        padding: 0 34px 0 11px;
        width: 100%;
        height: 65px;
        border-radius: 1px;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        box-sizing: border-box;
        .l-text {
          margin-right: 5px;
          color: #999;
        }
      }
    }
    .detail-table {
      // padding-bottom: 57px;
    }
    .total-table {
      padding: 0;
    }
  }
}
</style>
<style lang="scss">
.quantity {
  .com-select {
    margin: 0 19px 0 0 !important;
    .el-input__inner {
      height: 36px;
      line-height: 36px;
      border: 0;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
    .el-icon-arrow-up {
      margin-top: 4px;
    }
    .el-icon-arrow-up.is-reverse {
      margin-top: 0;
    }
  }
  .com-search2 {
    border: 0;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    margin-right: 19px;
    input {
      border: 0;
    }
  }
  .el-table th.is-leaf,
  .el-table td {
    border-bottom: 1px solid #f3f3f4;
  }

  .el-table th:first-child > .cell,
  .el-table td:first-child > .cell {
    padding-left: 27px;
  }
}
</style>
