<template>
  <div class="unit-project">
    <!-- title -->
    <div class="flex-csb">
      <p class="b-label">单项工程汇总表</p>
      <div class="flex-c">
        <p class="b-save" @click="exportDetailFile">
          <img src="@/assets/img/icons/project_stock/export_a.png" alt="">
          <span>导出</span>
        </p>
      </div>
    </div>
    <!-- 单项工程汇总表 -->
    <div class="table-wrap expand-table">
      <el-table :data="projectUnitEngResList" style="width: 100%" border>
        <el-table-column type="expand" width="48px">
          <template slot-scope="scope">
            <el-table :data="scope.row.projectStageDaoProjectUnitList" style="width: 100%" class="sub-expand-table">
              <el-table-column label="" width="48px" />
              <el-table-column label="">
                <template slot-scope="subScope">
                  <span>{{ scope.$index + 1 }}.{{ subScope.$index + 1 }}</span>
                </template>
              </el-table-column>
              <el-table-column label="" prop="name" />
              <el-table-column label="">
                <template slot-scope="subScope">
                  <span>{{ formatNumber(subScope.row.totalPrice) }}</span>
                </template>
              </el-table-column>
              <el-table-column label="">
                <template slot-scope="subScope">
                  <span>{{ subScope.row.caliber ? formatNumber(subScope.row.caliber,true) : '--/--' }}</span>
                </template>
              </el-table-column>
              <el-table-column label="">
                <template slot-scope="subScope">
                  <span>{{ formatNumber(subScope.row.econStd, true) || '--/--' }}</span>
                </template>
              </el-table-column>
              <el-table-column label="">
                <!-- <template slot-scope="subScope">
                <span>{{subScope.row.pct ? (subScope.row.pct * 100).toFixed(2) : 0}}%</span>
              </template> -->
              </el-table-column>
            </el-table>
          </template>
        </el-table-column>
        <el-table-column label="序号">
          <template slot-scope="scope">
            <span>{{ scope.$index + 1 }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="name" label="名称" />
        <el-table-column label="总造价(元)">
          <template slot-scope="scope">
            <span>{{ formatNumber(scope.row.totalPrice) }}</span>
          </template>
        </el-table-column>
        <el-table-column label="建筑面积">
          <template slot-scope="scope">
            <span>{{ scope.row.caliber ? scope.row.caliber + scope.row.caliberUnit : '--/--' }}</span>
          </template>
        </el-table-column>
        <el-table-column label="单方造价">
          <template slot-scope="scope">
            <span>{{ formatNumber(scope.row.econStd, true) || '--/--' }}</span>
          </template>
        </el-table-column>
        <el-table-column label="造价占比(占项目造价的%)">
          <template slot-scope="scope">
            <span>{{ `${(scope.row.pct * 100).toFixed(2)}%` }}</span>
          </template>
        </el-table-column>
      </el-table>
      <div class="flex-csb bottom-wrap">
        <span />
        <div class="flex-c">
          <p class="mr-20">
            <span class="l-text">合计</span>
            <span>{{ formatNumber(projectUnitEngCollectTotalPrice) }}元</span>
          </p>
          <p>
            <span class="l-text">总造价占比</span>
            <span>{{ (unitPctTotal* 100).toFixed(2) }}%</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getProjectExpenseList, exportProjectList } from '@/api/newProject'

export default {
  props: ['projectStageDetail'],
  data() {
    return {
      projectStageId: null,
      proStageBaseInfo: {},
      projectUnitEngResList: [], // 单项工程汇总表
      unitPctTotal: 0, // 单项工程总造价占比
      projectUnitEngCollectTotalPrice: 0 // 单项工程总造价
    }
  },
  mounted() {
    this.proStageBaseInfo = JSON.parse(
      JSON.stringify(this.projectStageDetail.proStageBaseInfo)
    )
    this.projectStageId = this.projectStageDetail.proStageBaseInfo.projectStageId
    this.getProjectExpenseList()
  },
  methods: {
    // 单项工程汇总表
    getProjectExpenseList() {
      const params = {
        projectStageId: this.projectStageId
      }
      getProjectExpenseList(params).then(res => {
        if (res.code === '01') {
          this.projectUnitEngResList = res.body.singleProjectList
          this.projectUnitEngCollectTotalPrice = res.body.totalPrice || 0
          if (this.projectUnitEngResList && this.projectUnitEngResList.length) {
            for (let i = 0; i < this.projectUnitEngResList.length; i++) {
              const pct = this.projectUnitEngResList[i].pct || 0
              this.unitPctTotal += pct
            }
          }
        }
      })
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 导出
    exportDetailFile() {
      const params = {
        projectStageId: this.projectStageId
      }
      if (this.projectUnitEngResList.length == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }
      exportProjectList(params).then(res => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: 'text/csv;charset=utf-8;' }),
            sessionStorage.getItem('blob_filename') || '单项工程汇总表.xls'
          )
          return
        }
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName =
            sessionStorage.getItem('blob_filename') || '单项工程汇总表.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          sessionStorage.removeItem('blob_filename')
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../../../styles/variables.scss';
.unit-project {
  padding: 25px 36px 66px 14px;
  .b-save {
    padding-bottom: 16px;
  }
  .table-wrap {
    .bottom-wrap {
      padding: 0 34px 0 23px;
      width: 100%;
      height: 44px;
      background: #eff2f7;
      border-radius: 1px;
      border: 1px solid #e6e6e6;
      border-top: 0;
      font-size: 12px;
      font-weight: bold;
      color: #333;
      box-sizing: border-box;
      .l-text {
        margin-right: 5px;
        color: #999;
      }
    }
    .warnCol {
      color: $color-danger;
    }
    .rightCol {
      color: #00cc00;
    }
  }
}
</style>
