.m-color {
  color: #6CC6F7;
}
.suc-color {
  color: #8CC929;
}
.r-color {
  color: $color-danger;
}
.p-color {
  color: $color-primary !important;
}
.w-color {
  color: #fff !important;
}
.b-color {
  color: $color-primary;
}
.minor-color {
  color: $color-minor;
}
.c-3 {
  color: #333;
}
.c-6 {
  color: #666 !important;
}
.c-8 {
  color: #888;
}
.c-9 {
  color: #999;
}
.pt-0 {
  padding-top: 0 !important;
}
.pt-3 {
  padding-top: 3px;
}
.pb-3 {
  padding-bottom: 3px;
}
.pr-20 {
  padding-right: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-33 {
  padding-left: 33px;
}
.pd-20 {
  padding: 20px;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt--20 {
  margin-top: -20px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-46 {
  margin-top: 46px;
}
.ml-22 {
  margin-left: 22px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-10 {
  margin-left: 10px!important;
}
.ml-5 {
  margin-left: 5px;
}
.ml-9 {
  margin-left: 9px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-10 {
  margin-right: 10px!important;
}
.mr-13 {
  margin-right: 13px;
}
.mr-14 {
  margin-right: 14px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px!important;
}
.mr-30 {
  margin-right: 30px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-40 {
  padding-left: 40px;
}
.td-u {
  text-decoration: underline;
}
.nw {
  white-space: nowrap;
}
.ellipsis1 {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cp {
  cursor: pointer;
}
.c-na {
  cursor: not-allowed;
}
.b0 {
  border: 0 !important;
}
.ta-left {
  text-align: left !important;
}
.ta-right {
  text-align: right;
}
.ta-center {
  text-align: center !important;
}
.d-block {
  display: block;
}
.pr {
  position: relative;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-b {
  font-weight: 700 !important;
}
.text-16 {
  font-size: 16px !important;
}
.text-14 {
  font-size: 14px !important;
}
.us-n {
  user-select: none;
}
.w-54 {
  width: 54px;
}
.w-60 {
  width: 60px;
}
.w-68 {
  width: 68px;
}
.w-74 {
  width: 74px;
}
.w-80 {
  width: 80px;
}
.w-114 {
  width: 114px;
}
.w-260 {
  width: 260px !important;
}
.w-274 {
  width: 274px !important;
}
.w-277 {
  width: 277px !important;
}
.w-288 {
  width: 288px !important;
}
.w-394 {
  width: 394px;
}
.h-28 {
  height: 28px;
}
.m-auto {
  margin: 0 auto !important;
}
// 全局flex布局样式
.flex-c {
  display: flex;
  align-items: center;
}
.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-ccw {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-csb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-fs {
  display: flex;
  align-items: flex-start;
}
.flex-fsb {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-fsc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.flex-cw {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flex-cwsb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-fe {
  display: flex;
  justify-content: flex-end;
}

// 全局自定义element-ui样式
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  background: none;
  border: 1px solid #B9C6DC;
  border-radius: 5px;
}
.com-page-btn {
  margin-left: 12px;
  width: 50px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  background: $color-primary;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background: $color-primary;
  border: none;
}

// 表格样式自定义
.el-table .has-gutter th,
.el-table .has-gutter tr {
  background: #F7F7F7;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.el-table .el-checkbox__inner {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.el-table .el-checkbox__inner::after {
  height: 6px;
  left: 6px;
  top: 3px;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
}
.el-table .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  height: 3px;
  top: 6px;
}

.el-input__prefix {
  right: 5px;
  left: unset;
}
.el-input__suffix {
  right: 22px;
}
.el-input--prefix .el-input__inner {
  padding-left: 12px;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $color-primary;
  border-color: $color-primary;
}

.el-button--primary {
  background: $color-primary;
  border: 0px;
}
.el-message-box__btns .el-button--primary {
  background: $color-primary;
}

.com-radio-wrap {
  .el-radio__input.is-checked .el-radio__inner {
    background: #fff;
  }
  .el-radio__inner::after {
    width: 8px;
    height: 8px;
    background: $color-primary;
  }
}

.com-time-search {
  .el-date-editor.el-input {
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
      border-radius: 5px;
  }
  .el-date-editor.el-input,
  .el-date-editor .el-input__inner {
      width: 161px;
      height: 32px;
      border: none;
      border-radius: $input-border-radius;
  }
  .el-input__icon {
      line-height: 32px;
  }
}

.com-blue-icon {
  .el-input__icon {
    font-weight: bold;
    color: $color-primary;
  }
}

// el-dialog弹窗自定义样式
.com-dialog {
  .label-text {
    margin-right: 10px;
    white-space: nowrap;
    color: #333;
    font-size: 14px;
    display: block;
    text-align: right;
    min-width: 80px !important;
    max-width: 80px !important;
    > span {
      color: red;
    }
  }
  .el-dialog__body {
    padding: 30px;
  }
  .el-dialog__footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid #EFEFEF;
  }
  .el-dialog__header {
    padding: 10px;
    background: #EFEFEF;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    .el-dialog__title {
      font-size: 16px;
      color: #333;
      font-weight: bold;
    }
  }
  .el-dialog__headerbtn {
    top: 10px;
  }
  .el-dialog__headerbtn .el-dialog__close {
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }

  .el-checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::after {
      content: '';
      width: 100px;
    }
  }
  .el-checkbox {
    margin-bottom: 10px;
    margin-right: 0;
    width: 100px;
  }

  .dialog-footer {
    button {
      padding: 0;
      width: 122px;
      height: 34px;
      line-height: 34px;
      border-radius: 22px;
      font-size: 16px;
      &.el-button--default {
        margin-right: 30px;
      }
    }
    button.b-btn {
      width: unset;
      padding: 0 8px;
    }
  }
}

.com-checkbox {
  .el-checkbox__inner {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    background: #ccc;
  }
  .el-checkbox__inner::after {
    height: 6px;
    left: 7px;
    top: 4px;
    border: 2px solid #fff;
    border-left: 0;
    border-top: 0;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    height: 3px;
    top: 6px;
  }
  .el-checkbox__input.is-checked+.el-checkbox__label {
    color: #333;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background: #666;
  }
}

.com-input {
  input {
    height: 34px;
  }
  .el-input__icon {
    height: 34px;
    line-height: 34px;
  }
}
.com-s-input {
  input {
    height: 24px;
  }
}

.com-small-input {
  margin: 20px 0px;
  border-radius: 5px;
  font-size: 14px;
  .el-input {
    margin: 0 8px;
    width: 60px;
    height: 32px;
    .el-input__inner {
      width: 100%;
      height: 100%;
    }
  }
  .el-input__icon {
    line-height: 22px;
  }
  .el-input__suffix {
    right: 4px;
  }
  .el-icon-arrow-up:before {
    content: "\e78f";
  }
}

// 自定义el-select样式
.com-select {
  .el-select {
    width: 100%;
  }
  .el-input__suffix {
    position: absolute;
    right: 0;
    width: 66px;
  }
  .el-select .el-input .el-select__caret::before {
    content: "\e78f";
    color: $color-primary;
  }
  .el-input__inner {
    border-radius: 20px;
  }
}

// 自定义el-tree
.com-tree-wrap {
  .el-tree-node__content {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
  }
  .custom-tree-node {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .custom-edit-ipt {
    width: 30%;
    input {
      height: 32px;
    }
  }
}

.com-search {
  padding: 0 20px 0 0;
  margin: 0 0 20px 20px;
  display: flex;
  align-items: center;
  width: 335px;
  height: 34px;
  border-radius: $input-border-radius;
  border: 1px solid #DCDFE6;
  box-sizing: border-box;
  overflow: hidden;
  .search-ipt {
    width: 100%;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .search-btn {
    padding: 0;
    width: 86px;
    height: 34px;
    text-align: center;
    background: $color-primary;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    border-radius: 0px 5px 5px 0px;
    color: #fff;
  }
  > i {
    color: $color-primary;
    font-size: 21px;
    cursor: pointer;
  }
}

// 表格选取单元格样式
.com-table {
  .el-table td, .el-table th {
    &:first-child {
      text-align: center;
    }
  }
}

// 分页样式
.com-pages-wrap {
  padding: 0 20px;
  margin-top: 16px;
  .left-page {
    font-size: 14px;
    color: #333;
    .cur-page {
      margin: 0 8px;
      width: 56px;
      height: 28px;
      border-radius: 5px;
      .el-icon-caret-bottom {
        margin-left: 7px;
        font-size: 14px;
        color: #888;
      }
      .el-select {
        input {
          height: 28px;
          padding: 0 0 0 10px;
        }
        .el-input__suffix {
          right: 2px;
        }
        .el-input__icon {
          height: 28px;
          line-height: 28px;
        }
        .el-icon-arrow-up:before {
          content: "\e78f"
        }
      }
    }
    .total-num {
      margin-left: 14px;
    }
  }
}

// 占位文字样式
.com-alt {
  opacity: 0;
  visibility: hidden;
}
.com-up-wrap {
  padding: 20px 70px;
  width: 100%;
  background: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.com-up-wrap.pl-20 {
  padding: 20px;
  margin-bottom: 50px;
}

// 表格按钮样式
.com-operate-wrap {
  padding: 20px;
  button {
    padding: 0;
    margin-right: 30px;
    margin-left: 0!important;
    margin-bottom: 6px;
    width: 118px;
    height: 34px;
    line-height: 34px;
    color: $color-primary;
    font-size: 14px;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
    }
  }
  .b-btn {
    width: 128px;
  }
  .c-btn {
    width: 114px;
    height: 28px;
    line-height: 28px;
    color: #fff;
  }
  .delete-btn {
    color: $color-danger;
    border: 1px solid $color-danger;
    &:hover {
      background: $color-danger;
      border: 1px solid;
      color: #fff;
    }
  }
  .has-primary-btn {
    background: $color-primary;
    color: $text-color;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: $text-color;
    }
  }
  .has-minor-btn {
    background: $color-minor;
    color: $text-color;
    border: 1px solid $color-minor;
    &:hover {
      background: $color-minor;
      border: 1px solid;
      color: $text-color;
    }
  }
  .set-wrap {
    color: $color-primary;
    font-size: 16px;
    cursor: pointer;
    .el-icon-setting {
      margin-right: 3px;
    }
    span {
      white-space: nowrap;
    }
  }
}

.re-primary-btn {
  opacity: 1;
  color: $color-primary;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
  }
}

.com-el-tabs {
  .el-tabs__nav {
    margin-left: 50px;
    padding: 10px 0;
  }
  .el-tabs__active-bar {
    width: 63px;
    height: 3px;
    background: $color-primary;
  }
  .el-tabs__item,
  .el-tabs__item.is-active {
    font-size: 16px;
    font-weight: bold;
  }
  .el-tabs__item.is-active {
    color: #333;
  }
  .el-tabs__item {
    color: #999;
  }
  .el-tabs__nav-wrap::after {
    background: #EFEFEF;
    height: 1px;
  }
}

.com-text {
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
.com-s-text {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.com-switch {
  margin-right: 36px;
  position: relative;
  .open-text,
  .close-text {
    position: absolute;
    z-index: 999;
    left: 8px;
    top: 7px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    user-select: none;
  }
  .close-text {
    right: 8px;
    left: unset;
  }

  .el-switch {
    height: 30px;
  }
  .el-switch__core {
    width: 62px!important;
    height: 30px;
    border-radius: 15px;
  }
  .el-switch__core:after {
    left: 6px;
    top: 6px;
  }
  .el-switch.is-checked .el-switch__core::after {
    margin-left: -22px;
  }
}

.com-upload {
  width: 100%;
  .label-text {
    margin-right: 10px;
    white-space: nowrap;
    color: #333;
    font-size: 14px;
    display: block;
    text-align: right;
    min-width: 80px;
    max-width: 80px;
    > span {
      color: red;
    }
  }
  > div {
    position: relative;
    width: 100%;
  }
  .u-ipt {
    padding: 0 46px 0 10px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .u-btn {
    max-width: 66px;
    min-width: 66px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background: $color-primary;
    border-radius: 0 4px 4px 0;
  }
  .u-file {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
  }
  .u-dot {
    position: absolute;
    top: 1px;
    right: 66px;
    width: 36px;
    height: 32px;
    line-height: 27px;
    text-align: center;
    background: #EDEFF3;
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
}

.com-line {
  margin: 0 10px;
  width: 10px;
  height: 1px;
  background: #8B99BF;
}

.com-del-dialog {
  .dialog-content {
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: #333;
    img {
      margin-bottom: 15px;
    }
    .label-text {
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .tip-text {
      margin-bottom: 5px;
      color: #999;
      font-size: 12px;
    }
  }
}

.com-edit-wrap {
  span {
    padding: 0 5px;
    color: $color-primary;
    border-right: 1px solid #333;
    cursor: pointer;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: 0;
      color: $color-danger;
    }
  }
}

.icon-wrap{
  cursor: pointer;
  span{
    padding-right: 15px;
  }
  img{
    outline: none;
  }
}

.com-upload {
  width: 100%;
  > div {
    position: relative;
    width: 100%;
  }
  .u-ipt {
    padding: 0 46px 0 10px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: 1px solid #DCDFE6;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
  }
  .u-btn {
    max-width: 66px;
    min-width: 66px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background: $color-primary;
    border-radius: 0 4px 4px 0;
  }
  .u-file {
    position: absolute;
    width: 100%;
    opacity: 0;
  }
  .u-dot {
    position: absolute;
    top: 1px;
    right: 66px;
    width: 36px;
    height: 32px;
    line-height: 27px;
    text-align: center;
    background: #EDEFF3;
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
}

.com-init-time-picker {
  width: 68px;
  .el-input__inner {
      padding-right: 0;
  }
}

.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  background: #C0C4CC;
  color: #fff;
  border: 0;
}

.el-tooltip__popper {
  max-width: 400px;
}

.com-select-list {
  .el-checkbox-group {
    justify-content: flex-start;
  }
  .el-checkbox {
    margin-right: 40px;
    &:nth-child(3n - 2) {
      margin-right: 20px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.com-radius-input {
  .el-input__inner {
    border-radius: $input-border-radius;
  }
}

.com-label-text {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.form-tip {
  font-size: 12px;
  color: #a0a0a0;
}

/* 约束屏幕尺寸 */
@media screen and (max-width: 1680px) {
  html {
    font-size: 64px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}

.com-special-operate-wrap {
  button {
    display: block;
    padding: 0;
    margin-right: 0!important;
    margin-left: 3px;
    margin-bottom: 6px;
    width: 118px;
    height: 34px;
    line-height: 34px;
    color: $color-primary;
    font-size: 14px;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
    }
  }   
}