// theme config
$color-primary: #1789F2;
$color-minor: #F9A147;
$color-danger: #F13A3F;

$text-color: #fff;

$input-border-radius: 20px;

// sidebar
$menuText:#fff;
$menuActiveText: #fff;
$subMenuActiveText: #fff;

$menuBg: #001529;
$menuHover: linear-gradient(90deg, rgba(24, 144, 255, 0) 0%, $color-primary 100%);
$menuActive: linear-gradient(90deg, rgba(24, 144, 255, 0) 0%, $color-primary 100%);

$subMenuBg: #001529;
$subMenuHover: linear-gradient(90deg, rgba(24, 144, 255, 0) 0%, $color-primary 100%);

$sideBarWidth: 220px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
