<template>
  <div class="date-range-piceker flex-c">
    <!-- 日期范围选择器 -->
    <div :class="elDatePickerParentClass">
      <QuarterPicker v-if="type === 'quarter'" v-model="dateRange[0]" v-bind="$attrs" @change="changeValue" />
      <el-date-picker v-else v-model="dateRange[0]" :type="type" :class="{'hide-icon': dateRange[0]}" v-bind="$attrs" @change="changeValue" />
    </div>
    <span class="com-line" />
    <div :class="elDatePickerParentClass">
      <QuarterPicker v-if="type === 'quarter'" v-model="dateRange[1]" v-bind="$attrs" @change="changeValue" />
      <el-date-picker v-else v-model="dateRange[1]" :type="type" :class="{'hide-icon': dateRange[1]}" v-bind="$attrs" @change="changeValue" />
    </div>
  </div>
</template>

<script>
import QuarterPicker from '@/components/QuarterPicker'
export default {
  name: 'DateRangePiceker',
  components: {
    QuarterPicker
  },
  model: {
    prop: 'dateValue',
    event: 'update:dateValue'
  },
  props: {
    dateValue: {
      type: Array,
      default: () => []
    },
    startDate: {
      type: [String, Object],
      default: null
    },
    endDate: {
      type: [String, Object],
      default: null
    },
    elDatePickerParentClass: {
      type: String,
      default: 'com-time-search'
    },
    type: {
      // quarter 季度
      type: String,
      default: 'date'
    }
  },
  data() {
    return {
      dateRange: []
    }
  },
  watch: {
    dateValue: {
      immediate: true,
      deep: true,
      handler(newValue) {
        this.dateRange = newValue
      }
    },
    startDate: {
      immediate: true,
      handler(newValue) {
        this.dateRange[0] = newValue
      }
    },
    endDate: {
      immediate: true,
      handler(newValue) {
        this.dateRange[1] = newValue
      }
    }
  },
  created() {
    // this.dateRange = this.dateValue
    // if (this.startDate) {
    //   this.dateRange[0] = this.startDate
    // }
    // if (this.endDate) {
    //   this.dateRange[1] = this.endDate
    // }
  },
  methods: {
    changeValue() {
      if (this.dateRange[0] && this.dateRange[1]) {
        this.dateRange.sort()
      }

      this.$emit('update:dateValue', this.dateRange)
      this.$emit('update:startDate', this.dateRange[0])
      this.$emit('update:endDate', this.dateRange[1])
      this.$emit('change', this.dateRange)
    }
  }
}
</script>

<style lang="scss" scoped>
.com-time-search {
  /deep/.el-input__icon {
    line-height: 36px;
  }
}
.hide-icon {
  &:hover {
    /deep/.el-input__prefix {
      display: none;
    }
  }
}
</style>
