<template>
  <div class="step-container flex-cc">
    <div class="line line2"></div>
    <div class="item-box">
      <div class="num-box">
        <div class="item flex-cc">
          <img src="@/assets/img/v2.0/step1_active.png" alt="">
        </div>
      </div>
      <div class="text">选择模式</div>
    </div>
    <div class="line" :class="curActive < 2 ? 'line-gray2' : ''"></div>
    <div class="item-box">
      <div class="num-box" :class="curActive < 2 ? 'line-gray' : ''">
        <div class="item flex-cc">
          <img src="@/assets/img/v2.0/step2.png" alt="" v-if="curActive < 2">
          <img src="@/assets/img/v2.0/step2_active.png" alt="" v-else>
        </div>
      </div>
      <div class="text">选择文件</div>
    </div>
    <div class="line" :class="curActive < 3 ? 'line-gray2' : ''"></div>
    <div class="item-box">
      <div class="num-box" :class="curActive < 3 ? 'line-gray' : ''">
        <div class="item flex-cc">
          <img src="@/assets/img/v2.0/step3.png" alt="" v-if="curActive < 3">
          <img src="@/assets/img/v2.0/step3_active.png" alt="" v-else>
        </div>
      </div>
      <div class="text">标准化校验</div>
    </div>
    <div class="line" :class="curActive < 4 ? 'line-gray2' : ''"></div>
    <div class="item-box">
      <div class="num-box" :class="curActive < 4 ? 'line-gray' : ''">
        <div class="item flex-cc">
          <img src="@/assets/img/v2.0/step4.png" alt="" v-if="curActive < 4">
          <img src="@/assets/img/v2.0/step4_active.png" alt="" v-else>
        </div>
      </div>
      <div class="text">检测结果</div>
    </div>
    <div class="line line2" :class="curActive < 4 ? 'line-gray2' : ''"></div>
  </div>
</template>

<script>
export default {
  props: ['curActive'],
  data() {
    return {

    }
  },

  methods: {

  }
}
</script>

<style lang="scss" scoped>
  @import '../../../styles/variables.scss';
  .step-container {
    height: 147px;
    background: #ffffff;
    // min-width: 1030px;
    border-radius: 0 0 8px 8px;
    .line {
      width: 111px;
      height: 2px;
      border-radius: 1px;
      background: $color-minor;
    }
    .line2 {
      width: 314px;
    }
    .item-box {
      text-align: center;
      position: relative;
      .num-box {
        width: 60px;
        height: 60px;
        .item{
          width: 100%;
          height: 100%;
        }
      }
      .text {
        color: $color-minor;
        margin-top: 8px;
        position: absolute;
        top: 68px;
        left: -18px;
        width: 100px;
        text-align: center;
      }
    }
    .line-gray{
      border-color: #bfbfbf !important;
    }
    .line-gray2{
      background: #bfbfbf !important;
    }
    .line-gray+.text,.line-gray+.text{
      color: #bfbfbf;
    }
  }
</style>
