<template>
  <div class="box-content mt-10">
    <div class="content-left mr-10">
      <category-tree />
    </div>
    <div class="content-right">
      <eco-config-content />
    </div>
  </div>
</template>

<script>
import CategoryTree from "@/components/CategoryTree/index.vue";
import EngineeringTree from "@/components/EngineeringTree/index.vue";
import EcoConfigContent from "@/views/targetSet/components/EcoConfigContent.vue";
export default {
  name: "earlyWarning",
  components: {
    CategoryTree,
    EcoConfigContent,
    EngineeringTree
  },
};
</script>

<style lang="scss" scoped>
.box-content {
  display: flex;
  .content-left {
    width: 200px;
    background: #fff;
    border-radius: 8px;
    padding: 20px 15px;
  }
  .content-right {
    flex: 1;
    border-radius: 8px;
  }
}
</style>