<template>
  <div class="page-container">
    <div class="up-wrap com-el-tabs mt-10">
      <el-tabs v-model="activeName" type="card">
        <el-tab-pane label="材价文档" name="material">
          <CommPage v-if="activeName == 'material'" :source-channel="2" :has-back="false" />
        </el-tab-pane>
        <el-tab-pane label="项目文档" name="project">
          <CommPage v-if="activeName == 'project'" :source-channel="1" :has-back="false" />
        </el-tab-pane>
        <el-tab-pane label="企业文档" name="business">
          <CommPage v-if="activeName == 'business'" :source-channel="3" :has-back="false" />
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import CommPage from './components/CommPage.vue'
export default {
  name: 'File',
  components: {
    CommPage
  },
  data() {
    return {
      activeName: 'material'
    }
  }
}
</script>

<style lang="scss" scoped>
.page-container {
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /deep/.el-tabs__item {
      padding: 0 20px;
    }
  }
}
</style>
