<template>
  <div class="branch-project">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>项目库设置</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/setting/projectSet/unitProject' }">单位工程标准配置</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">分部工程标准表配置</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <div class="b-top">
      <!-- <ul class="flex-c">
        <li
          :class="{'active': pid == item.id}"
          v-for="(item, index) in menuList"
          :key="index"
          @click="changeMenu(item.id)">{{item.stdName}}</li>
      </ul> -->
      <div class="item-group flex-cw">
        <div v-for="(item,index) in menuList" :key="index" class="check-item flex-cc" :class="{'item-active': pid == item.id}" @click="changeMenu(item.id)">
          {{ item.stdName }}
        </div>
      </div>
    </div>
    <div class="b-right">
      <SegProject />
    </div>
  </div>
</template>

<script>
import SegProject from './components/SegProject'
import { queryNormEngList } from '@/api/project'

export default {
  components: {
    SegProject
  },
  data() {
    return {
      menuList: [],
      params: {
        currentPage: 1,
        keyword: '',
        pageSize: 10,
        pid: 0, // 单位工程父级id为0
        type: 1 // 1:单位工程,2:分部工程,3:分项工程,4:清单
      },
      curId: null,
      pid: null, // 单位工程id
      type: null // 1:单位工程,2:分部工程,3:分项工程,4:清单
    }
  },
  mounted() {
    this.curId = this.$route.query.id
    this.pid = this.$route.query.pid
    this.type = this.$route.query.type
    this.getNormEngList()
  },
  methods: {
    // 切换菜单
    changeMenu(id) {
      this.curId = id
      this.$router.push({
        path: '/setting/projectSet/branchProject',
        query: {
          id,
          type: 2, // 跳回分部工程type=2
          pid: this.curId
        }
      })
    },
    // 获取单位工程配置列表（type=1）
    getNormEngList() {
      queryNormEngList(this.params).then(res => {
        if (res.code == '01') {
          this.menuList = res.body.list
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.branch-project {
  margin-top: 7px;
  width: 100%;
  position: relative;
  .com-bg {
    top: -55px;
  }
  .b-top {
    height: 43px;
    margin: 20px 0 0 0;
    padding: 15px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #f3f3f4;
    border-radius: 8px 8px 0 0;
    .item-group {
      margin-bottom: 10px;
      border-bottom: 1px solid $color-minor;
      box-shadow: 0px 1px 0px 0px rgba(249, 161, 71, 0.3);
      .check-item {
        width: 140px;
        height: 32px;
        color: #bfbfbf;
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
        &:hover {
          color: $color-minor;
        }
      }
      .item-active {
        color: #ffffff;
        background-image: url('../../assets/img/icons/item_bg.png');
        background-size: 140px 32px;
        box-shadow: 0px 2px 0px 0px rgba(249, 161, 71, 0.3);
        border-radius: 1px;
        &:hover {
          color: #ffffff;
        }
      }
    }
    ul {
      li {
        margin-right: 15px;
        font-size: 14px;
        color: #666;
        cursor: pointer;
        &.active {
          padding-bottom: 4px;
          font-size: 16px;
          color: $color-primary;
          border-bottom: 2px solid $color-primary;
        }
      }
    }
  }
  .b-right {
    width: 100%;
    min-height: 700px;
    background: #fff;
    border-radius: 0 0 8px 8px;
  }
}
</style>
