<template>
  <div class="quota-standard">
    <div class="b-right">
      <div class="bg-wrap">
        <div class="flex-csb com-table-label">
          <p class="b-label">造价定额规范配置</p>
        </div>
        <div class="com-search2 com-search3">
          <el-input
            placeholder="请输入定额名称搜索"
            v-model="keyword"
            @keyup.enter.native="searchFun"
          />
          <i class="el-icon-search" @click="searchFun"></i>
        </div>
        <!-- 选择清单规范 -->
        <div class="flex-fs filter-wrap">
          <span class="nw">选择清单规范</span>
          <ul class="flex-cw item-ul">
            <li :class="{ active: curOne === null }" @click="changeType(null)">
              <span>全部</span>
            </li>
            <li :class="{ active: curOne === 1 }" @click="changeType(1)">
              <span>建设工程工程量清单计价规范（GB50500-2013）</span>
            </li>
            <li :class="{ active: curOne === 2 }" @click="changeType(2)">
              <span>建设工程工程量清单计价规范（GB50500-2008）</span>
            </li>
          </ul>
        </div>
        <!-- 选择省份 -->
        <div class="flex-fs norm-type">
          <span class="com-label-text">选择省份</span>
          <div class="t-wrap">
            <ul class="flex-cw" v-if="curproList && curproList.length > 0">
              <li
                :class="{ active: curPro === null }"
                @click="changeCurPro(null)"
              >
                全部
              </li>
              <li
                v-show="index <= 7 || morePro"
                :class="{ active: curPro == pro }"
                v-for="(pro, index) in curproList"
                :key="index"
                @click="changeCurPro(pro)"
              >
                {{ pro }}
              </li>
              <span
                class="more mb-10"
                v-if="curproList && curproList.length > 8"
                @click="morePro = !morePro"
              >
                {{ morePro ? "收起" : "更多" }}
                <span
                  class="cp el-icon-arrow-right"
                  :class="{ 'is-rotate': morePro }"
                ></span>
              </span>
            </ul>
            <!-- <ul
              class="flex-cw all-list"
              v-if="curCityList && curCityList.length > 0 && curPro != null"
            >
              <li
                :class="{ active: curCity === null }"
                @click="changeCurCity(null)"
              >
                全部
              </li>
              <li
                v-show="index <= 7 || moreCity"
                :class="{ active: curCity == item.name }"
                v-for="(item, index) in curCityList"
                :key="item.name"
                @click="changeCurCity(item.name)"
              >
                {{ item.name }}
              </li>
              <span
                class="more"
                v-if="curCityList && curCityList.length > 8"
                @click="moreCity = !moreCity"
              >
                {{ moreCity ? "收起" : "更多" }}
                <span
                  class="cp el-icon-arrow-right"
                  :class="{ 'is-rotate': moreCity }"
                ></span>
              </span>
            </ul>
            <ul
              class="flex-cw all-list ml-10"
              v-if="curAreaList && curAreaList.length > 0 && curCity != null"
            >
              <li
                :class="{ active: curArea === null }"
                @click="changeCurArea(null)"
              >
                全部
              </li>
              <li
                v-show="index <= 7 || moreArea"
                :class="{ active: curArea == area }"
                v-for="(area, index) in curAreaList"
                :key="index"
                @click="changeCurArea(area)"
              >
                {{ area }}
              </li>
              <span
                class="more"
                v-if="curAreaList && curAreaList.length > 8"
                @click="moreArea = !moreArea"
              >
                {{ moreArea ? "收起" : "更多" }}
                <span
                  class="cp el-icon-arrow-right"
                  :class="{ 'is-rotate': moreArea }"
                ></span>
              </span>
            </ul> -->
          </div>
        </div>
      </div>
    </div>

    <!-- 表格 -->
    <div class="b-content">
      <div class="flex-csb">
        <div class="flex-c p-0 com-operate-wrap"></div>
        <div class="flex-c mt-29 pr-11">
          <span class="cp add-project" @click="addOrEditNormDialog('新增')">
            <img src="@/assets/img/icons/project_stock/add.png" alt="" />
            <span> 新增计价依据</span>
          </span>
        </div>
      </div>
      <div class="mt-11 com-table-wrap">
        <el-table
          ref="multipleTable"
          :data="tableData"
          v-loading="loading"
          tooltip-effect="dark"
          style="width: 100%"
          key="id"
          border
        >
          <el-table-column type="index" width="70" label="序号">
          </el-table-column>
          <el-table-column prop="listingName" label="所属清单规范">
          </el-table-column>
          <el-table-column prop="province" width="180" label="所在省份">
            <template slot-scope="scope">
              {{ scope.row.province }}
              <span v-if="scope.row.city">{{ scope.row.city }} </span>
            </template>
          </el-table-column>
          <el-table-column prop="specName" label="定额规范名称">
          </el-table-column>
          <el-table-column prop="updateBy" width="180" label="操作人">
          </el-table-column>
          <el-table-column prop="updateTime" width="220" label="更新时间">
          </el-table-column>
          <el-table-column label="操作" width="220">
            <template slot-scope="scope">
              <el-tooltip effect="light" content="编辑" placement="top">
                <img
                  class="cp mr-26"
                  src="@/assets/img/icons/edits.png"
                  alt=""
                  @click="editFeatureDialog(scope.row)"
                />
              </el-tooltip>
              <el-tooltip effect="light" content="删除" placement="top">
                <img
                  class="cp"
                  src="@/assets/img/icons/dels.png"
                  alt=""
                  @click="delTecFeatureConfig(scope.row.id)"
                />
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 新增定额规范弹窗 -->
    <el-dialog
      :title="editType + '定额规范'"
      :visible.sync="showAddQuota"
      width="560px"
      class="com-dialog quota-dialog"
      :close-on-click-modal="false"
      @close="closeQuota"
    >
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        label-width="125px"
        class="demo-ruleForm"
      >
        <el-form-item label="选择所属清单规范" prop="pid">
          <el-select v-model="ruleForm.pid" placeholder="请选择">
            <el-option
              v-for="item in quotaList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item class="pro-form-item" label="选择所在省份" prop="province">
          <div class="select-row">
            <el-select
              class="select-pro"
              v-model="ruleForm.province"
              placeholder="请选择省"
            >
              <el-option
                v-for="item in curproList"
                @click.native="selectProvince(item)"
                :key="item"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>
            <el-select
              class="select-city"
              v-model="ruleForm.city"
              clearable
              placeholder="请选择市"
            >
              <el-option
                v-for="item in cityList"
                :key="item.id"
                :label="item.name"
                :value="item.name"
              >
              </el-option>
            </el-select>
          </div>
          <span class="tips">注：省定额请选择到省、市定额请选择到市</span>
        </el-form-item>
        <el-form-item label="请输入定额规范" prop="name">
          <el-input
            type="textarea"
            v-model="ruleForm.name"
            :autosize="{ minRows: 4, maxRows: 6}"
            placeholder="请输入定额规范名称，批量添加请用中文顿号“、”分割开"
          >
          </el-input>
          <span v-if="showRepeat" class="repeat tips red">{{repeatText}}</span>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddQuota = false">取消</el-button>
        <el-button
          :loading="addLoading"
          type="primary"
          @click="addQuotaSave('ruleForm')"
          >确定</el-button
        >
      </span>
    </el-dialog>

    <!-- 删除定额规范弹窗 -->
    <el-dialog
      title="删除"
      :visible.sync="showDelDialog"
      width="460px"
      @close="delid = ''"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <img src="@/assets/img/dialog/confirm.png" alt="" />
      <p>
        此定额规范，前端已有造价数据，请慎重操作；配置定额删除后，后续项目导入将不再显示此定额；确定删除该定额配置文件吗？
      </p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delloading" @click="delQuotaConfig"
          >确定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getAreaTree } from "@/api/common";

import {
  getQuotaConfigList,
  queryProjectTypeTree,
  addQuotaConfig,
  updateQuotaConfig,
  delQuotaConfig,
} from "@/api/newProject";
export default {
  name: "quotaStandard",
  data() {
    return {
      keyword: "", // 关键字
      curOne: null, // 清单规范筛选
      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      curAreaList: [], // 项目地点列表(区)
      curPro: null, // 选择项目地点(省)
      curCity: null, // 选择项目地点(市)
      curArea: null, // 选择项目地点(区)
      morePro: false, // 展开省
      moreCity: false, // 展开市
      moreArea: false, // 展开区
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      tableData: [],
      loading: false,

      ruleForm: {
        pid: 1, // 清单计价规范id
        name: "", // 定额规范名称
        province: "", // 所在省份
        city: "", // 所在城市
        id: "",
      },
      quotaList: [
        {
          id: 1,
          name: "建设工程工程量清单计价规范（GB50500-2013）",
        },
        {
          id: 2,
          name: "建设工程工程量清单计价规范（GB50500-2008）",
        },
      ], // 清单计价规范列表
      provinceList: [], // 省份列表
      cityList: [], // 城市列表
      showAddQuota: false,
      addLoading: false,
      rules: {
        name: [{ required: true, message: "该项不能为空", trigger: "blur" }],
        province: [
          { required: true, message: "该项不能为空", trigger: "change" },
        ],
      },
      editType: "新增",
      delloading: false,
      isDelId: "",
      showDelDialog: false,
      showRepeat: false,
      repeatText: "已有该计价依据！",  // 新增重复定额提示文字
    };
  },
  mounted() {
    this.getAreaTreeList(); // 获取省市区

    // this.getQuotaConfigList(); // 获取定额标准配置列表

    // this.queryProjectTypeTree(); // 获取清单计价规范列表
  },
  computed: {
    // 默认省份
    defaultProvince() {
      return sessionStorage.getItem('init_default_province')
    },
  },
  methods: {
    // 搜索
    searchFun() {
      this.currentPage = 1
      this.getQuotaConfigList();
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getQuotaConfigList();
    },
    // 切换清单规范
    changeType(code) {
      this.curOne = code;
      this.currentPage = 1;
      this.getQuotaConfigList();
    },
    // 获取地区（省，市，区）
    getAreaTreeList() {
      getAreaTree().then((res) => {
        if (res.code === "01") {
          this.commonAreaList = res.body;
          let areaData = []; //  [{省：[{市：[区]}]}]
          let proList = [];
          res.body.forEach((item) => {
            proList.push(item.name);
            let cityarr = [];
            if (item.sub)
              item.sub.forEach((city) => {
                let areaarr = [];
                if (city.sub)
                  city.sub.forEach((area) => {
                    areaarr.push(area.name);
                  });
                let obj = {};
                obj.name = city.name;
                obj.id = city.id;
                obj.sub = areaarr;
                cityarr.push(obj);
              });
            areaData[item.name] = cityarr;
          });
          this.curproList = proList;
          this.areaData = areaData;

          // 默认选中江门市
          this.$nextTick(() => {
            this.morePro = true;
            this.curPro = this.defaultProvince;
            this.getQuotaConfigList();
          })
        }
      });
    },
    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro;
      // this.curCityList = this.areaData[pro];
      // this.curCity = null;
      // this.curArea = null;
      this.currentPage = 1;
      this.getQuotaConfigList();
    },
    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city;
      //   this.curCityList.forEach((item) => {
      //     if (item.name == city) this.curAreaList = item.sub;
      //   });
      //   this.curArea = null;
      this.currentPage = 1;
      this.getQuotaConfigList();
    },
    // 项目地点（改区）
    changeCurArea(area) {
      this.curArea = area;
      this.currentPage = 1;
      this.getQuotaConfigList();
    },
    // 新增定额规范弹窗
    addOrEditNormDialog() {
      this.editType = "新增";
      // 清空属性值
      Object.keys(this.ruleForm).forEach((key) => {
        if (key != 'pid') this.ruleForm[key] = "";
      });
      this.showAddQuota = true;
    },
    // 删除确认弹窗
    delTecFeatureConfig(id) {
      this.isDelId = id;
      this.showDelDialog = true;
    },
    // 造价定额标准配置列表
    getQuotaConfigList() {
      let data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        specName: this.keyword,
        listing: this.curOne,
        province: this.curPro,
        city: this.curCity,
      };
      this.loading = true;
      getQuotaConfigList(data).then((res) => {
        this.loading = false;
        if (res.code === "01") {
          this.tableData = res.body.list || [];
          this.totalCount = res.body.totalCount;
        }
      });
    },
    // 获取所属清单规范列表
    queryProjectTypeTree() {
      var formData2 = new FormData();
      formData2.append("type", 2);
      queryProjectTypeTree(formData2).then((res) => {
        if (res.code == "01") {
          this.quotaList = res.body;
        }
      });
    },
    // 保存新增/编辑定额规范
    addQuotaSave(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.editType == "新增") {
            this.addQuotaConfig();
          } else {
            this.updateQuotaConfig();
          }
        } else {
          return false;
        }
      });
    },
    // 选择省份
    selectProvince(item) {
      this.cityList = this.areaData[item];
    },
    // 新增造价定额标准配置
    addQuotaConfig() {
      this.addLoading = true;
      this.showRepeat = false;
      this.ruleForm.id = "";
      addQuotaConfig(this.ruleForm)
        .then((res) => {
          if (res.code == "01") {
            this.$message.success("新增造价定额标准配置成功！");
            this.getQuotaConfigList();
            this.showAddQuota = false;
          } else if (res.code == '1120') {
            this.repeatText = res.message;
            this.showRepeat = true;
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
          this.addLoading = false;
        })
        .catch((err) => {
          this.addLoading = false;
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
        });
    },
    // 编辑
    editFeatureDialog(row) {
      this.ruleForm.city = row.city;
      this.ruleForm.pid =
        row.listingName == "建设工程工程量清单计价规范（GB50500-2013）" ? 1 : 2;
      this.ruleForm.province = row.province;
      this.ruleForm.name = row.specName;
      this.ruleForm.id = row.id;
      this.editType = "编辑";
      this.showAddQuota = true;
    },
    // 修改造价定额标准配置
    updateQuotaConfig() {
      this.addLoading = true;
      this.showRepeat = false;
      updateQuotaConfig(this.ruleForm)
        .then((res) => {
          if (res.code == "01") {
            this.$message.success("修改造价定额标准配置成功！");
            this.getQuotaConfigList();
            this.showAddQuota = false;
          } else if (res.code == '1120') {
            this.repeatText = res.message;
            this.showRepeat = true;
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
          this.addLoading = false;
        })
        .catch((err) => {
          this.addLoading = false;
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
        });
    },
    // 删除造价定额标准配置
    delQuotaConfig() {
      delQuotaConfig({ id: this.isDelId }).then((res) => {
        this.delloading = false;
        if (res.code === "01") {
          this.$message({
            type: "success",
            message: res.message || "删除成功！",
          });
          this.currentPage = 1;
          this.getQuotaConfigList();
          this.showDelDialog = false;
        } else {
          this.delloading = false;
          this.$message({
            type: "error",
            message: res.message || "删除失败！",
          });
        }
      });
    },
    // 关闭编辑定额弹窗
    closeQuota() {
      this.showRepeat = false;
      this.$refs['ruleForm'].clearValidate()
    }
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/variables.scss";
.more {
  .el-icon-arrow-right:before {
    font-size: 12px;
  }
}
.quota-standard {
  margin-top: 7px;
  width: 100%;
  .b-right {
    width: 100%;
    background: #fff;
    border-radius: 8px;
  }

  .bg-wrap {
    margin-bottom: 8px;
    padding: 20px 17px 23px 21px;
    background: #fff;
    border-radius: 8px;
    .label-text {
      color: #333;
      font-size: 12px;
      font-weight: bold;
    }
    > div {
      min-height: 39px;
    }
  }
  .filter-wrap {
    margin-top: 20px;
    > span {
      margin-top: 8px;
      margin-right: 25px;
      color: #333;
      font-weight: bold;
      font-size: 14px;
    }
  }
  .item-ul {
    padding: 0 6px;
    li {
      padding: 8px 0;
      margin-right: 33px;
      cursor: pointer;
      color: #767676;
      font-size: 14px;
      &:hover,
      &.active {
        color: $color-minor;
      }
    }
  }
  .norm-type {
    .price-ipt {
      &:hover {
        color: #666 !important;
      }
    }
    .ipttext {
      text-align: center;
      min-width: 40px;
    }
    .subnum {
      min-width: 30px;
      color: $color-primary;
    }
    .more {
      color: $color-primary;
      cursor: pointer;
      font-size: 12px;
    }
    > span {
      margin-right: 30px;
      white-space: nowrap;
      min-width: 84px;
    }
    .t-wrap {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      .no-item {
        margin-bottom: 18px;
        color: $color-minor;
        font-size: 14px;
      }
      ul {
        margin-bottom: 10px;
        &.all-list {
          padding: 5px 12px;
          background: #f3f3f4;
          box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
          border-radius: 5px;
          li {
            padding-top: 8px;
            padding-bottom: 8px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        li {
          padding-bottom: 8px;
          margin-right: 24px;
          font-size: 14px;
          color: #666;
          cursor: pointer;
          &.active {
            color: $color-minor;
          }
          &:hover {
            color: $color-minor;
          }
        }
      }
    }
    .el-icon-arrow-up,
    .el-icon-arrow-down,
    .el-icon-arrow-right {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      &.is-rotate {
        transform: rotate(180deg);
      }
    }
    .is-fold {
      max-height: 50px;
      overflow-y: hidden;
    }
  }

  .b-content {
    padding: 0 12px 30px 17px;
    background: #fff;
    border-radius: 8px;
  }

  .add-option {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border: 1px solid #ebeef5;
  }

  .quota-dialog {
    .label-text {
      min-width: 120px;
      max-width: 120px;
    }

    &::v-deep .el-select {
      width: 100%;
      .el-input__suffix {
        right: 5px;
        top: 2px;
      }
    }
    &::v-deep .el-input__inner {
      width: 100%;
      height: 32px;
    }
    .select-row {
      display: flex;
      .select-pro {
        margin-right: 10px;
      }
    }

    &::v-deep .el-form-item.is-error .select-city .el-input__inner {
      border-color: #dcdfe6;
    }
    &::v-deep .el-form-item.is-error .select-city .el-input__inner:focus {
      border-color: #dcdfe6;
    }
  }

  .repeat {
    position: absolute;
    left: 0;
    top: 90%;
  }

  .tips {
    color: #999999;
    font-size: 12px;

    &.red {
      color: #F13A3F;
    }
  }

  .pro-form-item {
    &::v-deep .el-form-item__content {
      line-height: 26px;
    }
  }
}
</style>
