<template>
  <div class="check-material mt-10">
    <div class="flex-c com-menu-wrap">
      <div class="cp m-item" :class="{ active: curMenu === '单条查价' }" @click="changeMenu('单条查价')">
        <span>单条查价</span>
        <div class="t-line" />
      </div>
      <div class="cp m-item" :class="{ active: curMenu === '批量查价' }" @click="changeMenu('批量查价')">
        <span>批量查价</span>
        <div class="t-line" />
      </div>
    </div>
    <div class="check-form pt-20">
      <template v-if="curMenu === '单条查价'">
        <div class="form-title flex-csb">
          <span class="com-tag-span gray">填写信息</span>
          <span class="blue cp" @click="checkHistory">查价历史 <i class="el-icon-arrow-right" />
          </span>
        </div>
        <ul class="ul-form">
          <li class="flex-c">
            <span class="label-text"><span class="red">*</span>材料名称</span>
            <el-input v-model="materialForm.name" size="medium" placeholder="请输入材料名称" />
          </li>
          <li class="flex-c">
            <span class="label-text"><span class="red">*</span>材料规格</span>
            <el-input v-model="materialForm.spec" size="medium" placeholder="请输入材料规格">
              <el-tooltip slot="suffix" effect="light" placement="bottom-start" popper-class="spec-tooltip">
                <img class="spec-img" src="@/assets/img/icons/symbol.png" alt="">
                <div slot="content">
                  <div v-for="item in symbolList" :key="item" class="item flex-cc" @click="iptSymbol(item)">
                    {{ item }}
                  </div>
                </div>
              </el-tooltip>
            </el-input>
          </li>
          <li class="flex-c">
            <span class="label-text"><span class="red">*</span>适用地区</span>
            <el-select v-model="provinceId" placeholder="--- 省 ---" @change="changeProvince($event)">
              <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id" />
            </el-select>
            <el-select v-model="cityId" style="margin: 0 10px" placeholder="--- 市 ---" @change="changeCity($event)">
              <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id" />
            </el-select>
          </li>
          <li class="flex-c">
            <span class="label-text"><span class="red">*</span>适用时间</span>
            <el-date-picker v-model="materialForm.date" type="month" placeholder="选择日期" value-format="yyyy-MM" />
          </li>
        </ul>
        <el-button class="btn mt-20 ml-30" type="primary" @click="startCheck">开始查价</el-button>
      </template>
      <template v-else>
        <div class="form-title flex-csb">
          <span class="com-tag-span gray">选择文件</span>
          <span class="blue cp" @click="checkHistory">查价历史 <i class="el-icon-arrow-right" />
          </span>
        </div>
        <div class="import-box flex-cw mt-20 ml-20">
          <div class="import-item flex-c">
            <img src="@/assets/img/v2.0/估算.png" alt="" class="img">
            <div class="right flex-fd-c">
              <div class="title">请选择文件</div>
              <div class="flex-c upload">
                <div class="u-ipt">
                  {{
                    (File && File.name) || "请上传（文件会同步储存到文档库）"
                  }}
                </div>
                <div class="u-btn flex-cc">
                  {{ File && File.name ? "重新导入" : "导入" }}
                </div>
                <input id="reckonFile" ref="fileElem" class="u-file" type="file" :style="File && File.name ? 'width:344px;' : 'width:384px;'" @change="changeFile($event)">
                <span v-if="File && File.name" class="ml-5 clear-file" @click="clearFile(null)">清除</span>
              </div>
              <div>
                <p v-if="File && File.name" class="tip-text red mb-10">
                  已有文件数据，再次导入将覆盖之前所传数据！
                </p>
                <p v-else class="tip-text mb-10">
                  注：请上传Excel文件，且文件小于5M，表内材料数量需小于3000条
                </p>
                <span class="download-file" @click="exportFile">请先下载材料模板>></span>
              </div>
            </div>
          </div>
        </div>
        <el-button class="btn ml-30" type="primary" @click="batchStartCheck">开始查价</el-button>
      </template>
    </div>

    <!-- 标准化弹窗 -->
    <el-dialog title="标准化" :visible.sync="toStandDialog" width="460px" class="com-dialog my-dialog redialog my-dialog" :close-on-click-modal="false">
      <div v-if="standStatus == 1 || standStatus == 4" class="loading-box">
        <img src="@/assets/img/dialog/loading1.png" alt="" class="img">
        <img src="@/assets/img/dialog/loading2.png" alt="" class="img2">
      </div>
      <p v-if="standStatus == 1" class="blue-tips">正在标准化...</p>
      <img v-if="standStatus == 2" src="@/assets/img/dialog/success.png" alt="">
      <img v-if="standStatus == 3" src="@/assets/img/dialog/error.png" alt="">
      <p v-if="standStatus == 2">标准化成功!</p>
      <p v-if="standStatus == 3">{{ errmsg }}</p>
      <template v-if="standStatus == 4">
        <p class="blue mb-20">查价中，请稍后...</p>
        <p class="red">完成后自动跳转至显示结果页</p>
      </template>

      <span v-if="(standStatus == 2 && failCount > 0) || standStatus == 3" slot="footer" class="dialog-footer">
        <el-button v-if="standStatus == 2 && failCount > 0" :loading="downloadKeyLoading" @click="downloadErrorList">
          下载失败清单并开始查价</el-button>
        <el-button @click="toStandDialog = false">取消</el-button>
        <el-button v-if="standStatus == 3" type="primary" :loading="standloading" @click="toStandDialog = false">确定
        </el-button>
      </span>
    </el-dialog>

    <!-- 标准化弹窗（批量） -->
    <ScanLoading v-if="startScan" :title="'标准化'" err-btn-msg="下载失败清单并开始查价" :scan-state="scanState" :fail-count="failCount" :success-count="successCount" :download-key-loading="downloadKeyLoading"
      :err-msg="errMsg2" @confirmScan="confirmScan" @downloadErrorList="downloadErrorList">
      <div v-if="failCount > 0" slot="warn-tip" class="mt-10">
        <p>温馨提示：</p>
        <p>
          您有<span class="green">{{ successCount }}</span>条材料可以查价
        </p>
        <p>
          有 <span class="red">{{ failCount }}</span>条材料因名称问题不能查价
        </p>
      </div>
    </ScanLoading>
  </div>
</template>

<script>
import { getAreaTree, downloadErrorExcel } from '@/api/common'
import {
  singleStandardMatSearchPrice,
  standardMatSearchPrice,
  getMatsSearchTemplate,
  matSearchPrice,
  queryFacMatsList,
  matSearchPriceProblemList
} from '@/api/material'
import ScanLoading from '@/components/ScanLoading'
export default {
  name: 'CheckMaterial',
  components: { ScanLoading },
  data() {
    return {
      curMenu: '单条查价',
      materialForm: {
        name: '',
        spec: '',
        date: ''
      },
      provinceName: '', // 所选省份名称
      cityName: '', // 所选城市名称
      provinceList: [], // 省列表
      cityList: [], // 市列表
      provinceId: '', // 选省id
      cityId: '', // 选市id
      symbolList: ['Ф', 'δ', '°', '×', '#', 'Ⅱ', 'Ⅲ', '½', '¼'],
      File: {}, // 估算工程文件

      toStandDialog: false, // 显示标准化弹窗
      standStatus: null, // 标准化弹窗状态（1正在标准化 2成功 3失败 4查价中）
      downloadKey: '', // 下载失败清单key
      errmsg: '标准化失败，该材料名称不能查价，请修正后再查询', // 标准化信息
      downloadKeyLoading: false, // 下载失败清单loading
      standloading: false,
      scanState: '0', // 监听标准化状态：scanState（0待开始，1成功，2失败）
      successCount: 0, // 标准化成功数(批量)
      failCount: 0, // 标准化失败数(批量)
      startScan: false, // 显示批量标准化弹窗
      errMsg2: '', // 批量标准化失败信息
      scanTimer: null, // 标准化定时器
      mulTimer: null // 批量查价定时器
    }
  },
  mounted() {
    this.getAreaTree() // 获取地区
  },
  methods: {
    // 切换tab
    changeMenu(item) {
      this.curMenu = item
    },
    // 规格辅助输入
    iptSymbol(e) {
      this.materialForm.spec += e
    },
    // 开始查价(单条)
    startCheck() {
      // 表单校验
      if (!this.checkForm()) return

      this.standStatus = 1
      this.toStandDialog = true
      const data = {
        province: this.provinceName,
        city: this.cityName,
        ...this.materialForm
      }
      singleStandardMatSearchPrice(data).then(res => {
        console.log('标准化', res)
        if (res && res.code == '01') {
          this.standStatus = 2

          setTimeout(() => {
            this.standStatus = 4

            data.type = '1'
            queryFacMatsList(data).then(res => {
              if (res && res.code == '01') {
                // if (res.body.matFacResult.code == '01') {  // 市场价
                //   this.$store.commit("SET_MARKET_PRICE_LIST", res.body.matFacResult.priceSearchResultList || []);
                // }

                // if (res.body.matGovResult.code == '01') {  // 信息价
                //   this.$store.commit("SET_INFO_PRICE_LIST", res.body.matGovResult.priceSearchResultList || []);
                // }

                // if (res.body.matRefResult.code == '01') {  // 综合价
                //   this.$store.commit("SET_SYNTHE_PRICE_LIST", res.body.matRefResult.priceSearchResultList || []);
                // }

                // // 材价信息
                // this.$store.commit("SET_CHECK_PRICE_INFO", res.body.priceSearchHistoty || null);
                // sessionStorage.setItem("CHECK_RESULT_PARAMS", JSON.stringify(data));
                // this.$router.push({
                //   path: "/materialManage/checkResult2",
                //   query: {
                //     type: 2,  // 1、查价历史 2、单条查价 3、多条查价
                //   }
                // });

                this.toStandDialog = false

                const row = res.body.priceSearchHistoty
                if (row) {
                  this.$router.push({
                    name: 'CheckResult',
                    query: {
                      historyId: row.id,
                      province: row.province,
                      city: row.city,
                      checkType: 1 // 1、单条查价 2、多条查价 3、查价历史
                    }
                  })
                }
              } else {
                this.$message({
                  type: 'error',
                  message: res.message
                })
              }
            })
          }, 1000)
        } else {
          this.standStatus = 3
          this.errmsg = res.message
        }
      })

      // this.$router.push('/materialManage/checkResult');
    },
    // 开始查价(批量)
    batchStartCheck() {
      if (!this.File || !this.File.size) {
        this.$message({
          type: 'error',
          message: '请上传材价文件'
        })
        return
      }

      this.startScan = true

      var formData = new FormData()
      formData.append('matSearchFile', this.File)

      this.scanTimer = setTimeout(() => {
        standardMatSearchPrice(formData)
          .then(res => {
            if (res && res.code === '01') {
              this.scanState = '1'
              try {
                this.failCount = res.body.failCount
                this.successCount = res.body.sucCount
                this.downloadKey = res.body.downloadKey
                if (this.successCount && !this.failCount) {
                  this.mulTimer = setTimeout(() => {
                    this.confirmScan()
                  }, 1000)
                }
              } catch (err) {}
            } else {
              this.scanState = '2'
              this.errMsg2 = res.message || '添加失败'
              console.log('标准化失败', res.message)
            }
          })
          .catch(err => {
            this.scanState = '2'
            this.errMsg2 = err.message || '添加失败'
          })
      }, this.$store.getters.loadingCommon)
    },
    // 确认继续查价 - 批量查价
    confirmScan() {
      this.startScan = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
      if (this.mulTimer) {
        clearTimeout(this.mulTimer)
      }

      // 标准化成功
      if (this.scanState == '1') {
        this.standStatus = 4
        this.toStandDialog = true

        var formData = new FormData()
        formData.append('matSearchFile', this.File)
        formData.append('type', '1')

        matSearchPrice(formData).then(res => {
          if (res && res.code === '01') {
            this.toStandDialog = false

            const row = res.body.priceSearchHistoty
            if (row) {
              const filename = this.File.name.substring(
                0,
                this.File.name.lastIndexOf('.')
              )
              this.$router.push({
                name: 'CheckResult',
                query: {
                  historyId: row.id,
                  province: row.province,
                  city: row.city,
                  fileName: filename,
                  checkType: 2 // 1、单条查价 2、多条查价 3、查价历史
                }
              })
            }
          } else {
            this.toStandDialog = false
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      }
    },
    // 查价历史
    checkHistory() {
      this.$router.push('/publicModule/materialManage/checkHistory')
    },
    // 切换省份
    changeProvince(id) {
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].id === id) {
          this.cityList = this.provinceList[i].sub
          this.provinceName = this.provinceList[i].name
          this.cityName = ''
          this.cityId = ''
        }
      }
    },

    // 切换城市
    changeCity(id) {
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].id === id) {
          this.cityName = this.cityList[i].name
        }
      }
    },
    // 获取地区（省，市）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res && res.code === '01') {
          this.provinceList = res.body
          this.cityList = this.provinceList[0].sub
        }
      })
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.restandDialog = false // 重新标准化
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })

      // 开始查价
      this.confirmScan()
    },
    // 表单校验
    checkForm() {
      if (!this.materialForm.name) {
        this.$message({
          type: 'error',
          message: '请输入材料名称'
        })
        return
      } else if (!this.materialForm.spec) {
        this.$message({
          type: 'error',
          message: '请输入材料规格'
        })
        return
      } else if (!this.provinceName) {
        this.$message({
          type: 'error',
          message: '请选择适用地区'
        })
        return
      } else if (!this.materialForm.date) {
        this.$message({
          type: 'error',
          message: '请选择适用时间'
        })
        return
      }
      return true
    },
    // 批量导入
    changeFile(e) {
      var file = e.target.files[0]
      const isLt5M = file.size / 1024 / 1024 < 5
      if (
        file.name.indexOf('.xls') == -1 &&
        file.name.indexOf('.xlsx') == -1 &&
        file.name.indexOf('.XLS') == -1 &&
        file.name.indexOf('.XLSX') == -1
      ) {
        this.$message({
          type: 'error',
          message: '系统检测到上传文件格式错误，请检查文件是否有误'
        })
        this.File = {}
        this.$refs.fileElem.value = null
        return false
      }

      if (!isLt5M) {
        this.$message({
          type: 'error',
          message: '上传文件大小不能超过5M'
        })
        this.File = {}
        this.$refs.fileElem.value = null
        return false
      }

      this.File = file
    },
    // 清除文件
    clearFile() {
      this.File = {}
    },
    // 下载材料模板
    exportFile() {
      getMatsSearchTemplate()
        .then(res => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '材价导入模板.xls'
            )
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '材价导入模板.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
          }
        })
        .catch(err => {})
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';

.check-material {
  width: 100%;
  min-height: 700px;

  border-radius: 0px 8px 8px 8px;

  .check-form {
    background: #fff;
    min-height: 645px;

    .el-button.btn {
      font-size: 14px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .form-title {
    width: 545px;
  }

  .ul-form {
    li {
      padding: 10px 0;
    }

    .label-text {
      display: inline-block;
      text-align: right;
      width: 86px;
      // font-size: 12px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      line-height: 30px;
      white-space: nowrap;
      margin-right: 20px;

      .red {
        color: #f13a3f;
      }
    }

    .el-input {
      width: 440px;

      // &::v-deep .el-input__inner::-webkit-input-placeholder {
      //   /* placeholder字体大小  */
      //   font-size: 12px;
      // }
    }

    .el-select {
      width: 215px;

      &::v-deep .el-input--suffix .el-input__inner {
        height: 36px;
        line-height: 36px;
      }
    }
  }

  .spec-img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
  }

  .com-tag-span {
    font-size: 14px;
  }

  .import-box {
    min-width: 1600px;

    .red {
      color: $color-danger !important;
    }

    .clear-file {
      width: 48px;
      color: $color-primary;
    }

    .download-file {
      color: $color-minor;
      cursor: pointer;
      // font-size: 12px;
    }

    .import-item {
      width: 32%;
      // height: 120px;
      background: #ffffff;
      border: 1px solid #ededed;
      border-radius: 4px;
      margin: 0 26px 26px 0;
      padding: 16px;
      box-sizing: border-box;

      &:nth-child(3n) {
        margin-right: 0;
      }

      .img {
        width: 65px;
        height: 86px;
        margin-right: 24px;
      }

      .right {
        width: 100%;

        // height: 86px;
        .title {
          font-weight: bold;
          line-height: 30px;
        }

        .upload {
          width: 384px;
          cursor: pointer !important;

          > div {
            position: relative;
            width: 100%;
          }

          .u-ipt {
            padding-left: 10px;
            width: 100%;
            height: 34px;
            line-height: 34px;
            border: 1px solid #b9c6dc;
            border-radius: 4px;
            border-right: none;
            color: #999999;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .u-btn {
            height: 34px;
            width: 100px;
            line-height: 34px;
            text-align: center;
            // color: #fff;
            margin: 4px 0 4px -2px;
            border-radius: 0 4px 4px 0;
            border: 1px solid #b9c6dc;

            .imgs {
              width: 10px;
              height: 10px;
            }
          }

          .u-file {
            position: absolute;
            width: 100%;
            opacity: 0;
            width: 344px;
            height: 42px;
            cursor: pointer;
          }
        }

        .upload2 {
          .u-file {
            width: 384px;
          }
        }

        .upload3 {
          // width: 300px;
          width: 290px;

          .u-file {
            // width: 246px;
            width: 290px;
          }

          .u-ipt {
            // width: 176px;
            width: 290px;
          }

          .u-btn {
            // width: 70px;
            width: 88px;
          }
        }

        .select-remark {
          width: 88px;
          margin-right: 5px;
          height: 34px;
        }

        .tip-text {
          font-size: 12px;
          color: #cccccc;
          line-height: 30px;
        }
      }
    }
  }

  .redialog {
    .loading-box {
      width: 90px;
      height: 90px;
      margin: 30px auto;
      position: relative;

      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      .img {
        z-index: 0;
        animation: scanLoading 0.8s linear infinite;
      }

      .img2 {
        z-index: 1;
        animation: scanLoading2 0.8s linear infinite;
      }

      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(-360deg);
        }
      }

      @keyframes scanLoading2 {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    .blue-tips {
      color: #1789f2;
      line-height: 30px;
      margin-bottom: 40px;
    }

    .success {
      color: $color-primary;
    }

    .error {
      color: $color-danger;
    }
  }
}
</style>

<style lang="scss">
.el-tooltip__popper {
  // border: none !important;
  > div {
    display: flex;
    align-items: center;
  }

  .item {
    width: 18px;
    height: 18px;
    margin: 0 3px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}
</style>
