<template>
  <div class="date-range-picker-ch flex-c">
    <el-select
      v-model="valueIndex"
      placeholder="请选择"
      @change="changDateType"
    >
      <el-option
        v-for="(item, index) in dateTypeList"
        :key="item.name"
        :label="item.name"
        :value="index"
      >
      </el-option>
    </el-select>
    <el-select v-if="dateTypeList.length-1 > valueIndex" v-model="value2" placeholder="请选择" @change="changeYear">
      <el-option
        v-for="item in dateTypeList[0].sub"
        :key="item.name"
        :label="item.name"
        :value="item.name"
      >
      </el-option>
    </el-select>
    <el-select
      v-if="valueIndex > 0 && dateTypeList.length-1 > valueIndex"
      v-model="value3"
      placeholder="请选择"
      @change="changeOther"
    >
      <el-option
        v-for="item in dateTypeList[valueIndex].sub"
        :key="item.name"
        :label="item.name"
        :value="item.name"
      >
      </el-option>
    </el-select>
    <el-date-picker
      v-if="valueIndex === dateTypeList.length-1"
      v-model="value4"
      class="ml-10"
      type="monthrange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期"
      value-format="yyyy-MM"
      @change="updateValue"
    />
     <!-- <DateRangePiceker v-if="valueIndex === dateTypeList.length-1" class="ml-10" :dateValue="dateRange" type="month" value-format="yyyy-MM" placeholder="选择年月" elDatePickerParentClass="" @change="updateValue" /> -->
  </div>
</template>

<script>
import DateRangePiceker from '@/components/DateRangePicker'
const nowYear = new Date().getFullYear()
export default {
  name: "DateRangePickerCh",
  components: {
    DateRangePiceker
  },
  model: {
    prop: "dateRange",
    event: "change",
  },
  props: {
    dateRange: {
      type: Array,
      default: () => [],
    },
    type: String,
    year: String,
    timeDesc: String,
  },
  data() {
    this.dateTypeList = [
      {
        name: "年",
        sub: (() => {
          const sub = [];
          const length = nowYear - 1970;
          for (let i = 0; i <= length; i++) {
            sub.push({
              name: `${nowYear - i}年`,
            });
          }
          return sub;
        })(),
      },
      {
        name: "半年",
        sub: [{ name: "上半年" }, { name: "下半年" }],
      },
      {
        name: "季度",
        sub: [
          { name: "第一季度" },
          { name: "第二季度" },
          { name: "第三季度" },
          { name: "第四季度" },
        ],
      },
      {
        name: "月",
        sub: (() => {
          const sub = [];
          for (let i = 1; i <= 12; i++) {
            sub.push({
              name: `${i}月`,
            });
          }
          return sub;
        })(),
      },
      {
        name: '自定义',
        sub: []
      }
    ]
    return {
      valueIndex: 0,
      value: "年",
      value2: "",
      value3: "",

      value4: [],
    };
  },
  watch: {
    type: {
      immediate: true,
      handler(newValue) {
        this.value = newValue
      }
    },
    year: {
      immediate: true,
      handler(newValue) {
        this.value2 = newValue
      }
    },
    timeDesc: {
      immediate: true,
      handler(newValue) {
        this.value3 = newValue
      }
    }
  },
  methods: {
    changDateType(index) {
      this.value3 = "";
      this.value4.splice(0)
      this.value = this.dateTypeList[index].name;
      // if (this.valueIndex === this.dateTypeList.length - 1) {
      //   this.value2 = ''
      //   this.updateValue()
      // } else {
        this.format();
      // }
      
    },
    changeYear(value2) {
      this.format();
    },
    changeOther() {
      this.format();
    },
    format() {
      if (this.valueIndex > 0 && this.valueIndex < this.dateTypeList.length - 1 && !this.value3) {
        this.updateValue()
      }
      switch (this.valueIndex) {
        case 0: {
          if (this.value2) {
            const range = [
              `${parseInt(this.value2)}-01`,
              `${parseInt(this.value2)}-12`,
            ];
            this.updateValue(range);
          } else {
            this.updateValue();
          }
          break;
        }

        case 1: {
          if (this.value2 && this.value3) {
            const map = {
              上半年: [
                `${parseInt(this.value2)}-01`,
                `${parseInt(this.value2)}-06`,
              ],
              下半年: [
                `${parseInt(this.value2)}-07`,
                `${parseInt(this.value2)}-12`,
              ],
            };
            this.updateValue(map[this.value3]);
          }
          break;
        }

        case 2: {
          if (this.value2 && this.value3) {
            const map = {
              第一季度: [
                `${parseInt(this.value2)}-01`,
                `${parseInt(this.value2)}-03`,
              ],
              第二季度: [
                `${parseInt(this.value2)}-04`,
                `${parseInt(this.value2)}-06`,
              ],
              第三季度: [
                `${parseInt(this.value2)}-07`,
                `${parseInt(this.value2)}-09`,
              ],
              第四季度: [
                `${parseInt(this.value2)}-10`,
                `${parseInt(this.value2)}-12`,
              ],
            };
            this.updateValue(map[this.value3]);
          }
          break;
        }

        case 3: {
          if (this.value2 && this.value3) {
            this.updateValue([
              `${parseInt(this.value2)}-${parseInt(this.value3)}`,
              `${parseInt(this.value2)}-${parseInt(this.value3)}`,
            ])
            // this.$emit("change", [
            //   `${parseInt(this.value2)}-${parseInt(this.value3)}`,
            //   `${parseInt(this.value2)}-${parseInt(this.value3)}`,
            // ]);
          }
          break;
        }

        default: {
          this.value2 = ''
          this.updateValue()
          break
        }
      }
    },
    updateValue(dateRange) {
      this.$emit("change", dateRange || []);
      this.$emit("update:type", this.value);
      this.$emit("update:year", this.value2);
      this.$emit("update:timeDesc", this.value3);
    },
  },
};
</script>

<style lang="scss" scoped>
.date-range-picker-ch {
  .el-select {
    & + .el-select{
      margin-left: 10px;
    }
  }
  .el-input__inner {
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
  }
}
</style>