<template>
  <div class="system-container">
    <div class="p-content   mt-10">
      <div class="com-bg">
        <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/publicHome' }">进入页</el-breadcrumb-item>
            <el-breadcrumb-item><span class="active">系统设置</span></el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>

      <!-- 系统信息 -->
      <div class="setting">
        <div class="com-operate-wrap">
          <div class="b-title">系统设置</div>
        </div>
        <div class="top-table">
          <div class="rows flex-c">
            <div class="items flex-c">
              <div class="key">系统名称：</div>
              <div class="val">{{ systemName }}</div>
            </div>
            <div class="items flex-c">
              <div class="key">版本信息：</div>
              <div class="val">{{ version }}</div>
            </div>
            <div class="items flex-c">
              <div class="key">系统ID：</div>
              <div class="val">{{ systemId }}</div>
            </div>
          </div>
          <div class="rows flex-c">
            <div class="items flex-c ipt-company">
              <div class="key">所属企业：</div>
              <div v-if="edit" class="flex-c">
                <el-input v-model="company" />
                <img v-has="'sys:configSysName'" src="@/assets/img/table/save.png" alt="" class="ml-10" @click="saveCompany">
              </div>
              <div v-else class="flex-c">
                <div class="val">{{ company }}</div>
                <img src="@/assets/img/icons/edit.png" alt="" class="ml-10" @click="edit = true">
              </div>
            </div>
            <div class="items flex-c">
              <div class="key">技术支持：</div>
              <div class="val">{{ support }}</div>
            </div>
            <div class="items flex-c">
              <div class="key">联系方式：</div>
              <div class="val">400-888-9639</div>
            </div>
          </div>
        </div>
        <!-- 系统LOGO -->
        <!-- <div class="flex-fsc mb-30 head-wrap"> -->
        <!-- <div class="mr-20 ml-20 flex-cc upload-wrap"> -->
        <div class=" logo_title">
          <span>系统LOGO</span>
          <span>请上传尺寸为200*60、100kb以下的图片</span>
        </div>
        <div class="head-wrap">
          <div class="upload-wrap">
            <img v-if="sysLogo" :src="sysLogo" alt="">
            <!-- <img v-else src="@/assets/img/default_head.png" alt=""> -->
            <img v-else src="@/assets/img/logo_default.png" alt="">
            <div class="upload-edit">
              <img src="@/assets/img/upload_avatar.png" alt="" class="">
              <span>上传新LOGO</span>
              <input v-has.show="'sys:configSysLogo'" ref="fileElem" type="file" class="u-btn" accept="image/jpeg,image/png,image/jpg,image/bmp" @change="configSysLogo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { configSysName, configSysLogo } from '@/api/user'
import store from '@/store'
export default {
  data() {
    return {
      sysLogo: '',
      systemName: '',
      version: '',
      systemId: '',
      support: '',
      company: '',
      edit: false, // 编辑所属企业
      id: ''
    }
  },

  mounted() {
    this.company = this.$store.state.user.belongCompany
    this.systemName = this.$store.state.user.sysName
    this.version = this.$store.state.user.version
    this.systemId = this.$store.state.user.sysUuid
    this.support = this.$store.state.user.technicalSupport
    this.sysLogo = this.$store.state.user.sysLogo
    this.id = this.$store.state.user.sysId
  },
  methods: {
    // 配置系统名称
    saveCompany() {
      if (!this.company) {
        this.$message({
          type: 'error',
          message: '请输入系统名称'
        })
        return
      }
      const data = {
        sysName: this.company
      }
      configSysName(data)
        .then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.edit = false
            sessionStorage.setItem('belong_company', this.company)
            store.commit('user/SET_BELONG_COMPANY', this.company)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {})
    },
    // 上传logo
    configSysLogo(e) {
      console.log(e)
      const file = e.target.files[0]
      const hasType = ['image/jpeg', 'image/png', 'image/jpg', 'image/bmp']
      if (hasType.indexOf(file.type) === -1) {
        this.$message({
          type: 'error',
          message: '请上传正确格式的图片'
        })
        return
      }
      if (e.target.files[0].size > 100 * 1024) {
        // 限制文件上传大小
        this.$message({
          type: 'error',
          message: '上传单个文件大小不能超过 100kb!'
        })
        return
      }

      const formData = new FormData()
      formData.append('logoFile', file)
      formData.append('id', this.id)
      console.log(formData)
      configSysLogo(formData)
        .then(res => {
          if (res.code === '01') {
            this.sysLogo = res.body
            sessionStorage.setItem('sysLogo', res.body)
            this.$store.commit('user/SET_SYS_LOGO', res.body)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {})
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.system-container {
  .setting {
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 0 25px 70px;
    .top-table {
      border: 1px solid #f3f3f4;
      border-right: none;
      .rows {
        .ipt-company {
          img {
            cursor: pointer;
          }
        }
        .items {
          flex: 1;
          font-size: 14px;
          padding: 25px 29px;
          min-width: 416px;
          max-width: 33%;
          max-height: 81px;
          border-right: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6;
          .key {
            font-weight: 400;
            color: $gray-color;
            line-height: 30px;
            min-width: 85px;
            max-width: 85px;
            color: #aaaaaa;
          }
          .val {
            font-family: 'mainfont';
            font-weight: bold;
            color: $table-color;
          }
        }
      }
    }
  }
}
.logo_title {
  margin-top: 40px;
  margin-bottom: 20px;
  span:nth-child(1) {
    margin-right: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
  }
  span:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    opacity: 0.5;
  }
}
.head-wrap {
  .upload-wrap {
    display: flex;
    width: 200px;
    height: 60px;
    // background-color: pink;
    // width: 113px;
    // height: 113px;
    // border: 1px solid #f2f2f2;
    // border-radius: 50%;
    // font-size: 88px;
    // color: #e5e5e5;
    // overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
    &:hover {
      .upload-edit {
        display: flex;
      }
    }
    .upload-edit {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: RGBA(174, 174, 174, 1);
      z-index: 1;
      display: none;
      // flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .u-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: 0;
      }
      img {
        width: 36px;
        height: 27px;
      }
      span {
        // width: 95px;
        // height: 16px;
        margin-left: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        opacity: 1;
      }
    }
  }
}
.p-content {
  // padding: 35px 25px;
  width: 100%;
  background: #fff;
  position: relative;
  .com-bg {
    top: -46px;
  }
}
</style>

<style lang="scss">
@import '@/styles/variables.scss';
.system-container {
  .bindAccHis {
    .el-dialog {
      width: 38%;
    }
  }
  .com-operate-wrap {
    padding-left: 0 !important;
    margin-left: -25px !important;
  }
}
</style>
