<template>
  <div class="account-container com-input">
    <div class="search-type">
      <div class="flex-fs custom-type">
        <span class="com-label-text">企业类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{active: curCompanyTypeCode === ''}" @click="toggleCompanyType('')">全部</li>
            <li v-for="(item, index) in companyTypeList" :key="index" :class="{active: curCompanyTypeCode === item.dictCode}" @click="toggleCompanyType(item.dictCode)">
              {{ item.dictName }}
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="flex-fs custom-type">
          <span>报价类型</span>
          <div class="t-wrap">
          <ul class="flex-cw">
              <li :class="{active: curQuoteTypeCode === ''}" @click="toggleQuoteType('')">全部</li>
              <li
                :class="{active: curQuoteTypeCode === item.dictCode}"
                v-for="(item, index) in quoteTypeList"
                :key="index"
                @click="toggleQuoteType(item.dictCode)">
                {{item.dictName}}
              </li>
          </ul>
          </div>
      </div> -->
      <!-- <div class="flex-fs custom-type">
          <span>审核状态</span>
          <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{active: curCheckState === item.state}"
              v-for="(item, index) in checkState"
              :key="index"
              @click="toggleCheckState(item.state)">
              {{item.label}}
            </li>
          </ul>
          </div>
      </div> -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">报价状态</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li v-for="(item, index) in quoteState" :key="index" :class="{active: curQuoteState === item.state}" @click="toggleQuoteState(item.state)">
              {{ item.label }}
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-c custom-type">
        <span class="com-label-text">添加时间</span>
        <div class="com-time-search">
          <el-date-picker v-model="validStartDate" type="date" placeholder="选择日期" @change="toggleDate" />
        </div>
        <span class="com-line" />
        <div class="com-time-search">
          <el-date-picker v-model="validEndDate" type="date" placeholder="选择日期" @change="toggleDate2" />
        </div>
      </div>
    </div>

    <div class="com-table table-wrap">
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <!--<el-button v-has="$roles.fun_raiseprice_messager_retpwd" class="has-primary-btn" :loading="initPasswordLoading" @click="initPassword">重置密码</el-button>
          <el-button v-has="$roles.fun_raiseprice_messager_sendmessage" class="has-minor-btn" @click="sendMsg">发送短信</el-button>
          <el-button v-has="$roles.fun_raiseprice_messager_sendmail" @click="sendEmail">发送邮箱</el-button>-->
          <el-button v-has="'mpccollect:collectMessagerInfo:resetPwd'" class="has-primary-btn" :loading="initPasswordLoading" @click="initPassword">重置密码</el-button>
          <el-button v-has="'mpccollect:collectMessagerInfo:sendSmsMessage'" class="has-minor-btn" @click="sendMsg">发送短信</el-button>
          <el-button v-has="'mpccollect:collectMessagerInfo:sendEmailMessage'" @click="sendEmail">发送邮箱</el-button>
          <!-- 解决ie11中button的子元素无法点击 -->
          <!-- <div v-has="$roles.fun_raiseprice_messager_openaccount" class="ac-btn"> -->
          <div v-has="'mpccollect:collectMessagerInfo:addOrUpdateCollectMessager'" class="ac-btn">
            <el-button @click="openAccount"><span>开通账号</span></el-button>
            <ul :class="{active: isShowOpen}">
              <li @click.stop="createUser">单个账号</li>
              <li @click.stop="batchCreateUserDialog">批量开通</li>
            </ul>
          </div>
          <!-- <el-button v-has="$roles.fun_raiseprice_messager_export" :loading="exportLoading" @click="exportFile">导出</el-button>
          <el-button v-has="$roles.fun_raiseprice_messager_del" class="delete-btn" :loading="deleteLoading" @click="deleteUsers">删除</el-button>
          <el-button v-has="$roles.fun_raiseprice_messager_import" @click="importFileDialog('1')">导入材价</el-button>
          <el-button v-has="$roles.fun_raiseprice_messager_importzdy" @click="importFileDialog('2')">导入自定义材价</el-button> -->
          <el-button v-has="'mpccollect:collectMessagerInfo:exportCollectMessagerInfoFile'" :loading="exportLoading" @click="exportFile">导出</el-button>
          <el-button v-has="'mpccollect:collectMessagerInfo:deleteCollectMessagerInfo'" class="delete-btn" :loading="deleteLoading" @click="deleteUsers">删除</el-button>
          <el-button v-has="'collect:messager:uploadDetail:uploadTempFile'" @click="importFileDialog('1')">导入材价</el-button>
          <el-button v-has="'collect:messager:uploadDetail:uploadCustomizeTempFile'" @click="importFileDialog('2')">导入自定义材价</el-button>
        </div>
        <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
          <span class="el-icon-setting" />
          <span>列表设置</span>
        </div>
      </div>

      <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="80px" />
        <el-table-column v-if="checkedList.indexOf('账号') != -1" prop="account" label="账号" />
        <el-table-column v-if="checkedList.indexOf('单位') != -1" prop="unitName" label="单位" />
        <el-table-column v-if="checkedList.indexOf('负责人名称') != -1" label="负责人名称">
          <template slot-scope="scope">
            <span class="cp b-text" @click="updateUserInfoDialog(scope.row)">{{ scope.row.linkman }}</span>
          </template>
        </el-table-column>
        <el-table-column v-if="checkedList.indexOf('企业类型') != -1" prop="enterpriseType" label="企业类型" show-overflow-tooltip />
        <el-table-column v-if="checkedList.indexOf('通知记录') != -1" label="通知记录" show-overflow-tooltip>
          <template slot-scope="scope">
            <span class="cp b-text" @click="openRecordDialog(scope.row)">{{ scope.row.noticeCount }}</span>
          </template>
        </el-table-column>
        <el-table-column v-if="checkedList.indexOf('添加时间') != -1" prop="createOn" label="添加时间" show-overflow-tooltip />
        <el-table-column v-if="checkedList.indexOf('最近登录') != -1" label="最近登录" show-overflow-tooltip>
          <template slot-scope="scope">
            <span class="b-text">{{ scope.row.lastLoginOn }}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column
        label="审核状态"
        show-overflow-tooltip
        v-if="checkedList.indexOf('审核状态') != -1">
          <template slot-scope="scope">
            <span v-if="scope.row.state == '0'">待审核</span>
            <span v-if="scope.row.state == '1'">审核通过</span>
            <span v-if="scope.row.state == '2'">审核不通过</span>
          </template>
        </el-table-column> -->
        <el-table-column v-if="checkedList.indexOf('地址') != -1" label="地址" show-overflow-tooltip>
          <template slot-scope="scope">
            <span>{{ scope.row.province }}{{ scope.row.city }}{{ scope.row.region }}{{ scope.row.address }}</span>
          </template>
        </el-table-column>
        <el-table-column v-if="checkedList.indexOf('用户角色') != -1" prop="roleName" label="用户角色" show-overflow-tooltip />
        <el-table-column v-if="checkedList.indexOf('办公电话') != -1" prop="officePhone" label="办公电话" show-overflow-tooltip />
        <el-table-column v-if="checkedList.indexOf('负责人手机号码') != -1" prop="phone" label="负责人手机号码" show-overflow-tooltip />
        <el-table-column v-if="checkedList.indexOf('负责人微信') != -1" prop="weChat" label="负责人微信" show-overflow-tooltip />
        <el-table-column v-if="checkedList.indexOf('负责人QQ') != -1" prop="qq" label="负责人QQ" show-overflow-tooltip />
        <el-table-column v-if="checkedList.indexOf('负责人邮箱') != -1" prop="email" label="负责人邮箱" show-overflow-tooltip />
        <el-table-column v-if="checkedList.indexOf('营业执照') != -1" label="营业执照" show-overflow-tooltip>
          <template slot-scope="scope">
            <el-image v-if="scope.row.businessLicense" style="width: 30px; height: 30px" :src="scope.row.businessLicense" :preview-src-list="srcList" @click="openImg(scope.row.businessLicense)" />
          </template>
        </el-table-column>
        <el-table-column v-if="checkedList.indexOf('备注') != -1" prop="remark" label="备注" show-overflow-tooltip />
      </el-table>

      <div v-if="totalCount > 0" class="flex-csb com-pages-wrap">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select v-model="pageSize" placeholder="请选择" @change="changePageSize">
              <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
          <div class="com-page-btn">确定</div>
        </div>
      </div>
    </div>

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" :close-on-click-modal="false" width="420px" class="com-dialog">
      <div class="com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = !showSetListDialog">确定</el-button>
      </span>
    </el-dialog>

    <!-- 发送短信弹窗 -->
    <el-dialog title="发送短信" :visible.sync="showMsgDialog" :close-on-click-modal="false" width="700px" class="com-dialog com-input-width">
      <div class="flex-c mb-20">
        <span class="label-text">收件人：</span>
        <el-input v-model="receiveUsers" disabled />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>标题：</span>
        <el-input v-model="msgTitle" maxlength="20" placeholder="请输入" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">通知模板：</span>
        <el-select v-model="noticeItem" placeholder="请选择" @change="changeMsgMode">
          <el-option v-for="(item, index) in noticeModeList" :key="index" :label="item.typeName" :value="index" />
        </el-select>
      </div>
      <div class="flex-c mb-20 com-radio-wrap">
        <span class="label-text"><span>*</span>通知方式：</span>
        <el-radio v-model="noticeType" label="phone">手机</el-radio>
      </div>
      <div class="flex-fs mb-20 mode-item">
        <span class="label-text">通知内容：</span>
        <el-input v-model="msgContent" type="textarea" rows="8" maxlength="500" resize="none" placeholder="请输入内容" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showMsgDialog = false">取消</el-button>
        <el-button type="primary" :loading="msgLoading" @click="submitMsg">确定</el-button>
      </span>
    </el-dialog>

    <!-- 发送邮箱弹窗 -->
    <el-dialog title="发送邮箱" :visible.sync="showEmailDialog" :close-on-click-modal="false" width="700px" class="com-dialog com-input-width">
      <div class="flex-c mb-20">
        <span class="label-text"><span />发件人：</span>
        <el-select v-model="emailSender" placeholder="请选择">
          <el-option v-for="item in emailList" :key="item.id" :label="item.displayName" :value="item.id" />
        </el-select>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">收件人：</span>
        <el-input v-model="receiveUsers" disabled />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>标题：</span>
        <el-input v-model="emailTitle" placeholder="请输入" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">通知模板：</span>
        <el-select v-model="emailNoticeItem" placeholder="请选择" @change="changeEmailMode">
          <el-option v-for="(item, index) in emailNoticeModeList" :key="index" :label="item.typeName" :value="index" />
        </el-select>
      </div>
      <div class="flex-c mb-20 com-radio-wrap">
        <span class="label-text"><span>*</span>通知方式：</span>
        <el-radio v-model="emailNoticeType" label="email">邮件</el-radio>
      </div>
      <div class="flex-fs mode-item">
        <span class="label-text">通知内容：</span>
        <vue-ueditor-wrap v-model="emailContent" :config="editConfig" />
      </div>
      <div class="rich-label">
        <p>最多只能输入包含富文本标签在内的500个字符</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showEmailDialog = false">取消</el-button>
        <el-button type="primary" :loading="msgLoading" @click="submitEmail">确定</el-button>
      </span>
    </el-dialog>

    <!-- 导入材价弹窗 -->
    <el-dialog :title="isCustomize?'导入自定义材价':'导入材价'" :visible.sync="showImportDialog" :close-on-click-modal="false" width="520px" class="com-dialog">
      <div class="flex-c mb-20">
        <span class="label-text">账号</span>
        <span v-if="multipleSelection.length > 0 && multipleSelection[0].account">{{ multipleSelection[0].account }}</span>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">负责人名称</span>
        <span v-if="multipleSelection.length > 0 && multipleSelection[0].linkman">{{ multipleSelection[0].linkman }}</span>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">单位</span>
        <span v-if="multipleSelection.length > 0 && multipleSelection[0].unitName">{{ multipleSelection[0].unitName }}</span>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">适用周期</span>
        <el-select v-model="dialogCurCycle" style="width: 100%;" placeholder="请选择" @change="changeDialogCycle">
          <el-option v-for="item in cycleList" :key="item.id" :label="item.howPeriod" :value="item.id" />
        </el-select>
      </div>
      <div class="flex-c mb-20 com-upload">
        <span class="label-text">材价上传</span>
        <div class="flex-c">
          <div class="w-274 u-ipt">{{ fileObj.name }}</div>
          <div class="u-btn">上传</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" class="u-file" type="file" @change="uploadFile($event)">
        </div>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">上传模板</span>
        <el-select v-model="curTempId" style="width: 100%;" placeholder="请选择">
          <el-option v-for="item in tempList" :key="item.id" :label="item.tempname" :value="item.id" />
        </el-select>
        <el-button class="download-btn" type="primary" size="small" :loading="downloadLoading" @click="downloadTemp">下载</el-button>
      </div>
      <div v-if="isCustomize" style="color: #ff0000;margin-left: 27px;">注意：添加的自定义材价不会执行标准化程序。</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog = false">取消</el-button>
        <el-button type="primary" @click="confirmUploadMaterialFile">确定</el-button>
      </span>
    </el-dialog>

    <!-- 账号开通弹窗 -->
    <el-dialog title="账号开通" :visible.sync="showCreateUserDialog" :close-on-click-modal="false" width="540px" class="com-dialog create-user-dialog">
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>账号：</span>
        <el-input v-model="createUserParams.account" maxlength="6" clearable placeholder="请输入6位由英文与数字组成的账号" @input="checkInput" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>单位名称：</span>
        <el-input v-model="createUserParams.unitName" maxlength="20" clearable placeholder="请输入单位名称" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span /><span>*</span>企业类型：</span>
        <el-select v-model="createUserParams.companyType" style="width: 100%;" placeholder="请选择企业类型" clearable>
          <el-option v-for="item in companyTypeList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode" />
        </el-select>
      </div>
      <!-- <div class="flex-fs mb-20">
        <span class="label-text"><span></span><span>*</span>上报类型：</span>
        <div>
          <el-checkbox-group v-model="createUserParams.checkedList" @change="changeCheckedQuoteType($event, 'create')">
            <el-checkbox
              :label="item.dictName"
              :key="index"
              v-for="(item, index) in quoteTypeList"></el-checkbox>
          </el-checkbox-group>
        </div>
      </div> -->
      <div class="flex-c mb-20 region-wrap">
        <span class="label-text"><span /><span>*</span>地区：</span>
        <el-select v-model="createUserParams.provinceId" placeholder="---省---" clearable @change="changeProvince($event, 'create')">
          <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id" />
        </el-select>
        <el-select v-model="createUserParams.cityId" style="margin: 0 10px;" placeholder="---市---" clearable @change="changeCity($event, 'create')">
          <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id" />
        </el-select>
        <el-select v-model="createUserParams.regionId" placeholder="---区---" clearable @change="changeRegion($event, 'create')">
          <el-option v-for="item in regionList" :key="item.name" :label="item.name" :value="item.id" />
        </el-select>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">详细地址：</span>
        <el-input v-model="createUserParams.address" placeholder="请输入详细地址" clearable />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>负责人姓名：</span>
        <el-input v-model="createUserParams.name" maxlength="20" clearable placeholder="请输入负责人姓名" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>负责人手机号码：</span>
        <el-input v-model="createUserParams.mobile" maxlength="11" clearable placeholder="请输入手机电话" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">办公电话：</span>
        <el-input v-model="createUserParams.phone" placeholder="请输入办公电话" clearable oninput="this.value = this.value.replace(/[^0-9 | ^-]/g , '');" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">负责人微信：</span>
        <el-input v-model="createUserParams.weChat" clearable placeholder="请输入微信" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">负责人QQ：</span>
        <el-input v-model="createUserParams.qq" clearable placeholder="请输入QQ" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">负责人邮箱：</span>
        <el-autocomplete v-model="createUserParams.email" clearable :fetch-suggestions="querySearchEmail" :trigger-on-focus="false" placeholder="请输入邮箱" @input="checkInput('email')" />
        <!-- <el-input v-model="createUserParams.email" clearable placeholder="请输入邮箱" @input="checkInput('email')" /> -->
      </div>
      <!-- 营业执照 -->
      <div class="flex-c mb-20">
        <span class="nw label-text">营业执照：</span>
        <div class="head-wrap1">
          <div v-if="businessLicense" class="upload-wrap1">
            <el-image class="img1" :src="businessLicense" :preview-src-list="[businessLicense]" />
            <div class="upload-edit">
              <div class="delete" @click="deleteImg">
                <i class="el-icon-error" />
              </div>
            </div>
          </div>
          <div v-else class="upload-input">
            <img src="@/assets/img/logo_default.png" alt="">
            <input ref="fileElems" type="file" class="u-btnss" accept="image/jpeg,image/png,image/jpg,image/bmp" @change="uploadBusinessLicense($event)">
          </div>
        </div>
      </div>
      <!-- 营业执照 end -->

      <!-- <div class="flex-c com-upload">
        <span class="label-text">附件上传：</span>
        <div class="flex-c">
          <div class="u-ipt">{{createUserParams.uploadFileName}}</div>
          <div class="u-btn">上传</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" class="u-file" type="file" @change="uploadAccountFile($event)" />
        </div>
      </div> -->

      <span slot="footer" class="dialog-footer">
        <el-button @click="showCreateUserDialog = false">取消</el-button>
        <el-button type="primary" :loading="createUserParams.loading" @click="submitCreateUser">确定</el-button>
      </span>
    </el-dialog>

    <!-- 批量开通弹窗 -->
    <el-dialog title="账号开通" :visible.sync="showBatchDialog" :close-on-click-modal="false" width="490px" class="com-dialog">
      <div class="flex-c mb-20 com-upload">
        <span class="label-text">选择文件：</span>
        <div class="flex-c">
          <div class="u-ipt">{{ fileObj.name }}</div>
          <div class="u-btn">上传</div>
          <div class="u-dot">...</div>
          <input ref="fileElem" class="u-file" type="file" @change="uploadFile($event)">
        </div>
      </div>
      <div class="flex-c">
        <span class="label-text">模板下载：</span>
        <span class="u-mode-btn" @click="downloadUserTemplate">负责人导入模板.xlsx</span>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="showBatchDialog = false">取消</el-button>
        <el-button type="primary" :loading="batchUploadLoading" @click="batchCreateUser">确定</el-button>
      </span>
    </el-dialog>

    <!-- 资料详情弹窗 -->
    <el-dialog title="资料详情" :visible.sync="showUserDetailDialog" :close-on-click-modal="false" width="600px" class="com-dialog create-user-dialog user-detail-dialog">
      <!-- <div class="flex-fe">
        <div class="norm-wrap" @click="showNorm">
          <span class="el-icon-s-check"></span>
          <span>查看审核标准</span>
        </div>
      </div> -->
      <div class="flex-c mb-20 mt-20">
        <span class="label-text l-title">单位名称：</span>
        <div v-if="curUserInfo">{{ curUserInfo.unitName }}</div>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>账号：</span>
        <el-input v-model="curUserInfo.account" maxlength="6" placeholder="请输入6位由英文与数字组成的账号" disabled />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span /><span>*</span>企业类型：</span>
        <el-select v-model="curUserInfo.enterpriseTypeCode" style="width: 100%;" placeholder="请选择企业类型" :disabled="!isUpdate">
          <el-option v-for="item in companyTypeList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode" />
        </el-select>
      </div>
      <!-- <div class="flex-fs mb-20">
        <span class="label-text"><span></span><span>*</span>上报类型：</span>
        <div>
          <el-checkbox-group v-model="curUserInfo.checkedList" @change="changeCheckedQuoteType($event, 'update')" :disabled="!isUpdate">
            <el-checkbox
              :label="item.dictName"
              :key="index"
              v-for="(item, index) in quoteTypeList"></el-checkbox>
          </el-checkbox-group>
        </div>
      </div> -->
      <div class="flex-c mb-20 region-wrap">
        <span class="label-text"><span /><span>*</span>地区：</span>
        <el-select v-model="curUserInfo.province" placeholder="---省---" :disabled="!isUpdate" @change="changeProvince($event, 'update')">
          <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id" />
        </el-select>
        <el-select v-model="curUserInfo.city" style="margin: 0 10px;" placeholder="---市---" :disabled="!isUpdate" @change="changeCity($event, 'update')">
          <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id" />
        </el-select>
        <el-select v-model="curUserInfo.region" placeholder="---区---" :disabled="!isUpdate" @change="changeRegion($event, 'update')">
          <el-option v-for="item in regionList" :key="item.name" :label="item.name" :value="item.id" />
        </el-select>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">详细地址：</span>
        <el-input v-model="curUserInfo.address" placeholder="请输入详细地址" :disabled="!isUpdate" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>负责人姓名：</span>
        <el-input v-model="curUserInfo.linkman" maxlength="20" placeholder="请输入姓名" :disabled="!isUpdate" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>负责人手机号码：</span>
        <el-input v-model="curUserInfo.phone" maxlength="11" placeholder="请输入手机电话" oninput="this.value = this.value.replace(/[^0-9]/g, '');" :disabled="!isUpdate" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">办公电话：</span>
        <el-input v-model="curUserInfo.officePhone" placeholder="请输入办公电话" oninput="this.value = this.value.replace(/[^0-9 | ^-]/g , '');" :disabled="!isUpdate" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">负责人微信：</span>
        <el-input v-model="curUserInfo.weChat" placeholder="请输入微信" :disabled="!isUpdate" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">负责人QQ：</span>
        <el-input v-model="curUserInfo.qq" placeholder="请输入QQ" :disabled="!isUpdate" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">负责人邮箱：</span>
        <!-- <el-input v-model="curUserInfo.email" placeholder="请输入邮箱" :disabled="!isUpdate" @input="checkEmail" /> -->
        <el-autocomplete v-model="curUserInfo.email" :fetch-suggestions="querySearchEmail" :trigger-on-focus="false" :disabled="!isUpdate" placeholder="请输入邮箱" @input="checkEmail" />
      </div>
      <!-- 营业执照 -->
      <div class="flex-c mb-20">
        <span class="nw label-text">营业执照：</span>
        <div class="head-wrap1">
          <div v-if="curUserInfo.businessLicense" class="upload-wrap1">
            <el-image class="img1" :src="curUserInfo.businessLicense" :preview-src-list="[curUserInfo.businessLicense]" />
            <div class="upload-edit">
              <div class="delete" @click="deleteImg('look')">
                <i v-if="isUpdate" class="el-icon-error" />
              </div>
            </div>
          </div>
          <div v-else class="upload-input">
            <img src="@/assets/img/logo_default.png" alt="">
            <input ref="fileElems" :disabled="!isUpdate" type="file" class="u-btnss" accept="image/jpeg,image/png,image/jpg,image/bmp" @change="uploadBusinessLicense($event,'look')">
          </div>
        </div>
      </div>
      <!-- 营业执照 end -->
      <!-- <div class="flex-fs mb-20">
        <span class="label-text">添加批注：</span>
        <el-input v-model="curUserInfo.remark" type="textarea" placeholder="请添加批注" resize="none" rows="3" maxlength="500" :disabled="!isUpdate" />
      </div> -->
      <!-- <div class="flex-c mb-20 mt-20">
        <span class="label-text">审核状态：</span>
        <div>
          <span v-if="curUserInfo.state == '0'">待审核</span>
          <span v-if="curUserInfo.state == '1'">审核通过</span>
          <span v-if="curUserInfo.state == '2'">审核不通过</span>
        </div>
      </div> -->

      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelInfoDialog">取消</el-button>
        <!-- <el-button type="primary" :loading="stateLoading" class="ac-btn ac-state-btn" @click="openState" v-has="$roles.fun_raiseprice_messager_aduitmessager">
          <span>更改审核状态</span>
          <ul :class="{active: isShowStateOpen}">
            <li @click.stop="confirmState(1)">审核通过</li>
            <li @click.stop="confirmState(2)">审核不通过</li>
          </ul>
        </el-button> -->
        <el-button v-if="!isUpdate" type="primary" @click="isUpdate = true">修改资料</el-button>
        <el-button v-if="isUpdate" type="primary" :loading="updateLoading" @click="updateUserInfo">保存</el-button>
        <el-button type="primary" :loading="exportLoading" @click="exportFile('detail')">导出</el-button>
      </span>
    </el-dialog>

    <!-- 通知记录弹窗 -->
    <el-dialog title="通知记录" :visible.sync="showRecordDialog" :close-on-click-modal="false" width="850px" class="com-dialog notice-dialog">
      <el-table ref="multipleTable" v-loading="noticeLoading" :data="noticeList" tooltip-effect="dark" style="width: 100%">
        <el-table-column label="标题">
          <template slot-scope="scope">
            <span v-html="scope.row.sendTitle" />
          </template>
        </el-table-column>
        <el-table-column label="内容">
          <template slot-scope="scope">
            <span v-html="scope.row.sendBody" />
          </template>
        </el-table-column>
        <el-table-column prop="sendType" label="通知方式" />
        <el-table-column label="发送时间">
          <template slot-scope="scope">
            <span>{{ scope.row.createOn | formatTime }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="creator" label="发送人" />
      </el-table>
      <div v-if="noticeParams.total > 0" class="flex-csb mt-20 com-pages-wrap">
        <div class="left-page" />
        <div class="flex-c right-page">
          <el-pagination background :current-page.sync="noticeParams.currentPage" :page-size="noticeParams.pageSize" layout="prev, pager, next, jumper" :total="noticeParams.total"
            @current-change="toggleNoticePage" />
          <div class="com-page-btn" @click="showRecordDialog = false">确定</div>
        </div>
      </div>

      <!-- <span slot="footer" class="dialog-footer">
        <el-button @click="showRecordDialog = false">取消</el-button>
        <el-button type="primary" @click="showRecordDialog = false">确定</el-button>
      </span> -->
    </el-dialog>

    <!-- 批量账号开通成功弹窗 -->
    <el-dialog title="账号开通" :visible.sync="showBatchSuccessDialog" :close-on-click-modal="false" width="600px" class="com-dialog com-scan-dialog">
      <div>
        <div class="flex-cc scan-success">
          <img src="@/assets/img/cs/success_img.png" alt="">
          <p>批量开通账号成功<span class="suc-num">{{ successCount }}</span>条，失败<span class="err-num">{{ failCount }}</span>条</p>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button v-if="failCount > 0" :download-key-loading="downloadKeyLoading" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="showBatchSuccessDialog = false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加自定义材价结果弹窗 -->
    <el-dialog title="添加自定义材价" :visible.sync="showResDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog resultdialog">
      <div v-if="resStatus==3" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/reStandard2.png" alt="" style="margin-bottom:30px;">
        <p>正在安全扫描...</p>
      </div>
      <div v-if="resStatus==1" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/success_img.png" alt="" class="img2">
        <p>导入成功<span class="suc-num2">{{ successCount }}</span>条，失败<span class="err-num2">{{ failCount }}</span>条</p>
      </div>
      <div v-if="resStatus==2" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/error_img.png" alt="" class="img2">
        <p v-if="errMsg">{{ errMsg }}</p>
        <p v-else>上传失败，请重试</p>
      </div>
      <span v-if="resStatus!=3" slot="footer" class="dialog-footer">
        <el-button v-if="resStatus==1 && failCount > 0" style="border:1px solid #2773FC;" :loading="downloadKeyLoading" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="showResDialog=false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 标准化弹窗 -->
    <ScanLoading v-if="startScan" :title="'导入材价'" :scan-state="scanState" :fail-count="failCount" :success-count="successCount" :download-key-loading="downloadKeyLoading" @confirmScan="confirmScan"
      @downloadErrorList="downloadErrorList" />
  </div>
</template>

<script>
import VueUeditorWrap from 'vue-ueditor-wrap'
import ScanLoading from '@/components/ScanLoading'
import { getSysDictList, getOperablePeriodList } from '@/api/cs/materialManage'
import {
  getUsersList,
  deleteUsers,
  exportUsers,
  initPassword,
  sendEmailMessage,
  sendSmsMessage,
  getRegion,
  createOrUpdateUser,
  getAuditInfo,
  getTemplateInfoList,
  getNoticeListPage,
  getEmailList,
  changeAuditState,
  batchUsers,
  getAddAccountImportTemplate,
  getUploadMaterialPriceList,
  collectrImportMatPrice,
  downloadTempFile
} from '@/api/cs/user'
import {
  getCycleInfo,
  uploadBusinessLicenseImg
} from '@/api/cs/collectTemplate'
import { downloadErrorExcel } from '@/api/cs/common'
import { formatDate, validPhone, validEmail, toDBC } from '@/utils/common'

export default {
  filters: {
    formatTime(val) {
      return formatDate(val, '1')
    }
  },
  components: {
    VueUeditorWrap,
    ScanLoading
  },
  data() {
    return {
      successCount: 0, // 标准化成功数
      failCount: 0, // 标准化失败数
      scanTimer: null, // 标准化定时器
      scanState: '0', // 0请求进行中，1请求成功，2请求失败
      startScan: false, // 开始标准化
      tempList: [],
      curTempId: '',
      failCount: 0,
      successCount: 0,
      showBatchSuccessDialog: false,
      emailList: [], // 邮箱列表
      showRecordDialog: false,
      auditInfo: '', // 审核标准信息
      msgLoading: false,
      updateLoading: false,
      isUpdate: false,
      isShowStateOpen: false,
      curUserInfo: {},
      provinceList: [],
      cityList: [],
      regionList: [],
      businessLicense: '',
      createUserParams: {
        // 开通单个账号弹窗属性
        account: '',
        unitName: '',
        companyType: '',
        reportType: '',
        checkedList: [],
        checkedIdList: [],
        provinceId: '',
        cityId: '',
        regionId: '',
        provinceName: '',
        cityName: '',
        regionName: '',
        address: '',
        name: '',
        phone: '',
        mobile: '',
        qq: '',
        email: '',
        uploadFile: null,
        uploadFileName: '',
        weChat: '',
        loading: false,
        businessLicense: ''
      },
      isShowOpen: false, // 显示开通账号按钮列表
      editConfig: {
        // uedit配置
        toolbars: [
          ['FullScreen', 'fontsize', 'Source', 'Undo', 'Redo', 'Bold']
        ],
        initialFrameWidth: 470,
        initialFrameHeight: 200,
        maximumWords: 500,
        wordCount: false,
        wordOverFlowMsg: '你输入的字符个数已经超出最大允许值',
        zIndex: 99999,
        elementPathEnabled: false,
        enableAutoSave: false,
        autoHeightEnabled: false,
        UEDITOR_HOME_URL: '/UEditor/'
      },
      emailContent: '', // 邮箱通知内容
      emailNoticeType: 'email', // 通知方式（邮箱）
      emailNoticeItem: '',
      emailNoticeModeList: [], // 邮箱通知模板
      emailTitle: '', // 邮箱标题
      emailSender: null, // 当前选择的发件人
      emailSendList: [], // 邮箱发件人列表
      noticeType: 'phone', // 通知方式
      noticeItem: '',
      noticeModeList: [], // 短信通知模板
      msgContent: '', // 短信内容
      msgTitle: '', // 短信标题
      receiveUsers: '', // 短信收件人
      exportLoading: false,
      curQuoteState: null,
      quoteState: [
        {
          // 报价状态
          label: '全部',
          state: null
        },
        {
          label: '当月未报价',
          state: 0
        },
        {
          label: '当月已报价',
          state: 1
        }
      ],
      curCheckState: null,
      checkState: [
        {
          // 审核状态
          label: '全部',
          state: null
        },
        {
          label: '待审核',
          state: 0
        },
        {
          label: '审核通过',
          state: 1
        },
        {
          label: '审核不通过',
          state: 2
        }
      ],
      quoteTypeList: [], // 报价类型
      curQuoteTypeCode: '',
      companyTypeList: [], // 企业类型
      curCompanyTypeCode: '',
      validStartDate: '', // 适用起始时间
      validEndDate: '', // 适用结束时间
      tableData: [],
      multipleSelection: [],
      pageSize: 10,
      currentPage: 1,
      totalCount: 0,
      loading: false,
      initPasswordLoading: false,
      showSetListDialog: false,
      showMsgDialog: false,
      showEmailDialog: false,
      showCreateUserDialog: false,
      showBatchDialog: false,
      showUserDetailDialog: false,
      checkList: [
        // 表头列表
        '账号',
        '单位',
        '负责人名称',
        '企业类型',
        // '通知记录',
        '添加时间',
        // '最近登录',
        // '审核状态',
        '用户角色',
        // '备注',
        '负责人手机号码',
        '负责人微信',
        '负责人QQ',
        '负责人邮箱',
        '营业执照',
        '地址',
        '办公电话'
      ],
      checkedList: [
        // 列表选中的设置项
        '账号',
        '单位',
        '负责人名称',
        '企业类型',
        // '通知记录',
        '添加时间',
        // '最近登录',
        // '审核状态',
        '用户角色',
        // '备注',
        '负责人手机号码',
        '负责人微信',
        '负责人QQ',
        '负责人邮箱',
        '营业执照',
        '地址',
        '办公电话'
      ],
      noticeParams: {
        currentPage: 1,
        pageSize: 5,
        messagerId: '',
        total: 0
      },
      noticeList: [], // 通知记录列表
      noticeLoading: false,
      stateLoading: false,
      fileObj: {},
      batchUploadLoading: false,
      cycleList: [], // 周期列表
      dialogCurCycle: '',
      downloadLoading: false,
      deleteLoading: false,
      downloadKey: '',
      downloadKeyLoading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      showImportDialog: false, // 显示导入材料弹窗
      isCustomize: false, // 导入是否为自定义材价
      showResDialog: false, //  显示添加自定义材价结果弹窗
      errMsg: '', //  失败信息
      resStatus: '', //  导入自定义材价结果 1成功 2失败
      srcList: [],
      srcLists: [],
      srcLists1: []
    }
  },

  mounted() {
    this.getCompanyTypeList()
    // this.getQuoteTypeList()
    this.getUsersList()
    this.getRegion()
    // this.getAuditInfo()
    this.getEmailList()
    // this.getCycleInfo()
    // this.getUploadMaterialPriceList()
    this.getOperablePeriodList()
  },
  methods: {
    // 邮箱自动填充后缀名
    querySearchEmail(queryString, callback) {
      queryString = queryString.replace(/[^\a-\z\A-\Z0-9\@\.]/g, '')
      const emailList = [
        { value: '@qq.com' },
        { value: '@126.com' },
        { value: '@163.com' },
        { value: '@sina.com' },
        { value: '@21cn.com' },
        { value: '@sohu.com' },
        { value: '@yahoo.com.cn' },
        { value: '@tom.com' },
        { value: '@etang.com' },
        { value: '@eyou.com' },
        { value: '@56.com' },
        { value: '@x.cn' },
        { value: '@chinaren.comsogou.com' },
        { value: '@citiz.com' }
      ]
      let results = []
      const queryList = []
      emailList.map(item => {
        queryList.push({ value: queryString.split('@')[0] + item.value })
      })
      results = queryString
        ? queryList.filter(this.createFilter(queryString))
        : queryList
      callback(results)
    },
    // 邮箱填写过滤
    createFilter(queryString) {
      return item => {
        return item.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
      }
    },
    // 上传营业执照
    uploadBusinessLicense(e, item) {
      const file = e.target.files[0]
      const hasType = ['image/jpeg', 'image/png', 'image/jpg', 'image/bmp']
      if (hasType.indexOf(file.type) === -1) {
        this.$message({
          type: 'error',
          message: '请上传正确格式的图片'
        })
        return
      }
      const formData = new FormData()
      formData.append('matPriceFile', file)
      this.uploadLoading = true
      uploadBusinessLicenseImg(formData)
        .then(res => {
          this.uploadLoading = false
          if (res.code === '01') {
            if (item === 'look') {
              this.curUserInfo.businessLicense = res.body.show_src
              this.srcLists1 = []
              this.srcLists1.push(res.body.show_src)
              return
            }
            this.businessLicense = res.body.show_src
            this.srcLists = []
            this.srcLists.push(res.body.show_src)
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.uploadLoading = false
        })
    },
    deleteImg(item) {
      if (item === 'look') {
        this.curUserInfo.businessLicense = ''
        return
      }
      this.businessLicense = null
    },

    openImg(item) {
      this.srcList = []
      this.srcList.push(item)
    },
    // 邮箱输入校验
    checkEmail() {
      // 只能输入英文、数字、@、.
      this.curUserInfo.email = this.curUserInfo.email.replace(
        /[^\a-\z\A-\Z0-9\@\.]/g,
        ''
      )
    },
    // 数值校验
    checkInput(type) {
      if (type == 'email') {
        // 只能输入英文、数字、@、.
        this.createUserParams.email = this.createUserParams.email.replace(
          /[^\a-\z\A-\Z0-9\@\.]/g,
          ''
        )
      } else {
        // 只能输入英文、数字
        this.createUserParams.account = this.createUserParams.account.replace(
          /[^\a-\z\A-\Z0-9]/g,
          ''
        )
      }
    },
    // 导入材价周期和模板
    getOperablePeriodList() {
      this.tempList = []
      getOperablePeriodList().then(res => {
        if (res.code == '01') {
          this.cycleList = res.body
          for (var i = 0; i < this.cycleList.length; i++) {
            const item = this.cycleList[i]
            item.tempname =
              this.$store.getters.city +
              '上报材料第' +
              this.cycleList[i].period +
              '期材料模板'
            this.tempList.push(item)
          }
        }
      })
    },
    // 取消弹窗
    cancelInfoDialog() {
      this.showUserDetailDialog = false
    },
    // 下载模板
    downloadTemp() {
      if (!this.curTempId) {
        this.$message({
          type: 'error',
          message: '请选择要下载的模板'
        })
        return
      }
      // 需下载的模板名
      var curTemplate = ''
      var tempId = null
      for (var i = 0; i < this.tempList.length; i++) {
        if (this.curTempId == this.tempList[i].id) {
          curTemplate = this.tempList[i].tempname
          tempId = this.tempList[i].tempId
        }
      }

      var params = {
        tempId: tempId,
        isCustomize: this.isCustomize
      }
      this.downloadLoading = true
      downloadTempFile(params)
        .then(res => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || curTemplate + '.xls'
            )
            this.downloadLoading = false
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || curTemplate + '.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            this.downloadLoading = false
            sessionStorage.removeItem('blob_filename')
          }
        })
        .catch(err => {
          this.downloadLoading = false
        })
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.showBatchSuccessDialog = false
          this.showResDialog = false
          this.startScan = false
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            )
            this.downloadKeyLoading = false
            this.showBatchSuccessDialog = false
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
            this.showBatchSuccessDialog = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
          this.showBatchSuccessDialog = false
        })
    },
    // 标准化完成
    confirmScan() {
      this.startScan = false
      this.showImportDialog = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
    },
    // 确定导入采集员材价文件
    confirmUploadMaterialFile() {
      if (!this.dialogCurCycle) {
        this.$message({
          type: 'error',
          message: '请选择适用周期'
        })
        return
      } else if (!this.fileObj || !this.fileObj.size) {
        this.$message({
          type: 'error',
          message: '请上传材价文件'
        })
        return
      }
      var formData = new FormData()
      formData.append('file', this.fileObj)
      formData.append('isCustomize', this.isCustomize)
      formData.append('periodId', this.dialogCurCycle)
      formData.append('accountId', this.multipleSelection[0].accountId)

      if (this.isCustomize) {
        // 自定义材价
        this.showImportDialog = false
        this.resStatus = 3
        this.showResDialog = true // 导入结果弹窗
        collectrImportMatPrice(formData)
          .then(res => {
            if (res.code == '01') {
              const that = this
              setTimeout(function() {
                that.resStatus = 1
              }, 2500)
              try {
                this.failCount = res.body.failCount
                this.successCount = res.body.successCount
                this.downloadKey = res.body.downloadKey
              } catch (err) {}
            } else {
              this.resStatus = 2
              this.errMsg = res.message
            }
          })
          .catch(err => {})
      } else {
        // 接口请求开始标准化效果
        this.startScan = true
        this.scanState = '0'
        this.scanTimer = setTimeout(() => {
          collectrImportMatPrice(formData)
            .then(res => {
              if (res.code == '01') {
                this.showImportDialog = false
                this.scanState = '1'
                try {
                  this.failCount = res.body.failCount
                  this.successCount = res.body.successCount
                  this.downloadKey = res.body.downloadKey
                } catch (err) {}
              } else {
                this.scanState = '2'
              }
            })
            .catch(err => {
              this.scanState = '2'
            })
        }, this.$store.getters.loadingTime4)
      }
    },
    // 获取上传材价列表
    getUploadMaterialPriceList() {
      var data = {
        currentPage: null,
        pageSize: null,
        applyYear: null,
        keyword: null
      }
      getUploadMaterialPriceList(data).then(res => {
        if (res.code == '01') {
          this.tempList = res.body.list
        }
      })
    },
    // 切换适用周期
    changeDialogCycle(val) {
      this.curTempId = null
      // 默认显示该期材价上传模板
      for (var i = 0; i < this.tempList.length; i++) {
        if (val == this.tempList[i].id) {
          this.curTempId = this.tempList[i].id
        }
      }
    },
    // 获取周期信息
    getCycleInfo() {
      getCycleInfo().then(res => {
        if (res.code == '01') {
          this.cycleList = res.body
        }
      })
    },
    // 下载采集员模板
    downloadUserTemplate() {
      if (this.exportLoading) {
        return
      }
      this.exportLoading = true
      var loading = this.$loading({
        text: '模板下载中...',
        background: 'rgba(0, 0, 0, .3)'
      })
      getAddAccountImportTemplate()
        .then(res => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '采集员导入模板.xls'
            )
            loading.close()
            this.exportLoading = false
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {
            this.exportLoading = false
            loading.close()
          }
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '采集员导入模板.xlsx'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            loading.close()
            this.exportLoading = false
            sessionStorage.removeItem('blob_filename')
          }
        })
        .catch(err => {
          this.exportLoading = false
          loading.close()
        })
    },
    // 批量开通弹窗文件上传
    uploadFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.fileObj = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    // 提交批量开通
    batchCreateUser() {
      if (!this.fileObj || !this.fileObj.size) {
        this.$message({
          type: 'error',
          message: '请上传文件'
        })
        return
      }
      var formData = new FormData()
      formData.append('matPriceFile', this.fileObj)
      this.batchUploadLoading = true
      batchUsers(formData)
        .then(res => {
          this.batchUploadLoading = false
          if (res.code == '01') {
            this.showBatchDialog = false
            this.showBatchSuccessDialog = true
            try {
              this.successCount = res.body.successCount
              this.failCount = res.body.failCount
              this.downloadKey = res.body.downloadKey
            } catch (err) {}
            this.currentPage = 1
            this.getUsersList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.batchUploadLoading = false
        })
    },
    // 获取邮箱列表（邮箱发送->发件人）
    getEmailList() {
      getEmailList().then(res => {
        if (res.code == '01') {
          this.emailList = res.body
        }
      })
    },
    toggleNoticePage(currentPage) {
      this.noticeParams.currentPage = currentPage
      this.getNoticeListPage()
    },
    openRecordDialog(val) {
      this.showRecordDialog = true
      this.noticeParams.messagerId = val.messagerId

      this.getNoticeListPage()
    },
    // 查询采集员通知列表
    getNoticeListPage() {
      var data = {
        currentPage: this.noticeParams.currentPage,
        pageSize: this.noticeParams.pageSize,
        messagerId: this.noticeParams.messagerId
      }
      this.noticeLoading = true
      getNoticeListPage(data)
        .then(res => {
          this.noticeLoading = false
          if (res.code == '01') {
            this.noticeList = res.body.list
            this.noticeParams.total = res.body.totalCount
          }
        })
        .catch(err => {
          this.noticeLoading = false
        })
    },
    // 切换邮箱模板
    changeEmailMode(index) {
      this.emailTitle = this.emailNoticeModeList[index].typeName
      this.emailContent = this.emailNoticeModeList[index].content
    },
    // 切换短信模板
    changeMsgMode(index) {
      this.msgTitle = this.noticeModeList[index].typeName
      this.msgContent = this.noticeModeList[index].content
    },
    // 查询通知模板列表
    getTemplateInfoList(type) {
      var data = {
        currentPage: 1,
        pageSize: 99,
        templateType: type
      }
      getTemplateInfoList(data).then(res => {
        if (res.code == '01') {
          if (type == 1) {
            this.noticeModeList = res.body.list
          } else {
            this.emailNoticeModeList = res.body.list
          }
        }
      })
    },
    // 查看审核标准
    getAuditInfo() {
      getAuditInfo().then(res => {
        if (res.code == '01') {
          this.auditInfo = res.body.value
        }
      })
    },
    // 修改资料
    updateUserInfo() {
      if (!this.curUserInfo.unitName) {
        this.$message({
          type: 'error',
          message: '请输入单位名称'
        })
        return
      } else if (!this.curUserInfo.enterpriseTypeCode) {
        this.$message({
          type: 'error',
          message: '请选择企业类型'
        })
        return
      } else if (!this.curUserInfo.province) {
        this.$message({
          type: 'error',
          message: '请选择省'
        })
        return
      } else if (!this.curUserInfo.city) {
        this.$message({
          type: 'error',
          message: '请选择市'
        })
        return
      } else if (!this.curUserInfo.region) {
        this.$message({
          type: 'error',
          message: '请选择区'
        })
        return
      } else if (!this.curUserInfo.linkman) {
        this.$message({
          type: 'error',
          message: '请输入姓名'
        })
        return
      } else if (!this.curUserInfo.phone) {
        this.$message({
          type: 'error',
          message: '请输入手机号'
        })
        return
      } else if (!validPhone(this.curUserInfo.phone)) {
        this.$message({
          type: 'error',
          message: '请输入有效的手机号'
        })
        return
        // } else if (!this.curUserInfo.email) {
        //   this.$message({
        //     type: 'error',
        //     message: '请输入邮箱'
        //   })
        //   return
      } else if (
        !validEmail(this.curUserInfo.email) &&
        this.curUserInfo.email
      ) {
        this.$message({
          type: 'error',
          message: '请输入的正确邮箱格式，如：xxxxx.@xxx.com'
        })
        return
      }

      // var reportType = ''
      // if (this.curUserInfo.checkedIdList.length > 0) {
      //   reportType = this.curUserInfo.checkedIdList.join(',')
      // }
      var data = {
        unitName: this.curUserInfo.unitName,
        enterpriseTypeCode: this.curUserInfo.enterpriseTypeCode,
        province: this.curUserInfo.province,
        city: this.curUserInfo.city,
        region: this.curUserInfo.region,
        address: this.curUserInfo.address,
        linkman: this.curUserInfo.linkman,
        officePhone: this.curUserInfo.officePhone,
        phone: this.curUserInfo.phone,
        qq: this.curUserInfo.qq,
        email: this.curUserInfo.email,
        remark: this.curUserInfo.remark,
        messagerInfoId: this.curUserInfo.messagerId,
        accountId: this.curUserInfo.accountId,
        weChat: this.curUserInfo.weChat,
        businessLicense: this.curUserInfo.businessLicense
      }
      this.updateLoading = true
      createOrUpdateUser(data)
        .then(res => {
          this.updateLoading = false
          if (res.code === '01') {
            this.showUserDetailDialog = !this.showUserDetailDialog
            this.$message({
              type: 'success',
              message: '信息修改成功'
            })
            this.getUsersList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.updateLoading = false
        })
    },
    // 查看审核标准
    showNorm() {
      this.$alert(this.auditInfo, '审核标准', {
        confirmButtonText: '确定'
      })
    },
    // 修改审核状态
    confirmState(state) {
      var params = {
        state,
        messagerId: this.curUserInfo.messagerId
      }
      this.isShowStateOpen = false
      this.stateLoading = true
      changeAuditState(params)
        .then(res => {
          this.stateLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showUserDetailDialog = false
            this.getUsersList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.stateLoading = false
        })
    },
    openState() {
      this.isShowStateOpen = !this.isShowStateOpen
    },
    // 更新采集员信息
    updateUserInfoDialog(obj) {
      this.showUserDetailDialog = true
      this.isUpdate = false
      this.curUserInfo = JSON.parse(JSON.stringify(obj))
      // 回填上报类型
      if (obj.quoteType) {
        this.curUserInfo.checkedList = obj.quoteType.split(',')
      }
      if (obj.quoteTypeCodes) {
        this.curUserInfo.checkedIdList = []
        var arr = obj.quoteTypeCodes.split(',')
        for (var i = 0; i < arr.length; i++) {
          this.curUserInfo.checkedIdList.push(arr[i])
        }
      }
      // 回填省、市、区
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].name === obj.province) {
          this.cityList = this.provinceList[i].subList
        }
      }
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].name === obj.city) {
          this.regionList = this.cityList[i].subList
        }
      }
    },
    changeCheckedQuoteType(e, type) {
      if (type === 'create') {
        this.createUserParams.checkedIdList = []
        for (var i = 0; i < e.length; i++) {
          for (var j = 0; j < this.quoteTypeList.length; j++) {
            if (e[i] === this.quoteTypeList[j].dictName) {
              this.createUserParams.checkedIdList.push(
                this.quoteTypeList[j].dictCode
              )
            }
          }
        }

        this.createUserParams = JSON.parse(
          JSON.stringify(this.createUserParams)
        )
      } else {
        this.curUserInfo.checkedIdList = []
        for (var i = 0; i < e.length; i++) {
          for (var j = 0; j < this.quoteTypeList.length; j++) {
            if (e[i] === this.quoteTypeList[j].dictName) {
              this.curUserInfo.checkedIdList.push(
                this.quoteTypeList[j].dictCode
              )
            }
          }
        }

        // 解决对象深拷贝（去掉会导致数据修改后无法响应）
        this.curUserInfo = JSON.parse(JSON.stringify(this.curUserInfo))
      }
    },
    // 账号附件上传
    uploadAccountFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.createUserParams.uploadFile = e.target.files[0]
        this.createUserParams.uploadFileName = e.target.files[0].name
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    // 创建用户
    submitCreateUser() {
      var reg = new RegExp('^[A-Za-z0-9]+$')
      if (!this.createUserParams.account) {
        this.$message({
          type: 'error',
          message: '请输入账号'
        })
        return
      } else if (!reg.test(this.createUserParams.account)) {
        this.$message({
          type: 'error',
          message: '账号只能为英文、数字'
        })
        return
      } else if (!this.createUserParams.unitName) {
        this.$message({
          type: 'error',
          message: '请输入单位名称'
        })
        return
      } else if (!this.createUserParams.companyType) {
        this.$message({
          type: 'error',
          message: '请选择企业类型'
        })
        return
      } else if (!this.createUserParams.provinceName) {
        this.$message({
          type: 'error',
          message: '请选择省'
        })
        return
      } else if (!this.createUserParams.cityName) {
        this.$message({
          type: 'error',
          message: '请选择市'
        })
        return
      } else if (!this.createUserParams.regionName) {
        this.$message({
          type: 'error',
          message: '请选择区'
        })
        return
      } else if (!this.createUserParams.name) {
        this.$message({
          type: 'error',
          message: '请输入姓名'
        })
        return
      } else if (!this.createUserParams.mobile) {
        this.$message({
          type: 'error',
          message: '请输入手机号'
        })
        return
      } else if (!validPhone(this.createUserParams.mobile)) {
        this.$message({
          type: 'error',
          message: '请输入有效的手机号'
        })
        return
        // } else if (!this.createUserParams.email) {
        //   this.$message({
        //     type: 'error',
        //     message: '请输入邮箱'
        //   })
        //   return
      } else if (
        !validEmail(this.createUserParams.email) &&
        this.createUserParams.email
      ) {
        this.$message({
          type: 'error',
          message: '请输入的正确邮箱格式，如：xxxxx.@xxx.com'
        })
        return
      }

      // var reportType = ''
      // if (this.createUserParams.checkedIdList.length > 0) {
      //   reportType = this.createUserParams.checkedIdList.join(',')
      // }
      var data = {
        unitName: this.createUserParams.unitName,
        enterpriseTypeCode: this.createUserParams.companyType,
        province: this.createUserParams.provinceName,
        city: this.createUserParams.cityName,
        region: this.createUserParams.regionName,
        address: this.createUserParams.address,
        linkman: this.createUserParams.name,
        officePhone: this.createUserParams.phone,
        phone: this.createUserParams.mobile,
        qq: this.createUserParams.qq,
        email: this.createUserParams.email,
        userAccount: this.createUserParams.account,
        weChat: this.createUserParams.weChat,
        businessLicense: this.businessLicense
      }
      this.createUserParams.loading = true
      createOrUpdateUser(data)
        .then(res => {
          this.createUserParams.loading = false
          if (res.code === '01') {
            this.showCreateUserDialog = !this.showCreateUserDialog
            // this.$message({
            //   type: 'success',
            //   message: res.message
            // })
            this.getUsersList()
            this.$alert(res.body, '操作提示', {
              confirmButtonText: '确定',
              type: 'success'
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.createUserParams.loading = false
        })
    },
    // 切换省份
    changeProvince(id, type) {
      if (type == 'create') {
        for (var i = 0; i < this.provinceList.length; i++) {
          if (this.provinceList[i].id === id) {
            this.createUserParams.provinceName = this.provinceList[i].name
            this.cityList = this.provinceList[i].subList
            this.createUserParams.cityId = ''
            this.createUserParams.regionId = ''
          }
        }
      } else {
        for (var i = 0; i < this.provinceList.length; i++) {
          if (this.provinceList[i].id === id) {
            this.curUserInfo.province = this.provinceList[i].name
            this.cityList = this.provinceList[i].subList
            this.curUserInfo.city = ''
            this.curUserInfo.region = ''
          }
        }
      }
    },
    // 切换城市
    changeCity(id, type) {
      if (type == 'create') {
        for (var i = 0; i < this.cityList.length; i++) {
          if (this.cityList[i].id === id) {
            this.createUserParams.cityName = this.cityList[i].name
            this.regionList = this.cityList[i].subList
            this.createUserParams.regionId = ''
          }
        }
      } else {
        for (var i = 0; i < this.cityList.length; i++) {
          if (this.cityList[i].id === id) {
            this.curUserInfo.city = this.cityList[i].name
            this.regionList = this.cityList[i].subList
            this.curUserInfo.region = ''
          }
        }
      }
    },
    // 切换区域
    changeRegion(id, type) {
      if (type == 'create') {
        for (var i = 0; i < this.regionList.length; i++) {
          if (this.regionList[i].id === id) {
            this.createUserParams.regionName = this.regionList[i].name
          }
        }
      } else {
        for (var i = 0; i < this.regionList.length; i++) {
          if (this.regionList[i].id === id) {
            this.curUserInfo.region = this.regionList[i].name
          }
        }
      }
    },
    // 获取地区（省、市、区）
    getRegion() {
      getRegion().then(res => {
        if (res.code === '01') {
          // console.log('获取省市区', res)
          this.provinceList = res.body
          this.cityList = this.provinceList[0].subList
          if (this.cityList && this.cityList.length > 0) {
            this.regionList = this.cityList[0].subList
          }
        }
      })
    },
    // 批量账号开通弹窗
    batchCreateUserDialog() {
      this.showBatchDialog = true
      this.isShowOpen = false
      this.fileObj = {}
      try {
        this.$refs.fileElem.value = null
      } catch (err) {}
    },
    // 单个账号弹窗
    createUser() {
      this.showCreateUserDialog = true
      this.isShowOpen = false
      this.createUserParams = {
        unitName: '',
        companyType: '',
        reportType: '',
        checkedList: [],
        checkedIdList: [],
        provinceId: '',
        cityId: '',
        regionId: '',
        provinceName: '',
        cityName: '',
        regionName: '',
        address: '',
        name: '',
        phone: '',
        mobile: '',
        qq: '',
        email: '',
        uploadFile: null,
        uploadFileName: '',
        loading: false
      }
      try {
        this.$refs.fileElem.value = null
      } catch (err) {}
    },
    // 发送短信
    submitMsg() {
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].messagerId)
      }
      if (!this.msgTitle) {
        this.$message({
          type: 'error',
          message: '请输入标题'
        })
        return
      }

      var params = {
        ids: ids.join(','),
        title: this.msgTitle,
        sendWay: this.noticeType,
        sendBody: this.msgContent
          .replace(/</g, toDBC('<'))
          .replace(/>/g, toDBC('>'))
      }
      this.msgLoading = true
      sendSmsMessage(params)
        .then(res => {
          this.msgLoading = false
          if (res.code == '01') {
            this.multipleSelection = []
            this.showMsgDialog = false
            this.openAlert('发送通知成功！', 'success')
            this.getUsersList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.msgLoading = false
        })
    },
    // 发送短信弹窗
    sendMsg() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var names = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        names.push(this.multipleSelection[i].linkman)
      }
      this.receiveUsers = names.join(',')

      this.showMsgDialog = true
      this.msgTitle = ''
      this.noticeItem = ''
      this.msgContent = ''

      this.getTemplateInfoList(1)
    },
    // 发送邮箱
    submitEmail() {
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].messagerId)
      }
      if (!this.emailTitle) {
        this.$message({
          type: 'error',
          message: '请输入标题'
        })
        return
      } else if (this.emailContent.length > 500) {
        this.$message({
          type: 'error',
          message: '通知内容不能超过500字符(包含富文本标签)'
        })
        return
      }

      var params = {
        ids: ids.join(','),
        sendUserId: this.emailSender,
        title: this.emailTitle,
        sendWay: this.emailNoticeType,
        sendBody: this.emailContent
      }
      this.msgLoading = true
      sendEmailMessage(params)
        .then(res => {
          this.msgLoading = false
          if (res.code == '01') {
            this.multipleSelection = []
            this.showEmailDialog = false
            this.openAlert('发送通知成功！', 'success')
            this.getUsersList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.msgLoading = false
        })
    },
    // 发送邮箱弹窗
    sendEmail() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var names = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        names.push(this.multipleSelection[i].linkman)
      }
      this.receiveUsers = names.join(',')

      this.showEmailDialog = true
      this.emailSender = null
      this.emailTitle = ''
      this.emailNoticeItem = ''
      this.emailContent = ''

      this.getTemplateInfoList(2)
    },
    // 重置密码
    initPassword() {
      if (this.multipleSelection.length !== 1) {
        this.openAlert('请只选择一个需要重置密码的账号！')
        return
      }
      this.$confirm(
        '确定重置[' + this.multipleSelection[0].account + ']的密码吗?',
        '提示',
        {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }
      ).then(() => {
        var accountId = this.multipleSelection[0].accountId
        var params = {
          accountId: accountId
        }
        this.initPasswordLoading = true
        initPassword(params)
          .then(res => {
            this.initPasswordLoading = false
            if (res.code == '01') {
              this.multipleSelection = []
              this.getUsersList()
              this.$alert(res.body, '操作提示', {
                confirmButtonText: '确定',
                type: 'success'
              })
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.initPasswordLoading = false
          })
      })
    },
    openAccount() {
      this.isShowOpen = !this.isShowOpen
    },
    // 导入材料弹窗
    importFileDialog(type) {
      if (type == '1') {
        // 导入材价
        this.isCustomize = false
      } else if (type == '2') {
        // 导入自定义材价
        this.isCustomize = true
      }
      if (this.multipleSelection.length == 1) {
        this.showImportDialog = true
        this.dialogCurCycle = null
        this.curTempId = null
        this.fileObj = {}
        try {
          this.$refs.fileElem.value = null
        } catch (err) {}
      } else {
        this.openAlert('请只选择一个采集员导入！')
        return
      }
    },
    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.$message({
          type: 'error',
          message: '没有可导出数据'
        })
        return
      }
      var data = {
        beginOn: this.validStartDate ? formatDate(this.validStartDate) : null,
        endOn: this.validEndDate ? formatDate(this.validEndDate) : null,
        // checkStatus: this.curCheckState !== null ? this.curCheckState : null,
        enterpriseType: this.curCompanyTypeCode
          ? this.curCompanyTypeCode
          : null,
        quoteType: this.curQuoteTypeCode ? this.curQuoteTypeCode : null,
        quotedStatus: this.curQuoteState !== null ? this.curQuoteState : null
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportUsers(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '采集员详情.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '采集员详情.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportFile(type) {
      var ids = []
      var text = '当前勾选的'
      if (type === 'detail') {
        text = '当前'
        ids.push(this.curUserInfo.messagerId)
      } else {
        if (this.multipleSelection.length > 0) {
          for (var i = 0; i < this.multipleSelection.length; i++) {
            ids.push(this.multipleSelection[i].messagerId)
          }
        } else {
          this.exportAllFile()
          return
        }
      }

      var data = {
        ids: ids
      }
      this.$confirm('确定导出' + text + '数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportUsers(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '采集员详情.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '采集员详情.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 删除采集员
    deleteUsers() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].accountId)
      }
      var params = {
        ids: ids.join(',')
      }

      this.$confirm('确定删除当前勾选的数据?', '删除', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.deleteLoading = true
        deleteUsers(params)
          .then(res => {
            this.deleteLoading = false
            if (res.code === '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.getUsersList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.deleteLoading = false
          })
      })
    },
    // 选择开始时间
    toggleDate(val) {
      if (val) {
        const beginTime = new Date(val).getTime()
        const endTime = +beginTime + 3600 * 1000 * 24 * 365
        this.validEndDate = endTime
      }
      this.currentPage = 1
      this.getUsersList()
    },
    // 结束时间
    toggleDate2() {
      this.currentPage = 1
      this.getUsersList()
    },
    // 切换报价状态
    toggleQuoteState(state) {
      this.curQuoteState = state
      this.getUsersList()
    },
    // 切换审核状态
    toggleCheckState(state) {
      this.curCheckState = state
      this.getUsersList()
    },
    // 切换企业类型
    toggleCompanyType(typeCode) {
      this.curCompanyTypeCode = typeCode
      this.getUsersList()
    },
    // 切换报价类型
    toggleQuoteType(typeCode) {
      this.curQuoteTypeCode = typeCode
      this.getUsersList()
    },
    // 获取报价类型
    getQuoteTypeList() {
      var params = {
        dictTypeId: 'QUOTE_TYPE'
      }
      getSysDictList(params).then(res => {
        this.quoteTypeList = res.body
      })
    },
    // 获取企业类型
    getCompanyTypeList() {
      var params = {
        dictTypeId: 'ENTERPRISE_TYPE'
      }
      getSysDictList(params).then(res => {
        this.companyTypeList = res.body
      })
    },
    // 采集员列表
    getUsersList() {
      var data = {
        pageSize: this.pageSize,
        currentPage: this.currentPage,
        quoteType: this.curQuoteTypeCode ? this.curQuoteTypeCode : null,
        enterpriseType: this.curCompanyTypeCode
          ? this.curCompanyTypeCode
          : null,
        checkStatus: this.curCheckState !== null ? this.curCheckState : null,
        quotedStatus: this.curQuoteState !== null ? this.curQuoteState : null,
        beginOn: this.validStartDate
          ? formatDate(this.validStartDate, '2')
          : null,
        endOn: this.validEndDate ? formatDate(this.validEndDate, '2') : null
      }
      this.loading = true
      getUsersList(data)
        .then(res => {
          this.loading = false
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 切换pageSize
    changePageSize() {
      this.currentPage = 1
      this.getUsersList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getUsersList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../../styles/cs/variables.scss';
.account-container {
  padding-top: 15px;
  .search-type {
    padding: 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
    }
  }
  .ac-btn {
    display: inline-block;
    position: relative;
    ul {
      position: absolute;
      top: 33px;
      left: -1px;
      z-index: 999;
      width: 118px;
      height: 0;
      border-radius: 0 0 5px 5px;
      box-sizing: border-box;
      background: #fff;
      overflow: hidden;
      transition: all 0.3s ease;
      &.active {
        height: 69px;
        line-height: 34.5px;
        border: 1px solid $color-primary;
        border-top: 0;
      }
      li {
        text-align: center;
        width: 100%;
        height: 50%;
        color: $color-primary;
        cursor: pointer;
        &:hover {
          background: $color-primary;
          color: #fff;
        }
      }
    }
  }
  .ac-state-btn {
    ul {
      top: -73px;
      left: 4px;
      &.active {
        border: 1px solid $color-primary;
      }
    }
  }
  .table-wrap {
    .b-text {
      color: $color-primary;
    }
  }
  .com-dialog {
    .u-mode-btn {
      color: $color-primary;
      cursor: pointer;
    }
    .download-btn {
      margin-left: 10px;
      max-width: 66px;
      min-width: 66px;
      height: 34px;
    }
  }
  .create-user-dialog {
    .el-checkbox {
      width: unset;
    }
    .l-title {
      font-size: 14px;
      font-weight: bold;
    }
    .norm-wrap {
      right: 0;
      width: 130px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid #cad6e1;
      background: #fff;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      .el-icon-s-check {
        margin-right: 6px;
        font-size: 16px;
      }
      span {
        vertical-align: middle;
      }
    }
  }
  .user-detail-dialog {
    .dialog-footer button.el-button--default {
      margin-right: 0;
    }
    button {
      padding: 0 20px;
      width: unset;
    }
  }
  .com-scan-dialog {
    .scan-success {
      padding: 20px 0;
      font-size: 14px;
      color: #333;
      img {
        margin-right: 23px;
        width: 56px;
        height: 56px;
      }
      .suc-num {
        color: #8cc929;
      }
      .err-num {
        color: $color-danger;
      }
    }
  }
  .rich-label {
    margin-top: 5px;
    text-align: right;
    color: #999;
    font-size: 12px;
    p {
      margin-right: -20px;
    }
  }

  .resultdialog {
    .scan-success2 {
      flex-direction: column;
      padding: 48px 0 20px 0;
      font-size: 14px;
      color: #333;
      .img2 {
        width: 56px;
        height: 56px;
        margin-bottom: 30px;
      }
      .suc-num2 {
        color: #8cc929;
      }
      .err-num2 {
        color: $color-danger;
      }
    }
  }
}
.com-dialog .label-text {
  min-width: 125px;
  max-width: 125px;
}
.head-wrap1 {
  .upload-wrap1 {
    display: flex;
    position: relative;
    .img1 {
      width: 224px;
      height: 132px;
    }
    &:hover {
      .upload-edit {
        display: flex;
      }
    }
    .upload-edit {
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 1;
      display: none;
      // color: #f4f4f4;
      font-size: 24px;
    }
  }
  .upload-input {
    display: flex;
    width: 200px;
    height: 60px;
    position: relative;
    .u-btnss {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0;
    }
  }
}
/deep/.el-autocomplete {
  width: 345px;
}
</style>

<style lang="scss">
.account-container {
  .com-input-width {
    input {
      width: 280px;
    }
  }
  .create-user-dialog {
    .el-dialog {
      margin-top: 5vh !important;
    }
  }
  .region-wrap {
    .el-input__suffix {
      right: 5px;
    }
  }
  .notice-dialog {
    .el-table__body-wrapper {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 500px;
    }
  }
}
</style>

