<template>
  <div class="home-set mt-10">
    <div class="com-main-wrap">
      <p class="h-label">主材清单</p>

      <div class="com-table-wrap">
        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" border style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column label="序号" width="122px">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column label="材料名称">
            <template slot-scope="scope">
              <span v-if="scope.row.id">{{ scope.row.name }}</span>
              <span v-else class="cp p-color" @click="showEditDialog = !showEditDialog">添加</span>
            </template>
          </el-table-column>
          <el-table-column prop="spec" label="规格" />
          <el-table-column prop="unit" label="单位" />
          <el-table-column v-if="$_has('mpccollect:collectTemplateDetail:adjustmentNumber') || $_has('mpccollect:collectTemplateDetail:removeMainMaterial')" label="操作" class-name="operate-btn">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span v-if="scope.row.id && $_has('mpccollect:collectTemplateDetail:removeMainMaterial')" @click="removeMainMaterial(scope.row.id)">
                  <el-tooltip effect="light" content="移除" placement="top">
                    <img style="margin-bottom: -2px;" src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>
                <span v-if="scope.row.id && $_has('mpccollect:collectTemplateDetail:adjustmentNumber')" @click="openNumDialog(scope.$index+1,scope.row.id)">
                  <el-tooltip effect="light" content="调整序号" placement="top">
                    <!-- <img src="@/assets/img/cs/icons/dels.png" alt=""> -->
                    <span class="icon iconfont icon-canshushezhi blue" />
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <p class="tip-text">您最多添加10条材料信息，设置的材料会在首页以及数据中展示</p>
      </div>
    </div>
    <!-- 调整序号弹窗 -->
    <el-dialog title="调整序号" :visible.sync="showNumDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-input">
      <div class="flex-c mb-20">
        <span class="label-text">当前序号：</span>
        <span>{{ curNum }}</span>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">新序号：</span>
        <el-input v-model="newNum" @input="checkNewNum" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showNumDialog = false">取消</el-button>
        <el-button type="primary" :loading="numLoading" @click="updateNum">确定并更新</el-button>
      </span>
    </el-dialog>
    <!-- 调整序号弹窗 end -->

    <HomeEditDialog v-if="showEditDialog" :is-current="isCurrent" :show-edit-dialog="showEditDialog" :mat-list="tableData" @closeDialog="closeDialog" />
  </div>
</template>

<script>
import HomeEditDialog from './components/HomeEditDialog'

import {
  getMainMaterialList,
  removeMainMaterial,
  sortMainMaterial
} from '@/api/cs/user'
export default {
  components: {
    HomeEditDialog
  },
  data() {
    return {
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      tableData: [],
      multipleSelection: [],
      loading: false,
      showEditDialog: false,
      isCurrent: '',

      numLoading: false,
      curMainMaterialId: undefined,
      curNum: '', // 当前序号
      newNum: '', // 新序号
      showNumDialog: false
    }
  },
  mounted() {
    this.getMainMaterialList()
  },
  methods: {
    // 移除主材
    removeMainMaterial(id) {
      this.$confirm('确定移除该主材?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var params = {
          id
        }
        removeMainMaterial(params).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getMainMaterialList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 获取主材清单
    getMainMaterialList() {
      getMainMaterialList().then(res => {
        if (res.code == '01') {
          // let isCurrent;
          // if(res.body.length < 1){
          //   isCurrent = 1
          // }else{
          //   isCurrent = res.body[0].isCurrent == 1 ?  2 : 3
          // }
          // this.isCurrent = isCurrent;

          this.tableData = res.body ? res.body.slice(0) : []
          // 小于10条，补空数据
          if (res.body.length < 10) {
            for (var i = 0; i < 10 - res.body.length; i++) {
              this.tableData.push({})
            }
          }
        }
      })
    },
    // 关闭弹窗
    closeDialog(status) {
      this.showEditDialog = !this.showEditDialog
      if (status === 'refresh') {
        this.getMainMaterialList()
      }
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 打开调整序号弹窗
    openNumDialog(indexNum, id) {
      this.newNum = ''
      this.curNum = indexNum
      this.curMainMaterialId = id
      this.showNumDialog = true
    },
    // 调整序号校验
    checkNewNum() {
      this.newNum = this.newNum.replace(/[^0-9]/g, '')
      try {
        if (this.newNum.length > 1 && this.newNum.slice(0, 1) == 0) {
          this.newNum = this.newNum.slice(1)
        }
      } catch (err) {}
    },
    // 调整序号
    updateNum() {
      if (!this.newNum) {
        this.$message({
          type: 'error',
          message: '请输入序号'
        })
        return
      }
      if (this.newNum == 0) {
        this.$message({
          type: 'error',
          message: '序号不能为0'
        })
        return
      }
      if (isNaN(Number(this.newNum))) {
        this.$message({
          type: 'error',
          message: '请输入正确的序号'
        })
        return
      }

      const params = {
        id: this.curMainMaterialId,
        sort: parseInt(this.newNum)
      }
      // console.log(typeof this.curMainMaterialId, typeof params.sort)
      this.numLoading = true

      sortMainMaterial(params)
        .then(res => {
          this.numLoading = false
          if (res.code === '01') {
            this.showNumDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getMainMaterialList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(() => {
          this.numLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.home-set {
  .com-main-wrap {
    .h-label {
      margin-bottom: 20px;
      color: #333;
      font-size: 16px;
      font-weight: bold;
    }
    .tip-text {
      color: #999;
      font-size: 14px;
      margin-top: 40px;
    }
  }
  .icon-wrap {
    span:last-child {
      padding-right: 0;
    }
  }
}
</style>
<style lang="scss">
.home-set {
  .operate-btn {
    text-align: center;
  }
}
</style>
