<template>
  <div class="mode-set-container">
    <div class="com-up-wrap pl-20">
      <!-- <template v-has="'mpccollect:collectTemplate:setTemplate'">
        <span class="c-text">模板设置</span>
        <div class="mode-wrap">
          <div class="pl-15 left-radio">
            <div class="flex-c">
              <img
                v-if="modeRadio == '1'"
                src="@/assets/img/cs/icons/checked_icon.png"
                alt=""
              />
              <img
                v-else
                class="cp"
                src="@/assets/img/cs/icons/check_icon.png"
                alt=""
                @click="changeMode('1')"
              />
              <span class="label-text">设置统一模板信息价清单</span>
            </div>
            <div class="flex-c pl-25 lu-wrap">
              <div class="flex-c upload-wrap">
                <div class="ellipsis1 u-left">{{ cjFile.name }}</div>
                <div class="u-right">上传</div>
                <input
                  ref="fileElem"
                  class="u-file"
                  type="file"
                  @change="uploadCjFile($event)"
                />
              </div>
              <span class="nw" @click="downloadTemp">下载模板</span>
            </div>
          </div>
          <div class="pl-40 flex-c mt-20 mb-20 label-text com-input">
            <span>开始同步期次：</span>
            <el-select v-model="comCycle" placeholder="请选择">
              <el-option
                v-for="item in cycleList"
                :key="item.id"
                :label="item.name"
                :value="item.period"
              />
            </el-select>
          </div>
          <p class="tip-text pl-40">
            按统一模板配置后，系统将会直接执行上方上传的信息价模板清单。
          </p>
          <div class="pl-15 right-radio">
            <div class="flex-c">
              <img
                v-if="modeRadio == '0'"
                src="@/assets/img/cs/icons/checked_icon.png"
                alt=""
              />
              <img
                v-else
                class="cp"
                src="@/assets/img/cs/icons/check_icon.png"
                alt=""
                @click="changeMode('0')"
              />
              <span class="label-text">不设定统一模板</span>
            </div>
            <p class="pl-25">若不设定统一模板，则需要管理员动手设置模板。</p>
          </div>
          <div class="btn-wrap">
            <el-button
              type="primary"
              round
              :loading="submitLoading"
              @click="submitSet"
              >提交设置</el-button
            >
          </div>
        </div>
      </template> -->

      <div class="cj-type">
        <span class="c-text">模板库自定义分类设置</span>
        <div class="com-tree-wrap custom-wrap">
          <el-tree :data="customType" node-key="id" :expand-on-click-node="false">
            <span slot-scope="{ data }" class="custom-tree-node">
              <span v-if="!data.isEdit">{{ data.name }}</span>
              <el-input v-else v-model="data.name" class="custom-edit-ipt" maxlength="10" placeholder="请输入分类名称" />
              <span>
                <el-tooltip v-if="
                    !(!data.pid && data.children && data.children.length > 0) && $_has('mpcmaterail:config:typeAssociate')
                  " class="item" effect="light" content="关联国标分类" placement="top">
                  <img style="width: 14px" class="ml-10" src="@/assets/img/cs/icons/gb-relation.png" alt="" @click="relationGb(data)">
                </el-tooltip>
                <el-tooltip v-if="!data.isEdit && $_has('mpcmaterail:config:updateCustomizeSort')" class="item" effect="light" content="编辑" placement="top">
                  <img class="ml-10" src="@/assets/img/cs/icons/edit_icon03.png" alt="" @click="openEditCustomType(data)">
                </el-tooltip>
                <el-tooltip v-else class="item" effect="light" content="保存" placement="top">
                  <img style="width: 14px; height: 14px" class="ml-10" src="@/assets/img/cs/icons/yes_icon.png" alt="" @click="saveEditCustomType(data)">
                </el-tooltip>
                <el-tooltip v-if="!data.pid" class="item" effect="light" content="添加二级分类" placement="top">
                  <img class="ml-10" src="@/assets/img/cs/icons/add_icon.png" alt="" @click="openAddTwoType(data)">
                </el-tooltip>
                <el-tooltip v-has="'mpcmaterail:config:delCustomClassify'" class="item" effect="light" content="删除" placement="top">
                  <img class="ml-10" src="@/assets/img/cs/icons/del_icon.png" alt="" @click="deleteCustomType(data.id)">
                </el-tooltip>
              </span>
            </span>
          </el-tree>

          <div v-has="'mpcmaterail:config:addOrUpdateCustomizeSort'" class="com-operate-wrap op-btn">
            <el-button class="" @click="showAddOneTypeDialog = !showAddOneTypeDialog">添加自定义一级分类</el-button>
          </div>
        </div>
      </div>
      <!-- 是否人工编制发布价 -->
      <!-- <div class="check-price mb-20">
          <span class="c-text">是否人工编制发布价</span>
          <div class="ml-10 mr-10 com-switch">
              <span class="close-text" v-show="!manninQuotas" @click="changeMannin(true)">开</span>
              <span class="open-text" v-show="manninQuotas" @click="changeMannin(false)">关</span>
              <el-switch
                v-model="manninQuotas"
                active-color="#2773FC"
                inactive-color="#C2C2C2"
                @change="changeMannin">
              </el-switch>
          </div>
        </div> -->
      <!-- 税率设置 -->
      <!-- <div class="set-rate">
          <span class="c-text">税率设置</span>
          <el-button style="width:100px;height:38px;margin-left:6px;" type="primary" @click="setRate">编辑</el-button>
          <div class="tip mt-5">（国家标准税率，系统全局使用）</div>
        </div> -->
    </div>

    <!-- 添加一级分类弹窗 -->
    <el-dialog title="添加自定义一级分类" :visible.sync="showAddOneTypeDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input-width">
      <div class="flex-c mb-20">
        <span class="nw label-text">分类名称：</span>
        <el-input v-model="curOneType" maxlength="10" placeholder="请输入自定义一级分类名称" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddOneTypeDialog = !showAddOneTypeDialog">取消</el-button>
        <el-button type="primary" :loading="addOneTypeLoading" @click="addOneType">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加二级分类弹窗 -->
    <el-dialog title="添加自定义二级分类" :visible.sync="showAddTwoTypeDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input-width">
      <div class="flex-c mb-20">
        <span class="nw label-text">分类名称：</span>
        <el-input v-model="curTwoType" maxlength="10" placeholder="请输入自定义二级分类名称" />
      </div>
      <p class="tip-text" style="padding-left: 90px">
        注意：当一级分类关联了国标分类，新增二级分类将一级分类关联的国标分类。
      </p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddTwoTypeDialog = !showAddTwoTypeDialog">取消</el-button>
        <el-button type="primary" :loading="addTwoTypeLoading" @click="addTwoType">确定</el-button>
      </span>
    </el-dialog>

    <!-- 编辑失败弹窗 -->
    <el-dialog title="编辑失败" :visible.sync="errDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p>{{ errText }}</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="errDialog = false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 关联国标弹窗 -->
    <el-dialog title="关联国标分类" :visible.sync="showRelationDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input-width flex-c" @close="closeGbWin">
      <el-select v-model="relationCode" class="flex-c" multiple placeholder="请选择国标分类" style="width: 400px; margin: 20px auto 50px">
        <el-option v-for="item in options" :key="item.id" :label="item.name" :value="item.code" />
      </el-select>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showRelationDialog = !showRelationDialog">取消</el-button>
        <el-button type="primary" @click="addRelation()">确定</el-button>
      </span>
    </el-dialog>

    <!-- 标准化弹窗 -->
    <ScanLoading v-if="startScan" :title="'模板设置'" :err-msg="errMsg" :scan-state="scanState" :fail-count="failCount" :success-count="successCount" :download-key-loading="downloadKeyLoading"
      @confirmScan="confirmScan" @downloadErrorList="downloadErrorList" />

    <!-- 税率设置弹窗 -->
    <el-dialog :title="'税率设置'" :visible.sync="showEditRateDialog" :close-on-click-modal="false" :width="taxWidth" top="10vh" class="com-dialog com-radio-wrap tax-dialog">
      <div class="flex-fs mt-10 tax-list">
        <ul v-for="(item, index) in taxPointList" :key="index">
          <el-table :data="item" :indent="24" style="width: 100%; margin-bottom: 20px" row-key="subcId" border :default-expand-all="false" :tree-props="{
              children: 'subTaxPoint',
              hasChildren: 'hasChildren',
            }">
            <el-table-column prop="subcName" label="国际分类" width="270" />
            <el-table-column label="税率" width="90">
              <template slot-scope="scope">
                <div class="input-box">
                  <el-input v-model="scope.row.taxPoint" size="small" style="border: none" @input="checkTaxPoint($event, index, scope.row)" />
                </div>
              </template>
            </el-table-column>
          </el-table>
        </ul>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showEditRateDialog = false">取消</el-button>
        <el-button type="primary" :loading="taxLoading" @click="submitTaxPoint">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import ScanLoading from '@/components/ScanLoading'
import {
  // getCustomTypeList,
  getCustomizeSort,
  // delCustomType,
  delCustomizeSort,
  // addCustomType,
  // updCustomType,
  addOrUpdateCustomizeSort,
  configSort,
  getSubcSort
} from '@/api/cs/common'
import { getCycleInfo } from '@/api/cs/collectTemplate'
import {
  downloadInitTemplateFile,
  getTemplateSett,
  setTemplate
} from '@/api/cs/user'
import { downloadErrorExcel } from '@/api/common'

export default {
  name: 'ModeSet',
  components: {
    ScanLoading
  },
  data() {
    return {
      errMsg: '', // 错误信息
      successCount: 0, // 标准化成功数
      failCount: 0, // 标准化失败数
      scanTimer: null, // 标准化定时器
      scanState: '0', // 0请求进行中，1请求成功，2请求失败
      startScan: false, // 开始标准化
      id: '',
      day: '', // 天
      week: '', // 周
      month: '', // 月
      season: '', // 季
      year: '', // 年
      curCycle: '', // 0:天,1:周,2:月,3:季度,4:年
      modeRadio: '', // 是否设置统一模板(0:否 ,1:是)
      startDate: '', // 开始时间
      modeDays: '',
      modeHours: '',
      // options: [
      //   {
      //     value: '0',
      //     label: '前'
      //   },
      //   {
      //     value: '1',
      //     label: '后'
      //   }
      // ],
      curOption: '',
      showAddOneTypeDialog: false, // 添加一级分类弹窗
      curOneType: '',
      addOneTypeLoading: false,
      showAddTwoTypeDialog: false, // 添加二级分类弹窗
      curTwoType: '',
      curOneTypeCode: null,
      addTwoTypeLoading: false,
      customType: [],
      submitLoading: false,
      cjFile: {},
      downloadKey: '',
      downloadKeyLoading: false,
      cycleList: [],
      comCycle: null,
      errDialog: false,
      errText: '',
      options: [], // 国标分类列表
      showRelationDialog: false, // 关联国标弹窗
      relationCode: [], // 选中的国标code
      relationId: '', // 关联国标的自定义分类id
      relationName: '', // 关联国标的自定义分类name
      manninQuotas: false, // 是否人工编制发布价
      showEditRateDialog: false, // 是否显示税率设置弹窗
      taxLoading: false,
      taxWidth: '422px',
      taxPointList: [],
      rowsNum: 8 // 税率弹窗每列几行
    }
  },
  mounted() {
    this.getCustomTypeList()
    this.getTemplateSett()
    this.getCycleInfo()
    this.getGbList()
    this.getTaxData()
  },
  methods: {
    // 是否人工编制发布价
    changeMannin(val) {
      this.manninQuotas = val
    },
    // 编辑税率
    setRate() {
      this.showEditRateDialog = true
    },
    getTaxData() {
      const dataArr = [
        {
          createBy: null,
          updateBy: null,
          createOn: null,
          updateOn: null,
          creator: null,
          updator: null,
          id: null,
          subcId: '01',
          subcName: '黑色及有色金属',
          taxPoint: null,
          tempId: null,
          subTaxPoint: [
            {
              createBy: null,
              updateBy: null,
              createOn: null,
              updateOn: null,
              creator: null,
              updator: null,
              id: null,
              subcId: '0101',
              subcName: '钢筋',
              taxPoint: 0.13,
              tempId: null,
              subTaxPoint: null,
              pid: '01'
            },
            {
              createBy: null,
              updateBy: null,
              createOn: null,
              updateOn: null,
              creator: null,
              updator: null,
              id: null,
              subcId: '0121',
              subcName: '角钢',
              taxPoint: 0.13,
              tempId: null,
              subTaxPoint: null,
              pid: '01'
            },
            {
              createBy: null,
              updateBy: null,
              createOn: null,
              updateOn: null,
              creator: null,
              updator: null,
              id: null,
              subcId: '0109',
              subcName: '圆钢',
              taxPoint: 0.13,
              tempId: null,
              subTaxPoint: null,
              pid: '01'
            },
            {
              createBy: null,
              updateBy: null,
              createOn: null,
              updateOn: null,
              creator: null,
              updator: null,
              id: null,
              subcId: '0129',
              subcName: '钢板',
              taxPoint: 0.13,
              tempId: null,
              subTaxPoint: null,
              pid: '01'
            }
          ],
          pid: null
        },
        {
          createBy: null,
          updateBy: null,
          createOn: null,
          updateOn: null,
          creator: null,
          updator: null,
          id: null,
          subcId: '04',
          subcName: '水泥、砖瓦灰砂石及混凝土制品',
          taxPoint: null,
          tempId: null,
          subTaxPoint: [
            {
              createBy: null,
              updateBy: null,
              createOn: null,
              updateOn: null,
              creator: null,
              updator: null,
              id: null,
              subcId: '0403',
              subcName: '砂',
              taxPoint: 0.03,
              tempId: null,
              subTaxPoint: null,
              pid: '04'
            },
            {
              createBy: null,
              updateBy: null,
              createOn: null,
              updateOn: null,
              creator: null,
              updator: null,
              id: null,
              subcId: '0409',
              subcName: '灰、粉、土等掺合填充料',
              taxPoint: 0.13,
              tempId: null,
              subTaxPoint: null,
              pid: '04'
            },
            {
              createBy: null,
              updateBy: null,
              createOn: null,
              updateOn: null,
              creator: null,
              updator: null,
              id: null,
              subcId: '0405',
              subcName: '石子',
              taxPoint: 0.03,
              tempId: null,
              subTaxPoint: null,
              pid: '04'
            }
          ],
          pid: null
        },
        {
          createBy: null,
          updateBy: null,
          createOn: null,
          updateOn: null,
          creator: null,
          updator: null,
          id: null,
          subcId: '29',
          subcName: '电气线路敷设材料',
          taxPoint: null,
          tempId: null,
          subTaxPoint: [
            {
              createBy: null,
              updateBy: null,
              createOn: null,
              updateOn: null,
              creator: null,
              updator: null,
              id: null,
              subcId: '2905',
              subcName: '母线槽',
              taxPoint: 0.13,
              tempId: null,
              subTaxPoint: null,
              pid: '29'
            }
          ],
          pid: null
        }
      ]
      // 处理数据
      dataArr.forEach((item, index) => {
        item.curIndex = index + 1 // 在总数据里面父项的位置标识，1开始
        if (item.subTaxPoint && item.subTaxPoint.length > 0) {
          item.subTaxPoint.forEach((item2, index2) => {
            item2.curIndex = index + 1 // 子项curIndex与父项curIndex一致，1开始
            item2.curSubIndex = index2 // 子项curSubIndex为在父项里的index，0开始
          })
        }
        const one = item.subTaxPoint[0].taxPoint
        const isSame = item.subTaxPoint.every(function(item) {
          return item.taxPoint == one
        })
        if (isSame) {
          item.taxPoint = one
        } else {
          const arr = JSON.parse(JSON.stringify(item.subTaxPoint)).sort(
            this.compare('taxPoint')
          )
          const mindata = arr[0].taxPoint + ''
          const maxdata = arr[arr.length - 1].taxPoint + ''
          item.taxPoint = mindata + '-' + maxdata
        }
      })

      const rowsNum = this.rowsNum
      for (var i = 0; i < Math.ceil(dataArr.length / rowsNum); i++) {
        const arr = dataArr.slice(i * rowsNum, (i + 1) * rowsNum)
        this.taxPointList.push(arr)
      }
      // 设置动态宽度
      if (this.isTax == 1) {
        if (this.taxPointList.length < 2) {
          this.taxWidth = '422px'
        } else if (this.taxPointList.length < 3) {
          this.taxWidth = '792px'
        } else if (this.taxPointList.length < 4) {
          this.taxWidth = '1162px'
        } else {
          this.taxWidth = '1534px'
        }
      }
    }, // czhui

    // 提交税率修改
    submitTaxPoint() {},

    // 税率校验
    checkTaxPoint(val, index, data) {
      // val输入值 index第几列税率 subIndex第几个子项
      let num = data.curIndex
      const subIndex = --num % this.rowsNum
      if (!data.pid) {
        // (pid=null为父)
        // 清除"数字"和"."以外的字符
        this.taxPointList[index][subIndex].taxPoint = this.taxPointList[index][
          subIndex
        ].taxPoint.replace(/[^\d.]/g, '')
        // 验证第一个字符是数字而不是字符
        this.taxPointList[index][subIndex].taxPoint = this.taxPointList[index][
          subIndex
        ].taxPoint.replace(/^\./g, '')
        // 只保留第一个.清除多余的
        this.taxPointList[index][subIndex].taxPoint = this.taxPointList[index][
          subIndex
        ].taxPoint.replace(/\.{2,}/g, '.')
        this.taxPointList[index][subIndex].taxPoint = this.taxPointList[index][
          subIndex
        ].taxPoint
          .replace('.', '$#$')
          .replace(/\./g, '')
          .replace('$#$', '.')
        // 只能输入两个小数
        this.taxPointList[index][subIndex].taxPoint = this.taxPointList[index][
          subIndex
        ].taxPoint.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')
      } else {
        const curSubIndex = data.curSubIndex
        // 清除"数字"和"."以外的字符
        this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint = (
          this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint +
          ''
        ).replace(/[^\d.]/g, '')
        // 验证第一个字符是数字而不是字符
        this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint = (
          this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint +
          ''
        ).replace(/^\./g, '')
        // 只保留第一个.清除多余的
        this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint = (
          this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint +
          ''
        ).replace(/\.{2,}/g, '.')
        this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint = (
          this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint +
          ''
        )
          .replace('.', '$#$')
          .replace(/\./g, '')
          .replace('$#$', '.')
        // 只能输入两个小数
        this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint = (
          this.taxPointList[index][subIndex].subTaxPoint[curSubIndex].taxPoint +
          ''
        ).replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')
      }

      // 父子联动
      const taxPointList = this.taxPointList
      if (!data.pid && data.subTaxPoint && data.subTaxPoint.length > 0) {
        // 填父项，子项自动填充
        taxPointList[index][subIndex].subTaxPoint.forEach(
          item => (item.taxPoint = data.taxPoint)
        )
      } else if (data.pid) {
        // 子项一样父一样，子项不同父项为"最小值 - 最大值"
        const isSame = taxPointList[index][subIndex].subTaxPoint.every(function(
          item
        ) {
          return item.taxPoint == data.taxPoint
        })
        if (isSame) {
          taxPointList[index][subIndex].taxPoint = data.taxPoint
        } else {
          let arr = JSON.parse(
            JSON.stringify(taxPointList[index][subIndex].subTaxPoint)
          )
          arr = arr.sort(this.compare('taxPoint'))
          const mindata = arr[0].taxPoint + ''
          const maxdata = arr[arr.length - 1].taxPoint + ''
          taxPointList[index][subIndex].taxPoint = mindata + '-' + maxdata
          // taxPointList[index][subIndex].taxPoint = ''; //子项不同父项为空
        }
      }
      this.taxPointList = taxPointList
    },

    // 筛选对象最大最小值
    compare(prop) {
      return function(a, b) {
        var val1 = a[prop]
        var val2 = b[prop]
        return val1 - val2
      }
    },

    // 关闭关联国标弹窗
    closeGbWin() {
      this.relationCode = []
    },
    // 关联国标弹窗(有二级分类的，只有二级能绑定国标)
    relationGb(data) {
      this.showRelationDialog = true
      this.relationId = data.id
      this.relationName = data.name
      if (data.subcId) this.relationCode = data.subcId.split(',') // 回显
    },
    // 关联国标提交
    addRelation() {
      // if(this.relationCode.length<1){
      //   this.$message({
      //     type: 'error',
      //     message: '请选择关联国标'
      //   })
      //   return
      // }
      var data = {
        // name: this.relationName,
        // id: this.relationId,
        customId: this.relationId,
        type: 0,
        subcIds: this.relationCode.length > 0 ? this.relationCode.join(',') : ''
      }
      configSort(data).then(res => {
        if (res.code == '01' || res.code == '8004') {
          this.showRelationDialog = false
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getCustomTypeList()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 获取国标分类列表
    getGbList() {
      getSubcSort().then(res => {
        if (res.code == '01') {
          this.options = res.body
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.startScan = false
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            )
            this.downloadKeyLoading = false
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })
    },
    // 标准化完成
    confirmScan() {
      this.startScan = false
      this.uploadMaterialPriceDialog = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
      try {
        this.$refs.fileElem.value = null
      } catch (err) {}
    },
    // 选择文件
    uploadCjFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.cjFile = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    // 下载模板
    downloadTemp() {
      var loading = this.$loading({
        text: '模板下载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      downloadInitTemplateFile()
        .then(res => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '初始化模板.xls'
            )
            loading.close()
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '初始化模板.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            loading.close()
          }
        })
        .catch(err => {
          loading.close()
          this.$message({
            type: 'error',
            message: '模板下载失败，请重试'
          })
        })
    },
    // 获取周期列表
    getCycleInfo() {
      getCycleInfo().then(res => {
        this.cycleList = res.body
        for (var i = 0; i < this.cycleList.length; i++) {
          this.cycleList[i].name = '第' + this.cycleList[i].period + '期'
        }
      })
    },
    // 提交设置
    submitSet() {
      if (this.modeRadio === null) {
        this.$message({
          type: 'error',
          message: '请选择是否设置统一模板'
        })
        return
      }
      if (this.modeRadio == '1') {
        if (!this.cjFile || !this.cjFile.size) {
          this.$message({
            type: 'error',
            message: '请上传模板'
          })
          return
        }
        if (!this.comCycle) {
          this.$message({
            type: 'error',
            message: '请选择开始同步期次'
          })
          return
        }
      }

      var formData = new FormData()
      formData.append('isTemplate', this.modeRadio)
      if (this.modeRadio == '0') {
        this.submitLoading = true
        setTemplate(formData)
          .then(res => {
            this.submitLoading = false
            if (res.code == '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.submitLoading = false
          })
      } else {
        formData.append('howPeriod', this.comCycle)
        formData.append('materialFile', this.cjFile)
        // 接口请求开始标准化效果
        this.startScan = true
        this.scanState = '0'
        this.scanTimer = setTimeout(() => {
          setTemplate(formData)
            .then(res => {
              if (res.code == '01') {
                this.scanState = '1'
                try {
                  this.failCount = res.body.failCount
                  this.successCount = res.body.successCount
                  this.downloadKey = res.body.downloadKey
                } catch (err) {}
              } else if (res.code == '8009') {
                this.startScan = false
                this.errDialog = true
                this.errText = res.message
              } else {
                this.scanState = '2'
                this.cjFile = {}
                this.errMsg = res.message
              }
            })
            .catch(err => {
              this.scanState = '2'
              this.cjFile = {}
            })
        }, this.$store.getters.loadingTime4)
      }
    },
    // 获取模板设置
    getTemplateSett() {
      getTemplateSett().then(res => {
        if (res.code == '01') {
          try {
            this.modeRadio = res.body.isTemplate
            if (res.body.howPeriod) {
              this.comCycle = res.body.howPeriod + ''
            }
          } catch (err) {
            this.modeRadio = 0
            this.comCycle = null
          }
        }
      })
    },
    // 修改统一模板
    changeMode(type) {
      this.modeRadio = type
    },
    // 保存自定义分类修改
    saveEditCustomType(data) {
      if (!data.name) {
        this.$message({
          type: 'error',
          message: '请输入分类名称'
        })
        return
      }
      var data = {
        name: data.name,
        id: data.id,
        type: 0
      }
      addOrUpdateCustomizeSort(data).then(res => {
        if (res.code == '01' || res.code == '8004') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.getCustomTypeList()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 编辑分类名称
    openEditCustomType(data) {
      // pid存在则为二级分类，不存在为一级分类
      if (data.pid) {
        this.customType[data.index].children[data.subIndex]['isEdit'] = true
      } else {
        this.customType[data.index].isEdit = true
      }
    },
    // 添加二级分类
    addTwoType() {
      if (!this.curTwoType) {
        this.$message({
          type: 'error',
          message: '请输入自定义二级分类名称'
        })
        return
      }

      var data = {
        // id: 0,
        // isDel: '0',
        name: this.curTwoType,
        pid: this.curOneTypeCode,
        type: 0
      }
      this.addTwoTypeLoading = true
      addOrUpdateCustomizeSort(data)
        .then(res => {
          this.addTwoTypeLoading = false
          if (res.code == '01' || res.code == '8004') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showAddTwoTypeDialog = false
            this.curTwoType = ''
            this.getCustomTypeList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addTwoTypeLoading = false
        })
    },
    // 添加二级分类弹窗
    openAddTwoType(data) {
      this.showAddTwoTypeDialog = !this.showAddTwoTypeDialog
      this.curOneTypeCode = data.id
    },
    // 删除自定义分类
    deleteCustomType(id) {
      this.$confirm('确定删除该自定义分类?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var data = {
          id
          // isDel: '1',
          // type: 0
        }
        delCustomizeSort(data).then(res => {
          if (res.code == '01' || res.code == '8003') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.getCustomTypeList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
      })
    },
    // 添加一级分类
    addOneType() {
      if (!this.curOneType) {
        this.$message({
          type: 'error',
          message: '请输入自定义一级分类名称'
        })
        return
      }
      var data = {
        name: this.curOneType,
        // isDel: '0',
        pid: 0,
        // id: 0,
        type: 0
      }
      this.addOneTypeLoading = true
      addOrUpdateCustomizeSort(data)
        .then(res => {
          this.addOneTypeLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showAddOneTypeDialog = false
            this.curOneType = ''
            this.getCustomTypeList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addOneTypeLoading = false
        })
    },
    // 获取自定义分类
    getCustomTypeList() {
      getCustomizeSort({ type: 0 }).then(res => {
        if (res.code == '01') {
          this.customType = []
          for (var i = 0; i < res.body.length; i++) {
            var sub = res.body[i].sub
            if (sub && sub.length > 0) {
              for (var j = 0; j < sub.length; j++) {
                sub[j]['isEdit'] = false
                sub[j]['subIndex'] = j
                sub[j]['index'] = i
              }
            }
            this.customType.push({
              id: res.body[i].id,
              name: res.body[i].name,
              pid: res.body[i].pid,
              children: sub,
              isEdit: false,
              index: i,
              subcId: res.body[i].subcId
            })
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/cs/variables.scss';
.mode-set-container {
  .com-up-wrap {
    border-radius: 6px;
    .c-text {
      margin-bottom: 20px;
      display: block;
      color: #333;
      font-size: 16px;
      font-weight: bold;
      span {
        margin-left: 11px;
        color: #666;
        font-weight: 400;
        font-size: 18px;
      }
    }
    .m-text {
      margin-bottom: 20px;
      display: block;
      font-size: 14px;
      color: #666;
      font-weight: bold;
    }
    .tip-text {
      color: #999;
      font-size: 12px;
    }
    .label-text {
      font-size: 14px;
      color: #666;
    }
    .start-btn {
      margin-right: 36px;
      position: relative;
      &.dou-text {
        .open-text {
          left: 7px;
        }
        .close-text {
          right: 7px;
        }
      }
      .open-text,
      .close-text {
        position: absolute;
        z-index: 999;
        left: 7px;
        top: 2px;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        user-select: none;
      }
      .close-text {
        right: 12px;
        left: unset;
      }
    }
    .config-wrap,
    .mode-wrap {
      margin-bottom: 40px;
      padding-top: 15px;
      width: 450px;
      background: #fafafa;
      .btn-wrap {
        padding: 15px 15px 20px 15px;
        border-top: 1px solid #efefef;
        text-align: center;
      }
      .submit-btn {
        margin: 20px 0 40px 200px;
        width: 138px;
        height: 40px;
        line-height: 40px;
        background: $color-primary;
        border-radius: 3px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        padding: 0;
      }
    }
    .config-wrap {
      margin-bottom: 30px;
      ul {
        li {
          margin-bottom: 20px;
          .top-li {
            margin-right: 9px;
            color: $color-primary;
            img {
              margin-right: 10px;
              cursor: pointer;
            }
          }
          .bottom-li {
            color: #666;
          }
        }
      }
    }
    .left-radio {
      .lu-wrap {
        margin-top: 22px;
        > span {
          font-size: 14px;
          color: $color-primary;
          cursor: pointer;
        }
      }
      .upload-wrap {
        position: relative;
        margin-right: 20px;
        width: 237px;
        height: 32px;
        box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
        border-radius: 5px;
        overflow: hidden;
        .u-left {
          padding-left: 5px;
          width: 100%;
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          color: #666;
        }
        .u-right {
          min-width: 70px;
          max-width: 70px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          background: $color-primary;
          color: #fff;
          font-size: 14px;
        }
        .u-file {
          position: absolute;
          width: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
    .right-radio {
      margin: 20px 0 30px 0;
      p {
        margin-top: 18px;
        color: #999;
        font-size: 14px;
      }
    }
    .left-radio,
    .right-radio {
      img {
        margin-right: 10px;
      }
    }

    .cj-type {
      margin-bottom: 50px;
      .btn {
        // width: 138px;
      }
    }
    .check-price {
      .com-switch .open-text {
        left: 16px;
      }
      .com-switch .close-text {
        right: 16px;
        left: 32px;
      }
    }
    .set-rate {
      .tip {
        font-size: 14px;
        color: #aaa;
      }
    }
    .custom-wrap {
      margin-top: 20px;
      padding: 0 20px;
      width: 700px;
      background: #ffffff;
      border: 1px solid #b9c6dc;
      border-radius: 4px;
      .add-icon {
        margin: 0 14px;
      }
    }
    .op-btn {
      padding: 20px;
    }
  }
  .tax-list {
    ul {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    li {
      border: 1px solid #ebeef5;
      padding: 0 5px;
      > span {
        display: inline-block;
        &:first-child {
          width: 228px;
        }
        &:last-child {
          width: 70px;
        }
      }
      .t-label {
        padding: 0 15px;
        height: 38px;
        line-height: 38px;
        border-right: 1px solid #ebeef5;
      }
      .el-input__inner {
        border: 0;
      }
    }
  }
}
</style>

<style lang="scss">
.mode-set-container {
  .config-wrap {
    .config-ipt {
      .el-input {
        margin: 0 8px;
        width: 60px;
        height: 34px;
        border-radius: 3px;
        .el-input__inner {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .el-switch__core {
    width: 62px !important;
    height: 30px;
    border-radius: 15px;
  }
  .el-switch__core:after {
    top: 6px;
    left: 6px;
    width: 17px;
    height: 17px;
  }
  .el-switch.is-checked .el-switch__core::after {
    margin-left: -22px;
  }
  .tax-dialog {
    .el-dialog__body {
      overflow: auto;
    }
    .input-box {
      .el-input__inner {
        padding: 0 !important;
      }
    }
    .tax-list {
      input {
        text-align: center;
        border: 0;
      }
    }
  }
}
</style>
