<template>
  <div class="other-set-container">
    <div class="com-up-wrap pl-20">
      <div class="material-count">
        <div class="mt-10 mb-14 flex-c">
          <span class="s-label">造价通综合价发布</span>
          <div class="ml-5 com-switch custom-switch">
            <span class="open-text" v-show="isRelease" @click="changeRelease(false)">关闭</span>
            <span class="close-text" v-show="!isRelease" @click="changeRelease(true)">发布</span>
            <el-switch v-model="isRelease" active-color="#2773FC" inactive-color="#C2C2C2" @change="changeRelease">
            </el-switch>
          </div>
        </div>
        <p class="ss-text">{{city}}建材综合价</p>
        <div class="flex-c mt-20 mb-40 com-upload">
          <span class="nw mr-20 label-text">综合价材料清单</span>

          <div class="special-right">
            <div class="flex-c ml-10">
              <div class="u-ipt com-radius-input">{{ materialFile.name }}</div>
              <div class="u-btn">上传</div>
              <div class="u-dot">...</div>
              <input ref="fileElem" class="u-file" type="file" placeholder="请选择" @change="uploadMaterialFile($event)" />
            </div>
            <span class="cp p-color ml-10 mt-10 special-tmp" @click="uploadTemp">综合价材料清单模板.xlsx</span>
            <span class="cp p-color" style="margin-left:170px;margin-top:10px;display:inline-block;" @click="downloadMatTemplate">导出综合价材料清单模板.xlsx</span>
          </div>
        </div>
        <div class="flex-c mt-20 mb-40 com-input">
          <span class="nw mr-20 label-text">获取综合价时间</span>
          <span class="mr-10 s-label">每</span>
          <el-select v-model="comTime" @change="changeSelect" placeholder="请选择">
            <el-option v-for="item in timeList" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
          </el-select>
          <div v-if="comTime == 'year'" class="ml-20 com-time-search com-blue-icon">
            <el-date-picker v-model="startDate" value-format="yyyy-MM-dd" type="date" placeholder="选择日期" @change="changeDate">
            </el-date-picker>
          </div>
          <el-select v-if="comTime == 'month'" class="ml-20" v-model="dayTime" placeholder="请选择" @change="changeMonth">
            <el-option v-for="item in 31" :key="item" :label="item + '日'" :value="item">
            </el-option>
          </el-select>
        </div>

        <div class="mt-20 mb-14 flex-c">
          <span class="s-label">造价通材料指数发布</span>
          <div class="ml-5 com-switch custom-switch">
            <span class="open-text" v-show="isMaterial" @click="changeMaterial(false)">关闭</span>
            <span class="close-text" v-show="!isMaterial" @click="changeMaterial(true)">发布</span>
            <el-switch v-model="isMaterial" active-color="#2773FC" inactive-color="#C2C2C2" @change="changeMaterial">
            </el-switch>
          </div>
        </div>
        <p class="ss-text">{{city}}材料价格指数</p>

        <div class="mt-40 mb-14 flex-c">
          <span class="s-label">造价通供应商发布</span>
          <div class="ml-5 com-switch custom-switch">
            <span class="open-text" v-show="isSupplier" @click="changeSupplier(false)">关闭</span>
            <span class="close-text" v-show="!isSupplier" @click="changeSupplier(true)">发布</span>
            <el-switch v-model="isSupplier" active-color="#2773FC" inactive-color="#C2C2C2" @change="changeSupplier">
            </el-switch>
          </div>
        </div>
        <p class="ss-text">全国网材供应商</p>
      </div>
    </div>

    <!-- 上传清单结果弹窗 -->
    <el-dialog title="上传清单" :visible.sync="showResDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog resultdialog">
      <div class="flex-cc scan-content scan-success2" v-if="resStatus == 3">
        <img src="@/assets/img/cs/reStandard2.png" alt="" style="margin-bottom: 30px" />
        <p>正在安全扫描...</p>
      </div>
      <div class="flex-cc scan-content scan-success2" v-if="resStatus == 1">
        <img src="@/assets/img/cs/success_img.png" alt="" class="img2" />
        <p>
          导入成功<span class="suc-num2">{{ successCount2 }}</span>条，失败<span class="err-num2">{{ failCount2 || 0 }}</span>条
        </p>
      </div>
      <div class="flex-cc scan-content scan-success2" v-if="resStatus == 2">
        <img src="@/assets/img/cs/error_img.png" alt="" class="img2" />
        <p v-if="errMsg">{{ errMsg }}</p>
        <p v-else>上传失败，请重试</p>
      </div>
      <span slot="footer" class="dialog-footer" v-if="resStatus != 3">
        <el-button style="border: 1px solid #2773fc" v-if="resStatus == 1 && failCount2 > 0" :loading="downloadKeyLoading" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="showResDialog = false">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getComPriceTime,
  updateComPriceTime,
  getCityMats,
  updateIssued,
  comPriceExport,
  getIssuedStatus,
  downloadMatTemplate
} from '@/api/cs/otherSetting'
import axios from 'axios'

export default {
  data() {
    return {
      isRelease: true, // 造价通综合价发布
      isMaterial: true, // 造价通材价指数发布
      isSupplier: true, // 造价通供应商发布
      materialFile: {}, // 材料清单上传文件
      comTime: 'year', // 综合时间频率（每年year、月month、天day）
      dayTime: null, // 选中每月某天
      startDate: null, // 选中每年的时间
      timeList: [
        {
          value: 'year',
          label: '年'
        },
        {
          value: 'month',
          label: '月'
        },
        {
          value: 'day',
          label: '天'
        }
      ],
      showResDialog: false, // 是否显示上传清单结果弹窗
      resStatus: '', // 上传清单结果 1成功 2失败 3正在安全扫描
      successCount2: 0, // 上传清单成功数
      failCount2: 0, // 上传清单失败数
      errMsg: '', // 上传失败提示
      downloadKeyLoading: false,
      downloadKey: '',
      city: '广州市'
    }
  },
  mounted() {
    this.getPriceTime()
    this.getIssued()
    // getCityMats().then((res) => {
    //   console.log(res);
    // });
  },
  methods: {
    // 上传
    uploadMaterialFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.materialFile = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
      this.uploadFile()
    },
    // 上传文件
    uploadFile() {
      var formData = new FormData()
      formData.append('file', this.materialFile)
      this.importFile(formData)
    },
    // 导入材料
    importFile(formData) {
      this.resStatus = 3
      this.showResDialog = true
      comPriceExport(formData)
        .then(res => {
          if (res.code == '01') {
            const that = this
            setTimeout(function() {
              that.resStatus = 1
            }, 2500)
            try {
              this.failCount2 = res.body.failCount
              this.successCount2 = res.body.successCount
              this.downloadKey = res.body.downloadKey
            } catch (err) {}

            this.currentPage = 1
          } else {
            this.resStatus = 2
            this.errMsg = res.message
          }
        })
        .catch(err => {})
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.showResDialog = false
          this.startScan = false
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            )
            this.downloadKeyLoading = false
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })
    },
    // 模板下载
    uploadTemp() {
      var loading = this.$loading({
        text: '模板下载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })

      axios
        .get(`/static/export.xlsx`, {
          responseType: 'blob'
        })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]), {
            type: 'application/vnd.ms-excel'
          })

          const link = document.createElement('a')

          const fname = '综合价材料清单模板.xlsx'

          link.href = url

          link.setAttribute('download', fname)

          document.body.appendChild(link)

          link.click()

          loading.close()
        })
        .catch(err => {
          loading.close()
        })
    },
    // 导出综合价材料清单下载
    downloadMatTemplate() {
      downloadMatTemplate()
        .then(res => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') ||
                '导出综合价材料清单.xls'
            )
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') ||
              '导出综合价材料清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
          }
        })
        .catch(err => {})
    },
    // 改变综合价时间-选中下拉框
    changeSelect(val) {
      if (val == 'day') {
        this.setPriceTime('day', val)
      }
    },
    // 选中每年的某个时间
    changeDate(val) {
      this.setPriceTime('year', val)
    },
    // 选中每月的某个月份
    changeMonth(val) {
      this.setPriceTime('month', val)
    },
    // 造价通综合价发布
    changeRelease(val) {
      this.isRelease = val
      this.setIssued('1', val)
    },
    // 造价通材料指数发布
    changeMaterial(val) {
      this.isMaterial = val
      this.setIssued('2', val)
    },
    // 造价通供应商发布
    changeSupplier(val) {
      this.isSupplier = val
      this.setIssued('3', val)
    },
    // 更新造价通时间
    setPriceTime(type, date) {
      updateComPriceTime({
        type,
        date
      }).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.body || res.message
          })
        }
      })
    },
    // 更新发布状态
    setIssued(type, val) {
      updateIssued({
        issued: val,
        type,
        city: this.city
      }).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.body || res.message
          })
        }
      })
    },
    // 获取造价通时间
    getPriceTime() {
      getComPriceTime().then(res => {
        if (res && res.code == '01') {
          this.comTime = res.body.type
          switch (this.comTime) {
            case 'year':
              this.startDate = res.body.date
              break
            case 'month':
              this.dayTime = parseInt(res.body.date)
              break
          }
        }
      })
    },
    // 获取发布状态
    getIssued() {
      getIssuedStatus().then(res => {
        if (res.code == '01') {
          const list = res.body
          this.city = list[0].city
          console.log(list)
          if (list && list.length > 0) {
            list.forEach(it => {
              switch (it.type) {
                case '1':
                  this.isRelease = it.issue
                  break
                case '2':
                  this.isMaterial = it.issue
                  break
                case '3':
                  this.isSupplier = it.issue
              }
            })
          }
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/cs/variables.scss';
.other-set-container {
  .com-upload {
    width: 450px;
    .label-text {
      font-size: 12px;
    }
  }
  .special-right {
    position: relative;
    .special-tmp {
      position: absolute;
    }
  }
  .s-label {
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
  .s-text {
    color: #666;
    font-size: 14px;
  }
  .ss-text {
    color: #666;
    font-size: 14px;
  }
  .close-text {
    left: 25px;
  }

  .resultdialog {
    .scan-success2 {
      flex-direction: column;
      padding: 48px 0 20px 0;
      font-size: 14px;
      color: #333;
      .img2 {
        width: 56px;
        height: 56px;
        margin-bottom: 30px;
      }
      .suc-num2 {
        color: #8cc929;
      }
      .err-num2 {
        color: $color-danger;
      }
    }
  }
}
</style>
