<template>
  <div class="user-manage-container">
    <div class="up-wrap com-el-tabs">
      <el-tabs v-model="activeName">
        <el-tab-pane label="账号管理" name="account">
          <Account v-if="activeName == 'account'" />
        </el-tab-pane>
        <el-tab-pane label="权限管理" name="permission">
          <Permission v-if="activeName == 'permission'" />
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import Account from './components/Account'
import Permission from './components/Permission'

export default {
  name: 'PermissionSet',
  data() {
    return {
      activeName: 'account',
    }
  },
  mounted() {
    if (sessionStorage.getItem('r_mark')) {
      this.activeName = 'permission'
      sessionStorage.removeItem('r_mark')
    }
  },
  components: {
    Account,
    Permission,
  }
}
</script>

<style lang="scss" scoped>
.user-manage-container {
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
</style>