<template>
  <div class="brand-detail">
    <!-- 顶部筛选 -->
    <div class="screen">
      <div class="flex-csb">
        <p class="title-p mb-20">
          <img class="icons mr-10" src="@/assets/img/icons/type.png" alt="">
          <span class="s-title mr-20">{{ brandParams.name || "--" }}</span>
          <!-- <span class="gray">档次：{{ brandParams.grade || "--" }}</span> -->
        </p>
        <el-button v-has="'brand:updateBrand'" class="flex-cc btn btn3" @click="editBrand">编辑</el-button>
      </div>

      <div class="brand-div">
        <span class="s-text com-label-text">关联供应商：</span>
        <span v-for="(it, idx) in supplierNames" :key="idx" class="cp" @click="toSupplierDetail(idx)">
          <img class="cp" src="@/assets/img/v2.0/icons/Paperclip 拷贝 3.png" alt="">
          {{ it }}</span>
      </div>
      <!-- <div class="flex-c com-menu-wrap">
        <div class="cp m-item" :class="{ active: true }">
          <span>产品信息</span>
          <div class="t-line" />
        </div>
      </div> -->

      <!-- <h2>产品信息</h2> -->

      <!-- 适用时间 -->
      <!--不要时间了 <div class="flex-fs norm-type">
        <span class="s-text com-label-text">适用时间</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <template v-if="curTimeList.length > 0">
              <li v-for="(year, index) in curTimeList" :key="index" :class="{ active: curTime == year }" @click="changeCurTime(year)">
                {{ year }}
              </li>
            </template>
            <li v-else :class="{ active: !curTime }">全部</li>
          </ul>
          <ul v-if="curTimeItemList.length > 0" class="flex-cw all-list">
            <li :class="{ active: curTimeItem === '' }" @click="changeCurTimeItem('')">
              全部
            </li>
            <li v-for="(month, index) in curTimeItemList" :key="index" :class="{ active: curTimeItem == month }" @click="changeCurTimeItem(month)">
              {{ month }}月
            </li>
          </ul>
        </div>
      </div> -->
      <!-- 适用地区 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <template v-if="curproList && curproList.length > 0">
              <li :class="{ active: curPro === null }" @click="changeCurPro(null)">
                全部
              </li>
              <li v-for="(pro, index) in curproList" v-show="index <= 7 || morePro" :key="index" :class="{ active: curPro == pro }" @click="changeCurPro(pro)">
                {{ pro }}
              </li>
              <span v-if="curproList && curproList.length > 8" class="more" @click="morePro = !morePro">
                {{ morePro ? "收起" : "更多" }}
                <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': morePro }" />
              </span>
            </template>
            <li v-else :class="{ active: !curPro }">全部</li>
          </ul>
          <ul v-if="curCityList && curCityList.length > 0 && curPro != null" class="flex-cw all-list">
            <li :class="{ active: curCity === null }" @click="changeCurCity(null)">
              全部
            </li>
            <li v-for="(item, index) in curCityList" v-show="index <= 7 || moreCity" :key="item.name" :class="{ active: curCity == item.name }" @click="changeCurCity(item.name)">
              {{ item.name }}
            </li>
            <span v-if="curCityList && curCityList.length > 8" class="more" @click="moreCity = !moreCity">
              {{ moreCity ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': moreCity }" />
            </span>
          </ul>
        </div>
      </div>
      <!-- 数据类型 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">数据类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: standStatus === null }" @click="standFilter(null)">
              全部
            </li>
            <li :class="{ active: standStatus === 1 }" @click="standFilter(1)">
              标准化数据
            </li>
            <li :class="{ active: standStatus === 2 }" @click="standFilter(2)">
              非标准化数据
            </li>
          </ul>
        </div>
      </div>
      <!-- 自定义分类 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">自定义分类</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curMytype == '' }" @click="changeCurMyType('', '')">
              全部
            </li>
            <li v-for="(item, index) in customType" :key="index" :class="{ active: curMytype == item.id }" @click="changeCurMyType(index, item.id)">
              {{ item.name }}
            </li>
          </ul>
          <ul v-if="customTypeItem && customTypeItem.length > 0" class="flex-cw all-list">
            <li :class="{ active: curMytypeItem == '' }" @click="changeCurMyTypeItem('', '')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li v-for="(item, index) in customTypeItem" :key="index" :class="{ active: curMytypeItem == item.name }" @click="changeCurMyTypeItem(item.name, item.id)">
              {{ item.name }}
            </li>
          </ul>
          <ul>
            <li class="no-item">
              <span @click="$router.push('/setting/materialSetting')">设置分类</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- 国标分类 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">国标分类</span>
        <div class="t-wrap">
          <ul class="flex-cw" :class="{ 'is-fold': isMore }">
            <li :class="{ active: curNormType == '' }" @click="changeNormType('', '')">
              全部
            </li>
            <li v-for="(item, index) in normType" :key="index" :class="{ active: curNormType == item.code }" @click="changeNormType(index, item.code)">
              {{ item.name }}
            </li>
          </ul>
          <ul v-if="normTypeItem && normTypeItem.length > 0" class="flex-cw all-list">
            <li :class="{ active: curNormTypeItem == '' }" @click="changeNormTypeItem('', '')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li v-for="(item, index) in normTypeItem" :key="index" :class="{ active: curNormTypeItem == item.code }" @click="changeNormTypeItem(item.code, index)">
              {{ item.name }}
            </li>
          </ul>
          <ul v-if="normTypeThree && normTypeThree.length > 0" class="flex-cw all-list ml-10">
            <li :class="{ active: curNormTypeThree == '' }" @click="changeNormTypeThree('', '')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li v-for="(item, index) in normTypeThree" :key="index" :class="{ active: curNormTypeThree == item.code }" @click="changeNormTypeThree(item.code, index)">
              {{ item.name }}
            </li>
          </ul>
          <ul v-if="normTypeFourth && normTypeFourth.length > 0" class="flex-cw all-list ml-20">
            <li :class="{ active: curNormTypeFourth == '' }" @click="changeNormTypeFourth('', '')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li v-for="(item, index) in normTypeFourth" :key="index" :class="{ active: curNormTypeFourth == item.code }" @click="changeNormTypeFourth(item.code, index)">
              {{ item.name }}
            </li>
          </ul>
        </div>
        <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{ 'is-rotate': isMore }" @click="isMore = !isMore" />
      </div>
      <div class="flex-c top">
        <!-- 搜索 -->
        <div class="com-search2">
          <el-input v-model="searchVal" class="search-ipt" placeholder="请输入材料名称、规格、标准名称、标准规格、编码等关键字搜索" @keyup.enter.native="searchFun" />
          <i class="el-icon-search" @click="searchFun" />
        </div>
      </div>
    </div>

    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-button v-has="'brand:exportSupplierOrBrandMat'" class="flex-cc btn btn3" @click="exportFile">
            <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search">导出
          </el-button>
          <el-button v-has="'brand:deleteMatBrand'" class="flex-cc btn btn-del" @click="allDeleteMaterial">
            <img src="@/assets/img/table/del.png" alt="" class="el-icon-search">删除
          </el-button>
        </div>
        <div class="flex-c right-btns">
          <div @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting icons" />
            <span>列表设置</span>
          </div>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table ref="multipleTable" v-loading="tableLoading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%" @selection-change="multipleSelection = $event">
          <el-table-column type="selection" min-width="66px" />
          <el-table-column v-if="checkedList.indexOf('材料名称') != -1" label="材料名称" min-width="120px">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('规格型号') != -1" prop="spec" min-width="100px" label="规格型号" />
          <el-table-column v-if="checkedList.indexOf('标准名称') != -1" prop="stdName" min-width="100px" label="标准名称" />
          <el-table-column v-if="checkedList.indexOf('标准规格型号') != -1" label="标准规格型号" min-width="140px">
            <template slot-scope="scope">
              <span class="t-color r-wrap">{{ scope.row.features }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('单位') != -1" prop="unit" label="单位" min-width="120px" />
          <el-table-column v-if="checkedList.indexOf('数据类型') != -1" label="数据类型" min-width="90px">
            <template slot-scope="scope">
              <span class="t-color">{{
                scope.row.isForMat == "是" ? "标准化数据" : "非标准化数据"
              }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('国际分类') != -1" label="国际分类" prop="subcName" min-width="110px">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.subcName || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('自定义分类') != -1" prop="custName" label="自定义分类" min-width="100px" />
          <el-table-column v-if="checkedList.indexOf('是否含税') != -1" prop="taxIncluded" label="是否含税" min-width="80px" />
          <el-table-column v-if="checkedList.indexOf('价格(元)') != -1" prop="price" label="价格(元)" min-width="90px" />
          <el-table-column v-if="checkedList.indexOf('适用地区') != -1" prop="applicableArea" label="适用地区" min-width="100px" />
          <!-- <el-table-column v-if="checkedList.indexOf('适用时间') != -1" prop="applicableDate" label="适用时间" min-width="100px" /> 不要时间了-->
          <el-table-column v-if="checkedList.indexOf('供应商') != -1" prop="supplierName" label="供应商" min-width="90px" />
          <el-table-column v-if="checkedList.indexOf('供应商地区') != -1" prop="supplierArea" label="供应商地区" min-width="100px" />
          <el-table-column v-if="checkedList.indexOf('备注') != -1" prop="remark" label="备注" min-width="100px" />
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 编辑品牌 -->
    <el-dialog title="编辑品牌" :visible.sync="showEditBrand" width="460px" class="com-dialog addDialog my-dialog" :close-on-click-modal="false" @close="clearInfo">
      <el-form ref="brandForm" :model="brandForm" label-width="85px" class="demo-brandForm">
        <el-form-item :rules="{
            required: true,
            message: '请输入品牌名称',
            trigger: 'blur',
          }" label="品牌名称" prop="name">
          <el-input v-model="brandForm.name" placeholder="请输入品牌名称" size="medium" />
        </el-form-item>
        <!-- <el-form-item label="档次" prop="grade">
          <el-select v-model="brandForm.grade" clearable size="medium" placeholder="请选择档次">
            <el-option v-for="it in gradeList" :key="it" :value="it">
              {{ it }}
            </el-option>
          </el-select>
        </el-form-item> -->
        <el-form-item label="关联供应商" prop="supplierIds">
          <el-select v-model="suppliers" size="medium" filterable multiple placeholder="请选择">
            <el-option v-for="item in allSuppliers" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showEditBrand = false">取消</el-button>
        <el-button v-loading="btnLoading" type="primary" @click="submitBrand">保存</el-button>
      </span>
    </el-dialog>

    <!-- 列表设置弹窗 -->
    <el-dialog title="选择要显示的列表内容" :visible.sync="showSetListDialog" width="450px" class="com-dialog set-list" :close-on-click-modal="false" @close="setCheckedList">
      <div class="select-list com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" class="flex-c" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="showSetListDialog = false">确定</el-button>
      </span>
    </el-dialog>

    <confirm-dialog :is-show.sync="showDeleteDialog" content-text="确定要删除品牌与材价的关联关系吗？" @confirmClick="confirmDelete" />
  </div>
</template>

<script>
import {
  getMatPricePage,
  exportSupplierOrBrandMat,
  deleteMatBrand,
  getAllSupplierList,
  addOrUpdateBrand,
  getMatConditionHead
} from '@/api/supplier'
export default {
  name: 'BrandDetail',
  data() {
    return {
      curTimeList: [], // 适用时间列表(年)
      curTimeItemList: [], // 适用时间列表(月)
      curTime: '', // 选择适用时间(年)
      curTimeItem: '', // 选择适用时间(月)
      timeData: [], // 组装的年月数据
      // applicableDate: '', // 适用时间 不要时间了

      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      areaData: [], // 组装的地区数据
      curPro: null, // 选择项目地点(省)
      curCity: null, // 选择项目地点(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市

      standStatus: null, // 数据类型筛选 1标准 2非标准

      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 1,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      tableData: [], // 表格数据
      tableLoading: false, // 表格loading

      customType: [], // 自定义分类列表
      customTypeItem: [], // 自定义分类列表（子项）
      curMytype: '', // 选中的自定义分类
      curMytypeItem: '', // 选中的自定义分类(子项)
      custypeId: '', // 自定义分类id（调接口用）

      curNormType: '', // 选中的国标分类（父项）
      normType: [], // 国标分类列表（父项）
      normTypeItem: [], // 国标分类列表（子项）
      normTypeItem2: [], // 国标分类列表（子项,调整分类用）
      curNormTypeItem: '', // 选中的国标分类（子项）
      normTypeThree: [], // 国际分类第三级
      curNormTypeThree: '',
      normTypeFourth: [], // 国际分类第四级
      curNormTypeFourth: '',
      normCode: '', // 国标分类id（调接口用）
      isMore: true, // 展开更多国际分类
      searchVal: '', // 搜索关键字

      showSetListDialog: false,

      checkedList: [
        '材料名称',
        '规格型号',
        '单位',
        '数据类型',
        '国际分类',
        '是否含税',
        '价格(元)',
        '适用地区',
        // '适用时间',不要时间了
        '供应商',
        '供应商地区',
        '备注'
      ], // 列表选中的设置项（默认显示项）
      checkList: [
        '材料名称',
        '规格型号',
        '标准名称',
        '标准规格型号',
        '单位',
        '数据类型',
        '国际分类',
        '自定义分类',
        '是否含税',
        '价格(元)',
        '适用地区',
        // '适用时间',不要时间了
        '供应商',
        '供应商地区',
        '备注'
      ], // 表头列表（所有项)

      showEditBrand: false,
      brandForm: {
        name: '',
        grade: '',
        supplierIds: ''
      },
      gradeList: ['高档', '中高档', '中档', '一般'],
      curGrade: null, // 选中的档次
      allSuppliers: [], // 全部供应商
      suppliers: [], // 选中的供应商
      btnLoading: false,

      showDeleteDialog: false,

      brandParams: JSON.parse(sessionStorage.getItem('isBrandItem'))
    }
  },
  computed: {
    brandId() {
      // 品牌id
      return this.$route.query.brandId
    },
    brandName() {
      // 品牌名称
      return this.$route.query.brandName
    },
    brandGrade() {
      // 品牌档次
      return this.$route.query.grade
    },
    supplierNames() {
      // 品牌关联供应商名称
      // let names = this.$route.query.supplierNames;

      const names = this.brandParams.supplierNames
      if (names) {
        const list = names.split(',')
        return list
      }
    },
    supplierIds() {
      // 品牌关联供应商id
      // let ids = this.$route.query.supplierIds;

      const ids = this.brandParams.supplierIds
      if (ids) {
        const list = ids.split(',')
        return list
      }
    },
    // brandParams() {
    //   let obj = JSON.parse(sessionStorage.getItem("isBrandItem"));
    //   console.log("brandParams", obj);
    //   return obj;
    // },
    userId() {
      return this.$store.getters.userId
    }
  },
  created() {
    // 缓存的列表设置
    if (this.userId) {
      const localList = localStorage.getItem('brand' + this.userId) || null
      if (localList) this.checkedList = JSON.parse(localList)
    }
  },
  mounted() {
    this.getMatConditionHead(true, true) // 获取适用时间、国标分类、自定义分类、适用城市

    this.getAllSupplierList() // 获取全部供应商
  },
  methods: {
    // 保存列表设置
    setCheckedList() {
      localStorage.setItem(
        'brand' + this.userId,
        JSON.stringify(this.checkedList)
      )
    },
    // 编辑品牌
    editBrand() {
      this.brandForm.name = this.brandParams.name
      this.brandForm.grade = this.brandParams.grade
      this.brandForm.id = this.brandId

      const ids = this.brandParams.supplierIds
      if (ids) {
        const arr = ids.split(',')
        this.suppliers = arr.map(it => Number(it))
      }

      this.showEditBrand = true
    },
    clearInfo() {
      this.brandForm.name = ''
      this.brandForm.grade = ''
      this.brandForm.id = null
      this.brandForm.supplierIds = ''
      this.suppliers = []
    },
    submitBrand() {
      this.$refs.brandForm.validate(valid => {
        if (valid) {
          this.addOrUpdateBrand()
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    // 新增或更新品牌信息
    addOrUpdateBrand() {
      if (this.suppliers.length) {
        this.brandForm.supplierIds = this.suppliers.join(',')
      } else {
        this.brandForm.supplierIds = ''
      }
      this.btnLoading = true

      addOrUpdateBrand(this.brandForm).then(res => {
        if (res && res.code == '01') {
          const obj = {
            name: this.brandForm.name,
            grade: this.brandForm.grade,
            supplierIds: this.brandForm.supplierIds
          }
          if (this.suppliers.length) {
            const arr = []
            for (let i = 0, l = this.suppliers.length; i < l; i++) {
              for (let j = 0, l2 = this.allSuppliers.length; j < l2; j++) {
                if (this.suppliers[i] == this.allSuppliers[j].id) {
                  arr.push(this.allSuppliers[j].name)
                  continue
                }
              }
            }

            console.log('编辑', this.suppliers, arr)
            obj.supplierNames = arr.join(',')
          }

          console.log(obj)

          sessionStorage.setItem('isBrandItem', JSON.stringify(obj))

          this.brandParams = JSON.parse(sessionStorage.getItem('isBrandItem'))
          this.$message.success('编辑品牌成功！')
          this.showEditBrand = false
        } else {
          this.$message.error(res.message || '编辑失败！')
        }
        this.btnLoading = false
      })
    },
    // 批量删除材价
    allDeleteMaterial() {
      if (this.multipleSelection.length > 0) {
        this.showDeleteDialog = true
      } else {
        this.openAlert()
      }
    },
    // 确定删除
    confirmDelete() {
      const data = {}
      const arr = this.multipleSelection.map(it => {
        return it.matId
      })
      data.matIds = arr.join(',')

      deleteMatBrand(data).then(res => {
        if (res && res.code == '01') {
          this.getMatPricePage()
          this.$message({
            type: 'success',
            message: '删除该材价成功！'
          })
        }
      })
    },
    // 导出材价列表
    exportFile() {
      if (this.totalCount == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }

      let text = '全部'

      // var applicableDate = this.curTimeItem 不要时间了
      //   ? this.curTime +
      //     '-' +
      //     this.curTimeItem.toString().padStart(2, '0') +
      //     '-01'
      //   : this.curTime + '-01-01'

      var isFormat = this.standStatus === null ? null : this.standStatus == 1

      const data = {
        isYear: !this.curTimeItem, // 是否单纯年
        keyword: this.searchVal,
        // applicableDate: applicableDate, // 适用时间 不要时间了
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        isFormat: isFormat, // 是否标准化数据
        subcid: this.normCode ? this.normCode : null, // 国标分类id
        brandId: this.brandId, // 品牌
        applicableProvince: this.curPro, // 省
        applicableCity: this.curCity // 市
      }

      if (this.multipleSelection.length > 0) {
        const arr = this.multipleSelection.map(it => {
          return it.matId
        })

        data.currentPage = this.currentPage
        data.pageSize = this.pageSize
        data.ids = arr
        text = '当前选中'
      }

      this.$confirm(`确定导出${text}数据吗?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(res => {
          exportSupplierOrBrandMat(data).then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价.xls'
              )
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = event => {
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              sessionStorage.removeItem('blob_filename')
            }
          })
        })
        .catch(err => {})
    },

    // 查询所绑定材价信息
    getMatPricePage() {
      console.log('查询')
      // if (!this.curTime) { 不要时间了
      //   this.tableLoading = false
      //   return
      // }

      console.log('xxxx')
      this.tableLoading = true

      // var applicableDate = this.curTimeItem
      //   ? this.curTime +
      //     '-' +
      //     this.curTimeItem.toString().padStart(2, '0') +
      //     '-01'
      //   : this.curTime + '-01-01'

      var isFormat = this.standStatus === null ? null : this.standStatus == 1

      const data = {
        isYear: !this.curTimeItem, // 是否单纯年
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.searchVal,
        // applicableDate: applicableDate, // 适用时间 不要时间了
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        isFormat: isFormat, // 是否标准化数据
        subcid: this.normCode ? this.normCode : null, // 国标分类id
        brandId: this.brandId, // 品牌
        applicableProvince: this.curPro, // 省
        applicableCity: this.curCity // 市
      }
      getMatPricePage(data)
        .then(res => {
          if (res && res.code == '01') {
            console.log('材价列表', res)
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          } else {
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
          this.tableLoading = false
        })
        .catch(err => {
          this.tableLoading = false
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
    },

    // 搜索
    searchFun() {
      this.currentPage = 1
      this.getMatPricePage()
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getMatPricePage()
    },

    // 适用时间（改年）
    changeCurTime(year) {
      this.curTime = year //  选中的年
      this.curTimeItemList = this.timeData[year] // 月数组
      // this.curTimeItem = this.curTimeItemList[0]  //  默认选第一个月
      this.curTimeItem = ''
      this.searchFun()
    },
    // 适用时间（改月）
    changeCurTimeItem(month) {
      this.curTimeItem = month
      this.searchFun()
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro
      this.curCityList = this.areaData[pro]
      this.curCity = null
      this.searchFun()
    },
    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city
      this.searchFun()
    },

    // 筛选数据类型
    standFilter(type) {
      this.standStatus = type
      this.searchFun()
    },

    // 查询已有材价的条件信息(适用时间、国标分类、自定义分类、适用城市)
    getMatConditionHead(nopass, callback) {
      getMatConditionHead({ brandId: this.brandId }).then(res => {
        if (res && res.code == '01') {
          console.log('条件信息', res)
          this.customType = res.body.customClassifyList
          this.normType = res.body.subClassifyList

          this.commonAreaList = res.body.areaList
          if (this.commonAreaList.length) {
            const areaData = [] //  [{省：[{市：[区]}]}]
            const proList = []
            this.commonAreaList.forEach(item => {
              proList.push(item.name)
              const cityarr = []
              if (item.sub) {
                item.sub.forEach(city => {
                  const areaarr = []
                  if (city.sub) {
                    city.sub.forEach(area => {
                      areaarr.push(area.name)
                    })
                  }
                  const obj = {}
                  obj.name = city.name
                  obj.sub = areaarr
                  cityarr.push(obj)
                })
              }
              areaData[item.name] = cityarr
            })
            this.curproList = proList
            this.areaData = areaData
          } else {
            this.curproList = []
            this.curPro = null
          }
          // 不要时间了 =============
          // 适用时间
          // if (!res || !res.body.matApplicableTime.endTime) {
          //   this.curTimeList = []
          //   this.curTime = ''
          //   this.curTimeItemList = []
          //   this.curTimeItem = ''
          //   this.timeData = []
          //   this.tableData = []
          //   this.totalCount = 0
          //   return
          // }
          // const startTime = new Date(res.body.matApplicableTime.startTime)
          // const endTime = new Date(res.body.matApplicableTime.endTime)
          // var y = startTime.getFullYear()
          // var m = startTime.getMonth() + 1
          // var y2 = endTime.getFullYear()
          // var m2 = endTime.getMonth() + 1
          // const time = {} // {年：[月]}
          // const years = []

          // for (let i = y2; i >= y; i--) {
          //   const timearr = []
          //   years.push(i)
          //   if (i == y) {
          //     let month = 12
          //     if (y == y2) month = m2
          //     for (let j = month; j >= m; j--) {
          //       timearr.push(j)
          //     }
          //   } else if (i == y2) {
          //     for (let j = m2; j >= 1; j--) {
          //       timearr.push(j)
          //     }
          //   } else {
          //     for (let j = 12; j >= 1; j--) {
          //       timearr.push(j)
          //     }
          //   }
          //   time[i] = timearr
          // }
          // this.timeData = time // 组装的年月数据
          // this.curTimeList = years // 所有年

          // if (!this.curTime) {
          //   this.curTime = y2 // 默认选最新一年
          //   this.curTimeItem = ''
          //   this.curTimeItemList = time[y2] // 默认显示第一年的月份
          // }
          // =====================

          this.searchFun() // 材价列表数据
        }
      })
    },

    // 筛选自定义分类(父项)
    changeCurMyType(index, id) {
      this.customTypeItem = []
      this.curMytype = id
      this.curMytypeItem = ''
      this.custypeId = id
      if (index !== '') {
        if (this.customType && this.customType.length > 0) {
          this.customTypeItem = this.customType[index].sub
        }
      }
      this.searchFun()
    },
    // 筛选自定义分类(子项)
    changeCurMyTypeItem(name, id) {
      this.curMytypeItem = name
      if (id !== '') {
        this.custypeId = id
      } else {
        this.custypeId = this.curMytype
      }
      this.searchFun()
    },

    // 切换国标分类（父项）
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      this.normCode = code
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
        this.curNormTypeItem = ''
        this.normTypeThree = []
        this.curNormTypeThree = ''
        this.normTypeFourth = []
        this.curNormTypeFourth = ''
      }
      this.searchFun()
    },
    // 切换国标分类（子项）
    changeNormTypeItem(code, index) {
      this.curNormTypeItem = code
      if (code !== '') {
        this.normCode = code
        this.normTypeThree = this.normTypeItem[index].sub
      } else {
        this.normCode = this.curNormType
        this.normTypeThree = []
        this.curNormTypeThree = ''
        this.normTypeFourth = []
        this.curNormTypeFourth = ''
      }
      this.searchFun()
    },
    // 切换国标分类（第三级）
    changeNormTypeThree(code, index) {
      this.curNormTypeThree = code
      if (code !== '') {
        this.normCode = code
        this.normTypeFourth = this.normTypeThree[index].sub
      } else {
        this.normCode = this.curNormTypeItem
        this.normTypeFourth = []
        this.curNormTypeFourth = ''
      }
      this.searchFun()
    },
    // 切换国标分类（第四级）
    changeNormTypeFourth(code, index) {
      this.curNormTypeFourth = code
      if (code !== '') {
        this.normCode = code
      } else {
        this.normCode = this.curNormTypeThree
      }
      this.searchFun()
    },
    // 获取全部供应商
    getAllSupplierList() {
      getAllSupplierList().then(res => {
        if (res && res.code == '01') {
          this.allSuppliers = res.body
        }
      })
    },
    // 跳转到详情
    toSupplierDetail(idx) {
      this.$router.push({
        path: '/publicModule/supplierlManage/detail',
        query: {
          supplierId: this.supplierIds[idx]
        }
      })
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据操作'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.brand-detail {
  border-top: 1px solid #f3f3f4;
  .screen {
    padding: 27px 20px 15px 28px;
    background: #ffffff;

    .el-button {
      display: flex;
    }

    .top {
      padding-bottom: 10px;
      .com-search2 {
        width: 484px;
      }
    }
    .title-p {
      display: flex;
      align-items: flex-end;
    }
    .s-title {
      margin: 0;
      line-height: 1;
    }

    .brand-div {
      margin-right: 20px;
      padding-bottom: 10px;
      // border-bottom: 1px solid #f3f3f4;
      span:not(.s-text) {
        background: #1685ec1a;
        border-radius: 2px;
        color: #188efb;
        padding: 4px 10px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    .com-menu-wrap {
      margin-bottom: 20px;
      background-color: #f6f6f6;

      .m-item {
        width: 235px;
        .t-line {
          width: 235px;
        }
      }
    }

    .norm-type {
      margin-top: 10px;
      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }
      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 6px;
        .el-icon-arrow-right {
          font-size: 12px;
        }
      }
      .is-fold {
        max-height: 48px;
        overflow-y: hidden;
      }
    }
  }

  .el-select {
    width: 100%;
  }

  .sup-table {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;

    .right-btns {
      color: #333333;
      font-size: 16px;
      > div {
        cursor: pointer;
        margin-left: 31px;
        font-family: 'mainfont';
        white-space: nowrap;
        .icons {
          margin-right: 4px;
        }
        .imgs {
          width: 14px;
          height: 14px;
          margin-right: 6px;
          margin-left: 16px;
        }
      }
    }
  }
}
</style>

<style lang="scss">
.brand-detail {
  .com-dialog .el-dialog__body {
    padding: 20px 30px;
  }
}
</style>
