<template>
  <div class="compare-container">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>项目管理</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/project/index' }">单项工程库</el-breadcrumb-item>
          <el-breadcrumb-item v-if="details && details.name" :to="{ path: '/project/detail' }">{{
            details.name
          }}</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">项目对比详情</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <div class="top-content test-tabs">
      <div class="flex-c com-menu-wrap mt-10">
        <div class="cp m-item" :class="{ active: curMenu === '工程概况对比' }" @click="changeMenu('工程概况对比')">
          <span>工程概况对比</span>
          <div class="t-line"></div>
        </div>
        <div class="cp m-item" :class="{ active: curMenu === '单位工程对比' }" @click="changeMenu('单位工程对比')">
          <span>单位工程对比</span>
          <div class="t-line"></div>
        </div>
        <div class="cp m-item" :class="{ active: curMenu === '分部分项对比' }" @click="changeMenu('分部分项对比')">
          <span>分部分项对比</span>
          <div class="t-line"></div>
        </div>
        <div class="cp m-item" :class="{ active: curMenu === '工料机对比' }" @click="changeMenu('工料机对比')">
          <span>工料机对比</span>
          <div class="t-line"></div>
        </div>

        <div class="to_chart">
          <el-radio-group @change="toChart" v-model="listToChart" size="mini">
            <el-radio-button label="图表"></el-radio-button>
            <el-radio-button label="列表"></el-radio-button>
          </el-radio-group>
        </div>
      </div>
      <div v-show="curMenu === '工程概况对比'">
        <div class="div-part">
          <div class="flex-csb">
            <div class="flex-c">
              <div class="com-operate-wrap" style="margin-left: -25px">
                <div class="b-title">基本信息</div>
              </div>
              <el-button class="btn" @click="addProjectDialog">
                <img class="icons mr-5" src="@/assets/img/table/add.png" alt="" />
                <span>添加单项工程</span>
              </el-button>
            </div>
            <el-button class="flex-cc btn btn3" @click="exportFile">
              <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search" />导出
            </el-button>
          </div>

          <div class="com-table-wrap">
            <el-table border :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%" :key="'base' + count">
              <el-table-column v-for="item in tHeaderData" :key="item.prop" :prop="item.prop" :label="item.label" :width="item.label == '对比项目'? '140px': 'auto'">
                <template slot="header">
                  <!-- <span> {{ item.label }} </span> -->
                  <div class="flex-cc project-div">
                    <p :title="item.label" class="project-p">
                      {{ item.label }}
                    </p>
                    <i v-if="item.prop != 'fieldName'" @click="closeProject(item)" class="el-icon-error cp red"></i>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="div-part">
          <div class="com-operate-wrap" style="margin-left: -25px">
            <div class="b-title">技术特征</div>
          </div>
          <div class="com-table-wrap">
            <el-table border :data="tableData2" tooltip-effect="dark" class="table-main" :key="'feature' + count" style="width: 100%" :show-header="false">
              <el-table-column v-for="item in tHeaderData" :key="item.prop" :prop="item.prop" :label="item.label" :width="item.label == '对比项目'? '140px': 'auto'">
                <template slot="header">
                  <!-- <span> {{ item.label }} </span>
                  <i
                    v-if="item.prop != 'fieldName'"
                    class="el-icon-error cp red"
                  ></i> -->

                  <div class="flex-cc project-div">
                    <p :title="item.label" class="project-p">
                      {{ item.label }}
                    </p>
                    <i v-if="item.prop != 'fieldName'" @click="closeProject(item)" class="el-icon-error cp red"></i>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="div-part">
          <div class="com-operate-wrap" style="margin-left: -25px">
            <div class="b-title">阶段信息</div>
          </div>
          <div class="com-table-wrap">
            <el-table border :data="tableData3" tooltip-effect="dark" class="table-main" :key="'stage' + count" style="width: 100%" :show-header="false">
              <el-table-column v-for="item in tHeaderData" :key="item.prop" :prop="item.prop" :label="item.label" :width="item.label == '对比项目'? '140px': 'auto'">
                <template slot="header">
                  <!-- <span> {{ item.label }} </span>
                  <i
                    v-if="item.prop != 'fieldName'"
                    class="el-icon-error cp red"
                  ></i> -->
                  <div class="flex-cc project-div">
                    <p :title="item.label" class="project-p">
                      {{ item.label }}
                    </p>
                    <i v-if="item.prop != 'fieldName'" @click="closeProject(item)" class="el-icon-error cp red"></i>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
      <div v-show="curMenu != '工程概况对比'" class="div-part com-table-wrap expand-table mt-30">
        <div class="flex-csb">
          <div class="flex-c mb-20">
            <span class="com-label-text">请选择单位工程：</span>
            <div class="com-select">
              <el-select v-model="curItemCode" placeholder="请选择">
                <el-option v-for="(item, index) in unitItemList" :key="item.id" :label="item.name" :value="item.code" @click.native="changeUnitItem(index)">
                </el-option>
              </el-select>
            </div>
            <!-- <div class="com-select">
            <el-select v-model="curSubItemCode" placeholder="请选择">
              <el-option
                v-for="item in subItem"
                :key="item.id"
                :label="item.name"
                :value="item.code"
                @click.native="changeSubItem(item.type)"
              >
              </el-option>
            </el-select>
          </div> -->

            <el-button class="btn" @click="addProjectDialog">
              <img class="icons mr-5" src="@/assets/img/table/add.png" alt="" />
              <span>添加单项工程</span>
            </el-button>
          </div>
          <el-button class="flex-cc btn btn3" @click="exportFile">
            <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search" />导出
          </el-button>
        </div>

        <el-table v-show="curMenu == '单位工程对比'" :data="tableUnit" style="width: 100%; margin-bottom: 20px" :key="'unit' + count" row-key="id" border default-expand-all
          :tree-props="{ children: 'subs' }">
          <el-table-column prop="name" label="对比项目" width="140">
          </el-table-column>
          <el-table-column v-for="it in tHeaderUnit" :label="it.name" :key="it.id" align="center">
            <template slot="header">
              <div class="flex-cc project-div">
                <p :title="it.name" class="project-p">{{ it.name }}</p>
                <i class="el-icon-error cp red" @click="closeProject(it)"></i>
              </div>
            </template>
            <el-table-column :prop="`cost${it.id}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${it.id}`" label="单方造价">
            </el-table-column>
          </el-table-column>
        </el-table>
        <el-table
          v-show="curMenu == '分部分项对比'"
          :data="tableSub"
          style="width: 100%; margin-bottom: 20px"
          :key="'branch' + count"
          row-key="id"
          border
          default-expand-all
          :tree-props="{ children: 'subs' }"
          class="branch-table"
        >
          <el-table-column prop="name" label="对比项目" min-width="170">
            <template slot-scope="scope">
              <span class="cp" @click="showQuota(scope.row.engResList)" v-if="scope.row.quota">
                {{ scope.row.name }}
                <img class="img-echart" src="@/assets/img/table/census.png" alt="" />
              </span>
              <span v-else>
                {{ scope.row.name }}
              </span>
            </template>
          </el-table-column>
          <el-table-column v-for="it in tHeaderUnit" :label="it.name" :key="it.id" align="center">
            <template slot="header">
              <div class="flex-cc project-div">
                <p :title="it.name" class="project-p">{{ it.name }}</p>
                <i class="el-icon-error cp red" @click="closeProject(it)"></i>
              </div>
            </template>
            <el-table-column :prop="`cost${it.id}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${it.id}`" label="单方造价">
            </el-table-column>
          </el-table-column>
        </el-table>
        <el-table v-show="curMenu == '工料机对比'" :data="tableMachine" style="width: 100%; margin-bottom: 20px" :key="'eng' + count" row-key="id" border default-expand-all
          :tree-props="{ children: 'subs' }">
          <el-table-column prop="name" label="对比项目" width="120">
          </el-table-column>
          <el-table-column v-for="it in tHeaderUnit" :label="it.name" :key="it.id" align="center">
            <template slot="header">
              <!-- <span> {{ it.name }} </span>
              <i class="el-icon-error cp red" @click="closeProject(it)"></i> -->
              <div class="flex-cc project-div">
                <p :title="it.name" class="project-p">{{ it.name }}</p>
                <i class="el-icon-error cp red" @click="closeProject(it)"></i>
              </div>
            </template>
            <el-table-column :prop="`cost${it.id}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${it.id}`" label="单方造价">
            </el-table-column>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <!-- 项目对比弹窗 -->
    <el-dialog :visible.sync="compareDialog" :close-on-click-modal="false" title="添加单项工程对比" width="885px" class="com-dialog">
      <div class="dialog-container">
        <div class="flex-c">
          <div class="com-search2">
            <el-input class="search-ipt" placeholder="请输入项目名称搜索" v-model="keyword" @keyup.enter.native="getProjectStageList" />
            <i class="el-icon-search" @click="getProjectStageList"></i>
          </div>
          <div class="flex-c com-select">
            <div class="dialog-label">价格取定期</div>
            <div class="sel-time sel-time2">
              <el-date-picker v-model="applicableDate" type="month" placeholder="年/月" @change="changeDate">
              </el-date-picker>
            </div>
          </div>
          <div class="flex-c com-select small-select">
            <div class="dialog-label">项目地点</div>
            <el-select v-model="curPro2" placeholder="请选择省" class="mr-10" @change="changeProvince($event)">
              <el-option :value="null">请选择</el-option>
              <el-option v-for="item in commonAreaList" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
            <el-select v-model="curCity2" placeholder="请选择市" class="mr-10" @change="changeCity()">
              <el-option :value="null">请选择</el-option>
              <el-option v-for="item in commonAreaListItem" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="flex-c mt-20 mb-15">
          <p class="mr-40">
            <span>项目分类：</span>
            <span>{{ projectCompare.specialtyType }}</span>
          </p>
          <p class="mr-40">
            <span>阶段：</span>
            <span>{{ projectCompare.stageUseName }}</span>
          </p>
          <p class="mr-40">
            <span>计税：</span>
            <span v-if="projectCompare.taxManner == 1">增值税（一般计税方法）</span>
            <span v-else>简易计税方法</span>
          </p>
        </div>
        <!-- 弹窗表格 -->
        <div class="table-box" style="margin-bottom: 110px">
          <el-table ref="multipleTable" :data="compareDialogList" tooltip-effect="dark" v-loading="compareDialogLoading" class="table-main" height="250px" style="width: 100%">
            <el-table-column prop="name">
              <template slot="header">
                <span class="cp flex-c">
                  <span>项目名称</span>
                </span>
              </template>
            </el-table-column>
            <el-table-column label="总造价" :sort-method="sortAllprice2" sortable>
              <template slot-scope="scope">
                {{ formatNumber(scope.row.totalPrice) }}
              </template>
            </el-table-column>
            <el-table-column prop="computeCaliber" label="建筑面积">
              <template slot-scope="scope">
                <span> {{ formatNumber(scope.row.computeCaliber, true) }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="econStd" label="单方造价"> </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <span class="red-btn" @click="
                    addOrDelCompare('del', scope.row, scope.row.projectStageId)
                  " v-if="
                    echartsProjectStageId.indexOf(scope.row.projectStageId) > -1
                  ">取消对比</span>
                <span class="blue-btn" @click="
                    addOrDelCompare('add', scope.row, scope.row.projectStageId)
                  " v-else>+加入对比</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 底部分页与操作 -->
        <div class="dialog-bottom">
          <!-- 操作 -->
          <div class="flex-csb">
            <div class="added flex-c">
              <div style="width: 104px">已加入项目：</div>
              <div class="addedItem-box flex-cw">
                <div v-for="(item, index) in projectCompare.projectParams" :key="index" class="addedItem flex-csb mr-6 mb-5">
                  <p class="nowrap">{{ item.name }}</p>
                  <img src="@/assets/img/table/del_gray.png" alt="" class="cp" @click="delCompare(index)" />
                </div>
              </div>
            </div>
            <div class="clear" @click="delCompare('all')">
              <img class="mr-5" src="@/assets/img/table/del_gray.png" alt="" />
              <span>清空数据</span>
            </div>
          </div>

          <div class="btn-wrap">
            <el-button type="primary" v-loading="submitCompareLoading" @click="submitCompare">确定</el-button>
            <el-button @click="compareDialog = false">取消</el-button>
          </div>
        </div>
      </div>
    </el-dialog>

    <el-dialog title="清单（定额）详情对比" :visible.sync="quotaTableVisible" width="1085px" class="com-dialog com-dialog2">
      <div class="com-table-wrap">
        <el-table border :data="quotaList" tooltip-effect="dark" class="table-main" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <div class="detail-table">
                <span class="_flex mb-10">定额信息</span>
                <el-table border :data="props.row.quota" style="width: 100%">
                  <el-table-column prop="code" label="定额编码">
                  </el-table-column>
                  <el-table-column prop="name" min-width="110px" label="定额名称">
                    <template slot-scope="scope">
                      <p class="ellipsis2" :title="scope.row.name">
                        {{ scope.row.name }}
                      </p>
                    </template>
                  </el-table-column>
                  <el-table-column prop="unit" label="定额单位">
                  </el-table-column>
                  <el-table-column min-width="70px" prop="count" label="数量">
                  </el-table-column>
                  <el-table-column label="单价" align="center">
                    <el-table-column prop="manualPrice" label="人工费">
                    </el-table-column>
                    <el-table-column prop="materialPrice" label="材料费">
                    </el-table-column>
                    <el-table-column prop="mechanicPrice" label="机械费">
                    </el-table-column>
                    <el-table-column min-width="120px" prop="extraPrice" label="管理费和利润">
                    </el-table-column>
                    <el-table-column prop="feesPrice" label="规费">
                    </el-table-column>
                    <el-table-column prop="taxPrice" label="税金">
                    </el-table-column>
                    <el-table-column prop="riskPrice" label="风险费">
                    </el-table-column>
                  </el-table-column>
                </el-table>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="对比项目" min-width="120px">
            <template slot-scope="scope">
              <p class="ellipsis2" :title="scope.row.name">
                {{ scope.row.name }}
              </p>
            </template>
          </el-table-column>
          <el-table-column prop="code" min-width="90px" label="编码">
          </el-table-column>
          <el-table-column prop="normConfigName" min-width="100px" label="名称">
          </el-table-column>
          <el-table-column prop="features" min-width="120px" label="特征描述">
            <template slot-scope="scope">
              <p class="ellipsis2" :title="scope.row.features">
                {{ scope.row.features }}
              </p>
            </template>
          </el-table-column>
          <el-table-column prop="caliberUnit" min-width="65px" label="单位">
          </el-table-column>
          <el-table-column prop="count" min-width="80px" label="工程量">
          </el-table-column>
          <el-table-column prop="price" min-width="110px" label="综合单价(元)">
          </el-table-column>
          <el-table-column prop="totalPrice" min-width="100px" label="合价(元)">
          </el-table-column>
          <el-table-column prop="econStd" min-width="100px" label="单方造价">
          </el-table-column>
        </el-table>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import {
  getProjectCompareView,
  getProjectStageList,
  getProjectUnitItemList
} from '@/api/project'
import {
  getProjectCompareOverview,
  getProjectCompareUnitEng,
  getProjectCompareDept,
  getProjectCompareMat,
  exportSingleProjectComparison
} from '@/api/project2.0'
import { getAreaTree } from '@/api/common'

import { formatDate } from '@/utils/common'

export default {
  name: 'compareProject',
  data() {
    return {
      projectCompare: {}, // 项目对比参数
      correct: false,
      stageUseName: null, // 阶段名
      stageId: null, // 项目阶段id
      projectStageId: [],
      echartsProjectStageId: [],
      stageDetail: [], // 项目对比详情
      echartsData: [], // 图表数据
      curSubType: null,
      showSetListDialog: false, // 显示列表设置弹窗
      compareDialog: false, // 项目对比弹窗
      keyword: null, // 项目对比弹窗搜索关键字
      applicableDate: null, // 价格取定期
      compareDialogList: [], // 项目对比表格数据
      compareDialogLoading: false,
      addedList: [], // 已添加的对比项目
      province: null,
      city: null,
      submitCompareLoading: false,
      econStd: '',
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      curPro2: '', // 选择的省
      curCity2: '', // 选择的市

      curMenu: '工程概况对比',
      tableData: [],
      tHeaderData: [],
      tableData2: [],
      tHeaderData2: [],
      tableData3: [],
      tHeaderData3: [],

      tHeaderUnit: [],
      tableUnit: [], // 单位工程
      tHeaderSub: [],
      tableSub: [], // 分部分项
      tableTest: [],
      tableMachine: [], // 工料机
      quotaTableVisible: false,
      quotaList: [],
      details: {}, // 详情数据

      compareData: [], // 工程概况对比
      unitEngData: [], // 单位工程对比
      subData: {}, // 分部分项对比
      machineData: [], // 工料机对比

      unitItemList: [], // 单位工程列表
      curItemCode: '',
      subItem: [], // 单位工程子项
      curSubItemCode: null,
      count: 0,

      listToChart: '列表',
      subCount: 0
    }
  },

  mounted() {
    this.details = this.$store.state.project.projectVisible || {}
    this.projectCompare = this.$store.state.project.projectCompare
    const projectParams = this.projectCompare.projectParams || []
    for (let i = 0; i < projectParams.length; i++) {
      this.projectStageId.push(projectParams[i].projectStageId)
      this.echartsProjectStageId.push(projectParams[i].projectStageId)
    }
    this.stageId = this.projectCompare.stageId
    this.stageUseName = this.projectCompare.stageUseName

    // 项目对比下拉框数据
    this.getProjectUnitItemList()

    // 工程概况
    this.getProjectCompareOverview()

    // 分部分项
    this.getProjectCompareDept()

    this.getAreaTree()
  },
  watch: {
    // 基本信息2
    compareData: {
      deep: true,
      handler: function(data) {
        this.tableData = []
        if (data && data.length) {
          this.tHeaderData = [{ label: '对比项目', prop: 'fieldName' }]
          // 基本信息
          const obj = { fieldName: '项目地址' }
          const obj2 = { fieldName: '项目分类' }

          // 阶段信息
          const stageArr = [
            { fieldName: '造价阶段' },
            { fieldName: '价格取定期' },
            { fieldName: '计税方式' },
            { fieldName: '计价依据' },
            { fieldName: '总造价' },
            { fieldName: '单方造价' },
            { fieldName: '建筑面积' }
          ]

          // 技术特征
          const featureObj = {}

          for (let i = 0, l = data.length; i < l; i++) {
            this.tHeaderData.push({
              label: data[i].name,
              prop: 'project' + i,
              id: data[i].projectStageId
            })
            obj['project' + i] = `${data[i].province}${
              data[i].city ? '-' + data[i].city : ''
            }${data[i].city ? '-' + data[i].area : ''}`
            obj2['project' + i] = `${data[i].specialtyType}${
              data[i].projectType ? '-' + data[i].projectType : ''
            }${data[i].engType ? '-' + data[i].engType : ''}`

            stageArr[0]['project' + i] = data[i].stdName
            // stageArr[1]["project" + i] = data[i].applicableDate
            //   ? formatDate(data[i].applicableDate, 2)
            //   : "";
            stageArr[1]['project' + i] = data[i].applicableDate
              ? data[i].applicableDate
              : ''
            stageArr[2]['project' + i] =
              (data[i].taxManner == 1
                ? '增值税(一般计税方法)'
                : data[i].taxManner == 2
                  ? '简易计税方法'
                  : '营业税计税方法') || ''
            stageArr[3]['project' + i] = data[i].invComputeNorm
            stageArr[4]['project' + i] = data[i].totalPrice
            stageArr[5]['project' + i] = data[i].econStd
            stageArr[6]['project' + i] = data[i].caliber

            const list = data[i].feature
            if (list && list.length) {
              for (let j = 0, l2 = list.length; j < l2; j++) {
                const name = list[j].name
                if (i == 0) {
                  featureObj[name] = { fieldName: name }
                }
                if (!featureObj[name]) featureObj[name] = { fieldName: name }
                featureObj[name]['project' + i] = list[j].value || ''
              }
            }
          }

          // 基本信息
          this.tableData.push(obj)
          this.tableData.push(obj2)

          // 阶段信息
          this.tableData3 = stageArr

          // 技术特征
          this.tableData2 = []
          for (const val in featureObj) {
            this.tableData2.push(featureObj[val])
          }

          console.log(
            '项目概况',
            this.tableData,
            this.tableData2,
            this.tableData3
          )
        }
      }
    },
    // 单位工程对比
    unitEngData: {
      deep: true,
      handler: function(data) {
        this.tableUnit = []
        if (data && data.stageConfigRes) {
          this.tHeaderUnit = data.stageConfigRes || []

          if (data.eng && data.eng.length) {
            const sonList = data.eng.map(it => it.sonList)
            for (let i = 0, l = sonList.length; i < l; i++) {
              const list = sonList[i]
              const obj = {}
              const obj2 = {}
              for (let j = 0, l2 = list.length; j < l2; j++) {
                if (j == 0) {
                  obj.id = i + '' + list[j].projectStageId
                  obj.name = list[j].name
                }
                obj[`cost${list[j].projectStageId}`] = list[j].totalPrice
                obj[`target${list[j].projectStageId}`] = list[j].econStd

                const modelList = list[j].processUnitEngModelList
                for (let k = 0, l3 = modelList.length; k < l3; k++) {
                  const name = modelList[k].name
                  if (!obj2[name]) obj2[name] = {}

                  obj2[name].id = `${i}${list[j].projectStageId}${k}`
                  obj2[name].name = name
                  obj2[name][`cost${list[j].projectStageId}`] =
                    modelList[k].totalPrice
                  obj2[name][`target${list[j].projectStageId}`] =
                    modelList[k].econStd
                }
              }

              obj.subs = []
              for (const son in obj2) {
                obj.subs.push(obj2[son])
              }
              this.tableUnit.push(obj)
            }
          }
        }
      }
    },
    // 分部分项对比
    subData: {
      deep: true,
      handler: function(data) {
        console.log('监听分部分项对比', data)
        this.tableSub = []
        if (data && data.stageConfigRes) {
          this.tHeaderUnit = data.stageConfigRes || []

          const deptList = data.dept
          if (deptList && deptList.length) {
            this.subCount = 0
            this.setSubTree(deptList)
          }
        }

        console.log('分部分项结果', this.tableSub)
      }
    },
    // 工料机对比
    machineData: {
      deep: true,
      handler: function(data) {
        this.tableMachine = []
        if (data && data.stageConfigRes) {
          this.tHeaderUnit = data.stageConfigRes || []

          const matList = data.matList
          if (matList && matList.length) {
            for (let i = 0, l = matList.length; i < l; i++) {
              const obj = {}
              obj.id = matList[i].normConfigId
              obj.name = matList[i].normConfigName

              obj.subs = [
                { name: '人工' },
                { name: '材料' },
                { name: '机械' },
                { name: '钢筋' },
                { name: '混凝土' },
                { name: '水泥' }
              ]

              const list = matList[i].projectStageUnitEngList
              if (list && list.length) {
                for (let j = 0, l2 = list.length; j < l2; j++) {
                  obj[`cost${list[j].projectStageId}`] = list[j].totalPrice
                  obj[`target${list[j].projectStageId}`] = list[j].econStd

                  obj.subs[0].id = `${i}${list[j].projectStageId}0`
                  obj.subs[0][`cost${list[j].projectStageId}`] =
                    list[j].totalManualPrice
                  obj.subs[0][`target${list[j].projectStageId}`] =
                    list[j].econStdManual

                  obj.subs[1].id = `${i}${list[j].projectStageId}1`
                  obj.subs[1][`cost${list[j].projectStageId}`] =
                    list[j].totalMaterialPrice
                  obj.subs[1][`target${list[j].projectStageId}`] =
                    list[j].econStdMaterial

                  obj.subs[2].id = `${i}${list[j].projectStageId}2`
                  obj.subs[2][`cost${list[j].projectStageId}`] =
                    list[j].totalMechanicPrice
                  obj.subs[2][`target${list[j].projectStageId}`] =
                    list[j].econStdMechanic

                  obj.subs[3].id = `${i}${list[j].projectStageId}3`
                  obj.subs[3][`cost${list[j].projectStageId}`] =
                    list[j].totalRebarPrice
                  obj.subs[3][`target${list[j].projectStageId}`] =
                    list[j].econStdRebar

                  obj.subs[4].id = `${i}${list[j].projectStageId}4`
                  obj.subs[4][`cost${list[j].projectStageId}`] =
                    list[j].totalConcretePrice
                  obj.subs[4][`target${list[j].projectStageId}`] =
                    list[j].econStdConcrete

                  obj.subs[5].id = `${i}${list[j].projectStageId}5`
                  obj.subs[5][`cost${list[j].projectStageId}`] =
                    list[j].totalCementPrice
                  obj.subs[5][`target${list[j].projectStageId}`] =
                    list[j].econStdCement
                }
              }

              this.tableMachine.push(obj)
            }
          }
        }
      }
    }
  },
  computed: {
    // 默认城市
    defaultCity() {
      return sessionStorage.getItem('init_default_city')
    },
    // 默认省份
    defaultProvince() {
      return sessionStorage.getItem('init_default_province')
    },
  },
  methods: {
    // tab切换
    changeMenu(item) {
      this.curMenu = item
      // 刷新
      this.refreshData()
    },
    showQuota(quota) {
      console.log('quota', quota)
      this.quotaList = quota
      this.quotaTableVisible = true
    },
    // 总造价排序(对比弹窗)
    sortAllprice2(a, b) {
      return a.totalPrice - b.totalPrice
    },
    // 单位工程 数据分类
    setUnitSort(data) {
      const moth = []
      let flag = 0
      const list = data
      let wdy = {
        normConfigId: '',
        items: ''
      }
      for (let i = 0; i < list.length; i++) {
        let az = ''
        for (let j = 0; j < moth.length; j++) {
          if (moth[j].normConfigId == list[i]['normConfigId']) {
            flag = 1
            az = j
            break
          }
        }
        if (flag == 1) {
          const ab = moth[az]
          ab.items.push(list[i])
          flag = 0
        } else if (flag == 0) {
          wdy = {}
          wdy.normConfigId = list[i]['normConfigId']
          wdy.items = new Array()
          wdy.items.push(list[i])
          moth.push(wdy)
        }
      }
      return moth
    },
    // 分部分项树遍历
    setSubTree(data, subList) {
      const obj = {}
      for (let i = 0, l = data.length; i < l; i++) {
        if (!subList && i > 0) {
          // 避免被下一条obj覆盖
          const idx = i - 1
          this.tableSub[idx] = JSON.parse(JSON.stringify(this.tableSub[idx]))
        }

        if (subList && subList.length > 0) {
          // 避免被下一条obj覆盖
          const idx = i - 1
          subList[idx] = JSON.parse(JSON.stringify(subList[idx]))
        }

        const list = data[i].projectProcessUnitEngResList
        obj.name = data[i].normConfigName
        obj.id = `${data[i].normConfigId}${this.subCount++}`
        obj.quota = false
        obj.engResList = data[i].projectProcessUnitEngResList || []

        const stageArr = JSON.parse(JSON.stringify(this.tHeaderUnit))
        if (list && list.length) {
          for (let j = 0, l2 = list.length; j < l2; j++) {
            obj[`cost${list[j].projectStageId}`] = list[j].totalPrice
            obj[`target${list[j].projectStageId}`] = list[j].econStd
            if (list[j].quota) {
              obj.quota = true
            }

            for (let k = 0, l3 = stageArr.length; k < l3; k++) {
              if (stageArr[k].id == list[j].projectStageId) {
                stageArr.splice(k, 1)
                break
              }
            }
          }
        }

        if (stageArr.length) {
          for (let n = 0, l4 = stageArr.length; n < l4; n++) {
            const obj4 = {
              projectStageId: stageArr[n].id,
              name: stageArr[n].name
            }
            obj.engResList.push(obj4)
          }
        }

        obj.subs = []

        if (subList) {
          subList.push(obj)
        } else {
          this.tableSub.push(obj)
        }

        if (data[i].child) this.setSubTree(data[i].child, obj.subs)
      }
    },

    // 确认对比
    submitCompare() {
      if (this.projectCompare.projectParams.length < 2) {
        this.$message({
          type: 'error',
          message: '最少选择2个对比项目'
        })
        return
      }
      if (this.projectCompare.projectParams.length > 10) {
        this.$message({
          type: 'error',
          message: '项目对比的数目最多10个'
        })
        return
      }
      this.submitCompareLoading = true
      // this.getChartData("submitCompare");
      // 项目概况
      // this.getProjectCompareOverview();

      // 刷新
      this.refreshData('submitCompare')
    },
    // 加入项目对比
    addOrDelCompare(type, item, id) {
      const projectParams = this.projectCompare.projectParams
      if (type === 'add') {
        if (this.projectCompare.projectParams.length === 10) {
          this.$message({
            type: 'error',
            message: '项目对比的数目最多10个'
          })
          return
        }
        if (
          projectParams.length > 0 &&
          projectParams[0].computeCaliber.replace(/[\d.,]/g, '') !=
            item.computeCaliber.replace(/[\d.,]/g, '')
        ) {
          this.$message({
            type: 'error',
            message: '请选择相同的建筑面积单位对比'
          })
          return
        }
        this.echartsProjectStageId.push(id)
        projectParams.push(item)
      } else {
        this.count++
        for (let i = 0; i < this.echartsProjectStageId.length; i++) {
          if (id == this.echartsProjectStageId[i]) {
            this.echartsProjectStageId.splice(i, 1)
          }
        }
        for (let j = 0; j < projectParams.length; j++) {
          if (id == projectParams[j].projectStageId) {
            projectParams.splice(j, 1)
          }
        }
      }
    },
    // 删除项目对比
    delCompare(index) {
      this.echartsProjectStageId = []
      if (index === 'all') {
        this.projectCompare.projectParams = []
      } else {
        this.projectCompare.projectParams.splice(index, 1)
        for (let i = 0; i < this.projectCompare.projectParams.length; i++) {
          this.echartsProjectStageId.push(
            this.projectCompare.projectParams[i].projectStageId
          )
        }
      }
    },
    // 导出对比
    exportFile() {
      exportSingleProjectComparison({
        projectStageIds: this.echartsProjectStageId
      }).then(res => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: 'text/csv;charset=utf-8;' }),
            sessionStorage.getItem('blob_filename') || '项目对比.xls'
          )
          return
        }
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {
          console.log(err)
        }
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName =
            sessionStorage.getItem('blob_filename') || '项目对比.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          sessionStorage.removeItem('blob_filename')
        }
      })
    },
    // 项目日期筛选
    changeDate(val) {
      this.applicableDate = val ? new Date(val) : null
      this.getProjectStageList()
    },
    // 添加项目对比弹窗
    addProjectDialog() {
      // 重置
      this.keyword = null
      
      // this.curPro2 = null
      // this.curCity2 = null

      // 默认选中江门市
      this.curPro2 = this.defaultProvince;
      this.commonAreaListItem = this.areaData[this.curPro2];
      this.curCity2 = this.defaultCity;

      this.applicableDate = null

      this.compareDialog = true
      this.getProjectStageList()
    },
    // 获取项目阶段列表
    getProjectStageList() {
      const data = {
        currentPage: null,
        pageSize: null,
        applicableDate: this.applicableDate,
        province: this.curPro2 || null,
        city: this.curCity2 || null,
        specialtyType: this.projectCompare.specialtyType,
        projectType: this.projectCompare.projectType,
        engType: this.projectCompare.engType,
        keyword: this.keyword,
        stageId: this.projectCompare.stageId,
        taxManner: this.projectCompare.taxManner,
        timeUnit: this.applicableDate ? 'day' : null,
        unit: this.projectCompare.projectParams[0].caliberUnit,
        engineering: true // 大项目为false
      }
      this.compareDialogLoading = true
      getProjectStageList(data).then(res => {
        this.compareDialogLoading = false
        if (res.code === '01') {
          this.compareDialogList = res.body.list
        }
      })
    },
    // 获取地区（省，市，区）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.commonAreaList = res.body
          const areaData = [] //  [{省：[{市：[区]}]}]
          const proList = []
          res.body.forEach(item => {
            proList.push(item.name)
            const cityarr = []
            if (item.sub) {
              item.sub.forEach(city => {
                const areaarr = []
                if (city.sub) {
                  city.sub.forEach(area => {
                    areaarr.push(area.name)
                  })
                }
                const obj = {}
                obj.name = city.name
                obj.sub = areaarr
                cityarr.push(obj)
              })
            }
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData
        }
      })
    },

    // 切换省份
    changeProvince(name) {
      if (name === null) {
        this.curPro2 = ''
        this.curCity2 = ''
        this.commonAreaListItem = []
        this.currentPage2 = 1
        this.getProjectStageList()
        return
      }
      for (var i = 0; i < this.commonAreaList.length; i++) {
        if (this.commonAreaList[i].name === name) {
          this.commonAreaListItem = this.commonAreaList[i].sub
          this.curCity2 = this.commonAreaListItem[0].name
          this.currentPage2 = 1
          this.getProjectStageList()
        }
      }
    },

    // 切换城市
    changeCity() {
      this.currentPage2 = 1
      this.getProjectStageList()
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro
      this.curCityList = this.areaData[pro]
      this.curCity = null
      this.curArea = null
      this.currentPage = 1
      this.getProjectStageList()
    },

    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city
      this.curCityList.forEach(item => {
        if (item.name == city) this.curAreaList = item.sub
      })
      this.curArea = null
      this.currentPage = 1
      this.getProjectStageList()
    },
    // echarts数据
    getChartData(type) {
      const data = {
        projectStageIdList: this.echartsProjectStageId,
        paramCode: this.curSubItemCode,
        paramType: this.curSubType,
        unitNormCode: this.curItemCode
      }
      getProjectCompareView(data).then(res => {
        if (type === 'submitCompare') {
          this.submitCompareLoading = false
        }
        if (res.code == '01') {
          this.stageDetail = res.body // 不联动
          this.echartsData = res.body
          // this.$nextTick(() => {
          //   this.initEcharts();
          // });
          if (type === 'submitCompare') {
            this.compareDialog = false
          }
        }
      })
    },
    // 切换二级列表
    changeSubItem(type) {
      this.curSubType = type

      // 刷新
      this.refreshData()
    },
    // 切换单位工程
    changeUnitItem(index) {
      // this.subItem = this.unitItemList[index].sonList;
      this.curSubItem = null
      this.curSubType = null
      // this.curSubItemCode = null;

      // 刷新
      this.refreshData()
    },
    // 项目对比下拉框数据
    getProjectUnitItemList() {
      const data = {
        projectStageIdList: this.projectStageId
      }
      getProjectUnitItemList(data).then(res => {
        if (res.code === '01') {
          this.unitItemList = res.body
          if (this.unitItemList.length) {
            this.unitItemList = this.unitItemList.map(it => {
              if (it.code == null) {
                it.name = '全部'
                it.code = ''
              }
              return it
            })
          }

          // this.subItem = this.unitItemList[0].sonList;
          // this.getChartData();
        }
      })
    },
    // 项目对比详情
    getProjectCompareView() {
      if (!this.projectStageId) this.projectStageId = [5, 8, 11, 66, 75, 89]
      const data = {
        projectStageIdList: this.projectStageId
      }
      getProjectCompareView(data).then(res => {
        if (res.code == '01') {
          this.stageDetail = res.body
        }
      })
    },
    // 初始化图表
    initEcharts() {
      var myChart = echarts.init(document.getElementById('myEcharts'))
      var xData = []
      var seriesTotalData = []
      var seriesEconoData = []
      try {
        for (let i = 0; i < this.echartsData.length; i++) {
          xData.push(this.echartsData[i].name)
          seriesTotalData.push(this.echartsData[i].totalPrice || 0)
          seriesEconoData.push(
            this.echartsData[i].econStd
              ? this.echartsData[i].econStd.split('元')[0]
              : 0
          )
        }
        this.econStd =
          (this.echartsData[0].econStd &&
            this.echartsData[0].econStd.split('元')[1]) ||
          ''
      } catch (err) {}
      var option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: '#fff'
            }
          },
          textStyle: {
            color: '#fff'
          },
          backgroundColor: 'rgba(13, 78, 137, 1)',
          formatter: params => {
            return `${params[0].name} <br /> 总造价：${(
              params[0].value / 10000
            ).toFixed(2)}万元 ${
              params[1] && params[1].value
                ? '<br /> 单方造价：' +
                  (params[1].value / 10000).toFixed(2) +
                  '万元' +
                  this.econStd
                : ''
            }`
          }
        },
        legend: {
          data: ['总造价', '单方造价']
        },
        xAxis: [
          {
            type: 'category',
            data: xData,
            axisLabel: {
              lineStyle: {
                color: 'rgba(153, 153, 153, 1)'
              }
            },
            axisTick: {
              show: false
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '金额：万元',
            axisLabel: {
              formatter: function(params) {
                return (params / 10000).toFixed(2)
              }
            },
            boundaryGap: ['60%', '60%'],
            min: 0
          },
          {
            type: 'value',
            name: '单方造价-万元' + this.econStd,
            axisLabel: {
              formatter: function(params) {
                return (params / 10000).toFixed(2)
              }
            },
            min: 0
          }
        ],
        series: [
          {
            name: '总造价',
            type: 'bar',
            data: seriesTotalData,
            barWidth: '42',
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  1,
                  0,
                  0,
                  [
                    {
                      offset: 0,
                      color: 'RGBA(53, 135, 213, 1)'
                    },
                    {
                      offset: 1,
                      color: 'RGBA(13, 78, 137, 1)'
                    }
                  ],
                  false
                )
              }
            }
          },
          {
            name: '单方造价',
            type: 'line',
            smooth: true,
            yAxisIndex: 1,
            data: seriesEconoData,
            itemStyle: {
              color: 'rgba(255, 135, 54, 1)'
            },
            areaStyle: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: 'RGBA(255, 135, 54, .3)' // 0% 处的颜色
                  },
                  {
                    offset: 1,
                    color: 'RGBA(255, 244, 236, .5)' // 100% 处的颜色
                  }
                ],
                global: false // 缺省为 false
              }
            }
          }
        ]
      }
      myChart.setOption(option)
    },

    // 调用接口
    refreshData(type) {
      switch (this.curMenu) {
        case '工程概况对比':
          this.getProjectCompareOverview(type)
          break
        case '单位工程对比':
          this.getProjectCompareUnitEng(type)
          break
        case '分部分项对比':
          this.getProjectCompareDept(type)
          break
        case '工料机对比':
          this.getProjectCompareMat(type)
      }
    },
    // 工程概况对比
    getProjectCompareOverview(type) {
      getProjectCompareOverview({
        projectStageIds: this.echartsProjectStageId
      }).then(res => {
        if (res && res.code == '01') {
          console.log('工程概况', res)
          this.compareData = res.body

          if (type == 'submitCompare') {
            this.submitCompareLoading = false
            this.compareDialog = false
          }
        }
      })
    },
    // 单位工程对比
    getProjectCompareUnitEng(type) {
      const normCode = this.curItemCode ? this.curItemCode : ''
      getProjectCompareUnitEng({
        normCode,
        projectStageIds: this.echartsProjectStageId
      }).then(res => {
        if (res && res.code == '01') {
          console.log('单位工程', res)
          this.unitEngData = res.body

          if (type == 'submitCompare') {
            this.submitCompareLoading = false
            this.compareDialog = false
          }
        }
      })
    },
    // 分部分项对比
    getProjectCompareDept(type) {
      const normCode = this.curItemCode ? this.curItemCode : ''
      getProjectCompareDept({
        normCode,
        projectStageIds: this.echartsProjectStageId
      }).then(res => {
        if (res && res.code == '01') {
          console.log('分部分项', res)
          this.subData = res.body

          if (type == 'submitCompare') {
            this.submitCompareLoading = false
            this.compareDialog = false
          }
        }
      })
    },
    // 工料机对比
    getProjectCompareMat(type) {
      const normCode = this.curItemCode ? this.curItemCode : ''
      getProjectCompareMat({
        normCode,
        projectStageIds: this.echartsProjectStageId
      }).then(res => {
        if (res && res.code == '01') {
          console.log('工料机', res)
          this.machineData = res.body

          if (type == 'submitCompare') {
            this.submitCompareLoading = false
            this.compareDialog = false
          }
        }
      })
    },
    // 删除项目
    closeProject(row) {
      console.log(row, this.echartsProjectStageId)
      if (this.echartsProjectStageId.length <= 2) {
        this.$message({
          type: 'error',
          message: '对比项目不能少于2个'
        })
        return
      }

      this.$confirm('确定删除该项目对比吗?', '操作提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          this.count++
          let index = 0
          for (let i = 0, l = this.echartsProjectStageId.length; i < l; i++) {
            if (this.echartsProjectStageId[i] == row.id) {
              index = i
              this.echartsProjectStageId.splice(i, 1)
              break
            }
          }
          this.projectCompare.projectParams.splice(index, 1)

          console.log(this.echartsProjectStageId)

          this.submitCompareLoading = true
          // 刷新
          this.refreshData('submitCompare')
        })
        .catch(() => {})
    },
    // 切换到图表
    toChart(val) {
      if (val == '图表') {
        this.$router.push({
          path: '/project/compareProject'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.compare-container {
  position: relative;

  .com-bg {
    top: -46px;
  }
  .top-content {
    margin-top: 7px;
    background: #ffffff;
    border-radius: 8px;
    padding-bottom: 25px;
    .box {
      width: 224px;
      height: 62px;
      border-radius: 4px;
      color: #fbfbfb;
      opacity: 0.8;
      padding: 10px 13px;
      margin-right: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .big {
        font-size: 21px;
      }
    }
    .btn {
      // width: 112px;
      height: 34px;
      background: $color-primary;
      border-radius: 5px;
    }
    .box1 {
      background: #36cfc9;
    }
    .box2 {
      background: $color-minor;
    }
    .box3 {
      background: #0facd5;
    }
    .box4 {
      background: #3699ff;
    }
    .change-correct {
      margin-right: 10px;
      color: rgba(51, 51, 51, 1);
    }

    // el-table内容为空，设置默认值"----"
    ::v-deep .el-table {
      .cell:empty::before {
        content: '----';
        color: #333;
      }
      .is-leaf {
        .cell:empty::before {
          content: '----';
          color: #333;
        }
      }
    }

    .branch-table {
      ::v-deep .el-table__row.expanded {
        .cell:empty::before {
          content: "";
        }
        .is-leaf {
          .cell:empty::before {
            content: "";
          }
        }
      }
    }
  }

  .test-tabs {
    .div-part {
      padding-left: 20px;
      padding-right: 20px;
    }

    .com-menu-wrap .m-item {
      .t-line {
        width: 235px;
      }
      width: 235px;
    }

    .to_chart {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .btn3 {
      width: auto;
      height: 32px;
      background: #fff;
      border: 1px solid #1789f2;
    }
  }

  .dialog-container {
    .dialog-bottom {
      position: absolute;
      left: 0;
      bottom: 65px;
      width: 100%;
      height: 60px;
      width: 825px;
      margin: 0 30px;
      .added {
        width: 740px;
        font-size: 12px;
        color: #333333;
        .addedItem-box {
          .addedItem {
            width: 128px;
            height: 24px;
            color: #999999;
            background: #ebebeb;
            border-radius: 12px;
            padding: 7px 9px;
            .nowrap {
              width: 95px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .clear {
        cursor: pointer;
        color: #999999;
        font-size: 12px;
      }
      .btn-wrap {
        margin-top: 12px;
        text-align: right;
      }
    }
  }

  .el-table__header-wrapper {
    .red {
      font-size: 14px;
    }
  }
}
</style>

<style lang="scss">
@import '../../styles/variables.scss';
.top-content {
  .el-select {
    input {
      width: 218px;
      height: 37px;
      background: #ffffff;
      border-radius: 20px;
      margin-right: 10px;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
  }
  .project-name {
    .el-table--border td:first-child .cell,
    .el-table--border th:first-child .cell {
      padding-left: 50px;
    }
  }
  .btn1 {
    color: #ffffff !important;
    background: $color-minor !important;
  }
  .el-button {
    padding: 0 18px;
    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .project-div {
    .project-p {
      min-width: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    i {
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
}

.com-table-wrap .el-table--border th .cell {
  padding-left: auto;
}

.dialog-container {
  .com-search2 {
    width: 200px;
    min-width: 200px;
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .small-select {
    .el-input--suffix input {
      width: 130px;
    }
  }
  .sel-time2 {
    width: 160px !important;
    .el-date-editor {
      width: 160px;
      .el-input__inner {
        width: 160px;
      }
    }
    .el-input__icon {
      line-height: 32px;
      color: $color-primary;
    }
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .red-btn {
    font-size: 10px;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 160px;
  }
}
</style>
