<template>
  <div class="visible-container">
    <div class="top-content">
      <div class="bg">
        <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item><span class="cp">项目管理</span></el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/project/index' }"><span class="cp">单项工程库</span></el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/project/detail' }"><span class="cp">{{ details.name }}</span></el-breadcrumb-item>
            <el-breadcrumb-item><span class="active">可视化</span></el-breadcrumb-item>
          </el-breadcrumb>
        </div>
        <img src="@/assets/img/icons/project_stock/bg.png" alt="" />
      </div>
      <div class="info flex-csb">
        <div class="left flex-cc" style="margin-top: -15px">
          <img src="@/assets/img/icons/project_stock/company.png" alt="" class="img" />
          <div class="text-box">
            <p class="top-title">{{ details.name }}</p>
            <div class="num flex-csb">
              <div>
                阶段：<span v-if="details.projectStageList">{{
                  details.projectStageList[idx].stageUseName
                }}</span>
              </div>
              <div>
                总造价：<span v-if="details.projectStageList">{{
                    formatNumber(details.projectStageList[idx].totalPrice)
                  }}元</span>
              </div>
              <div>
                建筑面积：<span v-if="details.projectStageList">{{
                  details.projectStageList[idx].computeCaliber
                }}</span>
              </div>
              <div>
                单方造价：<span v-if="details.projectStageList">{{
                  formatNumber(details.projectStageList[idx].econStd, true)
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- V1.2版本需求 -->
        <div v-if="warnResult && warnResult.warningResult != null" class="right flex-c">
          <div v-if="warnResult.warningResult" class="box box1">
            <el-progress type="circle" :percentage="warnNumber" :format="format" color="#3A8FEA" :width="82"></el-progress>
            <span>预警结果[正常]</span>
          </div>
          <div v-else class="box box2">
            <el-progress type="circle" :percentage="warnNumber" :format="format" color="#F13A3F" :width="82"></el-progress>
            <span>预警结果[异常]</span>
          </div>
          <!-- <div class="box box3">
            <el-progress
              type="circle"
              :percentage="50"
              color="#F9A147"
              :width="82"
            ></el-progress>
            <span>信息完成度</span>
          </div> -->
        </div>
      </div>
    </div>
    <!-- 图表 -->
    <div class="row">
      <div class="left">
        <div class="com-operate-wrap" style="margin-left: -28px">
          <div class="b-title">单项工程造价各费用及占比</div>
        </div>
        <div id="echarts1" style="width: 100%; height: 400px"></div>
      </div>
      <div class="right">
        <div class="com-operate-wrap" style="margin-left: -28px">
          <div class="b-title">各单位工程造价及指标</div>
          <div id="echarts2" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <div class="com-operate-wrap flex-c" style="margin-left: -28px">
          <div class="b-title">{{ projectName }}费用明细表</div>
          <div class="com-select small-select ml-20">
            <el-select v-model="curUnitProjectId" placeholder="请选择工程分类" @change="changeUnitProject">
              <el-option v-for="(item, index) in unitProjectList" :key="index" :label="item.name" :value="item.id">
              </el-option>
            </el-select>
          </div>
        </div>
        <div id="echarts3" style="width: 100%; height: 400px"></div>
      </div>
      <div class="right">
        <div class="com-operate-wrap" style="margin-left: -28px">
          <div class="b-title mb-20">{{ projectName }}造价及指标</div>
          <div id="echarts4" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <div class="com-operate-wrap" style="margin-left: -28px">
          <div class="b-title">工料机费用及占比</div>
        </div>
        <div id="echarts5" style="width: 100%; height: 400px"></div>
      </div>
      <div class="right">
        <div class="com-operate-wrap" style="margin-left: -28px">
          <div class="b-title">工料机各费用造价及指标</div>
          <div id="echarts6" style="width: 100%; height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import {
  getProjectEngView,
  getProjectEngDetailPriceView,
  getProjectMatView
} from '@/api/project'
import { getProjectUnitEngList } from '@/api/newProject'
import { visualIndicatorWarning } from '@/api/project2.0'
import { formatNumber } from '@/utils/common'
export default {
  data() {
    return {
      projectName: '',
      projectMatViewData: [],
      projectEngDetailPriceViewData: [],
      projectEngViewData: [],
      curUnitProjectId: null, // 已选工程id
      unitProjectList: [], // 工程分类列表
      details: {}, // 详情数据
      projectStageId: null,
      projectId: null,
      econStd: '',
      idx: '',

      warnResult: null,
      warnNumber: 0
    }
  },

  mounted() {
    this.details = this.$store.state.project.projectVisible || {}
    let idx = 0
    const projectStageList = this.details.projectStageList
    if (this.details.stageId) {
      projectStageList.forEach((items, index) => {
        if (items.stageId == this.details.stageId) idx = index
      })
    }
    this.idx = idx
    this.projectStageId = projectStageList[idx].projectStageId || ''

    try {
      this.econStd = projectStageList[idx].econStd.split('元')[1] || ''
    } catch (err) {}
    this.projectId = this.details.projectId
    if (!this.projectStageId) {
      // this.$router.push('/project/index')
    }
    this.getProjectEngView()
    this.getProjectUnitEngList()

    this.visualIndicatorWarning()
  },

  methods: {
    // 切换单位工程
    changeUnitProject(e) {
      this.getProjectEngDetailPriceView()
      this.getProjectMatView()
      this.unitProjectList.forEach(item => {
        if (item.id == e) this.projectName = item.name
      })
    },

    initProjectMatViewEcharts() {
      const xData = ['人工费', '材料费', '机械费']
      let seriesData = []
      let seriesTotalPrice = []
      const seriesEconStd = []
      try {
        seriesData = [
          {
            name: '人工费',
            value: this.projectMatViewData[0].detailList[0].totalPrice
          },
          {
            name: '材料费',
            value: this.projectMatViewData[0].detailList[1].totalPrice
          },
          {
            name: '机械费',
            value: this.projectMatViewData[0].detailList[2].totalPrice
          }
        ]
        seriesTotalPrice = [
          (this.projectMatViewData[0].detailList[0].totalPrice / 10000).toFixed(
            2
          ),
          (this.projectMatViewData[0].detailList[1].totalPrice / 10000).toFixed(
            2
          ),
          (this.projectMatViewData[0].detailList[2].totalPrice / 10000).toFixed(
            2
          )
        ]
        const itemList = this.projectMatViewData[0].detailList
        for (let i = 0; i < itemList.length; i++) {
          seriesEconStd.push(
            (itemList[i].econStd.split('元')[0] / 10000).toFixed(2)
          )
        }
      } catch (err) {}

      // 表五
      var myChart5 = echarts.init(document.getElementById('echarts5'))
      var option5 = {
        color: ['#FD535F', '#3699FF', '#f48282', '#ab94e3', '#76aff4'],
        series: [
          {
            type: 'pie',
            radius: '70%',
            center: ['50%', '50%'],
            data: seriesData,
            label: {
              position: 'outer',
              alignTo: 'edge',
              margin: 20,
              formatter: params => {
                return [
                  `{name|${params.name}}`,
                  `{value|${formatNumber(params.value)}元}`,
                  `{percent|${params.percent}%}`
                ].join('\n')
              },
              rich: {
                name: {
                  fontSize: 12,
                  color: '#333',
                  opacity: 0.5,
                  fontWeight: 400
                },
                value: {
                  fontSize: 12,
                  color: '#333',
                  fontWeight: 400,
                  padding: [8, 0, 8, 0]
                },
                percent: {
                  fontSize: 18,
                  color: '#FD535F',
                  fontWeight: 500
                }
              }
            },
            left: '0%',
            right: '25%',
            top: '10%',
            bottom: '10%'
          }
        ],
        legend: {
          type: 'scroll',
          orient: 'vertical',
          right: 10,
          top: '10%',
          padding: [20, 20],
          itemGap: 50
        }
      }
      myChart5.setOption(option5)

      // 表六
      var myChart6 = echarts.init(document.getElementById('echarts6'))
      var option6 = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: '#fff'
            }
          },
          textStyle: {
            color: '#fff'
          },
          backgroundColor: 'rgba(13, 78, 137, 1)',
          formatter: params => {
            return `总造价：${(params[0].value * 1).toFixed(2)}万元 ${
              params[1].value
                ? '<br />单方造价：' +
                  formatNumber(params[1].value) +
                  '万元' +
                  this.econStd
                : ''
            }`
          }
        },
        legend: {
          data: ['总造价', '单方造价'],
          top: 20
        },
        grid: {
          y: '20%',
          y2: 25
        },
        xAxis: [
          {
            type: 'category',
            data: xData,
            axisLabel: {
              lineStyle: {
                color: 'rgba(153, 153, 153, 1)'
              }
            },
            axisTick: {
              show: false
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '金额：万元',
            axisLabel: {
              formatter: '{value}'
            },
            boundaryGap: ['20%', '20%'],
            min: 0
          },
          {
            type: 'value',
            name: '单方造价-万元' + this.econStd,
            axisLabel: {
              formatter: '{value}'
            },
            min: 0
          }
        ],
        series: [
          {
            name: '总造价',
            type: 'bar',
            data: seriesTotalPrice,
            barWidth: '21',
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  1,
                  0,
                  0,
                  [
                    {
                      offset: 0,
                      color: 'RGBA(53, 135, 213, 1)'
                    },
                    {
                      offset: 1,
                      color: 'RGBA(13, 78, 137, 1)'
                    }
                  ],
                  false
                )
              }
            }
          },
          {
            name: '单方造价',
            type: 'line',
            yAxisIndex: 1,
            data: seriesEconStd,
            itemStyle: {
              color: 'rgba(255, 135, 54, 1)'
            },
            lineStyle: {
              width: 1
            },
            smooth: true,
            areaStyle: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: 'RGBA(255, 135, 54, .3)' // 0% 处的颜色
                  },
                  {
                    offset: 1,
                    color: 'RGBA(255, 244, 236, .5)' // 100% 处的颜色
                  }
                ],
                global: false // 缺省为 false
              }
            }
          }
        ]
      }
      myChart6.setOption(option6)
    },
    // 工料机费用及比例图表
    getProjectMatView() {
      const params = {
        projectStageId: this.projectStageId,
        unitId: this.curUnitProjectId
      }
      getProjectMatView(params).then(res => {
        if (res.code == '01') {
          this.projectMatViewData = res.body
          this.$nextTick(() => {
            this.initProjectMatViewEcharts()
          })
        }
      })
    },
    initProjectEngDetailPriceViewCharts() {
      const seriesData = []
      const xData = []
      const seriesTotalPrice = []
      const seriesEconStd = []
      if (
        this.projectEngDetailPriceViewData &&
        this.projectEngDetailPriceViewData.length > 0
      ) {
        for (let i = 0; i < this.projectEngDetailPriceViewData.length; i++) {
          seriesData.push({
            name: this.projectEngDetailPriceViewData[i].name,
            value: this.projectEngDetailPriceViewData[i].totalPrice
          })
          xData.push(this.projectEngDetailPriceViewData[i].name)
          seriesTotalPrice.push(
            (this.projectEngDetailPriceViewData[i].totalPrice / 10000).toFixed(
              2
            )
          )
          let econStd = ''
          try {
            econStd = this.projectEngDetailPriceViewData[i].econStd.split(
              '元'
            )[0]
            econStd = (econStd / 10000).toFixed(2)
          } catch (err) {}
          seriesEconStd.push(econStd)
        }
      }
      // 表三
      var myChart3 = echarts.init(document.getElementById('echarts3'))
      var option3 = {
        color: ['#6cd7d9', '#ebb5e4', '#FD535F', '#ffb980', '#df9499'],
        series: [
          {
            type: 'pie',
            radius: '70%',
            center: ['50%', '50%'],
            data: seriesData,
            label: {
              position: 'outer',
              alignTo: 'edge',
              margin: 20,
              formatter: params => {
                return [
                  `{name|${params.name}}`,
                  `{value|${formatNumber(params.value)}元}`,
                  `{percent|${params.percent}%}`
                ].join('\n')
              },
              rich: {
                name: {
                  fontSize: 12,
                  color: '#333',
                  opacity: 0.5,
                  fontWeight: 400
                },
                value: {
                  fontSize: 12,
                  color: '#333',
                  fontWeight: 400,
                  padding: [8, 0, 8, 0]
                },
                percent: {
                  fontSize: 18,
                  color: '#FD535F',
                  fontWeight: 500
                }
              }
            },
            left: '0%',
            right: '25%',
            top: '10%',
            bottom: '10%'
          }
        ],
        legend: {
          type: 'scroll',
          orient: 'vertical',
          right: 10,
          top: '10%',
          padding: [20, 20],
          itemGap: 50
        }
      }
      myChart3.setOption(option3)

      // 表四
      var myChart4 = echarts.init(document.getElementById('echarts4'))
      var option4 = {
        tooltip: {
          formatter: params => {
            return `总造价：${(params[0].value * 1).toFixed(2)}万元 ${
              params[1].value
                ? '<br />单方造价：' +
                  formatNumber(params[1].value) +
                  '万元' +
                  this.econStd
                : ''
            }`
          },
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: '#fff'
            }
          },
          textStyle: {
            color: '#fff'
          },
          backgroundColor: 'rgba(13, 78, 137, 1)'
        },
        legend: {
          data: ['总造价', '单方造价']
        },
        grid: {
          y2: 25
        },
        xAxis: [
          {
            type: 'category',
            data: xData,
            axisLabel: {
              lineStyle: {
                color: 'rgba(153, 153, 153, 1)'
              }
            },
            axisTick: {
              show: false
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '金额：万元',
            axisLabel: {
              formatter: '{value}'
            },
            boundaryGap: ['20%', '20%'],
            min: 0
          },
          {
            type: 'value',
            name: '单方造价-万元' + this.econStd,
            axisLabel: {
              formatter: '{value}'
            },
            min: 0
          }
        ],
        series: [
          {
            name: '总造价',
            type: 'bar',
            data: seriesTotalPrice,
            barWidth: '21',
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  1,
                  0,
                  0,
                  [
                    {
                      offset: 0,
                      color: 'RGBA(53, 135, 213, 1)'
                    },
                    {
                      offset: 1,
                      color: 'RGBA(13, 78, 137, 1)'
                    }
                  ],
                  false
                )
              }
            }
          },
          {
            name: '单方造价',
            type: 'line',
            yAxisIndex: 1,
            data: seriesEconStd,
            itemStyle: {
              color: 'rgba(255, 135, 54, 1)'
            },
            lineStyle: {
              width: 1
            },
            smooth: true,
            areaStyle: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: 'RGBA(255, 135, 54, .3)' // 0% 处的颜色
                  },
                  {
                    offset: 1,
                    color: 'RGBA(255, 244, 236, .5)' // 100% 处的颜色
                  }
                ],
                global: false // 缺省为 false
              }
            }
          }
        ]
      }
      myChart4.setOption(option4)
    },
    // 各单位工程费用明细表
    getProjectEngDetailPriceView() {
      const params = {
        projectStageId: this.projectStageId,
        unitId: this.curUnitProjectId
      }
      getProjectEngDetailPriceView(params).then(res => {
        if (res.code == '01') {
          if (
            res.body &&
            res.body.projectUnitEngResList &&
            res.body.projectUnitEngResList.length > 0
          ) {
            this.projectEngDetailPriceViewData =
              res.body.projectUnitEngResList[0].projectUnitEngModelList
          }
          this.$nextTick(() => {
            this.initProjectEngDetailPriceViewCharts()
          })
        }
      })
    },
    // 查询项目导入文件单位工程列表
    getProjectUnitEngList() {
      const params = {
        projectStageId: this.projectStageId
      }
      getProjectUnitEngList(params).then(res => {
        if (res && res.code == '01') {
          this.unitProjectList = res.body || []
          this.curUnitProjectId =
            (this.unitProjectList[0] && this.unitProjectList[0].id) || null
          this.projectName =
            (this.unitProjectList[0] && this.unitProjectList[0].name) || ''
          this.getProjectEngDetailPriceView()
          this.getProjectMatView()
        }
      })
    },
    // 项目工程造价总图表
    getProjectEngView() {
      const params = {
        projectStageId: this.projectStageId
      }
      getProjectEngView(params).then(res => {
        if (res) {
          this.projectEngViewData = res.body
          this.$nextTick(() => {
            this.initProjectEngViewCharts()
          })
        }
      })
    },

    // 表一
    initProjectEngViewCharts() {
      const seriesData1 = []
      const xData2 = []
      const seriesEconStd = [] // 单方造价列表
      const seriesTotalPrice = [] // 总造价列表
      for (let i = 0; i < this.projectEngViewData.length > 0; i++) {
        seriesData1.push({
          name: this.projectEngViewData[i].name,
          value: this.projectEngViewData[i].totalPrice
        })
        xData2.push(this.projectEngViewData[i].name)
        seriesTotalPrice.push(
          (this.projectEngViewData[i].totalPrice / 10000).toFixed(2)
        )
        let econStd = ''
        try {
          econStd = this.projectEngViewData[i].econStd.split('元')[0]
          econStd = (econStd / 10000).toFixed(2)
        } catch (err) {}
        seriesEconStd.push(econStd)
      }

      var myChart1 = echarts.init(document.getElementById('echarts1'))
      var option1 = {
        color: ['#FD535F', '#3699FF', '#F1E5D2', '#F9A147', '#0FACD5'],
        series: [
          {
            type: 'pie',
            radius: '70%',
            center: ['50%', '50%'],
            data: seriesData1,
            label: {
              position: 'outer',
              alignTo: 'edge',
              margin: 20,
              // formatter: [
              //   '{name|{b}}',
              //   '{value|{c}}元',
              //   '{percent|{d}%}'
              // ].join('\n'),
              formatter: params => {
                return [
                  `{name|${params.name}}`,
                  `{value|${formatNumber(params.value)}元}`,
                  `{percent|${params.percent}%}`
                ].join('\n')
              },
              rich: {
                name: {
                  fontSize: 12,
                  color: '#333',
                  opacity: 0.5,
                  fontWeight: 400
                },
                value: {
                  fontSize: 12,
                  color: '#333',
                  fontWeight: 400,
                  padding: [8, 0, 8, 0]
                },
                percent: {
                  fontSize: 18,
                  color: '#FD535F',
                  fontWeight: 500
                }
              }
            },
            left: '0%',
            right: '25%',
            top: '10%',
            bottom: '10%'
          }
        ],
        legend: {
          type: 'scroll',
          orient: 'vertical',
          right: 10,
          top: '10%',
          padding: [20, 20],
          itemGap: 50
        }
      }
      myChart1.setOption(option1)

      // 表二
      var myChart2 = echarts.init(document.getElementById('echarts2'))
      var option2 = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: '#fff'
            }
          },
          textStyle: {
            color: '#fff'
          },
          backgroundColor: 'rgba(13, 78, 137, 1)',
          formatter: params => {
            return `总造价：${(params[0].value * 1).toFixed(2)}万元 ${
              params[1].value
                ? '<br />单方造价：' +
                  formatNumber(params[1].value) +
                  '万元' +
                  this.econStd
                : ''
            }`
          }
        },
        legend: {
          data: ['总造价', '单方造价']
        },
        dataZoom: [
          {
            type: 'slider',
            show: true,
            showDetail: false,
            realtime: true,
            xAxisIndex: [0],
            height: 20,
            brushSelect: false
            // bottom: -5,
            // start: 10,
            // end: 90, //初始化滚动条
          }
        ],
        xAxis: [
          {
            type: 'category',
            data: xData2,
            axisLabel: {
              lineStyle: {
                color: 'rgba(153, 153, 153, 1)'
              }
            },
            axisTick: {
              show: false
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '金额：万元',
            axisLabel: {
              formatter: '{value}'
            },
            boundaryGap: ['20%', '20%'],
            min: 0
          },
          {
            type: 'value',
            name: '单方造价-万元' + (this.econStd || ''),
            axisLabel: {
              formatter: '{value}'
            },
            min: 0
          }
        ],
        series: [
          {
            name: '总造价',
            type: 'bar',
            data: seriesTotalPrice,
            barMaxWidth: '21',
            // barWidth: "21",
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  1,
                  0,
                  0,
                  [
                    {
                      offset: 0,
                      color: 'RGBA(53, 135, 213, 1)'
                    },
                    {
                      offset: 1,
                      color: 'RGBA(13, 78, 137, 1)'
                    }
                  ],
                  false
                )
              }
            }
          },
          {
            name: '单方造价',
            type: 'line',
            yAxisIndex: 1,
            data: seriesEconStd,
            itemStyle: {
              color: 'rgba(255, 135, 54, 1)'
            },
            lineStyle: {
              width: 1
            },
            smooth: true,
            areaStyle: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: 'RGBA(255, 135, 54, .3)' // 0% 处的颜色
                  },
                  {
                    offset: 1,
                    color: 'RGBA(255, 244, 236, .5)' // 100% 处的颜色
                  }
                ],
                global: false // 缺省为 false
              }
            }
          }
        ]
      }
      myChart2.setOption(option2)
    },
    // 可视化指标预警
    visualIndicatorWarning() {
      visualIndicatorWarning({ projectStageId: this.projectStageId }).then(
        res => {
          if (res && res.code == '01') {
            console.log('可视化指标预警', res)
            this.warnResult = res.body
            const number = res.body.warning
            if (number > 100) this.warnNumber = 100
            if (number < 0) this.warnNumber = Math.abs(number)
          }
        }
      )
    },
    format() {
      return this.warnResult.warning + '%'
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.visible-container {
  .top-content {
    margin-top: -37px;
    width: 100%;
    border-radius: 8px;
    .bg {
      position: relative;
      width: 100%;
      height: 36px;
      border-radius: 6px 6px 0 0;
      background: linear-gradient(0deg, #ffffff, #dff5fe);
      .bread {
        position: absolute;
        top: 13px;
        left: 20px;
        color: #303133;
        .el-breadcrumb {
          font-size: 13px;
        }
        .cp:hover {
          color: $color-primary;
        }
        .el-icon {
          margin: 0 10px 0 15px;
          font-weight: bold;
          color: #777;
        }
        .active {
          color: $color-primary;
        }
      }
      img {
        position: absolute;
        top: 0;
        right: 0;
        width: 273px;
        // height: 238px;
        height: 200px;
      }
    }
    .info {
      min-height: 164px;
      max-height: 200px;
      background: #fff;
      padding: 0 340px 0 35px;
      border-radius: 0 0 6px 6px;
      flex-wrap: wrap;
      .left {
        .img {
          width: 90px;
          height: 90px;
          margin-right: 22px;
          // margin-bottom: -28px;
        }
        .text-box {
          width: 640px;
          // height: 90px;
          padding: 10px 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 12px;
          color: #666666;
          position: relative;
          .top-title {
            font-size: 22px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #333333;
            line-height: 36px;
            background: url('~@/assets/img/tiao.png') 10% 100% no-repeat;
          }
          .num {
            margin-top: 15px;
          }
          .num > div > span {
            font-size: 18px;
            font-weight: bold;
            color: $color-danger;
          }
          .has-bg {
            position: absolute;
            width: 33%;
            height: 14px;
            top: 46%;
            left: 0;
            background: url(/static/img/text_bg.6f75cf46.png) 40%;
            background-position: 50% 50%;
          }
        }
        h3 {
          font-size: 22px;
          font-weight: bold;
        }
      }
      .right {
        margin-bottom: 16px;
        .box {
          margin-left: 59px;
          display: flex;
          flex-direction: column;
          align-items: center;
          & > span {
            margin-top: 10px;
          }
        }
        .box1 {
          color: $color-primary;
        }
        .box2 {
          color: $color-danger;
        }
        .box3 {
          color: $color-minor;
        }
      }
    }
  }
  .row {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    > div {
      background: #ffffff;
      border-radius: 6px;
      margin-top: 9px;
    }
    .left {
      width: 45%;
    }
    .right {
      width: 54%;
    }
  }
}
</style>
