<template>
  <div class="compare-container">
    <!-- <div class="bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{ path: '/project/index' }"
            ><span class="cp">项目库</span></el-breadcrumb-item
          >
          <el-breadcrumb-item :to="{ path: '/project/detail' }"
            ><span class="cp">{{
              stageCompare.projectName
            }}</span></el-breadcrumb-item
          >
          <el-breadcrumb-item
            ><span class="active">全过程对比</span></el-breadcrumb-item
          >
        </el-breadcrumb>
      </div>
    </div> -->
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>项目管理</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/project/index' }">单项工程库</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/project/detail' }">{{
            details.name
          }}</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">全过程对比</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <div class="top-content flex-c top-div">
      <img class="seize" src="@/assets/img/icons/project_stock/company.png" alt="" />
      <div>
        <p class="top-title">{{ stageCompare.projectName }}</p>
        <ul class="flex-c mt-5 top-ul">
          <li>
            <img src="@/assets/img/v2.0/icons/Maps.png" class="mr-5" alt="" />
            <span>{{ address }}</span>
          </li>
          <li>
            <span>分类：{{
                projectVisible.specialtyType +
                (projectVisible.projectType
                  ? "-" + projectVisible.projectType
                  : "") +
                (projectVisible.engType ? "-" + projectVisible.engType : "")
              }}</span>
          </li>
          <!-- <li><span>清单计价：G003-2012</span></li> -->
        </ul>
      </div>
      <div class="to_chart">
        <el-radio-group @change="toChart" v-model="listToChart" size="mini">
          <el-radio-button label="图表"></el-radio-button>
          <el-radio-button label="列表"></el-radio-button>
        </el-radio-group>
      </div>
    </div>
    <div class="top-content test-tabs">
      <div class="flex-c com-menu-wrap mt-10">
        <div class="cp m-item" :class="{ active: curMenu === '工程概况对比' }" @click="changeMenu('工程概况对比')">
          <span>工程概况对比</span>
          <div class="t-line"></div>
        </div>
        <div class="cp m-item" :class="{ active: curMenu === '单位工程对比' }" @click="changeMenu('单位工程对比')">
          <span>单位工程对比</span>
          <div class="t-line"></div>
        </div>
        <div class="cp m-item" :class="{ active: curMenu === '分部分项对比' }" @click="changeMenu('分部分项对比')">
          <span>分部分项对比</span>
          <div class="t-line"></div>
        </div>
        <div class="cp m-item" :class="{ active: curMenu === '工料机对比' }" @click="changeMenu('工料机对比')">
          <span>工料机对比</span>
          <div class="t-line"></div>
        </div>
      </div>
      <template v-if="curMenu == '工程概况对比'">
        <div class="div-part mt-10">
          <div class="flex-csb">
            <div class="flex-c">
              <div class="com-operate-wrap" style="margin-left: -25px">
                <div class="b-title flex-c">
                  <span>技术特征</span>
                </div>
              </div>
              <el-button class="btn btn1" @click="changeProjectDialog">
                <img class="icons mr-5" src="@/assets/img/table/change-project.png" alt="" />
                <span>切换单项工程</span>
              </el-button>
            </div>
            <el-button class="flex-cc btn btn3" @click="exportFile">
              <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search" />导出
            </el-button>
          </div>

          <div v-if="featureList && featureList.length" class="com-table-wrap mt-10">
            <!-- <el-table
              border
              :data="compareData.feature"
              tooltip-effect="dark"
              class="table-main"
              style="width: 100%"
              :show-header="false"
            >
              <el-table-column
                prop="name"
                label="对比阶段"
                align="center"
                width="140px"
              >
              </el-table-column>
              <el-table-column prop="value" label="" align="center">
              </el-table-column>
            </el-table> -->

            <!-- <el-table
              border
              :data="item.data"
              v-for="(item, index) in featureList"
              :key="index"
              tooltip-effect="dark"
              class="table-main"
              style="width: 100%"
            >
              <el-table-column
                :prop="`value${idx}`"
                :label="it"
                v-for="(it, idx) in item.head"
                :key="idx"
                align="center"
              >
              </el-table-column>
            </el-table> -->

            <el-form class="flex-cw base-ruleForm custom-input">
              <el-form-item class="row-wrap" :key="index" v-for="(item, index) in featureList">
                <div class="br flex-c">
                  <div class="pl-10 nw form-label form-ver">
                    <span :title="item.name">{{ item.name }}</span>
                  </div>
                  <div class="pl-14">
                    <span v-if="item.value">{{ item.value }}</span>
                    <span v-else>--</span>
                  </div>
                </div>
              </el-form-item>
            </el-form>
          </div>
        </div>
        <div class="div-part">
          <div class="com-operate-wrap" style="margin-left: -25px">
            <div class="b-title">阶段信息</div>
          </div>
          <div class="com-table-wrap">
            <el-table border :data="stageList" tooltip-effect="dark" class="table-main" style="width: 100%">
              <el-table-column prop="fieldName" label="对比阶段" align="center" width="140px">
              </el-table-column>
              <el-table-column v-for="(item, index) in compareData.overviewStage" :key="index" :prop="`stage${item.stageConfigId}`" :label="item.stdName">
                <template slot="header">
                  <span> {{ item.stdName }} </span>
                  <!-- <i
                    v-if="item.prop != 'fieldName'"
                    class="el-icon-error cp red"
                  ></i> -->
                </template>
              </el-table-column>
              <!-- <el-table-column prop="predict" label="估算"> </el-table-column>
              <el-table-column prop="probably" label="概算"> </el-table-column>
              <el-table-column prop="budget" label="预算"> </el-table-column>
              <el-table-column prop="settle" label="结算"> </el-table-column> -->
            </el-table>
          </div>
        </div>
      </template>
      <template v-if="curMenu != '工程概况对比'">
        <div class="div-part flex-c mt-20">
          <div class="flex-csb" style="width: 100%">
            <div class="flex-c">
              <span class="label-text">选择单位工程：</span>
              <div class="flex-c com-select cycle-wrap ml-10">
                <el-select class="com-radius-input" v-model="curItemCode" placeholder="请选择" size="medium">
                  <el-option v-for="item in unitItemList" :key="item.id" :label="item.name" :value="item.code" @click.native="changeUnitItem()">
                  </el-option>
                </el-select>
              </div>
              <el-button class="btn btn1" @click="changeProjectDialog">
                <img class="icons mr-5" src="@/assets/img/table/change-project.png" alt="" />
                <span>切换单项工程</span>
              </el-button>
            </div>
            <el-button class="flex-cc btn btn3" @click="exportFile">
              <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search" />导出
            </el-button>
          </div>
        </div>
      </template>
      <div v-show="curMenu == '单位工程对比'" class="div-part com-table-wrap expand-table mt-30">
        <el-table :data="tableUnit" style="width: 100%; margin-bottom: 20px" row-key="id" border default-expand-all :tree-props="{ children: 'subs' }">
          <el-table-column prop="name" label="对比阶段"> </el-table-column>
          <el-table-column v-for="it in tHeaderData" :label="it.name" :key="it.id" align="center">
            <template slot="header">
              <span> {{ it.name }} </span>
              <!-- <i class="el-icon-error cp red"></i> -->
            </template>
            <el-table-column :prop="`cost${it.id}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${it.id}`" label="单方造价">
            </el-table-column>
          </el-table-column>
        </el-table>
        <!-- <el-table :data="projectUnitEngResList" style="width: 100%" border>
          <el-table-column type="expand" width="48px">
            <template slot-scope="scope">
              <el-table
                :data="scope.row.projectUnitEngModelList"
                style="width: 100%"
                class="sub-expand-table"
              >
                <el-table-column label="" width="48px"> </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span
                      >{{ scope.$index + 1 }}.{{ subScope.$index + 1 }}</span
                    >
                  </template>
                </el-table-column>
                <el-table-column label="" prop="name"> </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.totalPrice) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.caliber, true) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.econStd, true) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ (subScope.row.pct * 100).toFixed(2) }}%</span>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column label="对比阶段">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column label="估算">
            <el-table-column prop="name" label="名称"> </el-table-column>
            <el-table-column label="总造价">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.totalPrice) }}</span>
              </template>
            </el-table-column>
          </el-table-column>
          <el-table-column label="概算">
            <el-table-column label="建筑面积">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.caliber, true) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="单方造价">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.econStd, true) }}</span>
              </template>
            </el-table-column>
          </el-table-column>

          <el-table-column label="造价占比">
            <template slot-scope="scope">
              <span>{{ (scope.row.pct * 100).toFixed(2) }}%</span>
            </template>
          </el-table-column>
        </el-table> -->
      </div>
      <div
        v-show="curMenu == '分部分项对比'"
        class="div-part com-table-wrap expand-table mt-30"
      >
        <el-table
          :data="tableSub"
          style="width: 100%; margin-bottom: 20px"
          row-key="id"
          border
          default-expand-all
          :tree-props="{ children: 'subs' }"
          class="branch-table"
        >
          <el-table-column prop="name" label="对比阶段">
            <template slot-scope="scope">
              <span class="cp" @click="showQuota(scope.row.engResList)" v-if="scope.row.quota">
                {{ scope.row.name }}
                <img class="img-echart" src="@/assets/img/table/census.png" alt="" />
              </span>
              <span v-else>
                {{ scope.row.name }}
              </span>
            </template>
          </el-table-column>
          <el-table-column v-for="it in tHeaderData" :label="it.name" :key="it.id" align="center">
            <template slot="header">
              <span> {{ it.name }} </span>
              <!-- <i class="el-icon-error cp red"></i> -->
            </template>
            <el-table-column :prop="`cost${it.id}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${it.id}`" label="单方造价">
            </el-table-column>
          </el-table-column>
        </el-table>
        <!-- <el-table
          :data="tableSub"
          style="width: 100%"
          row-key="id"
          border
          default-expand-all
          :tree-props="{ children: 'childs', hasChildren: 'hasChildren' }"
        >
          <el-table-column prop="name" width="200" label="对比阶段">
            <template slot-scope="scope">
              <span
                class="cp"
                @click="quotaTableVisible = true"
                v-if="scope.row.grade3"
              >
                {{ scope.row.name }}
                <img
                  class="img-echart"
                  src="@/assets/img/table/census.png"
                  alt=""
                />
              </span>
              <span v-else>
                {{ scope.row.name }}
              </span>
            </template>
          </el-table-column>
          <el-table-column label="估算">
            <el-table-column
              prop="estimateCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="estimateTarget"
              label="单方造价"
            ></el-table-column>
          </el-table-column>
          <el-table-column label="概算">
            <el-table-column
              prop="probablyCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="probablyTarget"
              label="单方造价"
            ></el-table-column>
          </el-table-column>
          <el-table-column label="预算">
            <el-table-column
              prop="budgetCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="budgetTarget"
              label="单方造价"
            ></el-table-column>
          </el-table-column>
          <el-table-column label="结算">
            <el-table-column
              prop="settleCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="settleTarget"
              label="单方造价"
            ></el-table-column>
          </el-table-column>
          <el-table-column label="决算">
            <el-table-column
              prop="finalCost"
              label="费用（元）"
            ></el-table-column>
            <el-table-column
              prop="finalTarget"
              label="单方造价"
            ></el-table-column>
          </el-table-column>
        </el-table> -->
      </div>
      <div v-show="curMenu == '工料机对比'" class="div-part com-table-wrap expand-table mt-30">
        <el-table v-show="curMenu == '工料机对比'" :data="tableMachine" style="width: 100%; margin-bottom: 20px" row-key="id" border default-expand-all :tree-props="{ children: 'subs' }">
          <el-table-column prop="name" label="对比阶段"> </el-table-column>
          <el-table-column v-for="it in tHeaderData" :label="it.name" :key="it.id" align="center">
            <template slot="header">
              <span> {{ it.name }} </span>
              <!-- <i class="el-icon-error cp red"></i> -->
            </template>
            <el-table-column :prop="`cost${it.id}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${it.id}`" label="单方造价">
            </el-table-column>
          </el-table-column>
        </el-table>
        <!-- <el-table :data="projectUnitEngResList" style="width: 100%" border>
          <el-table-column type="expand" width="48px">
            <template slot-scope="scope">
              <el-table
                :data="scope.row.projectUnitEngModelList"
                style="width: 100%"
                class="sub-expand-table"
              >
                <el-table-column label="" width="48px"> </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span
                      >{{ scope.$index + 1 }}.{{ subScope.$index + 1 }}</span
                    >
                  </template>
                </el-table-column>
                <el-table-column label="" prop="name"> </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.totalPrice) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.caliber, true) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.econStd, true) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ (subScope.row.pct * 100).toFixed(2) }}%</span>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column label="对比阶段">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column label="估算">
            <el-table-column prop="name" label="名称"> </el-table-column>
            <el-table-column label="总造价">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.totalPrice) }}</span>
              </template>
            </el-table-column>
          </el-table-column>
          <el-table-column label="概算">
            <el-table-column label="建筑面积">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.caliber, true) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="单方造价">
              <template slot-scope="scope">
                <span>{{ formatNumber(scope.row.econStd, true) }}</span>
              </template>
            </el-table-column>
          </el-table-column>

          <el-table-column label="造价占比">
            <template slot-scope="scope">
              <span>{{ (scope.row.pct * 100).toFixed(2) }}%</span>
            </template>
          </el-table-column>
        </el-table> -->
      </div>
    </div>

    <el-dialog title="清单（定额）详情对比" :visible.sync="quotaTableVisible" width="1085px" class="com-dialog com-dialog2">
      <div class="com-table-wrap">
        <el-table border :data="quotaList" tooltip-effect="dark" class="table-main" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="props">
              <div class="detail-table">
                <span class="_flex mb-10">定额信息</span>
                <el-table border :data="props.row.quota" style="width: 100%">
                  <el-table-column prop="code" label="定额编码">
                  </el-table-column>
                  <el-table-column prop="name" min-width="120px" label="定额名称">
                    <template slot-scope="scope">
                      <p class="ellipsis2" :title="scope.row.name">
                        {{ scope.row.name }}
                      </p>
                    </template>
                  </el-table-column>
                  <el-table-column prop="unit" label="定额单位">
                  </el-table-column>
                  <el-table-column min-width="70px" prop="count" label="数量">
                  </el-table-column>
                  <el-table-column prop="manualPrice" label="人工单价">
                  </el-table-column>
                  <el-table-column prop="materialPrice" label="材料单价">
                  </el-table-column>
                  <el-table-column prop="mechanicPrice" label="机械单价">
                  </el-table-column>
                  <el-table-column min-width="120px" prop="feesPrice" label="管理费和利润(单价)">
                  </el-table-column>
                </el-table>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="stdName" label="对比阶段" min-width="80px">
          </el-table-column>
          <el-table-column prop="code" min-width="90px" label="编码">
          </el-table-column>
          <el-table-column prop="normConfigName" min-width="100px" label="清单名称">
          </el-table-column>
          <el-table-column prop="features" min-width="120px" label="特征描述">
            <template slot-scope="scope">
              <p class="ellipsis2" :title="scope.row.features">
                {{ scope.row.features }}
              </p>
            </template>
          </el-table-column>
          <el-table-column prop="caliberUnit" min-width="65px" label="单位">
          </el-table-column>
          <el-table-column prop="count" min-width="80px" label="工程量">
          </el-table-column>
          <el-table-column prop="price" min-width="110px" label="综合单价(元)">
          </el-table-column>
          <el-table-column prop="totalPrice" min-width="100px" label="合价(元)">
          </el-table-column>
          <el-table-column prop="econStd" min-width="100px" label="单方造价">
          </el-table-column>
        </el-table>
      </div>
    </el-dialog>

    <!-- 阶段对比弹窗 -->
    <el-dialog :visible.sync="compareDialog" :close-on-click-modal="false" title="选择项目阶段对比" width="885px" class="com-dialog">
      <div class="dialog-container">
        <div class="flex-c">
          <div class="com-search2">
            <el-input class="search-ipt" placeholder="请输入项目名称搜索" v-model="keyword" @keyup.enter.native="getPhaseCompProList" />
            <i class="el-icon-search" @click="getPhaseCompProList"></i>
          </div>
          <p class="flex-c com-select">
            <span class="dialog-label">项目分类：</span>
            <el-cascader v-model="projectStatus" :options="projectOptions" :props="optionProp" @change="changeProstatus"></el-cascader>
          </p>
          <div class="flex-c com-select">
            <div class="dialog-label">项目地点：</div>
            <el-select v-model="curPro2" placeholder="请选择省" class="mr-10" @change="changeProvince($event)">
              <el-option :value="null">请选择</el-option>
              <el-option v-for="item in commonAreaList" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
            <el-select v-model="curCity2" placeholder="请选择市" class="mr-10" @change="changeCity()">
              <el-option :value="null">请选择</el-option>
              <el-option v-for="item in commonAreaListItem" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
        </div>
        <!-- 弹窗表格 -->
        <div class="table-box" style="margin-bottom: 110px">
          <el-table ref="multipleTable" :data="compareDialogList" tooltip-effect="dark" v-loading="compareDialogLoading" class="table-main" height="250px" style="width: 100%">
            <el-table-column prop="name">
              <template slot="header">
                <span class="cp flex-c">
                  <span>项目名称</span>
                </span>
              </template>
            </el-table-column>
            <el-table-column prop="totalPrice" label="总造价(元)" sortable>
              <template slot-scope="scope">
                {{ formatNumber(scope.row.totalPrice) }}
              </template>
            </el-table-column>
            <el-table-column prop="caliber" label="建筑面积">
              <template slot-scope="scope">
                <span> {{ formatNumber(scope.row.caliber, true) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="单方造价">
              <template slot-scope="scope">
                <span>{{ scope.row.econStd }}</span>
                <!-- <span>
                  {{
                    scope.row.econStd
                      ? (scope.row.econStd.split("元")[0] * 1).toFixed(2) +
                        scope.row.econStd.split("元")[1]
                      : ""
                  }}</span
                > -->
              </template>
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <span class="red" @click="addOrDelCompare('del', scope.row)" v-if="
                    addedList.length > 0 && scope.row.name == addedList[0].name
                  ">取消对比</span>
                <span class="blue" @click="addOrDelCompare('add', scope.row)" v-else>+加入对比</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 底部分页与操作 -->
        <div class="dialog-bottom">
          <!-- 操作 -->
          <div class="flex-csb">
            <div class="added flex-c">
              <div style="width: 104px; height: 29px">已加入项目：</div>
              <div class="addedItem-box flex-cw">
                <div v-for="(item, index) in addedList" :key="index" class="addedItem flex-csb mr-6 mb-5">
                  <p class="nowrap">{{ item.name }}</p>
                  <img src="@/assets/img/table/del_gray.png" alt="" class="cp" @click="delCompare" />
                </div>
              </div>
            </div>
            <div class="clear" @click="delCompare">
              <img class="mr-5" src="@/assets/img/table/del_gray.png" alt="" />
              <span>清空数据</span>
            </div>
          </div>

          <div class="btn-wrap">
            <el-button type="primary" v-loading="submitCompareLoading" @click="submitCompare">确定</el-button>
            <el-button @click="compareDialog = false">取消</el-button>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import {
  comparisonProcessOverView,
  comparisonProcessUnitEng,
  comparisonProcessDept,
  comparisonProcessMat,
  exportSingleProjectCompared
} from '@/api/project2.0'
import { getProjectUnitItemList } from '@/api/project'
import { getPhaseCompProList, queryProjectTypeTree } from '@/api/newProject'

import { getAreaTree } from '@/api/common'
import { formatDate } from '@/utils/common'

import { unitProject, subItemList } from '@/utils/datas/staticData'
export default {
  name: 'compareProject',
  data() {
    return {
      stageCompare: {}, // 阶段对比参数
      curMenu: '工程概况对比',
      projectStageId: 474,
      projectUnitEngResList: [], // 单位工程汇总表

      quotaTableVisible: false, // 清单（定额）详情弹窗
      quotaList: [],
      details: {}, // 详情数据

      tHeaderData: [],

      compareData: [], // 工程概况对比
      stageList: [],
      unitEngData: [], // 单位工程对比
      tableUnit: [],
      subData: [], // 分部分项对比
      tableSub: [],
      machineData: [], // 工料机对比
      tableMachine: [],

      unitItemList: [], // 单位工程列表
      curItemCode: '',

      listToChart: '列表',

      projectOptions: [], // 项目分类列表
      projectStatus: '', // 项目分类
      modeStatus: '', // 所选计税方式
      modeList: [
        { name: '增值税（一般计税方法）', value: 1 },
        { name: '增值税（简易计税方法）', value: 2 }
      ], // 计税方式列表
      province: null,
      city: null,
      keyword: null, // 阶段对比弹窗搜索关键字
      optionProp: {
        label: 'name',
        value: 'name',
        children: 'subs'
      },
      compareDialogLoading: false,
      compareDialog: false, // 阶段对比弹窗
      compareDialogList: [], // 阶段对比表格数据
      addedList: [], // 已添加的对比阶段
      submitCompareLoading: false,
      unit: '',
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      curPro2: '', // 选择的省
      curCity2: '', // 选择的市

      subCount: 0
    }
  },
  computed: {
    // 工程基础信息
    projectVisible() {
      return this.$store.state.project.projectVisible
    },
    address() {
      let res = this.projectVisible.province
      if (this.projectVisible.city) res += ' ' + this.projectVisible.city
      if (this.projectVisible.area) res += ' ' + this.projectVisible.area
      return res
    },
    // 单位工程
    unitProject() {
      return unitProject
    },
    // 分部分项数据
    subItemList() {
      return subItemList
    },
    // 技术特征
    featureList() {
      // let list = this.compareData.feature;
      // let arr = [];
      // if (list && list.length) {
      //   let obj = {
      //     data: [{}],
      //     head: [],
      //   };
      //   for (let i = 0, l = list.length; i < l; i++) {
      //     let index = (i + 1) % 3;
      //     let idx = 0;
      //     switch (index) {
      //       case 1:
      //         idx = 0;
      //         break;
      //       case 2:
      //         idx = 1;
      //         break;
      //       case 0:
      //         idx = 2;
      //     }
      //     if ((i + 1) % 3 == 0) {
      //       obj.head.push(list[i].name);
      //       obj.data[0][`value${idx}`] = list[i].value;
      //       arr.push(obj);
      //       obj = {
      //         data: [{}],
      //         head: [],
      //       };
      //     } else {
      //       obj.head.push(list[i].name);
      //       obj.data[0][`value${idx}`] = list[i].value;
      //     }
      //   }
      // }
      // return arr;

      return this.compareData.feature
    }
  },
  watch: {
    // 工程概况对比
    compareData: {
      deep: true,
      handler: function(data) {
        this.stageList = []
        if (data && data.overviewStage.length) {
          const list = data.overviewStage
          const stageArr = [
            { fieldName: '价格取定期' },
            { fieldName: '计税方式' },
            { fieldName: '计价依据' },
            { fieldName: '总造价' },
            { fieldName: '单方造价' },
            { fieldName: '建筑面积' }
          ]
          for (let i = 0, l = list.length; i < l; i++) {
            stageArr[0]['stage' + list[i].stageConfigId] = list[i]
              .applicableDate
              ? formatDate(list[i].applicableDate, 2)
              : ''
            stageArr[1]['stage' + list[i].stageConfigId] =
              (list[i].taxManner == 1
                ? '增值税(一般计税方法)'
                : list[i].taxManner == 2
                  ? '简易计税方法'
                  : '营业税计税方法') || ''
            stageArr[2]['stage' + list[i].stageConfigId] =
              list[i].invComputeNorm
            stageArr[3]['stage' + list[i].stageConfigId] = list[i].totalPrice
            stageArr[4]['stage' + list[i].stageConfigId] = list[i].econStd
            stageArr[5]['stage' + list[i].stageConfigId] = list[i].caliber
          }
          this.stageList = stageArr
        }
      }
    },
    // 单位工程对比
    unitEngData: {
      deep: true,
      handler: function(data) {
        this.tableUnit = []
        if (data && data.stageConfigRes) {
          this.tHeaderData = data.stageConfigRes || []

          if (data.eng && data.eng.length) {
            const sonList = data.eng.map(it => it.sonList)
            for (let i = 0, l = sonList.length; i < l; i++) {
              const list = sonList[i]
              const obj = {}
              const obj2 = {}
              for (let j = 0, l2 = list.length; j < l2; j++) {
                if (j == 0) {
                  obj.id = i + '' + list[j].stageConfigId
                  obj.name = list[j].name
                }
                obj[`cost${list[j].stageConfigId}`] = list[j].totalPrice
                obj[`target${list[j].stageConfigId}`] = list[j].econStd

                const modelList = list[j].processUnitEngModelList
                for (let k = 0, l3 = modelList.length; k < l3; k++) {
                  const name = modelList[k].name
                  if (!obj2[name]) obj2[name] = {}

                  obj2[name].id = `${j}${list[j].stageConfigId}${k}`
                  obj2[name].name = name
                  obj2[name][`cost${list[j].stageConfigId}`] =
                    modelList[k].totalPrice
                  obj2[name][`target${list[j].stageConfigId}`] =
                    modelList[k].econStd
                }
              }

              obj.subs = []
              for (const son in obj2) {
                obj.subs.push(obj2[son])
              }
              this.tableUnit.push(obj)
            }
          }
        }
      }
    },
    // 分部分项对比
    subData: {
      deep: true,
      handler: function(data) {
        this.tableSub = []
        if (data && data.stageConfigRes) {
          this.tHeaderData = data.stageConfigRes || []

          const deptList = data.dept
          if (deptList && deptList.length) {
            this.subCount = 0
            this.setSubTree(deptList)
          }
        }
      }
    },
    // 工料机对比
    machineData: {
      deep: true,
      handler: function(data) {
        this.tableMachine = []
        if (data && data.stageConfigRes) {
          this.tHeaderData = data.stageConfigRes || []

          const matList = data.matList
          if (matList && matList.length) {
            for (let i = 0, l = matList.length; i < l; i++) {
              const obj = {}
              obj.id = matList[i].normConfigId
              obj.name = matList[i].normConfigName
              obj.subs = [
                { name: '人工' },
                { name: '材料' },
                { name: '机械' },
                { name: '钢筋' },
                { name: '混凝土' },
                { name: '水泥' }
              ]

              const list = matList[i].projectStageUnitEngList
              if (list && list.length) {
                for (let j = 0, l2 = list.length; j < l2; j++) {
                  obj[`cost${list[j].stageConfigId}`] = list[j].totalPrice
                  obj[`target${list[j].stageConfigId}`] = list[j].econStd

                  obj.subs[0].id = `${i}${list[j].stageConfigId}0`
                  obj.subs[0][`cost${list[j].stageConfigId}`] =
                    list[j].totalManualPrice
                  obj.subs[0][`target${list[j].stageConfigId}`] =
                    list[j].econStdManual

                  obj.subs[1].id = `${i}${list[j].stageConfigId}1`
                  obj.subs[1][`cost${list[j].stageConfigId}`] =
                    list[j].totalMaterialPrice
                  obj.subs[1][`target${list[j].stageConfigId}`] =
                    list[j].econStdMaterial

                  obj.subs[2].id = `${i}${list[j].stageConfigId}2`
                  obj.subs[2][`cost${list[j].stageConfigId}`] =
                    list[j].totalMechanicPrice
                  obj.subs[2][`target${list[j].stageConfigId}`] =
                    list[j].econStdMechanic

                  obj.subs[3].id = `${i}${list[j].stageConfigId}3`
                  obj.subs[3][`cost${list[j].stageConfigId}`] =
                    list[j].totalRebarPrice
                  obj.subs[3][`target${list[j].stageConfigId}`] =
                    list[j].econStdRebar

                  obj.subs[4].id = `${i}${list[j].stageConfigId}4`
                  obj.subs[4][`cost${list[j].stageConfigId}`] =
                    list[j].totalConcretePrice
                  obj.subs[4][`target${list[j].stageConfigId}`] =
                    list[j].econConcrete

                  obj.subs[5].id = `${i}${list[j].stageConfigId}5`
                  obj.subs[5][`cost${list[j].stageConfigId}`] =
                    list[j].totalCementPrice
                  obj.subs[5][`target${list[j].stageConfigId}`] =
                    list[j].econCement
                }
              }

              this.tableMachine.push(obj)
            }
          }
        }
      }
    }
  },
  mounted() {
    this.details = this.$store.state.project.projectVisible || {}
    this.stageCompare = this.$store.state.project.stageCompare

    // 全过程对比下拉框数据
    this.getProjectUnitItemList()

    // 工程概况
    this.comparisonProcessOverView()

    // 分部分项
    this.comparisonProcessDept()

    this.getAreaTree()
  },
  methods: {
    // tab切换
    changeMenu(item) {
      this.curMenu = item
      // 刷新
      this.refreshData()
    },
    // 弹出清单定额详情
    showQuota(quota) {
      this.quotaList = [];
      let midHeader = JSON.parse(JSON.stringify(this.tHeaderData));
      if (quota && quota.length) {
        for (let i = 0, l = midHeader.length; i < l; i++) {
          for (let j = 0, l2 = quota.length; j < l2; j++) {
            if (midHeader[i].id == quota[j].stageConfigId) {
              this.quotaList.push(quota[j]);
              break;
            } else {
              if (j == l2-1) {
                this.quotaList.push({stdName: midHeader[i].name, stageConfigId: midHeader[i].id });
              }
            }
          }
        }
      }
      this.quotaTableVisible = true
    },
    // 切换阶段对比弹窗
    changeProjectDialog() {
      // 重置
      this.keyword = null
      this.curPro2 = null
      this.curCity2 = null

      this.compareDialog = true
      this.getPhaseCompProList()
    },
    // 获取项目阶段列表
    getPhaseCompProList() {
      const data = {
        engType: (this.projectStatus && this.projectStatus[2]) || null,
        projectType: (this.projectStatus && this.projectStatus[1]) || null,
        specialtyType: (this.projectStatus && this.projectStatus[0]) || null,
        province: this.curPro2,
        city: this.curCity2,
        keyword: this.keyword,
        engineering: true // 大项目为false
      }
      this.compareDialogLoading = true
      getPhaseCompProList(data).then(res => {
        this.compareDialogLoading = false
        if (res && res.code === '01') {
          this.addedList = []
          this.compareDialogList = res.body
          this.compareDialogList.forEach(item => {
            if (item.name == this.stageCompare.projectName) {
              this.addedList.push(item)
            }
          })
        }
      })
    },
    // 获取项目分类
    ProjectTypeTreeList() {
      var formData = new FormData()
      formData.append('type', 1)
      queryProjectTypeTree(formData).then(res => {
        if (res.code == '01') {
          this.projectOptions = res.body
        }
      })
    },
    // 项目分类筛选
    changeProstatus(val) {
      this.projectStatus = val
      this.getPhaseCompProList()
    },
    // 获取地区（省，市，区）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.commonAreaList = res.body
          const areaData = [] //  [{省：[{市：[区]}]}]
          const proList = []
          res.body.forEach(item => {
            proList.push(item.name)
            const cityarr = []
            if (item.sub) {
              item.sub.forEach(city => {
                const areaarr = []
                if (city.sub) {
                  city.sub.forEach(area => {
                    areaarr.push(area.name)
                  })
                }
                const obj = {}
                obj.name = city.name
                obj.sub = areaarr
                cityarr.push(obj)
              })
            }
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData
        }
      })
    },
    // 切换省份
    changeProvince(name) {
      if (name === null) {
        this.curPro2 = ''
        this.curCity2 = ''
        this.commonAreaListItem = []
        this.currentPage2 = 1
        this.getPhaseCompProList()
        return
      }
      for (var i = 0; i < this.commonAreaList.length; i++) {
        if (this.commonAreaList[i].name === name) {
          this.commonAreaListItem = this.commonAreaList[i].sub
          this.curCity2 = this.commonAreaListItem[0].name
          this.currentPage2 = 1
          this.getPhaseCompProList()
        }
      }
    },
    // 切换城市
    changeCity() {
      this.currentPage2 = 1
      this.getPhaseCompProList()
    },

    // 删除阶段对比
    delCompare() {
      this.addedList = []
    },
    // 加入阶段对比
    addOrDelCompare(type, item) {
      const projectParams = this.stageCompare.projectParams
      if (type === 'add') {
        if (this.addedList.length === 1) {
          this.$message({
            type: 'error',
            message: '只能选取一个项目进行阶段对比'
          })
          return
        }
        this.addedList.push(item)
      } else {
        this.addedList = []
      }
    },
    // 确认对比
    submitCompare() {
      if (this.addedList.length != 1) {
        this.$message({
          type: 'error',
          message: '请选择项目进行阶段对比'
        })
        return
      }
      this.stageCompare.projectId = this.addedList[0].id
      this.stageCompare.projectName = this.addedList[0].name
      this.submitCompareLoading = true
      this.getProjectUnitItemList()
      // 刷新
      this.refreshData('submitCompare')
    },
    // 导出
    exportFile() {
      exportSingleProjectCompared({
        projectId: this.stageCompare.projectId
      }).then(res => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: 'text/csv;charset=utf-8;' }),
            sessionStorage.getItem('blob_filename') || '全过程对比.xls'
          )
          return
        }
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {
          console.log(err)
        }
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName =
            sessionStorage.getItem('blob_filename') || '全过程对比.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          sessionStorage.removeItem('blob_filename')
        }
      })
    },

    // 调用接口
    refreshData(type) {
      switch (this.curMenu) {
        case '工程概况对比':
          this.comparisonProcessOverView(type)
          break
        case '单位工程对比':
          this.comparisonProcessUnitEng(type)
          break
        case '分部分项对比':
          this.comparisonProcessDept(type)
          break
        case '工料机对比':
          this.comparisonProcessMat(type)
      }
    },
    // 分部分项树遍历
    setSubTree(data, subList) {
      const obj = {}
      for (let i = 0, l = data.length; i < l; i++) {
        if (!subList && i > 0) {
          // 避免被下一条obj覆盖
          const idx = i - 1
          this.tableSub[idx] = JSON.parse(JSON.stringify(this.tableSub[idx]))
        }

        if (subList && subList.length > 0) {
          // 避免被下一条obj覆盖
          const idx = i - 1
          subList[idx] = JSON.parse(JSON.stringify(subList[idx]))
        }

        const list = data[i].projectProcessUnitEngResList
        obj.name = data[i].normConfigName
        obj.id = `${data[i].normConfigId}${this.subCount++}`
        obj.quota = false
        obj.engResList = data[i].projectProcessUnitEngResList
        if (list && list.length) {
          for (let j = 0, l2 = list.length; j < l2; j++) {
            obj[`cost${list[j].stageConfigId}`] = list[j].totalPrice
            obj[`target${list[j].stageConfigId}`] = list[j].econStd
            if (list[j].quota) {
              obj.quota = true
            }
          }
        }
        obj.subs = []

        if (subList) {
          subList.push(obj)
        } else {
          this.tableSub.push(obj)
        }

        if (data[i].child) this.setSubTree(data[i].child, obj.subs)
      }
    },
    // 项目对比下拉框数据
    getProjectUnitItemList() {
      const data = {
        projectId: this.stageCompare.projectId
      }
      getProjectUnitItemList(data).then(res => {
        if (res.code === '01') {
          this.unitItemList = res.body
          if (this.unitItemList.length) {
            this.unitItemList = this.unitItemList.map(it => {
              if (it.code == null) {
                it.name = '全部'
                it.code = ''
              }
              return it
            })
          }
        }
      })
    },
    // 切换单位工程
    changeUnitItem() {
      // 刷新
      this.refreshData()
    },
    // 全过程概况对比
    comparisonProcessOverView(type) {
      comparisonProcessOverView({
        projectId: this.stageCompare.projectId
      }).then(res => {
        if (type === 'submitCompare') {
          this.submitCompareLoading = false
        }

        if (res && res.code == '01') {
          console.log('工程概况对比', res)
          this.compareData = res.body

          if (type === 'submitCompare') {
            this.compareDialog = false
          }
        }
      })
    },
    // 全过程单位工程对比
    comparisonProcessUnitEng(type) {
      comparisonProcessUnitEng({
        projectId: this.stageCompare.projectId,
        normCode: this.curItemCode
      }).then(res => {
        if (type === 'submitCompare') {
          this.submitCompareLoading = false
        }

        if (res && res.code == '01') {
          console.log('单位工程对比', res)
          this.unitEngData = res.body
          if (type === 'submitCompare') {
            this.compareDialog = false
          }
        }
      })
    },
    // 全过程分部分项对比
    comparisonProcessDept(type) {
      comparisonProcessDept({
        projectId: this.stageCompare.projectId,
        normCode: this.curItemCode
      }).then(res => {
        if (type === 'submitCompare') {
          this.submitCompareLoading = false
        }

        if (res && res.code == '01') {
          console.log('分部分项对比', res)
          this.subData = res.body

          if (type === 'submitCompare') {
            this.compareDialog = false
          }
        }
      })
    },
    // 全过程工料机对比
    comparisonProcessMat(type) {
      comparisonProcessMat({
        projectId: this.stageCompare.projectId,
        normCode: this.curItemCode
      }).then(res => {
        if (type === 'submitCompare') {
          this.submitCompareLoading = false
        }

        if (res && res.code == '01') {
          console.log('工料机对比', res)
          this.machineData = res.body

          if (type === 'submitCompare') {
            this.compareDialog = false
          }
        }
      })
    },
    // 切换到图表
    toChart(val) {
      if (val == '图表') {
        this.$router.push({
          path: '/project/compareStage'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.compare-container {
  position: relative;
  .bg {
    position: absolute;
    top: -47px;
    left: 0px;
    width: 100%;
    height: 37px;
    border-radius: 8px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#ffffff),
      to(#dff5fe)
    );
    background: linear-gradient(0deg, #ffffff, #dff5fe);
    display: flex;
    align-items: center;
    padding-left: 20px;
    .bread {
      color: #303133;
    }
    .el-icon {
      margin: 0 10px 0 15px;
      font-weight: bold;
      color: #777;
    }
    .active {
      color: $color-primary;
    }
  }
  .top-content {
    margin-top: 10px;
    background: #ffffff;
    border-radius: 8px;
    padding-bottom: 25px;
    .seize {
      width: 90px;
      height: 90px;
      margin-right: 17px;
    }
    .top-title {
      font-size: 22px;
      font-family: Source Han Sans CN;
      font-weight: bold;
      color: #333333;
      line-height: 36px;
      background: url('~@/assets/img/v2.0/tiao.png') 10% 100% repeat-x;
    }
    .top-ul {
      li {
        margin-right: 20px;
        font-size: 12px;
        line-height: 12px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #333333;
        opacity: 0.6;
      }
    }
    .to_chart {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    // el-table内容为空，设置默认值"----"
    ::v-deep .el-table {
      .cell:empty::before {
        content: '----';
        color: #333;
      }
      .is-leaf {
        .cell:empty::before {
          content: '----';
          color: #333;
        }
      }
    }

    .branch-table {
      ::v-deep .el-table__row.expanded {
        .cell:empty::before {
          content: "";
        }
        .is-leaf {
          .cell:empty::before {
            content: "";
          }
        }
      }
    }

    .base-ruleForm {
      border: 1px solid #e6e6e6;
      border-radius: 2px;
      .row-wrap {
        border-bottom: 1px solid #e6e6e6;
        &:last-child {
          border-bottom: 0;
        }
        .form-ver {
          img {
            margin-right: 3px;
          }
          span,
          img {
            vertical-align: middle;
          }
        }
      }
      .form-label {
        min-width: 110px;
        max-width: 110px;
        height: 48px;
        line-height: 48px;
        // text-align: center;
        background: #eff2f7;
        color: #aaa;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .custom-input .el-form-item {
      width: 33.3333333%;
      margin-bottom: 0;
    }
  }
  .test-tabs {
    .com-operate-wrap {
      padding: 16px 20px;
      .m-item {
        width: 235px;
        .t-line {
          width: 235px;
        }
      }
    }

    .div-part {
      padding-left: 20px;
      padding-right: 20px;
    }

    .img-echart {
      vertical-align: middle;
    }

    .com-menu-wrap .m-item {
      .t-line {
        width: 235px;
      }
      width: 235px;
    }
  }
  .top-div {
    padding: 23px 17px 22px 17px;
  }

  .com-dialog2 {
    ::v-deep .el-dialog__header {
      padding-left: 20px;
    }
    ::v-deep .el-dialog__body {
      padding: 5px 20px 20px 20px;
    }
  }
  .com-table-wrap {
    // &::v-deep .el-table__expanded-cell[class*="cell"] {
    //   padding: 20px;
    // }
    .detail-table {
      span {
        font-size: 12px;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: #333333;
        opacity: 0.6;
        display: inline-block;
        margin-bottom: 15px;
      }
    }
  }

  .dialog-container {
    .dialog-bottom {
      position: absolute;
      left: 0;
      bottom: 65px;
      width: 100%;
      height: 60px;
      width: 825px;
      margin: 0 30px;
      .added {
        width: 740px;
        font-size: 12px;
        color: #333333;
        .addedItem-box {
          .addedItem {
            width: 128px;
            height: 24px;
            color: #999999;
            background: #ebebeb;
            border-radius: 12px;
            padding: 7px 9px;
            .nowrap {
              width: 95px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .clear {
        cursor: pointer;
        color: #999999;
        font-size: 12px;
      }
      .btn-wrap {
        margin-top: 12px;
        text-align: right;
      }
    }
  }
}
</style>

<style lang="scss">
@import '../../styles/variables.scss';
.top-content {
  .el-select {
    input {
      width: 218px;
      height: 37px;
      background: #ffffff;
      border-radius: 20px;
      margin-right: 10px;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
  }
  .btn1 {
    color: #ffffff !important;
    background: $color-primary !important;
  }
  .el-button {
    padding: 0 18px;
    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.dialog-container {
  .com-search2 {
    width: 200px;
    min-width: 200px;
  }
  .el-select {
    .el-input__inner {
      border-radius: 20px;
    }
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .red {
    cursor: pointer;
    color: $color-danger;
    font-size: 10px;
  }
  .blue {
    cursor: pointer;
    color: $color-primary;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 244px;
  }
  .el-cascader {
    width: 184px !important;
  }
}
</style>
