<template>
  <div class="compare-container">
    <div class="bg">
      <div class="bread">
        <span class="cp" @click="$router.push('/project/indexNew')">项目库</span>
        <span role="presentation" class="el-icon-arrow-right"></span>
        <span class="cp" @click="$router.push('/project/detailNew')">项目概况</span>
        <span role="presentation" class="el-icon-arrow-right"></span>
        <span class="active">项目对比详情</span>
      </div>
    </div>
    <div class="top-content">
      <div class="com-operate-wrap" style="margin-left: -25px">
        <div class="b-title">项目横向对比-{{ stageUseName }}</div>
      </div>
      <div class="flex-c ml-22 project-list">
        <div class="box box1" :class="{
            box1: item.stageUseName === '估算',
            box2: item.stageUseName === '概算',
            box3: item.stageUseName === '预算',
            box4: item.stageUseName === '结算',
          }" v-for="(item, index) in stageDetail" :key="index">
          <span class="ellipsis1" :title="item.name">{{ item.name }}</span>
          <div>
            <span class="big">{{ (item.totalPrice / 10000).toFixed(2) }}</span>
            万元
          </div>
        </div>
      </div>
      <div class="to_chart">
        <el-radio-group @change="toList" v-model="chartToList" size="mini">
          <el-radio-button label="图表"></el-radio-button>
          <el-radio-button label="列表"></el-radio-button>
        </el-radio-group>
      </div>
    </div>
    <div class="top-content">
      <div class="flex-csb">
        <div class="flex-c">
          <div class="com-operate-wrap" style="margin-left: -25px">
            <div class="b-title">项目对比图标示例</div>
          </div>
          <!-- <el-button type="primary" class="btn">
            <img class="icons" src="@/assets/img/table/change-project.png" alt="">
            <span>切换项目</span>
          </el-button> -->
          <el-popover class="mr-10" placement="bottom" trigger="click">
            <div class="special-operate-wrap">
              <el-date-picker v-model="translateDate" size="medium" clearable type="month" value-format="yyyy-MM" @change="getChartData" :picker-options="pickerOptions1" placeholder="选择日期">
              </el-date-picker>
            </div>
            <el-button type="primary" class="flex-cc btn" slot="reference">
              <img class="icons mr-5" src="@/assets/img/table/change-project.png" alt="" />
              <span>统一换算期</span>
            </el-button>
          </el-popover>

          <el-button class="flex-cc btn btn1" @click="addProjectDialog">
            <img class="icons mr-5" src="@/assets/img/table/add.png" alt="" />
            <span>添加项目</span>
          </el-button>
        </div>
        <div class="flex-c">
          <div class="com-select">
            <el-select v-model="curItemCode" filterable placeholder="请选择">
              <el-option v-for="item in unitItemList" :key="item.id" :label="item.name" :value="item.code" @click.native="changeUnitItem()">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
      <!-- 图表 -->
      <div id="myEcharts" style="width: 100%; height: 400px"></div>
    </div>
    <div class="top-content">
      <div class="com-operate-wrap" style="margin-left: -25px">
        <div class="b-title">工程总造价-{{ stageUseName }}</div>
      </div>
      <div class="table-box project-name">
        <el-table border :data="stageDetail" tooltip-effect="dark" class="table-main" style="width: 100%">
          <el-table-column prop="name" label="项目名称"> </el-table-column>
          <el-table-column label="金额（元）">
            <template slot-scope="scope">
              <span>{{ (scope.row.totalPrice / 10000).toFixed(2) }}万元</span>
            </template>
          </el-table-column>
          <el-table-column label="单方造价">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.econStd, true) }}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <!-- 项目对比弹窗 -->
    <el-dialog :visible.sync="compareDialog" :close-on-click-modal="false" title="添加项目对比" width="885px" class="com-dialog">
      <div class="dialog-container">
        <div class="flex-c">
          <div class="com-search2">
            <el-input class="search-ipt" placeholder="请输入项目名称搜索" v-model="keyword" @keyup.enter.native="getProjectStageList" />
            <i class="el-icon-search" @click="getProjectStageList"></i>
          </div>
          <div class="flex-c com-select">
            <div class="dialog-label">价格取定期</div>
            <div class="sel-time sel-time2">
              <el-date-picker v-model="applicableDate" type="month" placeholder="年/月" @change="changeDate">
              </el-date-picker>
            </div>
          </div>
          <div class="flex-c com-select small-select">
            <div class="dialog-label">项目地点</div>
            <el-select v-model="curPro2" placeholder="请选择省" class="mr-10" @change="changeProvince($event)">
              <el-option :value="null">请选择</el-option>
              <el-option v-for="item in commonAreaList" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
            <el-select v-model="curCity2" placeholder="请选择市" class="mr-10" @change="changeCity()">
              <el-option :value="null">请选择</el-option>
              <el-option v-for="item in commonAreaListItem" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="flex-c mt-20 mb-15">
          <p class="mr-40">
            <span>项目分类：</span>
            <span>{{ projectCompare.specialtyType }}</span>
          </p>
          <p class="mr-40">
            <span>阶段：</span>
            <span>{{ projectCompare.stageUseName }}</span>
          </p>
          <p class="mr-40">
            <span>计税：</span>
            <span v-if="projectCompare.taxManner == 1">增值税（一般计税方法）</span>
            <span v-if="projectCompare.taxManner == 2">增值税（简易计税方法）</span>
            <span v-else>增值税（营业税计税方法）</span>
          </p>
        </div>
        <!-- 弹窗表格 -->
        <div class="table-box" style="margin-bottom: 110px">
          <el-table ref="multipleTable" :data="compareDialogList" tooltip-effect="dark" v-loading="compareDialogLoading" class="table-main" height="250px" style="width: 100%">
            <el-table-column prop="name">
              <template slot="header">
                <span class="cp flex-c">
                  <span>项目名称</span>
                </span>
              </template>
            </el-table-column>
            <el-table-column label="总造价" :sort-method="sortAllprice2" sortable>
              <template slot-scope="scope">
                {{ formatNumber(scope.row.totalPrice) }}
              </template>
            </el-table-column>
            <el-table-column prop="computeCaliber" label="建筑面积">
              <template slot-scope="scope">
                <span> {{ formatNumber(scope.row.computeCaliber, true) }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="econStd" label="单方造价"> </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <span class="red" @click="
                    addOrDelCompare('del', scope.row, scope.row.projectStageId)
                  " v-if="
                    echartsProjectStageId.indexOf(scope.row.projectStageId) > -1
                  ">取消对比</span>
                <span class="blue" @click="
                    addOrDelCompare('add', scope.row, scope.row.projectStageId)
                  " v-else>+加入对比</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 底部分页与操作 -->
        <div class="dialog-bottom">
          <!-- 操作 -->
          <div class="flex-csb">
            <div class="added flex-c">
              <div style="width: 104px">已加入项目：</div>
              <div class="addedItem-box flex-cw">
                <div v-for="(item, index) in projectCompare.projectParams" :key="index" class="addedItem flex-csb mr-6 mb-5">
                  <p class="nowrap">{{ item.name }}</p>
                  <img src="@/assets/img/table/del_gray.png" alt="" class="cp" @click="delCompare(index)" />
                </div>
              </div>
            </div>
            <div class="clear" @click="delCompare('all')">
              <img class="mr-5" src="@/assets/img/table/del_gray.png" alt="" />
              <span>清空数据</span>
            </div>
          </div>

          <div class="btn-wrap">
            <el-button type="primary" v-loading="submitCompareLoading" @click="submitCompare">确定</el-button>
            <el-button @click="compareDialog = false">取消</el-button>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import { getProjectStageList } from '@/api/project'
import { projectComparisonView, getProjectDropDownBox } from '@/api/project2.0'

import { getAreaTree } from '@/api/common'
export default {
  name: 'compareProject',
  data() {
    return {
      projectCompare: {}, // 项目对比参数
      correct: false,
      stageUseName: null, // 阶段名
      stageId: null, // 项目阶段id
      projectStageId: [],
      echartsProjectStageId: [],
      stageDetail: [], // 项目对比详情
      echartsData: [], // 图表数据
      unitItemList: [], // 单位工程列表
      curItemCode: null,
      showSetListDialog: false, // 显示列表设置弹窗
      compareDialog: false, // 项目对比弹窗
      keyword: null, // 项目对比弹窗搜索关键字
      applicableDate: null, // 价格取定期
      compareDialogList: [], // 项目对比表格数据
      compareDialogLoading: false,
      addedList: [], // 已添加的对比项目
      province: null,
      city: null,
      submitCompareLoading: false,
      econStd: '',
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      curPro2: '', // 选择的省
      curCity2: '', // 选择的市

      chartToList: '图表',
      translateDate: '', // 统一换算日期

      pickerOptions1: {
        // 开始时间不可大于当前时间
        disabledDate: time => {
          return time.getTime() > Date.now()
        }
      }
    }
  },

  mounted() {
    this.projectCompare = this.$store.state.project.projectCompare
    const projectParams = this.projectCompare.projectParams || []
    console.log(projectParams)
    for (let i = 0; i < projectParams.length; i++) {
      this.projectStageId.push(projectParams[i].projectStageId)
      this.echartsProjectStageId.push(projectParams[i].projectStageId)
    }
    this.stageId = this.projectCompare.stageId
    this.stageUseName = this.projectCompare.stageUseName
    this.projectComparisonView()
    this.getProjectDropDownBox()
    this.getAreaTree()
  },
  computed: {
    // 默认城市
    defaultCity() {
      return sessionStorage.getItem('init_default_city')
    },
    // 默认省份
    defaultProvince() {
      return sessionStorage.getItem('init_default_province')
    },
  },
  methods: {
    // 总造价排序(对比弹窗)
    sortAllprice2(a, b) {
      return a.totalPrice - b.totalPrice
    },

    // 确认对比
    submitCompare() {
      if (this.projectCompare.projectParams.length < 2) {
        this.$message({
          type: 'error',
          message: '最少选择2个对比项目'
        })
        return
      }
      if (this.projectCompare.projectParams.length > 10) {
        this.$message({
          type: 'error',
          message: '项目对比的数目最多10个'
        })
        return
      }
      this.submitCompareLoading = true
      this.getProjectDropDownBox()
      this.getChartData('submitCompare')
    },
    // 加入项目对比
    addOrDelCompare(type, item, id) {
      const projectParams = this.projectCompare.projectParams
      if (type === 'add') {
        if (this.projectCompare.projectParams.length === 10) {
          this.$message({
            type: 'error',
            message: '项目对比的数目最多10个'
          })
          return
        }

        if (
          projectParams.length > 0 &&
          projectParams[0].caliberUnit != item.caliberUnit
        ) {
          this.$message({
            type: 'error',
            message: '请选择相同的建筑面积单位对比'
          })
          return
        }
        this.echartsProjectStageId.push(id)
        projectParams.push(item)
      } else {
        for (let i = 0; i < this.echartsProjectStageId.length; i++) {
          if (id == this.echartsProjectStageId[i]) {
            this.echartsProjectStageId.splice(i, 1)
          }
        }
        for (let j = 0; j < projectParams.length; j++) {
          if (id == projectParams[j].projectStageId) {
            projectParams.splice(j, 1)
          }
        }
      }
    },
    // 删除项目对比
    delCompare(index) {
      this.echartsProjectStageId = []
      if (index === 'all') {
        this.projectCompare.projectParams = []
      } else {
        this.projectCompare.projectParams.splice(index, 1)
        for (let i = 0; i < this.projectCompare.projectParams.length; i++) {
          this.echartsProjectStageId.push(
            this.projectCompare.projectParams[i].projectStageId
          )
        }
      }
    },
    // 项目日期筛选
    changeDate(val) {
      this.applicableDate = val ? new Date(val) : null
      this.getProjectStageList()
    },
    // 添加项目对比弹窗
    addProjectDialog() {
      // 重置
      this.keyword = null
      
      // this.curPro2 = null
      // this.curCity2 = null

      // 默认选中江门市
      this.curPro2 = this.defaultProvince;
      this.commonAreaListItem = this.areaData[this.curPro2];
      this.curCity2 = this.defaultCity;

      this.applicableDate = null

      this.compareDialog = true
      this.getProjectStageList()
    },
    // 获取项目阶段列表
    getProjectStageList() {
      const data = {
        currentPage: null,
        pageSize: null,
        applicableDate: this.applicableDate,
        province: this.curPro2 || null,
        city: this.curCity2 || null,
        specialtyType: this.projectCompare.specialtyType,
        projectType: this.projectCompare.projectType,
        // engType: this.projectCompare.engType,
        keyword: this.keyword,
        stageId: this.projectCompare.stageId,
        taxManner: this.projectCompare.taxManner,
        timeUnit: this.applicableDate ? 'day' : null,
        unit: this.projectCompare.projectParams[0].caliberUnit,
        engineering: false // 大项目为false
      }
      this.compareDialogLoading = true
      getProjectStageList(data).then(res => {
        this.compareDialogLoading = false
        if (res.code === '01') {
          this.compareDialogList = res.body.list
        }
      })
    },
    // 获取地区（省，市，区）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.commonAreaList = res.body
          const areaData = [] //  [{省：[{市：[区]}]}]
          const proList = []
          res.body.forEach(item => {
            proList.push(item.name)
            const cityarr = []
            if (item.sub) {
              item.sub.forEach(city => {
                const areaarr = []
                if (city.sub) {
                  city.sub.forEach(area => {
                    areaarr.push(area.name)
                  })
                }
                const obj = {}
                obj.name = city.name
                obj.sub = areaarr
                cityarr.push(obj)
              })
            }
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData
        }
      })
    },

    // 切换省份
    changeProvince(name) {
      if (name === null) {
        this.curPro2 = ''
        this.curCity2 = ''
        this.commonAreaListItem = []
        this.currentPage2 = 1
        this.getProjectStageList()
        return
      }
      for (var i = 0; i < this.commonAreaList.length; i++) {
        if (this.commonAreaList[i].name === name) {
          this.commonAreaListItem = this.commonAreaList[i].sub
          this.curCity2 = this.commonAreaListItem[0].name
          this.currentPage2 = 1
          this.getProjectStageList()
        }
      }
    },

    // 切换城市
    changeCity() {
      this.currentPage2 = 1
      this.getProjectStageList()
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro
      this.curCityList = this.areaData[pro]
      this.curCity = null
      this.curArea = null
      this.currentPage = 1
      this.getProjectStageList()
    },

    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city
      this.curCityList.forEach(item => {
        if (item.name == city) this.curAreaList = item.sub
      })
      this.curArea = null
      this.currentPage = 1
      this.getProjectStageList()
    },
    // echarts数据
    getChartData(type) {
      const data = {
        conversionTime: this.translateDate,
        projectStageIds: this.echartsProjectStageId,
        normCode: this.curItemCode ? this.curItemCode : ''
      }
      projectComparisonView(data).then(res => {
        if (type === 'submitCompare') {
          this.submitCompareLoading = false
        }
        if (res.code == '01') {
          this.stageDetail = res.body // 不联动
          this.echartsData = res.body
          this.$nextTick(() => {
            this.initEcharts()
          })
          if (type === 'submitCompare') {
            this.compareDialog = false
          }
        }
      })
    },
    // 切换单位工程
    changeUnitItem() {
      this.curSubItem = null
      this.curSubItemCode = null
      this.getChartData()
    },
    // 大项目对比 - 下拉框数据
    getProjectDropDownBox() {
      const data = {
        projectStageIds: this.projectStageId
      }
      getProjectDropDownBox(data).then(res => {
        if (res.code === '01') {
          this.unitItemList = res.body
          this.getChartData()
        }
      })
    },
    // 大项目对比-图表
    projectComparisonView() {
      const data = {
        projectStageIds: this.projectStageId
      }
      projectComparisonView(data).then(res => {
        if (res.code == '01') {
          this.stageDetail = res.body
          // 初始化
          this.echartsData = res.body
          this.$nextTick(() => {
            this.initEcharts()
          })
        }
      })
    },
    // 初始化图表
    initEcharts() {
      var myChart = echarts.init(document.getElementById('myEcharts'))
      var xData = []
      var seriesTotalData = []
      var seriesEconoData = []
      try {
        for (let i = 0; i < this.echartsData.length; i++) {
          xData.push(this.echartsData[i].name)
          seriesTotalData.push(this.echartsData[i].totalPrice || 0)
          seriesEconoData.push(
            this.echartsData[i].econStd
              ? this.echartsData[i].econStd.split('元')[0]
              : 0
          )
        }
        this.econStd =
          (this.echartsData[0].econStd &&
            this.echartsData[0].econStd.split('元')[1]) ||
          ''
      } catch (err) {}
      var option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: '#fff'
            }
          },
          textStyle: {
            color: '#fff'
          },
          backgroundColor: 'rgba(13, 78, 137, 1)',
          formatter: params => {
            return `${params[0].name} <br /> 总造价：${(
              params[0].value / 10000
            ).toFixed(2)}万元 ${
              params[1] && params[1].value
                ? '<br /> 单方造价：' +
                  (params[1].value / 10000).toFixed(2) +
                  '万元' +
                  this.econStd
                : ''
            }`
          }
        },
        legend: {
          data: ['总造价', '单方造价']
        },
        xAxis: [
          {
            type: 'category',
            data: xData,
            axisLabel: {
              lineStyle: {
                color: 'rgba(153, 153, 153, 1)'
              }
            },
            axisTick: {
              show: false
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '金额：万元',
            axisLabel: {
              formatter: function(params) {
                return (params / 10000).toFixed(2)
              }
            },
            boundaryGap: ['60%', '60%'],
            min: 0
          },
          {
            type: 'value',
            name: '单方造价-万元' + this.econStd,
            axisLabel: {
              formatter: function(params) {
                return (params / 10000).toFixed(2)
              }
            },
            min: 0
          }
        ],
        series: [
          {
            name: '总造价',
            type: 'bar',
            data: seriesTotalData,
            barWidth: '42',
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  1,
                  0,
                  0,
                  [
                    {
                      offset: 0,
                      color: 'RGBA(53, 135, 213, 1)'
                    },
                    {
                      offset: 1,
                      color: 'RGBA(13, 78, 137, 1)'
                    }
                  ],
                  false
                )
              }
            }
          },
          {
            name: '单方造价',
            type: 'line',
            smooth: true,
            yAxisIndex: 1,
            data: seriesEconoData,
            itemStyle: {
              color: 'rgba(255, 135, 54, 1)'
            },
            areaStyle: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: 'RGBA(255, 135, 54, .3)' // 0% 处的颜色
                  },
                  {
                    offset: 1,
                    color: 'RGBA(255, 244, 236, .5)' // 100% 处的颜色
                  }
                ],
                global: false // 缺省为 false
              }
            }
          }
        ]
      }
      myChart.setOption(option)
    },
    // 切换到列表
    toList(val) {
      if (val == '列表') {
        this.$router.push({
          path: '/project/projectBigComparison'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.compare-container {
  position: relative;
  .bg {
    position: absolute;
    top: -44px;
    left: 0px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#ffffff),
      to(#dff5fe)
    );
    background: linear-gradient(0deg, #ffffff, #dff5fe);
    display: flex;
    align-items: center;
    padding-left: 20px;
    .bread {
      color: #303133;
    }
    .el-icon {
      margin: 0 10px 0 15px;
      font-weight: bold;
      color: #777;
    }
    .active {
      color: $color-primary;
    }
  }
  .top-content {
    margin-top: 7px;
    background: #ffffff;
    border-radius: 8px;
    padding-bottom: 15px;
    .box {
      width: 224px;
      height: 62px;
      border-radius: 4px;
      color: #fbfbfb;
      opacity: 0.8;
      padding: 10px 13px;
      margin-right: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .big {
        font-size: 21px;
      }
    }
    // .btn {
    //   width: 112px;
    //   height: 34px;
    //   background: $color-primary;
    //   border-radius: 5px;
    // }

    .project-list {
      flex-wrap: wrap;
      .box {
        margin-bottom: 10px;
      }
    }
    .box1 {
      background: #36cfc9;
    }
    .box2 {
      background: $color-minor;
    }
    .box3 {
      background: #0facd5;
    }
    .box4 {
      background: #3699ff;
    }
    .change-correct {
      margin-right: 10px;
      color: rgba(51, 51, 51, 1);
    }

    .to_chart {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  .dialog-container {
    .dialog-bottom {
      position: absolute;
      left: 0;
      bottom: 65px;
      width: 100%;
      height: 60px;
      width: 825px;
      margin: 0 30px;
      .added {
        width: 740px;
        font-size: 12px;
        color: #333333;
        .addedItem-box {
          .addedItem {
            width: 128px;
            height: 24px;
            color: #999999;
            background: #ebebeb;
            border-radius: 12px;
            padding: 7px 9px;
            .nowrap {
              width: 95px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .clear {
        cursor: pointer;
        color: #999999;
        font-size: 12px;
      }
      .btn-wrap {
        margin-top: 12px;
        text-align: right;
      }
    }
  }
}
</style>

<style lang="scss">
@import '@/styles/variables.scss';
.top-content {
  .el-select {
    input {
      width: 218px;
      height: 37px;
      background: #ffffff;
      border-radius: 20px;
      margin-right: 10px;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
  }
  .project-name {
    .el-table--border td:first-child .cell,
    .el-table--border th:first-child .cell {
      padding-left: 50px;
    }
  }
  .btn1 {
    color: #ffffff !important;
    background: $color-minor !important;
  }
  .el-button {
    padding: 0 18px;
    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.dialog-container {
  .com-search2 {
    width: 200px;
    min-width: 200px;
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .small-select {
    .el-input--suffix input {
      width: 130px;
    }
  }
  .sel-time2 {
    width: 160px !important;
    .el-date-editor {
      width: 160px;
      .el-input__inner {
        width: 160px;
      }
    }
    .el-input__icon {
      line-height: 32px;
      color: $color-primary;
    }
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .red {
    cursor: pointer;
    color: $color-danger;
    font-size: 10px;
  }
  .blue {
    cursor: pointer;
    color: $color-primary;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 160px;
  }
}
</style>
