<template>
  <div class="compare-container">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>项目管理</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/project/indexNew' }">项目库</el-breadcrumb-item>
          <el-breadcrumb-item v-if="details && details.name" :to="{ path: '/project/detailNew' }">{{
            details.name
          }}</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">项目对比详情</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <div class="top-content test-tabs">
      <div class="flex-c com-menu-wrap mt-10">
        <div class="cp m-item" :class="{ active: curMenu === '工程概况对比' }" @click="changeMenu('工程概况对比')">
          <span>工程概况对比</span>
          <div class="t-line"></div>
        </div>
        <div class="cp m-item" :class="{ active: curMenu === '专业工程对比' }" @click="changeMenu('专业工程对比')">
          <span>专业工程对比</span>
          <div class="t-line"></div>
        </div>
        <div class="cp m-item" :class="{ active: curMenu === '工料机对比' }" @click="changeMenu('工料机对比')">
          <span>工料机对比</span>
          <div class="t-line"></div>
        </div>

        <div class="to_chart">
          <el-radio-group @change="toChart" v-model="listToChart" size="mini">
            <el-radio-button label="图表"></el-radio-button>
            <el-radio-button label="列表"></el-radio-button>
          </el-radio-group>
        </div>
      </div>
      <div v-show="curMenu === '工程概况对比'">
        <div class="div-part">
          <div class="flex-csb">
            <div class="flex-c">
              <div class="com-operate-wrap" style="margin-left: -25px">
                <div class="b-title">基本信息</div>
              </div>
              <el-button class="btn" @click="addProjectDialog">
                <img class="icons mr-5" src="@/assets/img/table/add.png" alt="" />
                <span>添加项目</span>
              </el-button>
            </div>
            <el-button class="flex-cc btn btn3" @click="exportFile">
              <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search" />导出
            </el-button>
          </div>

          <div class="com-table-wrap">
            <el-table border :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%" :key="'base' + count">
              <el-table-column v-for="item in tHeaderData" :key="item.prop" :prop="item.prop" :label="item.label">
                <template slot="header">
                  <!-- <span> {{ item.label }} </span>
                  <i
                    v-if="item.prop != 'fieldName'"
                    @click="closeProject(item)"
                    class="el-icon-error cp red"
                  ></i> -->
                  <div class="flex-cc project-div">
                    <p :title="item.label" class="project-p">
                      {{ item.label }}
                    </p>
                    <i v-if="item.prop != 'fieldName'" @click="closeProject(item)" class="el-icon-error cp red"></i>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div class="div-part">
          <div class="com-operate-wrap" style="margin-left: -25px">
            <div class="b-title">阶段信息</div>
          </div>
          <div class="com-table-wrap">
            <el-table border :data="tableData3" tooltip-effect="dark" class="table-main" :key="'stage' + count" style="width: 100%" :show-header="false">
              <el-table-column v-for="item in tHeaderData" :key="item.prop" :prop="item.prop" :label="item.label">
                <template slot="header">
                  <!-- <span> {{ item.label }} </span>
                  <i
                    v-if="item.prop != 'fieldName'"
                    class="el-icon-error cp red"
                  ></i> -->
                  <div class="flex-cc project-div">
                    <p :title="item.label" class="project-p">
                      {{ item.label }}
                    </p>
                    <i v-if="item.prop != 'fieldName'" @click="closeProject(item)" class="el-icon-error cp red"></i>
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
      <div v-show="curMenu != '工程概况对比'" class="div-part com-table-wrap expand-table mt-20">
        <div class="flex-csb">
          <div class="flex-c mb-20">
            <el-button class="btn" @click="addProjectDialog">
              <img class="icons mr-5" src="@/assets/img/table/add.png" alt="" />
              <span>添加项目</span>
            </el-button>
          </div>
          <el-button class="flex-cc btn btn3" @click="exportFile">
            <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search" />导出
          </el-button>
        </div>

        <el-table v-show="curMenu == '专业工程对比'" :data="tableUnit" style="width: 100%; margin-bottom: 20px" :key="'unit' + count" row-key="id" border default-expand-all
          :tree-props="{ children: 'subs' }">
          <el-table-column prop="name" label="对比工程">
            <el-table-column prop="name" label="专业名称"> </el-table-column>
          </el-table-column>
          <el-table-column v-for="it in tHeaderUnit" :label="it.name" :key="it.id" align="center">
            <template slot="header">
              <!-- <span> {{ it.name }} </span>
              <i class="el-icon-error cp red" @click="closeProject(it)"></i> -->
              <div class="flex-cc project-div">
                <p :title="it.name" class="project-p">{{ it.name }}</p>
                <i class="el-icon-error cp red" @click="closeProject(it)"></i>
              </div>
            </template>
            <el-table-column :prop="`cost${it.id}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${it.id}`" label="单方造价">
            </el-table-column>
          </el-table-column>
        </el-table>
        <el-table v-show="curMenu == '工料机对比'" :data="tableMachine" style="width: 100%; margin-bottom: 20px" :key="'eng' + count" row-key="id" border default-expand-all
          :tree-props="{ children: 'subs' }">
          <el-table-column prop="name" label="对比工程">
            <el-table-column prop="name" label="名称"> </el-table-column>
          </el-table-column>
          <el-table-column v-for="it in tHeaderUnit" :label="it.name" :key="it.id" align="center">
            <template slot="header">
              <!-- <span> {{ it.name }} </span>
              <i class="el-icon-error cp red" @click="closeProject(it)"></i> -->
              <div class="flex-cc project-div">
                <p :title="it.name" class="project-p">{{ it.name }}</p>
                <i class="el-icon-error cp red" @click="closeProject(it)"></i>
              </div>
            </template>
            <el-table-column :prop="`cost${it.id}`" label="费用(元)">
            </el-table-column>
            <el-table-column :prop="`target${it.id}`" label="单方造价">
            </el-table-column>
          </el-table-column>
        </el-table>
      </div>
    </div>

    <!-- 项目对比弹窗 -->
    <el-dialog :visible.sync="compareDialog" :close-on-click-modal="false" title="添加项目对比" width="885px" class="com-dialog">
      <div class="dialog-container">
        <div class="flex-c">
          <div class="com-search2">
            <el-input class="search-ipt" placeholder="请输入项目名称搜索" v-model="keyword" @keyup.enter.native="getProjectStageList" />
            <i class="el-icon-search" @click="getProjectStageList"></i>
          </div>
          <div class="flex-c com-select">
            <div class="dialog-label">价格取定期</div>
            <div class="sel-time sel-time2">
              <el-date-picker v-model="applicableDate" type="month" placeholder="年/月" @change="changeDate">
              </el-date-picker>
            </div>
          </div>
          <div class="flex-c com-select small-select">
            <div class="dialog-label">项目地点</div>
            <el-select v-model="curPro2" placeholder="请选择省" class="mr-10" @change="changeProvince($event)">
              <el-option :value="null">请选择</el-option>
              <el-option v-for="item in commonAreaList" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
            <el-select v-model="curCity2" placeholder="请选择市" class="mr-10" @change="changeCity()">
              <el-option :value="null">请选择</el-option>
              <el-option v-for="item in commonAreaListItem" :key="item.id" :label="item.name" :value="item.name">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="flex-c mt-20 mb-15">
          <p class="mr-40">
            <span>项目分类：</span>
            <span>{{ projectCompare.specialtyType }}</span>
          </p>
          <p class="mr-40">
            <span>阶段：</span>
            <span>{{ projectCompare.stageUseName }}</span>
          </p>
          <p class="mr-40">
            <span>计税：</span>
            <span v-if="projectCompare.taxManner == 1">增值税（一般计税方法）</span>
            <span v-else>简易计税方法</span>
          </p>
        </div>
        <!-- 弹窗表格 -->
        <div class="table-box" style="margin-bottom: 110px">
          <el-table ref="multipleTable" :data="compareDialogList" tooltip-effect="dark" v-loading="compareDialogLoading" class="table-main" height="250px" style="width: 100%">
            <el-table-column prop="name">
              <template slot="header">
                <span class="cp flex-c">
                  <span>项目名称</span>
                </span>
              </template>
            </el-table-column>
            <el-table-column label="总造价" :sort-method="sortAllprice2" sortable>
              <template slot-scope="scope">
                {{ formatNumber(scope.row.totalPrice) }}
              </template>
            </el-table-column>
            <el-table-column prop="computeCaliber" label="建筑面积">
              <template slot-scope="scope">
                <span> {{ formatNumber(scope.row.computeCaliber, true) }}</span>
              </template>
            </el-table-column>
            <el-table-column prop="econStd" label="单方造价"> </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <span class="red-btn" @click="
                    addOrDelCompare('del', scope.row, scope.row.projectStageId)
                  " v-if="
                    echartsProjectStageId.indexOf(scope.row.projectStageId) > -1
                  ">取消对比</span>
                <span class="blue-btn" @click="
                    addOrDelCompare('add', scope.row, scope.row.projectStageId)
                  " v-else>+加入对比</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 底部分页与操作 -->
        <div class="dialog-bottom">
          <!-- 操作 -->
          <div class="flex-csb">
            <div class="added flex-c">
              <div style="width: 104px">已加入项目：</div>
              <div class="addedItem-box flex-cw">
                <div v-for="(item, index) in projectCompare.projectParams" :key="index" class="addedItem flex-csb mr-6 mb-5">
                  <p class="nowrap">{{ item.name }}</p>
                  <img src="@/assets/img/table/del_gray.png" alt="" class="cp" @click="delCompare(index)" />
                </div>
              </div>
            </div>
            <div class="clear" @click="delCompare('all')">
              <img class="mr-5" src="@/assets/img/table/del_gray.png" alt="" />
              <span>清空数据</span>
            </div>
          </div>

          <div class="btn-wrap">
            <el-button type="primary" v-loading="submitCompareLoading" @click="submitCompare">确定</el-button>
            <el-button @click="compareDialog = false">取消</el-button>
          </div>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import { getProjectCompareView, getProjectStageList } from '@/api/project'
import {
  exportProjectComparison,
  projectComparisonProcessList
} from '@/api/project2.0'
import { getAreaTree } from '@/api/common'

export default {
  name: 'compareProject',
  data() {
    return {
      projectCompare: {}, // 项目对比参数
      correct: false,
      stageUseName: null, // 阶段名
      stageId: null, // 项目阶段id
      projectStageId: [],
      echartsProjectStageId: [],
      stageDetail: [], // 项目对比详情
      echartsData: [], // 图表数据
      curSubType: null,
      showSetListDialog: false, // 显示列表设置弹窗
      compareDialog: false, // 项目对比弹窗
      keyword: null, // 项目对比弹窗搜索关键字
      applicableDate: null, // 价格取定期
      compareDialogList: [], // 项目对比表格数据
      compareDialogLoading: false,
      addedList: [], // 已添加的对比项目
      province: null,
      city: null,
      submitCompareLoading: false,
      econStd: '',
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      curPro2: '', // 选择的省
      curCity2: '', // 选择的市

      curMenu: '工程概况对比',
      tableData: [],
      tHeaderData: [],
      tableData3: [],

      tHeaderUnit: [],
      tableUnit: [], // 单位工程
      tableMachine: [], // 工料机
      details: {}, // 详情数据

      compareData: [], // 工程概况对比
      unitEngData: [], // 专业工程对比
      machineData: [], // 工料机对比

      unitItemList: [], // 单位工程列表
      curItemCode: null,
      subItem: [], // 单位工程子项
      curSubItemCode: null,
      count: 0,

      listToChart: '列表'
    }
  },

  mounted() {
    this.details = this.$store.state.project.projectVisible || {}
    this.projectCompare = this.$store.state.project.projectCompare
    const projectParams = this.projectCompare.projectParams || []
    console.log(this.projectCompare)
    for (let i = 0; i < projectParams.length; i++) {
      this.projectStageId.push(projectParams[i].projectStageId)
      this.echartsProjectStageId.push(projectParams[i].projectStageId)
    }
    this.stageId = this.projectCompare.stageId
    this.stageUseName = this.projectCompare.stageUseName

    // 全部返回
    this.projectComparisonProcessList()
    this.getAreaTree()
  },
  watch: {
    // 基本信息2
    compareData: {
      deep: true,
      handler: function(data) {
        this.tableData = []
        if (data && data.length) {
          this.tHeaderData = [{ label: '对比项目', prop: 'fieldName' }]
          // 基本信息
          const obj = { fieldName: '项目地点' }
          const obj2 = { fieldName: '项目分类' }

          // 阶段信息
          let stageArr = [
            { fieldName: '造价阶段' },
            { fieldName: '价格取定期' },
            { fieldName: '计税方式' },
            { fieldName: '计价依据' },
            { fieldName: '工程费用' },
            { fieldName: '单方造价' },
            { fieldName: '总建设面积' }
          ]

          // 估、概则有，预、结则无
          if (
            this.projectCompare.stageId == 1 ||
            this.projectCompare.stageId == 2
          ) {
            const arr = [
              { fieldName: '二类费' },
              { fieldName: '预备费' },
              { fieldName: '总估算' }
            ]
            stageArr = stageArr.concat(arr)
          }

          // stageId

          for (let i = 0, l = data.length; i < l; i++) {
            this.tHeaderData.push({
              label: data[i].name,
              prop: 'project' + i,
              id: data[i].projectStageId
            })
            obj['project' + i] = `${data[i].province}${
              data[i].city ? '-' + data[i].city : ''
            }${data[i].city ? '-' + data[i].area : ''}`
            obj2['project' + i] = `${data[i].specialtyType}${
              data[i].projectType ? '-' + data[i].projectType : ''
            }`

            stageArr[0]['project' + i] = data[i].stdName
            stageArr[1]['project' + i] = data[i].applicableDate
            stageArr[2]['project' + i] =
              (data[i].taxManner == 1
                ? '增值税(一般计税方法)'
                : data[i].taxManner == 2
                  ? '简易计税方法'
                  : '营业税计税方法') || ''
            stageArr[3]['project' + i] = data[i].invComputeNorm
            stageArr[4]['project' + i] = data[i].totalPrice
            stageArr[5]['project' + i] = data[i].econStd
            stageArr[6]['project' + i] = data[i].caliberUnitStr

            // 估、概则有，预、结则无
            if (
              this.projectCompare.stageId == 1 ||
              this.projectCompare.stageId == 2
            ) {
              stageArr[7]['project' + i] = data[i].secondClassFee || '----'
              stageArr[8]['project' + i] = data[i].reserveFee || '----'
              stageArr[9]['project' + i] = data[i].totalBudget || '----'
            }
          }

          // 基本信息
          this.tableData.push(obj)
          this.tableData.push(obj2)

          // 阶段信息
          this.tableData3 = stageArr

          console.log('项目概况', this.tableData, this.tableData3)
        }
      }
    },
    // 专业工程对比
    unitEngData: {
      deep: true,
      handler: function(data) {
        this.tableUnit = []
        if (data && data.stageConfigRes) {
          this.tHeaderUnit = data.stageConfigRes || []

          if (data.professionalResList && data.professionalResList.length) {
            const Arr = data.professionalResList
            for (let i = 0, l = Arr.length; i < l; i++) {
              const list = Arr[i].professionalEngResList
              const obj = {}

              obj.id = Arr[i].projectStageId
              obj.name = Arr[i].name

              for (let j = 0, l2 = list.length; j < l2; j++) {
                obj[`cost${list[j].projectStageId}`] = list[j].totalPrice
                obj[`target${list[j].projectStageId}`] = list[j].econStd
              }

              this.tableUnit.push(obj)
            }
          }
        }
      }
    },
    // 工料机对比
    machineData: {
      deep: true,
      handler: function(data) {
        this.tableMachine = []
        if (data && data.length) {
          const obj = {
            id: 'aa',
            name: '工料机合计'
          }

          obj.subs = [{ name: '人工' }, { name: '材料' }, { name: '机械' }]
          for (let i = 0, l = data.length; i < l; i++) {
            obj[`cost${data[i].id}`] = data[i].totalPrice
            obj[`target${data[i].id}`] = data[i].totalPriceEconStd

            if (i == 0) {
              obj.subs[0].id = `${i}${data[i].id}0`
              obj.subs[1].id = `${i}${data[i].id}1`
              obj.subs[2].id = `${i}${data[i].id}2`
            }
            obj.subs[0][`cost${data[i].id}`] = data[i].totalManualPrice
            obj.subs[0][`target${data[i].id}`] = data[i].totalManualPriceEconStd

            obj.subs[1][`cost${data[i].id}`] = data[i].totalMaterialPrice
            obj.subs[1][`target${data[i].id}`] =
              data[i].totalMaterialPriceEconStd

            obj.subs[2][`cost${data[i].id}`] = data[i].totalMechanicPrice
            obj.subs[2][`target${data[i].id}`] =
              data[i].totalMechanicPriceEconStd
          }

          this.tableMachine.push(obj)
        }
      }
    }
  },
  computed: {
    // 默认城市
    defaultCity() {
      return sessionStorage.getItem('init_default_city')
    },
    // 默认省份
    defaultProvince() {
      return sessionStorage.getItem('init_default_province')
    },
  },
  methods: {
    // tab切换
    changeMenu(item) {
      this.curMenu = item
      // 刷新
      this.refreshData()
    },
    // 总造价排序(对比弹窗)
    sortAllprice2(a, b) {
      return a.totalPrice - b.totalPrice
    },

    // 确认对比
    submitCompare() {
      if (this.projectCompare.projectParams.length < 2) {
        this.$message({
          type: 'error',
          message: '最少选择2个对比项目'
        })
        return
      }
      if (this.projectCompare.projectParams.length > 10) {
        this.$message({
          type: 'error',
          message: '项目对比的数目最多10个'
        })
        return
      }
      this.submitCompareLoading = true

      // 刷新
      this.refreshData('submitCompare')
    },
    // 加入项目对比
    addOrDelCompare(type, item, id) {
      const projectParams = this.projectCompare.projectParams
      if (type === 'add') {
        if (this.projectCompare.projectParams.length === 10) {
          this.$message({
            type: 'error',
            message: '项目对比的数目最多10个'
          })
          return
        }
        if (
          projectParams.length > 0 &&
          projectParams[0].computeCaliber.replace(/[\d.,]/g, '') !=
            item.computeCaliber.replace(/[\d.,]/g, '')
        ) {
          this.$message({
            type: 'error',
            message: '请选择相同的建筑面积单位对比'
          })
          return
        }
        this.echartsProjectStageId.push(id)
        projectParams.push(item)
      } else {
        this.count++
        for (let i = 0; i < this.echartsProjectStageId.length; i++) {
          if (id == this.echartsProjectStageId[i]) {
            this.echartsProjectStageId.splice(i, 1)
          }
        }
        for (let j = 0; j < projectParams.length; j++) {
          if (id == projectParams[j].projectStageId) {
            projectParams.splice(j, 1)
          }
        }
      }
    },
    // 删除项目对比
    delCompare(index) {
      this.echartsProjectStageId = []
      if (index === 'all') {
        this.projectCompare.projectParams = []
      } else {
        this.projectCompare.projectParams.splice(index, 1)
        for (let i = 0; i < this.projectCompare.projectParams.length; i++) {
          this.echartsProjectStageId.push(
            this.projectCompare.projectParams[i].projectStageId
          )
        }
      }
    },
    // 导出对比
    exportFile() {
      exportProjectComparison({
        projectStageIds: this.echartsProjectStageId
      }).then(res => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: 'text/csv;charset=utf-8;' }),
            sessionStorage.getItem('blob_filename') || '项目对比.xls'
          )
          return
        }
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {
          console.log(err)
        }
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName =
            sessionStorage.getItem('blob_filename') || '项目对比.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          sessionStorage.removeItem('blob_filename')
        }
      })
    },
    // 项目日期筛选
    changeDate(val) {
      this.applicableDate = val ? new Date(val) : null
      this.getProjectStageList()
    },
    // 添加项目对比弹窗
    addProjectDialog() {
      // 重置
      this.keyword = null
      
      // this.curPro2 = null
      // this.curCity2 = null

      // 默认选中江门市
      this.curPro2 = this.defaultProvince;
      this.commonAreaListItem = this.areaData[this.curPro2];
      this.curCity2 = this.defaultCity;

      this.applicableDate = null

      this.compareDialog = true
      this.getProjectStageList()
    },
    // 获取项目阶段列表
    getProjectStageList() {
      const data = {
        currentPage: null,
        pageSize: null,
        applicableDate: this.applicableDate,
        province: this.curPro2 || null,
        city: this.curCity2 || null,
        specialtyType: this.projectCompare.specialtyType,
        projectType: this.projectCompare.projectType,
        // engType: this.projectCompare.engType,
        keyword: this.keyword,
        stageId: this.projectCompare.stageId,
        taxManner: this.projectCompare.taxManner,
        timeUnit: this.applicableDate ? 'day' : null,
        unit: this.projectCompare.projectParams[0].caliberUnit,
        engineering: false // 大项目为false
      }
      this.compareDialogLoading = true
      getProjectStageList(data).then(res => {
        this.compareDialogLoading = false
        if (res.code === '01') {
          this.compareDialogList = res.body.list
        }
      })
    },
    // 获取地区（省，市，区）
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          this.commonAreaList = res.body
          const areaData = [] //  [{省：[{市：[区]}]}]
          const proList = []
          res.body.forEach(item => {
            proList.push(item.name)
            const cityarr = []
            if (item.sub) {
              item.sub.forEach(city => {
                const areaarr = []
                if (city.sub) {
                  city.sub.forEach(area => {
                    areaarr.push(area.name)
                  })
                }
                const obj = {}
                obj.name = city.name
                obj.sub = areaarr
                cityarr.push(obj)
              })
            }
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData
        }
      })
    },

    // 切换省份
    changeProvince(name) {
      if (name === null) {
        this.curPro2 = ''
        this.curCity2 = ''
        this.commonAreaListItem = []
        this.currentPage2 = 1
        this.getProjectStageList()
        return
      }
      for (var i = 0; i < this.commonAreaList.length; i++) {
        if (this.commonAreaList[i].name === name) {
          this.commonAreaListItem = this.commonAreaList[i].sub
          this.curCity2 = this.commonAreaListItem[0].name
          this.currentPage2 = 1
          this.getProjectStageList()
        }
      }
    },

    // 切换城市
    changeCity() {
      this.currentPage2 = 1
      this.getProjectStageList()
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro
      this.curCityList = this.areaData[pro]
      this.curCity = null
      this.curArea = null
      this.currentPage = 1
      this.getProjectStageList()
    },

    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city
      this.curCityList.forEach(item => {
        if (item.name == city) this.curAreaList = item.sub
      })
      this.curArea = null
      this.currentPage = 1
      this.getProjectStageList()
    },

    // 调用接口
    refreshData(type) {
      // 全部返回
      this.projectComparisonProcessList(type)
    },
    // 全部返回
    projectComparisonProcessList(type) {
      projectComparisonProcessList({
        projectStageIds: this.echartsProjectStageId
      }).then(res => {
        if (type === 'submitCompare') {
          this.submitCompareLoading = false
        }

        if (res && res.code == '01') {
          console.log('全部返回', res)
          this.compareData = res.body.projectOverviewResList
          this.unitEngData = res.body.proComparisonEngRes
          this.machineData = res.body.materialMachineComparisonResList

          if (type === 'submitCompare') {
            this.compareDialog = false
          }
        }
      })
    },
    // 删除项目
    closeProject(row) {
      console.log(row, this.echartsProjectStageId)
      if (this.echartsProjectStageId.length <= 2) {
        this.$message({
          type: 'error',
          message: '对比项目不能少于2个'
        })
        return
      }

      this.$confirm('确定删除该项目对比吗?', '操作提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          this.count++
          let index = 0
          for (let i = 0, l = this.echartsProjectStageId.length; i < l; i++) {
            if (this.echartsProjectStageId[i] == row.id) {
              index = i
              this.echartsProjectStageId.splice(i, 1)
              break
            }
          }
          this.projectCompare.projectParams.splice(index, 1)

          console.log(this.echartsProjectStageId)
          // 刷新
          this.refreshData()
        })
        .catch(() => {})
    },
    // 切换到图表
    toChart(val) {
      if (val == '图表') {
        this.$router.push({
          path: '/project/compareBigProject'
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.compare-container {
  position: relative;

  .com-bg {
    top: -46px;
  }
  .top-content {
    margin-top: 7px;
    background: #ffffff;
    border-radius: 8px;
    padding-bottom: 25px;
    .box {
      width: 224px;
      height: 62px;
      border-radius: 4px;
      color: #fbfbfb;
      opacity: 0.8;
      padding: 10px 13px;
      margin-right: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .big {
        font-size: 21px;
      }
    }
    .btn {
      width: 112px;
      height: 34px;
      background: $color-primary;
      border-radius: 5px;
    }
    .box1 {
      background: #36cfc9;
    }
    .box2 {
      background: $color-minor;
    }
    .box3 {
      background: #0facd5;
    }
    .box4 {
      background: #3699ff;
    }
    .change-correct {
      margin-right: 10px;
      color: rgba(51, 51, 51, 1);
    }

    // el-table内容为空，设置默认值"----"
    ::v-deep .el-table {
      .cell:empty::before {
        content: '----';
        color: #333;
      }
      .is-leaf {
        .cell:empty::before {
          content: '----';
          color: #333;
        }
      }
    }
  }

  .test-tabs {
    .div-part {
      padding-left: 20px;
      padding-right: 20px;
    }

    .com-menu-wrap .m-item {
      .t-line {
        width: 235px;
      }
      width: 235px;
    }

    .to_chart {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .btn3 {
      width: auto;
      height: 32px;
      background: #fff;
      border: 1px solid #1789f2;
    }
  }

  .dialog-container {
    .dialog-bottom {
      position: absolute;
      left: 0;
      bottom: 65px;
      width: 100%;
      height: 60px;
      width: 825px;
      margin: 0 30px;
      .added {
        width: 740px;
        font-size: 12px;
        color: #333333;
        .addedItem-box {
          .addedItem {
            width: 128px;
            height: 24px;
            color: #999999;
            background: #ebebeb;
            border-radius: 12px;
            padding: 7px 9px;
            .nowrap {
              width: 95px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .clear {
        cursor: pointer;
        color: #999999;
        font-size: 12px;
      }
      .btn-wrap {
        margin-top: 12px;
        text-align: right;
      }
    }
  }

  .el-table__header-wrapper {
    .red {
      font-size: 14px;
    }
  }
}
</style>

<style lang="scss">
@import '@/styles/variables.scss';
.top-content {
  .el-select {
    input {
      width: 218px;
      height: 37px;
      background: #ffffff;
      border-radius: 20px;
      margin-right: 10px;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
  }
  .project-name {
    .el-table--border td:first-child .cell,
    .el-table--border th:first-child .cell {
      padding-left: 50px;
    }
  }
  .btn1 {
    color: #ffffff !important;
    background: $color-minor !important;
  }
  .el-button {
    padding: 0 18px;
    & > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .project-div {
    .project-p {
      min-width: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    i {
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
}

.com-table-wrap .el-table--border th .cell {
  padding-left: auto;
}

.dialog-container {
  .com-search2 {
    width: 200px;
    min-width: 200px;
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .small-select {
    .el-input--suffix input {
      width: 130px;
    }
  }
  .sel-time2 {
    width: 160px !important;
    .el-date-editor {
      width: 160px;
      .el-input__inner {
        width: 160px;
      }
    }
    .el-input__icon {
      line-height: 32px;
      color: $color-primary;
    }
  }
  .dialog-label {
    margin: 20px 6px 20px 16px;
    white-space: nowrap;
  }
  .red-btn {
    font-size: 10px;
  }
  .el-date-editor.el-input,
  .el-date-editor.el-input__inner {
    width: 160px;
  }
}
</style>
