@import "../../styles/variables.scss";
.common-container {
  .screen .select-remark {
    .el-input--suffix {
      height: 36px;
    }
    .el-input__inner {
      height: 36px;
      border-right: none;
      // border-radius: 20px 0 0 20px;
    }
  }
  .top {
    .com-search2 {
      width: 470px;
      .el-input__inner {
        width: 430px;
      }
    }
  }
  .com-label-text {
    min-width: 90px;
  }

  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
}