@import "./variables.scss";
.common-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #f6f6f6;
    .screen {
        padding: 0 20px 20px;
        background: #ffffff;
        border-top: 1px solid #f6f6f6;
        .select-remark {
            width: 128px;
            height: auto;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 20px 0 0 20px;
        }
        .el-select.select-remark {
            &::v-deep .el-input__inner {
                border-radius: 20px 0 0 20px;
            }
        }
        .top {
            .com-search2 {
                border-radius: 0 20px 20px 0;
                border: 1px solid #dcdfe6;
                .el-input__inner {
                    width: 430px;
                }
            }
        }
        .t-wrap {
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            .no-item {
                margin-bottom: 18px;
                color: $color-minor;
                font-size: 14px;
            }
            ul {
                margin-bottom: 15px;
                &.all-list {
                    padding: 5px 12px;
                    background: #f3f3f4;
                    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
                    border-radius: 5px;
                    li {
                        padding-top: 15px;
                        padding-bottom: 15px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                li {
                    padding-bottom: 15px;
                    margin-right: 24px;
                    font-size: 14px;
                    color: #666;
                    cursor: pointer;
                    &.active {
                        color: $color-minor;
                    }
                    &:hover {
                        color: $color-minor;
                    }
                }
            }
        }
        .flex-cw {
            border-bottom: 1px solid #f3f3f4;
        }
        .more {
            color: $color-primary;
            cursor: pointer;
            font-size: 12px;
            margin-bottom: 12px;
            .el-icon-arrow-right {
                font-size: 12px;
            }
        }
    }

    .imgs {
        width: 14px;
        height: 14px;
        margin-right: 4px;
    }

    // 表格
    .sup-table {
        margin-top: 10px;
        padding-bottom: 20px;
        border-radius: 6px;
        overflow: hidden;
        background-color: #ffffff;
    }
}
