@import "@/styles/variables.scss";
.index-calculate {
  .tab-content {
    display: flex;

    .content-left {
      //   display: flex;
      flex: 1;

      .left-top {
        display: flex;
        background: #fff;
        .red {
          font-size: 16px;
          vertical-align: middle;
          margin-right: 3px;
        }
      }
      .left-bottom {
        .sample-table {
          width: 100%;
          min-height: 430px;
          background: #fff;
          padding: 20px;

          .tab-title {
            margin-bottom: 10px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #999999;
          }
        }
        .red {
          color: #f13a3f;
          font-size: 16px;
          vertical-align: middle;
          margin-right: 3px;
        }
      }

      .echart-div {
        width: 100%;
        height: 430px;
        background: #fff;
      }

      .left-form {
        flex: 3;
        padding: 20px;
        position: relative;

        &::after {
          content: "";
          width: 1px;
          height: 300px;
          background: #b0b0b0;
          opacity: 0.2;
          border-radius: 1px;
          position: absolute;
          top: 20px;
          right: 0;
        }
      }
      .left-result {
        flex: 4;
        padding: 20px 50px;

        .right-count {
          width: 170px;
          height: 192px;
          background: url("~@/assets/img/v2.0/椭圆 1023.png");
          justify-content: center;

          .red {
            font-size: 26px;
            font-family: Source Han Sans CN;
            font-weight: bold;
            color: #ff3131;
            line-height: 30px;
          }
          .unit {
            font-size: 12px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #333333;
            line-height: 30px;
            opacity: 0.6;
          }
        }
      }

      span:not(.m-span) {
        font-size: 12px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #bcbcbc;
        line-height: 20px;
      }

      p {
        font-size: 14px;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: #333333;
        line-height: 20px;
      }
    }
    .content-right {
      width: 394px;
      margin-left: 10px;
      background: #fff;

      .com-tag-span {
        margin-top: 20px;
        display: inline-block;
      }

      .ul-form .label-text {
        width: 86px;
      }
    }

    .ul-form {
      li {
        padding: 10px 0;
      }
      .label-text {
        display: inline-block;
        text-align: right;
        width: 72px;
        font-size: 12px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #999999;
        line-height: 30px;
        white-space: nowrap;
        margin-right: 20px;

        .red {
          color: #f13a3f;
          font-size: 16px;
          vertical-align: middle;
          margin-right: 3px;
        }
      }

      .el-input {
        flex: 1;

        &::v-deep .el-input__inner::-webkit-input-placeholder {
          /* placeholder字体大小  */
          font-size: 12px;
        }
      }
    }

    .div-spans {
      flex: 1;
      display: flex;
      flex-wrap: nowrap;

      font-size: 14px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #999999;
      // align-items: center;

      span {
        margin-right: 10px;
        line-height: 25px;
      }
    }
  }
}
