// theme config
$color-minor: #F9A147;
$color-primary: #1789F2;
$color-danger: #F13A3F;
$table-color: #333333;
$gray-color: #AAAAAA;
$text-color: #fff;

$input-border-radius: 20px;

// sidebar
$menuText:#ffffff;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuHover: linear-gradient(90deg, rgba(24, 144, 255, 0) 0%, $color-primary 100%);
$menuActive: linear-gradient(90deg, rgba(24, 144, 255, 0) 0%, $color-primary 100%);

$menuBg:#000C17;
$menuHover:#001529;

$subMenuBg:#000C17;
$subMenuHover:#001529;

$sideBarWidth: 220px;

// export供js调用
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
