<template>
  <el-breadcrumb class="app-breadcrumb" separator-class="el-icon-arrow-right">
    <transition-group name="breadcrumb">
      <el-breadcrumb-item v-for="(item,index) in levelList" :key="item.path">
        <span v-if="item.redirect==='noRedirect'||index==levelList.length-1" class="no-redirect">{{ item.meta.title }}</span>
        <a v-else @click.prevent="handleLink(item)">{{ item.meta.title }}</a>
      </el-breadcrumb-item>
    </transition-group>
  </el-breadcrumb>
</template>

<script>
import pathToRegexp from 'path-to-regexp'

export default {
  data() {
    return {
      levelList: null
    }
  },
  watch: {
    $route() {
      this.getBreadcrumb()
    }
  },
  created() {
    this.getBreadcrumb()
  },
  methods: {
    getBreadcrumb() {
      // only show routes with meta.title
      const matched = this.$route.matched.filter(
        item => item.meta && item.meta.title
      )
      // const first = matched[0]

      // if (!this.isDashboard(first)) {
      //   matched = [{ path: '/dashboard', meta: { title: 'Dashboard' }}].concat(matched)
      // }

      this.levelList = matched.filter(
        item => item.meta && item.meta.title && item.meta.breadcrumb !== false
      )
    },

    isDashboard(route) {
      const name = route && route.name
      if (!name) {
        return false
      }
      return name.trim().toLocaleLowerCase() === '首页'.toLocaleLowerCase()
    },
    pathCompile(path) {
      const { params } = this.$route
      var toPath = pathToRegexp.compile(path)
      return toPath(params)
    },
    handleLink(item) {
      const { redirect, path } = item
      if (redirect) {
        this.$router.push(redirect)

        return
      }
      this.$router.push(this.pathCompile(path))
    }
  }
}
</script>

<style lang="scss" scoped>
.app-breadcrumb.el-breadcrumb {
  font-size: 13px;
  padding: 12px 20px;
  background: #ffffff;
  box-shadow: 0px 1px 0px 0px rgba(96, 96, 96, 0.06);
  border-radius: 6px 6px 0px 0px;
  font-weight: 400;
  color: #999999;
  .no-redirect {
    cursor: text;
    color: #1789f2;
    width: 49px;
    font-weight: 400;
  }
}
// @import '../../styles/variables.scss';
// .app-breadcrumb.el-breadcrumb {
//   display: inline-block;
//   font-size: 14px;
//   line-height: 34px;
//   margin-left: 20px;
//   color: #999;
//   .no-redirect {
//     color: $color-primary;
//     cursor: text;
//   }
// }
</style>
<style lang="scss">
.el-breadcrumb__separator {
  color: #777777;
}
// @import '../../styles/variables.scss';
// .app-breadcrumb {
//   .el-breadcrumb__inner a,
//   .el-breadcrumb__inner.is-link {
//     color: #999;
//     font-weight: 400;
//     &:hover {
//       color: $color-primary;
//     }
//   }
// }
</style>
