<template>
  <div class="upload-cj-container">
    <div class="up-wrap">
      <h1>{{ tempName }}</h1>
      <div class="com-search">
        <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如：材料名称、规格、编码" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div class="flex-fs custom-type">
          <span class="com-label-text">自定义材料分类</span>
          <div class="t-wrap">
            <ul class="flex-c">
              <li :class="{active: curCustomType === ''}" @click="toggleCustomType('')">全部</li>
              <li v-for="(item, index) in customType" :key="index" :class="{active: curCustomType == item.id}" @click="toggleCustomType(index)">
                {{ item.name }}
              </li>
              <li :class="{active: curCustomType === '0'}" @click="toggleCustomType('0')">未分类</li>
            </ul>
            <ul v-if="customTypeItem && customTypeItem.length > 0" class="flex-c">
              <li :class="{active: curCustomTypeItem === ''}" @click="toggleCustomTypeItem('')">
                全部
              </li>
              <li v-for="(item, index) in customTypeItem" :key="index" :class="{active: curCustomTypeItem == item.id}" @click="toggleCustomTypeItem(item.id)">
                {{ item.name }}
              </li>
            </ul>
            <ul>
              <li class="minor-color" @click="$router.push('/setting/modeSet')">前往设置分类</li>
            </ul>
          </div>
        </div>
        <div class="flex-fs norm-type">
          <span class="com-label-text"><span class="com-alt">占位符</span>国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{'is-fold': isFold}">
              <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
              <li v-for="(item, index) in normType" :key="index" :class="{active: curNormType == item.code}" @click="changeNormType(index, item.code)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="normTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
              <li v-for="(item, index) in normTypeItem" :key="index" :class="{active: curNormTypeItem == item.code}" @click="changeNormTypeItem(item.code)">
                {{ item.name }}
              </li>
            </ul>
          </div>
          <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" />
        </div>
        <!-- 材料类型 -->
        <div class="flex-fs custom-type">
          <span class="com-label-text"><span class="com-alt">占位符</span>材料类型</span>
          <div class="t-wrap">
            <ul class="flex-c">
              <li :class="{active: standardType === '0'}" @click="toggleStandard('0')">全部</li>
              <li :class="{active: standardType === '1'}" @click="toggleStandard('1')">标准化材料</li>
              <li :class="{active: standardType === '2'}" @click="toggleStandard('2')">自定义材料</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="table-wrap">
        <div class="flex-csb com-operate-wrap">
          <div>
            <!-- <span v-has="$roles.fun_comprice_add_materials">-->
            <span>
              <!-- <el-button class="has-primary-btn" @click="addTempDialog()" :disabled="!auditStatus">添加材料</el-button> -->

              <el-popover placement="bottom" trigger="click">
                <div class="special-operate-wrap">
                  <el-button @click="addTempDialog(4)">添加单条</el-button>
                  <el-button @click="addTempDialog(1)">批量添加</el-button>
                </div>
                <el-button slot="reference" class="has-primary-btn" :disabled="!auditStatus">添加标准化材料</el-button>
              </el-popover>
            </span>
            <!-- <span v-has="$roles.fun_comprice_zdy_cl" class="mytemp">-->
            <span class="mytemp">
              <!-- <el-button class="has-minor-btn" @click="addMyTempDialog" :disabled="!auditStatus">添加自定义材料</el-button> -->

              <el-popover placement="bottom" trigger="click">
                <div class="special-operate-wrap">
                  <el-button @click="addMyTempDialog(5)">添加单条</el-button>
                  <el-button @click="addMyTempDialog(2)">批量添加</el-button>
                </div>
                <el-button slot="reference" class="has-minor-btn" :disabled="!auditStatus">添加自定义材料</el-button>
              </el-popover>
              <el-tooltip class="item" effect="light" content="添加统称性材料如：水、电，油等。" placement="top-start">
                <img src="@/assets/img/cs/icons/tips.png" alt="" class="tips">
              </el-tooltip>
            </span>
            <!-- <span v-has="$roles.fun_comprice_add_materials">-->
            <span>
              <el-button :disabled="!auditStatus" @click="addTempDialog(6)">复用历史模板</el-button>
            </span>
            <!-- <span v-has="$roles.fun_comprice_adj_number">
              <el-button @click="openNumDialog" :disabled="!auditStatus">调整序号</el-button>
            </span> -->
            <!-- <span v-has="$roles.fun_comprice_reset_standard">-->
            <span>
              <el-button :disabled="!auditStatus" @click="reStandardAll">重新标准化</el-button>
            </span>
            <!-- <span v-has="$roles.fun_comprice_adj_class">
              <el-button @click="openTypeDialog" :disabled="!auditStatus">调整自定义分类</el-button>
            </span> -->
            <!-- <span v-has="$roles.fun_comprice_del_materials">-->
            <span>
              <el-button class="delete-btn" :disabled="!auditStatus" @click="openDelDialog">删除</el-button>
            </span>
            <!-- <span v-has="$roles.fun_comprice_export_materials">-->
            <span>
              <el-button :loading="exportLoading" @click="exportTempDetail">导出</el-button>
            </span>
            <!-- <span v-has="$roles.fun_comprice_adj_gjclass">-->
            <span>
              <el-button v-if="standardType==2" :disabled="!auditStatus" @click="trimGb">调整国标分类</el-button>
            </span>
          </div>
          <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting" />
            <span>列表设置</span>
          </div>
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange" @filter-change="filterChange">
          <el-table-column type="selection" width="66px" />
          <el-table-column v-if="checkedList.indexOf('序号') != -1" width="66px" prop="sortNo" label="序号" />
          <el-table-column v-if="checkedList.indexOf('编码') != -1" prop="zcode" label="编码" />
          <el-table-column v-if="checkedList.indexOf('标准名称') != -1" prop="stdName" label="标准名称" />
          <el-table-column v-if="checkedList.indexOf('材料名称') != -1" prop="name" label="材料名称" />
          <el-table-column v-if="checkedList.indexOf('规格') != -1" align="center" prop="spec" label="规格" />
          <el-table-column v-if="checkedList.indexOf('单位') != -1" width="66px" align="center" prop="unit" label="单位" />
          <el-table-column v-if="checkedList.indexOf('自定义分类') != -1" align="center" prop="customTypeName" label="自定义分类" />
          <el-table-column v-if="checkedList.indexOf('国标分类') != -1" label="国标分类" prop="rationName" :filter-multiple="false" column-key="rationName" :filters="filterStatus"
            label-class-name="labeltip" />
          <el-table-column v-if="checkedList.indexOf('材料类型') != -1" align="center" label="材料类型">
            <template slot-scope="scope">
              <span v-if="scope.row.isFormat == 1">标准化材料</span>
              <span v-else>自定义材料</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('备注') != -1" prop="remark" label="备注" />
          <el-table-column v-if="checkedList.indexOf('操作') != -1" align="left" label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <!-- <span v-has="$roles.fun_comprice_adj_edit">-->
                <span @click="editMaterialDialog(scope.row)">
                  <el-tooltip effect="light" content="编辑" placement="top">
                    <img v-if="!auditStatus" class="icons" src="@/assets/img/cs/icons/edits_gray.png" alt="">
                    <img v-else class="icons" src="@/assets/img/cs/icons/edits.png" alt="">
                  </el-tooltip>
                </span>
                <!-- <span v-has="$roles.fun_comprice_reset_standard">-->
                <span @click="reSomeStandard(scope.row)">
                  <el-tooltip effect="light" content="重新标准化" placement="top">
                    <img v-if="!auditStatus" class="icons" src="@/assets/img/cs/icons/refreshs_gray.png" alt="">
                    <img v-else class="icons" src="@/assets/img/cs/icons/refreshs.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalPage }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalPage" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" width="400px" class="com-dialog" :close-on-click-modal="false">
      <div class="select-list com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 编辑材料弹窗 -->
    <el-dialog title="编辑材料" :visible.sync="showImportDialog3" :close-on-click-modal="false" width="491px" class="com-dialog remark-dialog">
      <div class="flex-c mb-20">
        <span class="label-text special-text">国标分类：</span>
        <div class="special-div">
          <el-select v-model="editTaxItem1" clearable placeholder="请选择国标一级分类" @change="changeEditTax1($event)">
            <el-option v-for="item in normTaxType1" :key="item.name" :label="item.name" :value="item.code" />
          </el-select>
          <el-select v-model="materialNtCode" style="margin-left: 10px" clearable placeholder="请选择国标二级分类" @change="changeEditTax2">
            <el-option v-for="item in normTaxType2[editTaxItem1]" :key="item.name" :label="item.name" :value="item.code" />
          </el-select>
        </div>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text"><span>*</span>材料名称</span>
        <el-input v-model="materialName" placeholder="请输入材料名称" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text">材料规格</span>
        <el-input v-model="materialSpecs" placeholder="请输入材料规格" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text"><span>*</span>材料单位</span>
        <el-input v-model="materialUnit" placeholder="请输入材料单位" />
      </div>
      <div class="flex-c mb-20 special-c">
        <span class="label-text special-text">设置税点：</span>
        <div class="special-div">
          <el-input v-model="setEditPoint" class="special-input" :disabled="editDisabled" placeholder="请输入税点" />
          <el-tooltip v-if="editDisabled" class="item" effect="light" content="编辑" placement="top">
            <img class="ml-10" src="@/assets/img/cs/icons/edit_icon.png" alt="" @click="editDisabled = !editDisabled">
          </el-tooltip>
          <template v-else>
            <el-tooltip class="item" effect="light" content="取消" placement="bottom">
              <img class="ml-10" src="@/assets/img/cs/icons/close_icon.png" alt="" @click="setEditCancel">
            </el-tooltip>
            <el-tooltip class="item" effect="light" content="保存" placement="bottom">
              <img class="ml-10" src="@/assets/img/cs/icons/save_icon02.png" alt="" @click="setEditSave">
            </el-tooltip>
          </template>
        </div>
        <span class="special-tip">注意：独立设置税点后将不适用默认税点和不参与批量设置税点</span>
      </div>
      <div>
        <p class="r-label">备注</p>
        <el-input v-model="materialRemarks" type="textarea" placeholder="请输入备注" resize="none" rows="6" maxlength="300" />
        <div class="ta-right">
          <span v-if="materialRemarks">{{ materialRemarks.length }}</span><span v-else>0</span>/300
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog3 = false">取消</el-button>
        <el-button type="primary" :loading="remarkLoading" @click="editTemDialog">确定</el-button>
      </span>
    </el-dialog>

    <!-- 调整序号弹窗 -->
    <el-dialog title="调整序号" :visible.sync="showNumDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-input">
      <div class="flex-c mb-20">
        <span class="label-text">当前序号：</span>
        <span>{{ curNum }}</span>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">新序号：</span>
        <el-input v-model="newNum" @input="checkNewNum" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showNumDialog = !showNumDialog">取消</el-button>
        <el-button type="primary" :loading="numLoading" @click="updateNum">确定并更新</el-button>
      </span>
    </el-dialog>

    <!-- 添加材料弹窗 -->
    <el-dialog title="添加材料" :visible.sync="showImportDialog1" :close-on-click-modal="false" width="490px" class="com-dialog com-select">
      <div class="flex-cwsb com-input export-wrap">
        <div class="flex-c com-radio-wrap com-upload">
          <!-- <el-radio v-model="importRadio" label="custom"></el-radio> -->
          <span class="label-text">导入材料：</span>
          <div class="flex-c">
            <div class="u-ipt" style="width: 240px;">{{ curCustomFile.name }}</div>
            <div class="u-btn">上传</div>
            <div class="u-dot">...</div>
            <input ref="fileElem" class="u-file" type="file" @change="uploadCustomFile($event,'file1')">
          </div>
        </div>
        <div class="flex-c">
          <span class="label-text">模板下载：</span>
          <span class="u-mode-btn" @click="uploadTemp">材料上传模板</span>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog1 = false">取消</el-button>
        <el-button type="primary" :loading="importLoading" @click="issueTemp">发布</el-button>
      </span>
    </el-dialog>

    <!-- 复用历史模板弹窗 -->
    <el-dialog title="复用历史模板" :visible.sync="showHistoryDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-select">
      <div class="flex-cwsb com-input export-wrap">
        <div class="flex-c com-radio-wrap">
          <!-- <el-radio v-model="importRadio" label="default"></el-radio> -->
          <span class="label-text">复用历史模板：</span>
          <el-select v-model="dialogCurMode" class="his-select ml-10" placeholder="请选择">
            <el-option v-for="item in modeList" :key="item.id" :label="item.tempName" :value="item.id" />
          </el-select>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showHistoryDialog = false">取消</el-button>
        <el-button type="primary" :loading="importLoading" @click="issueTemp">发布</el-button>
      </span>
    </el-dialog>

    <!-- 添加单条材料弹窗 -->
    <el-dialog :title="showdialogNum == 4? '添加材料' : '添加自定义材料'" :visible.sync="showImportDialog4" :close-on-click-modal="false" width="560px" class="com-dialog remark-dialog">
      <div v-if="showdialogNum === 5" class="flex-c mb-20">
        <span class="label-text special-text">国标分类：</span>
        <div class="special-div">
          <el-select v-model="normTaxItem1" clearable placeholder="请选择国标一级分类" @change="changeNormTax1($event)">
            <el-option v-for="item in normTaxType1" :key="item.name" :label="item.name" :value="item.code" />
          </el-select>
          <el-select v-model="materiaParams.classificationCode" style="margin-left: 10px" clearable placeholder="请选择国标二级分类" @change="changeNormTax2">
            <el-option v-for="item in normTaxType2[normTaxItem1]" :key="item.name" :label="item.name" :value="item.code" />
          </el-select>
        </div>
      </div>
      <div class="flex-c mb-20 special-c">
        <span class="label-text special-text">序号：</span>
        <el-input v-model="materiaParams.serialNumber" placeholder="请输入序号" @input="checkInput" />
        <span class="special-tip">注意：请输入除0以外，且本周期不存在序号，不填序号将自动排序</span>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text"><span>*</span>材料名称：</span>
        <el-input v-model="materiaParams.name" placeholder="请输入材料名称" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text">材料规格：</span>
        <el-input v-model="materiaParams.spec" placeholder="请输入材料规格" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text special-text"><span>*</span>材料单位：</span>
        <el-input v-model="materiaParams.unit" placeholder="请输入材料单位" />
      </div>
      <div v-if="showdialogNum === 5" class="flex-c mb-20 special-c">
        <span class="label-text special-text">设置税点：</span>
        <div class="special-div">
          <el-input v-model="setTaxPoint" class="special-input" :disabled="taxDisabled" placeholder="请输入税点" />
          <el-tooltip v-if="taxDisabled" class="item" effect="light" content="编辑" placement="top">
            <img class="ml-10" src="@/assets/img/cs/icons/edit_icon.png" alt="" @click="taxDisabled = !taxDisabled">
          </el-tooltip>
          <template v-else>
            <el-tooltip class="item" effect="light" content="取消" placement="bottom">
              <img class="ml-10" src="@/assets/img/cs/icons/close_icon.png" alt="" @click="setTaxCancel">
            </el-tooltip>
            <el-tooltip class="item" effect="light" content="保存" placement="bottom">
              <img class="ml-10" src="@/assets/img/cs/icons/save_icon02.png" alt="" @click="setTaxSave">
            </el-tooltip>
          </template>
        </div>
        <span class="special-tip">注意：独立设置税点后将不适用默认税点和不参与批量设置税点</span>
      </div>
      <div>
        <p class="r-label">备注</p>
        <el-input v-model="materiaParams.remark" type="textarea" resize="none" rows="6" maxlength="300" placeholder="请输入备注" />
        <div class="ta-right">
          <span v-if="materiaParams.remark">{{ materiaParams.remark.length }}</span><span v-else>0</span>/300
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog4 = false">取消</el-button>
        <el-button type="primary" @click="addMaterial">确认</el-button>
      </span>
    </el-dialog>

    <!-- 添加自定义材料弹窗 -->
    <el-dialog title="添加自定义材料" :visible.sync="showImportDialog2" :close-on-click-modal="false" width="490px" class="com-dialog com-select">
      <div class="flex-cwsb com-input export-wrap">
        <div class="flex-c com-radio-wrap com-upload">
          <span class="label-text">导入材料：</span>
          <div class="flex-c">
            <div class="u-ipt" style="width: 240px;">{{ curCustomFile2.name }}</div>
            <div class="u-btn">上传</div>
            <div class="u-dot">...</div>
            <input ref="fileElem2" class="u-file" type="file" @change="uploadCustomFile($event,'file2')">
          </div>
        </div>
        <div class="flex-c">
          <span class="label-text">模板下载：</span>
          <span class="u-mode-btn" @click="uploadTemp">自定义材料上传模板</span>
        </div>
        <div class="redtips">注意：添加的自定义材料不会执行标准化程序。</div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog2 = false">取消</el-button>
        <el-button type="primary" :loading="importLoading" @click="issueTemp2">发布</el-button>
      </span>
    </el-dialog>

    <!-- 添加自定义材料结果弹窗 -->
    <el-dialog title="添加自定义材料" :visible.sync="showResDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog resultdialog">
      <div v-if="resStatus==3" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/reStandard2.png" alt="" style="margin-bottom:30px;">
        <p>正在安全扫描...</p>
      </div>
      <div v-if="resStatus==1" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/success_img.png" alt="" class="img2">
        <p>导入成功<span class="suc-num2">{{ successCount2 }}</span>条，失败<span class="err-num2">{{ failCount2 }}</span>条</p>
      </div>
      <div v-if="resStatus==2" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/error_img.png" alt="" class="img2">
        <p v-if="errMsg">{{ errMsg }}</p>
        <p v-else>上传失败，请重试</p>
      </div>
      <span v-if="resStatus!=3" slot="footer" class="dialog-footer">
        <el-button v-if="resStatus==1 && failCount2 > 0" style="border:1px solid #2773FC;" :loading="downloadKeyLoading" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="showResDialog=false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加材料失败弹窗 -->
    <el-dialog title="添加材料" :visible.sync="showErrorDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog resultdialog">
      <div class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/error_img.png" alt="">
        <p class="mt-20">{{ errorMes }}</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="reAddMaterial">重新编辑</el-button>
      </span>
    </el-dialog>

    <!-- 调整分类弹窗 -->
    <el-dialog title="调整自定义分类" :visible.sync="showTypeDialog" :close-on-click-modal="false" width="400px" class="com-dialog com-input">
      <div class="set-type-wrap">
        <div>
          <span><span class="r-color">*</span>一级分类</span>
          <el-select v-model="curOneType" placeholder="请选择一级分类" @change="changeDialogCustom">
            <el-option v-for="item in customType" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </div>
        <div>
          <span><span class="com-alt r-color">*</span>二级分类</span>
          <el-select v-model="curTwoType" placeholder="请选择二级分类">
            <el-option v-for="item in curTowTypeList" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="showTypeDialog = false">取消</el-button>
        <el-button type="primary" :loading="dialogCustomTypeLoading" @click="changeType">保存并更新</el-button>
      </span>
    </el-dialog>

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="mt-5">你确定要删除勾选的材料吗？该操</p>
        <p class="mb-10 mt-5">作不可逆！</p>
        <p class="tip-text">注意：采集员可能已下载模板或者已</p>
        <p class="tip-text">完成报价，请提醒采集员重新填报。</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="deleteLoading" :disabled="timeNum > 0" @click="deleteItem">
          <span>确定并更新</span>
          <span v-if="timeNum > 0">({{ timeNum }})</span>
        </el-button>
      </span>
    </el-dialog>

    <!-- 存在材料校验弹窗 -->
    <el-dialog :title="showdialogNum==2?'添加自定义材料':showdialogNum==3?'编辑材料':'添加材料'" :visible.sync="showAddDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="mt-5 mb-10">该模板已发布，您确定要修改吗？</p>
        <p class="tip-text">注意：采集员可能已下载模板或者已</p>
        <p class="tip-text">完成报价，请提醒采集员重新填报。</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddDialog = false">取消</el-button>
        <el-button type="primary" :disabled="timeNum > 0" @click="showImportDialogs">
          <span>确定</span>
          <span v-if="timeNum > 0">({{ timeNum }})</span>
        </el-button>
      </span>
    </el-dialog>

    <!-- 重新标准化弹窗 -->
    <el-dialog title="重新标准化" :visible.sync="reStandard" :close-on-click-modal="false" width="400px" class="com-dialog com-select re-standard">
      <div v-if="reStandardStatus==1" class="dialog-content">
        <img src="@/assets/img/cs/reStandard1.png" alt="">
        <p>您确定要标准化材料吗？</p>
      </div>
      <div v-if="reStandardStatus==2" class="dialog-content">
        <img src="@/assets/img/cs/reStandard2.png" alt="">
        <p>正在标准化...</p>
      </div>
      <div v-if="reStandardStatus==3" class="dialog-content">
        <img src="@/assets/img/cs/reStandard3.png" alt="">
        <p>标准化成功<span class="suc-num3">{{ successCount3 }}</span>条，失败<span class="err-num3">{{ failCount3 }}</span>条</p>
      </div>
      <span v-if="reStandardStatus == 1" slot="footer" class="dialog-footer">
        <el-button @click="reStandard = false">取消</el-button>
        <el-button type="primary" @click="toStandard">确定</el-button>
      </span>
      <span v-if="reStandardStatus == 3" slot="footer" class="dialog-footer">
        <el-button v-if="failCount3 > 0" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="reStandard=false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 调整国标分类弹窗 -->
    <el-dialog title="调整国标分类" :visible.sync="showGbDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input-width">
      <div class="flex-c mb-20">
        <span class="label-text">国标一级分类：</span>
        <el-select v-model="oneGb" class="ml-10" placeholder="请选择" @change="changeGb($event,'1')">
          <el-option v-for="(item, index) in normType" :key="item.id" :label="item.name" :value="index" />
        </el-select>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">国标二级分类：</span>
        <el-select v-model="twoGb" class="ml-10" placeholder="请选择" @change="changeGb($event,'2')">
          <el-option v-for="(item, index) in normType2" :key="item.id" :label="item.name" :value="index" />
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showGbDialog = false">取消</el-button>
        <el-button type="primary" @click="submitGb">确定</el-button>
      </span>
    </el-dialog>

    <!-- 编辑/添加单条材料-正在标准化弹窗 -->
    <el-dialog :title="editTitle" :visible.sync="showEdit" :close-on-click-modal="false" width="400px" class="com-dialog com-select re-standard">
      <div class="dialog-content">
        <img src="@/assets/img/cs/reStandard2.png" alt="">
        <p>正在标准化...</p>
      </div>
    </el-dialog>

    <!-- 标准化弹窗 -->
    <ScanLoading v-if="startScan" :scan-state="scanState" :fail-count="failCount" :success-count="successCount" :download-key-loading="downloadKeyLoading" @confirmScan="confirmScan"
      @downloadErrorList="downloadErrorList" />
  </div>
</template>

<script>
import ScanLoading from '@/components/ScanLoading'
import {
  getTempCustomType,
  getTempDetailList,
  deleteItem,
  exportTempDetail,
  tempRemark,
  updateNum,
  uploadTemp,
  getTempList,
  importFile,
  getHistoryTemplateList,
  updCustomType,
  checkTemp,
  editTemp,
  againFormat,
  updateSubCId,
  addMaterial,
  materialDropDownBox
} from '@/api/cs/collectTemplate'
import { getCjType } from '@/api/cs/materialManage'
import { downloadErrorExcel } from '@/api/common'

export default {
  name: 'ModeDetail',
  components: {
    ScanLoading
  },
  data() {
    return {
      successCount: 0, // 标准化成功数
      failCount: 0, // 标准化失败数
      successCount2: 0, // 添加自定义材料成功数
      failCount2: 0, // 添加自定义材料失败数
      successCount3: 0, // 重新标准化成功数
      failCount3: 0, // 重新标准化失败数
      errMsg: '', // 失败信息
      scanTimer: null, // 标准化定时器
      scanState: '0', // 0请求进行中，1请求成功，2请求失败
      startScan: false, // 开始标准化
      importRadio: 'custom', // 添加材料时，custom导入自定义材料/default复用的历史模板
      showImportDialog1: false, // 显示添加材料弹窗
      showImportDialog2: false, // 显示添加自定义材料弹窗
      showImportDialog3: false, // 显示添加编辑材料弹窗
      showImportDialog4: false, // 显示添加单条材料弹窗
      showResDialog: false, // 自定义材料导入结果弹窗
      numLoading: false,
      curNum: '', // 当前序号
      newNum: '', // 新序号
      showNumDialog: false,
      tempName: '',
      id: '', // 当前模板id
      searchVal: '',
      currentPage: 1,
      pageSize: 10,
      totalPage: 0,
      tableData: [],
      multipleSelection: [],
      customType: [], // 自定义分类
      customTypeItem: [],
      curCustomType: '',
      curCustomTypeItem: '',
      normType: [], // 国标分类
      normTypeItem: [],
      normType2: [], // 调整国标分类时二级分类列表
      oneGb: '', // 调整国标时选的一级分类index
      twoGb: '', // 调整国标时选的二级分类index
      curNormType: '',
      curNormTypeItem: '',
      normTaxType1: [], // 国标分类一级分类（含税率）
      normTaxType2: [], // 国标分类二级分类（含税率）
      normTaxItem1: '', // 国标分类一级分类（含税率）选中分类
      rulesList: ['', '已标准化', '未标准化'], // 标准化
      curRules: '',
      loading: false,
      showSetListDialog: false,
      checkList: [
        // 表头列表
        '序号',
        '编码',
        '标准名称',
        '材料名称',
        '规格',
        '单位',
        '自定义分类',
        '国标分类',
        '材料类型',
        '备注',
        '操作'
      ],
      checkedList: [
        // 列表选中的设置项
        '序号',
        '材料名称',
        '规格',
        '单位',
        '自定义分类',
        '国标分类',
        '材料类型',
        '备注',
        '操作'
      ],
      disabledCheckedList: [
        // 禁止设置项
        '序号',
        '材料名称',
        '规格',
        '单位',
        '操作'
      ],
      deleteLoading: false,
      exportLoading: false,
      ramarkValue: '', // 备注内容
      curTempDetailId: '', // 备注id
      remarkLoading: false,
      modeList: [],
      dialogCurMode: '', // 添加材料时，复用的历史模板
      curCustomFile: {}, // 当前上传的自定义文件
      curCustomFile2: {}, // 当前上传的自定义文件2（添加自定义材料）
      resStatus: '', // 上传自定义文件结果 1成功 2失败
      importLoading: false,
      isFold: true,
      downloadKeyLoading: false,
      period: null,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      showTypeDialog: false,
      curTowTypeList: [],
      curOneType: '',
      curTwoType: '',
      dialogCustomTypeLoading: false,
      timeNum: 0,
      showDelDialog: false,
      showAddDialog: false,
      showdialogNum: '', // 显示哪个弹窗 1添加材料 2添加自定义材料 3编辑材料 4添加单条材料 5添加单条自定义材料 6复用历史模板
      auditStatus: false, // false代表为历史清单，部分按钮操作隐藏
      materialSortNo: null, // 材料序号
      materialName: '', // 材料名称
      materialSpecs: '', // 材料规格
      materialUnit: '', // 材料单位
      materialRemarks: '', // 材料备注
      materialId: '', // 材料id
      standardType: '0', // 材料类型分类0/1/2
      reStandard: false, // 显示重新标准化弹窗
      reStandardStatus: '', // 重新标准化状态 1询问2正在3完成
      againFormatStr: '', // 重新标准化的材料ids
      showGbDialog: false, // 显示国标分类弹窗
      showEdit: false, // 显示编辑正在标准化弹窗
      filterStatus: [
        { text: '有国标', value: '2' },
        { text: '无国标', value: '3' }
      ],
      Gbstatus: '',
      editStatus: '', // 1为标准化数据，才需要标准化弹窗
      materiaParams: {
        classificationCode: '', // 国标分类
        serialNumber: '', // 序号
        name: '', // 材料名称
        spec: '', // 材料规格
        unit: '', // 材料单位
        taxPoint: '', // 税点
        remark: '', // 备注
        isSetTaxPoint: 0 // 是否自定义设置税点(0:否，1:是)
      },
      editTitle: '编辑材料',
      taxDisabled: true, // 设置税点
      setTaxPoint: null, // 当前材料税点 - 设置税点
      materialNtCode: '', // 编辑-二级国标分类编码
      editTaxItem1: '', // 编辑-当前选中一级国标分类编码
      materialTaxPoint: '', // 编辑-税点
      editDisabled: true, // 编辑-设置税点
      setEditPoint: null, // 编辑-当前材料税点 - 设置税点
      isMateriaSetTaxPoint: 0, // 编辑-是否自定义设置税点(0:否，1:是)
      showErrorDialog: false,
      errorMes: '操作失败',
      showHistoryDialog: false //  复用历史模板弹窗
    }
  },
  mounted() {
    this.id = this.$route.query.id
    this.tempName = this.$route.query.name
    this.period = this.$route.query.period
    var auditStatus = this.$route.query.auditStatus
    if (
      auditStatus &&
      (auditStatus == 2 || auditStatus == 3 || auditStatus == 4)
    ) {
      this.auditStatus = false
    } else {
      this.auditStatus = true
    }
    this.getData()
    this.getTempDetailList()
    this.getHistoryTemplateList()
  },
  methods: {
    // 筛选表头有无国标分类
    filterChange(filters) {
      this.Gbstatus = filters.rationName[0]
      this.getTempDetailList()
    },
    // 调整序号校验
    checkNewNum() {
      this.newNum = this.newNum.replace(/[^0-9]/g, '')
      try {
        if (this.newNum.length > 1 && this.newNum.slice(0, 1) == 0) {
          this.newNum = this.newNum.slice(1)
        }
      } catch (err) {}
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.showResDialog = false
          this.reStandard = false
          this.startScan = false
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            )
            this.downloadKeyLoading = false
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })
    },
    // 标准化完成
    confirmScan() {
      this.startScan = false
      this.uploadMaterialPriceDialog = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
    },
    // 改变弹窗自定义分类
    changeDialogCustom() {
      for (var i = 0; i < this.customType.length; i++) {
        if (this.curOneType == this.customType[i].id) {
          this.curTowTypeList = this.customType[i].sub
        }
      }
    },
    // 调整分类
    changeType() {
      if (!this.curOneType) {
        this.$message({
          type: 'error',
          message: '请选择一级分类'
        })
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      var typeId = this.curTwoType ? this.curTwoType : this.curOneType
      var params = {
        ids: ids.join(','),
        typeId
      }
      this.dialogCustomTypeLoading = true
      updCustomType(params)
        .then(res => {
          this.dialogCustomTypeLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showTypeDialog = false
            this.getTempDetailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.dialogCustomTypeLoading = false
        })
    },
    changeNormTax1(event) {
      // 选中国标一级分类
      this.normTaxItem1 = event
      if (this.materiaParams.classificationCode) {
        this.materiaParams.classificationCode = ''
      }
    },
    changeEditTax1(event) {
      // 编辑-选中国标一级分类
      this.editTaxItem1 = event
      if (this.materialNtCode) {
        this.materialNtCode = ''
      }
    },
    changeNormTax2(code) {
      // 选中国标二级分类
      const data = this.normTaxType2[this.normTaxItem1]
      for (let i = 0, l = data.length; i < l; i++) {
        if (data[i].code == code) {
          this.materiaParams.taxPoint = data[i].taxPoint
          this.setTaxPoint = this.materiaParams.taxPoint * 100
          return
        }
      }
    },
    changeEditTax2(code) {
      // 编辑-选中国标二级分类
      const data = this.normTaxType2[this.editTaxItem1]
      for (let i = 0, l = data.length; i < l; i++) {
        if (data[i].code == code) {
          this.materialTaxPoint = data[i].taxPoint
          this.setEditPoint = this.materialTaxPoint * 100
          return
        }
      }
    },
    // 材料校验弹窗
    showImportDialogs() {
      // if(this.showdialogNum==1){
      //   this.showImportDialog1 = true
      // }else if(this.showdialogNum==2){
      //   this.showImportDialog2 = true
      // }else if(this.showdialogNum==3){
      //    this.showImportDialog3 = true
      // }

      switch (this.showdialogNum) {
        case 1:
          this.showImportDialog1 = true
          break
        case 2:
          this.showImportDialog2 = true
          break
        case 3:
          this.showImportDialog3 = true
          break
        case 4:
        case 5:
          this.materiaParams = {
            classificationCode: '',
            serialNumber: '',
            name: '',
            spec: '',
            unit: '',
            taxPoint: '',
            remark: '',
            isSetTaxPoint: 0 // 是否自定义设置税点(0:否，1:是)
          }
          this.normTaxItem1 = ''
          this.setTaxPoint = ''
          this.showImportDialog4 = true
          break
        case 6:
          this.showHistoryDialog = true
          break
      }

      this.showAddDialog = false
    },
    // 提交备注（废弃）
    tempRemark() {
      var data = {
        id: this.curTempDetailId,
        remark: this.ramarkValue ? this.ramarkValue : null,
        type: '2'
      }
      this.remarkLoading = true
      tempRemark(data)
        .then(res => {
          this.remarkLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showRemarkDialog = false
            this.getTempDetailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.remarkLoading = false
        })
    },
    // 打开备注弹窗（废弃）
    openRemarkDialog(item) {
      this.curTempDetailId = item.id
      this.ramarkValue = item.remark
      this.showRemarkDialog = !this.showRemarkDialog
    },
    // （提交）编辑材料
    editTemDialog() {
      if (!this.materialName) {
        this.$message({
          type: 'error',
          message: '请输入材料名称'
        })
        return
      } else if (!this.materialUnit) {
        this.$message({
          type: 'error',
          message: '请输入材料单位'
        })
        return
      } else if (this.materialRemarks.length > 300) {
        this.$message({
          type: 'error',
          message: '材料备注不能超过300字符'
        })
        return
      }
      const data = {
        name: this.materialName,
        unit: this.materialUnit,
        remark: this.materialRemarks || null,
        spec: this.materialSpecs || null,
        tempId: +this.id,
        tempDetailId: this.materialId,
        classificationCode: this.materialNtCode,
        isSetTaxPoint: this.isMateriaSetTaxPoint,
        taxPoint: this.materialTaxPoint
      }
      this.showImportDialog3 = false
      let times
      if (this.editStatus == 1) {
        this.editTitle = '编辑材料'
        this.showEdit = true
        times = 2500
      } else {
        times = 0
      }
      editTemp(data)
        .then(res => {
          const that = this
          setTimeout(function() {
            that.showEdit = false
            if (res.code == '01') {
              that.$message({
                type: 'success',
                message: res.message
              })
              that.getTempDetailList()
            } else {
              that.$message({
                type: 'error',
                message: res.message
              })
            }
          }, times)
        })
        .catch(err => {})
    },
    // 切换标准分类
    toggleStandard(type) {
      this.standardType = type
      this.currentPage = 1
      this.getTempDetailList()
    },
    // 调整国标分类
    trimGb() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      this.oneGb = ''
      this.twoGb = ''
      this.normType2 = []
      this.showGbDialog = true
    },
    // 切换国标分类
    changeGb(e, type) {
      if (type == '1') {
        // 切换一级
        this.twoGb = ''
        this.normType2 = this.normType[e].sub
      } else if (type == '2') {
        // 切换二级
      }
    },
    // 提交国标分类
    submitGb() {
      if (this.oneGb === '') {
        this.$message({
          type: 'error',
          message: '请选择一级国标分类'
        })
        return
      }
      if (this.twoGb === '') {
        this.$message({
          type: 'error',
          message: '请选择二级国标分类'
        })
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      ids = ids.join(',')
      const params = {
        ids: ids,
        subcId: this.normType2[this.twoGb].code
      }
      updateSubCId(params)
        .then(res => {
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showGbDialog = false
            this.getTempDetailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '调整失败'
          })
        })
    },
    // 调重新标准化接口
    toStandard() {
      const params = {
        ids: this.againFormatStr
      }
      this.reStandardStatus = 2
      againFormat(params)
        .then(res => {
          if (res.code === '01') {
            this.reStandardStatus = 3
            try {
              this.failCount3 = res.body.failCount
              this.successCount3 = res.body.successCount
              this.downloadKey = res.body.downloadKey
            } catch (err) {}
            this.getTempDetailList()
          } else {
            this.reStandard = false
            this.reStandardStatus = ''
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
        })
        .catch(err => {
          this.reStandard = false
          this.reStandardStatus = ''
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
    },
    // 重新标准化
    reSomeStandard(data) {
      if (!this.auditStatus) return
      this.reStandardStatus = 1
      this.reStandard = true
      this.againFormatStr = data.id + ''
    },
    // 重新标准化(批量)
    reStandardAll() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      this.reStandardStatus = 1
      this.reStandard = true
      this.againFormatStr = ids.join(',')
    },
    // 添加材料弹窗
    addTempDialog(num) {
      // 1、4、6
      this.showdialogNum = num
      // 检查模板下是否存在材料
      var params = {
        ids: this.id
      }
      checkTemp(params).then(res => {
        this.dialogCurMode = '' // 复用的历史模板
        this.importRadio = num == 6 ? 'default' : 'custom'
        this.curCustomFile = {}
        try {
          this.$refs.fileElem.value = null
        } catch (err) {}
        if (res.code === '8009') {
          this.showAddDialog = true
          // 倒计时2s后可删除
          this.timeNum = 2
          if (this.timer) {
            clearInterval(this.timer)
          }
          this.timer = setInterval(() => {
            this.timeNum--
            if (this.timeNum == 0) {
              clearInterval(this.timer)
            }
          }, 1000)
        } else {
          num == 1
            ? (this.showImportDialog1 = true)
            : num == 4
              ? this.showImportDialogs()
              : (this.showHistoryDialog = true)
        }
      })
    },
    // 新增材料失败-重新编辑
    reAddMaterial() {
      this.showErrorDialog = false
      this.showImportDialog4 = true
    },
    // 添加自定义材料弹窗
    addMyTempDialog(num) {
      this.showdialogNum = num // 2、5
      // 检查模板下是否存在材料
      var params = {
        ids: this.id
      }
      checkTemp(params).then(res => {
        this.curCustomFile2 = {}
        try {
          this.$refs.fileElem2.value = null
        } catch (err) {}
        if (res.code === '8009') {
          this.showAddDialog = true
          // 倒计时2s后可删除
          this.timeNum = 2
          if (this.timer) {
            clearInterval(this.timer)
          }
          this.timer = setInterval(() => {
            this.timeNum--
            if (this.timeNum == 0) {
              clearInterval(this.timer)
            }
          }, 1000)
        } else {
          num == 2 ? (this.showImportDialog2 = true) : this.showImportDialogs()
        }
      })
    },
    // 编辑材料弹窗
    editMaterialDialog(item) {
      if (!this.auditStatus) return
      this.editStatus = item.isFormat
      this.showdialogNum = 3
      // 检查模板下是否存在材料
      var params = {
        ids: this.id
      }
      checkTemp(params).then(res => {
        this.materialSortNo = item.sortNo
        this.materialId = item.id
        this.materialName = item.name
        this.materialSpecs = item.spec
        this.materialUnit = item.unit
        this.materialRemarks = item.remark || ''
        this.materialNtCode = item.classificationCode
        this.materialTaxPoint = item.taxPoint
        this.setEditPoint = this.materialTaxPoint * 100
        this.editSelectEcho(this.materialNtCode)

        if (res.code === '8009') {
          this.showAddDialog = true
          // 倒计时2s后可删除
          this.timeNum = 2
          if (this.timer) {
            clearInterval(this.timer)
          }
          this.timer = setInterval(() => {
            this.timeNum--
            if (this.timeNum == 0) {
              clearInterval(this.timer)
            }
          }, 1000)
        } else {
          this.showImportDialog3 = true
        }
      })
    },
    editSelectEcho(code) {
      // 编辑-回显国标一级分类
      const index = code.substring(0, 2)
      const midList = this.normTaxType2[index]
      for (let i = 0, l = midList.length; i < l; i++) {
        if (midList[i].code == code) {
          this.editTaxItem1 = midList[i].pcode
          return
        }
      }
    },
    // 上传
    uploadCustomFile(e, type) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        if (type == 'file1') this.curCustomFile = file
        if (type == 'file2') this.curCustomFile2 = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    // 发布材料模板
    issueTemp() {
      var formData = new FormData()
      formData.append('tempId', this.id)
      formData.append('isCustomize', false)

      // 上传自定义模板
      if (this.importRadio == 'custom') {
        if (!this.curCustomFile || !this.curCustomFile.size) {
          this.$message({
            type: 'error',
            message: '请上传材料文件'
          })
          return
        }
        formData.append('file', this.curCustomFile)
        this.importFile(formData, 'custom')
      } else {
        // 复用历史模板
        if (!this.dialogCurMode) {
          this.$message({
            type: 'error',
            message: '请选择要复用的历史模板'
          })
          return
        } else {
          formData.append('historyTempId', this.dialogCurMode)
          this.importFile(formData)
        }
      }
    },
    // 发布自定义材料模板
    issueTemp2() {
      var formData = new FormData()
      formData.append('tempId', this.id)
      formData.append('isCustomize', true)
      if (!this.curCustomFile2 || !this.curCustomFile2.size) {
        this.$message({
          type: 'error',
          message: '请上传材料文件'
        })
        return
      }
      formData.append('file', this.curCustomFile2)
      this.importFile2(formData)
    },
    // 添加材料
    addMaterial() {
      if (this.normTaxItem1 && !this.materiaParams.taxPoint) {
        this.$message({
          type: 'error',
          message: '请选中二级国标分类'
        })
        return
      } else if (!this.materiaParams.name) {
        this.$message({
          type: 'error',
          message: '请输入材料名称'
        })
        return
      } else if (!this.materiaParams.unit) {
        this.$message({
          type: 'error',
          message: '请输入材料单位'
        })
        return
      } else {
        let isCustomize = false
        if (this.showdialogNum === 4) {
          // 添加单条材料
          this.editTitle = '添加材料'
        } else {
          // 添加单条自定义材料
          this.editTitle = '添加自定义材料'
          isCustomize = true
        }
        this.showEdit = true
        this.showImportDialog4 = false
        addMaterial(this.materiaParams, {
          isCustomize,
          tempId: this.id
        }).then(res => {
          this.showEdit = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getTempDetailList()
          } else {
            this.showErrorDialog = true
            this.errorMes = res.body || res.message
          }
        })
      }
    },
    setTaxCancel() {
      // 取消设置税点
      this.taxDisabled = true
      this.setTaxPoint = this.materiaParams.taxPoint * 100
      this.materiaParams.isSetTaxPoint = 0
    },
    setTaxSave() {
      // 保存新设置税点
      this.materiaParams.taxPoint = this.setTaxPoint / 100
      this.materiaParams.isSetTaxPoint = 1
      this.taxDisabled = true
    },
    setEditCancel() {
      // 编辑-取消设置税点
      this.editDisabled = true
      this.setEditPoint = this.materialTaxPoint * 100
      this.isMateriaSetTaxPoint = 0
    },
    setEditSave() {
      // 保存新设置税点
      this.materialTaxPoint = this.setEditPoint / 100
      this.isMateriaSetTaxPoint = 1
      this.editDisabled = true
    },
    // 导入材料
    importFile(formData, type) {
      // 自定义上传需标准化处理
      if (type == 'custom') {
        // 接口请求开始标准化效果
        this.startScan = true
        this.scanState = '0'
        this.scanTimer = setTimeout(() => {
          importFile(formData)
            .then(res => {
              if (res.code == '01') {
                this.showImportDialog1 = false
                this.scanState = '1'
                try {
                  this.failCount = res.body.failCount
                  this.successCount = res.body.successCount
                  this.downloadKey = res.body.downloadKey
                } catch (err) {}
                this.currentPage = 1
                setTimeout(() => {
                  this.getTempDetailList()
                  this.getData()
                }, 2500)
              } else {
                this.scanState = '2'
              }
            })
            .catch(err => {
              this.scanState = '2'
            })
        }, this.$store.getters.loadingTime4)
      } else {
        this.importLoading = true
        importFile(formData)
          .then(res => {
            this.importLoading = false
            if (res.code == '01') {
              this.showHistoryDialog = false
              this.$message({
                type: 'success',
                message: res.message
              })

              this.currentPage = 1
              this.getTempDetailList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.importLoading = false
          })
      }
    },
    // 导入自定义材料
    importFile2(formData) {
      this.showImportDialog2 = false
      this.resStatus = 3
      this.showResDialog = true
      importFile(formData)
        .then(res => {
          if (res.code == '01') {
            const that = this
            setTimeout(function() {
              that.resStatus = 1
            }, 2500)
            try {
              this.failCount2 = res.body.failCount
              this.successCount2 = res.body.successCount
              this.downloadKey = res.body.downloadKey
            } catch (err) {}

            this.currentPage = 1
            this.getTempDetailList()
          } else {
            this.resStatus = 2
            this.errMsg = res.message
          }
        })
        .catch(err => {})
    },
    // 历史模板列表
    getHistoryTemplateList() {
      var params = {
        howPeriod: this.period
      }
      getHistoryTemplateList(params).then(res => {
        if (res.code == '01') {
          this.modeList = res.body
        }
      })
    },
    // 下载文件
    uploadTemp() {
      var loading = this.$loading({
        text: '模板下载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      uploadTemp()
        .then(res => {
          console.log(res)
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '材料上传模板.xls'
            )
            loading.close()
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {
            loading.close()
          }
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '材料上传模板.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            loading.close()
          }
        })
        .catch(err => {
          loading.close()
        })
    },
    // 调整序号
    updateNum() {
      if (!this.newNum) {
        this.$message({
          type: 'error',
          message: '请输入序号'
        })
        return
      }
      if (this.newNum == 0) {
        this.$message({
          type: 'error',
          message: '序号不能为0'
        })
        return
      }
      if (isNaN(Number(this.newNum))) {
        this.$message({
          type: 'error',
          message: '请输入正确的序号'
        })
        return
      }
      var params = {
        id: this.curTempDetailId,
        sort: this.newNum
      }
      this.numLoading = true
      updateNum(params)
        .then(res => {
          this.numLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showNumDialog = false
            this.getTempDetailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.numLoading = false
        })
    },
    // 打开调整分类弹窗
    openTypeDialog() {
      if (this.multipleSelection.length === 0) {
        this.openAlert('请选择一条数据调整自定义分类')
        return
      }
      this.showTypeDialog = true
      this.curTowTypeList = []
      this.curOneType = ''
      this.curTwoType = ''
    },
    // 打开调整序号弹窗
    openNumDialog() {
      if (this.multipleSelection.length !== 1) {
        this.openAlert('请只选择一条数据调整序号')
        return
      }
      this.curNum = this.multipleSelection[0].sortNo
      this.newNum = null
      this.curTempDetailId = this.multipleSelection[0].id
      this.showNumDialog = !this.showNumDialog
    },
    // 全部导出
    exportAllTempDetail() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem

      var data = {
        tempId: this.id,
        customTypeId: customTypeId || null,
        keyCode: this.searchVal ? this.searchVal : null,
        subcId: subcId || null
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportTempDetail(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材料信息.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材料信息.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportTempDetail() {
      var ids = []
      if (this.multipleSelection.length > 0) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      } else {
        this.exportAllTempDetail()
        return
      }
      var data = {
        tempDetailId: ids.join(',')
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportTempDetail(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材料信息.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材料信息.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 删除弹窗
    openDelDialog() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      this.showDelDialog = true
      // 倒计时2s后可删除
      this.timeNum = 2
      if (this.timer) {
        clearInterval(this.timer)
      }
      this.timer = setInterval(() => {
        this.timeNum--
        if (this.timeNum == 0) {
          clearInterval(this.timer)
        }
      }, 1000)
    },
    // 删除
    deleteItem() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      var params = {
        ids: ids.join(',')
      }
      this.deleteLoading = true
      deleteItem(params)
        .then(res => {
          this.deleteLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showDelDialog = false
            this.getTempDetailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.deleteLoading = false
        })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getTempDetailList()
    },
    // 详情列表
    getTempDetailList() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem
      var isFormat = this.standardType == 0 ? null : this.standardType == 1
      var existSubc =
        this.Gbstatus == 2 ? true : this.Gbstatus == 3 ? false : null

      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        tempId: this.id,
        customTypeId: customTypeId || null,
        isFormat: isFormat,
        keyCode: this.searchVal ? this.searchVal : null,
        subcId: subcId || null,
        existSubc: existSubc
      }
      this.loading = true
      getTempDetailList(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalPage = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 页面初始数据
    getData() {
      Promise.all([
        getTempCustomType(),
        getCjType(),
        materialDropDownBox()
      ]).then(res => {
        // 自定义材料分类
        var data01 = res[0]
        if (data01.code == '01') {
          this.customType = data01.body
        }

        // 国标分类
        var data02 = res[1]
        if (data02.code == '01') {
          this.normType = data02.body.subcTypes
        }

        // 国标一级二级分类（含税率）
        var data03 = res[2]
        if (data03.code == '01') {
          this.changeNormFormat(data03.body)
        }
      })
    },
    changeNormFormat(res) {
      const list = res
      for (var i = 0; i < list.length; i++) {
        if (list[i].pcode.length === 1) {
          this.normTaxType1.push(list[i]) // 国标一级分类（含税率）
        } else {
          // 国标二级分类（含税率）
          if (!this.normTaxType2[list[i].pcode]) {
            var arr = []
            arr.push(list[i])
            this.normTaxType2[list[i].pcode] = arr
          } else {
            this.normTaxType2[list[i].pcode].push(list[i])
          }
        }
      }
    },
    // 切换标准化
    toggleRules(item) {
      this.curRules = item
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.currentPage = 1
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }

      this.getTempDetailList()
    },
    changeNormTypeItem(code) {
      this.currentPage = 1
      this.curNormTypeItem = code

      this.getTempDetailList()
    },
    // 切换自定义分类子项
    toggleCustomTypeItem(id) {
      this.currentPage = 1
      this.curCustomTypeItem = id

      this.getTempDetailList()
    },
    // 切换自定义分类(index:'0'为未分类)
    toggleCustomType(index) {
      this.currentPage = 1
      this.curCustomTypeItem = ''
      if (index !== '') {
        if (index === '0') {
          this.customTypeItem = []
          this.curCustomType = '0'
        } else {
          this.customTypeItem = this.customType[index].sub
          this.curCustomType = this.customType[index].id
        }
      } else {
        this.customTypeItem = []
        this.curCustomType = ''
      }

      this.getTempDetailList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTempDetailList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    },
    // 数值校验
    checkInput() {
      // 只能输入英文、数字
      this.materiaParams.serialNumber = this.materiaParams.serialNumber.replace(
        /[^0-9]/g,
        ''
      )
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/cs/variables.scss';
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    h1 {
      padding: 30px 20px;
      color: #333;
      font-size: 26px;
    }
  }
  .search-type {
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .table-wrap {
    .mytemp {
      padding-right: 20px;
      position: relative;
      .tips {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 20px;
        bottom: -2px;
      }
    }
    .edit-wrap {
      span {
        cursor: pointer;
        color: $color-primary;
        padding-right: 30px;
      }
    }
  }
  .remark-dialog {
    p {
      margin-bottom: 10px;
      font-size: 14px;
      color: #333;
    }
    .el-select ::v-deep .el-input__suffix {
      right: 12px;
    }
  }
  .resultdialog {
    .scan-success2 {
      flex-direction: column;
      padding: 48px 0 20px 0;
      font-size: 14px;
      color: #333;
      .img2 {
        width: 56px;
        height: 56px;
        margin-bottom: 30px;
      }
      .suc-num2 {
        color: #8cc929;
      }
      .err-num2 {
        color: $color-danger;
      }
    }
  }
  .re-standard {
    padding: 20px;
    color: #333333;
    .suc-num3 {
      color: #8cc929;
    }
    .err-num3 {
      color: $color-danger;
    }
    img {
      margin-bottom: 20px;
    }
    .dialog-content {
      text-align: center;
    }
  }
  .com-dialog {
    .redtips {
      color: $color-danger;
      margin-left: 20px;
    }
    .label-text {
      margin-right: 10px;
      white-space: nowrap;
      color: #333;
      font-size: 14px;
      display: block;
      text-align: right;
      min-width: 90px;
      max-width: 90px;
    }
    .special-text {
      text-align: left;
      min-width: 0;
      width: 80px;
      // margin-right:10px;
    }
    .set-type-wrap {
      .r-color {
        margin-right: 5px;
        font-size: 16px;
      }
      > div {
        text-align: center;
        margin-bottom: 15px;
        > span {
          margin-right: 8px;
          white-space: nowrap;
        }
      }
    }
  }
  .export-wrap {
    .u-dot {
      right: 100px;
    }
    > div {
      margin-bottom: 15px;
      width: 100%;
      > span {
        margin-right: 8px;
        white-space: nowrap;
      }
    }
    .u-mode-btn {
      color: $color-primary;
      cursor: pointer;
    }
  }
}

.special-div {
  display: flex;
  width: 100%;
  align-items: center;
  .el-select {
    flex: 1;
  }
}
.special-c {
  position: relative;
  .special-input {
    &::before {
      content: '%';
      position: absolute;
      right: 5px;
      top: 50%;
      font-size: 16px;
      transform: translateY(-50%);
    }
  }
  .special-tip {
    position: absolute;
    bottom: -16px;
    left: 80px;
    font-size: 12px;
  }
  img {
    cursor: pointer;
  }
}

.special-operate-wrap {
  button {
    display: block;
    padding: 0;
    margin-right: 0 !important;
    margin-left: 3px;
    margin-bottom: 6px;
    width: 118px;
    height: 34px;
    line-height: 34px;
    color: $color-primary;
    font-size: 14px;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
    }
  }
}
</style>
<style lang="scss">
.labeltip {
  .el-table__column-filter-trigger {
    line-height: 1;
    .el-icon-arrow-down {
      font-size: 20px;
      font-weight: bold;
      // color: #2773FC;
      transform: scale(1);
    }
  }
}
.upload-cj-container {
  .search-ipt {
    input {
      width: 100%;
      height: 100%;
    }
  }
  .search-btn {
    padding: 0;
  }
  .el-table td,
  .el-table th {
    &:first-child {
      text-align: center;
    }
  }
  .export-wrap {
    .el-select {
      width: 100%;
    }
    .el-radio {
      margin-right: 10px;
    }
    .el-radio__label {
      display: none;
    }
  }
  .his-select {
    .el-input--suffix .el-input__inner {
      padding-right: 80px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
</style>
