<template>
  <div class="index-calculate">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>指标设置</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/setting/targetSet/technologyTarget' }">实时技术指标配置</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">{{ targetId ? "查看" : "新增" }}实时技术指标配置</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>

    <div class="tab-content mt-10">
      <div class="content-left">
        <div class="left-top flex-fd-c pt-10">
          <p class="bold-p">{{ engType }}实时指标计算设置</p>
          <!-- <ul class="ul-form top-form">
            <li class="flex-c">
              <span class="label-text text-right"><span class="red">*</span>选择实时技术指标地区：</span>
              <div class="flex-c com-select cycle-wrap ml-10">
                <el-select class="com-radius-input" v-model="curProvince" placeholder="请选择省份" @change="provinceChange" size="medium" value-key="id">
                  <el-option v-for="item in provinceList" :key="item.id" :label="item.name" :value="item.name">
                  </el-option>
                </el-select>
              </div>
              <div class="flex-c com-select cycle-wrap ml-10">
                <el-select class="com-radius-input" v-model="curCity" placeholder="请选择城市" @change="cityChange" size="medium" value-key="id">
                  <el-option v-for="item in cityList" :key="item.id" :label="item.name" :value="item.name">
                  </el-option>
                </el-select>
              </div>
              <p class="red ml-20" style="font-size: 14px" v-if="addressWarn">
                {{ addressWarn }}
              </p>
            </li>
          </ul> -->
        </div>
        <div class="left-top flex-fd-c mt-10">
          <span class="com-tag-span gray"><span class="red">*</span>预警维度</span>
          <ul class="ul-form top-form">
            <li class="flex-c">
              <span class="label-text">指标阶段：</span>
              <div class="div-spans">
                <el-checkbox v-model="stageAll" :indeterminate="isIndeterminate" class="mr-30" @change="handleCheckAllChange">全部</el-checkbox>
                <el-checkbox-group v-model="checkedStages" @change="handleCheckedStagesChange">
                  <el-checkbox v-for="stage in stages" :key="stage.id" :label="stage.id" :disabled="!stage.isEnable">{{ stage.enableCustom? stage.customName: stage.stdName }}</el-checkbox>
                </el-checkbox-group>
              </div>
            </li>
            <li class="flex-c">
              <span class="label-text">指标分类：</span>
              <div class="div-spans">
                <el-checkbox v-model="typeAll" :indeterminate="isIndeterminate2" class="mr-30" @change="handleCheckAllChange2">全部</el-checkbox>
                <el-checkbox-group v-model="checkedTypes" @change="handleCheckedTypesChange">
                  <el-checkbox v-for="type in types" :key="type.id" :label="type.dictValue">{{ type.dictName }}</el-checkbox>
                </el-checkbox-group>
              </div>
            </li>
            <li class="flex-c">
              <span class="label-text">单位工程：</span>
              <div class="div-spans">
                <el-checkbox v-model="unitAll" :indeterminate="isIndeterminate3" class="mr-30" @change="handleCheckAllChange3">全部</el-checkbox>
                <el-checkbox-group v-model="checkedUnits" @change="handleCheckedUnitsChange">
                  <el-checkbox v-for="unit in units" :key="unit.id" :label="unit.id">{{ unit.stdName }}</el-checkbox>
                </el-checkbox-group>
              </div>
            </li>
          </ul>
        </div>
        <div class="left-bottom mt-10">
          <span class="com-tag-span gray"><span class="red">*</span>筛选样本</span>
          <ul class="ul-form top-form">
            <li class="flex-c boder-li">
              <span class="label-text">时间范围：</span>
              <div class="com-time-search">
                <el-date-picker v-model="startDate" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :picker-options="pickerOptions1" />
              </div>
              <span class="com-line" />
              <div class="com-time-search">
                <el-date-picker v-model="endDate" disabled type="date" placeholder="选择日期" value-format="yyyy-MM-dd" :picker-options="pickerOptions2" />
              </div>
            </li>
            <!-- <li class="boder-li">
              <p class="tag-p mb-10"><span class="red">*</span>指标来源</p>
              <el-radio v-model="checkedSource" class="source-check" :label="0">原项目造价指标数据</el-radio>
              <el-radio v-model="checkedSource" class="source-check" :label="1" disabled>公有云共享指标</el-radio>
            </li> -->
            <li class="boder-li" style="padding-bottom: 8px">
              <p class="tag-p mb-15">
                技术特征匹配
                <el-popover placement="right" width="200" trigger="hover">
                  <p class="orange text-12">
                    设置预警指标计算样本需要的主技术特征
                  </p>
                  <img slot="reference" src="@/assets/img/v2.0/icons/？ 拷贝 4.png" alt="">
                </el-popover>
              </p>
              <div v-for="(item, key) in featureList" v-show="key <= 6 || isFold" :key="key" class="div-row mb-10">
                <span class="label-text width-96">{{ item.name }}：</span>
                <div class="div-spans">
                  <el-checkbox v-model="featureList[key].featureAll" :indeterminate="featureList[key].indeterminates" class="mr-30 all" @change="conditionCheckAllChange($event, key)">全部</el-checkbox>
                  <el-checkbox-group v-model="featureList[key].featureChecked" @change="conditionCheckedFeaturesChange($event, key)">
                    <el-checkbox v-for="(it, idx) in featureItem(item.defaultValues)" v-show="idx <= 7 || item.isShow" :key="item.name + idx + it" :label="it">{{ it }}</el-checkbox>
                    <span v-if="featureItem(item.defaultValues) && featureItem(item.defaultValues).length > 8" class="more p-color" @click="setMoreType(item)">
                      {{ item.isShow ? "收起" : "更多" }}
                      <span class="cp  p-color el-icon-arrow-right" :class="{ 'is-rotate': item.isShow}" />
                    </span>
                  </el-checkbox-group>
                </div>
              </div>
              <!-- 展开更多 -->
              <div class="show-more" @click="isFold = !isFold">
                <span>{{ isFold?'收起':'展开' }}</span>
                <span class="cp el-icon-arrow-down" :class="{'is-rotate': isFold}" />
              </div>
            </li>
            <li class="boder-li">
              <p class="tag-p mb-5">计算方式</p>

              <ul class="ul-form div-calculate">
                <li class="flex-c">
                  <span class="label-text"><span class="red">*</span>算法选择</span>
                  <el-radio-group v-model="algorithm" @change="algorithmChange">
                    <el-radio :label="1">算术平均</el-radio>
                    <el-radio :label="2">正态分布</el-radio>
                    <el-radio :label="3">中位数 </el-radio>
                  </el-radio-group>
                </li>
                <li v-show="algorithm != 3" class="flex-c">
                  <span class="label-text">区间合理系数</span>
                  <el-input-number v-model="curCoef" size="medium" class="max-120" placeholder="请输入合理系数" auto-complete="off" :controls="false" :max="100" :min="0" />
                  <template v-if="algorithm == 2">
                    <span class="label-text width-50">占比</span>
                    <el-input-number v-model="curRatio" size="medium" class="max-120" placeholder="请输入占比" auto-complete="off" :controls="false" />
                  </template>
                </li>
                <!-- <li class="flex-c">
                  <span class="label-text"><span class="red">*</span>换算时间</span>
                  <div class="flex-c com-select cycle-wrap w-260">
                    <el-select class="com-radius-input" v-model="curTime" placeholder="请选择" size="medium">
                      <el-option label="自动换算为预警对象时间" :value="1">
                      </el-option>
                      <el-option label="不进行时间换算" :value="2"> </el-option>
                    </el-select>
                  </div>
                </li> -->
                <li class="flex-c">
                  <span class="label-text">计算开关</span>
                  <el-radio-group v-model="warnSwitch">
                    <el-radio :label="1">开启计算</el-radio>
                    <el-radio :label="0">关闭计算</el-radio>
                  </el-radio-group>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="left-footer flex-cc">
          <el-button v-loading="btLoading" type="primary" class="flex-cc btn" @click="editTarget">
            保存
          </el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getAreaTree } from '@/api/common'

import {
  pluralVerifyCity,
  dictionary,
  getTecFeature,
  pluralAddIndicator,
  pluralUpdateIndicator,
  pluralLookIndicator
} from '@/api/targetApplication'
import { queryNormEngList } from '@/api/project'

import { formatDate } from '@/utils/common'
export default {
  name: 'AddEarlyWarn',
  data() {
    return {
      isFold: false, // 折叠更多筛选
      curProvince: null, // 选中省份
      provinceList: [], // 省份列表
      curCity: null, // 选中城市
      cityList: [], // 城市列表
      areaData: [], // 组装的地区数据
      addressWarn: '', // 地区校验提示

      // 指标阶段
      stageAll: false,
      checkedStages: [],
      stageOptions: [], // 指标阶段
      isIndeterminate: false,
      // 指标分类
      typeAll: false,
      checkedTypes: [],
      types: [],
      typeOptions: [],
      isIndeterminate2: false,
      // 单位工程
      unitAll: false,
      checkedUnits: [1, 3],
      units: [],
      unitOptions: [],
      isIndeterminate3: true,

      // 指标来源
      checkedSource: 0,

      startDate: null, // 开始时间
      endDate: new Date(), // 结束时间
      pickerOptions1: {
        // 开始时间不可大于结束时间
        disabledDate: time => {
          // if (this.endDate) {
          //   let end = this.endDate + " 23:59:59"; // 日期详细才能选中当天
          //   return time.getTime() > new Date(end);
          // }
          return time.getTime() > Date.now()
        }
      },
      pickerOptions2: {
        // 结束时间不可小于开始时间
        disabledDate: time => {
          if (this.startDate) {
            const start = this.startDate + ' 00:00:00'
            return time.getTime() < new Date(start)
          }
        }
      },

      algorithm: 1, // 算法选择：1、算术平均 2、正态分布 3、中位数
      curCoef: 1, // 区间合理系数
      curRatio: 90, // 占比
      tableLoading: false,
      featureList: [], // 技术特征
      btLoading: false,
      curTime: 1, // 换算时间  1-自动换算为预警对象时间 2-不进行时间换算
      warnSwitch: 1 // 预警开关  0-关闭 1-开启
    }
  },
  computed: {
    specialtyType() {
      return this.$route.query.specialtyType
    },
    projectType() {
      return this.$route.query.projectType
    },
    engType() {
      return this.$route.query.engType
    },
    specialtyCode() {
      return this.$route.query.specialtyCode
    },
    targetId() {
      return this.$route.query.id
    },
    stages() {
      // 阶段列表
      return this.$store.state.project.stageList
    }
  },
  mounted() {
    this.getTecFeature() // 技术特征
    this.getAreaTreeList() // 获取省市区
    this.dictionary() // 指标分类
    this.queryNormEngList() // 单项工程

    setTimeout(() => {
      if (this.targetId) this.pluralLookIndicator() // 查看

      this.stageOptions = this.stages.map(res => {
        return res.id
      })
    }, 200)
  },
  methods: {
    setMoreType(item) {
      if (!item.isShow) {
        this.$set(item, 'isShow', false)
        item.isShow = !item.isShow
      } else {
        item.isShow = !item.isShow
      }
    },
    // 指标阶段
    handleCheckAllChange(val) {
      this.checkedStages = val ? this.stageOptions : []
      this.isIndeterminate = false
    },
    handleCheckedStagesChange(value) {
      const checkedCount = value.length
      this.stageAll = checkedCount === this.stages.length
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.stages.length
    },
    // 指标分类
    handleCheckAllChange2(val) {
      this.checkedTypes = val ? this.typeOptions : []
      this.isIndeterminate2 = false
    },
    handleCheckedTypesChange(value) {
      const checkedCount = value.length
      this.typeAll = checkedCount === this.types.length
      this.isIndeterminate2 =
        checkedCount > 0 && checkedCount < this.types.length
    },
    // 单位工程
    handleCheckAllChange3(val) {
      this.checkedUnits = val ? this.unitOptions : []
      this.isIndeterminate3 = false
    },
    handleCheckedUnitsChange(value) {
      const checkedCount = value.length
      this.unitAll = checkedCount === this.units.length
      this.isIndeterminate3 =
        checkedCount > 0 && checkedCount < this.units.length
    },

    // 技术特征复选-全选
    conditionCheckAllChange(val, key) {
      const featureArr = val ? this.featureList[key].featureArr : []
      this.$set(this.featureList[key], 'featureChecked', featureArr) // $set实现双向绑定，实时更新视图
      this.featureList[key].indeterminates = false
    },
    conditionCheckedFeaturesChange(value, key) {
      this.$emit('change', this.featureList[key].featureChecked)
      const checkedCount = this.featureList[key].featureChecked.length
      const featuresLen = this.featureList[key].featureArr.length
      this.featureList[key].featureAll = checkedCount === featuresLen
      this.featureList[key].indeterminates =
        checkedCount > 0 && checkedCount < featuresLen
    },
    // 选中省份
    provinceChange(pro) {
      this.cityList = this.areaData[pro] || []
      this.curCity = this.cityList[0].name
      this.pluralVerifyCity()
    },
    // 选中城市
    cityChange() {
      this.pluralVerifyCity()
    },
    // 获取地区（省，市，区）
    getAreaTreeList() {
      getAreaTree().then(res => {
        if (res && res.code === '01') {
          this.provinceList = res.body

          const areaData = [] //  [{省：[{市：[区]}]}]
          res.body.forEach(item => {
            const cityarr = []
            if (item.sub) {
              item.sub.forEach(city => {
                const areaarr = []
                if (city.sub) {
                  city.sub.forEach(area => {
                    areaarr.push(area.name)
                  })
                }
                const obj = {}
                obj.name = city.name
                obj.sub = areaarr
                cityarr.push(obj)
              })
            }
            areaData[item.name] = cityarr
          })
          this.areaData = areaData
        }
      })
    },
    // 去测算
    toCalculate() {},
    // 编辑表格-失去焦点
    loseFcous(index, row) {
      row.seen = false
    },
    // 编辑表格-点击
    cellClick(row, column) {
      row.seen = true
    },
    // 地区校验
    pluralVerifyCity() {
      const data = {
        projectType: this.projectType,
        specialtyType: this.specialtyType,
        engType: this.engType,
        province: this.curProvince.name,
        city: this.curCity.name,
        type: 2, // 1、单方造价 2、技术指标
        id: null
      }
      pluralVerifyCity(data).then(res => {
        if (res && res.code == '1203') {
          this.addressWarn = res.message
        } else {
          this.addressWarn = ''
        }
      })
    },
    // 获取字典值
    dictionary() {
      dictionary({ dictType: 'INDICATOR_SKILL_TYPE' }).then(res => {
        if (res && res.code == '01') {
          this.types = res.body
          this.typeOptions = this.types.map(res => {
            return res.dictValue
          })
        }
      })
    },
    // 切换计算方式的算法
    algorithmChange(val) {
      if (val == 1) this.curCoef = 1
      else if (val == 2) this.curCoef = 1.2
    },
    // 获取单位工程
    queryNormEngList() {
      const data = {
        currentPage: 1,
        pageSize: 99,
        pid: 0,
        type: 1 // 1.单位工程 2.分部工程 3.分项工程 4.清单
      }
      queryNormEngList(data).then(res => {
        if (res && res.code == '01') {
          this.units = res.body.list
          this.unitOptions = this.units.map(res => {
            return res.id
          })
        }
      })
    },
    // 获取匹配的技术特征
    getTecFeature() {
      getTecFeature({ code: this.specialtyCode }).then(res => {
        if (res && res.code == '01') {
          this.featureList = res.body

          if (this.featureList && this.featureList.length) {
            for (let i = 0, l = this.featureList.length; i < l; i++) {
              const arr = this.featureList[i].defaultValues.split(',')
              this.$set(this.featureList[i], 'featureArr', arr)
              // $set实现双向绑定，实时更新视图
              this.$set(this.featureList[i], 'featureAll', false)
              this.$set(this.featureList[i], 'indeterminates', false)
              this.$set(this.featureList[i], 'featureChecked', [])
            }
          }
        }
      })
    },
    // 表单校验
    checkForm() {
      // if (this.addressWarn) {
      //   this.openMessage('该地区已有该预警!')
      //   return
      // }

      // if (!this.curProvince) {
      //   this.openMessage('请选择预警适用地区!')
      //   return
      // }

      if (!this.checkedStages.length) {
        this.openMessage('请选择指标阶段!')
        return
      }

      if (!this.checkedTypes.length) {
        this.openMessage('请选择指标分类!')
        return
      }

      if (!this.checkedUnits.length) {
        this.openMessage('请选择单位工程!')
        return
      }

      if (!this.startDate) {
        this.openMessage('请选择指筛选样本的时间范围!')
        return
      }

      if (this.algorithm == 1) {
        if (!this.curCoef && this.curCoef != 0) {
          this.openMessage('请填写区间合理系数!')
          return
        }
      } else if (this.algorithm == 2) {
        if (!this.curCoef && this.curCoef != 0) {
          this.openMessage('请填写区间合理系数!')
          return
        }

        if (!this.curRatio && this.curRatio != 0) {
          this.openMessage('请填写区间合理占比!')
          return
        }
      }

      // if (this.featureList.length) {
      //   for (let i = 0, l = this.featureList.length; i < l; i++) {
      //     if (this.featureList[i].featureChecked.length) return true
      //   }
      //   this.openMessage('请选择技术特征匹配!')
      //   return
      // }

      return true
    },
    // 新增/编辑保存实时技术指标配置
    editTarget() {
      if (!this.checkForm()) return

      this.btLoading = true

      const data = {
        specialtyType: this.specialtyType,
        projectType: this.projectType,
        engType: this.engType,
        // province: this.curProvince.name,
        // city: this.curCity.name,
        calculateStartTime: formatDate(this.startDate, 2),
        calculateEndTime: formatDate(this.endDate, 2),
        indicatorSource: this.checkedSource,
        calculateWay: this.algorithm,
        // matrixingTimeType: this.curTime,
        warnSwitch: this.warnSwitch,
        type: 2 // 1、单方造价 2、技术指标
      }

      // 指标阶段
      if (this.checkedStages) data.stageConfigIds = this.checkedStages.join(',')

      // 指标分类
      if (this.checkedTypes) data.indicatorTypes = this.checkedTypes.join(',')

      // 单位工程
      if (this.checkedUnits) {
        data.projectNormConfigIds = this.checkedUnits.join(',')
        const codeArr = []
        this.checkedUnits.forEach(it => {
          if (it) {
            for (let i = 0, l = this.units.length; i < l; i++) {
              if (it == this.units[i].id) {
                codeArr.push(this.units[i].code)
              }
            }
          }
        })
        data.normCodes = codeArr.join(',')
      }

      // 区间合理系数
      if (this.algorithm != 3) data.sectionCoef = this.curCoef

      // 占比
      if (this.algorithm == 2) data.proportion = this.curRatio

      // 技术特征匹配
      if (this.featureList.length) {
        const arr = []
        for (let i = 0, l = this.featureList.length; i < l; i++) {
          if (this.featureList[i].featureChecked.length) {
            const obj = {
              indicatorId: null,
              tecFeatureId: this.featureList[i].tecFeatureId,
              relevance: 2, // 1、指标经济预警表 2、常用综合指标配置表 3、综合指标表
              featureValue: this.featureList[i].featureChecked.join(',')
            }
            arr.push(obj)
          }
        }
        data.tecFeatureMapReqs = arr
      }

      if (this.targetId) {
        data.id = this.targetId
        pluralUpdateIndicator(data).then(res => {
          if (res && res.code == '01') {
            this.openMessage('编辑实时技术指标配置成功！', 'success')
            this.$router.push({
              path: '/setting/targetSet/technologyTarget',
              query: {
                specialtyType: this.specialtyType,
                projectType: this.projectType,
                engType: this.engType
              }
            })
          } else {
            this.openMessage(res.message)
          }
          this.btLoading = false
        })
      } else {
        pluralAddIndicator(data).then(res => {
          if (res && res.code == '01') {
            this.openMessage('新增实时技术指标配置成功！', 'success')
            this.$router.push({
              path: '/setting/targetSet/technologyTarget',
              query: {
                specialtyType: this.specialtyType,
                projectType: this.projectType,
                engType: this.engType
              }
            })
          } else {
            this.openMessage(res.message)
          }
          this.btLoading = false
        })
      }
    },
    // 获取综合技术指标预警详情数据
    pluralLookIndicator() {
      pluralLookIndicator({ id: this.targetId }).then(res => {
        if (res && res.code == '01') {
          const targetDetail = res.body
          this.curProvince = targetDetail.province
          this.curCity = targetDetail.city

          // 后台返回的时间差了8个小时，所以要加上
          let start = targetDetail.calculateStartTime
          if (start) {
            start = new Date(start)
            start.setHours(start.getHours() + 8)
          }
          this.startDate = start

          this.algorithm = targetDetail.calculateWay
          this.curCoef = targetDetail.sectionCoef
          // this.curTime = targetDetail.matrixingTimeType;
          this.warnSwitch = targetDetail.warnSwitch

          // 占比
          if (targetDetail.calculateWay == 2) {
            this.curRatio = targetDetail.proportion
          }

          // 筛选样本 - 结束时间
          // if (targetDetail.calculateEndTime)
          //   this.endDate = targetDetail.calculateEndTime;

          this.checkedSource = targetDetail.indicatorSource

          // 指标阶段
          if (targetDetail.stageConfigIds) {
            let arr = targetDetail.stageConfigIds.split(',')
            arr = arr.map(Number)
            this.checkedStages = arr
            this.handleCheckedStagesChange(arr)
          }

          // 指标分类
          if (targetDetail.indicatorTypes) {
            const arr = targetDetail.indicatorTypes.split(',')
            this.checkedTypes = arr
            this.handleCheckedTypesChange(arr)
          }

          // 单位工程
          if (targetDetail.projectNormConfigIds) {
            let arr = targetDetail.projectNormConfigIds.split(',')
            arr = arr.map(Number)
            this.checkedUnits = arr
            this.handleCheckedUnitsChange(arr)
          }

          // 技术特征
          const l = targetDetail.tecEntityList.length
          if (l) {
            for (let i = 0; i < l; i++) {
              for (let j = 0, l2 = this.featureList.length; j < l2; j++) {
                if (
                  targetDetail.tecEntityList[i].tecFeatureId ==
                  this.featureList[j].tecFeatureId
                ) {
                  const detailArr = targetDetail.tecEntityList[i].value.split(
                    ','
                  )
                  const featureArr = this.featureList[j].defaultValues.split(
                    ','
                  )
                  const featureAll = detailArr.length == featureArr.length
                  // $set实现双向绑定，实时更新视图
                  this.$set(this.featureList[j], 'featureAll', featureAll)
                  this.$set(this.featureList[j], 'indeterminates', featureAll)
                  this.$set(this.featureList[j], 'featureChecked', detailArr)
                }
              }
            }
          }
        }
      })
    },
    // 字符串转数组
    featureItem(str) {
      let arr = []
      if (str) arr = str.split(',')
      return arr
    },
    // 提示
    openMessage(message, type) {
      var message = message || '操作成功！'
      var type = type || 'warning'
      this.$message({
        type,
        message
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/target.scss';
.index-calculate {
  position: relative;
  .com-bg {
    top: -46px;
  }

  .re-bread {
    // border: 1px solid red;
    // width: 100%;
    // background: #fff;

    padding: 11px 20px;
    background: #ffffff;
    border-radius: 6px 6px 0px 0px;
    font-weight: 400;
    color: #999999;
    position: absolute;
    top: 62px;
    z-index: 999;

    .bread {
      color: #303133;
      .cp:hover {
        color: $color-primary;
      }
      .el-icon {
        margin: 0 10px 0 15px;
        font-weight: bold;
        color: #777;
      }
      .active {
        color: $color-primary;
      }

      &::v-deep .el-breadcrumb__inner {
        font-size: 13px;
      }
    }
  }
  .tab-content {
    .content-left {
      .left-top,
      .left-bottom {
        background: #fff;

        .com-tag-span {
          margin-top: 20px;
          display: inline-block;

          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 500;
          color: #999999;
        }
      }

      .bold-p {
        font-weight: bold;
        font-size: 18px;
        // padding: 0 20px 10px;
        padding: 5px 20px 15px;
        border-bottom: 1px solid #f6f6f6;
      }

      .left-footer {
        background: #fff;
        padding-top: 20px;
        padding-bottom: 40px;

        .btn {
          display: flex;
          align-items: center;
          width: 110px;
          background: #1789f2;
          border-radius: 5px;
        }
      }

      .com-menu-wrap {
        span {
          line-height: 56px;
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          color: #8d8c8c;
          font-family: mainFont, 'Microsoft YaHei', Helvetica Neue, Helvetica,
            PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
        }
        .active {
          span {
            color: #333;
          }
        }
      }

      .top-form {
        padding: 10px 23px 10px 23px;
        .label-text {
          font-size: 14px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: #333333;
          line-height: normal;
        }
        .text-right {
          margin-right: 0;
          width: auto;
        }
        .boder-li {
          padding-bottom: 20px;
          border-bottom: 1px solid #f3f3f4;
        }
        .tag-p {
          line-height: 30px;
        }
        .mr-30 {
          margin-right: 30px;
        }

        .div-row {
          // padding: 0 10px;
          display: flex;
          .el-checkbox {
            margin-bottom: 5px;
          }

          .label-text,
          &::v-deep .el-checkbox__label {
            color: #999999;
          }
          .label-text {
            font-size: 14px;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color: #333333;
          }

          .all,
          .is-checked {
            &::v-deep .el-checkbox__label {
              color: #333;
              font-size: 14px;
            }
          }
        }

        .source-check.is-checked {
          &::v-deep .el-radio__label {
            color: #ffac0c;
          }
        }
      }

      .div-custom {
        padding-top: 20px;
      }

      .div-calculate {
        background: #fff;
        .label-text {
          font-size: 12px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #999999;

          width: auto;
          min-width: 96px;
        }
        .el-input {
          max-width: 310px;
        }
        .max-120 {
          max-width: 120px;
        }
        .max-80 {
          max-width: 80px;
          ::v-deep .el-input__suffix {
            right: 10px;
          }
        }
        .width-50 {
          width: 50px;
        }
      }

      .div-edit {
        background: #fff;
        padding: 0 20px;

        .edit-table {
          border: 1px solid green;
        }
      }
    }
    .ul-form .width-96 {
      width: 96px;
    }
  }

  img {
    vertical-align: middle;
  }
  .com-menu-wrap .m-item {
    .t-line {
      width: 235px;
    }
    width: 235px;
  }
}

.pop-p a:hover {
  color: $color-primary;
  opacity: 0.9;
  text-decoration: underline;
}
.more {
  padding-left: 10px;
  color: $color-primary;
  cursor: pointer;
  font-size: 12px;
}
.show-more {
  margin-top: 10px;
  text-align: center;
  > span {
    font-size: 14px !important;
    color: #333 !important;
    cursor: pointer;
  }
}
.el-icon-arrow-down,
.el-icon-arrow-right {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  &.is-rotate {
    transform: rotate(180deg);
  }
}
</style>

