<template>
  <CommPage />
</template>

<script>
import CommPage from '../components/CommPage.vue'
export default {
  name: 'IndexDetail',
  components: {
    CommPage
  }
}
</script>

<style lang="scss" scoped>
</style>
