<template>
  <div class="upload-cj-container issue-record-container com-input">
    <div class="up-wrap">
      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如：名称、发布人" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="mb-20 search-type">
        <div class="flex-c">
          <span class="s-text com-label-text">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate('start')" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate('end')" />
          </div>
        </div>
      </div>

      <div class="com-table table-wrap">
        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%;" @selection-change="handleSelectionChange">
          <el-table-column width="240px" label="期刊名称">
            <template slot-scope="scope">
              <span v-has.show="'mpccollect:messagePrice:getReleaseRecordDetailListPage'" class="p-color" style="cursor: pointer;" @click="skipDetail(scope.row)">{{ scope.row.name }}</span>
              <span v-if="scope.row.isDel === '1'" style="color: red">（已删除）</span>
            </template>
          </el-table-column>
          <el-table-column prop="howPeriod" label="适用时间" />
          <el-table-column prop="releaseAdr" label="发布地点" />
          <el-table-column prop="createBy" label="发布人" />
          <el-table-column label="发布时间">
            <template slot-scope="scope">
              <span>{{ scope.row.createOn | filterDate }}</span>
            </template>
          </el-table-column>
          <el-table-column v-has="'mpccollect:messagePrice:getReleaseRecordDetailListPage'" label="操作" align="center" width="130px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span style="padding:0;" @click="skipDetail(scope.row)">
                  <el-tooltip effect="light" content="详情" placement="top">
                    <img src="@/assets/img/cs/icons/details.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import { getReleaseRecordListPage } from '@/api/cs/infoPriceStock'

export default {
  name: 'IssueRecord',
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '2') : ''
      return res
    }
  },
  data() {
    return {
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      startDate: null,
      endDate: null,
      loading: false
    }
  },
  mounted() {
    this.getDataList()
  },
  methods: {
    // 根据初始化配置起始日期，设置日期默认范围
    initSetDate() {
      const startDate = this.$store.getters.initStartDate
      if (startDate && formatDate(startDate)) {
        const curDate = new Date().getTime()
        const curStartDate = new Date(startDate).getTime()
        // 若当前时间 < 初始化配置时间
        if (curDate < curStartDate) {
          this.startDate = formatDate(curDate)
          this.endDate = formatDate(startDate)
        } else {
          this.endDate = formatDate(curDate)
          this.startDate = formatDate(startDate)
        }
      }
    },
    // 详情
    skipDetail(item) {
      this.$router.push({
        // path: '/synthesizeManager/issueRecordDetail/index',
        path: '/cs/releaseManagement/issueRecordDetail',
        query: {
          id: item.id,
          name: item.name,
          status: item.isDel
        }
      })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 切换日期
    toggleDate(type) {
      if (type == 'start' && this.startDate) {
        this.startDate = formatDate(this.startDate, '1')
        const beginTime = new Date(this.startDate).getTime()
        this.endDate = formatDate(+beginTime + 3600 * 1000 * 24 * 365, '1')
      }
      if (type == 'end' && this.endDate) {
        this.endDate = formatDate(this.endDate, '1')
      }

      this.currentPage = 1
      this.getDataList()
    },
    // 获取列表
    getDataList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        startDate: this.startDate,
        endDate: this.endDate,
        keyCode: this.searchKeyword
      }
      this.loading = true
      getReleaseRecordListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条记录'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.upload-cj-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-top: 5px;
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .search-type {
    padding: 20px;
    width: 100%;
    background: #f7f7f7;
    .s-text {
      margin-right: 15px;
      white-space: nowrap;
    }
  }
}
</style>

<style lang="scss">
.issue-record-container {
  .table-wrap {
    .el-table th:first-child {
      text-align: center;
    }
    .el-table th > .cell {
      padding-left: 20px;
    }
  }
}
</style>
