<template>
  <el-dialog
    class="none-title"
    title="报价追问记录"
    :visible.sync="showDialog"
    @close="cancelDialog"
    width="885px"
  >
    <div
      v-if="dialogueList && dialogueList.length"
      class="common-content record-content"
    >
      <div class="content-left">
        <ul>
          <li
            v-for="(item, index) in dialogueList"
            :key="index"
            :class="{ active: isCheck == index }"
            @click="isCheck = index"
          >
            <div class="title-div">
              <span>{{ item.matName }}</span>
              <span>{{ item.quotedPrice }}元</span>
            </div>
            <span><i class="el-icon-time"></i> {{ item.commentOn }}</span>
            <i class="el-icon-arrow-right right-icon"></i>
          </li>
        </ul>
      </div>
      <div class="content-right">
        <div class="right-top">
          <span class="blue">{{ dialogueList[isCheck].matName }}</span>
          <span class="orange">{{ dialogueList[isCheck].quotedPrice }}元</span>
          <span>不含运费不含税</span>
          <span class="gray mr-0">供应商：</span>
          <span>愤青</span>
        </div>
        <ul
          v-if="offerCommentVos && offerCommentVos.length"
          class="dialogue-ul"
        >
          <template v-for="(it, idx) in offerCommentVos">
            <li :key="idx" v-if="it" class="dialogue-li">
              <div class="li-left">
                <span>
                  <span class="blue name">{{ it.createBy }}</span>
                  <span>{{it.type == '0'? '询价发布人': '询价客服'}}</span>
                </span>
                <span class="text">{{ it.context }}</span>
              </div>
              <span class="gray">{{ it.commentOn }}</span>
            </li>
          </template>
        </ul>
        <el-input
          class="mb-20"
          type="textarea"
          :rows="4"
          placeholder="请输入追问内容"
          v-model="question"
        >
        </el-input>
        <span slot="footer" class="dialog-footer">
          <el-button class="btn btn3" @click="cancelDialog">关 闭</el-button>
          <el-button class="btn" :loading="loading" type="primary" @click="batchQuotationInquiry"
            >提 交</el-button
          >
        </span>
      </div>
    </div>
  </el-dialog>
</template>

<script>
import {
  batchQuotationInquiry,
} from "@/api/inquiry";
export default {
  name: "QuotationRecordDialog",
  props: ["showRecordDialog", "dialogueList"],
  computed: {
    offerCommentVos() {
      if (this.dialogueList && this.dialogueList.length) {
        console.log(this.dialogueList[this.isCheck]);
        return this.dialogueList[this.isCheck].offerCommentVos;
      }
    },
  },
  watch: {
    showRecordDialog: {
      handler: function (show) {
        if (show) this.question = "";
        this.showDialog = show;
      },
    },
  },
  data() {
    return {
      showDialog: false,
      question: "",
      isCheck: 0,
      memberId: "", // 发布账号
      loading: false
    };
  },
  mounted() {
    this.memberId = this.$route.query.memberId;
  },
  methods: {
    cancelDialog() {
      this.$emit("update:showRecordDialog", false);
    },
    // 追问
    batchQuotationInquiry() {
      if (!this.question) {
        this.$message.warning("请输入需要询问的问题？");
        return;
      }
      this.loading = true;
      let offerId = this.dialogueList[this.isCheck].offerId;
      batchQuotationInquiry({
        context: this.question,
        memberId: this.memberId,
        offerId,
      })
        .then((res) => {
          if (res.code == "01") {
            this.question = ""
            this.$message.success("追问成功！");
          } else {
            this.$message({
              type: "error",
              message: res.message || "出错了",
            });
          }
          this.$emit("showSuccess");
          this.loading = false;
        })
        .catch((err) => {
          this.$message({
            type: "error",
            message: err.message || "出错了",
          });
          this.loading = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../../styles/variables.scss";
.none-title {
  &::v-deep .el-dialog {
    border-radius: 4px;
  }

  &::v-deep .el-dialog__header {
    padding: 15px;
    background: #e7f5fe;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .el-dialog__title {
      color: #0c88e2;
      font-size: 18px;
    }
    .el-dialog__headerbtn {
      top: 10px;
      right: 10px;
      font-size: 18px;
      .el-icon-close:before {
        color: #0b4375;
        font-weight: bold;
      }
    }
  }

  &::v-deep .el-dialog__body {
    border-radius: 4px;
  }

  .common-content {
    .tip-span {
      font-size: 12px;
      display: inline-block;
      line-height: 30px;
    }
    .btn {
      padding: 0;
      width: 112px;
      height: 34px;
      line-height: 34px;
      color: #ffffff !important;
      border-radius: 5px;
      font-size: 15px;
      font-family: "mainfont";
      font-weight: 500;
      margin: 0 10px;
      &:hover {
        border: 1px solid;
      }
    }
    .btn1 {
      background: $color-primary !important;
    }
    .btn3 {
      color: $color-primary !important;
      border-color: #3699ff !important;
      &:hover {
        background: #ffffff !important;
        box-shadow: 0px 1px 4px 0px #3699ff;
      }
    }
  }

  .red {
    color: #f13a3f;
  }
  .blue {
    color: #0a7dff;
  }
  .yellow {
    color: #ffaa31;
  }
  .orange {
    color: #ff7800;
  }
  .gray {
    color: #999999;
  }
}

.record-content {
  display: flex;
  max-height: 500px;
  overflow: auto;
  .content-left {
    text-align: left;
    width: 260px;
    background: #f5faff;
    li {
      padding: 15px 25px 15px 15px;
      position: relative;
      cursor: pointer;
      &:hover,
      &.active {
        background: #61b2ea;
        color: #fff;
        .orange {
          color: #fff;
        }
      }
      .right-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
      }
    }
    .title-div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }
  .content-right {
    flex: 1;
    margin: 20px;
    text-align: right;
    .right-top {
      text-align: left;
      margin-bottom: 20px;
      span {
        margin-right: 40px;
        &.mr-0 {
          margin-right: 0;
        }
      }
    }
    .dialogue-ul {
      border: 1px solid #dddddd;
      border-radius: 4px;
      margin-bottom: 15px;
      .dialogue-li {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .li-left {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        .text {
          margin-top: 20px;
          color: #000;
        }
        .name {
          margin-right: 5px;
        }
        & + li {
          border-top: 1px dotted #dddddd;
        }
      }
    }
    .dialog-footer {
      text-align: right;
    }
  }
}
</style>

