<template>
  <div class="periodical-container">
    <div class="up-wrap">
      <h1>{{ name }}</h1>
      <div class="com-search">
        <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如：名称" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div class="flex-fs norm-type">
          <span class="com-label-text">国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{'is-fold': isFold}">
              <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
              <li v-for="(item, index) in normType" :key="index" :class="{active: curNormType == item.code}" @click="changeNormType(index, item.code)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="normTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
              <li v-for="(item, index) in normTypeItem" :key="index" :class="{active: curNormTypeItem == item.code}" @click="changeNormTypeItem(item.code)">
                {{ item.name }}
              </li>
            </ul>
          </div>
          <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" />
        </div>
      </div>

      <div class="com-table">
        <div class="flex-csb com-operate-wrap">
          <div class="flex-c">
            <!-- <el-button v-has="$roles.fun_pool_library_addmes" class="has-primary-btn" @click="warn('add')">添加信息价</el-button>
            <el-button v-has="$roles.fun_pool_library_adjnum" class="has-minor-btn" @click="warn('edit')">调整序号</el-button>
            <el-button v-has="$roles.fun_pool_library_export" :loading="exportAllLoading" @click="exportAllFile">导出</el-button>
            <el-button v-has="$roles.fun_pool_library_delete" class="delete-btn" :loading="deleteLoading" @click="warn('del')">移除</el-button>-->
            <el-button v-has="'mpccollect:journal:addMsgPrice'" class="has-primary-btn" @click="warn('add')">添加信息价</el-button>
            <el-button v-has="'mpccollect:journal:updJournalDetailSort'" class="has-minor-btn" @click="warn('edit')">调整序号</el-button>
            <el-button v-has="'mpccollect:journal:exportJournalDetailFile'" :loading="exportAllLoading" @click="exportFile">导出</el-button>
            <el-button v-has="'mpccollect:journal:getJournalDetailList'" @click="printAllFile">打印</el-button>
            <el-button v-has="'mpccollect:journal:removeMsgPrice'" class="delete-btn" :loading="deleteLoading" @click="warn('del')">移除</el-button>
          </div>
          <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting" />
            <span>列表设置</span>
          </div>
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="96px" />
          <el-table-column v-if="checkedList.indexOf('序号') != -1" prop="sortNo" label="序号" width="100" />
          <el-table-column v-if="checkedList.indexOf('编码') != -1" prop="zcode" label="编码" />
          <el-table-column v-if="checkedList.indexOf('标准名称') != -1" prop="stdName" label="标准名称" />
          <el-table-column v-if="checkedList.indexOf('材料名称') != -1" prop="name" label="材料名称" />
          <el-table-column v-if="checkedList.indexOf('规格') != -1" prop="spec" label="规格" />
          <el-table-column v-if="checkedList.indexOf('单位') != -1" prop="unit" label="单位" />
          <el-table-column v-if="checkedList.indexOf('信息价') != -1" prop="msgName" label="信息价">
            <template slot="header">
              <div class="flex-c st-input">
                <span>信息价</span>
                <el-select v-model="curSelectId" placeholder="" @change="changeInfoPriceSelect">
                  <el-option :label="'全部'" :value="null" />
                  <el-option :label="'无信息价'" :value="0" />
                  <el-option v-for="item in filterInfoPriceList" :key="item.id" :label="item.name" :value="item.id" />
                </el-select>
              </div>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('信息价（除税价）') != -1" prop="messagePrice" label="信息价（除税价）" />
          <el-table-column v-if="checkedList.indexOf('信息价（含税价）') != -1" label="信息价（含税价）">
            <template slot-scope="scope">
              <span v-if="scope.row.taxPrice">{{ scope.row.taxPrice }}（税率：{{ scope.row.taxPoint }}）</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('备注') != -1" prop="remark" label="备注" />
          <el-table-column v-if="checkedList.indexOf('操作') != -1 && $_has('mpccollect:journal:removeMsgPrice')" label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <!-- <span v-has="$roles.fun_pool_library_delete" @click="warn('delone',scope.row)">-->
                <span @click="warn('delone',scope.row)">
                  <el-tooltip effect="light" content="移除" placement="top">
                    <img class="icons" src="@/assets/img/cs/icons/dels.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" width="450px" class="com-dialog" :close-on-click-modal="false">
      <div class="com-checkbox com-select-list">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = !showSetListDialog">确定</el-button>
      </span>
    </el-dialog>
    <!-- 列表设置弹窗 end -->

    <!-- 调整序号弹窗 -->
    <el-dialog title="调整序号" :visible.sync="showNumDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-input">
      <div class="flex-c mb-20">
        <span class="label-text">当前序号：</span>
        <span>{{ curNum }}</span>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">新序号：</span>
        <el-input v-model="newNum" class="com-radius-input" @input="checkNewNum" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showNumDialog = false">取消</el-button>
        <el-button type="primary" :loading="numLoading" @click="updateNum">确定并更新</el-button>
      </span>
    </el-dialog>
    <!-- 调整序号弹窗 end -->

    <!-- 添加信息价弹窗 -->
    <el-dialog title="添加信息价" :visible.sync="addInfoPriceDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-input">
      <div class="flex-c mb-20">
        <span class="nw mr-10">信息价</span>
        <el-select v-model="curInfoPriceId" class="com-radius-input" style="width: 100%;" placeholder="请选择信息价" @change="changeInfoPrice">
          <el-option v-for="item in infoPriceList" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </div>
      <div class="com-radio-wrap mb-20">
        <el-radio v-model="typeRadio" label="自定义分类" />
        <el-select v-model="curCustom" style="width: 100%;" class="mt-10 com-radius-input" value-key="id" multiple placeholder="请选择自定义分类">
          <el-option v-for="item in customList" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
      </div>
      <div class="com-radio-wrap mb-20">
        <el-radio v-model="typeRadio" label="国标分类" />
        <el-select v-model="curRation" style="width: 100%;" class="mt-10 com-radius-input" value-key="code" multiple placeholder="请选择国标分类" @change="changeRation">
          <el-option v-if="rationList && rationList.length > 0" :label="'全部'" :value="'all'" />
          <el-option v-for="item in rationList" :key="item.code" :label="item.name" :value="item.code" :disabled="curRation[0] == 'all'" />
        </el-select>
      </div>
      <span slot="footer" class="flex-csb">
        <span class="cp p-color" @click="addOneDialog">去添加单条</span>
        <div>
          <el-button @click="addInfoPriceDialog = false">取消</el-button>
          <el-button type="primary" :loading="addInfoPriceLoading" @click="addMsgPrice">确定</el-button>
        </div>
      </span>
    </el-dialog>
    <!-- 添加信息价弹窗 end -->

    <!-- 期刊已发布警告弹窗 -->
    <el-dialog title="警告" :visible.sync="showWarnDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="fw-b">期刊已发布，修改信息将同步到已发布的平台</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showWarnDialog = false">取消</el-button>
        <el-button type="primary" :disabled="timeNum > 0" @click="nextStep()">
          <span>确定</span>
          <span v-if="timeNum > 0">({{ timeNum }})</span>
        </el-button>
      </span>
    </el-dialog>

    <!-- 添加单条 -->
    <AddInfoPriceDialog v-if="showAddInfoPriceDialog" :id="id" :show-add-info-price-dialog="showAddInfoPriceDialog" @closeDialog="closeDialog" />

    <el-dialog title="测试期刊" :visible.sync="dialogTableVisible">
      <el-button v-print="printInfoObj" @click="printAllFile">打印</el-button>
      <el-table id="printMe" :data="tableData">
        <el-table-column prop="sortNo" label="序号" />
        <el-table-column prop="zcode" label="编码" />
        <el-table-column prop="stdName" label="标准名称" />
        <el-table-column prop="name" label="材料名称" />
        <el-table-column prop="spec" label="规格" />
        <el-table-column prop="unit" label="单位" />
        <el-table-column prop="msgName" label="信息价" />
        <el-table-column prop="messagePrice" label="信息价（除税价）" />
        <el-table-column label="信息价（含税价）">
          <template slot-scope="scope">
            <span v-if="scope.row.taxPrice">{{ scope.row.taxPrice }}（税率：{{ scope.row.taxPoint }}）</span>
          </template>
        </el-table-column>
        <el-table-column prop="remark" label="备注" />
      </el-table>
    </el-dialog>

  </div>
</template>

<script>
import AddInfoPriceDialog from './components/AddInfoPriceDialog'
import { getTempCustomType } from '@/api/cs/collectTemplate'
import { getCjType } from '@/api/cs/materialManage'
import {
  exportJournalDetailFile,
  getJournalDetailListPage,
  getMessagePriceListPage,
  getTypeByMsgId,
  addMsgPrice,
  removeMsgPrice,
  updJournalDetailSort,
  getMsgNameById
} from '@/api/cs/infoPriceStock'

export default {
  name: 'InfoPriceDetail',
  components: {
    AddInfoPriceDialog
  },
  data() {
    return {
      gridData: [],
      dialogTableVisible: false,
      printInfoObj: {
        id: 'printMe'
        // popTitle: '测试期刊'
      },
      numLoading: false,
      curNum: '', // 当前序号
      newNum: '', // 新序号
      showNumDialog: false,
      name: '',
      id: '',
      searchVal: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      normType: [], // 国标分类
      normTypeItem: [],
      curNormType: '',
      curNormTypeItem: '',
      loading: false,
      showSetListDialog: false,
      checkList: [
        // 表头列表
        '序号',
        '编码',
        '标准名称',
        '材料名称',
        '规格',
        '单位',
        '信息价',
        '信息价（除税价）',
        '信息价（含税价）',
        '操作',
        '备注'
      ],
      checkedList: [
        // 列表选中的设置项
        '序号',
        '材料名称',
        '规格',
        '单位',
        '信息价',
        '信息价（除税价）',
        '信息价（含税价）',
        '操作',
        '备注'
      ],
      curTempDetailId: '',
      isFold: true,
      exportAllLoading: false,
      printAllLoading: false,
      deleteLoading: false,
      curSelectId: null,
      filterInfoPriceList: [], // 筛选的信息价列表

      addInfoPriceDialog: false, // 添加信息价弹窗
      addInfoPriceLoading: false,
      infoPriceList: [], // 信息价列表
      curInfoPriceId: null, // 当前选中信息价
      typeRadio: '', // 信息价类型
      customList: [], // 自定义分类
      curCustom: [],
      rationList: [], // 国标分类
      curRation: [],
      showAddInfoPriceDialog: false,
      isIssue: false, //  期刊是否已发布
      timeNum: 0, // 倒计时秒数
      showWarnDialog: false, //  警告弹窗
      timer: null, // 删除倒计时定时器
      handleType: '', //  操作类型
      deloneItem: null,
      releaseName: '',
      exportLoading: false
    }
  },
  mounted() {
    this.isIssue = this.$route.query.isIssue
    this.id = this.$route.query.id
    this.name = this.$route.query.name
    this.releaseName = this.$route.query.releaseName
    this.getData()
    this.getMsgNameById()
  },
  methods: {
    // 已发布期刊的警告
    warn(type, item) {
      if (type == 'edit' && this.multipleSelection.length !== 1) {
        this.openAlert('请只选择一条数据调整序号')
        return
      }
      if (type == 'del' && this.multipleSelection.length == 0) {
        this.openAlert('请选择要移除的数据')
        return
      }
      if (item) this.deloneItem = item
      if (this.isIssue) {
        this.handleType = type
        this.showWarnDialog = true
        // 倒计时2s后可删除
        this.timeNum = 2
        if (this.timer) {
          clearInterval(this.timer)
        }
        this.timer = setInterval(() => {
          this.timeNum--
          if (this.timeNum == 0) {
            clearInterval(this.timer)
          }
        }, 1000)
        return
      } else {
        this.nextStep(type)
      }
    },
    nextStep(types) {
      if (!types) {
        this.showWarnDialog = false
        types = this.handleType
      }
      if (types == 'add') this.openAddInfoPriceDialog()
      if (types == 'edit') this.openNumDialog()
      if (types == 'del') this.deleteItem()
      if (types == 'delone') this.deleteOneItem(this.deloneItem)
    },
    // 获取信息价筛选列表
    getMsgNameById() {
      var params = {
        journalId: this.id
      }
      getMsgNameById(params).then(res => {
        if (res.code == '01') {
          this.filterInfoPriceList = res.body || []
        }
        this.getDetailList()
      })
    },
    // 信息价筛选
    changeInfoPriceSelect() {
      this.currentPage = 1
      this.getDetailList()
    },
    // 移除
    deleteOneItem(item) {
      // console.log(item)
      this.$confirm('确认移除选中的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var params = {
          ids: item.id,
          releaseName: this.releaseName
        }
        var loading = this.$loading({
          text: '加载中...',
          background: 'rgba(0, 0, 0, 0.3)'
        })
        removeMsgPrice(params)
          .then(res => {
            loading.close()
            if (res.code == '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.getDetailList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            loading.close()
          })
      })
    },
    // 批量移除
    deleteItem() {
      if (this.multipleSelection.length == 0) {
        this.openAlert('请选择要移除的数据')
        return
      }
      this.$confirm('确认移除选中的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var ids = []
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
        var params = {
          ids: ids.join(','),
          releaseName: this.releaseName
        }
        this.deleteLoading = true
        removeMsgPrice(params)
          .then(res => {
            this.deleteLoading = false
            if (res.code == '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.getDetailList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.deleteLoading = false
          })
      })
    },
    // 导出
    exportFile() {
      if (this.multipleSelection.length === 0) {
        this.exportAllFile()
        return
      }

      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var ids = []
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
        var data = {
          journalId: this.id,
          ids: ids.join(','),
          exportStyle: '4'
        }
        this.exportLoading = true
        exportJournalDetailFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '期刊详情列表.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '期刊详情列表.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 全部导出
    exportAllFile() {
      var data = {
        journalId: this.id
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportAllLoading = true
        exportJournalDetailFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '期刊详情列表.xls'
              )
              this.exportAllLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportAllLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportAllLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '期刊详情列表.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportAllLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportAllLoading = false
          })
      })
    },
    // 打印
    printAllFile() {
      this.dialogTableVisible = true
    },
    // 调整序号校验
    checkNewNum() {
      this.newNum = this.newNum.replace(/[^0-9]/g, '')
      try {
        if (this.newNum.length > 1 && this.newNum.slice(0, 1) == 0) {
          this.newNum = this.newNum.slice(1)
        }
      } catch (err) {}
    },
    // 调整序号
    updateNum() {
      if (!this.newNum) {
        this.$message({
          type: 'error',
          message: '请输入序号'
        })
        return
      }
      if (this.newNum == 0) {
        this.$message({
          type: 'error',
          message: '序号不能为0'
        })
        return
      }
      if (isNaN(Number(this.newNum))) {
        this.$message({
          type: 'error',
          message: '请输入正确的序号'
        })
        return
      }
      var params = {
        id: this.curTempDetailId,
        sort: this.newNum
      }
      this.numLoading = true
      updJournalDetailSort(params)
        .then(res => {
          this.numLoading = false
          if (res.code == '01') {
            this.showNumDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getDetailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.numLoading = false
        })
    },
    // 打开调整序号弹窗
    openNumDialog() {
      if (this.multipleSelection.length !== 1) {
        this.openAlert('请只选择一条数据调整序号')
        return
      }
      this.newNum = ''
      this.curNum = this.multipleSelection[0].sortNo
      this.curTempDetailId = this.multipleSelection[0].id
      this.showNumDialog = true
    },
    // 关闭弹窗
    closeDialog(type) {
      this.showAddInfoPriceDialog = false
      this.addInfoPriceDialog = false
      // 确定添加后续更新列表
      if (type == 'update') {
        this.getDetailList()
      }
    },
    // 添加单条
    addOneDialog() {
      this.showAddInfoPriceDialog = true
    },
    // 添加信息价
    addMsgPrice() {
      if (!this.curInfoPriceId) {
        this.$message({
          type: 'error',
          message: '请选择信息价'
        })
        return
      } else if (!this.typeRadio) {
        this.$message({
          type: 'error',
          message: '请选择分类'
        })
        return
      }
      if (this.typeRadio == '自定义分类' && this.curCustom.length == 0) {
        this.$message({
          type: 'error',
          message: '请选择自定义分类'
        })
        return
      }
      if (this.typeRadio == '国标分类' && this.curRation.length == 0) {
        this.$message({
          type: 'error',
          message: '请选择国标分类'
        })
        return
      }

      var type = null
      var ids = []
      if (this.typeRadio == '自定义分类') {
        type = 1
        ids = this.curCustom
      } else {
        type = 2
        // 是否勾选全部
        if (this.curRation[0] == 'all') {
          for (var i = 0; i < this.rationList.length; i++) {
            ids.push(this.rationList[i].code)
          }
        } else {
          ids = this.curRation
        }
      }

      var data = {
        idList: ids.join(','),
        journalId: this.id,
        msgId: this.curInfoPriceId,
        type: type,
        msgType: 1 // (1：信息价 2：历史价)
      }
      this.addInfoPriceLoading = true
      addMsgPrice(data)
        .then(res => {
          this.addInfoPriceLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.addInfoPriceDialog = false
            this.getDetailList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addInfoPriceLoading = false
        })
    },
    // 选择国标分类
    changeRation() {
      if (this.curRation.indexOf('all') > -1) {
        this.curRation = ['all']
      }
    },
    // 信息价弹窗自定义分类/国标分类列表
    getTypeByMsgId(id) {
      var params = {
        msgId: id
      }
      getTypeByMsgId(params).then(res => {
        if (res.code == '01') {
          this.customList = res.body.typeList
          this.customList.push({
            id: 0,
            name: '未分类选项'
          })
          this.rationList = res.body.rationList
        }
      })
    },
    // 切换信息价
    changeInfoPrice(id) {
      this.curCustom = []
      this.curRation = []
      this.getTypeByMsgId(id)
    },
    // 获取信息价列表
    getInfoPriceList() {
      var data = {
        currentPage: 1,
        pageSize: 99999,
        startDate: null,
        endDate: null,
        keyCode: null
      }

      getMessagePriceListPage(data).then(res => {
        if (res.code == '01') {
          try {
            this.infoPriceList = res.body.list
          } catch (err) {
            this.infoPriceList = []
          }
        }
      })
    },
    // 添加信息价弹窗
    openAddInfoPriceDialog() {
      this.addInfoPriceDialog = true
      this.curInfoPriceId = null
      this.typeRadio = ''
      this.curCustom = []
      this.curRation = []
      this.rationList = []
      this.customList = []
      this.getInfoPriceList()
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDetailList()
    },
    // 详情列表
    getDetailList() {
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem

      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        journalId: this.id,
        keyCode: this.searchVal ? this.searchVal : null,
        subcId: subcId || null,
        msgId: this.curSelectId
      }
      this.loading = true
      getJournalDetailListPage(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 页面初始数据
    getData() {
      Promise.all([getTempCustomType(), getCjType()]).then(res => {
        // 国标分类
        var data02 = res[1]
        if (data02.code == '01') {
          this.normType = data02.body.subcTypes
        }
      })
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }
      this.currentPage = 1
      this.getDetailList()
    },
    changeNormTypeItem(code) {
      this.curNormTypeItem = code
      this.currentPage = 1
      this.getDetailList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDetailList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/cs/variables.scss';
.periodical-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    h1 {
      padding: 30px 20px;
      color: #333;
      font-size: 26px;
    }
  }
  .search-type {
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .com-dialog {
    .label-text {
      margin-right: 10px;
      white-space: nowrap;
      color: #333;
      font-size: 14px;
      display: block;
      text-align: right;
      min-width: 90px;
      max-width: 90px;
    }
  }
}
</style>

<style lang="scss">
.periodical-container {
  .st-input {
    .el-input--suffix .el-input__inner {
      width: 0;
      border: none;
      background: none;
    }
  }
}
</style>

<style media="print">
@page {
  size: auto;
  margin: 3mm;
}
@media print {
  html {
    background-color: #ffffff;
    height: auto;
    margin: 0px;
  }
  body {
    border: solid 1px #ffffff;
    /* border: solid 1px red; */
    /* margin: 10mm 15mm 10mm 15mm; */
  }
  #printMe table {
    table-layout: auto !important;
  }
  #printMe .el-table__header-wrapper .el-table__header {
    width: 100% !important;
    border: solid 1px #f2f2f2;
  }
  #printMe .el-table__body-wrapper .el-table__body {
    width: 100% !important;
  }
  #printMe #pagetable table {
    table-layout: fixed !important;
  }
}
</style>
