<template>
  <div class="synthesize-set-container">
    <div class="up-wrap com-el-tabs">
      <el-tabs v-model="activeName">
        <el-tab-pane v-if="periodicalShow" label="期刊库" name="periodical">
          <PeriodicalStock v-if="activeName == 'periodical'" />
        </el-tab-pane>
        <el-tab-pane v-if="issueRecordShow && $_has('mpccollect:messagePrice:getReleaseRecordListPage')" label="发布记录" name="issueRecord">
          <IssueRecord v-if="activeName == 'issueRecord'" />
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import PeriodicalStock from './components/periodicalStock'
import IssueRecord from './components/IssueRecord'

export default {
  name: 'PeriodManager',
  components: {
    IssueRecord,
    PeriodicalStock
  },
  data() {
    return {
      activeName: 'periodical',
      periodicalShow: false,
      issueRecordShow: false
    }
  },
  mounted() {
    // 判断是否拥有权限
    /*
    var btnRoles = this.$store.getters.btnRoles
    if(btnRoles.indexOf(this.$roles.fun_comprice_issue) > -1) {
      this.issueRecordShow = true
    }
    if(btnRoles.indexOf(this.$roles.fun_per_library) > -1) {
      this.periodicalShow = true
    }

    // 根据权限选择默认值
    if (btnRoles.indexOf(this.$roles.fun_per_library) > -1) {
      this.activeName = 'periodical'
    } else if (btnRoles.indexOf(this.$roles.fun_comprice_issue) > -1) {
      this.activeName = 'issueRecord'
    } */
    // 跳过权限判断 默认期刊库
    this.issueRecordShow = true
    this.periodicalShow = true
    this.activeName = 'periodical'
  }
}
</script>

<style lang="scss" scoped>
.synthesize-set-container {
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
/deep/ .com-el-tabs .el-tabs__item {
  padding-right: 30px;
}
</style>
