<template>
  <div class="tab-content">
    <div class="screen mb-10 pt-30">
      <!-- 适用地区 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul v-if="curproList && curproList.length > 0" class="flex-cw">
            <li :class="{ active: curPro === null }" @click="changeCurPro(null)">
              全部
            </li>
            <li v-for="(pro, index) in curproList" v-show="index <= 7 || morePro" :key="index" :class="{ active: curPro == pro }" @click="changeCurPro(pro)">
              {{ pro }}
            </li>
            <span v-if="curproList && curproList.length > 8" class="more mb-10" @click="morePro = !morePro">
              {{ morePro ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': morePro }" />
            </span>
          </ul>
          <ul v-if="curCityList && curCityList.length > 0 && curPro != null" class="flex-cw all-list">
            <li :class="{ active: curCity === null }" @click="changeCurCity(null)">
              全部
            </li>
            <li v-for="(item, index) in curCityList" v-show="index <= 7 || moreCity" :key="item.name" :class="{ active: curCity == item.name }" @click="changeCurCity(item.name)">
              {{ item.name }}
            </li>
            <span v-if="curCityList && curCityList.length > 8" class="more" @click="moreCity = !moreCity">
              {{ moreCity ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': moreCity }" />
            </span>
          </ul>
          <ul v-if="curAreaList && curAreaList.length > 0 && curCity != null" class="flex-cw all-list ml-10">
            <li :class="{ active: curArea === null }" @click="changeCurArea(null)">
              全部
            </li>
            <li v-for="(area, index) in curAreaList" v-show="index <= 7 || moreArea" :key="index" :class="{ active: curArea == area }" @click="changeCurArea(area)">
              {{ area }}
            </li>
            <span v-if="curAreaList && curAreaList.length > 8" class="more" @click="moreArea = !moreArea">
              {{ moreArea ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': moreArea }" />
            </span>
          </ul>
        </div>
      </div>

      <div class="flex-fs custom-type">
        <span class="com-label-text">计算方式</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curCalculateMethod === null }" @click="changeCalculate(null)">全部</li>
            <li v-for="it in calculateList" :key="it.value" :class="{ active: curCalculateMethod === it.value }" @click="changeCalculate(it.value)"> {{ it.name }} </li>
          </ul>
        </div>
      </div>
      <div class="flex-fs custom-type">
        <span class="com-label-text">当前状态</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curCurrentState === null }" @click="changeState(null)">全部</li>
            <li v-for="it in stateList" :key="it.value" :class="{ active: curCurrentState === it.value }" @click="changeState(it.value)"> {{ it.name }} </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 按钮/表格 -->
    <div class="com-table table-wrap detail-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap inquiry">
        <div class="flex-c">
          <el-button type="primary" class="flex-cc btn" @click="addEconomic()">
            <img src="@/assets/img/v2.0/icons/tianjia.png" alt="" class="el-icon-search">新增实时单方造价配置
          </el-button>
        </div>
      </div>

      <!-- 表内容 -->
      <el-table ref="multipleTable" v-loading="tableLoading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%">
        <!-- <el-table-column type="selection" width="66px"> </el-table-column> -->
        <el-table-column width="150px" label="适用地区">
          <template slot-scope="scope">
            <span class="p-color cp" @click="addEconomic(scope.row.id)">
              {{ scope.row.province }} <template v-if="scope.row.city">- {{ scope.row.city }}</template>
            </span>
          </template>
        </el-table-column>
        <el-table-column label="指标阶段" min-width="150px" prop="stdNames" />
        <el-table-column min-width="200px" label="指标分类" prop="dictNames" />
        <el-table-column min-width="180px" label="单位工程" prop="unitNames" />
        <el-table-column min-width="100px" label="计算方式">
          <template slot-scope="scope">
            <span>
              {{ scope.row.calculateWay | calculateFilter }}
            </span>
          </template>
        </el-table-column>
        <el-table-column width="160px" label="更新时间">
          <template slot-scope="scope">
            <span>
              {{ formatDate(scope.row.updateTime, '1') }}
            </span>
          </template>
        </el-table-column>
        <el-table-column width="150px" label="当前状态" prop="name">
          <template slot-scope="scope">
            <template v-if="scope.row.warnSwitch">
              <span class="green mr-10">计算中</span>
            </template>
            <template v-else>
              <span class="mr-10">已关闭</span>
            </template>

            <el-switch v-if="scope" v-model="scope.row.warnSwitch" :active-value="1" :inactive-value="0" @change="switchChange($event, scope.row)" />
          </template>
        </el-table-column>

        <el-table-column width="150px" label="操作">
          <template slot-scope="scope">
            <div class="icon-wrap">
              <el-tooltip effect="light" content="查看" placement="top">
                <img class="mr-10" src="@/assets/img/icons/details.png" alt="" @click="addEconomic(scope.row.id)">
              </el-tooltip>
              <el-tooltip effect="light" content="删除" placement="top">
                <img src="@/assets/img/icons/dels.png" alt="" @click="deleteModel(scope.row.id)">
              </el-tooltip>
            </div>
          </template>
        </el-table-column>
      </el-table>

      <!-- 分页 -->
      <div class="flex-csb com-pages-wrap mb-20">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
              <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
          <div class="com-page-btn">确定</div>
        </div>
      </div>
    </div>

    <!-- 删除确认弹窗 -->
    <confirm-dialog :is-show.sync="showDeleteDialog" :content-text="deleteContent" @confirmClick="confirmDelete" />
  </div>
</template>

<script>
import { getAreaTree } from '@/api/common'
import {
  pluralListPage,
  pluralUpdateStatus,
  pluralDeleteIndicator
} from '@/api/targetApplication'

import { formatDate } from '@/utils/common'
export default {
  name: 'TabContent',
  filters: {
    calculateFilter(cal) {
      let text = ''
      if (cal) {
        switch (cal) {
          case 1:
            text = '算术平均'
            break
          case 2:
            text = '正态分布'
            break
          case 3:
            text = '中位数'
        }
      }
      return text
    }
  },
  props: ['engType', 'projectType', 'specialtyType', 'specialtyCode'],
  data() {
    return {
      formatDate: formatDate,
      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      curAreaList: [], // 项目地点列表(区)
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      areaData: [], // 组装的地区数据
      curPro: null, // 选择项目地点(省)
      curCity: null, // 选择项目地点(市)
      curArea: null, // 选择项目地点(区)
      morePro: false, // 展开省
      moreCity: false, // 展开市
      moreArea: false, // 展开区
      curTimeList: [], // 适用时间列表(年)
      curTimeItemList: [], // 适用时间列表(月)
      curTime: '', // 选择适用时间(年)
      curTimeItem: '', // 选择适用时间(月)
      timeData: [], // 组装的年月数据

      tableLoading: false, // 表格loading
      tableData: [], // 表格数据
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项

      curWarnMode: null, // 预警模式
      curCalculateMethod: null, // 计算方式
      curCurrentState: null, // 当前状态

      showDeleteDialog: false, // 确认是否删除弹窗
      isId: null,

      calculateList: [
        {
          value: 1,
          name: '算术平均'
        },
        {
          value: 2,
          name: '正态分布'
        },
        {
          value: 3,
          name: '中位数'
        }
      ],
      stateList: [
        {
          value: 1,
          name: '计算中'
        },
        {
          value: 0,
          name: '关闭'
        }
      ]
    }
  },
  computed: {
    // 删除提示
    deleteContent() {
      return '确定要删除该地区实时指标计算配置吗？'
    },
    // 默认城市
    defaultCity() {
      return sessionStorage.getItem('init_default_city')
    },
    // 默认省份
    defaultProvince() {
      return sessionStorage.getItem('init_default_province')
    },
  },
  mounted() {
    this.getAreaTreeList() // 获取省市区
  },
  methods: {
    // 筛选计算方式
    changeCalculate(val) {
      this.curCalculateMethod = val
      this.getTargetPageList()
    },
    // 筛选当前状态
    changeState(state) {
      this.curCurrentState = state
      this.getTargetPageList()
    },
    // 获取指标列表
    getTargetPageList() {
      const data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        province: this.curPro,
        city: this.curCity,
        type: 1, // 1-单方造价 2-技术指标
        calculateWay: this.curCalculateMethod,
        warnSwitch: this.curCurrentState,
        specialtyType: this.specialtyType,
        projectType: this.projectType,
        engType: this.engType
      }

      this.tableLoading = true
      pluralListPage(data).then(res => {
        if (res && res.code == '01') {
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
          this.tableLoading = false
        }
      })
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTargetPageList()
    },

    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro
      this.curCityList = this.areaData[pro]
      this.curCity = null
      this.curArea = null
      this.currentPage = 1
      this.getTargetPageList()
    },

    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city
      this.curCityList.forEach(item => {
        if (item.name == city) this.curAreaList = item.sub
      })
      this.curArea = null
      this.currentPage = 1
      this.getTargetPageList()
    },

    // 项目地点（改区）
    changeCurArea(area) {
      this.curArea = area
      this.currentPage = 1
      this.getTargetPageList()
    },
    // 获取地区（省，市，区）
    getAreaTreeList() {
      getAreaTree().then(res => {
        if (res && res.code === '01') {
          this.commonAreaList = res.body
          const areaData = [] //  [{省：[{市：[区]}]}]
          const proList = []
          res.body.forEach(item => {
            proList.push(item.name)
            const cityarr = []
            if (item.sub) {
              item.sub.forEach(city => {
                const areaarr = []
                if (city.sub) {
                  city.sub.forEach(area => {
                    areaarr.push(area.name)
                  })
                }
                const obj = {}
                obj.name = city.name
                obj.sub = areaarr
                cityarr.push(obj)
              })
            }
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData

          // 默认选中江门市
          this.$nextTick(() => {
            this.morePro = true;
            this.curPro = this.defaultProvince;
            this.curCityList = this.areaData[this.curPro];
            this.changeCurCity(this.defaultCity);
          });
        }
      })
    },

    // 新增预警设置
    addEconomic(id) {
      this.$router.push({
        path: '/setting/targetSet/addEconomic',
        query: {
          specialtyType: this.specialtyType,
          projectType: this.projectType,
          engType: this.engType,
          specialtyCode: this.specialtyCode,
          id: id || null
        }
      })
    },
    // 更改常用综合指标配置状态
    pluralUpdateStatus(params) {
      pluralUpdateStatus(params).then(res => {
        if (res && res.code == '01') {
          this.$message({ type: 'success', message: '改变状态成功' })
        }
      })
    },
    // 开启、关闭预警配置
    switchChange(value, row) {
      const text = value ? '开启' : '关闭'
      this.$confirm(`确定${text}该地区实时指标计算吗？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(async() => {
          const param = {
            id: row.id,
            warnSwitch: value ? 1 : 0
          }
          this.pluralUpdateStatus(param)
        })
        .catch(() => {
          if (value) row.warnSwitch = 0
          else row.warnSwitch = 1
        })
    },
    // 删除配置
    deleteModel(id) {
      this.isId = id
      this.showDeleteDialog = true
    },
    // 确定删除
    confirmDelete() {
      pluralDeleteIndicator({ ids: this.isId }).then(res => {
        if (res && res.code == '01') {
          this.getTargetPageList()
          this.$message({
            type: 'success',
            message: '删除该综合单方造价配置成功！'
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.tab-content {
  .com-search2::v-deep .el-input__inner {
    border: 0;
  }

  .top-radius {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .screen {
    // padding: 0 21px 5px;
    padding: 20px 20px 5px 20px;
    background: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    > div {
      min-height: 39px;
    }
    .top {
      border-top: 1px solid #f6f6f6;
    }
    .more-sort {
      // margin-top: 30px;
    }
    .show-more {
      margin-top: 10px;
      text-align: center;
      > span {
        cursor: pointer;
      }
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
    }
    .cycle-wrap {
      padding: 20px;
      > span {
        text-align: right;
        margin-right: 10px;
        min-width: 70px;
        font-weight: 400;
        white-space: nowrap;
      }
      .el-select {
        input {
          width: 281px;
          height: 36px;
        }
      }
    }
    .custom-type,
    .norm-type {
      .price-ipt {
        &:hover {
          color: #666 !important;
        }
      }
      .ipttext {
        text-align: center;
        min-width: 40px;
      }
      .subnum {
        min-width: 30px;
        color: $color-primary;
      }
      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
      }
      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }
      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        max-height: 50px;
        overflow-y: hidden;
      }
    }

    .flex-cw {
      padding: 2px 0;
      border-bottom: 1px solid #f3f3f4;
    }
  }

  .tag-p {
    font-size: 16px;
    color: #999999;
    position: relative;

    &::before {
      content: '';
      width: 3px;
      height: 16px;
      background: #1789f2;
      border-radius: 0px 1px 1px 0px;
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
    }

    .tags {
      font-size: 12px;
      color: #333;
    }
  }
  .screen-tag {
    padding: 6px 12px;
    background: #ffeddb;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 8px;

    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #f9a147;
  }

  // 表格
  .detail-table {
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    .inquiry {
      background: #fcfcfd;
      .right-btns {
        color: #333333;
        font-size: 16px;
        > div {
          cursor: pointer;
          margin-left: 31px;
          font-family: 'mainfont';
          white-space: nowrap;
          .icons {
            margin-right: 4px;
          }
          .imgs {
            width: 14px;
            height: 14px;
            margin-right: 6px;
            margin-left: 16px;
          }
        }
      }
      .tips {
        width: 23px;
        height: 23px;
        margin: 0 20px 6px 8px;
      }
    }
    .table-box {
      .no-data {
        text-align: center;
        padding: 30px;
        > span {
          color: $color-danger;
        }
      }
      padding-bottom: 30px;
      position: relative;
      .project-name {
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .t-color {
        font-weight: 400;
        color: $table-color;
      }
      .wrap {
        width: 166px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .mode-name {
        cursor: pointer;
        color: $color-primary;
        text-align: left;
        > div {
          min-width: 100px;
        }
      }
      .faster-img {
        width: 18px;
        height: 18px;
        margin-left: 5px;
      }
      .files {
        max-width: 65%;
        min-width: 380px;
        .file-box {
          width: 100%;
          flex-wrap: wrap;
          .fileitem {
            margin-right: 6px;
            margin-bottom: 4px;
            .file-img {
              width: 21px;
              height: 20px;
            }
            .file-name {
              margin: 0 25px 0 7px;
              width: 81px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 12px;
              font-family: 'mainfont';
            }
          }
        }
      }
    }
  }
}
</style>
