<template>
  <el-dialog
      :title="titleText"
      :visible.sync="showDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
      @close="cancelClick">
      <img src="@/assets/img/dialog/confirm.png" alt="">
          <p>{{contentText}}</p>
          <span v-if="contentTip" class="tip red">{{contentTip}}</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelClick">取消</el-button>
        <el-button type="primary" :loading="btLoading" @click="confirmClick">确定</el-button>
      </span>
    </el-dialog>
</template>

<script>
export default {
    name: 'ConfirmDialog',
    data() {
        return {
            showDialog: false,  // 控制弹窗是否显示的开关
        }
    },
    props: {
        isShow: {
            type: Boolean,
            default: false
        },
        titleText: {
            type: String,
            default: "删除"
        },
        contentText: {
            type: String,
            default: ""
        },
        contentTip: {
            type: String,
            default: ""
        },
        btLoading: {
            type: Boolean,
            default: false
        }
    },
    watch: {
        isShow(show) {
            this.showDialog = show;
        }
    },
    methods: {
        // 确认
        confirmClick() {
            this.showDialog = false;
            this.$emit('update:isShow', false);
            this.$emit('confirmClick');
        },
        // 取消/关闭
        cancelClick() {
            this.showDialog = false;
            this.$emit('update:isShow', false);
            this.$emit('cancelClick');
        }
    }
}
</script>

<style lang="scss" scoped>
.tip {
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
}
</style>
