<template>
  <div class="account-container">
    <!-- 列表 -->
    <div class="com-table table-wrap">
      <div v-if="$_has('sys:addOrUpdateUser') || $_has('sys:updateRole') || $_has('sys:delUser')" class="flex-c com-operate-wrap op-wrap ">
        <el-button v-has="'sys:addOrUpdateUser'" type="primary" class="flex-cc w-color mb-0" @click="openCreateUserDialog">
          <img src="@/assets/img/table/add.png" alt="" class="el-icon-search va-m">
          <span class="va-m">添加账号</span>
        </el-button>
        <el-button v-has="'sys:updateRole'" class="flex-cc default-btn mb-0" @click="openChangeRoleDialog">
          <img src="@/assets/img/table/refresh.png" alt="" class="el-icon-search va-m">
          <span class="va-m">更换角色</span>
        </el-button>
        <el-button v-has="'sys:delUser'" class="flex-cc delete-btn mb-0 mr-20" @click="openDelDialog('')">
          <img src="@/assets/img/table/del.png" alt="" class="el-icon-search va-m">
          <span class="va-m">删除</span>
        </el-button>
        <el-input v-model="input4" placeholder="请输入关键字，如账号、姓名" @keyup.enter.native="searchFunc">
          <i slot="prefix" class="el-input__icon el-icon-search" @click="searchFunc" />
        </el-input>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" class="table-main" row-key="id" style="width: 100%;" :header-cell-style="{background:'#F7F7F7'}"
          @selection-change="multipleSelection = $event">
          <el-table-column type="selection" width="66px" :reserve-selection="true" />
          <el-table-column prop="userAccount" label="账号" />
          <el-table-column prop="userName" label="姓名" />
          <el-table-column prop="phone" label="手机号码" />
          <el-table-column prop="email" label="邮箱" />
          <el-table-column prop="department" label="部门" />
          <el-table-column prop="position" label="职位" />
          <el-table-column prop="superiorDepartment" label="直接上级" />
          <el-table-column prop="hireDate" label="入职时间" />
          <el-table-column prop="accumulatedOnlineTime" label="累计在线时长" />
          <el-table-column prop="roleName" label="角色" />
          <el-table-column prop="lastLoginTime" label="最近登录时间" />
          <el-table-column prop="lastLoginIp" label="访问IP" />
          <el-table-column v-if="$_has('sys:updateUser') || $_has('sys:resetPwd') || $_has('sys:delUser')" label="操作" width="120px">
            <template slot-scope="scope">
              <div v-if="scope.row.status != '2'" class="flex-c icon-wrap">
                <div v-has="'sys:updateUser'" class="flex-cc">
                  <el-tooltip effect="light" content="编辑" placement="top">
                    <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click="openEditUserDialog(scope.row)">
                  </el-tooltip>
                </div>
                <el-tooltip v-has="'sys:resetPwd'" effect="light" content="重置密码" placement="top">
                  <img class="icons" src="@/assets/img/table/changekey.png" alt="" @click="showInitPassword(scope.row)">
                </el-tooltip>
                <el-tooltip v-has="'sys:delUser'" effect="light" content="删除" placement="top">
                  <img class="icons" src="@/assets/img/icons/dels.png" alt="" @click="openDelDialog(scope.row.id)">
                </el-tooltip>
                <el-tooltip v-if="scope.row.locked && $_has('sys:updateUser')" effect="light" content="解除锁定" placement="top">
                  <img class="icons" src="@/assets/img/table/lock_icon.png" alt="" @click="unlockLogin(scope.row.userName)">
                </el-tooltip>
              </div>
              <div v-else>--</div>
            </template>
          </el-table-column>createParams
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 添加/编辑账号弹窗 -->
    <el-dialog :title="title" :visible.sync="showCreateUserDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-input my-dialog">
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>账号</span>
        <el-input v-model="createParams.userAccount" minlength="6" maxlength="12" placeholder="请输入6-12位由英文与数字组成的账号" :disabled="title === '编辑账号'" @input="checkInput" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>姓名</span>
        <el-input v-model="createParams.userName" maxlength="10" placeholder="请输入姓名" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>手机号码</span>
        <el-input v-model="createParams.phone" maxlength="11" placeholder="请输入手机号码" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">邮箱</span>
        <el-input v-model="createParams.email" placeholder="请输入邮箱" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">部门</span>
        <el-input v-model="createParams.department" maxlength="10" placeholder="请输入部门" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">职位</span>
        <el-input v-model="createParams.position" maxlength="10" placeholder="请输入职位" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">直接上级</span>
        <el-input v-model="createParams.superiorDepartment" maxlength="10" placeholder="请输入职位" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">入职时间</span>
        <!-- <el-input v-model="createParams.hireDate" maxlength="10" placeholder="请输入职位" /> -->
        <el-date-picker v-model="createParams.hireDate" type="date" placeholder="请选择入职时间" />
      </div>
      <!-- <div class="flex-c mb-20">
        <span class="label-text">QQ</span>
        <el-input v-model="createParams.qq" placeholder="请输入QQ" />
      </div> -->
      <div class="flex-c mb-20 com-select">
        <span class="label-text"><span>*</span>角色权限</span>
        <el-select v-model="createParams.roleIds" multiple placeholder="请选择角色权限">
          <el-option v-for="(item, index) in roleGroup" :key="index" :label="item.roleName" :value="item.id" />
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showCreateUserDialog = false">取消</el-button>
        <el-button type="primary" :loading="addLoading" @click="addOrUpdateAccount">确定</el-button>
      </span>
    </el-dialog>

    <!-- 重置密码弹窗 -->
    <el-dialog title="重置密码" :visible.sync="showInitPasswordDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog my-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/dialog/confirm.png" alt="">
        <p>您确定要重置[{{ resetname }}]用户密码吗？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showInitPasswordDialog = false">取消</el-button>
        <el-button type="primary" :loading="initPwdLoading" @click="initPwd">确定</el-button>
      </span>
    </el-dialog>

    <!-- 更换角色弹窗 -->
    <el-dialog title="更换角色" :visible.sync="showChangeRoleDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-input my-dialog">
      <p class="com-s-text mb-20">请选择您要更换的角色</p>
      <div class="flex-c com-select">
        <el-select v-model="curRoleId" multiple placeholder="请选择">
          <el-option v-for="(item, index) in roleGroup" :key="index" :label="item.roleName" :value="item.id" />
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showChangeRoleDialog = false">取消</el-button>
        <el-button type="primary" :loading="changeRoleLoading" @click="changeRoles">保存</el-button>
      </span>
    </el-dialog>

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog my-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/dialog/confirm.png" alt="">
        <p>{{ delStatus == 1 ? '你确定要删除这个账号吗？' : '你确定要删除勾选的账号吗？' }}</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delLoading" @click="confirmDelete">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getUserPageList,
  getRoleList,
  addOrUpdateUser,
  resetPwd,
  updateRole,
  delUser,
  unlockLogin
} from '@/api/user'
import { validPhone } from '@/utils/common'
export default {
  data() {
    return {
      input4: '',
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [],
      tableData: [], // 账号列表
      loading: false, // 列表loading
      showCreateUserDialog: false, // 显示添加/编辑账号弹窗
      addLoading: false, // 显示添加/编辑账号loading
      title: '', // 添加/编辑账号弹窗title
      createParams: {
        // 添加/编辑账号参数
        userAccount: '',
        userName: '',
        phone: '',
        email: '',
        department: '',
        position: '',
        superiorDepartment: '',
        roleIds: '',
        id: ''
        // qq: ''
      },
      roleGroup: [], // 角色组
      showInitPasswordDialog: false, // 显示重置密码弹窗
      initPwdLoading: false, // 重置密码loading
      showChangeRoleDialog: false, // 显示更换角色弹窗
      curRoleId: null, // 当前要更换的角色组id
      changeRoleLoading: false, // 更换角色loading
      showDelDialog: false, // 显示删除弹窗
      delLoading: false, // 删除角色loading
      delStatus: '', // 删除弹窗的状态 1单个 2批量
      delId: '', // 删除的账号id
      resetid: '', // 重置密码的账号id
      resetname: '' // 重置密码的账号名
    }
  },

  mounted() {
    this.getUserList()
    this.getRolePageList()
  },

  methods: {
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getUserList()
    },
    // 获取账号列表
    getUserList() {
      const data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.input4
      }
      this.loading = true
      getUserPageList(data)
        .then(res => {
          this.loading = false
          if (res.code === '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },

    // 获取角色列表
    getRolePageList() {
      const data = {
        roleStatus: 1,
        currentPage: 1,
        pageSize: 99
      }
      getRoleList(data).then(res => {
        if (res.code == '01') {
          this.roleGroup = res.body.list
        }
      })
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getUserList()
    },

    // 提示弹窗
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    },

    // 数值校验
    checkInput() {
      // 只能输入英文、数字
      this.createParams.userAccount = this.createParams.userAccount.replace(
        /[^\a-\z\A-\Z0-9]/g,
        ''
      )
    },

    // 编辑账号弹窗
    openEditUserDialog(item) {
      this.title = '编辑账号'
      this.showCreateUserDialog = true
      // 回显
      this.createParams = {
        userAccount: item.userAccount,
        userName: item.userName,
        phone: item.phone,
        email: item.email,
        department: item.department,
        position: item.position,
        superiorDepartment: item.superiorDepartment,
        // qq: item.qq,
        roleIds: item.roleIds,
        id: item.id
      }
    },

    // 添加账号弹窗
    openCreateUserDialog(item) {
      this.title = '添加账号'
      this.showCreateUserDialog = true
      // 置空
      this.createParams = {
        department: null,
        id: null,
        phone: null,
        position: null,
        qq: null,
        roleIds: null,
        userAccount: null,
        userName: null
      }
    },

    // 添加/编辑账号接口
    addOrUpdateAccount() {
      var reg = new RegExp('^[A-Za-z0-9]+$')
      if (!this.createParams.userAccount) {
        this.$message({
          type: 'error',
          message: '请输入账号'
        })
        return
      } else if (this.createParams.userAccount.length < 6) {
        this.$message({
          type: 'error',
          message: '账号长度应为6-12位'
        })
        return
      } else if (!reg.test(this.createParams.userAccount)) {
        this.$message({
          type: 'error',
          message: '账号只能为英文、数字'
        })
        return
      } else if (!this.createParams.userName) {
        this.$message({
          type: 'error',
          message: '请输入姓名'
        })
        return
      } else if (!this.createParams.roleIds) {
        this.$message({
          type: 'error',
          message: '请选择角色'
        })
        return
      } else if (!this.createParams.phone) {
        this.$message({
          type: 'error',
          message: '请填写手机号'
        })
        return
      } else if (!validPhone(this.createParams.phone)) {
        this.$message({
          type: 'error',
          message: '手机号格式错误'
        })
        return
      }

      const item = this.createParams
      var data = {
        userAccount: item.userAccount,
        userName: item.userName,
        phone: item.phone,
        email: item.email,
        department: item.department,
        position: item.position,
        superiorDepartment: item.superiorDepartment,
        roleIds: item.roleIds.join(),
        id: item.id || null
        // qq: item.qq,
      }

      this.addLoading = true
      if (this.title == '编辑账号') {
        // 编辑账号
        addOrUpdateUser(data)
          .then(res => {
            this.addLoading = false
            if (res.code == '01') {
              this.$message({
                type: 'success',
                message: res.message
              })

              this.showCreateUserDialog = false
              this.$refs.multipleTable.clearSelection()
              this.currentPage = 1
              this.getUserList()

              // 修改自己的信息，导航栏同步userName
              if (data.id === this.$store.getters.userId) {
                sessionStorage.setItem('user_name', data.userName)
                sessionStorage.setItem('user_account', data.userAccount)
                sessionStorage.setItem('phone', data.phone)
                sessionStorage.setItem('user_department', data.department)
                sessionStorage.setItem('user_position', data.position)
                sessionStorage.setItem('user_qq', data.qq)
                this.$store.commit('user/SET_NAME', data.userName)
                this.$store.commit('user/SET_USER_ACCOUNT', data.userAccount)
                this.$store.commit('user/SET_NAME', data.userName)
                this.$store.commit('user/SET_ID', data.userId)
                this.$store.commit('user/SET_PHONE', data.phone)
                this.$store.commit('user/SET_USER_DEPARTMENT', data.department)
                this.$store.commit('user/SET_USER_POSITION', data.position)
                this.$store.commit('user/SET_USER_QQ', data.qq)
              }
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.addLoading = false
          })
      } else {
        // 添加账号
        addOrUpdateUser(data)
          .then(res => {
            this.addLoading = false
            if (res.code == '01') {
              this.$alert(
                '添加账号成功！当前账号默认密码为Jsgc0750',
                '操作提示',
                {
                  confirmButtonText: '确定',
                  type: 'success'
                }
              )
              // 密码为：res.body

              this.showCreateUserDialog = false
              this.$refs.multipleTable.clearSelection()
              this.currentPage = 1
              this.getUserList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.addLoading = false
          })
      }
    },

    // 重置密码弹窗
    showInitPassword(item) {
      this.showInitPasswordDialog = true
      this.resetid = item.id
      this.resetname = item.userAccount
    },

    // 重置密码
    initPwd() {
      const params = {
        userId: this.resetid
      }
      this.initPwdLoading = true
      resetPwd(params)
        .then(res => {
          this.initPwdLoading = false
          if (res.code == '01') {
            this.showInitPasswordDialog = false
            this.$refs.multipleTable.clearSelection()
            this.$alert('重置密码成功！账号重置密码为Jsgc0750', '操作提示', {
              confirmButtonText: '确定',
              type: 'success'
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.initPwdLoading = false
        })
    },

    // 解除锁定
    unlockLogin(name) {
      var formData = new FormData()
      formData.append('userAccount', name)
      unlockLogin(formData).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message || '解锁成功'
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message || '解锁失败'
          })
        }
      })
    },

    // 更换角色弹窗
    openChangeRoleDialog() {
      if (this.multipleSelection.length == 1) {
        this.curRoleId = this.multipleSelection[0].roleIds
        this.showChangeRoleDialog = true
      } else {
        this.openAlert('请仅选择一个要修改的账号')
        return
      }
    },

    // 更换角色
    changeRoles() {
      if (!this.curRoleId) {
        this.$message({
          type: 'error',
          message: '请选择角色'
        })
        return
      }
      var params = {
        userId: this.multipleSelection[0].id,
        roleIds: this.curRoleId.join()
      }
      this.changeRoleLoading = true
      updateRole(params)
        .then(res => {
          this.changeRoleLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showChangeRoleDialog = false
            this.$refs.multipleTable.clearSelection()
            this.currentPage = 1
            this.getUserList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.changeRoleLoading = false
        })
    },

    // 删除弹窗
    openDelDialog(id) {
      if (id) {
        // 删除单个
        this.delStatus = 1
        this.delId = id
        this.showDelDialog = true
      } else {
        // 批量删除
        this.delStatus = 2
        if (this.multipleSelection.length > 0) {
          this.showDelDialog = true
        } else {
          this.openAlert('请至少选择一个要删除的账号')
          return
        }
      }
    },

    // 删除账号接口
    confirmDelete() {
      let ids
      if (this.delStatus == 1) {
        ids = this.delId
      } else if (this.delStatus == 2) {
        ids = []
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
        ids = ids.join(',')
      }
      var params = {
        userIds: ids
      }
      this.delLoading = true
      delUser(params)
        .then(res => {
          this.delLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showDelDialog = false
            this.$refs.multipleTable.clearSelection()
            this.currentPage = 1
            this.getUserList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.delLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.account-container {
  width: 100%;
  height: 100%;
  .search-wrap {
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
  }
  .table-wrap {
    .op-wrap {
      padding: 30px 0 24px 0;
      background-color: #fff;
    }
    .el-icon-search {
      margin-right: 4px;
    }
  }
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
}
.el-input {
  width: 370px;
}
/deep/.el-input--prefix .el-input__inner {
  height: 34px;
  padding-left: 10px;
}
</style>

<style lang="scss">
.account-container {
  .com-select {
    .el-select {
      .el-input__inner {
        border-radius: 4px !important;
      }
    }
  }
  .el-dialog__body {
    padding-left: 10px;
    padding-right: 40px;
  }
}
</style>
