<template>
  <div class="content">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{ path: '/publicHome' }">进入页</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/rolePermission/index' }">角色权限</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active">添加角色</span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <Role />
  </div>
</template>

<script>
import Role from './components/Role'
export default {
  name: 'AddRole',
  components: {
    Role
  }
}
</script>

<style lang="scss" scoped>
.content {
  position: relative;
  .com-bg {
    top: -46px;
  }
}
</style>
