<template>
  <div class="permission-container">
    <div class="p-content">
      <div class="com-bg">
        <div class="bread">
          <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/publicHome' }">进入页</el-breadcrumb-item>
            <el-breadcrumb-item><span class="active">角色权限</span></el-breadcrumb-item>
          </el-breadcrumb>
        </div>
      </div>
      <Power />
    </div>
  </div>
</template>

<script>
import Power from './components/Power'
export default {
  name: 'Permission',
  components: {
    Power
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.permission-container {
  margin-top: 17px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .menu-wrap {
    width: 100%;
    .m-item {
      position: relative;
      margin-right: 5px;
      width: 332px;
      height: 56px;
      line-height: 56px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #8d8c8c;
      background: #f1f1f1;
      &.active {
        background: #fff;
        color: #333;
        .t-line {
          background: $color-primary;
        }
      }
      .t-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 332px;
        height: 4px;
        border-radius: 4px 4px 0px 0px;
        background: #e0e0e0;
      }
    }
  }
  .p-content {
    padding: 35px 25px;
    width: 100%;
    background: #fff;
    position: relative;
    .com-bg {
      top: -54px;
    }
  }
}
</style>
