<template>
  <div class="common-container supplier-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <!-- 搜索 -->
      <div class="flex-c top">
        <el-select v-model="searchtype" class="select-remark">
          <el-option v-for="item in srarchTypeList" :key="item.id" :label="item.name" :value="item.id" />
        </el-select>
        <div class="com-search2 mt-20 mb-20">
          <el-input v-model="searchVal" class="search-ipt" placeholder="请输入名称搜索" @keyup.enter.native="
              currentPage = 1;
              getSupplierPageList();
            " />
          <i class="el-icon-search" @click="
              currentPage = 1;
              getSupplierPageList();
            " />
        </div>
      </div>
      <!-- 适用地区 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">地区</span>
        <div class="t-wrap">
          <ul v-if="curproList && curproList.length > 0" class="flex-cw">
            <li :class="{ active: curPro === null }" @click="changeCurPro(null)">
              全部
            </li>
            <li v-for="(pro, index) in curproList" v-show="index <= 7 || morePro" :key="index" :class="{ active: curPro == pro }" @click="changeCurPro(pro)">
              {{ pro }}
            </li>
            <span v-if="curproList && curproList.length > 8" class="more mb-10" @click="morePro = !morePro">
              {{ morePro ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': morePro }" />
            </span>
          </ul>
          <ul v-if="curCityList && curCityList.length > 0 && curPro != null" class="flex-cw all-list">
            <li :class="{ active: curCity === null }" @click="changeCurCity(null)">
              全部
            </li>
            <li v-for="(item, index) in curCityList" v-show="index <= 7 || moreCity" :key="item.name" :class="{ active: curCity == item.name }" @click="changeCurCity(item.name)">
              {{ item.name }}
            </li>
            <span v-if="curCityList && curCityList.length > 8" class="more" @click="moreCity = !moreCity">
              {{ moreCity ? "收起" : "更多" }}
              <span class="cp el-icon-arrow-right" :class="{ 'is-rotate': moreCity }" />
            </span>
          </ul>
        </div>
      </div>
      <!-- 来源 -->
      <!-- <div class="flex-fs custom-type">
        <span class="com-label-text">来源</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: curSource === null }"
              @click="changeSource(null)"
            >
              全部
            </li>
            <li
              :class="{ active: curSource == item }"
              v-for="(item, index) in sourceList"
              :key="index"
              @click="changeSource(item)"
            >
              {{ item }}
            </li>
          </ul>
        </div>
      </div> -->
      <!-- 分类 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">分类</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curType === null }" @click="changeType(null)">
              全部
            </li>
            <li v-for="(item, index) in typeList" :key="index" :class="{ active: curType == item }" @click="changeType(item)">
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
      <!-- 国标分类 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">产品分类</span>
        <div class="t-wrap">
          <ul class="flex-cw" :class="{ 'is-fold': isMore }">
            <li :class="{ active: curNormType == '' }" @click="changeNormType('', '')">
              全部
            </li>
            <li v-for="(item, index) in normType" :key="index" :class="{ active: curNormType == item.code }" @click="changeNormType(index, item.code)">
              {{ item.name }}
            </li>
          </ul>
          <ul v-if="normTypeItem && normTypeItem.length > 0" class="flex-cw all-list">
            <li :class="{ active: curNormTypeItem == '' }" @click="changeNormTypeItem('')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li v-for="(item, index) in normTypeItem" :key="index" :class="{ active: curNormTypeItem == item.code }" @click="changeNormTypeItem(item.code, index)">
              {{ item.name }}
            </li>
          </ul>
          <ul v-if="normTypeThree && normTypeThree.length > 0" class="flex-cw all-list ml-10">
            <li :class="{ active: curNormTypeThree == '' }" @click="changeNormTypeThree('', '')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li v-for="(item, index) in normTypeThree" :key="index" :class="{ active: curNormTypeThree == item.code }" @click="changeNormTypeThree(item.code, index)">
              {{ item.name }}
            </li>
          </ul>
          <ul v-if="normTypeFourth && normTypeFourth.length > 0" class="flex-cw all-list ml-20">
            <li :class="{ active: curNormTypeFourth == '' }" @click="changeNormTypeFourth('', '')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li v-for="(item, index) in normTypeFourth" :key="index" :class="{ active: curNormTypeFourth == item.code }" @click="changeNormTypeFourth(item.code, index)">
              {{ item.name }}
            </li>
          </ul>
        </div>
        <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{ 'is-rotate': isMore }" @click="isMore = !isMore" />
      </div>
      <!-- 自定义分类 -->
      <div class="flex-fs norm-type mt-10">
        <span class="com-label-text">自定义分类</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curMytype == '' }" @click="changeCurMyType('', '')">
              全部
            </li>
            <li v-for="(item, index) in customType" :key="index" :class="{ active: curMytype == item.id }" @click="changeCurMyType(index, item.id)">
              {{ item.name }}
            </li>
          </ul>
          <ul v-if="customTypeItem && customTypeItem.length > 0" class="flex-cw all-list">
            <li :class="{ active: curMytypeItem == '' }" @click="changeCurMyTypeItem('', '')">
              <span class="com-alt">占位符</span>全部
            </li>
            <li v-for="(item, index) in customTypeItem" :key="index" :class="{ active: curMytypeItem == item.name }" @click="changeCurMyTypeItem(item.name, item.id)">
              {{ item.name }}
            </li>
          </ul>
          <ul />
        </div>
      </div>
    </div>
    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-popover v-has="'supplier:addOrUpdateBrand'" placement="bottom" trigger="click">
            <div class="special-operate-wrap">
              <el-button @click="addSupplier(0)">添加单条</el-button>
              <el-button @click="multipAddSupplier">批量添加</el-button>
            </div>
            <el-button slot="reference" type="primary" class="flex-cc btn">
              <img src="@/assets/img/table/add.png" alt="" class="el-icon-search">添加供应商
            </el-button>
          </el-popover>

          <!-- <el-button type="primary" class="flex-cc btn" @click="addSupplier">
            <img
              src="@/assets/img/table/add.png"
              alt=""
              class="el-icon-search"
            />添加供应商
          </el-button> -->
          <el-button v-has="'supplier:deleteSupplier'" class="flex-cc btn btn-del" @click="allDeleteSuppliler">
            <img src="@/assets/img/table/del.png" alt="" class="el-icon-search">删除
          </el-button>
        </div>
        <div v-has="'supplier:exportSupplier'" class="flex-c cp" @click="exportFile">
          <img src="@/assets/img/table/export.png" alt="" class="imgs">
          <span>导出</span>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table ref="multipleTable" v-loading="tableLoading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%" @selection-change="multipleSelection = $event">
          <el-table-column type="selection" min-width="66px" />
          <el-table-column label="供应商名称" min-width="160px">
            <template slot-scope="scope">
              <span v-has.show="'supplier:getSupplierInfo'" class="t-color b-color cp" @click="toSupplierDetail(scope.row)">{{ scope.row.supplierName }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="supplierArea" min-width="100px" label="地区" />
          <el-table-column prop="category" min-width="100px" label="分类" />
          <el-table-column label="主营类目" min-width="160px">
            <template slot-scope="scope">
              <span :title="scope.row.mainBusiness" class="t-color r-wrap ellipsis2">{{ scope.row.mainBusiness }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="brandNames" label="关联品牌" min-width="150px">
            <template slot-scope="scope">
              <p class="t-color ellipsis2" :title="scope.row.brandNames">
                {{ scope.row.brandNames }}
              </p>
            </template>
          </el-table-column>
          <el-table-column prop="matCount" label="产品数量" min-width="90px" />
          <el-table-column label="联系方式" prop="phone" min-width="110px">
            <template slot-scope="scope">
              <p>{{ scope.row.contactName || "" }}</p>
              <span class="t-color">{{ scope.row.phone || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="$_has('supplier:updateBrand') || $_has('supplier:deleteSupplier')" label="操作" width="130px">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <el-tooltip v-has="'supplier:updateBrand'" effect="light" content="编辑" placement="top">
                  <img class="icons" src="@/assets/img/icons/edits.png" alt="" @click="addSupplier(scope.row)">
                </el-tooltip>
                <el-tooltip v-has="'supplier:deleteSupplier'" effect="light" content="删除" placement="top">
                  <img class="icons" src="@/assets/img/icons/dels.png" alt="" @click="deleteSuppliler(scope.row.id)">
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 批量添加供应商弹窗 -->
    <el-dialog title="添加供应商" :visible.sync="showImportDialog" :close-on-click-modal="false" width="490px" class="com-dialog my-dialog com-select">
      <template v-if="scanState == '0'">
        <div class="flex-cwsb com-input export-wrap">
          <div class="flex-c com-radio-wrap com-upload">
            <span class="label-text">批量上传：</span>
            <div class="flex-c">
              <div class="u-ipt" style="width: 240px">
                {{ curCustomFile.name }}
              </div>
              <div class="u-btn">上传</div>
              <div class="u-dot">...</div>
              <input ref="fileElem" class="u-file" type="file" @change="uploadCustomFile($event)">
            </div>
          </div>
          <div class="flex-c">
            <span class="label-text">导入模板：</span>
            <span class="u-mode-btn" @click="uploadTemp">供应商导入模板</span>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="showImportDialog = false">取消</el-button>
          <el-button type="primary" :loading="importLoading" @click="issueTemp">发布</el-button>
        </span>
      </template>
      <template v-if="scanState != '0'">
        <i v-if="scanState == '1' || scanState == '4'" class="el-icon-loading loading-icon" alt="" />
        <img v-if="scanState == '2'" src="@/assets/img/dialog/success.png" alt="">
        <img v-if="scanState == '3'" src="@/assets/img/dialog/error.png" alt="">
        <p v-if="scanState == '1'">安全扫描中，请耐心等候...</p>
        <p v-if="scanState == '4'">正在上传，请耐心等候...</p>
        <p v-if="scanState == '2'">
          附件上传成功<span class="suc-num">{{ successCount || 0 }}</span>条，失败<span class="err-num">{{ failCount }}</span>条
        </p>
        <p v-if="scanState == '3'">{{ errMsg || "附件上传失败" }}</p>

        <span v-if="(scanState == '2' && failCount > 0) || scanState == '3'" slot="footer" class="dialog-footer">
          <el-button v-if="scanState == '2' && failCount > 0" :loading="downloadKeyLoading" @click="downloadErrorList">
            下载失败清单</el-button>
          <el-button @click="showImportDialog = false">{{
            scanState == "2" ? "关闭" : "取消"
          }}</el-button>
          <el-button v-if="scanState == '3'" type="primary" @click="showImportDialog = false">确定
          </el-button>
        </span>
      </template>
    </el-dialog>

    <confirm-dialog :is-show.sync="showDeleteDialog" content-text="确定要删除该供应商吗？" @confirmClick="confirmDelete" />
  </div>
</template>

<script>
import {
  getSupplierPageList,
  getSupplierCondition,
  exportSupplier,
  deleteSupplier,
  getSupplierImportTemplate,
  importSupplier
} from '@/api/supplier'
import { downloadErrorExcel } from '@/api/common'
export default {
  name: 'SupplierIndex',
  data() {
    return {
      srarchTypeList: [
        {
          id: 3,
          name: '供应商'
        },
        {
          id: 2,
          name: '产品'
        },
        {
          id: 1,
          name: '品牌'
        }
      ],
      searchtype: 3,
      searchVal: '', // 搜索关键字

      curproList: [], // 项目地点列表(省)
      curCityList: [], // 项目地点列表(市)
      commonAreaList: [], // 省列表
      commonAreaListItem: [], // 市列表
      areaData: [], // 组装的地区数据
      curPro: null, // 选择项目地点(省)
      curCity: null, // 选择项目地点(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市

      tableLoading: false, // 表格loading
      tableData: [], // 表格数据
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项

      sourceList: ['系统添加', '造价通', '建信联'],
      curSource: null, // 选中的来源

      typeList: ['生产厂家', '经销批发', '商业服务', '招标代理', '其它'],
      curType: null, // 选中的分类

      customType: [], // 自定义分类列表
      customTypeItem: [], // 自定义分类列表（子项）
      curMytype: '', // 选中的自定义分类
      curMytypeItem: '', // 选中的自定义分类(子项)
      custypeId: '', // 自定义分类id（调接口用）

      curNormType: '', // 选中的国标分类（父项）
      normType: [], // 国标分类列表（父项）
      normTypeItem: [], // 国标分类列表（子项）
      normTypeItem2: [], // 国标分类列表（子项,调整分类用）
      curNormTypeItem: '', // 选中的国标分类（子项）
      normTypeThree: [], // 国际分类第三级
      curNormTypeThree: '',
      normTypeFourth: [], // 国际分类第四级
      curNormTypeFourth: '',
      normCode: '', // 国标分类id（调接口用）
      isMore: true, // 展开更多国际分类

      showDeleteDialog: false,
      isId: null,
      delType: 1, // 1、单条 2、多条
      showImportDialog: false, // 显示添加材料弹窗
      curCustomFile: {}, // 批量上传文档
      importLoading: false,

      scanState: '0', // 0发布, 1请求进行中，2请求成功，3请求失败
      successCount: 0, // 批量导入成功数
      failCount: 0, // 批量导入失败数
      downloadKey: '', // 下载失败清单key
      errMsg: '', // 错误信息
      downloadKeyLoading: false // 下载失败清单loading
    }
  },
  mounted() {
    this.getSupplierCondition() // 获取国标分类和自定义分类和城市

    this.getSupplierPageList() // 获取供应商列表
  },
  methods: {
    // 添加供应商
    addSupplier(row) {
      let id = ''
      if (row) id = row.id
      this.$router.push({
        path: '/publicModule/supplierlManage/addSupplier',
        query: {
          supplierId: id
        }
      })
    },
    // 批量添加供应商
    multipAddSupplier() {
      this.curCustomFile = {}
      this.scanState = '0'
      this.showImportDialog = true
    },
    // 批量删除供应商
    allDeleteSuppliler() {
      this.delType = 2
      if (this.multipleSelection.length > 0) {
        this.showDeleteDialog = true
      } else {
        this.openAlert()
      }
    },
    // 删除当前供应商
    deleteSuppliler(id) {
      this.delType = 1
      this.isId = id
      this.showDeleteDialog = true
    },
    // 确定删除
    confirmDelete() {
      const data = {
        supplierIds: this.isId
      }
      if (this.delType == 2) {
        const arr = this.multipleSelection.map(it => {
          return it.id
        })
        data.supplierIds = arr.join(',')
      }

      deleteSupplier(data).then(res => {
        if (res && res.code == '01') {
          this.getSupplierPageList()
          this.$message({
            type: 'success',
            message: '删除该供应商成功！'
          })
        }
      })
    },
    // 导出供应商
    exportFile() {
      if (this.totalCount == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }

      let text = '全部'

      const data = {
        queryType: this.searchtype, // 查询类型(1、品牌，2、产品，3、供应商)
        name: this.searchVal,
        province: this.curPro,
        city: this.curCity,
        category: this.curType,
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        subcid: this.normCode ? this.normCode : null // 国标分类id
      }

      if (this.multipleSelection.length > 0) {
        const arr = this.multipleSelection.map(it => {
          return it.id
        })

        data.ids = arr
        text = '当前选中'
      }

      this.$confirm(`确定导出${text}数据吗?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(res => {
          exportSupplier(data).then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '供应商.xls'
              )
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = event => {
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '供应商.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              sessionStorage.removeItem('blob_filename')
            }
          })
        })
        .catch(err => {})
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getSupplierPageList()
    },
    // 上传
    uploadCustomFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.curCustomFile = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    // 下载文件
    uploadTemp() {
      var loading = this.$loading({
        text: '模板下载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      getSupplierImportTemplate()
        .then(res => {
          console.log(res)
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '供应商导入模板.xls'
            )
            loading.close()
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {
            loading.close()
          }
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '供应商导入模板.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            loading.close()
          }
        })
        .catch(err => {
          loading.close()
        })
    },
    // 发布
    issueTemp() {
      if (!this.curCustomFile || !this.curCustomFile.size) {
        this.$message({
          type: 'error',
          message: '请上供应商文件'
        })
        return
      }

      this.scanState = '1'
      setTimeout(() => {
        this.scanState = '4'
      }, 1000)

      var formData = new FormData()
      formData.append('supplierFile', this.curCustomFile)

      setTimeout(() => {
        importSupplier(formData)
          .then(res => {
            if (res && res.code === '01') {
              this.scanState = '2'
              try {
                this.failCount = res.body.failCount
                this.successCount = res.body.successCount
                this.downloadKey = res.body.downloadKey

                if (this.failCount) this.scanState = '2' // 如果没有成功的

                if (this.successCount) {
                  this.mulTimer = setTimeout(() => {
                    this.currentPage = 1
                    this.getSupplierPageList() // 供应商列表
                  }, 1000)
                }
              } catch (err) {}
            } else {
              this.scanState = '3'
              this.errMsg = res.message || '添加失败'
            }
          })
          .catch(err => {
            this.scanState = '3'
            this.errMsg = err.message
          })
      }, this.$store.getters.loadingCommon)
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.restandDialog = false // 重新标准化
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })
    },
    // 获取供应商列表
    getSupplierPageList() {
      const data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        queryType: this.searchtype, // 查询类型(1、品牌，2、产品，3、供应商)
        name: this.searchVal,
        province: this.curPro,
        city: this.curCity,
        category: this.curType,
        custcId: this.custypeId ? this.custypeId : null, // 自定义分类id
        subcid: this.normCode ? this.normCode : null // 国标分类id
      }
      this.tableLoading = true
      getSupplierPageList(data).then(res => {
        if (res && res.code == '01') {
          console.log(res)
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
        }
        this.tableLoading = false
      })
    },
    // 筛选来源
    changeSource(name) {
      this.curSource = name
      this.currentPage = 1
      this.getSupplierPageList()
    },
    // 筛选分类
    changeType(name) {
      this.curType = name
      this.currentPage = 1
      this.getSupplierPageList()
    },
    // 项目地点（改省）
    changeCurPro(pro) {
      this.curPro = pro
      this.curCityList = this.areaData[pro]
      this.curCity = null
      this.currentPage = 1
      this.getSupplierPageList()

      // 筛选条件-适用地区-省份
      //   this.updateScreen("address", pro);
    },

    // 项目地点（改市）
    changeCurCity(city) {
      this.curCity = city
      this.currentPage = 1
      this.getSupplierPageList()

      // 筛选条件-适用地区-城市
      //   let reCity = city ? this.curPro + "-" + city : null;
      //   this.updateScreen("address", reCity, this.curPro);
    },

    // 获取国标分类和自定义分类和城市
    getSupplierCondition() {
      getSupplierCondition().then(res => {
        console.log('全部', res)
        if (res && res.code == '01') {
          this.customType = res.body.customClassifyList
          this.normType = res.body.subClassifyList

          this.commonAreaList = res.body.areaList
          const areaData = [] //  [{省：[{市：[区]}]}]
          const proList = []
          this.commonAreaList.forEach(item => {
            proList.push(item.name)
            const cityarr = []
            if (item.sub) {
              item.sub.forEach(city => {
                const areaarr = []
                if (city.sub) {
                  city.sub.forEach(area => {
                    areaarr.push(area.name)
                  })
                }
                const obj = {}
                obj.name = city.name
                obj.sub = areaarr
                cityarr.push(obj)
              })
            }
            areaData[item.name] = cityarr
          })
          this.curproList = proList
          this.areaData = areaData
        }
      })
    },

    // 筛选自定义分类(父项)
    changeCurMyType(index, id) {
      this.customTypeItem = []
      this.curMytype = id
      this.curMytypeItem = ''
      this.custypeId = id
      if (index !== '') {
        if (this.customType && this.customType.length > 0) {
          this.customTypeItem = this.customType[index].sub
        }
      }
      this.currentPage = 1
      this.getSupplierPageList()
    },
    // 筛选自定义分类(子项)
    changeCurMyTypeItem(name, id) {
      this.curMytypeItem = name
      if (id !== '') {
        this.custypeId = id
      } else {
        this.custypeId = this.curMytype
      }
      this.currentPage = 1
      this.getSupplierPageList()
    },

    // 获取(材价)国标分类
    getMatSubClassify(data) {
      return new Promise((resolve, reject) => {
        getMatSubClassify(data).then(res => {
          this.curNormType = ''
          this.curNormTypeItem = ''
          this.normCode = ''
          this.normTypeItem = []
          this.normTypeItem2 = []
          this.normType = res.body
          resolve()
        })
      })
    },
    // 切换国标分类（父项）
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      this.normCode = code
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
        this.curNormTypeItem = ''
        this.normTypeThree = []
        this.curNormTypeThree = ''
        this.normTypeFourth = []
        this.curNormTypeFourth = ''
      }
      this.currentPage = 1
      this.getSupplierPageList()
    },
    // 切换国标分类（子项）
    changeNormTypeItem(code, index) {
      this.curNormTypeItem = code
      if (code !== '') {
        this.normCode = code
        this.normTypeThree = this.normTypeItem[index].sub
      } else {
        this.normCode = this.curNormType
        this.normTypeThree = []
        this.curNormTypeThree = ''
        this.normTypeFourth = []
        this.curNormTypeFourth = ''
      }
      this.currentPage = 1
      this.getSupplierPageList()
    },
    // 切换国标分类（第三级）
    changeNormTypeThree(code, index) {
      this.curNormTypeThree = code
      if (code !== '') {
        this.normCode = code
        this.normTypeFourth = this.normTypeThree[index].sub
      } else {
        this.normCode = this.curNormTypeItem
        this.normTypeFourth = []
        this.curNormTypeFourth = ''
      }
      this.currentPage = 1
      this.getSupplierPageList()
    },
    // 切换国标分类（第四级）
    changeNormTypeFourth(code, index) {
      this.curNormTypeFourth = code
      if (code !== '') {
        this.normCode = code
      } else {
        this.normCode = this.curNormTypeThree
      }
      this.currentPage = 1
      this.getSupplierPageList()
    },

    // 跳转到详情
    toSupplierDetail(row) {
      this.$router.push({
        path: '/publicModule/supplierlManage/detail',
        query: {
          supplierId: row.id
        }
      })
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据操作'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/busScopePage.scss';

.supplier-container {
  .export-wrap {
    .u-dot {
      right: 100px;
    }

    > div {
      margin-bottom: 15px;
      width: 100%;

      > span {
        margin-right: 8px;
        white-space: nowrap;
      }
    }

    .u-mode-btn {
      color: $color-primary;
      cursor: pointer;
    }
  }

  .loading-icon {
    font-size: 46px;
    color: $color-primary;
    margin: 20px 0 40px;
  }

  .suc-num {
    color: #8cc929;
  }

  .err-num {
    color: #ff3c3c;
  }
}
</style>
<style lang="scss">
@import '../../styles/busCommPage.scss';

.supplier-container {
  .com-dialog .el-dialog__body {
    padding: 20px 30px;
  }

  .export-wrap {
    .el-select {
      width: 100%;
    }

    .el-radio {
      margin-right: 10px;
    }

    .el-radio__label {
      display: none;
    }
  }
}

.special-operate-wrap {
  button {
    display: block;
    padding: 0;
    margin-right: 0 !important;
    margin-left: 3px;
    margin-bottom: 6px;
    width: 118px;
    height: 34px;
    line-height: 34px;
    color: $color-primary;
    font-size: 14px;
    border: 1px solid $color-primary;

    &:hover {
      background: $color-primary;
      border: 1px solid;
      color: #fff;
    }
  }

  .el-button + .el-button {
    margin-left: 3px;
  }
}
</style>
