<template>
  <div class="target-container box-content">
    <div class="top">
      <div class="title">
        <div class="b-title">造价方案管理</div>
      </div>
      <div class="flex-fs custom-type ml-26 mt-10">
        <span class="com-label-text">适用地区</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: applyProvince === '' }"
              @click="changeApplyProvince('')"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || morePro"
              :class="{ active: applyProvince == item.name }"
              v-for="(item, index) in applyProvinceList"
              :key="item.id"
              @click="changeApplyProvince(item.name)"
            >
              {{ item.name }}
            </li>
            <span
              class="more mb-10"
              v-if="applyProvinceList && applyProvinceList.length > 8"
              @click="morePro = !morePro"
            >
              {{ morePro ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': morePro }"
              ></span>
            </span>
          </ul>
          <ul
            class="flex-cw all-list"
            v-if="applyCityList && applyCityList.length > 0"
          >
            <li
              :class="{ active: applyCityName == '' }"
              @click="changeApplyCity('')"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreCity"
              :class="{ active: applyCityName == item.name }"
              v-for="(item, index) in applyCityList"
              :key="item.id"
              @click="changeApplyCity(item.name)"
            >
              {{ item.name }}
            </li>
            <span
              class="more"
              v-if="applyCityList && applyCityList.length > 8"
              @click="moreCity = !moreCity"
            >
              {{ moreCity ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreCity }"
              ></span>
            </span>
          </ul>
        </div>
      </div>
    </div>
    <div class="center">
      <!-- 搜索 -->
      <div class="com-search2 mt-10 mb-20">
        <el-input
          class="search-ipt"
          placeholder="请输入方案名称搜索"
          v-model="searchVal"
          @keyup.enter.native="
            currentPage = 1;
            getTableList();
          "
        />
        <i
          class="el-icon-search"
          @click="
            currentPage = 1;
            getTableList();
          "
        ></i>
      </div>
      <!-- 测算阶段 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">测算阶段</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: stepStatus === '' }" @click="stepFilter('')">
              全部
            </li>
            <template v-for="item in stateList">
              <li
                :class="{ active: stepStatus === item.id }"
                @click="stepFilter(item.id)"
                :key="item.id"
                v-if="item.id != 1 && item.isEnable"
              >
                {{ item.useName }}
              </li>
            </template>
          </ul>
        </div>
      </div>
      <!-- 测算时间 -->
      <div class="flex-fs custom-type">
        <span class="com-label-text">测算时间</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: timeStatus === '' }" @click="timeFilter('')">
              全部
            </li>
            <li
              :class="{ active: timeStatus === item.id }"
              @click="timeFilter(item.id)"
              v-for="item in timeStatusList"
              :key="item.id"
            >
              {{ item.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 功能按钮/表格/分页 -->
    <div class="com-table table-wrap bottom">
      <!-- 按钮 -->
      <div class="flex-csb com-operate-wrap inquiry">
        <div class="flex-c">
          <el-button
            type="primary"
            class="flex-cc btn"
            slot="reference"
            @click="addCalculate"
          >
            <img
              src="@/assets/img/table/add.png"
              alt=""
              class="el-icon-search"
            />新增项目工程测算
          </el-button>
          <el-button class="flex-cc btn btn-del" @click="delCalculate">
            <img
              src="@/assets/img/table/del.png"
              alt=""
              class="el-icon-search"
            />删除
          </el-button>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
          @selection-change="multipleSelection = $event"
        >
          <el-table-column type="selection" width="66px"> </el-table-column>
          <el-table-column label="快速造价方案名称" width="180px">
            <template slot-scope="scope">
              <div class="p-color cp" @click="toDetail(scope.row)">
                {{ scope.row.name }}
              </div>
            </template>
          </el-table-column>
          <el-table-column label="测算阶段" align="center">
            <template slot-scope="scope">
              <div class="t-color">{{ scope.row.stageConfig }}</div>
            </template>
          </el-table-column>
          <el-table-column label="造价金额（元）">
            <template slot-scope="scope">
              <span class="t-color">{{
                formatNumber(scope.row.costPrice)
              }}</span>
            </template>
          </el-table-column>
          <el-table-column label="总建设面积">
            <template slot-scope="scope">
              <span class="t-color">{{
                formatNumber(scope.row.caliber, true) + scope.row.caliberUnit
              }}</span>
            </template>
          </el-table-column>
          <el-table-column label="单方造价">
            <template slot-scope="scope">
              <span class="t-color">{{
                scope.row.adjustEconIndex
                  ? formatNumber(scope.row.adjustEconIndex)
                  : formatNumber(scope.row.avgEconIndex)
              }}</span>
            </template>
          </el-table-column>
          <el-table-column label="适用地区">
            <template slot-scope="scope">
              <span class="t-color" v-if="scope.row.province">{{
                scope.row.province + "—" + scope.row.city
              }}</span>
            </template>
          </el-table-column>
          <el-table-column label="测算时间" min-width="90">
            <template slot-scope="scope">
              <span class="t-color">{{
                formatDate(scope.row.updateTime, "1")
              }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作员">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.updator }}</span>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleCurrentChange(1)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="totalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>

      <!-- 新增快速造价测算弹窗 -->
      <el-dialog
        title="新增快速造价测算"
        :visible.sync="newCalculateDialog"
        width="480px"
        class="com-dialog"
        :close-on-click-modal="false"
      >
        <div class="com-checkbox">
          <div class="flex-c mb-20">
            <span class="label-text">项目分类</span>
            <el-select
              v-model="specialtyType2"
              placeholder="专业"
              @change="selectSpecialtyType($event)"
              :title="specialtyType2"
            >
              <el-option
                v-for="item in curMajorList"
                :key="item.id"
                :label="item.name"
                :value="item.name"
              >
              </el-option>
            </el-select>
            <el-select
              style="margin: 0 10px"
              v-model="projectType2"
              placeholder="工程"
              @change="selectProjectType($event)"
              :title="projectType2"
            >
              <el-option
                v-for="item in curEngList"
                :key="item.id"
                :label="item.name"
                :value="item.name"
              >
              </el-option>
            </el-select>
            <!-- <el-select style="margin: 0 10px;" v-model="engType2" placeholder="建筑" :title="engType2">
              <el-option
                v-for="item in curBuildList"
                :key="item.id"
                :label="item.name"
                :value="item.name">
              </el-option>
            </el-select> -->
          </div>
          <div class="flex-c mb-20 ipt-area">
            <span class="label-text">适用地区</span>
            <el-select
              v-model="provinceName"
              placeholder="--- 省 ---"
              @change="changeProvince($event)"
            >
              <el-option
                v-for="item in provinceList"
                :key="item.name"
                :label="item.name"
                :value="item.name"
              >
              </el-option>
            </el-select>
            <el-select
              style="margin: 0 10px"
              v-model="cityName"
              placeholder="--- 市 ---"
              @change="changeCity($event)"
            >
              <el-option
                v-for="item in cityList"
                :key="item.name"
                :label="item.name"
                :value="item.name"
              >
              </el-option>
            </el-select>
          </div>
          <div class="flex-c mb-20">
            <span class="label-text ipt-text">测算阶段</span>
            <el-select v-model="curState" placeholder="--- 阶段 ---">
              <el-option
                v-for="item in stateList"
                :key="item.id"
                :label="item.useName"
                :disabled="!item.isEnable"
                :value="item.id"
                :hidden="item.id == 1"
              >
              </el-option>
            </el-select>
          </div>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="newCalculateDialog = false">取消</el-button>
          <el-button type="primary" @click="newData">确定</el-button>
        </span>
      </el-dialog>

      <!-- 删除测算弹窗 -->
      <el-dialog
        title="操作提示"
        :visible.sync="delCalculateDialog"
        width="420px"
        class="com-dialog deldialog"
        :close-on-click-modal="false"
      >
        <img src="@/assets/img/dialog/confirm.png" alt="" class="mt-20 mb-20" />
        <p class="ml-20">确定删除所选造价方案?</p>
        <span slot="footer" class="dialog-footer">
          <el-button @click="delCalculateDialog = false">取消</el-button>
          <el-button
            type="primary"
            @click="delData"
            :style="disableBtn ? 'pointer-events: none;opacity:.6' : ''"
            >确定<span v-if="delSecond > 0">({{ delSecond }})</span></el-button
          >
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { bigListPage, deleteBig } from "@/api/target";
import { queryProjectTypeTree } from "@/api/newProject";
import { getAreaTree, getCostCalculateArea } from "@/api/common";

import { formatDate } from "@/utils/common";
import CategoryTree from "@/components/CategoryTree/index.vue";

export default {
  name: "TargetCost",
  components: {
    CategoryTree,
  },

  data() {
    return {
      formatDate: formatDate,
      applyProvinceList: [], // 适用省数组
      applyProvince: "", // 适用地区(省)
      applyCityList: [], // 适用城市数组
      applyCityName: "", // 适用地区(市)
      morePro: false, // 展开省
      moreCity: false, // 展开市
      searchVal: "", // 搜索关键字
      stepStatus: "", // 测算阶段
      timeStatus: "", // 测算时间
      timeStatusList: [
        { id: 1, name: "最近一个月" },
        { id: 3, name: "最近三月" },
        { id: 6, name: "最近半年" },
        { id: 12, name: "最近一年" },
      ], // 测算时间列表
      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      tableLoading: false, // 表格loading
      tableData: [], // 表格数据

      delCalculateDialog: false, // 是否显示删除测算弹窗
      disableBtn: true, // 禁用按钮
      delTimer: null, // 删除提示定时器
      delSecond: 0, // 倒计时秒数

      newCalculateDialog: false, // 是否显示新增测算弹窗
      provinceList: [], // 省列表
      cityList: [], // 市列表
      provinceName: "", // 选省名称
      cityName: "", // 选市名称
      curState: "", // 选测算阶段
      specialtyType2: "", // 专业类型
      projectType2: "", // 项目类型
      engType2: "", // 工程类型
      curProjectTypeList: [], // 项目分类列表
      curMajorList: [], // 专业分类列表
      curEngList: [], // 工程分类列表
      curBuildList: [], // 建筑分类列表
    };
  },

  mounted() {
    this.getCostCalculateArea() // 获取适用地区
    this.getAreaTree(); // 获取新增弹窗所有地区
    this.getBuildList(); // 获取项目分类
    // this.getTableList(); // 获取表格数据
  },

  computed: {
    stateList() {
      // 造价阶段列表
      return this.$store.state.project.stageList;
    },
    // 默认城市
    defaultCity() {
      return sessionStorage.getItem('init_default_city')
    },
    // 默认省份
    defaultProvince() {
      return sessionStorage.getItem('init_default_province')
    },
  },

  methods: {
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据操作";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      });
    },

    // 获取表格数据
    getTableList() {
      const data = {
        province: this.applyProvince,
        city: this.applyCityName,
        name: this.searchVal,
        stageConfigId: this.stepStatus,
        timeType: this.timeStatus,
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        clsType: 2,
      };
      this.tableLoading = true;
      bigListPage(data).then((res) => {
        this.tableLoading = false;
        if (res && res.code == "01") {
          this.tableData = res.body.list;
          this.totalCount = res.body.totalCount;
        }
      });
    },

    // 获取适用省，市
    getCostCalculateArea() {
      const params = {
        clsType: 2
      }
      getCostCalculateArea(params).then((res) => {
        if (res.code === "01") {
          this.applyProvinceList = res.body // 适用地区
          this.applyCityList = this.applyProvinceList[0].sub

          // 默认选中江门市
          this.$nextTick(() => {
            this.morePro = true;
            this.changeApplyProvince(this.defaultProvince, true);
            this.changeApplyCity(this.defaultCity);
          });
        }
      });
    },
    // 获取所有省，市
    getAreaTree() {
      getAreaTree().then(res => {
        if (res.code === '01') {
          // this.applyProvinceList = res.body // 适用地区
          this.provinceList = res.body // 弹窗省市
          this.cityList = this.provinceList[0].sub
          // 默认选中江门市
          this.changeProvince(this.defaultProvince)
          this.changeCity(this.defaultCity)
        }
      })
    },
    // 切换适用省份
    changeApplyProvince(name, no) {
      if (name === "") {
        this.applyProvince = "";
        this.applyCityName = "";
        this.applyCityList = [];
      } else {
        for (var i = 0; i < this.applyProvinceList.length; i++) {
          if (this.applyProvinceList[i].name == name) {
            this.applyProvince = this.applyProvinceList[i].name;
            this.applyCityList = this.applyProvinceList[i].sub;
            this.applyCityName = "";
          }
        }
      }
      this.currentPage = 1;
      if (!no) this.getTableList();
    },

    // 切换适用城市
    changeApplyCity(name) {
      // if (index === "") {
      //   this.applyCityName = "";
      // } else {
      //   for (var i = 0; i < this.applyCityList.length; i++) {
      //     if (this.applyCityList[i].name == name) {
      //       this.applyCityName = this.applyCityList[i].name;
      //     }
      //   }
      // }

      this.applyCityName = name;
      this.currentPage = 1;
      this.getTableList();
    },

    // 筛选测算阶段
    stepFilter(step) {
      this.stepStatus = step;
      this.currentPage = 1;
      this.getTableList();
    },

    // 筛选测算时间
    timeFilter(step) {
      this.timeStatus = step;
      this.currentPage = 1;
      this.getTableList();
    },

    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getTableList();
    },

    // 删除测算(弹窗)
    delCalculate() {
      if (this.multipleSelection.length == 0) {
        this.openAlert();
        return;
      }
      this.delSecond = 3;
      this.disableBtn = true;
      this.delTimer = setInterval(() => {
        this.delSecond--;
        if (this.delSecond == 0) {
          clearInterval(this.delTimer);
          this.disableBtn = false;
        }
      }, 1000);
      this.delCalculateDialog = true;
    },

    // 删除测算(接口)
    delData() {
      const ids = [];
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id);
      }
      const params = {
        ids: ids.join(","),
      };
      deleteBig(params).then((res) => {
        if (res.code == "01") {
          this.$message({
            type: "success",
            message: res.message || "删除成功",
          });
          this.delCalculateDialog = false;
          this.currentPage = 1;
          this.getTableList();
        } else {
          this.$message({
            type: "error",
            message: res.message || "删除失败",
          });
        }
      });
    },

    // 切换省份(弹窗)
    changeProvince(pro) {
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].name === pro) {
          this.cityList = this.provinceList[i].sub;
          this.cityName = this.cityList[0].name;
        }
      }
    },

    // 切换城市(弹窗)
    changeCity(city) {
      // for (var i = 0; i < this.cityList.length; i++) {
      //   if (this.cityList[i].name === city) {
      //     this.cityName = this.cityList[i].name;
      //   }
      // }
    },

    // 新增测算(弹窗)
    addCalculate() {
      // 置空
      this.curState = "";

      // this.provinceName = "";
      // this.cityName = "";

      // 默认选中江门市
      this.provinceName = this.defaultProvince;
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].name === this.provinceName) {
          this.cityList = this.provinceList[i].sub;
          this.cityName = this.defaultCity;
          break;
        }
      }

      this.engType2 = "";
      this.projectType2 = "";
      this.specialtyType2 = "";
      this.newCalculateDialog = true;
    },

    // 新增测算(接口)
    newData() {
      if (!this.projectType2 || !this.specialtyType2) {
        // !this.engType2 ||
        this.$message({
          type: "error",
          message: "请选择项目分类",
        });
        return;
      } else if (!this.provinceName || !this.cityName) {
        this.$message({
          type: "error",
          message: "请选择适用地区",
        });
        return;
      } else if (!this.curState) {
        this.$message({
          type: "error",
          message: "请选择测算阶段",
        });
        return;
      }
      this.newCalculateDialog = false;

      let state = "";
      const area = this.provinceName + "-" + this.cityName;
      this.stateList.forEach((item) => {
        if (item.id == this.curState) state = item.useName;
      });
      // let engTypeCode = ''
      // this.curBuildList.forEach(item=>{
      //   if(item.name == this.engType2) engTypeCode = item.code
      // })
      let specialtyCode = "";
      this.curMajorList.forEach((item) => {
        if (item.name == this.specialtyType2) specialtyCode = item.code;
      });
      this.$router.push({
        path: "/targetApplication/bigNewCalculation",
        query: {
          stageConfigId: this.curState, // 阶段id
          area: area, // 适用地区
          state: state, // 阶段名称
          specialtyType: this.specialtyType2,
          projectType: this.projectType2,
          // engType: this.engType2,
          // engTypeCode: engTypeCode,
          specialtyCode: specialtyCode,
        },
      });
    },

    // 获取项目分类
    getBuildList() {
      var formData = new FormData();
      formData.append("type", 1);
      queryProjectTypeTree(formData).then((res) => {
        if (res.code == "01") {
          this.curProjectTypeList = res.body;
          const curMajorList = [];
          this.curProjectTypeList.forEach((item) => {
            curMajorList.push(item);
          });
          this.curMajorList = curMajorList;
        }
      });
    },

    // 选择专业
    selectSpecialtyType(e) {
      this.curMajorList.forEach((item) => {
        if (item.name == e) {
          this.curEngList = item.subs;
          this.curBuildList = [];
          this.projectType2 = "";
          this.engType2 = "";
        }
      });
    },

    // 选择工程
    selectProjectType(e) {
      this.curEngList.forEach((item) => {
        if (item.name == e) {
          this.curBuildList = item.subs;
          this.engType2 = "";
        }
      });
    },

    // 方案详情
    toDetail(item) {
      this.$router.push({
        path: "/targetApplication/bigCalculaDetail",
        query: {
          id: item.id,
          type: item.calculateDime,
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.target-container {
  .com-label-text .com-label-text {
    padding: 2px 0;
  }
  > div {
    // border-radius: 8px;
    background: #fff;
  }
  .custom-type {
    > span {
      margin-right: 15px;
      white-space: nowrap;
      min-width: 72px;
    }
    .more {
      color: $color-primary;
      cursor: pointer;
      font-size: 12px;
    }
    .el-icon-arrow-up,
    .el-icon-arrow-right {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      &.is-rotate {
        transform: rotate(180deg);
      }
    }
    .is-fold {
      max-height: 50px;
      overflow-y: hidden;
    }
    .t-wrap {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      ul {
        margin-bottom: 10px;
        &.all-list {
          padding: 5px 12px;
          background: #f3f3f4;
          box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
          border-radius: 5px;
          li {
            padding-top: 8px;
            padding-bottom: 8px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        li {
          padding-bottom: 8px;
          margin-right: 24px;
          font-size: 14px;
          color: #666;
          cursor: pointer;
          &.active {
            color: $color-minor;
          }
          &:hover {
            color: $color-minor;
          }
        }
      }
    }
  }
  .top {
    padding-top: 10px;
    border-top: 1px solid #f6f6f6;
    .title {
      padding: 16px 0;
      margin-left: -8px;
    }
  }
  .center {
    padding: 1px 26px 16px;
    margin-bottom: 11px;
    border-radius: 0 0 8px 8px;
  }
  .bottom {
    min-height: 420px;
    border-radius: 8px;
    .inquiry {
      background: #fcfcfd;
      .btn {
        width: 160px;
        height: 34px;
        color: #ffffff !important;
        border-radius: 5px;
        font-size: 15px;
        font-family: "mainfont";
        font-weight: 500;
        &:hover {
          border: 1px solid;
        }
        .el-icon-search {
          margin-right: 5px;
        }
      }
      .btn-del {
        width: 82px;
        color: #f13a3f !important;
        border-color: #f13a3f;
        &:hover {
          box-shadow: 0px 1px 4px 0px #f13a3f;
          background: #ffffff !important;
        }
      }
    }
    .table-box {
      padding-bottom: 30px;
      .t-color {
        font-weight: 400;
        color: $table-color;
        .typetip {
          color: #999;
          font-size: 13px;
        }
      }
    }
  }
}
</style>

<style lang="scss">
.target-container {
  .t-wrap {
    .flex-cw {
      padding: 2px 0;
      border-bottom: 1px solid #f3f3f4;
    }
  }
  .deldialog {
    .el-dialog__body {
      text-align: center;
    }
  }
  .com-checkbox {
    .el-select {
      width: 130px;
    }
  }
}
</style>

