<template>
  <div class="calculadetail-container mt-10">
    <div v-if="detail" class="tab-content">
      <!-- 左侧内容 -->
      <div class="content-left print">
        <div class="tab-info">
          <div class="title">
            <div class="b-title">测算基础信息</div>
          </div>
          <div class="flex-cc">
            <div class="flex-cw">
              <div class="line flex-c">
                <div class="mr-20">方案名称</div>
                <div class="com-label-text">{{ detail.name }}</div>
              </div>
              <div class="line flex-c">
                <div class="mr-20">测算阶段</div>
                <div class="com-label-text">{{ detail.stageConfig }}</div>
              </div>
              <div class="line flex-c">
                <div class="mr-20">项目分类</div>
                <div class="com-label-text">
                  {{
                    detail.specialtyType +
                      "-" +
                      detail.projectType +
                      "-" +
                      detail.engType
                  }}
                </div>
              </div>
            </div>
            <div class="flex-cw">
              <div class="line flex-c">
                <div class="mr-20">测算维度</div>
                <div class="com-label-text">{{ calculateDime }}</div>
              </div>
              <div class="line flex-c">
                <div class="mr-20">适用地区</div>
                <div class="com-label-text">
                  {{ detail.province + "-" + detail.city }}
                </div>
              </div>
              <div class="line flex-c">
                <div class="mr-20">操作员</div>
                <div class="com-label-text">{{ detail.updator }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="main mt-10">
          <div class="title">
            <div class="b-title">快速造价参数设置</div>
          </div>
          <div class="tab-info2 flex-cw">
            <div class="line flex-c">
              <div class="mr-20">建筑面积</div>
              <div class="com-label-text">
                {{ formatNumber(detail.caliber) + detail.caliberUnit }}
              </div>
            </div>
            <div class="line flex-c">
              <div class="mr-20">换算时间</div>
              <div class="com-label-text">
                {{ formatDate(detail.matrixingTime, "4") || "无" }}
              </div>
            </div>
          </div>
          <div class="tab-info2 flex-cw">
            <div v-for="item in detail.costFeatureMapReqs" :key="item.tecFeatureId" class="line flex-c">
              <div class="mr-20">{{ item.name }}</div>
              <div class="com-label-text">{{ item.value }}</div>
            </div>
          </div>
        </div>
        <div class="main mt-10">
          <div class="title flex-c">
            <div class="b-title">测算方案</div>
            <div class="target-tip">
              <span class="blue">测算数据源自综合指标库具备造价参考意义的指标</span>
            </div>
          </div>
          <!-- 测算方案 -->
          <!-- 分部工程 -->
          <div v-if="isFB" class="table-box pb-20">
            <el-table ref="multipleTable" key="FB" :data="detail.costCalculateSchemeFBReqs" tooltip-effect="dark" class="table-main" style="width: 100%" :default-expand-all="true"
              header-row-class-name="header-row">
              <!-- 分部 -->
              <el-table-column type="expand" width="48px">
                <template slot-scope="scope">
                  <el-table :row-key="getSubRowKeys" :expand-row-keys="subExpandRowKeys" :data="scope.row.costCalculateSchemeReqs" key="subFB" :show-header="false" style="width: 100%"
                    class="sub-expand-table" @expand-change="subExpandChange">
                    <el-table-column label="单位工程" width="75px" prop="" />
                    <el-table-column prop="branchName" label="分部工程" />
                    <el-table-column label="综合单方造价">
                      <template slot-scope="subScope">
                        <div>
                          {{
                            subScope.row.econIndex +
                              "元/" +
                              subScope.row.projectStageUnit
                          }}
                        </div>
                      </template>
                    </el-table-column>
                    <el-table-column label="指标合理区间">
                      <template slot-scope="subScope">
                        <div class="b-color cp">
                          {{
                            subScope.row.indexSectionMax
                              ? subScope.row.indexSectionMin +
                                "~" +
                                subScope.row.indexSectionMax
                              : ""
                          }}
                        </div>
                      </template>
                    </el-table-column>
                    <el-table-column label="造价金额(元)" align="center">
                      <template slot-scope="subScope">
                        <div class="b-color cp">
                          {{ subScope.row.costPrice }}
                        </div>
                      </template>
                    </el-table-column>
                    <el-table-column label="占比(%)" width="66px">
                      <template slot-scope="subScope">
                        <div>{{ subScope.row.ratio }}</div>
                      </template>
                    </el-table-column>
                    <el-table-column label="占比合理范围(%)">
                      <template slot-scope="subScope">
                        <div class="b-color cp">
                          {{
                            subScope.row.ratioScopeMax
                              ? subScope.row.ratioScopeMin +
                                "~" +
                                subScope.row.ratioScopeMax
                              : ""
                          }}
                        </div>
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
              </el-table-column>
              <!-- 分部end -->
              <el-table-column label="单位工程" prop="name" width="75" />
              <el-table-column label="分部工程" prop="" />
              <el-table-column label="综合单方造价" prop="" />
              <el-table-column label="指标合理区间" prop="" />
              <el-table-column label="造价金额(元)" align="center" prop="" />
              <el-table-column label="占比(%)" width="66px" prop="" />
              <el-table-column label="占比合理范围(%)" prop="" />
            </el-table>
          </div>
          <div v-else class="table-box pb-20">
            <el-table ref="multipleTable" key="noFB" :data="detail.costCalculateSchemeReqs" tooltip-effect="dark" class="table-main" style="width: 100%">
              <el-table-column label="指标名称">
                <template slot-scope="scope">
                  <div>
                    {{
                      scope.row.projectName ||
                        scope.row.unitName ||
                        scope.row.materialsName ||
                        scope.row.branchName
                    }}
                  </div>
                </template>
              </el-table-column>
              <el-table-column :label="'综合单方造价 (元/' + detail.caliberUnit + ')'" width="138px">
                <template slot-scope="scope">
                  <div>{{ formatNumber(scope.row.econIndex) }}</div>
                </template>
              </el-table-column>
              <el-table-column :label="'指标合理区间(元/' + detail.caliberUnit + ')'">
                <template slot-scope="scope">
                  <div>
                    {{ formatNumber(scope.row.indexSectionMin) }} ~
                    {{ formatNumber(scope.row.indexSectionMax) }}
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="造价金额 (元)" align="center">
                <template slot-scope="scope">
                  <div>{{ formatNumber(scope.row.costPrice) }}</div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>

      <!-- 右侧内容 -->
      <div class="content-right print">
        <!-- 测算结果 -->
        <div class="main">
          <div class="title flex-csb">
            <div class="b-title">
              测算结果(换算时间:
              {{
                detail.matrixingTime
                  ? formatDate(detail.matrixingTime, "4")
                  : "无"
              }})
            </div>
            <el-button type="primary" class="btn-export" @click="exportPlan">导出方案</el-button>
          </div>
          <div class="result-info flex-cc">
            <div class="result-title flex-cc">造价测算结果</div>
            <div class="result-data flex-csb">
              <img src="@/assets/img/v2.0/num_1.png" alt="" class="mr-15">
              <div class="price_box">
                <div class="prop c1">造价金额 (元)</div>
                <div class="price">{{ formatNumber(detail.costPrice) }}</div>
              </div>
            </div>
            <div class="result-data flex-csb">
              <img src="@/assets/img/v2.0/num_2.png" alt="" class="mr-15">
              <div class="price_box">
                <div class="prop c2">建筑面积 ({{ detail.caliberUnit }})</div>
                <div class="price">{{ formatNumber(detail.caliber) }}</div>
              </div>
            </div>
            <div class="result-data flex-csb">
              <img src="@/assets/img/v2.0/target_num3.png" alt="" class="mr-15">
              <div class="price_box">
                <div class="prop c3">单方造价 (元/{{ detail.caliberUnit }})</div>
                <div class="price">{{ formatNumber(detail.avgEconIndex) }}</div>
              </div>
            </div>
          </div>
          <div v-if="detail.floatRate" class="result-info flex-cc">
            <div class="result-title result-title2 flex-cc">浮动率调整结果</div>
            <div class="result-data result-data2 flex-csb">
              <img src="@/assets/img/v2.0/num_4.png" alt="" class="mr-15">
              <div class="price_box">
                <div class="prop c4">调整后测算金额 (元)</div>
                <div class="price">
                  {{ formatNumber(detail.adjustCalculatePrice) }}
                </div>
              </div>
            </div>
            <div class="result-data result-data2 flex-csb">
              <img src="@/assets/img/v2.0/num_5.png" alt="" class="mr-15">
              <div class="price_box">
                <div class="prop c5">浮动率</div>
                <div class="price">{{ detail.floatRate }}%</div>
              </div>
            </div>
            <div class="result-data result-data2 flex-csb">
              <img src="@/assets/img/v2.0/num_6.png" alt="" class="mr-15">
              <div class="price_box">
                <div class="prop c6">
                  调整后单方造价 (元/{{ detail.caliberUnit }})
                </div>
                <div class="price">
                  {{ formatNumber(detail.adjustEconIndex) }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 单位工程造价占比 -->
        <div v-if="calculateDime == '单项工程指标'" class="main">
          <div class="title flex-csb">
            <div class="b-title">单位工程造价占比</div>
          </div>
          <div class="table-box pb-20">
            <el-table ref="multipleTable" key="percentTable" :data="detail.costCalculateRatioReqs" tooltip-effect="dark" class="table-main" style="width: 100%">
              <el-table-column label="名称" prop="name" />
              <el-table-column label="占比">
                <template slot-scope="scope">
                  <div>{{ scope.row.ratio }}%</div>
                </template>
              </el-table-column>
              <el-table-column label="测算金额(元)">
                <template slot-scope="scope">
                  <div class="b-color">
                    {{ formatNumber(scope.row.calculatePrice) }}
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <!-- 建设其他费(先屏蔽) -->
        <div v-if="false && (detail.stageConfig == '估算' || detail.stageConfig == '概算')" class="main">
          <div class="title flex-csb">
            <div class="b-title">设建设其他费</div>
          </div>
          <div class="table-box pb-20">
            <el-table ref="multipleTable" key="feeTable" :data="detail.costCalculateOtherPriceReqs" tooltip-effect="dark" class="table-main" style="width: 100%">
              <el-table-column label="名称" prop="name" />
              <!-- <el-table-column
                  label="费率">
                  <template slot-scope="scope">
                    <div>{{scope.row.rate}}%</div>
                  </template>
                </el-table-column> -->
              <el-table-column label="金额(元)">
                <template slot-scope="scope">
                  <div class="b-color">
                    {{ formatNumber(scope.row.price) }}
                  </div>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { infoApi } from '@/api/target'
import { formatDate } from '@/utils/common'

export default {
  name: 'CalculaDetail',
  data() {
    return {
      detail: null, // 详情
      isFB: false, // 是否为分部
      formatDate: formatDate,
      expandRowKeys: [],
      getRowKeys(row) {
        return row.unitCode
      },
      subExpandRowKeys: [],
      getSubRowKeys(row) {
        return row.code
      }
    }
  },

  computed: {
    // 测算维度
    calculateDime() {
      return this.detail.calculateDime == 1
        ? '单项工程指标'
        : this.detail.calculateDime == 2
          ? '单位工程指标'
          : this.detail.calculateDime == 3
            ? '分部工程指标'
            : '主材总造价指标'
    }
  },

  mounted() {
    this.isFB = this.$route.query.type == 3
    this.getDetail()
  },

  methods: {
    // 请求详情信息
    getDetail() {
      infoApi({ id: this.$route.query.id }).then(res => {
        if (res.code == '01') {
          this.detail = res.body
        }
      })
    },

    // 导出方案
    exportPlan() {
      const subOutPrintButton = document.getElementsByClassName('print')

      var newContent = []
      for (let i = 0; i < subOutPrintButton.length; i++) {
        var obj = subOutPrintButton[i].innerHTML
        newContent.push(obj)
      }

      document.body.innerHTML = newContent

      const body = document.getElementsByTagName('body')[0]
      body.style.zoon = 0.85

      const btn = document.getElementsByClassName('btn-export')[0]
      btn.style.display = 'none'

      this.$nextTick(() => {
        window.print()
        window.location.reload()
      })
    },

    // 计算详情页
    toDetail(item) {
      const query = {
        id: item.id,
        type: 1
      }
      const routeData = this.$router.resolve({
        name: 'SynthesizeDetail',
        query
      })
      window.open(routeData.href, '_blank')
    },

    // 展开分部
    expandChange(row, expandRows) {
      this.expandRowKeys = []
      if (expandRows.length) {
        if (row) {
          this.expandRowKeys.push(row.unitCode)
        }
      }
    },

    // 展开分项
    subExpandChange(row, expandRows) {
      this.subExpandRowKeys = []
      if (expandRows.length) {
        if (row) {
          this.subExpandRowKeys.push(row.code)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';

.calculadetail-container {
  // 主内容
  .tab-content {
    display: flex;
    flex-wrap: wrap;

    .content-left {
      // width: 534px;
      width: 734px;

      > div {
        border-radius: 8px;
        background: #ffffff;
      }

      .tab-info {
        .title {
          padding: 20px 0;

          .b-title {
            margin-left: 0;
          }
        }

        .line {
          color: #999999;
          font-weight: bold;
          font-size: 12px;
          padding: 0 0 21px 25px;

          .com-label-text {
            font-size: 12px;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .main {
        padding: 20px 20px 0;

        .tab-info2 {
          .line {
            width: 100%;
            color: #999999;
            font-weight: bold;
            font-size: 12px;
            padding: 0 0 21px 5px;

            .com-label-text {
              font-size: 12px;
            }
          }
        }

        .b-title {
          margin-left: -20px;
        }

        .title {
          margin-bottom: 20px;
        }
      }
    }

    .content-right {
      // flex: 1;
      width: calc(100% - 742px);
      margin-left: 8px;
      border-radius: 8px;
      min-width: 726px;
      background: #fff;
      padding: 20px;

      .result-info {
        width: 100%;
        height: 98px;
        padding-bottom: 28px;
        box-sizing: content-box;

        > div {
          border-radius: 2px;
          margin-right: 4px;
          height: 100%;
        }

        .result-title {
          width: 142px;
          color: #ffffff;
          background: #36cfc9;
        }

        .result-title2 {
          background: #429fff;
        }

        .result-data {
          flex: 1;
          background: #f5f5f5;
          border-top: 4px solid #36cfc9;
          padding: 0 20px;

          .price_box {
            font-size: 12px;
            line-height: 30px;

            .prop {
              opacity: 0.7;
            }

            .price {
              font-size: 18px;
              font-weight: bold;
              line-height: 30px;
              text-align: center;
            }
          }

          .c1 {
            color: #649bfd;
          }

          .c2 {
            color: #f4ad64;
          }

          .c3 {
            color: #0facd5;
          }

          .c4 {
            color: #a489d8;
          }

          .c5 {
            color: #36cfc9;
          }

          .c6 {
            color: #f4ad64;
          }
        }

        .result-data2 {
          border-top: 4px solid #429fff;
        }
      }

      .b-title {
        margin-left: -20px;
      }

      .title {
        margin-bottom: 20px;
      }

      .label-text {
        min-width: 90px;
      }

      .target-tip {
        padding: 20px 0 13px;

        .blue {
          color: $color-primary;
        }
      }

      .b-color {
        color: $color-primary;
      }

      .r-color {
        color: $color-danger;
      }
    }
  }
}

.blue {
  margin-left: 10px;
  color: #999999;
  font-size: 12px;
}
</style>

<style lang="scss">
@import '../../styles/variables.scss';

.calculadetail-container {
  .el-table__expanded-cell {
    padding-right: 0 !important;
  }

  .el-tabs--border-card {
    border: none !important;
    box-shadow: none !important;

    > .el-tabs__header {
      border-bottom: none;
    }

    .el-tabs__item {
      width: 222px;
      height: 57px;
      line-height: 57px;
      text-align: center;
      border-top: 4px solid #cfcfcf;
      margin-right: 4px;
      background: #f1f1f1;
      padding: 0;
      border-radius: 6px;
      font-size: 15px;
      color: #999999;
      font-weight: bold;
    }

    .is-active {
      color: #333333 !important;
      border-right: none;
      border-top-color: $color-primary;
    }

    .el-tabs__content {
      display: none;
    }
  }

  .table-box {
    .el-table {
      font-size: 12px;
      border-radius: 2px;

      .el-table__row {
        font-size: 14px;
      }

      .el-table__header th {
        color: #999999;
        background: #eff2f7;
      }
    }
  }

  .select-way {
    .el-input__inner {
      width: 310px;
      height: 32px;
    }
  }

  .float {
    .el-input__inner {
      height: 30px;
    }

    .el-input__suffix {
      top: 5px;
      right: 8px;
    }

    .is-focus .el-input__suffix {
      top: -5px;
    }

    .el-select .el-input__inner {
      border-radius: 15px 0 0 15px !important;
      border-right: none;
    }

    .float-num .el-input__inner {
      border-radius: 0 15px 15px 0 !important;
    }
  }
}

.table-main {
  // border: 1px solid red;

  .el-table__header-wrapper,
  .el-table__body-wrapper {
    display: flex;
  }

  .el-table__header,
  .el-table__body {
    flex: 1;
    width: 100%;

    tr {
      width: 100%;
    }
  }

  .el-table__header {
    table-layout: auto;

    .has-gutter tr {
      width: 100%;
    }
  }
}

// css 打印设置
@media print {
  body {
    height: auto !important; // 打印必须设置成auto，否则只会打印第一页
    -webkit-print-color-adjust: exact; // 默认打印背景
    -moz-print-color-adjust: exact;
    -ms-print-color-adjust: exact;
    background-clip: text;
  }

  .tab-info {
    .title {
      padding: 20px 0;

      .b-title {
        margin-left: 0;
      }
    }

    .line {
      color: #999999;
      font-weight: bold;
      font-size: 12px;
      padding: 0 0 21px 25px;

      .com-label-text {
        font-size: 12px;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .main {
    padding: 20px 20px 0;

    .tab-info2 {
      .line {
        width: 100%;
        color: #999999;
        font-weight: bold;
        font-size: 12px;
        padding: 0 0 21px 5px;

        .com-label-text {
          font-size: 12px;
        }
      }
    }

    .b-title {
      margin-left: -20px;
    }

    .title {
      margin-bottom: 20px;
    }
  }

  .result-info {
    width: 100%;
    height: 98px;
    padding-bottom: 28px;
    box-sizing: content-box;

    > div {
      border-radius: 2px;
      margin-right: 4px;
      height: 100%;
    }

    .result-title {
      width: 142px;
      color: #ffffff;
      background: #36cfc9;
    }

    .result-title2 {
      background: #429fff;
    }

    .result-data {
      flex: 1;
      background: #f5f5f5;
      border-top: 4px solid #36cfc9;
      padding: 0 20px;

      .price_box {
        font-size: 12px;
        line-height: 30px;

        .prop {
          opacity: 0.7;
        }

        .price {
          font-size: 18px;
          font-weight: bold;
          line-height: 30px;
          text-align: center;
        }
      }

      .c1 {
        color: #649bfd;
      }

      .c2 {
        color: #f4ad64;
      }

      .c3 {
        color: #0facd5;
      }

      .c4 {
        color: #a489d8;
      }

      .c5 {
        color: #36cfc9;
      }

      .c6 {
        color: #f4ad64;
      }
    }

    .result-data2 {
      border-top: 4px solid #429fff;
    }
  }

  .b-title {
    margin-left: -20px;
  }

  .title {
    margin-bottom: 20px;
  }

  .label-text {
    min-width: 90px;
  }

  .target-tip {
    padding: 20px 0 13px;

    .blue {
      color: $color-primary;
    }
  }

  .b-color {
    color: $color-primary;
  }

  .r-color {
    color: $color-danger;
  }

  .btn-export {
    display: none;
  }

  @page {
    size: 1240px 1754px; // 纸张大小 a4比例
  }
}
</style>
