<template>
  <div class="common-container history-container">
    <!-- 顶部筛选 -->
    <div class="screen">
      <!-- 搜索 -->
      <div class="com-search2 mt-20 mb-20">
        <el-input
          placeholder="请输入换算工程名称搜索"
          v-model="keyword"
          class="search-ipt"
          @keyup.enter.native="searchFun"
        />
        <i class="el-icon-search" @click="searchFun"></i>
      </div>
      <!-- 操作时间 -->
      <div class="flex-fs norm-type">
        <span class="s-text com-label-text">操作时间</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: curDate === null }"
              @click="changeCurTime(null)"
            >
              全部
            </li>
            <li
              :class="{ active: curDate === nearWeek }"
              @click="changeCurTime(1)"
            >
              最近一周
            </li>
            <li
              :class="{ active: curDate === nearMonth }"
              @click="changeCurTime(2)"
            >
              最近一月
            </li>
            <li
              :class="{ active: curDate === nearQuarter }"
              @click="changeCurTime(3)"
            >
              最近一季度
            </li>
            <li
              :class="{ active: curDate === nearYear }"
              @click="changeCurTime(4)"
            >
              最近一年
            </li>
          </ul>
        </div>
      </div>
      <!-- 换算类型 -->
      <!-- <div class="flex-fs norm-type">
        <span class="com-label-text">换算类型</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li
              :class="{ active: curType === null }"
              @click="changeCurType(null)"
            >
              全部
            </li>
            <li
              :class="{
                active: curType == 1,
              }"
              @click="changeCurType(1)"
            >
              项目
            </li>
            <li
              :class="{
                active: curType == 2,
              }"
              @click="changeCurType(2)"
            >
              单项工程
            </li>
          </ul>
        </div>
      </div> -->
      <!-- 项目分类 -->
      <div class="flex-fs norm-type">
        <span class="com-label-text">项目分类</span>
        <div class="t-wrap">
          <ul class="flex-cw" v-if="curMajorList && curMajorList.length > 0">
            <li
              :class="{ active: curMajor === null }"
              @click="changeCurMajor(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreMajor"
              :class="{ active: curMajor == item }"
              v-for="(item, index) in curMajorList"
              :key="index"
              @click="changeCurMajor(item)"
            >
              {{ item }}
            </li>
            <span
              class="more mb-10"
              v-if="curMajorList && curMajorList.length > 8"
              @click="moreMajor = !moreMajor"
            >
              {{ moreMajor ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreMajor }"
              ></span>
            </span>
          </ul>
          <!-- <ul
            class="flex-cw all-list"
            v-if="curEngList && curEngList.length > 0 && curMajor != null"
          >
            <li
              :class="{ active: curEng === null }"
              @click="changeCurEng(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreEng"
              :class="{ active: curEng == item.name }"
              v-for="(item, index) in curEngList"
              :key="index"
              @click="changeCurEng(item.name)"
            >
              {{ item.name }}
            </li>
            <span
              class="more"
              v-if="curEngList && curEngList.length > 8"
              @click="moreEng = !moreEng"
            >
              {{ moreEng ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreEng }"
              ></span>
            </span>
          </ul> -->
          <!-- 项目库项目分类筛选掉最后一级 -->
          <ul
            v-if="
              curType == 2 &&
              curBuildList &&
              curBuildList.length > 0 &&
              curEng != null
            "
            class="flex-cw all-list ml-10"
          >
            <li
              :class="{ active: curBuild === null }"
              @click="changeCurBuild(null)"
            >
              全部
            </li>
            <li
              v-show="index <= 7 || moreBuild"
              :class="{ active: curBuild == item.name }"
              v-for="(item, index) in curBuildList"
              :key="index"
              @click="changeCurBuild(item.name)"
            >
              {{ item.name }}
            </li>
            <span
              class="more"
              v-if="curBuildList && curBuildList.length > 8"
              @click="moreBuild = !moreBuild"
            >
              {{ moreBuild ? "收起" : "更多" }}
              <span
                class="cp el-icon-arrow-right"
                :class="{ 'is-rotate': moreBuild }"
              ></span>
            </span>
          </ul>
        </div>
      </div>
    </div>

    <!-- 按钮/表格 -->
    <div class="com-table table-wrap sup-table">
      <!-- 功能按钮 -->
      <div class="flex-csb com-operate-wrap">
        <div class="flex-c">
          <el-button class="flex-cc btn btn3" @click="exportFile('single')">
            <img
              src="@/assets/img/table/exports.png"
              alt=""
              class="el-icon-search"
            />导出
          </el-button>
          <el-button class="flex-cc btn btn3" @click="exportFile('all')">
            <img
              src="@/assets/img/table/exports.png"
              alt=""
              class="el-icon-search"
            />全部导出
          </el-button>
        </div>
      </div>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table
          ref="multipleTable"
          :data="tableData"
          tooltip-effect="dark"
          v-loading="tableLoading"
          class="table-main"
          style="width: 100%"
          @selection-change="multipleSelection = $event"
          row-key="id"
          lazy
          :load="load"
          :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
          @expand-change="expandChange"
        >
          >
          <el-table-column
            type="selection"
            min-width="66px"
            :selectable="selectable"
          ></el-table-column>
          <el-table-column label="换算工程名" min-width="130">
            <template v-if="scope.row.number" slot-scope="scope">
              <p
                class="ellipsis2 p-color cp"
                @click="toConversionDetail(scope.row)"
                :title="scope.row.name"
              >
                {{ scope.row.name }}
              </p>
            </template>
          </el-table-column>
          <el-table-column label="换算类型" width="110">
            <template v-if="scope.row.number" slot-scope="scope">
              {{ scope.row.type == 1 ? "项目工程" : "单项工程" }}
            </template>
          </el-table-column>
          <el-table-column label="工程分类" width="110">
            <template v-if="scope.row.number" slot-scope="scope">
              {{ scope.row.specialtyType }}
              {{ scope.row.projectType ? "-" + scope.row.projectType : "" }}
              {{ scope.row.engType ? "-" + scope.row.engType : "" }}
            </template>
          </el-table-column>
          <el-table-column label="原总造价(元)">
            <template
              slot-scope="scope"
              v-if="scope.row.totalPrice && scope.row.number"
            >
              {{ scope.row.totalPrice.toFixed(2) }}
            </template>
          </el-table-column>
          <el-table-column label="建筑面积">
            <template
              slot-scope="scope"
              v-if="scope.row.caliber && scope.row.number"
            >
              {{ scope.row.caliber }}{{ scope.row.caliberUnit }}
            </template>
          </el-table-column>
          <el-table-column label="原单方造价" min-width="90">
            <template
              slot-scope="scope"
              v-if="scope.row.econStd && scope.row.number"
            >
              {{ parseFloat(scope.row.econStd).toFixed(2) }}元/{{
                scope.row.caliberUnit
              }}
            </template>
          </el-table-column>
          <el-table-column
            prop="matrixTotalPrice"
            label="换算总造价(元)"
            min-width="90"
          >
          </el-table-column>
          <el-table-column
            prop="matrixEconStd"
            label="换算单方造价"
            min-width="100"
          >
            <template slot-scope="scope" v-if="scope.row.matrixEconStd">
              {{ parseFloat(scope.row.matrixEconStd).toFixed(2) }}元/{{
                scope.row.caliberUnit
              }}
            </template>
          </el-table-column>
          <el-table-column prop="number" label="换算次数" width="100">
          </el-table-column>
          <el-table-column label="换算趋势" width="90">
            <template slot-scope="scope">
              <img
                v-if="scope.row.number"
                src="@/assets/img/v2.0/icons/分析.png"
                alt=""
                class="el-icon-search cp"
                @click="conversionTrend(scope.row)"
              />
            </template>
          </el-table-column>
          <el-table-column prop="updateTime" label="操作时间" width="150">
            <template slot-scope="scope">
              {{ formatDate(scope.row.updateTime, 1) }}
            </template>
          </el-table-column>
          <el-table-column prop="operator" label="操作人" width="120">
          </el-table-column>
          <el-table-column label="操作" width="80">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <el-tooltip
                  v-if="!scope.row.hasChildren || scope.row.expanded"
                  effect="light"
                  content="删除"
                  placement="top"
                >
                  <img
                    class="icons"
                    src="@/assets/img/icons/dels.png"
                    alt=""
                    @click="deleteHistory(scope.row.id)"
                  />
                </el-tooltip>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <!-- 分页 -->
      <div class="flex-csb com-pages-wrap">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select
              v-model="pageSize"
              placeholder="请选择"
              @change="handleCurrentChange(1)"
            >
              <el-option
                v-for="(item, index) in pageSizeList"
                :key="index"
                :label="item"
                :value="item"
              >
              </el-option>
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination
            background
            @current-change="handleCurrentChange"
            :current-page.sync="currentPage"
            :page-size="pageSize"
            layout="prev, pager, next, jumper"
            :total="totalCount"
          >
          </el-pagination>
          <div class="com-page-btn">确定</div>
        </div>
      </div>
    </div>

    <confirm-dialog
      @confirmClick="confirmDelete"
      :isShow.sync="showDeleteDialog"
      contentText="确定要删除该换算方案吗？"
    />

    <el-dialog
      :visible.sync="trendDialog"
      :close-on-click-modal="false"
      title="换算趋势"
      width="700px"
      class="com-dialog"
    >
      <div>
        <div id="echarts1" style="width: 100%; height: 300px"></div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as echarts from "echarts";
import { queryProjectTypeTree } from "@/api/newProject";
import {
  getMatrixProjectHistoryPage,
  exportMatrixProject,
  delMatrixProjectHistory,
  getAlikeMatrixProjectHistory,
} from "@/api/engineerConversion";
import { formatDate } from "@/utils/common";
export default {
  name: "conversionHistory",
  data() {
    return {
      formatDate: formatDate,
      keyword: "",
      curDate: null, // 当前操作时间
      curType: null, // 换算类型 1、项目 2、单项工程
      curMajor: null, // 选择的专业（项目分类）
      curBuild: null, // 选择的建筑（项目分类）
      curEng: null, // 选择的工程（项目分类）
      curProjectTypeList: [], // 项目分类列表
      curMajorList: [], // 专业分类列表
      curEngList: [], // 工程分类列表
      curBuildList: [], // 建筑分类列表
      moreMajor: false, // 展开专业
      moreEng: false, // 展开工程
      moreBuild: false, // 展开建筑

      currentPage: 1, // 分页相关
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      multipleSelection: [], // 已选中的表单项
      tableData: [], // 表格数据
      tableLoading: false, // 表格loading
      showDeleteDialog: false, // 删除

      trendDialog: false, // 换算趋势
    };
  },
  computed: {
    nearWeek() {
      // 最近一周
      var end = new Date();
      var year = end.getFullYear();
      var month = end.getMonth() + 1; //0-11表示1-12月
      var day = end.getDate();
      var startTime = "";

      if (day - 7 <= 0) {
        //如果在当月7日之前
        var startMonthDay = new Date(year, parseInt(month) - 1, 0).getDate(); //1周前所在月的总天数
        if (month - 1 <= 0) {
          //如果在当年的1月份
          startTime =
            year -
            1 +
            "-" +
            12 +
            "-" +
            (31 - (7 - day)).toString().padStart(2, "0");
        } else {
          startTime =
            year +
            "-" +
            (month - 1).toString().padStart(2, "0") +
            "-" +
            (startMonthDay - (7 - day)).toString().padStart(2, "0");
        }
      } else {
        startTime =
          year +
          "-" +
          month.toString().padStart(2, "0") +
          "-" +
          (day - 7).toString().padStart(2, "0");
      }
      return startTime;
    },
    nearMonth() {
      // 最近一个月
      var end = new Date();
      var year = end.getFullYear();
      var month = end.getMonth() + 1; //0-11表示1-12月
      var day = end.getDate();
      var startTime = "";

      var endMonthDay = new Date(year, month, 0).getDate(); //当前月的总天数
      if (month - 1 <= 0) {
        //如果是1月，年数往前推一年<br>
        startTime = year - 1 + "-" + 12 + "-" + day.toString().padStart(2, "0");
      } else {
        var startMonthDay = new Date(year, parseInt(month) - 1, 0).getDate();
        if (startMonthDay < day) {
          //1个月前所在月的总天数小于现在的天日期
          if (day < endMonthDay) {
            //当前天日期小于当前月总天数
            startTime =
              year +
              "-" +
              (month - 1).toString().padStart(2, "0") +
              "-" +
              (startMonthDay - (endMonthDay - day)).toString().padStart(2, "0");
          } else {
            startTime =
              year +
              "-" +
              (month - 1).toString().padStart(2, "0") +
              "-" +
              startMonthDay.toString().padStart(2, "0");
          }
        } else {
          startTime =
            year +
            "-" +
            (month - 1).toString().padStart(2, "0") +
            "-" +
            day.toString().padStart(2, "0");
        }
      }
      return startTime;
    },
    nearQuarter() {
      // 最近一季度
      var now = new Date(); // 当前日期
      var nowYear = now.getFullYear(); // 当前年
      var jd = Math.ceil((now.getMonth() + 1) / 3);
      var time = new Date(nowYear, (jd - 1) * 3, 1);

      let newMonth = time.getMonth();
      let newDay = time.getDate();
      var startTime = nowYear + "-" + newMonth.toString().padStart(2, "0") + "-" + newDay.toString().padStart(2, "0");
      return startTime;
    },
    nearYear() {
      // 最近一年
      var end = new Date();
      var year = end.getFullYear();
      var month = end.getMonth() + 1; //0-11表示1-12月
      var day = end.getDate();
      var startTime =
        year -
        1 +
        "-" +
        month.toString().padStart(2, "0") +
        "-" +
        day.toString().padStart(2, "0");
      return startTime;
    },
  },
  mounted() {
    this.getBuildList(); // 获取项目分类
    this.getMatrixProjectHistoryPage(); // 获取换算历史记录列表
  },
  methods: {
    // 搜索
    searchFun() {
      this.currentPage = 1;
      this.getMatrixProjectHistoryPage();
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getMatrixProjectHistoryPage();
    },
    // 换算历史记录列表
    getMatrixProjectHistoryPage() {
      let data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        specialtyType: this.curMajor,
        projectType: this.curEng,
        keyword: this.keyword,
        operationTime: this.curDate,
        type: 1
      };
      // 换算类型
      if (this.curType) {
        data.type = this.curType;
      }
      // 单项工程
      if (this.curType == 2) {
        data.engType = this.curBuild;
      }

      getMatrixProjectHistoryPage(data).then((res) => {
        console.log("历史列表", res);
        if (res && res.code == "01") {
          this.tableData = res.body.list;
          if (this.tableData.length) {
            this.tableData = this.tableData.map((it) => {
              it.hasChildren = it.number > 1 ? true : false;
              return it;
            });
          }
          this.totalCount = res.body.totalCount;

          console.log(this.tableData);
        }
      });
    },
    // 懒加载 - 展开同类工程
    load({ alikeKey, id }, treeNode, resolve) {
      getAlikeMatrixProjectHistory({ alikeKey, matrixId: id }).then((res) => {
        if (res && res.code == "01") {
          resolve(res.body);
        }
      });
    },
    // 树形表格某一行展开或者关闭
    expandChange(row, expanded) {
      row.expanded = expanded
    },
    // 禁用表格子项复选框
    selectable(row, index) {
      if (row.number) {
        return true;
      } else {
        return false;
      }
    },
    // 换算趋势
    conversionTrend(trend) {
      this.trendDialog = true;
      console.log("换算趋势", trend);

      this.$nextTick(() => {
        getAlikeMatrixProjectHistory({
          alikeKey: trend.alikeKey,
          matrixId: trend.id,
        }).then((res) => {
          if (res && res.code == "01") {
            let xData = [];
            let isDate = this.formatDate(trend.updateTime, 1);
            xData.push(isDate);
            let yData = [];
            yData.push((trend.matrixTotalPrice / 10000).toFixed(2));

            let list = res.body;
            list.sort(function(a, b) {  // 按时间排序
              return b.updateTime > a.updateTime ? -1: 1;
            })
            list.forEach((it) => {
              let date = this.formatDate(it.updateTime, 1);
              xData.push(date);
              yData.push((it.matrixTotalPrice / 10000).toFixed(2));
            });

            var myChart = echarts.init(document.getElementById("echarts1"));
            var option = {
              tooltip: {
                trigger: "axis",
                axisPointer: {
                  type: "cross",
                  crossStyle: {
                    color: "#fff",
                  },
                },
                textStyle: {
                  color: "#fff",
                },
                backgroundColor: "rgba(13, 78, 137, 1)",
                formatter: (params) => {
                  return `金额：${(params[0].value * 1).toFixed(2)}万元`;
                },
              },
              grid: {
                top: "10%",
                bottom: "10%",
              },
              xAxis: [
                {
                  type: "category",
                  data: xData,
                  axisLabel: {
                    // interval: 0,
                    lineStyle: {
                      color: "rgba(153, 153, 153, 1)",
                    },
                    formatter: function (value) {
                      let ret = "";
                      ret += value.substring(0, 10) + "\n";
                      ret += value.substring(10) + "\n"; // 凭借最终的字符串
                      return ret;
                    },
                  },
                  axisTick: {
                    show: false,
                  },
                },
              ],
              yAxis: [
                {
                  type: "value",
                  name: "金额：万元",
                  axisLabel: {
                    formatter: "{value}",
                  },
                  boundaryGap: ["20%", "20%"],
                  min: 0,
                },
              ],
              series: [
                {
                  name: "总造价",
                  type: "bar",
                  data: yData,
                  barWidth: "21",
                  itemStyle: {
                    normal: {
                      color: new echarts.graphic.LinearGradient(
                        0,
                        1,
                        0,
                        0,
                        [
                          {
                            offset: 0,
                            color: "RGBA(53, 135, 213, 1)",
                          },
                          {
                            offset: 1,
                            color: "RGBA(13, 78, 137, 1)",
                          },
                        ],
                        false
                      ),
                    },
                  },
                },
              ],
            };
            myChart.setOption(option);
          }
        });
      });
    },
    // 筛选时间
    changeCurTime(type) {
      if (type) {
        switch (type) {
          case 1:
            this.curDate = this.nearWeek;
            break;
          case 2:
            this.curDate = this.nearMonth;
            break;
          case 3:
            this.curDate = this.nearQuarter;
            break;
          case 4:
            this.curDate = this.nearYear;
        }
      } else {
        this.curDate = null;
      }
      this.searchFun();
    },
    // 筛选换算类型
    changeCurType(type) {
      this.curType = type;
      this.searchFun();
    },

    // 获取项目分类
    getBuildList() {
      var formData = new FormData();
      formData.append("type", 1);
      queryProjectTypeTree(formData).then((res) => {
        if (res.code == "01") {
          this.curProjectTypeList = res.body;

          let curMajorList = [];
          this.curProjectTypeList.forEach((item) => {
            curMajorList.push(item.name);
          });
          this.curMajorList = curMajorList;
        }
      });
    },
    // 筛选专业分类
    changeCurMajor(type) {
      this.curMajor = type;
      // this.curProjectTypeList.forEach((item) => {
      //   if (item.name == type) this.curEngList = item.subs;
      //   this.curEng = null;
      //   this.curBuild = null;
      // });
      this.searchFun();
    },
    // 筛选工程分类
    changeCurEng(type) {
      this.curEng = type;
      this.curProjectTypeList.forEach((item) => {
        if (item.name == this.curMajor)
          item.subs.forEach((item2) => {
            if (item2.name == type) this.curBuildList = item2.subs;
            this.curBuild = null;
          });
      });
      this.searchFun();
    },
    // 筛选建筑分类
    changeCurBuild(type) {
      this.curBuild = type;
      this.searchFun();
    },

    // 确定删除
    confirmDelete() {
      let params = {};
      let arr = this.multipleSelection.map((it) => {
        return it.id;
      });
      params.matrixIds = arr.join(",");

      delMatrixProjectHistory(params).then((res) => {
        if (res && res.code == "01") {
          this.searchFun();
          this.$message({
            type: "success",
            message: "删除该换算方案成功！",
          });
        }
      });
    },
    // 删除单条
    deleteHistory(id) {
      delMatrixProjectHistory({ matrixIds: id }).then((res) => {
        if (res && res.code == "01") {
          this.searchFun();
          this.$message({
            type: "success",
            message: "删除该换算方案成功！",
          });
        }
      });
    },
    // 导出
    exportFile(exportType) {
      console.log(exportType);
      if (this.totalCount == 0) {
        this.openAlert("暂无要导出的数据", "info");
        return;
      }

      let params = {
        specialtyType: this.curMajor,
        startDate: this.curDate,
        type: 1,
      };

      let text = "确定导出当前勾选的换算方案?";

      if (exportType == 'single') {
        if (this.multipleSelection.length > 0) {
          params["alikeKeys"] = [];
          for (var i = 0; i < this.multipleSelection.length; i++) {
            params["alikeKeys"].push(this.multipleSelection[i].alikeKey);
          }
        } else {
          this.openAlert();
          return;
        }
      } else {
        text = "确定导出全部换算方案?";
      }

      console.log("cans", params);
      this.$confirm(text, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        exportMatrixProject(params)
          .then((res) => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: "text/csv;charset=utf-8;" }),
                sessionStorage.getItem("blob_filename") || "工程换算历史.xls"
              );
              return;
            }
            let blob = res;
            // 导出excel
            const fileReader = new FileReader();
            try {
              fileReader.readAsDataURL(blob);
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = (event) => {
              let a = document.createElement("a");
              let _fileName =
                sessionStorage.getItem("blob_filename") || "工程换算历史.xls";
              a.download = _fileName;
              a.href = event.target.result;
              document.body.appendChild(a);
              a.click();
              document.body.removeChild(a);
            };
            // 读取完成（成功/失败）
            fileReader.onloadend = (event) => {
              sessionStorage.removeItem("blob_filename");
            };
          })
          .catch((err) => {});
      });
    },
    // 跳转去详情
    toConversionDetail(row) {
      this.$router.push({
        path: "/targetApplication/editConversion",
        query: {
          matrixId: row.id,
          type: row.type,
          projectStageId: row.projectStageId,
          alikeKey: row.alikeKey
        },
      });
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || "请至少选择一条数据操作";
      var type = type || "warning";
      this.$alert(text, "提示", {
        confirmButtonText: "确定",
        type: type,
      }).catch(() => {});
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/styles/busScopePage.scss";
.history-container {
  .screen {
    .norm-type {
      margin-top: 10px;

      > span {
        margin-right: 15px;
        white-space: nowrap;
        min-width: 72px;
      }

      .el-icon-arrow-up,
      .el-icon-arrow-down,
      .el-icon-arrow-right {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.is-rotate {
          transform: rotate(180deg);
        }
      }

      .t-wrap {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;

        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }

        ul {
          margin-bottom: 10px;

          &.all-list {
            padding: 5px 12px;
            background: #f3f3f4;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;

            li {
              padding-top: 8px;
              padding-bottom: 8px;

              &:last-child {
                margin-right: 0;
              }
            }
          }

          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;

            &.active {
              color: $color-minor;
            }

            &:hover {
              color: $color-minor;
            }
          }
        }
      }

      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        &.is-rotate {
          transform: rotate(180deg);
        }
      }

      .more {
        color: $color-primary;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 6px;

        .el-icon-arrow-right {
          font-size: 12px;
        }
      }

      .is-fold {
        max-height: 48px;
        overflow-y: hidden;
      }
    }
  }

  .el-table ::v-deep .cell {
    display: flex;
  }

  .el-table ::v-deep .el-checkbox__input.is-disabled .el-checkbox__inner {
    display: none;
  }
}
</style>