<template>
  <div class="step-container">
    <template>
      <!-- 步骤 -->
      <conversionStep :curActive="curActive" />

      <!-- 步骤3 -->
      <div class="step3 edit-info" v-if="curActive == 3">
        <div class="b-title">项目快速换算</div>
        <div class="info-div">
          <div class="flex-c mb-20">
            <div v-if="matrixInfo" class="flex-c row-80">
              <div class="flex-c col-1">
                <span class="com-label-text">原总造价金额：</span>
                <span> {{ matrixInfo.totalPrice }} </span>
              </div>
              <div class="flex-c col-1">
                <span class="com-label-text">原总建设面积：</span>
                <span>
                  {{ (matrixInfo.caliber || 0) + matrixInfo.caliberUnit }}
                </span>
              </div>
              <div class="flex-c col-1">
                <span class="com-label-text">原单方造价：</span>
                <span> {{ matrixInfo.econStd }} </span>
              </div>
            </div>
            <!-- <div class="col-1 export-btn">
              <el-button class="flex-cc btn btn3" @click="exportFile">
                <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search" />导出方案
              </el-button>
            </div> -->
          </div>

          <div class="flex-c row-80 mb-20">
            <div class="flex-c col-1">
              <span class="com-label-text">选择调价时间：</span>
              <div class="t-wrap select-row">
                <el-select
                  v-model="selectedType"
                  @change="changeTimeTypes"
                  size="medium"
                  clearable
                >
                  <el-option
                    v-for="item in timeTypes"
                    :key="item"
                    :label="item"
                    :value="item"
                  >
                  </el-option>
                </el-select>
                <template v-if="selectedType != '自定义'">
                  <el-select
                    style="margin: 0 10px"
                    v-model="selectedYear"
                    @change="changeyear"
                    placeholder="请选择年份"
                    size="medium"
                    clearable
                  >
                    <el-option
                      v-for="item in yearOptions"
                      :key="item"
                      :label="item"
                      :value="item"
                    >
                    </el-option>
                  </el-select>
                  <el-select
                    v-if="threeOptions.length > 0 && selectedYear"
                    v-model="selectedThree"
                    @change="changeThree"
                    size="medium"
                    clearable
                  >
                    <el-option
                      v-for="item in threeOptions"
                      :key="item"
                      :label="item"
                      :value="item"
                    >
                    </el-option>
                  </el-select>
                </template>
                <el-date-picker
                  v-else
                  class="ml-10"
                  v-model="adjustDate"
                  type="monthrange"
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  value-format="yyyy-MM"
                  @change="timeChange"
                >
                </el-date-picker>

                <!-- <el-date-picker
                  v-else
                  class="ml-10"
                  v-model="adjustDate"
                  type="datetimerange"
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  value-format="yyyy-MM-dd HH:mm:ss"
                  @change="timeChange"
                >
                </el-date-picker> -->
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <!-- 左选项卡 -->
          <div v-if="type == 1" class="left-box">
            <div class="left-tab">
              <div
                v-for="item in singleProjectList"
                :key="item.projectStageId"
                class="check-item flex-c cp"
                :class="{ 'item-active': isSingleId == item.projectStageId }"
                @click="changeSingleProject(item)"
              >
                <div class="item-text ellipsis2">{{ item.projectName }}</div>
              </div>
            </div>
          </div>
          <!-- 右侧内容 -->
          <div class="right-box">
            <div class="top mb-10">
              <div class="item-group flex-cw">
                <div
                  v-for="item in unitProjectList"
                  :key="item.id"
                  class="check-item flex-cc"
                  :class="{ 'item-active': isUnitId == item.id }"
                  @click="changeUnitProject(item.id)"
                >
                  {{ item.name }}
                </div>
              </div>
            </div>
            <!-- 表内容 -->
            <div class="table-box">
              <el-table
                border
                :data="calculateData"
                tooltip-effect="dark"
                v-loading="tableLoading3"
                class="table-main"
                height="570px"
                @cell-dblclick="cellDblClick"
                v-el-table-infinite-scroll="loadTable"
                :infinite-scroll-disabled="disabled"
              >
                <el-table-column align="center" width="66px" label="序号">
                  <template slot-scope="scope">
                    <span>{{ scope.$index + 1 }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="工料机名称及规格" prop="name">
                  <template slot-scope="scope">
                    <p class="ellipsis2" :title="scope.row.name">
                      {{ scope.row.name }}
                    </p>
                  </template>
                </el-table-column>
                <el-table-column label="单位" prop="unit" min-width="50">
                </el-table-column>
                <el-table-column label="数量" prop="count">
                  <template v-if="scope.row.count" slot-scope="scope">
                    {{ scope.row.count.toFixed(2) }}
                  </template>
                </el-table-column>
                <el-table-column label="单价(元)" prop="price">
                </el-table-column>
                <el-table-column label="合价(元)" prop="totalPrice">
                  <template v-if="scope.row.totalPrice" slot-scope="scope">
                    {{ scope.row.totalPrice.toFixed(2) }}
                  </template>
                </el-table-column>
                <el-table-column
                  label="造价占比(%)"
                  prop="pricePct"
                  min-width="90"
                >
                </el-table-column>
                <el-table-column
                  label="换算单价(%)"
                  prop="matrixPrice"
                  min-width="90"
                >
                  <template slot-scope="scope">
                    <el-input
                      v-if="scope.row.show"
                      v-model="scope.row.matrixPrice"
                      size="small"
                      placeholder="换算单价"
                      :ref="scope.column.property"
                      @input="
                        scope.row.matrixPrice = checkNumber(
                          scope.row.matrixPrice
                        )
                      "
                      @blur="setMatrixPrice(scope.row)"
                    ></el-input>
                    <span v-else>{{ scope.row.matrixPrice }}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="换算合价(元)"
                  prop="matrixTotalPrice"
                  min-width="90"
                >
                  <template
                    v-if="scope.row.matrixTotalPrice"
                    slot-scope="scope"
                  >
                    {{ scope.row.matrixTotalPrice.toFixed(2) }}
                  </template>
                </el-table-column>
                <el-table-column
                  label="差价(元)"
                  prop="spreadPrice"
                  min-width="90"
                >
                  <template v-if="scope.row.spreadPrice" slot-scope="scope">
                    {{ scope.row.spreadPrice.toFixed(2) }}
                  </template>
                </el-table-column>
                <el-table-column label="材价类型" prop="matType">
                  <template slot-scope="scope">
                    <span> {{ scope.row.matType || "--/--" }} </span>
                  </template>
                </el-table-column>
                <el-table-column label="操作" width="120">
                  <template slot-scope="scope">
                    <span
                      v-if="scope.row.matType"
                      class="cp p-color"
                      @click="morePrice(scope.row, scope.$index)"
                      >更多价格</span
                    >
                    <span v-else class="gray">暂无价格</span>
                  </template>
                </el-table-column>
              </el-table>
            </div>
            <div v-if="totalInfo && totalInfo[isCacheId]" class="flex-c">
              <div class="flex-c w-400">
                <span class="com-label-text">原单项工程合计：</span>
                <span v-if="totalInfo[isCacheId].totalPrice">
                  {{ totalInfo[isCacheId].totalPrice.toFixed(2) }} (元)</span
                >
                <span v-else>---</span>
              </div>
              <div class="flex-c w-400">
                <span class="com-label-text">换算后单项工程合计：</span>
                <span v-if="totalInfo[isCacheId].matrixTotalPrice" class="red">
                  {{ totalInfo[isCacheId].matrixTotalPrice.toFixed(2) }} (元)
                </span>
                <span v-else>---</span>
              </div>
            </div>

            <!-- 分页 -->
            <!-- <div class="flex-csb com-pages-wrap">
                <div class="flex-c left-page">
                  <span>当前显示</span>
                  <div class="flex-cc cur-page">
                    <el-select
                      v-model="pageSize3"
                      placeholder="请选择"
                      @change="handleSizeChange3($event)"
                    >
                      <el-option
                        v-for="(item, index) in pageSizeList3"
                        :key="index"
                        :label="item"
                        :value="item"
                      >
                      </el-option>
                    </el-select>
                  </div>
                  <span>条</span>
                  <span class="total-num">共{{ totalCount3 }}条数据</span>
                </div>
                <div class="flex-c right-page">
                  <el-pagination
                    background
                    @current-change="handleCurrentChange3"
                    :current-page.sync="currentPage3"
                    :page-size="pageSize3"
                    layout="prev, pager, next, jumper"
                    :total="totalCount3"
                  >
                  </el-pagination>
                  <div class="com-page-btn">确定</div>
                </div>
              </div> -->
          </div>
        </div>
        <div class="footer flex-cc mt-30">
          <el-button
            class="flex-c btn pd10"
            style="width: 180px"
            type="danger"
            @click="submitResult"
            >提交换算价</el-button
          >
        </div>

        <template v-if="showResult">
          <div class="b-title mt-30">换算结果</div>
          <ul class="flex-c results">
            <li>
              <div>换算造价金额</div>
              <span class="mt-10" v-if="resultInfo.matrixTotalPrice">{{
                resultInfo.matrixTotalPrice.toFixed(2)
              }}</span>
              <span class="mt-10" v-else>---</span>
            </li>
            <li>
              <div>
                <span>{{ type == 1 ? "换算总建设面积" : "换算建筑面积" }}</span>
                ({{ matrixInfo.caliberUnit }})
              </div>
              <span class="mt-10">{{ matrixInfo.caliber || "---" }}</span>
            </li>
            <li>
              <div>换算单方造价</div>
              <span class="mt-10" v-if="resultInfo.matrixEconStd">{{
                resultInfo.matrixEconStd.toFixed(2)
              }}</span>
              <span class="mt-10" v-else>---</span>
            </li>
          </ul>
          <div class="result-btn mt-30">
            <el-button class="flex-cc btn btn3 pd10" @click="saveScheme">
              <img
                src="@/assets/img/table/exports.png"
                alt=""
                class="el-icon-search"
              />保存方案
            </el-button>
          </div>
        </template>
      </div>
    </template>

    <!-- 更多价格 -->
    <el-dialog
      title="更多价格"
      :visible.sync="moreDialogShow"
      width="1300px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <div class="dialog-box">
        <el-table
          border
          :data="moreData"
          tooltip-effect="dark"
          class="table-main"
          style="width: 100%"
          min-height="100"
          max-height="475"
        >
          <el-table-column label="材料名称" prop="name">
            <template slot-scope="scope">
              <p class="ellipsis2" :title="scope.row.name">
                {{ scope.row.name }}
              </p>
            </template>
          </el-table-column>
          <el-table-column label="规格" prop="spec">
            <template slot-scope="scope">
              <p class="ellipsis2" :title="scope.row.spec">
                {{ scope.row.spec }}
              </p>
            </template>
          </el-table-column>
          <el-table-column
            label="单位"
            prop="unit"
            min-width="50px"
          ></el-table-column>
          <el-table-column label="价格(元)" prop="price"></el-table-column>
          <el-table-column
            label="适用时间"
            prop="applicableDate"
            min-width="90px"
          ></el-table-column>
          <el-table-column label="适用地区" min-width="90px">
            <template slot-scope="scope">
              {{ scope.row.applicableProvince }}
              <span v-if="scope.row.applicableCity"
                >- {{ scope.row.applicableCity }}
              </span>
            </template>
          </el-table-column>
          <el-table-column
            label="材价来源"
            prop="matSourceStr"
            min-width="70px"
          ></el-table-column>
          <el-table-column label="材价类型" prop="matType" min-width="70px">
            <template slot-scope="scope">
              <span> {{ scope.row.matType || "--/--" }} </span>
            </template>
          </el-table-column>
          <el-table-column label="品牌" prop="brand"></el-table-column>
          <el-table-column
            label="档次"
            prop="grade"
            min-width="60px"
          ></el-table-column>
          <el-table-column label="供应商" prop="supplier"></el-table-column>
          <el-table-column label="供应商地区" min-width="90px">
            <template slot-scope="scope">
              {{ scope.row.supplierProvince }}
              <span v-if="scope.row.supplierCity"
                >- {{ scope.row.supplierCity }}
              </span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="70px">
            <template slot-scope="scope">
              <span
                v-if="scope.row.id == isMetailId"
                class="cp active"
                @click="isMetailId = ''"
                >取消</span
              >
              <span
                v-else
                class="cp p-color"
                @click="
                  isMetailId = scope.row.id;
                  isMetail = scope.row;
                "
                >选用</span
              >
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleSizeChange($event)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList"
                  :key="index"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ moreTotalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              @current-change="handleCurrentChange"
              :current-page.sync="currentPage"
              :page-size="pageSize"
              layout="prev, pager, next, jumper"
              :total="moreTotalCount"
            >
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="selectMetail()">确定</el-button>
        <el-button @click="moreDialogShow = false">取消</el-button>
      </span>
    </el-dialog>

    <!-- 保存文件提示弹窗 -->
    <el-dialog
      title="温馨提示"
      :visible.sync="showTipsDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <div class="flex-csb">
        <img src="@/assets/img/icons/tip-icon.png" alt="" style="width: 60px" />
        <div style="text-align: left">
          <p>您已修改了工程技术特征，请调整造价影响系数</p>
          <el-checkbox class="mt-10" v-model="notipAgain"
            >下次不再提示</el-checkbox
          >
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveStageCofirm">确定</el-button>
      </span>
    </el-dialog>

    <!-- 保存方案弹窗 -->
    <el-dialog
      title="保存方案"
      :visible.sync="showSaveScheme"
      width="460px"
      class="com-dialog my-dialog add-file"
      :close-on-click-modal="false"
    >
      <div class="com-dialog com-checkbox">
        <div class="flex-c">
          <span class="label-text ipt-text"><span>*</span>换算工程名：</span>
          <el-input
            placeholder="请输入换算工程新名词"
            v-model="conversionName"
          ></el-input>
        </div>
      </div>
      <span slot="footer" class="dialog-footer flex-cc">
        <el-button type="primary" v-loading="saveLoading" @click="saveScheme"
          >确定</el-button
        >
        <el-button @click="showSaveScheme = false">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
/**
 *  总差价=合差价/合占比
    换算后单项工程合计=原单项工程合计+总差价
    换算造价金额=换算后的(单项工程名1工程合计+单项工程名2工程合计+...)
    计算换算后的新单方造价=换算造价金额/新总建设面积
    换算后单项工程合计 = （原单项工程合计+总差价）+（-）技术特征

    如果更改了换算单价：
    换算后单项工程合计 = （原单项工程合计+（总差价（+/-）差价））+（-）技术特征

    换算合价 = 数量 * 换算单价
    差价 = 换算合价 -原合价
 * */

import WarnDialog from "../project/components/warnDialog";
import { queryNormList } from "@/api/newProject";
import conversionStep from "./components/conversionStep";
import {
  matrixTotalPrice,
  listMatrixMatPage,
  getMoreOtherMatPrice,
  matrixSingleTotalPrice,
  listMatrixSinglePage,
  getMatrixHistoryInfo,
  getMatrixProjectInfo,
  exportMatrixProject,
  saveAlikeMatrixProject,
  getMatrixMatPricePage,
} from "@/api/engineerConversion";

import { checkNumber, formatDate } from "@/utils/common";
export default {
  name: "targetTest",
  components: {
    conversionStep,
    WarnDialog,
  },

  data() {
    return {
      checkNumber: checkNumber,
      formatDate: formatDate,
      curActive: 3, // 步骤 czhui
      modelType: 1, // 检测模式 1项目 2工程

      // step3
      tableLoading3: false, // loading
      projectSortList: [], // 工程类目列表
      projectType: [], // 选中的工程分级
      projectList: [], // 工程分级列表、
      disabled: false,

      addedList: [], // 已选择的项目

      adjustDate: "", // 调价时间
      singleProjectList: [], // 左边栏 - 单项工程
      isSingleId: "", // 当前选中单项工程id
      unitProjectList: [], // 上 - 单位工程
      isUnitId: "", // 当前选中单位工程id
      isProjectItem: null, // 当前选中单项工程
      calculateData: [], // 计算表格数据
      currentPage3: 1, // 分页相关
      pageSize3: 20,
      totalCount3: 0,
      pageSizeList3: [10, 20, 30, 40, 50, 100],
      totalInfoList: [], // 合计
      totalInfo: {}, // 当前合计信息
      moreData: [], // 更多价格
      moreDialogShow: false,
      isMetailId: "", // 当前选中材价
      isMetail: null,
      clickIndex: null,
      resultInfo: null,

      notipAgain: false, // 下次是否再提示
      showTipsDialog: false, // 是否显示提示弹窗

      cacheArr: {}, //  缓存数据
      isCacheId: "", // 项目和单项工程换算不同id

      showSaveScheme: false, // 弹出添加换算工程名称
      conversionName: "", // 换算工程名称
      saveLoading: false,
      showResult: false,

      historyInfo: null, // 历史详情
      matrixInfo: null, // 请求参数
      currentPage: 1, // 更多价格当前页
      pageSize: 10, // 更多价格页数大小
      moreTotalCount: 0, // 更多价格总数
      pageSizeList: [10, 20, 30, 40, 50, 100],
      moreZcode: "",

      timeTypes: ["年", "半年", "季", "月", "自定义"],
      selectedType: "年",
      selectedYear: "", // 选择年份  默认选中今年
      threeOptions: [], // 第三个select
      selectedThree: "", // 第三个select选中值

      startDate: "",
      endDate: "",

      matrixCount: 0, // 材价换算列表计数器
      totalPriceCount: 0, // 换算合计数据器
      alertCount: 0,  //  调价时间是否有变
    };
  },

  computed: {
    userId() {
      return this.$store.getters.userId;
    },
    matrixId() {
      return this.$route.query.matrixId;
    },
    alikeKey() {
      return this.$route.query.alikeKey;
    },
    type() {
      return this.$route.query.type;
    },
    projectStageId() {
      return this.$route.query.projectStageId;
    },
    yearOptions() {
      // 年
      const nowDate = new Date();
      const startYear = nowDate.getFullYear() - 10; // 起始年份
      const endYear = nowDate.getFullYear(); // 结束年份
      console.log("xxxxxxs");
      const yearOptions = [];
      for (let i = endYear; i >= startYear; i--) {
        yearOptions.push(i);
      }
      return yearOptions;
    },
  },

  watch: {
    // 当前选中单位工程阶段id
    isUnitId(id) {
      if (id && this.matrixInfo) {
        // 获取换算后单项工程列表
        this.listMatrixMatPage();
      }
    },
    // 换算建筑面积
    // 监听总金额有变化后重新计算
    totalInfo: {
      deep: true,
      handler: function (data) {
        // 重新计算结果
        this.calculateResult();
      },
    },
  },

  mounted() {
    console.log(this.currentPage);
    // 查看换算单位工程详情
    // this.getMatrixHistoryInfo();

    // this.getMatrixProjectInfo();

    Promise.all([
      new Promise((resolve, reject) => {
        // 查看换算单位工程详情
        this.getMatrixHistoryInfo(resolve);
      }),
      new Promise((resolve, reject) => {
        this.getMatrixProjectInfo(resolve);
      }),
    ]).then((res) => {
      console.log("调价时间");
      // 调价时间

      this.timeChange();
    });
  },

  methods: {
    // 选中筛选时间类型
    changeTimeTypes(type) {
      console.log(type);
      this.threeOptions = [];
      this.changeyear(this.selectedYear);
    },
    // 选中筛选年份
    changeyear(year) {
      console.log(year);
      this.selectedThree = "";
      if (year) {
        if (this.selectedType == "半年") {
          this.threeOptions = ["上半年", "下半年"];
          this.selectedThree = "上半年";
        } else if (this.selectedType == "季") {
          this.threeOptions = ["第一季度", "第二季度", "第三季度", "第四季度"];
          this.selectedThree = "第一季度";
        } else if (this.selectedType == "月") {
          this.threeOptions = [
            "1月",
            "2月",
            "3月",
            "4月",
            "5月",
            "6月",
            "7月",
            "8月",
            "9月",
            "10月",
            "11月",
            "12月",
          ];
          this.selectedThree = "1月";
        }
      } else {
      }

      // 刷新
      this.timeChange();
    },
    // 选中月份/半年/季度  刷新
    changeThree(three) {
      console.log(three);
      // 刷新
      this.timeChange();
    },
    // 调价时间中文转date类型
    splicingDate() {
      console.log("调价时间");
      if (this.selectedType == "年") {
        console.log(this.selectedType, this.selectedYear);
        // this.startDate = this.selectedYear + "-01-01 00:00:00";
        // this.endDate = this.selectedYear + "-12-31 23:59:59";

        this.startDate = this.selectedYear + "-01";
        this.endDate = this.selectedYear + "-12";
      } else {
        console.log(this.selectedType, this.selectedYear, this.selectedThree);
        if (this.selectedType == "半年") {
          if (this.selectedThree == "上半年") {
            // this.startDate = this.selectedYear + '-01-01 00:00:00'
            // this.endDate = this.selectedYear + '-06-30 23:59:59'

            this.startDate = this.selectedYear + "-01";
            this.endDate = this.selectedYear + "-06";
          } else {
            // this.startDate = this.selectedYear + '-07-01 00:00:00'
            // this.endDate = this.selectedYear + '-12-31 23:59:59'

            this.startDate = this.selectedYear + "-07";
            this.endDate = this.selectedYear + "-12";
          }
        } else if (this.selectedType == "季") {
          if (this.selectedThree == "第一季度") {
            // this.startDate = this.selectedYear + '-01-01 00:00:00'
            // this.endDate = this.selectedYear + '-03-31 23:59:59'

            this.startDate = this.selectedYear + "-01";
            this.endDate = this.selectedYear + "-03";
          } else if (this.selectedThree == "第二季度") {
            // this.startDate = this.selectedYear + '-04-01 00:00:00'
            // this.endDate = this.selectedYear + '-06-30 23:59:59'

            this.startDate = this.selectedYear + "-04";
            this.endDate = this.selectedYear + "-06";
          } else if (this.selectedThree == "第三季度") {
            // this.startDate = this.selectedYear + '-07-01 00:00:00'
            // this.endDate = this.selectedYear + '-09-31 23:59:59'

            this.startDate = this.selectedYear + "-07";
            this.endDate = this.selectedYear + "-09";
          } else if (this.selectedThree == "第四季度") {
            // this.startDate = this.selectedYear + '-10-01 00:00:00'
            // this.endDate = this.selectedYear + '-12-31 23:59:59'

            this.startDate = this.selectedYear + "-10";
            this.endDate = this.selectedYear + "-12";
          }
        } else if (this.selectedType == "月") {
          let num = parseInt(this.selectedThree);
          let day = "30";
          if (
            num == 1 ||
            num == 3 ||
            num == 5 ||
            num == 7 ||
            num == 8 ||
            num == 10 ||
            num == 12
          ) {
            day = "31";
          } else if (num == 2) {
            // 是否闰年
            if (isRunYear(this.selectedYear)) {
              day = "29";
            } else {
              day = "28";
            }
          }
          num = num.toString().padStart(2, "0");

          // this.startDate = this.selectedYear + '-' + num + '-01 00:00:00'
          // this.endDate = this.selectedYear + '-' + num + '-' + day + ' 23:59:59'

          this.startDate = this.selectedYear + "-" + num;
          this.endDate = this.selectedYear + "-" + num;
        } else if (this.selectedType == "自定义") {
          console.log("自定义", this.adjustDate);
          if (this.adjustDate) {
            this.startDate = this.adjustDate[0];
            this.endDate = this.adjustDate[1];
          } else {
            this.startDate = "";
            this.endDate = "";
          }
        }
      }

      console.log(this.startDate, this.endDate);
    },
    // 提示按钮
    saveStageCofirm() {
      if (this.notipAgain) {
        localStorage.setItem("notTip" + this.userId, this.notipAgain);
      }
      this.showTipsDialog = false;
    },
    // 换算单价
    setMatrixPrice(row, type) {
      console.log(row);
      // 有值才计算
      if (row.matrixPrice) {
        // 换算后合计 = (换算差价 - 原换算差价 + 合差价)/合占比 + 原总合价

        // 换算合价 = 换算单价 * 数量
        const matrixTotalPrice = Number(row.matrixPrice) * row.count;

        console.log("Number(row.matrixPrice)", Number(row.matrixPrice));
        this.$set(row, "matrixTotalPrice", matrixTotalPrice);

        console.log("换算合价", matrixTotalPrice);

        // 换算差价 = 换算合价 - 原合价
        const spreadPrice = this.calculation(
          "reduce",
          matrixTotalPrice,
          Number(row.totalPrice)
        );

        // 换算差价 - 原换算差价
        const leftSpread = this.calculation(
          "reduce",
          spreadPrice,
          Number(row.spreadPrice)
        );
        this.$set(row, "spreadPrice", spreadPrice);

        console.log("换算差价", spreadPrice);

        console.log(
          "this.totalInfo[this.isCacheId]",
          this.totalInfo[this.isCacheId]
        );

        // 换算后合差价 = (换算差价- 原换算差价) + 合差价
        const leftTotal = this.calculation(
          "add",
          leftSpread,
          this.totalInfo[this.isCacheId].spreadPriceSum
        );

        this.$set(this.totalInfo[this.isCacheId], "spreadPriceSum", leftTotal);

        console.log(leftTotal);

        // 换算后合差价 / 合占比
        const totalSpread = this.calculation(
          "except",
          leftTotal,
          this.totalInfo[this.isCacheId].pricePctSum
        );

        console.log(totalSpread);

        this.totalInfo[this.isCacheId].matrixTotalPrice = this.calculation(
          "add",
          totalSpread,
          this.totalInfo[this.isCacheId].totalPrice
        );

        this.totalInfo[this.isCacheId].listSpread = JSON.parse(
          JSON.stringify(this.totalInfo[this.isCacheId].matrixTotalPrice)
        );

        if (type != "select") {
          this.$set(row, "matId", null);
          this.$set(row, "matType", "");
          this.$set(row, "show", false);
        }

        this.cacheArr[this.isSingleId]
          ? ""
          : (this.cacheArr[this.isSingleId] = {});
        this.cacheArr[this.isSingleId][this.isUnitId]
          ? ""
          : (this.cacheArr[this.isSingleId][this.isUnitId] = {});
        this.cacheArr[this.isSingleId][this.isUnitId][row.id] = row;
        console.log("结果", this.totalInfo[this.isCacheId].matrixTotalPrice);
      } else {
        // 有值说明之前有换算差价
        if (row.matrixTotalPrice) {
          // 换算后合差价 = 合差价- 原换算差价
          const leftTotal = this.calculation(
            "reduce",
            this.totalInfo[this.isCacheId].spreadPriceSum,
            Number(row.spreadPrice)
          );
          this.$set(
            this.totalInfo[this.isCacheId],
            "spreadPriceSum",
            leftTotal
          );

          this.$set(
            this.totalInfo[this.isCacheId],
            "spreadPriceSum",
            leftTotal
          );

          // 换算合价
          this.$set(row, "matrixTotalPrice", null);
          // 换算后差价
          this.$set(row, "spreadPrice", null);

          console.log(leftTotal);

          // 换算后合差价 / 合占比
          const totalSpread = this.calculation(
            "except",
            leftTotal,
            this.totalInfo[this.isCacheId].pricePctSum
          );

          console.log(totalSpread);

          this.totalInfo[this.isCacheId].matrixTotalPrice = this.calculation(
            "add",
            totalSpread,
            this.totalInfo[this.isCacheId].totalPrice
          );

          this.totalInfo[this.isCacheId].listSpread = JSON.parse(
            JSON.stringify(this.totalInfo[this.isCacheId].matrixTotalPrice)
          );

          if (type != "select") {
            this.$set(row, "matId", null);
            this.$set(row, "matType", "");
            this.$set(row, "show", false);
          }
        } else {
          // 避免第一次输入0第二次清空遗留差价问题
          this.$set(row, "spreadPrice", null);
          this.$set(row, "show", false);
        }
      }
    },
    // 小数加减乘除
    calculation(type, num1, num2) {
      var temp1, temp2, a;
      try {
        // 获取 temp1小数点后的长度
        temp1 = num1.toString().split(".")[1].length;
      } catch (e) {
        temp1 = 0;
      }
      try {
        // 获取 temp2小数点后的长度
        temp2 = num2.toString().split(".")[1].length;
      } catch (e) {
        temp2 = 0;
      }
      // Math.max(temp1, temp2) 为了获取temp1和temp2两个值中较大的一个
      // Math.pow(a,b) 表示 a 的 b次方
      a = Math.pow(10, Math.max(temp1, temp2));

      // 计算的方式是先将所有的小数乘为整数，待加减运算执行完之后再除去对应的a的值，将其变为小数输出
      // 先判断执行的方式是否是加法，不是的话则执行减法运算
      let result = 0;
      if (type == "add") {
        result = (num1 * a + num2 * a) / a;
      } else if (type == "reduce") {
        result = (num1 * a - num2 * a) / a;
      } else if (type == "ride") {
        result = (num1 * a * num2 * a) / a / a;
      } else {
        // except
        if (num1 && num2) {
          result = (((num1 * a) / num2) * a) / a / a;
        } else {
          result = 0;
        }
      }
      return result;
    },
    // 获取工程分类列表
    getNormList(code) {
      if (!code) code = this.projectSortList[0].code;
      var formData = new FormData();
      formData.append("type", 1);
      formData.append("normCode", code);
      queryNormList(formData).then((res) => {
        if (res.body.length > 0) this.projectList = res.body[0].sub;
      });
    },

    // 切换单项工程
    changeSingleProject(item) {
      this.currentPage3 = 1;
      this.isSingleId = item.projectStageId;
      this.isProjectItem = item;

      this.isCacheId = this.isSingleId;

      // 单位工程
      this.unitProjectList = item.specialtyTypeMap;
      if (this.unitProjectList && this.unitProjectList.length) {
        // 默认选中第一个
        this.isUnitId = this.unitProjectList[0].id;
      }

      console.log("切换单项工程");
    },
    // 切换单位工程
    changeUnitProject(id) {
      this.currentPage3 = 1;
      this.isUnitId = id;
    },

    // 选中换算时间
    timeChange() {
      // 刷新时间
      if (this.selectedType != "自定义" && !this.selectedYear) {
        this.startDate = "";
        this.endDate = "";
      } else {
        this.splicingDate();
      }

      this.currentPage3 = 1;
      this.cacheArr = {};
      this.disabled = false;
      this.listMatrixMatPage();
      this.matrixTotalPrice("time");
    },
    // 项目工程 - 获取换算后的单项工程合计
    matrixTotalPrice() {
      const data = {
        // conversionTime: this.adjustDate,
        startTime: this.startDate,
        endTime: this.endDate,
        projectStageId: this.projectStageId,
      };

      // 刚进入历史详情
      if (!this.totalPriceCount) {
        this.totalPriceCount = 1;
        if (this.type == 1) {
          this.setTotalData(this.historyInfo);
        } else {
          let infoObj = JSON.parse(JSON.stringify(this.historyInfo));
          let { body } = infoObj;
          infoObj.body = [body];
          this.setTotalData(infoObj);
        }
      } else {
        if (this.type == 1) {
          // 项目工程
          matrixTotalPrice(data).then((res) => {
            this.setTotalData(res);
          });
        } else {
          // 单项工程
          matrixSingleTotalPrice(data).then((res) => {
            this.setTotalData(res);
          });
        }
      }
    },
    // 合计组装数据
    setTotalData(res) {
      if (res && res.code == "01") {
        this.totalInfoList = res.body;
        console.log("单项工程合计", res);

        const midTotalInfo = JSON.parse(JSON.stringify(this.totalInfo));
        this.totalInfo = {};
        if (this.totalInfoList && this.totalInfoList.length) {
          // matrixTotalPrice
          for (let j = 0, l2 = this.totalInfoList.length; j < l2; j++) {
            const id = this.totalInfoList[j].projectStageId;
            if (midTotalInfo[id]) {
              this.totalInfo[id] = this.totalInfoList[j];

              this.totalInfo[id].listSpread =
                midTotalInfo[id].listSpread || null;
            } else {
              this.totalInfo[id] = this.totalInfoList[j];
            }
          }
          this.isCacheId = this.isSingleId;
        }
      }
    },
    // 项目工程 - 材价换算列表
    listMatrixMatPage() {
      const data = {
        // province: this.isProjectItem.province,
        // city: this.isProjectItem.city,
        // conversionTime: this.adjustDate,
        startTime: this.startDate,
        endTime: this.endDate,
        projectStageId: this.isSingleId,
        unitId: this.isUnitId,
        matrixProjectId: this.isProjectItem.matrixProjectId,
        pageSize: this.pageSize3,
        currentPage: this.currentPage3,
        matrixId: this.matrixId
      };

      // 刚进入历史详情
      if (!this.matrixCount) {
        getMatrixMatPricePage(data).then((res) => {
          this.matrixCount = 1;
          this.setListMatrixData(res);
        });
      } else {
        if (this.type == 1) {
          // 项目工程
          listMatrixMatPage(data).then((res) => {
            this.setListMatrixData(res);
          });
        } else {
          // 单项工程
          listMatrixSinglePage(data).then((res) => {
            this.setListMatrixData(res);
          });
        }
        this.alertCount = 1;
      }
    },
    // 材价换算组装数据
    setListMatrixData(res) {
      if (res && res.code == "01") {
        if (this.currentPage3 > 1 && res.body.list.length) {
          const arr = JSON.parse(JSON.stringify(res.body.list));
          this.calculateData = this.calculateData.concat(arr);
        } else if (this.currentPage3 == 1) {
          this.calculateData = res.body.list;
        } else {
          this.disabled = true;
          return;
        }

        this.totalCount3 = res.body.totalCount;
        console.log("材价换算列表", res);

        console.log("this.cacheArr", this.cacheArr);
        if (
          this.cacheArr[this.isSingleId] &&
          this.cacheArr[this.isSingleId][this.isUnitId]
        ) {
          const objs = this.cacheArr[this.isSingleId][this.isUnitId];

          if (objs && JSON.stringify(objs) != "{}") {
            console.log(objs);
            const arr = [];
            for (const key in objs) {
              arr.push(objs[key]);
            }
            console.log("arr", arr);
            for (let i = 0, l = arr.length; i < l; i++) {
              for (let j = 0, l2 = this.calculateData.length; j < l2; j++) {
                if (arr[i].id == this.calculateData[j].id) {
                  this.calculateData[j] = arr[i];
                  console.log("等于", this.calculateData);
                }
              }
            }
          }
        }
      }
    },
    // 切换分页
    handleCurrentChange3(val) {
      this.currentPage3 = val;
      this.listMatrixMatPage();
    },
    // 切换每页显示条数
    handleSizeChange3(val) {
      this.pageSize3 = val;
      this.listMatrixMatPage();
    },
    // 滚动分页
    loadTable() {
      const isTotal = this.currentPage3 * this.currentPage3;
      if (isTotal < this.totalCount3) {
        this.currentPage3++;
        this.listMatrixMatPage();
      }
      console.log("底部", this.totalCount3, this.calculateData.length);
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val;
      this.getMoreOtherMatPrice();
    },
    // 切换每页显示条数
    handleSizeChange(val) {
      this.pageSize = val;
      this.getMoreOtherMatPrice();
    },
    // 项目工程 - 更多价格
    morePrice(row, index) {
      this.isMetailId = row.matId;
      this.isMetail = row;
      this.clickIndex = index;
      if (row.zcode) {
        this.moreZcode = row.zcode;
        this.getMoreOtherMatPrice();
      }
    },
    // 获取更多价格列表
    getMoreOtherMatPrice() {
      let params = {
        // conversionTime: this.adjustDate,
        startTime: this.startDate,
        endTime: this.endDate,
        zcode: this.moreZcode,
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        province: this.isProjectItem.province,
        city: this.isProjectItem.city,
        matrixProjectId: this.isProjectItem.matrixProjectId,
        projectStageId: this.isSingleId,
      };
      getMoreOtherMatPrice(params).then((res) => {
        if (res && res.code == "01") {
          console.log("更多价格", res);
          this.moreData = res.body.list;
          this.moreTotalCount = res.body.totalCount;
          this.moreDialogShow = true;
        }
      });
    },
    // 选中
    selectMetail() {
      console.log(this.isMetail, this.clickIndex);
      if (!this.isMetailId) {
        this.$message.error("请先选中要替换的材价！");
        return;
      }
      if (this.isMetail) {
        const row = this.calculateData[this.clickIndex];
        this.$set(row, "matId", this.isMetail.id);
        this.$set(row, "matrixPrice", this.isMetail.price);
        this.$set(row, "matType", this.isMetail.matType);

        this.setMatrixPrice(row, "select");
      } else {
        this.$message.error("当前材价不能被替换！");
      }
      console.log(this.calculateData);
      this.moreDialogShow = false;
    },
    // 双击编辑换算单价
    cellDblClick(row, column) {
      if (column.property == "matrixPrice") {
        // if (!this.adjustDate) {
        //   this.$message.warning('请先选择调价时间！')
        //   return
        // }

        if (!this.startDate) {
          this.$message.warning("请先选择调价时间！");
          return;
        }

        console.log("换算单价", row, column);
        this.$set(row, "show", true);

        this.$nextTick(() => {
          this.$refs[column.property] && this.$refs[column.property].focus();
        });
      }
    },
    // 计算结果
    calculateResult() {
      if (!this.totalInfo) return;
      if (!this.resultInfo) this.resultInfo = {};

      console.log(this.totalInfo, this.isCacheId);

      // 项目工程
      if (this.type == 1) {
        let total = 0;
        for (const key in this.totalInfo) {
          total += this.totalInfo[key].matrixTotalPrice;
        }

        this.resultInfo.matrixTotalPrice = total;
      } else {
        // 单项工程
        this.resultInfo.matrixTotalPrice =
          this.totalInfo[this.isCacheId].matrixTotalPrice;
      }

      // 换算单方造价
      if (this.matrixInfo.caliber && this.resultInfo.matrixTotalPrice) {
        this.resultInfo.matrixEconStd =
          this.resultInfo.matrixTotalPrice / Number(this.matrixInfo.caliber);
      } else {
        this.resultInfo.matrixEconStd = null;
      }
    },
    // 提交换算价
    submitResult() {
      this.showResult = true;
      // this.calculateResult();
    },
    // 提交方案
    submitScheme() {
      this.showSaveScheme = true;
    },
    // 保存方案
    saveScheme() {
      this.$confirm("确定要保存方案吗?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          // 拼接参数
          const data = this.setSaveMatrixData();
          console.log(data);

          // 项目工程
          if (this.type == 1) {
            saveAlikeMatrixProject(data).then((res) => {
              if (res && res.code == "01") {
                console.log("保存方案", data);
                this.$message.success("编辑方案成功！");
                this.$router.push({
                  path: "/targetApplication/conversionHistory",
                });
              } else {
                this.$message.error(res.message || "操作失败！");
              }
            });
          } else {
            // 单项工程
            data.engType = this.matrixInfo.engType;

            saveAlikeMatrixProject(data).then((res) => {
              if (res && res.code == "01") {
                console.log("保存方案", data);
                this.$message.success("保存方案成功！");
                this.$router.push({
                  path: "/targetApplication/conversionHistory",
                });
              } else {
                this.$message.error(res.message || "操作失败！");
              }
            });
          }
        })
        .catch(() => {});
    },
    // 保存方案数组组装
    setSaveMatrixData() {
      const data = {};
      console.log(this.matrixInfo);

      data.alterTime = false; // 时间是否变动（true:是，false:否）
      if (this.alertCount) {
        data.alterTime = true;
      } 

      data.caliber = this.matrixInfo.caliber || "";
      data.caliberUnit = this.matrixInfo.caliberUnit;
      data.alikeKey = this.matrixInfo.alikeKey;
      data.econStd = this.matrixInfo.econStd;
      data.totalPrice = this.matrixInfo.totalPrice;
      data.matrixId = this.matrixId;
      data.projectStageId = this.projectStageId;
      // data.type = this.type;
      data.type = 1; // 1、项目 2、自由构建
      data.name = this.conversionName;
      data.specialtyType = this.matrixInfo.specialtyType;
      // data.projectType = this.matrixInfo.projectType;

      // 调价时间回显用
      data.matrixTimeType = this.selectedType;
      data.matrixTimeYear = this.selectedYear;
      data.matrixTimeDesc = this.selectedThree;

      // data.matrixTime = this.adjustDate;
      data.matrixTimeStart = this.startDate;
      data.matrixTimeEnd = this.endDate;

      data.matrixCaliber = Number(this.matrixInfo.caliber) || null;
      data.matrixCaliberUnit = this.matrixInfo.caliberUnit;

      data.matrixTotalPrice = this.resultInfo.matrixTotalPrice;

      if (this.resultInfo.matrixEconStd) {
        data.matrixEconStd =
          this.resultInfo.matrixEconStd.toFixed(2) +
          "元/" +
          this.matrixInfo.caliberUnit;
      } else data.matrixEconStd = null;

      data.id = this.matrixId; // 编辑

      data.matrixProjectReqs = [];

      for (let i = 0, l = this.singleProjectList.length; i < l; i++) {
        const { specialtyTypeMap, ...item } = this.singleProjectList[i];

        // 更改的材价数据
        if (this.cacheArr[this.singleProjectList[i].projectStageId]) {
          item.matPriceReqs = [];
          const objs = this.cacheArr[this.singleProjectList[i].projectStageId];
          for (const key in objs) {
            const obj = objs[key];
            for (const key2 in obj) {
              item.matPriceReqs.push(obj[key2]);
            }
          }
        }

        // 单位工程id集合
        if (specialtyTypeMap && specialtyTypeMap.length) {
          item.unitIds = specialtyTypeMap.map((it) => it.id);
        }

        // 合计
        console.log("合计", this.totalInfo);
        if (this.totalInfo && this.totalInfo[this.singleProjectList[i].projectStageId]) {
          const totalObj =
            this.totalInfo[this.singleProjectList[i].projectStageId];
          item.matrixProjectPrice = totalObj.matrixTotalPrice;
          item.projectPrice = totalObj.totalPrice;
          item.spreadPriceSum = totalObj.spreadPriceSum;
          item.pricePctSum = totalObj.pricePctSum;
        }

        const it = JSON.parse(JSON.stringify(item));
        data.matrixProjectReqs.push(it);
      }
      return data;
    },
    // 导出方案
    exportFile() {
      var params = {
        alikeKeys: [this.alikeKey],
        specialtyType: this.matrixInfo.specialtyType,
        startDate: this.startDate,
        type: this.type,
      };

      this.$confirm(`确定导出换算方案吗?`, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then((res) => {
          exportMatrixProject(params)
            .then((res) => {
              // ie11文件下载兼容
              if (navigator.msSaveOrOpenBlob) {
                navigator.msSaveBlob(
                  new Blob([res], { type: "text/csv;charset=utf-8;" }),
                  sessionStorage.getItem("blob_filename") || "工程换算历史.xls"
                );
                return;
              }
              const blob = res;
              // 导出excel
              const fileReader = new FileReader();
              try {
                fileReader.readAsDataURL(blob);
              } catch (err) {}
              // 读取文件成功
              fileReader.onload = (event) => {
                const a = document.createElement("a");
                const _fileName =
                  sessionStorage.getItem("blob_filename") || "工程换算历史.xls";
                a.download = _fileName;
                a.href = event.target.result;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
              };
              // 读取完成（成功/失败）
              fileReader.onloadend = (event) => {
                sessionStorage.removeItem("blob_filename");
              };
            })
            .catch((err) => {});
        })
        .catch((err) => {});
    },

    // 查看换算单位工程详情
    getMatrixHistoryInfo(resolve) {
      const params = {
        matrixId: this.matrixId,
        type: this.type,
      };
      getMatrixHistoryInfo(params).then((res) => {
        if (res && res.code == "01") {
          console.log("历史详情", res);
          this.historyInfo = res;

          if (this.type == 1) {
            // 项目工程
            this.singleProjectList = res.body;

            if (this.singleProjectList && this.singleProjectList.length) {
              // 默认选中第一个
              this.isSingleId = this.singleProjectList[0].projectStageId;
              this.isProjectItem = this.singleProjectList[0];

              // 单位工程
              this.unitProjectList = this.singleProjectList[0].specialtyTypeMap;
              if (this.unitProjectList && this.unitProjectList.length) {
                // 默认选中第一个
                this.isUnitId = this.unitProjectList[0].id;
              }
            }
          } else {
            // 单项工程
            console.log("获取单位工程", res);
            this.singleProjectList = [];
            this.singleProjectList.push(res.body);
            this.isSingleId = res.body.projectStageId;
            this.isProjectItem = res.body;

            // 单位工程
            this.unitProjectList = res.body.specialtyTypeMap;
            if (this.unitProjectList && this.unitProjectList.length) {
              // 默认选中第一个
              this.isUnitId = this.unitProjectList[0].id;
            }
          }

          // 合计
          // this.matrixTotalPrice();

          resolve();
        }
      });
    },
    // 换算历史详细信息
    getMatrixProjectInfo(resolve) {
      getMatrixProjectInfo({
        matrixId: this.matrixId,
      }).then((res) => {
        if (res && res.code == "01") {
          console.log("历史详情xxxx", res);
          this.matrixInfo = res.body;
          console.log("this.matrixInfo", this.matrixInfo);
          this.conversionName = this.matrixInfo.name;

          // 调价时间
          if (this.matrixInfo.matrixTimeStart) {
            this.startDate = this.formatDate(this.matrixInfo.matrixTimeStart);
          }
          if (this.matrixInfo.matrixTimeEnd) {
            this.endDate = this.formatDate(this.matrixInfo.matrixTimeEnd);
          }

          if (
            this.matrixInfo.matrixTimeStart &&
            this.matrixInfo.matrixTimeEnd
          ) {
            this.selectedType = this.matrixInfo.matrixTimeType;
            this.selectedYear = Number(this.matrixInfo.matrixTimeYear);
            this.selectedThree = this.matrixInfo.matrixTimeDesc;

            if (this.selectedType == "自定义") {
              this.adjustDate = [];
              this.adjustDate.push(this.startDate);
              this.adjustDate.push(this.endDate);
            }

            // this.timeChange();
          }

          resolve();
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.loading-icon {
  font-size: 46px;
  color: $color-primary;
  margin: 20px 0 40px;
}
.step-container {
  font-size: 14px;
  .warn-dialog {
    .tag {
      color: #f13a3f;
      width: 60px;
      height: 22px;
      background: #ffd3d5;
      border-radius: 2px;
    }
    .banner {
      color: #ffffff;
      > div {
        width: 196px;
        height: 54px;
        border-radius: 4px;
        padding: 8px 12px;
      }
      .price {
        font-size: 18px;
        margin-top: 3px;
      }
      .gray {
        color: #999999;
      }
      & > div:nth-child(1) {
        background: #36cfc9;
      }
      & > div:nth-child(2) {
        background: $color-minor;
      }
      & > div:nth-child(3) {
        background: #0facd5;
      }
      .res {
        background: $color-primary;
      }
      .warn {
        background: $color-danger;
      }
    }
  }
  .com-dialog .el-checkbox-group {
    justify-content: flex-start;
  }
  .step1,
  .step2,
  .step3 {
    padding: 20px 0;
    margin-top: 10px;
    border-radius: 8px;
    background: #ffffff;
  }
  .step1 {
    padding-bottom: 300px;
    .choice {
      & > div {
        width: 648px;
        height: 230px;
        background: #ffffff;
        box-shadow: 0px 2px 8px 0px #e7e7e9;
        border-radius: 8px;
        padding: 6px 26px 6px 0;
      }
      .title {
        font-size: 24px;
        font-weight: bold;
      }
      .m-text {
        font-size: 14px;
        opacity: 0.6;
      }
    }
  }

  // step3
  .edit-info {
    padding: 25px 20px 66px 14px;
    margin-top: 7px;
    background: #ffffff;
    border-radius: 6px;

    .item-box {
      padding: 0 20px;
      &::v-deep .el-tabs__item {
        padding: 0 30px;
        height: 50px;
        line-height: 50px;
      }
    }

    .el-tree {
      color: #333;
      &::v-deep.el-tree--highlight-current
        .el-tree-node.is-current
        > .el-tree-node__content {
        color: #f9a147;
        background: transparent;
      }

      &::v-deep .el-tree-node__content {
        &:hover {
          color: #f9a147;
          background: transparent;
        }
      }

      &::v-deep .el-tree-node__children {
        color: #999999;
      }

      .span-ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .edit-info {
    .content {
      width: 100%;
      display: flex;
      .red-point {
        position: absolute;
        right: 8px;
        top: 5px;
        width: 7px;
        height: 7px;
        background-color: red;
        border-radius: 50%;
      }
      .left-box {
        width: 180px;
        border-radius: 2px;
        margin-right: 8px;
        background: #ffffff;
        min-width: 180px;
        margin-left: 10px;
        // margin: 0 20px;
        .left-tab {
          display: flex;
          flex-direction: column;
          align-items: center;
          .check-item {
            height: 44px;
            color: #999;
            width: 100%;
            border-bottom: 1px solid rgba(229, 229, 229, 0.5);
            position: relative;
            padding: 0 14px;
          }
          .item-active {
            color: #fff;
            background: $color-minor;
            position: relative;
            border-radius: 2px;
            &::after {
              display: block;
              content: "";
              width: 0;
              height: 0;
              border-top: 8px solid transparent;
              border-left: 8px solid $color-minor;
              border-bottom: 8px solid transparent;
              position: absolute;
              right: -8px;
              top: 50%;
              margin-top: -8px;
            }
          }
        }
      }
      .right-box {
        flex: 1;
        border-radius: 2px;
        // padding-bottom: 66px;
        background: #fff;
        .top {
          background: #fff;
          .right-form {
            padding: 20px 0 0 20px;
            .koujing {
              width: 192px;
              margin-left: 16px;
              margin-right: -2px;
            }
            .form-unit {
              width: 128px;
              padding-right: 7px;
            }
            .ipt-item {
            }
          }
        }
        .table-box {
          width: 100%;
          padding-bottom: 18px;
          position: relative;
          height: 600px;
          .el-table {
            position: absolute;
            font-size: 12px;

            &::v-deep .el-input__inner,
            .el-input {
              font-size: 12px;
            }
          }
          .green {
            color: #1eb645;
          }
          .gray {
            color: #999999;
          }
          .red {
            color: #f13a3f;
          }
          .orange {
            color: #f9a147;
          }
          .icons {
            cursor: pointer;
          }
          .title-link {
            color: $color-primary;
            cursor: pointer;
          }
        }
        .item-group {
          margin-bottom: 10px;
          border-bottom: 1px solid $color-minor;
          box-shadow: 0px 1px 0px 0px rgba(249, 161, 71, 0.3);
          .check-item {
            width: 140px;
            height: 32px;
            color: #bfbfbf;
            font-weight: 500;
            font-size: 12px;
            cursor: pointer;
            &:hover {
              color: $color-minor;
            }
          }
          .item-active {
            color: #ffffff;
            background-image: url("../../assets/img/icons/item_bg.png");
            background-size: 140px 32px;
            box-shadow: 0px 2px 0px 0px rgba(249, 161, 71, 0.3);
            border-radius: 1px;
            &:hover {
              color: #ffffff;
            }
          }
        }

        .custom-type {
          > span {
            margin-right: 15px;
            white-space: nowrap;
            min-width: 72px;
          }
          .t-wrap {
            width: 100%;
            max-width: 100%;
            min-height: 31px;
            box-sizing: border-box;
            .no-item {
              margin-bottom: 18px;
              color: $color-minor;
              font-size: 14px;
            }
            ul {
              margin-bottom: 10px;
              &.all-list {
                padding: 5px 12px;
                background: #f3f3f4;
                box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
                border-radius: 5px;
                li {
                  padding-top: 8px;
                  padding-bottom: 8px;
                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
              li {
                padding-bottom: 8px;
                margin-right: 24px;
                font-size: 14px;
                color: #666;
                cursor: pointer;
                &.active {
                  color: $color-minor;
                }
                &:hover {
                  color: $color-minor;
                }
              }
            }
          }
          .el-icon-arrow-up,
          .el-icon-arrow-down,
          .el-icon-arrow-right {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            &.is-rotate {
              transform: rotate(180deg);
            }
          }
          .is-fold {
            max-height: 50px;
            overflow-y: hidden;
          }
        }

        .project-list {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;

          p {
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .project-item {
            padding: 20px 10px;
            width: 16%;
            height: 220px;
            border: 1px solid #b9c6dc;
            // border: 1px solid #3699ff;
            margin-bottom: 10px;

            &.act {
              border: 1px solid $color-minor;

              .el-button {
                border-color: $color-minor !important;
                color: $color-minor !important;
              }
            }
            .item {
              margin: 10px 0;
              display: flex;
              .label {
                width: 86px;
              }
              .text {
                flex: 1;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }

            .el-button {
              margin-top: 5px;
              padding: 10px 20px;
              width: 120px;
            }
          }
          .mr-2 {
            margin-right: 0.8%;
          }

          .null-img {
            height: 200px;
            margin: 0 auto;
            text-align: center;
          }
        }

        .selected-list {
          padding: 0 24px;
          .addedItem-box {
            .addedItem {
              height: 24px;
              color: #999999;
              background: #ebebeb;
              border-radius: 12px;
              padding: 7px 9px;
            }
          }
        }

        .top-radius {
          .div-row {
            // padding: 0 10px;
            .mr-30 {
              margin-right: 30px !important;
            }

            display: flex;

            .el-checkbox {
              margin-bottom: 5px;
            }

            .label-text,
            &::v-deep .el-checkbox__label {
              color: #999999;
            }

            .label-text {
              font-size: 14px;
              font-family: Source Han Sans CN;
              font-weight: 700;
              color: #333333;
              min-width: 100px;
            }

            .all,
            .is-checked {
              &::v-deep .el-checkbox__label {
                color: #333;
                font-size: 14px;
              }
            }
          }
          .tag-p {
            font-size: 16px;
            color: #999999;
            position: relative;

            &::before {
              content: "";
              width: 3px;
              height: 16px;
              background: #1789f2;
              border-radius: 0px 1px 1px 0px;
              position: absolute;
              left: -20px;
              top: 50%;
              transform: translateY(-50%);
            }

            .tags {
              font-size: 12px;
              color: #333;
            }
          }
          .more {
            padding-left: 10px;
            color: $color-primary;
            cursor: pointer;
            font-size: 12px;
          }
          .show-more {
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;

            > span {
              cursor: pointer;
            }
          }
        }
      }
    }
    .el-date-editor {
      .el-input {
        width: 180px;
      }
    }
    .results {
      margin: 20px 10px 0 10px;
      padding: 20px 30px;
      font-size: 14px;
      color: #fff;
      background: #ff9081;
      li {
        flex: 1;
        text-align: center;
        position: relative;
        span {
          display: inline-block;
        }
        &:not(:last-child)::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 50px;
          background: #fff;
        }
      }
    }
  }

  .info-div {
    margin: 20px 0 20px 50px;
    font-size: 14px;
    .info-row {
      width: 80%;
    }
    .export-btn {
      text-align: right;
      .el-button {
        padding: 10px 20px;
      }
    }
  }
  .row-80 {
    width: 78%;
  }
  .row-20 {
    width: 22%;
  }
  .w-400 {
    width: 400px;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
  .active {
    color: $color-minor;
  }

  .pd10.el-button {
    padding: 10px 20px;
  }
  .result-btn {
    text-align: right;
    margin-right: 10px;
  }

  .add-file ::v-deep .el-dialog__body {
    text-align: left;
    padding: 10px 30px 30px 30px;
  }
  .com-dialog .dialog-footer button.el-button--default {
    margin-right: 0;
  }
}
</style>

<style lang="scss">
@import "../../styles/variables.scss";
.step-container {
  .dialog-box {
    .el-table__row .icon-wrap {
      .blue {
        cursor: pointer;
        color: $color-primary !important;
      }
      .org {
        cursor: pointer;
        color: $color-minor !important;
      }
    }
  }
  .warn-dialog {
    .el-dialog__header {
      background: #ffffff;
    }
    .el-dialog__body {
      border-top: 1px solid #efefef;
    }
  }
  .edit-info {
    .el-date-editor {
      .el-input__prefix,
      .el-input__suffix {
        right: 15px;
      }
    }
    .el-input__inner {
      border: 1px solid #b9c6dc;
    }
    .top,
    .info-div {
      .el-input__inner {
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
      }
    }
    .koujing {
      .el-input__inner {
        border-right: none;
        border-radius: 20px 0 0 20px;
      }
    }
    .form-unit {
      .el-input__inner {
        border-radius: 0 20px 20px 0;
      }
    }
    .table-box {
      .has-gutter {
        th {
          background: #eff2f7 !important;
        }
        .cell {
          font-size: 12px;
          color: #999999 !important;
        }
      }
      .icon-wrap {
        .icons {
          cursor: pointer;
          margin-right: 15px;
        }
      }
      .edit-item {
        .el-select {
          .el-input__inner {
            width: 135px;
            height: 34px;
          }
          .el-input__suffix {
            top: 4px !important;
            right: 4px !important;
          }
          .is-focus {
            .el-input__suffix {
              top: 0 !important;
            }
          }
        }
      }
    }
    .btns {
      .el-button--primary {
        padding: 12px 15px;
        width: 143px !important;
      }
    }
    .my-dialog {
      .el-dialog .el-dialog__body {
        .org {
          color: $color-minor;
        }
        .wth {
          width: 73%;
          margin: 0 auto 10px;
        }
        .left {
          width: 83%;
          margin: 0 auto;
          text-align: left;
        }
        .line-h {
          line-height: 20px !important;
        }
        .red {
          color: $color-danger;
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
  }

  .com-search2 {
    .el-input__inner {
      border: none;
    }
  }
}
</style>
