<template>
  <div class="step-container">
    <template>
      <!-- 步骤 -->
      <conversionStep :cur-active="curActive" />

      <!-- 步骤1 -->
      <div v-if="curActive == 1" class="step1">
        <div class="title flex-csb">
          <div class="b-title">请选择快速换算的项目</div>
          <span class="blue cp mr-10" @click="toHistory"
            >换算历史 <i class="el-icon-arrow-right"
          /></span>
        </div>
        <div class="choice flex-cc mt-30">
          <!-- <div
            v-has="'project:matrix:gainListMatrixPage'"
            class="left mr-26 flex-cc cp"
            @click="toStep2(1)"
          > -->
          <div class="left mr-26 flex-cc cp" @click="toStep2(1)">
            <img
              src="@/assets/img/v2.0/项目工程造价快速换算.png"
              alt=""
              class="mr-26"
            />
            <div>
              <div class="title mb-13">项目工程造价快速换算</div>
              <div class="m-text">快速对项目工程造价进行换算</div>
            </div>
          </div>
          <!-- <div
            v-has="'project:matrixSingle:gainListMatrixSinglePage'"
            class="right flex-cc cp"
            @click="toStep2(2)"
          > -->

          <!-- 暂时没有单项工程 -->
          <!-- <div class="right flex-cc cp" @click="toStep2(2)">
            <img src="@/assets/img/v2.0/mode2.png" alt="" class="mr-26" />
            <div>
              <div class="title mb-13">单项工程造价快速换算</div>
              <div class="m-text">快速对单项工程造价进行换算</div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- 步骤2 -->
      <div v-if="curActive == 2" class="edit-info step2">
        <div class="b-title">选择项目</div>
        <div class="item-box">
          <!-- <el-tabs
            v-model="conversionParams.specialtyType"
            type="card"
            @tab-click="handleClick"
          >
            <el-tab-pane
              v-for="item in projectOptions"
              :label="item.name"
              :name="item.name"
              :key="item.id"
            ></el-tab-pane>
          </el-tabs> -->

          <ul class="tab-ul flex-csb">
            <li
              v-for="item in projectOptions"
              :key="item.id"
              :class="[
                'flex-cc',
                'cp',
                { active: conversionParams.specialtyType == item.name },
              ]"
              @click="tabClick(item.name)"
            >
              <img :src="projectIcom(item.name)" alt="" class="mr-5" />
              {{ item.name }}
            </li>
          </ul>
        </div>
        <div class="content mt-10">
          <!-- 左选项卡 -->
          <!-- <div class="left-box">
            <div v-if="modelType == 1" class="left-tab">
              <div
                v-for="(item, index) in projectSingleList"
                :key="item.id"
                class="check-item flex-cc cp"
                :class="{ 'item-active': curSingleSort == index }"
                @click="changeSingleSort(index, item.name)"
              >
                <div class="item-text ellipsis2">{{ item.name }}</div>
              </div>
            </div>
            <el-tree
              v-else
              :data="treeTypeData"
              node-key="id"
              accordion
              :props="{ children: 'subs', label: 'name' }"
              @node-click="handleNodeClick"
              :default-expanded-keys="defaultExpand"
              ref="tree"
              highlight-current
            ></el-tree>
          </div> -->
          <!-- 右侧内容 -->
          <div class="right-box">
            <div class="top pb-10">
              <div class="flex-c screen">
                <div class="flex-c mr-30">
                  <!-- 筛选项 -->
                  <div class="com-search2">
                    <el-input
                      v-model="conversionParams.keyword"
                      placeholder="请输入项目名称搜索"
                      @keyup.enter.native="searchFun"
                    />
                    <i class="el-icon-search" @click="searchFun" />
                  </div>
                </div>
                <!-- 适用地区 -->
                <div class="flex-c">
                  <span class="com-label-text">选择集群工程地点：</span>
                  <div class="t-wrap select-row">
                    <el-select
                      v-model="conversionParams.province"
                      placeholder="--- 省 ---"
                      size="medium"
                      clearable
                      @change="changeCurPro($event)"
                    >
                      <el-option
                        v-for="item in provinceList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.name"
                      />
                    </el-select>
                    <el-select
                      v-model="conversionParams.city"
                      style="margin: 0 10px"
                      placeholder="--- 市 ---"
                      size="medium"
                      clearable
                      @change="searchFun()"
                    >
                      <el-option
                        v-for="item in cityList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.name"
                      />
                    </el-select>
                  </div>
                </div>
                <!-- 适用时间 -->
                <div class="flex-c ml-20">
                  <span class="com-label-text">工程时间：</span>
                  <div class="search-type time">
                    <div class="flex-c">
                      <el-date-picker
                        v-model="conversionParams.startDate"
                        type="month"
                        value-format="yyyy-MM"
                        :picker-options="pickerOptions1"
                        placeholder="开始日期"
                        @change="searchFun"
                      />
                      <span class="com-line" />
                      <el-date-picker
                        v-model="conversionParams.endDate"
                        type="month"
                        value-format="yyyy-MM"
                        :picker-options="pickerOptions2"
                        placeholder="结束日期"
                        @change="searchFun"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- 阶段 -->
              <!-- <div class="flex-fs custom-type">
                <span class="com-label-text">阶段</span>
                <div class="t-wrap">
                  <ul class="flex-cw">
                    <li
                      :class="{
                        active: conversionParams.stageConfigId === null,
                      }"
                      @click="stepFilter(null)"
                    >
                      全部
                    </li>
                    <li
                      :class="{
                        active: conversionParams.stageConfigId === item.id,
                      }"
                      @click="stepFilter(item.id)"
                      v-for="item in stateList"
                      :key="item.id"
                    >
                      {{ item.enableCustom ? item.customName : item.stdName }}
                    </li>
                  </ul>
                </div>
              </div> -->

              <!-- 筛选样本 -->
              <div v-if="modelType == 2" class="top-radius ml-20">
                <div>
                  <p class="tag-p mb-28">
                    特征筛选 <span class="tags">(特征可多选)</span>
                  </p>
                  <div
                    v-for="(item, key) in featureList"
                    v-show="key > 2 ? isFold : true"
                    :key="key"
                    class="div-row mb-10"
                  >
                    <span class="label-text">{{ item.name }}：</span>
                    <div class="div-spans flex-c">
                      <el-checkbox
                        v-model="featureList[key].featureAll"
                        :indeterminate="featureList[key].indeterminates"
                        class="mr-30 mb-5 all"
                        @change="conditionCheckAllChange($event, key)"
                        >全部
                      </el-checkbox>
                      <el-checkbox-group
                        v-model="featureList[key].featureChecked"
                        @change="conditionCheckedFeaturesChange($event, key)"
                      >
                        <el-checkbox
                          v-for="(it, idx) in featureItem(item.defaultValues)"
                          v-show="idx <= 7 || item.isShow"
                          :key="item.name + idx + it"
                          :label="it"
                          >{{ it }}</el-checkbox
                        >
                        <span
                          v-if="
                            featureItem(item.defaultValues) &&
                            featureItem(item.defaultValues).length > 8
                          "
                          class="more p-color"
                          @click="setMoreType(item)"
                        >
                          {{ item.isShow ? "收起" : "更多" }}
                          <span
                            class="cp p-color el-icon-arrow-right"
                            :class="{ 'is-rotate': item.isShow }"
                          />
                        </span>
                      </el-checkbox-group>
                    </div>
                  </div>
                </div>

                <!-- 展开更多 -->
                <div
                  v-if="featureList && featureList.length > 3"
                  class="show-more"
                  @click="isFold = !isFold"
                >
                  <span>{{ isFold ? "收起" : "展开" }}</span>
                  <span
                    class="cp el-icon-arrow-down"
                    :class="{ 'is-rotate': isFold }"
                  />
                </div>
              </div>
            </div>
            <!-- 表内容 -->
            <div class="table-content">
              <div class="project-list mt-10">
                <template v-if="conversionList && conversionList.length">
                  <div
                    v-for="(item, index) in conversionList"
                    :key="index"
                    class="project-item"
                    :class="{
                      'mr-2': (index + 1) % 6 != 0,
                      act:
                        addedList.length &&
                        addedList[0].projectStageId == item.projectStageId,
                    }"
                    :title="item.projectName"
                  >
                    <p>{{ item.projectName }}</p>
                    <div class="item">
                      <span class="label">阶段：</span>
                      <span class="text">{{ item.stageConfigName }}</span>
                    </div>
                    <div class="item">
                      <span class="label">总造价：</span>
                      <span class="text" :title="item.totalPrice">{{
                        item.totalPrice
                      }}</span>
                    </div>
                    <div class="item">
                      <span class="label">
                        {{ modelType == 1 ? "总建设面积：" : "建筑面积：" }}
                      </span>
                      <span
                        class="text"
                        :title="item.caliber + item.caliberUnit"
                        >{{ (item.caliber || 0) + item.caliberUnit }}</span
                      >
                    </div>
                    <div class="item">
                      <span class="label">单方造价：</span>
                      <span class="text" :title="item.econStd">{{
                        item.econStd || "---"
                      }}</span>
                    </div>
                    <div class="flex-cc">
                      <el-button
                        class="flex-cc btn btn3"
                        @click="checkedProject(item)"
                        >选择</el-button
                      >
                    </div>
                  </div>
                </template>
                <!-- 无数据 -->
                <div v-else class="null-img">
                  <img src="@/assets/img/setting/null_img.png" alt="" />
                </div>
              </div>

              <!-- 分页 -->
              <div class="flex-csb com-pages-wrap">
                <div class="flex-c left-page">
                  <span>当前显示</span>
                  <div class="flex-cc cur-page">
                    <el-select
                      v-model="conversionParams.pageSize"
                      placeholder="请选择"
                      @change="handleSizeChange($event)"
                    >
                      <el-option
                        v-for="(item, index) in pageSizeList"
                        :key="index"
                        :label="item"
                        :value="item"
                      />
                    </el-select>
                  </div>
                  <span>条</span>
                  <span class="total-num">共{{ totalCount }}条数据</span>
                </div>
                <div class="flex-c right-page">
                  <el-pagination
                    background
                    :current-page.sync="conversionParams.currentPage"
                    :page-size="conversionParams.pageSize"
                    layout="prev, pager, next, jumper"
                    :total="totalCount"
                    @current-change="handleCurrentChange"
                  />
                  <div class="com-page-btn">确定</div>
                </div>
              </div>

              <!-- 已选择项目 -->
              <div class="selected-list mt-30">
                <div class="flex-csb">
                  <div class="added flex-c">
                    <div style="width: 104px; font-weight: bold">
                      已选择项目：
                    </div>
                    <div class="addedItem-box flex-cc">
                      <div
                        v-for="item in addedList"
                        :key="item.projectStageId"
                        class="addedItem flex-csb"
                      >
                        <p class="mr-5">{{ item.projectName }}</p>
                        <img
                          src="@/assets/img/table/del_gray.png"
                          alt=""
                          class="cp"
                          @click="addedList = []"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="clear cp" @click="addedList = []">
                    <img
                      class="mr-5"
                      src="@/assets/img/table/del_gray.png"
                      alt=""
                    />
                    <span>清除</span>
                  </div>
                </div>
              </div>
              <!-- 按钮组 -->
              <div class="btns flex-cc">
                <el-button class="mr-10" @click="backOneFun"
                  >返回上一步</el-button
                >
                <el-button type="primary" @click="finishStandard"
                  >开始快速换算</el-button
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 步骤3 -->
      <div v-if="curActive == 3" class="step3 edit-info">
        <div class="b-title">项目快速换算</div>
        <div class="info-div">
          <div class="flex-c mb-20">
            <div class="flex-c row-80">
              <div class="flex-c col-1">
                <span class="com-label-text">原总造价金额：</span>
                <span> {{ addedList[0].totalPrice }} </span>
              </div>
              <div class="flex-c col-1">
                <span class="com-label-text">原总建筑面积：</span>
                <span>
                  {{ (addedList[0].caliber || 0) + addedList[0].caliberUnit }}
                </span>
              </div>
              <div class="flex-c col-1">
                <span class="com-label-text">原单方造价：</span>
                <span> {{ addedList[0].econStd }} </span>
              </div>
            </div>
            <!-- <div class="col-1 export-btn">
              <el-button class="flex-cc btn btn3" @click="exportFile">
                <img
                  src="@/assets/img/table/exports.png"
                  alt=""
                  class="el-icon-search"
                />导出方案
              </el-button>
            </div> -->
          </div>

          <div class="flex-c row-80 mb-20">
            <div class="flex-c col-1">
              <span class="com-label-text">选择调价时间：</span>
              <div class="t-wrap select-row">
                <el-select
                  v-model="selectedType"
                  size="medium"
                  clearable
                  @change="changeTimeTypes"
                >
                  <el-option
                    v-for="item in timeTypes"
                    :key="item"
                    :label="item"
                    :value="item"
                  />
                </el-select>
                <template v-if="selectedType != '自定义'">
                  <el-select
                    v-model="selectedYear"
                    style="margin: 0 10px"
                    placeholder="请选择年份"
                    size="medium"
                    clearable
                    @change="changeyear"
                  >
                    <el-option
                      v-for="item in yearOptions"
                      :key="item"
                      :label="item"
                      :value="item"
                    />
                  </el-select>
                  <el-select
                    v-if="threeOptions.length > 0"
                    v-model="selectedThree"
                    size="medium"
                    clearable
                    @change="changeThree"
                  >
                    <el-option
                      v-for="item in threeOptions"
                      :key="item"
                      :label="item"
                      :value="item"
                    />
                  </el-select>
                </template>
                <el-date-picker
                  v-else
                  v-model="adjustDate"
                  class="ml-10"
                  type="monthrange"
                  range-separator="至"
                  start-placeholder="开始日期"
                  end-placeholder="结束日期"
                  value-format="yyyy-MM"
                  @change="timeChange"
                />

                <!-- <el-date-picker v-else v-model="adjustDate" class="ml-10" type="datetimerange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" value-format="yyyy-MM-dd HH:mm:ss"
                  @change="timeChange" /> -->
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <!-- 左选项卡 -->
          <div v-if="modelType == 1" class="left-box">
            <div class="left-tab">
              <div
                v-for="item in singleProjectList"
                :key="item.projectStageId"
                class="check-item flex-cc cp"
                :class="{ 'item-active': isSingleId == item.projectStageId }"
                @click="changeSingleProject(item)"
              >
                <div class="item-text ellipsis2">{{ item.projectName }}</div>
              </div>
            </div>
          </div>
          <!-- 右侧内容 -->
          <div class="right-box">
            <div class="top mb-10">
              <div class="item-group flex-cw">
                <div
                  v-for="item in unitProjectList"
                  :key="item.id"
                  class="check-item flex-cc"
                  :class="{ 'item-active': isUnitId == item.id }"
                  @click="changeUnitProject(item.id)"
                >
                  {{ item.name }}
                </div>
              </div>
            </div>
            <!-- 表内容 -->
            <div class="table-box">
              <el-table
                v-loading="tableLoading3"
                v-el-table-infinite-scroll="loadTable"
                border
                :data="calculateData"
                tooltip-effect="dark"
                class="table-main"
                height="570px"
                :infinite-scroll-disabled="disabled"
                @cell-dblclick="cellDblClick"
              >
                <el-table-column align="center" width="66px" label="序号">
                  <template slot-scope="scope">
                    <span>{{ scope.$index + 1 }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="工料机名称及规格" prop="name">
                  <template slot-scope="scope">
                    <p class="ellipsis2" :title="scope.row.name">
                      {{ scope.row.name }}
                    </p>
                  </template>
                </el-table-column>
                <el-table-column label="单位" prop="unit" min-width="50" />
                <el-table-column label="数量" prop="count">
                  <template v-if="scope.row.count" slot-scope="scope">
                    {{ scope.row.count.toFixed(2) }}
                  </template>
                </el-table-column>
                <el-table-column label="单价(元)" prop="price" />
                <el-table-column label="合价(元)" prop="totalPrice">
                  <template v-if="scope.row.totalPrice" slot-scope="scope">
                    {{ scope.row.totalPrice.toFixed(2) }}
                  </template>
                </el-table-column>
                <el-table-column
                  label="造价占比(%)"
                  prop="pricePct"
                  min-width="90"
                />
                <el-table-column
                  label="换算单价(元)"
                  prop="matrixPrice"
                  min-width="90"
                >
                  <template slot-scope="scope">
                    <el-input
                      v-if="scope.row.show"
                      :ref="scope.column.property"
                      v-model="scope.row.matrixPrice"
                      size="small"
                      placeholder="换算单价"
                      @input="
                        scope.row.matrixPrice = checkNumber(
                          scope.row.matrixPrice
                        )
                      "
                      @blur="setMatrixPrice(scope.row)"
                    />
                    <span v-else>{{ scope.row.matrixPrice }}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="换算合价(元)"
                  prop="matrixTotalPrice"
                  min-width="90"
                >
                  <template
                    v-if="scope.row.matrixTotalPrice"
                    slot-scope="scope"
                  >
                    {{ scope.row.matrixTotalPrice.toFixed(2) }}
                  </template>
                </el-table-column>
                <el-table-column
                  label="差价(元)"
                  prop="spreadPrice"
                  min-width="90"
                >
                  <template v-if="scope.row.spreadPrice" slot-scope="scope">
                    {{ scope.row.spreadPrice.toFixed(2) }}
                  </template>
                </el-table-column>
                <el-table-column label="材价类型" prop="matType">
                  <template slot-scope="scope">
                    <span
                      :class="scope.row.matType == '本市信息价' ? 'green' : ''"
                    >
                      {{ scope.row.matType || "--/--" }}
                    </span>
                  </template>
                </el-table-column>
                <el-table-column label="操作" width="120">
                  <template slot-scope="scope">
                    <span
                      v-if="scope.row.matType"
                      class="cp p-color"
                      @click="morePrice(scope.row, scope.$index)"
                      >更多价格</span
                    >
                    <span v-else class="gray">暂无价格</span>
                  </template>
                </el-table-column>
              </el-table>
            </div>
            <div v-if="totalInfo && totalInfo[isCacheId]" class="flex-c">
              <div class="flex-c w-400">
                <span class="com-label-text">原单项工程合计：</span>
                <span v-if="totalInfo[isCacheId].totalPrice">
                  {{ totalInfo[isCacheId].totalPrice.toFixed(2) }} (元)</span
                >
                <span v-else>---</span>
              </div>
              <div class="flex-c w-400">
                <span class="com-label-text">换算后单项工程合计：</span>
                <span v-if="totalInfo[isCacheId].matrixTotalPrice" class="red">
                  {{ totalInfo[isCacheId].matrixTotalPrice.toFixed(2) }} (元)
                </span>
                <span v-else>---</span>
              </div>
            </div>
          </div>
        </div>
        <div class="footer flex-cc mt-30">
          <el-button
            class="flex-c btn pd10"
            style="width: 180px"
            type="danger"
            @click="submitResult"
            >提交换算价</el-button
          >
        </div>

        <template v-if="showResult">
          <div class="b-title mt-30">换算结果</div>
          <ul class="flex-c results">
            <li>
              <div>换算造价金额</div>
              <span v-if="resultInfo.matrixTotalPrice" class="mt-10">{{
                resultInfo.matrixTotalPrice.toFixed(2)
              }}</span>
              <span v-else class="mt-10">---</span>
            </li>
            <li>
              <div>
                <span>{{
                  modelType == 1 ? "换算总建设面积" : "换算建筑面积"
                }}</span>
                ({{ addedList[0].caliberUnit }})
              </div>
              <span class="mt-10">{{
                this.addedList[0].caliber || "---"
              }}</span>
            </li>
            <li>
              <div>换算单方造价</div>
              <span v-if="resultInfo.matrixEconStd" class="mt-10">{{
                resultInfo.matrixEconStd.toFixed(2)
              }}</span>
              <span v-else class="mt-10">---</span>
            </li>
          </ul>
          <div class="result-btn mt-30">
            <el-button class="flex-cc btn btn3 pd10" @click="submitScheme">
              <img
                src="@/assets/img/table/exports.png"
                alt=""
                class="el-icon-search"
              />保存方案
            </el-button>
          </div>
        </template>
      </div>
    </template>

    <!-- 工程换算正在查找 -->
    <el-dialog
      title="工程换算"
      class="com-dialog my-dialog"
      :visible.sync="toConversionDialog"
      width="460px"
      :close-on-click-modal="false"
    >
      <i class="el-icon-loading loading-icon" alt="" />
      <p class="blue-tips">正在查找...</p>
    </el-dialog>

    <!-- 更多价格 -->
    <el-dialog
      title="更多价格"
      :visible.sync="moreDialogShow"
      width="1300px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <div class="dialog-box">
        <el-table
          border
          :data="moreData"
          tooltip-effect="dark"
          class="table-main"
          style="width: 100%"
          min-height="100"
          max-height="475"
        >
          <el-table-column label="材料名称" prop="name">
            <template slot-scope="scope">
              <p class="ellipsis2" :title="scope.row.name">
                {{ scope.row.name }}
              </p>
            </template>
          </el-table-column>
          <el-table-column label="规格" prop="spec">
            <template slot-scope="scope">
              <p class="ellipsis2" :title="scope.row.spec">
                {{ scope.row.spec }}
              </p>
            </template>
          </el-table-column>
          <el-table-column label="单位" prop="unit" min-width="50px" />
          <el-table-column label="价格(元)" prop="price" />
          <el-table-column
            label="适用时间"
            prop="startDate"
            min-width="90px"
          >
          <template slot-scope="scope">
            <span v-if="scope.row.startDate === scope.row.endDate">{{ scope.row.startDate }}</span>
            <div v-else>{{scope.row.startDate}}<br/>{{scope.row.endDate}}</div>
          </template>
          </el-table-column>
          <el-table-column label="适用地区" min-width="90px">
            <template slot-scope="scope">
              {{ scope.row.applicableProvince }}
              <span v-if="scope.row.applicableCity"
                >- {{ scope.row.applicableCity }}
              </span>
            </template>
          </el-table-column>
          <el-table-column
            label="材价来源"
            prop="matSourceStr"
            min-width="70px"
          />
          <el-table-column label="材价类型" prop="matType" min-width="70px">
            <template slot-scope="scope">
              <span> {{ scope.row.matType || "--/--" }} </span>
            </template>
          </el-table-column>
          <el-table-column label="品牌" prop="brand" />
          <el-table-column label="档次" prop="grade" min-width="60px" />
          <el-table-column label="供应商" prop="supplier" />
          <el-table-column label="供应商地区" min-width="90px">
            <template slot-scope="scope">
              {{ scope.row.supplierProvince }}
              <span v-if="scope.row.supplierCity"
                >- {{ scope.row.supplierCity }}
              </span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="70px">
            <template slot-scope="scope">
              <span
                v-if="scope.row.id == isMetailId && scope.row.matType === isMetail.matType"
                class="cp active"
                @click="isMetailId = ''"
                >取消</span
              >
              <span
                v-else
                class="cp p-color"
                @click="
                  isMetailId = scope.row.id;
                  isMetail = scope.row;
                "
                >选用</span
              >
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select
                v-model="pageSize"
                placeholder="请选择"
                @change="handleSizeChange2($event)"
              >
                <el-option
                  v-for="(item, index) in pageSizeList2"
                  :key="index"
                  :label="item"
                  :value="item"
                />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ moreTotalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination
              background
              :current-page.sync="currentPage2"
              :page-size="pageSize2"
              layout="prev, pager, next, jumper"
              :total="moreTotalCount"
              @current-change="handleCurrentChange2"
            />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="selectMetail()">确定</el-button>
        <el-button @click="moreDialogShow = false">取消</el-button>
      </span>
    </el-dialog>

    <!-- 保存文件提示弹窗 -->
    <el-dialog
      title="温馨提示"
      :visible.sync="showTipsDialog"
      width="460px"
      class="com-dialog my-dialog"
      :close-on-click-modal="false"
    >
      <div class="flex-csb">
        <img src="@/assets/img/icons/tip-icon.png" alt="" style="width: 60px" />
        <div style="text-align: left">
          <p>您已修改了工程技术特征，请调整造价影响系数</p>
          <el-checkbox v-model="notipAgain" class="mt-10"
            >下次不再提示</el-checkbox
          >
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveStageCofirm">确定</el-button>
      </span>
    </el-dialog>

    <!-- 保存方案弹窗 -->
    <el-dialog
      title="保存方案"
      :visible.sync="showSaveScheme"
      width="460px"
      class="com-dialog my-dialog add-file"
      :close-on-click-modal="false"
    >
      <div class="com-dialog com-checkbox">
        <div class="flex-c">
          <span class="label-text ipt-text"><span>*</span>换算工程名：</span>
          <el-input
            v-model="conversionName"
            placeholder="请输入换算工程新名词"
          />
        </div>
      </div>
      <span slot="footer" class="dialog-footer flex-cc">
        <el-button v-loading="saveLoading" type="primary" @click="saveScheme"
          >确定</el-button
        >
        <el-button @click="showSaveScheme = false">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
/**
 *  总差价=合差价/合占比
    换算后单项工程合计=原单项工程合计+总差价
    换算造价金额=换算后的(单项工程名1工程合计+单项工程名2工程合计+...)
    计算换算后的新单方造价=换算造价金额/新总建设面积
    换算后单项工程合计 = （原单项工程合计+总差价）+（-）技术特征

    如果更改了换算单价：
    换算后单项工程合计 = （原单项工程合计+（总差价（+/-）差价））+（-）技术特征

    换算合价 = 数量 * 换算单价
    差价 = 换算合价 -原合价
 * */

import WarnDialog from "../project/components/warnDialog";
import { getAreaTree } from "@/api/common";
import { queryProjectTypeTree, queryNormList } from "@/api/newProject";
import conversionStep from "./components/conversionStep";
import {
  getMatrixProjectPage,
  getMatrixProjectUnit,
  matrixTotalPrice,
  listMatrixMatPage,
  getMoreOtherMatPrice,
  saveProjectMatrix,
  gainListMatrixSinglePage,
  listMatrixUnitInfo,
  matrixSingleTotalPrice,
  listMatrixSinglePage,
  saveSingleProjectMatrix,
} from "@/api/engineerConversion";
import { getTecFeature } from "@/api/targetApplication";

import { checkNumber, isRunYear } from "@/utils/common";
export default {
  name: "TargetTest",
  components: {
    conversionStep,
    WarnDialog,
  },

  data() {
    return {
      checkNumber: checkNumber,
      curActive: 1, // 步骤 czhui
      modelType: 1, // 检测模式 1项目 2工程
      projectId: "", // 项目id
      projectStageId: "", // 项目阶段id
      stageName: "", // 阶段名

      // step2
      projectOptions: [], // 项目类型列表
      areaOptions: [], // 项目地点列表
      addupOptions: [], // 计价依据列表
      unitList2: [
        "m",
        "㎡",
        "m³",
        "台",
        "t",
        "km",
        "个",
        "根",
        "站",
        "正线公里",
        "延长米",
      ], // 单位列表

      // step3
      tableData3: [], // 表格数据
      tableLoading3: false, // loading
      currentPage: 1, // 分页相关
      pageSize: 6,
      totalCount: 0,
      pageSizeList: [6, 12, 18, 24, 30],
      projectSingleList: [], // 单项工程列表
      curSingleSort: 0, // 所选单项工程index
      projectSortList: [], // 工程类目列表
      curSort: 0, // 所选工程index
      projectType: [], // 选中的工程分级
      projectTypeItem: [], // 选中的工程名称
      projectList: [], // 工程分级列表、
      disabled: false,

      treeTypeData: [],
      defaultExpand: [],
      lastId: 0,

      conversionParams: {
        // 选择工程分类 - 筛选参数
        currentPage: 1,
        pageSize: 6,
        province: "",
        city: "",
        startDate: "",
        endDate: "",
        keyword: "",
        // stageConfigId: null,
        specialtyType: "",
        // projectType: "",
        // engType: "",
      },
      specialtyCode: "", // 当前专业分类code
      featureList: [], // 技术特征
      isFold: false, // 折叠更多筛选

      provinceList: [], // 省列表
      cityList: [], // 市列表
      areaData: [],
      conversionList: [],
      addedList: [], // 已选择的项目
      toConversionDialog: false, // 查找状态
      pickerOptions1: {
        // 开始时间不可大于结束时间
        disabledDate: (time) => {
          if (this.conversionParams.endDate) {
            return time.getTime() > new Date(this.conversionParams.endDate);
          }
          return time.getTime() > Date.now();
        },
      },
      pickerOptions2: {
        // 结束时间不可小于开始时间
        disabledDate: (time) => {
          if (
            this.conversionParams.startDate &&
            time.getTime() < new Date(this.conversionParams.startDate)
          ) {
            return true;
          }
          return time.getTime() > Date.now();
        },
      },

      adjustDate: "", // 调价时间
      singleProjectList: [], // 左边栏 - 单项工程
      isSingleId: "", // 当前选中单项工程id
      unitProjectList: [], // 上 - 单位工程
      isUnitId: "", // 当前选中单位工程id
      isProjectItem: null, // 当前选中单项工程
      calculateData: [], // 计算表格数据
      currentPage3: 1, // 分页相关
      pageSize3: 20,
      totalCount3: 0,
      pageSizeList3: [10, 20, 30, 40, 50, 100],
      totalInfoList: [], // 合计
      totalInfo: {}, // 当前合计信息
      moreData: [], // 更多价格
      currentPage2: 1, // 更多价格当前页
      pageSize2: 10, // 更多价格页数大小
      moreTotalCount: 0, // 更多价格总数
      pageSizeList2: [10, 20, 30, 40, 50, 100],
      moreZcode: "",
      moreDialogShow: false,
      isMetailId: "", // 当前选中材价
      isMetail: null,
      clickIndex: null,
      resultInfo: null,

      notipAgain: false, // 下次是否再提示
      showTipsDialog: false, // 是否显示提示弹窗

      cacheArr: {}, //  缓存数据
      cacheFeature: {}, // 缓存已修改技术特征
      isCacheId: "", // 项目和单项工程换算不同id

      showSaveScheme: false, // 弹出添加换算工程名称
      conversionName: "", // 换算工程名称
      saveLoading: false,
      showResult: false,

      timeTypes: ["年", "半年", "季", "月", "自定义"],
      selectedType: "年",
      selectedYear: "", // 选择年份  默认选中今年
      threeOptions: [], // 第三个select
      selectedThree: "", // 第三个select选中值

      startDate: "",
      endDate: "",
    };
  },

  computed: {
    stateList() {
      // 阶段列表
      let list = this.$store.state.project.stageList;
      list = list.filter((item) => {
        return item.id != 1 && item.isEnable;
      });
      return list;
    },
    userId() {
      return this.$store.getters.userId;
    },
    yearOptions() {
      // 年
      const nowDate = new Date();
      const startYear = nowDate.getFullYear() - 10; // 起始年份
      const endYear = nowDate.getFullYear(); // 结束年份
      const yearOptions = [];
      for (let i = endYear; i >= startYear; i--) {
        yearOptions.push(i);
      }
      return yearOptions;
    },
    // 默认城市
    defaultCity() {
      return sessionStorage.getItem("init_default_city");
    },
    // 默认省份
    defaultProvince() {
      return sessionStorage.getItem("init_default_province");
    },
  },

  watch: {
    // 当前选中单位工程阶段id
    isUnitId(id) {
      if (id) {
        this.currentPage3 = 1;
        // 获取换算后单项工程列表
        this.listMatrixMatPage();
      }
    },

    // 监听总金额有变化后重新计算
    totalInfo: {
      deep: true,
      handler: function (data) {
        // 重新计算结果
        this.calculateResult();
      },
    },
  },

  mounted() {
    this.getAreaTree();
  },

  methods: {
    // 选中筛选时间类型
    changeTimeTypes(type) {
      this.threeOptions = [];
      this.changeyear(this.selectedYear);
    },
    // 选中筛选年份
    changeyear(year) {
      this.selectedThree = "";
      if (year) {
        if (this.selectedType == "半年") {
          this.threeOptions = ["上半年", "下半年"];
          this.selectedThree = "上半年";
        } else if (this.selectedType == "季") {
          this.threeOptions = ["第一季度", "第二季度", "第三季度", "第四季度"];
          this.selectedThree = "第一季度";
        } else if (this.selectedType == "月") {
          this.threeOptions = [
            "1月",
            "2月",
            "3月",
            "4月",
            "5月",
            "6月",
            "7月",
            "8月",
            "9月",
            "10月",
            "11月",
            "12月",
          ];
          this.selectedThree = "1月";
        }
      }

      // 刷新
      this.timeChange();
    },
    // 选中月份/半年/季度  刷新
    changeThree(three) {
      // 刷新
      this.timeChange();
    },
    // 调价时间中文转date类型
    splicingDate() {
      if (this.selectedYear) {
        if (this.selectedType == "年") {
          // this.startDate = this.selectedYear + '-01-01 00:00:00'
          // this.endDate = this.selectedYear + '-12-31 23:59:59'

          this.startDate = this.selectedYear + "-01";
          this.endDate = this.selectedYear + "-12";
        } else {
          if (this.selectedType == "半年") {
            if (this.selectedThree == "上半年") {
              // this.startDate = this.selectedYear + '-01-01 00:00:00'
              // this.endDate = this.selectedYear + '-06-30 23:59:59'

              this.startDate = this.selectedYear + "-01";
              this.endDate = this.selectedYear + "-06";
            } else {
              // this.startDate = this.selectedYear + '-07-01 00:00:00'
              // this.endDate = this.selectedYear + '-12-31 23:59:59'

              this.startDate = this.selectedYear + "-07";
              this.endDate = this.selectedYear + "-12";
            }
          } else if (this.selectedType == "季") {
            if (this.selectedThree == "第一季度") {
              // this.startDate = this.selectedYear + '-01-01 00:00:00'
              // this.endDate = this.selectedYear + '-03-31 23:59:59'

              this.startDate = this.selectedYear + "-01";
              this.endDate = this.selectedYear + "-03";
            } else if (this.selectedThree == "第二季度") {
              // this.startDate = this.selectedYear + '-04-01 00:00:00'
              // this.endDate = this.selectedYear + '-06-30 23:59:59'

              this.startDate = this.selectedYear + "-04";
              this.endDate = this.selectedYear + "-06";
            } else if (this.selectedThree == "第三季度") {
              // this.startDate = this.selectedYear + '-07-01 00:00:00'
              // this.endDate = this.selectedYear + '-09-31 23:59:59'

              this.startDate = this.selectedYear + "-07";
              this.endDate = this.selectedYear + "-09";
            } else if (this.selectedThree == "第四季度") {
              // this.startDate = this.selectedYear + '-10-01 00:00:00'
              // this.endDate = this.selectedYear + '-12-31 23:59:59'

              this.startDate = this.selectedYear + "-10";
              this.endDate = this.selectedYear + "-12";
            }
          } else if (this.selectedType == "月") {
            let num = parseInt(this.selectedThree);
            let day = "30";
            if (
              num == 1 ||
              num == 3 ||
              num == 5 ||
              num == 7 ||
              num == 8 ||
              num == 10 ||
              num == 12
            ) {
              day = "31";
            } else if (num == 2) {
              // 是否闰年
              if (isRunYear(this.selectedYear)) {
                day = "29";
              } else {
                day = "28";
              }
            }
            num = num.toString().padStart(2, "0");

            // this.startDate = this.selectedYear + '-' + num + '-01 00:00:00'
            // this.endDate = this.selectedYear + '-' + num + '-' + day + ' 23:59:59'

            this.startDate = this.selectedYear + "-" + num;
            this.endDate = this.selectedYear + "-" + num;
          } else if (this.selectedType == "自定义") {
            if (this.adjustDate) {
              this.startDate = this.adjustDate[0];
              this.endDate = this.adjustDate[1];
            } else {
              this.startDate = "";
              this.endDate = "";
            }
          }
        }
      } else {
        this.startDate = "";
        this.endDate = "";
      }

    },
    // 更多价格
    setMoreType(item) {
      if (!item.isShow) {
        this.$set(item, "isShow", false);
        item.isShow = !item.isShow;
      } else {
        item.isShow = !item.isShow;
      }
    },
    // 切换项目工程
    handleClick(tab) {
      // 项目工程
      if (this.modelType == 1) {
        this.projectSingleList = this.projectOptions[tab.index].subs;
        // this.conversionParams.projectType = this.projectSingleList[0].name;
      } else {
        // 单项工程
        this.treeTypeData = this.projectOptions[tab.index].subs;
        this.specialtyCode = this.projectOptions[tab.index].code;
        // 默认展开第一级
        this.recursionFun(this.treeTypeData);
        // 设置默认选中第一级的最子级
        this.$nextTick(function () {
          this.$refs.tree.setCurrentKey(this.lastId);
        });
      }

      // 刷新
      this.searchFun();
    },
    tabClick(name) {
      this.conversionParams.specialtyType = name;
      // 刷新
      this.searchFun();
    },
    // 切换树项目分类
    handleNodeClick(it, node) {
      if (node.level == 2) {
        // 只有工程类型级能切换
        this.lastId = it.id;
        // 使树筛选时选中的节点高亮显示
        this.$refs.tree.setCurrentKey(it.id);
        this.conversionParams.engType = it.name;
        this.conversionParams.projectType = node.parent.data.name;
        // 刷新
        this.searchFun();
      } else {
        this.$refs.tree.setCurrentKey(this.lastId);
      }
    },
    // 项目工程 - 搜索
    searchFun() {
      this.addedList = [];
      this.conversionParams.currentPage = 1;

      this.getMatrixProjectPage();
    },
    // 项目工程 - 获取项目换算工程列表
    getMatrixProjectPage() {
      // 加载时间短就不显示加载弹窗
      const timeout = setTimeout(() => {
        this.toConversionDialog = true;
      }, 500);

      // 项目工程
      if (this.modelType == 1) {
        getMatrixProjectPage(this.conversionParams).then((res) => {
          if (res.code == "01") {
            this.totalCount = res.body.totalCount;
            this.conversionList = res.body.list;
          }
          this.toConversionDialog = false;
          clearTimeout(timeout);
        });
      } else {
        // 单项工程
        const params = JSON.parse(JSON.stringify(this.conversionParams));
        gainListMatrixSinglePage(params).then((res) => {
          if (res.code == "01") {
            this.totalCount = res.body.totalCount;
            this.conversionList = res.body.list;
          }
          this.toConversionDialog = false;
          clearTimeout(timeout);
        });
      }
    },
    // 获取匹配的技术特征
    getTecFeature() {
      if (!this.specialtyCode) {
        this.featureList = [];
        return;
      }
      getTecFeature({ code: this.specialtyCode }).then((res) => {
        if (res && res.code == "01") {
          this.featureList = res.body;

          if (this.featureList && this.featureList.length) {
            for (let i = 0, l = this.featureList.length; i < l; i++) {
              const arr = this.featureList[i].defaultValues.split(",");
              this.$set(this.featureList[i], "featureArr", arr);
              // $set实现双向绑定，实时更新视图
              this.$set(this.featureList[i], "featureAll", false);
              this.$set(this.featureList[i], "indeterminates", false);
              this.$set(this.featureList[i], "featureChecked", []);
            }
          }
        }
      });
    },
    // 技术特征复选-全选
    conditionCheckAllChange(val, key) {
      const featureArr = val ? this.featureList[key].featureArr : [];
      this.$set(this.featureList[key], "featureChecked", featureArr); // $set实现双向绑定，实时更新视图
      this.featureList[key].indeterminates = false;
      this.searchFun();
    },
    conditionCheckedFeaturesChange(value, key) {
      this.$emit("change", this.featureList[key].featureChecked);
      const checkedCount = this.featureList[key].featureChecked.length;
      const featuresLen = this.featureList[key].featureArr.length;
      this.featureList[key].featureAll = checkedCount === featuresLen;
      this.featureList[key].indeterminates =
        checkedCount > 0 && checkedCount < featuresLen;
      this.searchFun();
    },
    // 提示按钮
    saveStageCofirm() {
      if (this.notipAgain) {
        localStorage.setItem("notTip" + this.userId, this.notipAgain);
      }
      this.showTipsDialog = false;
    },
    // 换算单价
    setMatrixPrice(row, type) {
      // 有值才计算
      if (row.matrixPrice) {
        // 换算后合计 = (换算差价 - 原换算差价 + 合差价)/合占比 + 原总合价

        // 换算合价 = 换算单价 * 数量
        const matrixTotalPrice = Number(row.matrixPrice) * row.count;

        console.log("Number(row.matrixPrice)", Number(row.matrixPrice));
        this.$set(row, "matrixTotalPrice", matrixTotalPrice);

        console.log("换算合价", matrixTotalPrice);

        // 换算差价 = 换算合价 - 原合价
        const spreadPrice = this.calculation(
          "reduce",
          matrixTotalPrice,
          Number(row.totalPrice)
        );

        // 换算差价 - 原换算差价
        const leftSpread = this.calculation(
          "reduce",
          spreadPrice,
          Number(row.spreadPrice)
        );
        this.$set(row, "spreadPrice", spreadPrice);

        console.log("换算差价", spreadPrice);

        console.log(
          "this.totalInfo[this.isCacheId]",
          this.totalInfo[this.isCacheId]
        );

        // 换算后合差价 = (换算差价- 原换算差价) + 合差价
        const leftTotal = this.calculation(
          "add",
          leftSpread,
          this.totalInfo[this.isCacheId].spreadPriceSum
        );

        this.$set(this.totalInfo[this.isCacheId], "spreadPriceSum", leftTotal);

        console.log(leftTotal);

        // 换算后合差价 / 合占比
        const totalSpread = this.calculation(
          "except",
          leftTotal,
          this.totalInfo[this.isCacheId].pricePctSum
        );

        console.log(totalSpread);

        this.totalInfo[this.isCacheId].matrixTotalPrice = this.calculation(
          "add",
          totalSpread,
          this.totalInfo[this.isCacheId].totalPrice
        );

        this.totalInfo[this.isCacheId].listSpread = JSON.parse(
          JSON.stringify(this.totalInfo[this.isCacheId].matrixTotalPrice)
        );

        // 技术特征  -- 暂时屏蔽技术特征
        // this.featureCaculate();
        // // 技术特征算完后的换算总价
        // if (this.totalInfo[this.isCacheId].featureSpread) {
        //   this.totalInfo[this.isCacheId].matrixTotalPrice = this.calculation(
        //     "add",
        //     this.totalInfo[this.isCacheId].matrixTotalPrice,
        //     this.totalInfo[this.isCacheId].featureSpread
        //   );
        // }

        if (type != "select") {
          this.$set(row, "matId", null);
          this.$set(row, "matType", "");
          this.$set(row, "show", false);
        }

        this.cacheArr[this.isSingleId]
          ? ""
          : (this.cacheArr[this.isSingleId] = {});
        this.cacheArr[this.isSingleId][this.isUnitId]
          ? ""
          : (this.cacheArr[this.isSingleId][this.isUnitId] = {});
        this.cacheArr[this.isSingleId][this.isUnitId][row.id] = row;
        console.log("结果", this.totalInfo[this.isCacheId].matrixTotalPrice);
      } else {
        // 有值说明之前有换算差价
        if (row.matrixTotalPrice) {
          // 换算后合差价 = 合差价- 原换算差价
          const leftTotal = this.calculation(
            "reduce",
            this.totalInfo[this.isCacheId].spreadPriceSum,
            Number(row.spreadPrice)
          );
          this.$set(
            this.totalInfo[this.isCacheId],
            "spreadPriceSum",
            leftTotal
          );

          this.$set(
            this.totalInfo[this.isCacheId],
            "spreadPriceSum",
            leftTotal
          );

          // 换算合价
          this.$set(row, "matrixTotalPrice", null);
          // 换算后差价
          this.$set(row, "spreadPrice", null);

          console.log(leftTotal);

          // 换算后合差价 / 合占比
          const totalSpread = this.calculation(
            "except",
            leftTotal,
            this.totalInfo[this.isCacheId].pricePctSum
          );

          console.log(totalSpread);

          this.totalInfo[this.isCacheId].matrixTotalPrice = this.calculation(
            "add",
            totalSpread,
            this.totalInfo[this.isCacheId].totalPrice
          );

          this.totalInfo[this.isCacheId].listSpread = JSON.parse(
            JSON.stringify(this.totalInfo[this.isCacheId].matrixTotalPrice)
          );

          if (type != "select") {
            this.$set(row, "matId", null);
            this.$set(row, "matType", "");
            this.$set(row, "show", false);
          }
        } else {
          // 避免第一次输入0第二次清空遗留差价问题
          this.$set(row, "spreadPrice", null);
          this.$set(row, "show", false);
        }
      }
    },
    // 小数加减乘除
    calculation(type, num1, num2) {
      var temp1, temp2, a;
      try {
        // 获取 temp1小数点后的长度
        temp1 = num1.toString().split(".")[1].length;
      } catch (e) {
        temp1 = 0;
      }
      try {
        // 获取 temp2小数点后的长度
        temp2 = num2.toString().split(".")[1].length;
      } catch (e) {
        temp2 = 0;
      }
      // Math.max(temp1, temp2) 为了获取temp1和temp2两个值中较大的一个
      // Math.pow(a,b) 表示 a 的 b次方
      a = Math.pow(10, Math.max(temp1, temp2));

      // 计算的方式是先将所有的小数乘为整数，待加减运算执行完之后再除去对应的a的值，将其变为小数输出
      // 先判断执行的方式是否是加法，不是的话则执行减法运算
      let result = 0;
      if (type == "add") {
        result = (num1 * a + num2 * a) / a;
      } else if (type == "reduce") {
        result = (num1 * a - num2 * a) / a;
      } else if (type == "ride") {
        result = (num1 * a * num2 * a) / a / a;
      } else {
        // except
        if (num1 && num2) {
          result = (((num1 * a) / num2) * a) / a / a;
        } else {
          result = 0;
        }
      }
      return result;
    },
    // 字符串转数组
    featureItem(str) {
      let arr = [];
      if (str) arr = str.split(",");
      return arr;
    },

    // 筛选 选中省份
    changeCurPro(pro) {
      if (pro) {
        this.cityList = this.areaData[pro];
        this.conversionParams.city = this.cityList[0].name;
      } else {
        this.cityList = [];
        this.conversionParams.city = "";
      }

      this.searchFun();
    },
    // 筛选 选中阶段
    stepFilter(step) {
      this.conversionParams.stageConfigId = step;

      this.searchFun();
    },

    // 选择模式跳转步骤二
    toStep2(type) {
      // if (type == 1) this.conversionParams.engType = null;
      this.curActive = 2;
      this.modelType = type;
      this.ProjectTypeTreeList();
    },

    // 递归找最子级
    recursionFun(arr) {
      if (arr && arr.length) {
        this.lastId = arr[0].id;
        this.defaultExpand.push(arr[0].id);

        if (!arr[0].subs) {
          // 工程类型
          this.conversionParams.engType = arr[0].name;
        } else {
          // 项目类型
          this.conversionParams.projectType = arr[0].name;
        }

        if (arr[0].subs && arr[0].subs.length) {
          this.recursionFun(arr[0].subs);
        }
      }
    },
    // 获取项目分类
    ProjectTypeTreeList() {
      var formData = new FormData();
      formData.append("type", 1);
      queryProjectTypeTree(formData).then((res) => {
        this.defaultExpand = [];
        if (res && res.code == "01") {
          this.projectOptions = res.body;

          if (this.modelType == 1) {
            // 项目工程
            if (this.projectOptions && this.projectOptions.length) {
              this.conversionParams.specialtyType = this.projectOptions[0].name;
              this.projectSingleList = this.projectOptions[0].subs;
              // this.conversionParams.projectType =
              //   this.projectSingleList[0].name;
              this.searchFun();
            }
          } else {
            if (this.projectOptions && this.projectOptions.length) {
              this.conversionParams.specialtyType = this.projectOptions[0].name;
              this.specialtyCode = this.projectOptions[0].code;
              this.treeTypeData = this.projectOptions[0].subs;

              // // 默认展开第一级
              // this.recursionFun(this.treeTypeData);
              // // 设置默认选中第一级的最子级
              // this.$nextTick(function () {
              //   console.log(this.$refs.tree);
              //   this.$refs.tree.setCurrentKey(this.lastId);
              // });

              this.searchFun();
            }
          }
        }
      });
      // var formData2 = new FormData();
      // formData2.append("type", 2);
      // queryProjectTypeTree(formData2).then((res) => {
      //   if (res.code == "01") {
      //     this.addupOptions = res.body;
      //   }
      // });
    },
    projectIcom(name) {
      if (name) {
        let icon = "房屋";

        switch (name) {
          case "房屋工程":
            icon = "房屋";
            break;
          case "仿古房屋工程":
            icon = "仿古";
            break;
          case "市政工程":
            icon = "市政";
            break;
          case "城市轨道交通工程":
            icon = "轨道";
            break;
          case "园林绿化工程":
            icon = "园林";
            break;
          case "矿山工程":
            icon = "矿山";
            break;
          case "爆破工程":
            icon = "爆破";
            break;
          case "构筑物工程":
            icon = "构筑物";
            break;
        }

        return require("@/assets/img/v2.0/project/" + icon + ".png");
      }
    },

    // 获取项目地点
    getAreaTree() {
      getAreaTree().then((res) => {
        if (res.code === "01") {
          this.areaOptions = res.body;
          this.provinceList = res.body;

          const areaData = []; //  [{省：[{市：[区]}]}]
          res.body.forEach((item) => {
            const cityarr = [];
            if (item.sub) {
              item.sub.forEach((city) => {
                const areaarr = [];
                if (city.sub) {
                  city.sub.forEach((area) => {
                    areaarr.push(area.name);
                  });
                }
                const obj = {};
                obj.name = city.name;
                obj.id = city.id;
                obj.sub = areaarr;
                cityarr.push(obj);
              });
            }
            areaData[item.name] = cityarr;
          });
          this.areaData = areaData;

          // 默认选中江门市
          this.$nextTick(() => {
            this.conversionParams.province = this.defaultProvince;
            this.cityList = this.areaData[this.defaultProvince];
            this.conversionParams.city = this.defaultCity;
          });
        }
      });
    },

    // 获取工程分类列表
    getNormList(code) {
      if (!code) code = this.projectSortList[0].code;
      var formData = new FormData();
      formData.append("type", 1);
      formData.append("normCode", code);
      queryNormList(formData).then((res) => {
        if (res.body.length > 0) this.projectList = res.body[0].sub;
      });
    },

    // 切换单项工程
    changeSingleSort(index, name) {
      this.curSingleSort = index;
      this.conversionParams.projectType = name;

      // 刷新
      this.searchFun();
    },

    // 切换单项工程
    changeSingleProject(item) {
      this.currentPage3 = 1;
      this.isSingleId = item.projectStageId;
      this.isProjectItem = item;

      this.isCacheId = this.isSingleId;

      // 单位工程
      this.unitProjectList = item.specialtyTypeMap;
      if (this.unitProjectList && this.unitProjectList.length) {
        // 默认选中第一个
        this.isUnitId = this.unitProjectList[0].id;
      }

      console.log("切换单项工程");
    },
    // 切换单位工程
    changeUnitProject(id) {
      this.currentPage3 = 1;
      this.isUnitId = id;
    },

    // 切换工程
    changeCurSort(index, item) {
      this.curSort = index;
      this.projectType = [];
      this.projectTypeItem = [];
      this.getNormList(item.code);
      setTimeout(() => {
        this.currentPage = 1;
        this.getTableData(item.id);
      }, 300);
    },

    // 切换分页
    handleCurrentChange(val) {
      this.conversionParams.currentPage = val;
      this.getMatrixProjectPage();
    },
    // 切换每页显示条数
    handleSizeChange(val) {
      console.log("xxx", val);
      this.conversionParams.pageSize = val;
      this.searchFun();
    },

    // 完成标准化校验按钮
    finishStandard() {
      // 校验
      if (!this.addedList || !this.addedList.length) {
        this.$message({
          type: "error",
          message: "请先选中换算项目！",
        });
        return;
      }

      // 获取单项工程
      this.getMatrixProjectUnit();
      // 合计
      this.matrixTotalPrice();

      this.curActive = 3;
    },

    // 返回步骤一
    backOneFun() {
      this.curActive = 1;
    },

    // 查看检测报告
    testReport() {
      this.loading = false;
      this.curActive = 3;
    },

    // 选中当前项目
    checkedProject(item) {
      this.addedList = [];
      this.addedList.push(item);
    },
    // 项目工程 - 获取单项工程
    getMatrixProjectUnit() {
      if (!this.addedList || !this.addedList.length) return;
      const id = this.addedList[0].projectStageId;

      if (this.modelType == 1) {
        // 项目工程
        getMatrixProjectUnit({ projectStageId: id }).then((res) => {
          if (res && res.code == "01") {
            console.log("获取单位工程", res);
            this.singleProjectList = res.body;

            if (this.singleProjectList && this.singleProjectList.length) {
              // 默认选中第一个
              this.isSingleId = this.singleProjectList[0].projectStageId;
              this.isProjectItem = this.singleProjectList[0];

              // 单位工程
              this.unitProjectList = this.singleProjectList[0].specialtyTypeMap;
              if (this.unitProjectList && this.unitProjectList.length) {
                // 默认选中第一个
                this.isUnitId = this.unitProjectList[0].id;
              }
            }
          }
        });
      } else {
        // 单项工程
        listMatrixUnitInfo({ projectStageId: id }).then((res) => {
          if (res && res.code == "01") {
            console.log("获取单位工程", res);
            this.singleProjectList = [];
            this.singleProjectList.push(res.body);
            this.isSingleId = res.body.projectStageId;
            this.isProjectItem = res.body;

            // 单位工程
            this.unitProjectList = res.body.specialtyTypeMap;
            if (this.unitProjectList && this.unitProjectList.length) {
              // 默认选中第一个
              this.isUnitId = this.unitProjectList[0].id;
            }
          }
        });
      }
    },
    // 选中换算时间
    timeChange() {
      console.log("zdy", this.adjustDate);
      // 刷新时间
      this.splicingDate();

      this.currentPage3 = 1;
      this.cacheArr = {};
      this.disabled = false;
      this.listMatrixMatPage();
      this.matrixTotalPrice("time");
    },
    // 项目工程 - 获取换算后的单项工程合计
    matrixTotalPrice(type) {
      const data = {
        // conversionTime: this.adjustDate,
        startTime: this.startDate,
        endTime: this.endDate,
        projectStageId: this.addedList[0].projectStageId,
      };

      if (this.modelType == 1) {
        // 项目工程
        matrixTotalPrice(data).then((res) => {
          if (res && res.code == "01") {
            this.totalInfoList = res.body;
            console.log("单项工程合计", res);

            const midTotalInfo = JSON.parse(JSON.stringify(this.totalInfo));
            this.totalInfo = {};
            if (this.totalInfoList && this.totalInfoList.length) {
              // matrixTotalPrice
              for (let j = 0, l2 = this.totalInfoList.length; j < l2; j++) {
                const id = this.totalInfoList[j].projectStageId;
                if (midTotalInfo[id]) {
                  this.totalInfo[id] = this.totalInfoList[j];

                  this.totalInfo[id].listSpread =
                    midTotalInfo[id].listSpread || null;
                } else {
                  this.totalInfo[id] = this.totalInfoList[j];
                }
              }
              this.isCacheId = this.isSingleId;
            }
          }
        });
      } else {
        // 单项工程
        matrixSingleTotalPrice(data).then((res) => {
          if (res && res.code == "01") {
            this.totalInfoList = res.body;
            console.log("单项工程合计", res);

            const midTotalInfo = JSON.parse(JSON.stringify(this.totalInfo));
            this.totalInfo = {};
            if (this.totalInfoList && this.totalInfoList.length) {
              for (let j = 0, l2 = this.totalInfoList.length; j < l2; j++) {
                const id = this.totalInfoList[j].projectStageId;
                if (midTotalInfo[id]) {
                  this.totalInfo[id] = this.totalInfoList[j];

                  this.totalInfo[id].listSpread =
                    midTotalInfo[id].listSpread || null;
                } else {
                  this.totalInfo[id] = this.totalInfoList[j];
                }
              }
              this.isCacheId = this.addedList[0].projectStageId;
            }
          }
        });
      }
    },
    // 项目工程 - 材价换算列表
    listMatrixMatPage() {
      // 调价时间

      if (this.modelType == 1) {
        const data = {
          province: this.isProjectItem.province,
          city: this.isProjectItem.city,
          // conversionTime: this.adjustDate,
          projectStageId: this.isProjectItem.projectStageId,
          startTime: this.startDate,
          endTime: this.endDate,
          unitId: this.isUnitId,
          matrixProjectId: this.isProjectItem.matrixProjectId,
          pageSize: this.pageSize3,
          currentPage: this.currentPage3,
        };
        // 项目工程
        listMatrixMatPage(data).then((res) => {
          if (res && res.code == "01") {
            if (this.currentPage3 > 1 && res.body.list.length) {
              const arr = JSON.parse(JSON.stringify(res.body.list));
              this.calculateData = this.calculateData.concat(arr);
            } else if (this.currentPage3 == 1) {
              this.calculateData = res.body.list;
            } else {
              this.disabled = true;
              return;
            }

            this.totalCount3 = res.body.totalCount;
            console.log("材价换算列表", res);

            console.log("this.cacheArr", this.cacheArr);
            if (
              this.cacheArr[this.isSingleId] &&
              this.cacheArr[this.isSingleId][this.isUnitId]
            ) {
              const objs = this.cacheArr[this.isSingleId][this.isUnitId];

              if (objs && JSON.stringify(objs) != "{}") {
                console.log(objs);
                const arr = [];
                for (const key in objs) {
                  arr.push(objs[key]);
                }
                console.log("arr", arr);
                for (let i = 0, l = arr.length; i < l; i++) {
                  for (let j = 0, l2 = this.calculateData.length; j < l2; j++) {
                    if (arr[i].id == this.calculateData[j].id) {
                      this.calculateData[j] = arr[i];
                      console.log("等于", this.calculateData);
                    }
                  }
                }
              }
            }
          }
        });
      } else {
        const data = {
          province: this.addedList[0].province,
          city: this.addedList[0].city,
          // conversionTime: this.adjustDate,
          startTime: this.startDate,
          endTime: this.endDate,
          projectStageId: this.addedList[0].projectStageId,
          unitId: this.isUnitId,
          pageSize: this.pageSize3,
          currentPage: this.currentPage3,
        };
        // 单项工程
        listMatrixSinglePage(data).then((res) => {
          if (res && res.code == "01") {
            if (this.currentPage3 > 1 && res.body.list.length) {
              const arr = JSON.parse(JSON.stringify(res.body.list));
              this.calculateData = this.calculateData.concat(arr);
            } else if (this.currentPage3 == 1) {
              this.calculateData = res.body.list;
            } else {
              this.disabled = true;
              return;
            }

            this.totalCount3 = res.body.totalCount;
            console.log("材价换算列表", res);

            console.log("this.cacheArr", this.cacheArr);
            if (
              this.cacheArr[this.isSingleId] &&
              this.cacheArr[this.isSingleId][this.isUnitId]
            ) {
              const objs = this.cacheArr[this.isSingleId][this.isUnitId];

              if (objs && JSON.stringify(objs) != "{}") {
                console.log(objs);
                const arr = [];
                for (const key in objs) {
                  arr.push(objs[key]);
                }
                console.log("arr", arr);
                for (let i = 0, l = arr.length; i < l; i++) {
                  for (let j = 0, l2 = this.calculateData.length; j < l2; j++) {
                    if (arr[i].id == this.calculateData[j].id) {
                      this.calculateData[j] = arr[i];
                      console.log("等于", this.calculateData);
                    }
                  }
                }
              }
            }
          }
        });
      }
    },
    // 切换分页
    handleCurrentChange3(val) {
      this.currentPage3 = val;
      this.listMatrixMatPage();
    },
    // 切换每页显示条数
    handleSizeChange3(val) {
      this.pageSize3 = val;
      this.listMatrixMatPage();
    },
    // 滚动分页
    loadTable() {
      const isTotal = this.currentPage3 * this.currentPage3;
      if (isTotal < this.totalCount3) {
        this.currentPage3++;
        this.listMatrixMatPage();
      }
      console.log("底部", this.totalCount3, this.calculateData.length);
    },
    // 切换分页
    handleCurrentChange2(val) {
      this.currentPage2 = val;
      this.getMoreOtherMatPrice();
    },
    // 切换每页显示条数
    handleSizeChange2(val) {
      this.pageSize2 = val;
      this.getMoreOtherMatPrice();
    },
    // 项目工程 - 更多价格
    morePrice(row, index) {
      this.isMetailId = row.matId;
      this.isMetail = row;
      this.clickIndex = index;
      if (row.zcode) {
        this.moreZcode = row.zcode;
        this.getMoreOtherMatPrice();
      }
    },
    // 获取更多价格列表
    getMoreOtherMatPrice() {
      const params = {
        // conversionTime: this.adjustDate,
        startTime: this.startDate,
        endTime: this.endDate,
        zcode: this.moreZcode,
        currentPage: this.currentPage2,
        pageSize: this.pageSize2,
        province: this.isProjectItem.province,
        city: this.isProjectItem.city,
        matrixProjectId: this.isProjectItem.matrixProjectId,
        projectStageId: this.isSingleId,
      };
      getMoreOtherMatPrice(params).then((res) => {
        if (res && res.code == "01") {
          console.log("更多价格", res);
          this.moreData = res.body.list;
          this.moreTotalCount = res.body.totalCount;
          this.moreDialogShow = true;
        }
      });
    },
    // 选中
    selectMetail() {
      console.log(this.isMetail, this.clickIndex);
      if (!this.isMetailId) {
        this.$message.error("请先选中要替换的材价！");
        return;
      }
      if (this.isMetail) {
        const row = this.calculateData[this.clickIndex];
        this.$set(row, "matId", this.isMetail.id);
        this.$set(row, "matrixPrice", this.isMetail.price);
        this.$set(row, "matType", this.isMetail.matType);

        this.setMatrixPrice(row, "select");
      } else {
        this.$message.error("当前材价不能被替换！");
      }
      console.log(this.calculateData);
      this.moreDialogShow = false;
    },
    // 双击编辑换算单价
    cellDblClick(row, column) {
      if (column.property == "matrixPrice") {
        if (!this.startDate) {
          this.$message.warning("请先选择调价时间！");
          return;
        }

        console.log("换算单价", row, column);
        this.$set(row, "show", true);

        this.$nextTick(() => {
          this.$refs[column.property] && this.$refs[column.property].focus();
        });
      }
    },
    // 计算结果
    calculateResult() {
      console.log("计算结果", this.totalInfo);
      // 项目工程
      if (this.modelType == 1) {
        let total = 0;
        for (const key in this.totalInfo) {
          total += this.totalInfo[key].matrixTotalPrice;
        }
        if (!this.resultInfo) this.resultInfo = {};
        this.resultInfo.matrixTotalPrice = total;
        console.log(this.resultInfo.matrixTotalPrice);
      } else {
        // 单项工程
        if (!this.resultInfo) this.resultInfo = {};
        this.resultInfo.matrixTotalPrice =
          this.totalInfo[this.isCacheId].matrixTotalPrice;
      }

      // 换算单方造价
      if (this.addedList[0].caliber && this.resultInfo.matrixTotalPrice) {
        this.resultInfo.matrixEconStd =
          this.resultInfo.matrixTotalPrice / Number(this.addedList[0].caliber);
      } else {
        this.resultInfo.matrixEconStd = null;
      }
    },
    // 提交换算价
    submitResult() {
      this.showResult = true;
      // this.calculateResult();
    },
    // 提交方案
    submitScheme() {
      this.showSaveScheme = true;
    },
    // 保存方案
    saveScheme() {
      if (!this.conversionName) {
        this.$message.error("请输入换算工程新名称!");
        return;
      }
      this.saveLoading = true;

      // 拼接参数
      const data = this.setSaveMatrixData();

      // 项目工程
      if (this.modelType == 1) {
        saveProjectMatrix(data).then((res) => {
          if (res && res.code == "01") {
            console.log("保存方案", data);
            this.$message.success("保存方案成功！");
            this.showSaveScheme = false;
            this.$router.push({
              path: "/targetApplication/conversionHistory",
            });
          } else {
            this.$message.error(res.message || "操作失败！");
          }

          this.saveLoading = false;
        });
      } else {
        // 单项工程
        data.engType = this.conversionParams.engType;

        saveSingleProjectMatrix(data).then((res) => {
          if (res && res.code == "01") {
            console.log("保存方案", data);
            this.$message.success("保存方案成功！");
            this.showSaveScheme = false;
            this.$router.push({
              path: "/targetApplication/conversionHistory",
            });
          } else {
            this.$message.error(res.message || "操作失败！");
          }

          this.saveLoading = false;
        });
      }
    },
    // 保存方案数组组装
    setSaveMatrixData() {
      const data = {};
      data.caliber = this.addedList[0].caliber;
      data.caliberUnit = this.addedList[0].caliberUnit;
      data.econStd = this.addedList[0].econStd;
      data.totalPrice = this.addedList[0].totalPrice;
      // data.type = this.modelType;
      data.type = 1; // 1、项目 2、自由构建
      data.name = this.conversionName;
      data.projectStageId = this.addedList[0].projectStageId;
      data.specialtyType = this.conversionParams.specialtyType;
      // data.projectType = this.conversionParams.projectType;

      // 调价时间回显用
      data.matrixTimeType = this.selectedType;
      data.matrixTimeYear = this.selectedYear;
      data.matrixTimeDesc = this.selectedThree;

      // data.matrixTime = this.adjustDate;
      data.matrixTimeStart = this.startDate;
      data.matrixTimeEnd = this.endDate;

      data.matrixCaliber = Number(this.addedList[0].caliber) || null;
      data.matrixCaliberUnit = this.addedList[0].caliberUnit;

      data.matrixTotalPrice = this.resultInfo.matrixTotalPrice;

      if (this.resultInfo.matrixEconStd) {
        data.matrixEconStd =
          this.resultInfo.matrixEconStd.toFixed(2) +
          "元/" +
          this.addedList[0].caliberUnit;
      } else data.matrixEconStd = null;

      data.matrixProjectReqs = [];

      for (let i = 0, l = this.singleProjectList.length; i < l; i++) {
        const { specialtyTypeMap, ...item } = this.singleProjectList[i];

        // 更改的材价数据
        if (this.cacheArr[this.singleProjectList[i].projectStageId]) {
          item.matPriceReqs = [];
          const objs = this.cacheArr[this.singleProjectList[i].projectStageId];
          for (const key in objs) {
            const obj = objs[key];
            for (const key2 in obj) {
              item.matPriceReqs.push(obj[key2]);
            }
          }
        }

        // 单位工程id集合
        if (specialtyTypeMap && specialtyTypeMap.length) {
          item.unitIds = specialtyTypeMap.map((it) => it.id);
        }

        // 合计
        console.log("合计", this.totalInfo);
        if (this.totalInfo[this.singleProjectList[i].projectStageId]) {
          const totalObj =
            this.totalInfo[this.singleProjectList[i].projectStageId];
          item.matrixProjectPrice = totalObj.matrixTotalPrice;
          item.projectPrice = totalObj.totalPrice;
          item.spreadPriceSum = totalObj.spreadPriceSum;
          item.pricePctSum = totalObj.pricePctSum;
        }

        const it = JSON.parse(JSON.stringify(item));
        data.matrixProjectReqs.push(it);
      }
      return data;
    },
    // 导出方案
    exportFile() {},
    // 跳转到工程换算历史
    toHistory() {
      this.$router.push("/targetApplication/conversionHistory");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables.scss";
.loading-icon {
  font-size: 46px;
  color: $color-primary;
  margin: 20px 0 40px;
}
.step-container {
  font-size: 14px;
  .warn-dialog {
    .tag {
      color: #f13a3f;
      width: 60px;
      height: 22px;
      background: #ffd3d5;
      border-radius: 2px;
    }
    .banner {
      color: #ffffff;
      > div {
        width: 196px;
        height: 54px;
        border-radius: 4px;
        padding: 8px 12px;
      }
      .price {
        font-size: 18px;
        margin-top: 3px;
      }
      .gray {
        color: #999999;
      }
      & > div:nth-child(1) {
        background: #36cfc9;
      }
      & > div:nth-child(2) {
        background: $color-minor;
      }
      & > div:nth-child(3) {
        background: #0facd5;
      }
      .res {
        background: $color-primary;
      }
      .warn {
        background: $color-danger;
      }
    }
  }
  .com-dialog .el-checkbox-group {
    justify-content: flex-start;
  }
  .step1,
  .step3 {
    padding: 20px 0;
    margin-top: 10px;
    border-radius: 8px;
    background: #ffffff;
  }
  .step1 {
    padding-bottom: 300px;
    .choice {
      & > div {
        width: 648px;
        height: 230px;
        background: #ffffff;
        box-shadow: 0px 2px 8px 0px #e7e7e9;
        border-radius: 8px;
        padding: 6px 26px 6px 0;
        &:nth-child(n + 2) {
          margin-left: 26px;
        }
      }
      .title {
        font-size: 24px;
        font-weight: bold;
      }
      .m-text {
        font-size: 14px;
        opacity: 0.6;
      }
    }
  }

  .step2 {
    .b-title {
      margin-left: 0;
    }
    .right-box {
      .screen {
        background: #fff;
        padding: 20px 10px;
      }
    }
  }

  // step3
  .edit-info {
    padding: 20px 0;
    margin-top: 7px;
    // background: #ffffff;
    border-radius: 6px;

    .item-box {
      // padding: 0 20px;

      margin-top: 13px;
      &::v-deep .el-tabs__item {
        padding: 0 30px;
        height: 50px;
        line-height: 50px;
      }

      .tab-ul {
        li {
          width: 11%;
          padding: 15px 0;
          font-size: 14px;
          border-radius: 2px;
          background: #fff;
          &:hover,
          &.active {
            background: #e9f4ff;
            border: 1px solid #1789f2;
            color: #333;
          }
        }
      }
    }

    .el-tree {
      color: #333;
      &::v-deep.el-tree--highlight-current
        .el-tree-node.is-current
        > .el-tree-node__content {
        color: #f9a147;
        background: transparent;
      }

      &::v-deep .el-tree-node__content {
        &:hover {
          color: #f9a147;
          background: transparent;
        }
      }

      &::v-deep .el-tree-node__children {
        color: #999999;
      }

      .span-ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  .edit-info {
    .content {
      width: 100%;
      display: flex;
      // padding: 0 20px;
      .red-point {
        position: absolute;
        right: 8px;
        top: 5px;
        width: 7px;
        height: 7px;
        background-color: red;
        border-radius: 50%;
      }
      .left-box {
        width: 180px;
        border-radius: 2px;
        margin-right: 8px;
        background: #ffffff;
        min-width: 180px;
        margin-left: 10px;
        // margin: 0 20px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 613px;
        .left-tab {
          display: flex;
          flex-direction: column;
          align-items: center;
          .check-item {
            height: 44px;
            color: #999;
            width: 100%;
            border-bottom: 1px solid rgba(229, 229, 229, 0.5);
            position: relative;
            padding: 0 14px;
          }
          .item-active {
            color: #fff;
            background: $color-minor;
            position: relative;
            border-radius: 2px;
            &::after {
              display: block;
              content: "";
              width: 0;
              height: 0;
              border-top: 8px solid transparent;
              border-left: 8px solid $color-minor;
              border-bottom: 8px solid transparent;
              position: absolute;
              right: -8px;
              top: 50%;
              margin-top: -8px;
            }
          }
        }
      }
      .right-box {
        flex: 1;
        border-radius: 2px;
        // padding-bottom: 66px;
        // background: #fff;
        .top {
          background: #fff;
          .right-form {
            padding: 20px 0 0 20px;
            .koujing {
              width: 192px;
              margin-left: 16px;
              margin-right: -2px;
            }
            .form-unit {
              width: 128px;
              padding-right: 7px;
            }
            .ipt-item {
            }
          }
        }
        .table-box {
          width: 100%;
          padding-bottom: 18px;
          position: relative;
          height: 600px;
          .el-table {
            position: absolute;
            font-size: 12px;

            &::v-deep .el-input__inner,
            .el-input {
              font-size: 12px;
            }
          }
          .green {
            color: #1eb645;
          }
          .gray {
            color: #999999;
          }
          .red {
            color: #f13a3f;
          }
          .orange {
            color: #f9a147;
          }
          .icons {
            cursor: pointer;
          }
          .title-link {
            color: $color-primary;
            cursor: pointer;
          }
        }
        .item-group {
          margin-bottom: 10px;
          border-bottom: 1px solid $color-minor;
          box-shadow: 0px 1px 0px 0px rgba(249, 161, 71, 0.3);
          .check-item {
            width: 140px;
            height: 32px;
            color: #bfbfbf;
            font-weight: 500;
            font-size: 12px;
            cursor: pointer;
            &:hover {
              color: $color-minor;
            }
          }
          .item-active {
            color: #ffffff;
            background-image: url("../../assets/img/icons/item_bg.png");
            background-size: 140px 32px;
            box-shadow: 0px 2px 0px 0px rgba(249, 161, 71, 0.3);
            border-radius: 1px;
            &:hover {
              color: #ffffff;
            }
          }
        }

        .custom-type {
          > span {
            margin-right: 15px;
            white-space: nowrap;
            min-width: 72px;
          }
          .t-wrap {
            width: 100%;
            max-width: 100%;
            min-height: 31px;
            box-sizing: border-box;
            .no-item {
              margin-bottom: 18px;
              color: $color-minor;
              font-size: 14px;
            }
            ul {
              margin-bottom: 10px;
              &.all-list {
                padding: 5px 12px;
                background: #f3f3f4;
                box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
                border-radius: 5px;
                li {
                  padding-top: 8px;
                  padding-bottom: 8px;
                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
              li {
                padding-bottom: 8px;
                margin-right: 24px;
                font-size: 14px;
                color: #666;
                cursor: pointer;
                &.active {
                  color: $color-minor;
                }
                &:hover {
                  color: $color-minor;
                }
              }
            }
          }
          .el-icon-arrow-up,
          .el-icon-arrow-down,
          .el-icon-arrow-right {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            &.is-rotate {
              transform: rotate(180deg);
            }
          }
          .is-fold {
            max-height: 50px;
            overflow-y: hidden;
          }
        }

        .table-content {
          background: #fff;

          .btns {
            padding-bottom: 50px;
          }

          .com-pages-wrap {
            margin-top: 20px;
          }
        }
        .project-list {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          padding: 20px;

          p {
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .project-item {
            font-size: 14px;
            padding: 20px 10px;
            width: 16%;
            height: 220px;
            border: 1px solid #b9c6dc;
            // border: 1px solid #3699ff;
            margin-bottom: 10px;

            &.act {
              border: 1px solid $color-primary;

              .el-button {
                border-color: $color-primary !important;
                color: $color-primary !important;
              }
            }
            .item {
              margin: 10px 0;
              display: flex;
              .label {
                width: 86px;
              }
              .text {
                flex: 1;
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }

            .el-button {
              margin-top: 5px;
              padding: 10px 20px;
              width: 120px;
            }
          }
          .mr-2 {
            margin-right: 0.8%;
          }

          .null-img {
            height: 300px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            align-items: center;
          }
        }

        .selected-list {
          padding: 0 24px;
          .addedItem-box {
            .addedItem {
              height: 24px;
              color: #999999;
              background: #ebebeb;
              border-radius: 12px;
              padding: 7px 9px;
            }
          }
        }

        .top-radius {
          .div-row {
            // padding: 0 10px;
            .mr-30 {
              margin-right: 30px !important;
            }

            display: flex;

            .el-checkbox {
              margin-bottom: 5px;
            }

            .label-text,
            &::v-deep .el-checkbox__label {
              color: #999999;
            }

            .label-text {
              font-size: 14px;
              font-family: Source Han Sans CN;
              font-weight: 700;
              color: #333333;
              min-width: 100px;
            }

            .all,
            .is-checked {
              &::v-deep .el-checkbox__label {
                color: #333;
                font-size: 14px;
              }
            }
          }
          .tag-p {
            font-size: 16px;
            color: #999999;
            position: relative;

            &::before {
              content: "";
              width: 3px;
              height: 16px;
              background: #1789f2;
              border-radius: 0px 1px 1px 0px;
              position: absolute;
              left: -20px;
              top: 50%;
              transform: translateY(-50%);
            }

            .tags {
              font-size: 12px;
              color: #333;
            }
          }
          .more {
            padding-left: 10px;
            color: $color-primary;
            cursor: pointer;
            font-size: 12px;
          }
          .show-more {
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;

            > span {
              cursor: pointer;
            }
          }
        }
      }
      .feature-div {
        height: 300px;
        min-width: 350px;

        .features {
          padding: 0 20px;
          height: 570px;
          overflow-y: auto;
          font-size: 12px;

          &::v-deep .el-input__inner,
          .el-input {
            width: 88px;

            font-size: 12px;
          }
          &::v-deep .el-input__inner {
            padding: 0 10px;
          }
          .el-select {
            &::v-deep .el-icon-arrow-up:before,
            &::v-deep .el-input__icon:after {
              font-size: 12px;
            }
          }

          .and-select {
            height: 32px;
            border: 1px solid #b9c6dc;
            border-radius: 4px;
            cursor: pointer;

            /*清除select聚焦时候的边框颜色*/
            outline: none;
            margin-left: 2px;
          }
          .model-select {
            border-right: none;
            border-radius: 0;
          }
          .money-input {
            &.el-input {
              width: 80px;
              &::v-deep .el-input__inner {
                width: 80px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
            }

            &.symbol {
              position: relative;
              &::v-deep .el-input__inner {
                padding-right: 20px;
              }
              &::after {
                content: "%";
                font-size: 12px;
                position: absolute;
                right: 6px;
                top: 50%;
                transform: translateY(-50%);
                color: #333;
              }
            }
          }
        }

        .ul-form .label-text {
          width: 60px !important;
          min-width: 60px;
          margin-right: 3px;
          display: inline-block;
          justify-content: flex-start;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    .el-date-editor {
      .el-input {
        width: 180px;
      }
    }
    .results {
      margin: 20px 10px 0 10px;
      padding: 20px 30px;
      font-size: 14px;
      color: #fff;
      background: #ff9081;
      li {
        flex: 1;
        text-align: center;
        position: relative;
        span {
          display: inline-block;
        }
        &:not(:last-child)::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 50px;
          background: #fff;
        }
      }
    }
  }

  .info-div {
    margin: 20px 0 20px 50px;
    font-size: 14px;
    .info-row {
      width: 80%;
    }
    .export-btn {
      text-align: right;
      .el-button {
        padding: 10px 20px;
      }
    }
  }
  .row-80 {
    width: 78%;
  }
  .row-20 {
    width: 22%;
  }
  .w-400 {
    width: 400px;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
  .active {
    color: $color-minor;
  }

  .pd10.el-button {
    padding: 10px 20px;
  }
  .result-btn {
    text-align: right;
    margin-right: 10px;
  }

  .add-file ::v-deep .el-dialog__body {
    text-align: left;
    padding: 10px 30px 30px 30px;
  }
  .com-dialog .dialog-footer button.el-button--default {
    margin-right: 0;
  }
}
</style>

<style lang="scss">
@import "../../styles/variables.scss";
.step-container {
  .dialog-box {
    .el-table__row .icon-wrap {
      .blue {
        cursor: pointer;
        color: $color-primary !important;
      }
      .org {
        cursor: pointer;
        color: $color-minor !important;
      }
    }
  }
  .warn-dialog {
    .el-dialog__header {
      background: #ffffff;
    }
    .el-dialog__body {
      border-top: 1px solid #efefef;
    }
  }
  .edit-info {
    .el-date-editor {
      .el-input__prefix,
      .el-input__suffix {
        right: 15px;
      }
    }
    // .el-input__inner {
    //   border: 1px solid #b9c6dc;
    // }
    .top,
    .info-div {
      .el-input__inner {
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
      }
    }
    .koujing {
      .el-input__inner {
        border-right: none;
        border-radius: 20px 0 0 20px;
      }
    }
    .form-unit {
      .el-input__inner {
        border-radius: 0 20px 20px 0;
      }
    }
    .table-box {
      .has-gutter {
        th {
          background: #eff2f7 !important;
        }
        .cell {
          font-size: 12px;
          color: #999999 !important;
        }
      }
      .icon-wrap {
        .icons {
          cursor: pointer;
          margin-right: 15px;
        }
      }
      .edit-item {
        .el-select {
          .el-input__inner {
            width: 135px;
            height: 34px;
          }
          .el-input__suffix {
            top: 4px !important;
            right: 4px !important;
          }
          .is-focus {
            .el-input__suffix {
              top: 0 !important;
            }
          }
        }
      }
    }
    .btns {
      .el-button--primary {
        padding: 12px 15px;
        width: 143px !important;
      }
    }
    .my-dialog {
      .el-dialog .el-dialog__body {
        .org {
          color: $color-minor;
        }
        .wth {
          width: 73%;
          margin: 0 auto 10px;
        }
        .left {
          width: 83%;
          margin: 0 auto;
          text-align: left;
        }
        .line-h {
          line-height: 20px !important;
        }
        .red {
          color: $color-danger;
          font-size: 12px;
          margin-top: 5px;
        }
      }
    }
  }

  .com-search2 {
    .el-input__inner {
      border: none;
    }
  }
}
</style>
