<template>
  <div class="project-build-container">
    <div class="top">
      <div class="top-row flex-c">
        <div class="flex-c">
          <span class="com-label-text" style="margin-right: 28px"><span class="red">*</span>创建项目名称：</span>
          <el-input v-model="topForm.name" maxlength="200" placeholder="请输入创建项目名称" />
        </div>
        <div class="flex-c">
          <span class="com-label-text"><span class="red">*</span>总建筑面积：</span>
          <div class="flex-cc">
            <el-input v-model="topForm.caliber" class="koujing" maxlength="12" placeholder="请输入总建筑面积" @input="iptkoujin2" />
            <el-select v-model="topForm.caliberUnit" class="form-unit" placeholder="单位">
              <el-option v-for="item in unitList2" :key="item" :label="item" :value="item" />
            </el-select>
          </div>
        </div>
      </div>
      <div class="top-row flex-c">
        <div class="flex-c" style="width: 573px;">
          <span class="com-label-text" style="margin-right: 28px"><span class="red">*</span>选择工程维度：</span>
          <el-select v-model="topForm.stageConfigId" placeholder="请选择">
            <!-- <el-option :key="''" label="全部" :value="''" /> -->
            <el-option v-for="item in stateList" :key="item.useName" :label="item.useName" :value="item.id" />
          </el-select>
        </div>

        <div class="flex-c">
          <span class="com-label-text mr-14"><span class="red">*</span>适用地区：</span>
          <el-select v-model="topForm.provinceId" placeholder="--- 省 ---" @change="changeProvince($event)">
            <el-option v-for="item in provinceList" :key="item.name" :label="item.name" :value="item.id" />
          </el-select>
          <el-select v-model="topForm.cityId" style="margin: 0 10px" placeholder="--- 市 ---" @change="changeCity($event)">
            <el-option v-for="item in cityList" :key="item.name" :label="item.name" :value="item.id" />
          </el-select>
        </div>
      </div>
      <div class="mt-20">
        <div class="flex-c">
          <span class="com-label-text"><span class="red">*</span>工程换算价格时间：</span>
          <!-- <el-date-picker
            v-model="topForm.adjustDate"
            type="month"
            value-format="yyyy-MM"
            placeholder="选择年月"
            @change="timeChange"
          >
          </el-date-picker>-->
          <span class="mr-10">选择调价时间</span>
          <DateRangePickerCh v-model="topForm.dateRange" class="mr-40" :type.sync="topForm.matrixTimeType" :year.sync="topForm.matrixTimeYear" :time-desc.sync="topForm.matrixTimeDesc"
            @change="changeDateRange1" />
          <!-- <DateRangePiceker v-show="timePickActice !== 2" v-show="timePickActice !== 1" v-model="topForm.dateRange" type="month" value-format="yyyy-MM" placeholder="选择年月" elDatePickerParentClass="" @change="changeDateRange2" /> -->
        </div>
        <p class="tip-text nw">注：系统会根据时间，查询材价库该时间最新人材机价格进行计算，信息价均价优先</p>
      </div>
    </div>

    <div class="main mt-10">
      <div class="_flex">
        <!-- 左侧选项卡 -->
        <div class="main-sidebar mr-10">
          <ul>
            <li v-for="item in singleProjectList" :key="item.id" :class="['flex-csb', 'check-item', 'cp', isSingleId == item.id ? 'item-active':'']" @click="changeSingleProject(item)">
              <span v-if="!item.isEdit" class="ellipsis2">{{ item.name }}</span>
              <el-input v-else v-model="item.name" class="custom-edit-ipt" maxlength="20" placeholder="请输入" />
              <div class="icon-box">
                <el-tooltip v-if="!item.isEdit" effect="light" content="编辑" placement="top">
                  <img class="ml-10 icon" src="@/assets/img/cs/icons/edit_icon03.png" alt="" @click.stop="item.isEdit = true">
                </el-tooltip>
                <el-tooltip v-else effect="light" content="保存" placement="top">
                  <img style="width:14px;height:14px;" class="ml-10 icon" src="@/assets/img/cs/icons/yes_icon.png" alt="" @click.stop="saveSingleProject(item)">
                </el-tooltip>
                <el-tooltip effect="light" content="删除" placement="top">
                  <img class="ml-10 icon" src="@/assets/img/cs/icons/del_icon.png" alt="" @click.stop="deleteSingleProject(item.id)">
                </el-tooltip>
              </div>
            </li>
          </ul>

          <div class="flex-cc mt-10">
            <el-button type="primary" style="width: 100%" @click="openAddSingleProject">添加单项工程</el-button>
          </div>

        </div>
        <!-- 右侧内容 -->
        <div class="main-right">
          <div class="main-right-top mb-10">
            <div class="item-group flex-cw">
              <div v-for="item in unitProjectList" :key="item.id" class="check-item flex-cc" :class="{ 'item-active': isUnitId == item.id }" @click="changeUnitProject(item.id)">
                {{ item.useName }}
              </div>
              <div v-if="isSingleItem" class="add-tab cp p-color" @click="openAddUnitProject">添加单位工程</div>
            </div>
          </div>

          <!-- 表内容 -->
          <div class="table-box">
            <el-table v-loading="tableLoading" border :data="calculateData" row-key="id" tooltip-effect="dark" class="table-main" height="570px">
              <!-- @cell-dblclick="cellDblClick"
              v-el-table-infinite-scroll="loadTable"
              :infinite-scroll-disabled="disabled" -->
              <el-table-column align="center" width="66px" label="序号">
                <template slot-scope="scope">
                  <span>{{ scope.$index + 1 }}</span>
                </template>
              </el-table-column>
              <el-table-column label="单位工程" prop="unitProjectName">
                <template slot-scope="scope">
                  <p class="ellipsis2" :title="scope.row.unitProjectName">
                    {{ scope.row.unitProjectName }}
                  </p>
                </template>
              </el-table-column>
              <el-table-column label="分部工程" prop="branchProjectName" min-width="50">
                <template slot-scope="scope">
                  <p class="ellipsis2 p-color cp" :title="scope.row.branchProjectName" @click="openSelectBranchProject(scope.row)">
                    {{ scope.row.branchProjectName }}
                  </p>
                </template>
              </el-table-column>
              <el-table-column label="金额/费用(元)" prop="totalPrice">
                <template #default="{row}">
                  {{ row.totalPrice && row.totalPrice.toFixed(2) }}
                </template>
              </el-table-column>
              <el-table-column label="原分布占比" prop="ptc">
                <template #default="{row}">
                  {{ row.ptc && row.ptc.toFixed(6) + '%' }}
                </template>
              </el-table-column>
              <el-table-column label="换算金额(元)" prop="matrixPrice">
                <template #default="{row}">
                  {{ row.matrixPrice && row.matrixPrice.toFixed(2) }}
                </template>
              </el-table-column>
              <el-table-column label="来源" prop="projectName" min-width="90" />
              <!-- <el-table-column label="材价类型" prop="matType">
                <template slot-scope="scope">
                  <span> {{ scope.row.matType || "--/--" }} </span>
                </template>
              </el-table-column> -->
              <el-table-column label="操作" width="120">
                <template slot-scope="scope">
                  <div class="icon-wrap">
                    <span v-if="scope.row.isSingle" class="cp p-color" @click="openAddBranchProject">添加分部</span>
                    <span v-else class="cp p-color" @click="openMatrixUnitProject(scope.row)">查看换算</span>
                    <span v-if="scope.$index === 0" class="cp red" @click="deleteUnitProject(scope.row.id)">删除</span>
                    <span v-else class="cp red" @click="deleteBranchProject(scope.row.id)">删除</span>

                  </div>

                </template>
              </el-table-column>
            </el-table>
          </div>
          <div class="flex-c">
            <div class="flex-c w-400">
              <span class="com-label-text">分部总占比：</span>
              <span v-if="1" :class="{ green: currentUnitPtc < 100, red: currentUnitPtc > 100}">
                {{ currentUnitPtc && currentUnitPtc.toFixed(6) }}%
              </span>
              <span v-else>---</span>
            </div>
          </div>

        </div>
      </div>
      <div class="footer flex-cc mt-30">
        <el-button class="btn" style="width: 180px;padding: 0 20px;" type="danger" @click="submitResult">提交换算价</el-button>
      </div>
      <template v-if="showResult">
        <div class="b-title mt-30">换算结果</div>
        <ul class="flex-c results">
          <li>
            <div>换算造价金额(元)</div>
            <span v-if="resultInfo.projectMatrixPrice" class="mt-10">{{
              resultInfo.projectMatrixPrice.toFixed(2)
            }}</span>
            <span v-else class="mt-10">---</span>
          </li>
          <li>
            <div>
              <span>{{
                "换算建筑面积"
              }}</span>
              ({{ topForm.caliberUnit }})
            </div>
            <span class="mt-10">{{ topForm.caliber || "---" }}</span>
          </li>
          <li>
            <div>换算单方造价(元/{{ topForm.caliberUnit }})</div>
            <span v-if="resultInfo.matrixEconStd" class="mt-10">{{
              resultInfo.matrixEconStd.toFixed(2)
            }}</span>
            <span v-else class="mt-10">---</span>
          </li>
        </ul>
        <div class="result-btn mt-30">
          <el-button class="flex-cc btn btn3 pd10" @click="saveScheme">
            <img src="@/assets/img/table/exports.png" alt="" class="el-icon-search">保存方案
          </el-button>
        </div>
      </template>
    </div>

    <!-- 添加单项工程 -->
    <el-dialog :title="addSingleProjectActive === 1 ? '添加分类' : '添加单位工程'" :visible.sync="showAddSingleProject" width="460px" class="com-dialog" :close-on-click-modal="false">
      <!-- step1 -->
      <div v-show="addSingleProjectActive === 1">
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>工程名称：</span>
          <el-input v-model="newSingleProject.name" placeholder="请输入工程名称" maxlength="20" />
        </div>
        <div class="flex-c mb-20">
          <span class="label-text ipt-text"><span>*</span>项目分类：</span>
          <el-select v-model="newSingleProject.specialtyType" class="mr-10" placeholder="请选择">
            <el-option v-for="item in projectTypeList" :key="item.name" :label="item.name" :value="item.id" />
          </el-select>
          <el-select v-model="newSingleProject.projectType" class="mr-10" placeholder="请选择">
            <el-option v-for="item in projectTypeChildren" :key="item.name" :label="item.name" :value="item.id" />
          </el-select>
          <el-select v-model="newSingleProject.engType" placeholder="请选择">
            <el-option v-for="item in projectTypeChildrenChildren" :key="item.name" :label="item.name" :value="item.id" />
          </el-select>
        </div>
        <span slot="footer" class="dialog-footer flex-cc">
          <el-button type="primary" @click="addSingleProject">确定</el-button>
          <el-button @click="showAddSingleProject = false">取消</el-button>
        </span>
      </div>
      <!-- step2 -->
      <div v-show="addSingleProjectActive === 2" v-loading="addSingleProjectLoading" :class="$style['dialog-checkbox']">
        <div class="com-checkbox">
          <el-checkbox v-for="(item) in allUnitProjectList" :key="item.id" v-model="item.checked" :label="item.useName" />
        </div>
        <span slot="footer" class="dialog-footer flex-cc">
          <el-button type="primary" @click="addSingleProject2">确定</el-button>
          <el-button @click="showAddSingleProject = false">取消</el-button>
        </span>
      </div>
    </el-dialog>
    <!-- 添加单位工程 -->
    <el-dialog title="添加单位工程" :visible.sync="showAddUnitProject" width="460px" class="com-dialog" :close-on-click-modal="false">
      <div v-loading="addSingleProjectLoading" :class="$style['dialog-checkbox']">
        <div class="com-checkbox">
          <el-checkbox v-for="(item) in allUnitProjectList" :key="item.id" v-model="item.checked" :label="item.useName" :disabled="item.disabled" />
        </div>
        <span slot="footer" class="dialog-footer flex-cc">
          <el-button type="primary" @click="confirmAddUnitProject">确定</el-button>
          <el-button @click="showAddUnitProject = false">取消</el-button>
        </span>
      </div>
    </el-dialog>
    <!-- 添加分部工程 -->
    <el-dialog title="添加分部工程" :visible.sync="showAddBranchProject" :width="`460px`" class="com-dialog" :class="$style['dialog-checkbox']" :close-on-click-modal="false">
      <div>
        <div class="com-checkbox">
          <el-checkbox v-for="(item) in branchProjectNameList" :key="item.id" v-model="item.checked" :label="item.useName" :disabled="item.disabled" />
        </div>
        <span slot="footer" class="dialog-footer flex-cc">
          <el-button type="primary" @click="addBranchProject">确定</el-button>
          <el-button @click="showAddBranchProject = false">取消</el-button>
        </span>
      </div>
    </el-dialog>
    <!-- 选择分部工程 -->
    <el-dialog :title="({list:'选择分部工程', detail: '查看详情'})[branchProject.activeContent]" :visible.sync="showSelectBranchProject" width="1300px" class="com-dialog" :class="$style['dialog-big']"
      :close-on-click-modal="false">
      <div v-show="branchProject.activeContent === 'list'">
        <!-- 筛选项 -->
        <div class="com-search2 mb-20" :class="$style['input--search']">
          <el-input v-model="branchProjectKeyword" placeholder="请输入单项工程名称搜索" maxlength="20" @keyup.enter.native="searchBranchProject(branchProjectActive.id)" />
          <i class="el-icon-search" @click="searchBranchProject(branchProjectActive.id)" />
        </div>
        <!-- 表格 -->
        <div :class="$style['dialog-table-box']">
          <el-table v-loading="branchProject.loading" border :data="branchProject.list" tooltip-effect="dark" class="table-main" height="400px">
            <el-table-column label="选择" width="46px">
              <template #default="{row}">
                <!-- :checked="row.projectId === branchProject.activeId" -->
                <el-checkbox :value="row.projectId === branchProject.activeId" @change="checkBranchProject($event, row.projectId)" />
              </template>
            </el-table-column>
            <el-table-column label="分部工程" prop="engDeptName">
              <template #default="{row}">
                <p class="ellipsis2 cp p-color" :title="row.engDeptName" @click="openBranchProjectDetail(row)">
                  {{ row.engDeptName }}
                </p>
              </template>
            </el-table-column>
            <el-table-column label="金额/费用(元)" prop="totalPrice" />
            <el-table-column label="单方造价" prop="econStd" />
            <el-table-column label="单项工程名称" prop="projectName" />
            <el-table-column label="工程分类" prop="projectType" />
            <el-table-column label="造价阶段" prop="stageConfigName" />
            <el-table-column label="价格取定期" prop="applicableDate">
              <template #default="{row}">
                {{ formatDate(row.applicableDate, 2) }}
              </template>
            </el-table-column>
            <el-table-column label="项目地点">
              <template #default="{row}">{{ formatArea(row.province,row.city,row.area) }}</template>
            </el-table-column>
            <el-table-column label="建筑面积">
              <template #default="{row}">{{ row.caliber + row.caliberUnit }}</template>
            </el-table-column>
          </el-table>
          <!-- 分页 -->
          <div class="flex-csb com-pages-wrap mb-20">
            <div class="flex-c left-page">
              <span>当前显示</span>
              <div class="flex-cc cur-page">
                <el-select v-model="branchProject.pageSize" placeholder="请选择" @change="branchProjectCurrentChange(1)">
                  <el-option v-for="(item, index) in branchProject.pageSizeList" :key="index" :label="item" :value="item" />
                </el-select>
              </div>
              <span>条</span>
              <span class="total-num">共{{ branchProject.totalCount }}条数据</span>
            </div>
            <div class="flex-c right-page">
              <el-pagination background :current-page.sync="branchProject.currentPage" :page-size="branchProject.pageSize" layout="prev, pager, next, jumper" :total="branchProject.totalCount"
                @current-change="branchProjectCurrentChange" />
              <div class="com-page-btn">确定</div>
            </div>
          </div>
        </div>
        <span slot="footer" class="dialog-footer flex-cc">
          <el-button type="primary" @click="confirmBranchProject">确定</el-button>
          <el-button @click="showSelectBranchProject = false">取消</el-button>
        </span>
      </div>
      <div v-show="branchProject.activeContent === 'detail'">
        <!-- 表格 -->
        <div class="table-wrap expand-table">
          <el-table v-loading="branchProject.detail.loading" :data="branchProject.detail.list" style="width: 100%" height="400px" border @expand-change="expandBranchProjectDetail">
            <el-table-column type="expand" width="48px">
              <template #default="{row, $index}">
                <el-table v-loading="row.loading" :data="row.sub" style="width: 100%" class="sub-expand-table" @expand-change="expandBranchProjectDetail">
                  <el-table-column type="expand" width="48px">
                    <template #default="{row:subRow, $index:sub$index}">
                      <el-table v-loading="subRow.loading" :data="subRow.sub" style="width: 100%" class="sub-expand-table">
                        <el-table-column label="" width="48px" />
                        <el-table-column label="">
                          <template #default="{$index: subSub$index}">
                            <span>{{ $index + 1 }}.{{ sub$index + 1 }}.{{ subSub$index + 1 }}</span>
                          </template>
                        </el-table-column>
                        <el-table-column label="" prop="name" />
                        <el-table-column label="" prop="features" />
                        <el-table-column label="" prop="unit" />
                        <el-table-column label="" prop="count" />
                        <el-table-column label="" prop="integratedUnit" />
                        <el-table-column label="" prop="totalPrice" />
                        <el-table-column label="" prop="econStd" />
                        <el-table-column label="" prop="pct">
                          <template #default="{row:subSubRow}">
                            <span>{{ subSubRow.pct && subSubRow.pct.toFixed(6) + '%' }}</span>
                          </template>
                        </el-table-column>
                      </el-table>
                    </template>
                  </el-table-column>
                  <el-table-column label="">
                    <template #default="{$index:sub$index}">
                      <span>{{ $index + 1 }}.{{ sub$index + 1 }}</span>
                    </template>
                  </el-table-column>
                  <el-table-column label="" prop="name" />
                  <el-table-column label="" prop="features" />
                  <el-table-column label="" prop="unit" />
                  <el-table-column label="" prop="count" />
                  <el-table-column label="" prop="integratedUnit" />
                  <el-table-column label="" prop="totalPrice" />
                  <el-table-column label="" prop="econStd" />
                  <el-table-column label="" prop="pct">
                    <template #default="{row:subRow}">
                      <span>{{ subRow.pct && subRow.pct.toFixed(6) + '%' }}</span>
                    </template>
                  </el-table-column>
                </el-table>
              </template>
            </el-table-column>
            <el-table-column label="序号">
              <template #default="{$index}">
                <span>{{ $index + 1 }}</span>
              </template>
            </el-table-column>
            <el-table-column label="名称" prop="name" />
            <el-table-column label="特征描述" prop="features" />
            <el-table-column label="单位" prop="unit" />
            <el-table-column label="工程量" prop="count" />
            <el-table-column label="综合单价(元)" prop="integratedUnit" />
            <el-table-column label="合价(元)" prop="totalPrice" />
            <el-table-column label="单方造价" prop="econStd" />
            <el-table-column label="造价占比" prop="pct">
              <template #default="{row}">
                <span>{{ row.pct && row.pct.toFixed(6) + '%' }}</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <span slot="footer" class="dialog-footer flex-cc mt-20">
          <el-button @click="branchProject.activeContent = 'list'">返回</el-button>
        </span>
      </div>
    </el-dialog>

    <!-- 查看换算 -->
    <el-dialog :title="({list:'查看/编辑工程部分换算',detail:'操作提示'})[matrixUnitProject.activeContent]" :visible.sync="showMatrixUnitProject" width="1300px" class="com-dialog" :class="$style['dialog-big']"
      :close-on-click-modal="false">
      <div v-show="matrixUnitProject.activeContent === 'list'">
        <div class="flex-c">
          <div class="flex-c w-400">
            <span class="com-label-text">原造价金额：</span>
            <span>{{ branchProjectLookRow.totalPrice && branchProjectLookRow.totalPrice.toFixed(2) }}元</span>
          </div>
        </div>
        <div class="flex-c mt-10 ">
          <div class="flex-c w-400">
            <span class="com-label-text">选择调价时间：</span>
            <span>{{ topForm.matrixTimeType !== '自定义' ? topForm.matrixTimeYear + topForm.matrixTimeDesc : topForm.dateRange.join(' ~ ') }}</span>
          </div>
        </div>
        <div class="b-title mt-20 ml-0">{{ branchProjectLookRow.projectName }}</div>
        <!-- 表格 -->
        <div class="table-box mt-10" :class="$style['dialog-table-box']">
          <el-table v-loading="matrixUnitProject.loading" v-el-table-infinite-scroll="nextMatrixUnitProject" border :data="matrixUnitProject.list" tooltip-effect="dark" class="table-main"
            height="400px" :infinite-scroll-disabled="matrixUnitProject.disabledLoad" @cell-dblclick="matrixUnitProjectCellDblClick">
            <el-table-column align="center" width="66px" label="序号">
              <template slot-scope="scope">
                <span>{{ scope.$index + 1 }}</span>
              </template>
            </el-table-column>
            <el-table-column label="工料机名称及规格" prop="name">
              <template #default="{row}">
                <p class="ellipsis2 p-color" :title="row.name">
                  {{ row.name }}
                </p>
              </template>
            </el-table-column>
            <el-table-column label="单位" prop="unit" />
            <el-table-column label="数量" prop="count" />
            <el-table-column label="单价(元)" prop="price" min-width="90">
              <template #default="{row}">
                {{ row.price && row.price.toFixed(2) }}
              </template>
            </el-table-column>
            <el-table-column label="合价(元)" prop="totalPrice" min-width="90">
              <template #default="{row}">
                {{ row.totalPrice && row.totalPrice.toFixed(2) }}
              </template>
            </el-table-column>
            <el-table-column label="造价占比(%)" prop="pricePct" min-width="90">
              <template #default="{row}">
                {{ row.pricePct && row.pricePct.toFixed(6) }}
              </template>
            </el-table-column>

            <el-table-column label="换算单价(元)" prop="matrixPrice" min-width="90">
              <!-- <template #default="{row}">
                {{ row.matrixPrice && row.matrixPrice.toFixed(2) }}
              </template> -->
              <template #default="{row, column}">
                <el-input v-if="row.isEdit" :ref="column.property" v-model="row.matrixPrice" size="small" placeholder="换算单价" maxlength="13" @input="
                    row.matrixPrice = checkNumber(
                      row.matrixPrice
                    )
                  " @blur="setMatrixPrice(row)" />
                <span v-else>{{ row.matrixPrice && row.matrixPrice.toFixed(2) }}</span>
              </template>
            </el-table-column>
            <el-table-column label="换算合价(元)" prop="matrixTotalPrice" min-width="90">
              <template #default="{row}">
                {{ row.matrixTotalPrice && row.matrixTotalPrice.toFixed(2) }}
              </template>
            </el-table-column>
            <el-table-column label="差价(元)" prop="spreadPrice" min-width="90">
              <template #default="{row}">
                {{ row.spreadPrice && row.spreadPrice.toFixed(2) }}
              </template>
            </el-table-column>
            <el-table-column label="材价类型" prop="matType" />
            <el-table-column label="操作" width="60">
              <template #default="{row}">
                <span v-if="row.matType" class="cp p-color" @click="openMatrixUnitProjectDetail(row)">更多价格</span>
                <span v-else class="gray">暂无价格</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <div class="flex-c mt-10">
          <div class="flex-c w-400">
            <span class="com-label-text">换算造价金额：</span>
            <span>{{ branchProjectLookRow.matrixTotalPrice && branchProjectLookRow.matrixTotalPrice.toFixed(2) }}元</span>
          </div>
        </div>
        <span slot="footer" class="dialog-footer flex-cc">
          <el-button type="primary" @click="confirmMatrixUnitProject">确定</el-button>
          <el-button @click="cancelMatrixUnitProject">取消</el-button>
        </span>
      </div>
      <div v-show="matrixUnitProject.activeContent === 'detail'">
        <div class="mb-10">请选择所需要的单价：</div>
        <!-- 表格 -->
        <div class="table-box mt-10" :class="$style['dialog-table-box']">
          <el-table v-loading="matrixUnitProject.detail.loading" border :data="matrixUnitProject.detail.list" tooltip-effect="dark" class="table-main" max-height="400px">
            <el-table-column align="center" width="66px" label="序号">
              <template slot-scope="scope">
                <span>{{ scope.$index + 1 }}</span>
              </template>
            </el-table-column>
            <el-table-column label="材料名称" prop="name">
              <template #default="{row}">
                <p class="ellipsis2 p-color" :title="row.name">
                  {{ row.name }}
                </p>
              </template>
            </el-table-column>
            <el-table-column label="规格" prop="spec" />
            <el-table-column label="单位" prop="unit" />
            <el-table-column label="价格(元)" prop="price">
              <template #default="{row}">
                {{ row.price && row.price.toFixed(2) }}
              </template>
            </el-table-column>
            <el-table-column label="适用时间" prop="startDate">
              <template slot-scope="scope">
                <span v-if="scope.row.startDate === scope.row.endDate">{{ scope.row.startDate }}</span>
                <div v-else>{{ scope.row.startDate }}<br>{{ scope.row.endDate }}</div>
              </template>
            </el-table-column>
            <el-table-column label="适用地区" prop="">
              <template #default="{row}">
                {{ formatArea(row.applicableProvince,row.applicableCity,row.area) }}
              </template>
            </el-table-column>
            <el-table-column label="材价来源" prop="matSourceStr" />
            <el-table-column label="材价类型" prop="matType" />
            <el-table-column label="品牌" prop="brand" />
            <el-table-column label="档次" prop="grade" />
            <el-table-column label="供应商" prop="supplier" />
            <el-table-column label="供应商地区" prop="">
              <template #default="{row}">
                {{ formatArea(row.supplierProvince,row.supplierCity) }}
              </template>
            </el-table-column>
            <el-table-column label="操作" width="60">
              <template slot-scope="scope">
                <!-- <span v-if="!scope.row.checked" class="cp p-color">选用</span>
                <span v-else class="cp gray">取消</span> -->
                <span v-if="scope.row.id == matrixUnitProject.detail.isMetailId && scope.row.matType == matrixUnitProject.detail.isMetailItem.matType" class="cp active"
                  @click="matrixUnitProject.detail.isMetailId = '';matrixUnitProject.detail.isMetailItem=null">取消</span>
                <span v-else class="cp p-color" @click="
                    matrixUnitProject.detail.isMetailId = scope.row.id;
                    matrixUnitProject.detail.isMetailItem = scope.row;
                  ">选用</span>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <span slot="footer" class="dialog-footer flex-cc mt-20">
          <el-button type="primary" @click="confirmMetail">确定</el-button>
          <el-button @click="cancelMetail">取消</el-button>
        </span>
      </div>
    </el-dialog>

    <!-- 保存方案弹窗 -->
    <!-- <el-dialog
      title="保存方案"
      :visible.sync="showSaveScheme"
      width="460px"
      class="com-dialog my-dialog add-file"
      :close-on-click-modal="false"
    >
      <div class="com-dialog com-checkbox">
        <div class="flex-c">
          <span class="label-text ipt-text"><span>*</span>换算工程名：</span>
          <el-input
            placeholder="请输入换算工程新名称"
            maxlength="20"
            v-model="conversionName"
          ></el-input>
        </div>
      </div>
      <span slot="footer" class="dialog-footer flex-cc">
        <el-button type="primary" v-loading="saveLoading" @click="saveScheme"
          >确定</el-button
        >
        <el-button @click="showSaveScheme = false">取消</el-button>
      </span>
    </el-dialog> -->
  </div>
</template>

<script>
import { getAreaTree } from '@/api/common'
import {
  getMatrixProjectOnUnit,
  getProjectType,
  getUnitProjectType,
  choiceUnitProject,
  lookUnitProjectInfo,
  lookDeptProjectInfo,
  getMatrixUnitPrice,
  lookMatrixUnitProject,
  getMoreOtherMatPrice,
  saveProjectBuild,
  addProjectBuild
} from '@/api/projectBuild'
// import DateRangePiceker from '@/components/DateRangePicker'
import DateRangePickerCh from '@/components/DateRangePickerCh'
import { formatDate, lastTreeForeach, checkNumber } from '@/utils/common'
export default {
  name: 'ProjectBuild',
  components: {
    // DateRangePiceker,
    DateRangePickerCh
  },
  data() {
    // this.timeType = [
    //   {
    //     name: '年',
    //     sub: (()=>{
    //       const
    //     })()
    //   },
    //   {
    //     name: '半年',
    //     sub: [

    //     ]
    //   },
    //   {
    //     name: '季度',
    //     sub: [

    //     ]
    //   },
    //   {
    //     name: '月',
    //     sub: [

    //     ]
    //   },
    // ]
    return {
      alikeKey: null,
      alterTime: false,
      timePickActice: 0,
      topForm: {
        name: '',
        caliber: '', // 总建筑面积
        caliberUnit: '㎡', // 单位
        stageConfigId: '',
        provinceId: null,
        provinceName: '', // 所选省份名称
        cityId: null,
        cityName: '', // 所选城市名称
        dateRange: [],
        matrixTimeType: '年',
        matrixTimeYear: '',
        matrixTimeDesc: ''
      },

      unitList2: [
        'm',
        '㎡',
        'm³',
        '台',
        't',
        'km',
        '个',
        '根',
        '站',
        '正线公里',
        '延长米'
      ], // 单位列表

      provinceList: [], // 省列表
      cityList: [], // 市列表

      singleProjectList: [], // 左边栏 - 单项工程
      isSingleId: null, // 当前选中单项工程id
      showAddSingleProject: false, // 添加分类弹窗
      addSingleProjectActive: 1,
      projectTypeList: [], // 单项工程分类列表
      newSingleProject: {
        name: '',
        specialtyType: '',
        projectType: '',
        engType: '',
        isEdit: false
      },
      addSingleProjectLoading: false,
      showAddUnitProject: false, // 添加单位工程弹窗
      allUnitProjectList: [], // 单位工程选择列表
      // checkedAllUnitProjectList: [],
      // unitProjectList: [], // 上 - 单位工程
      isUnitId: null, // 当前选中单位工程id
      // isProjectItem: null, // 当前选中单项工程
      // calculateData: [], // 计算表格数据

      tableLoading: false,
      // 添加分部工程
      showAddBranchProject: false,
      addBranchProjectActive: 1,
      branchProjectNameList: [],
      branchProjectActive: null,
      // 选择分部工程
      showSelectBranchProject: false,
      branchProjectKeyword: '',
      branchProject: {
        activeContent: 'list', // 切换list 和 detail
        lookRow: null, // 当前查看详情的分部工程
        list: [],
        loading: false,
        currentPage: 1, // 分页相关
        pageSize: 10,
        totalCount: 0,
        pageSizeList: [10, 20, 30, 40, 50, 100],
        activeId: null, // 已选中的表单项
        detail: {
          list: [],
          loading: false
        }
        // multipleSelection: [],
      },
      // 查看换算
      showMatrixUnitProject: false,
      branchProjectLookRow: {}, // 当前查看换算的分部工程
      matrixUnitProject: {
        activeContent: 'list', // 切换list 和 detail
        lookRow: {}, // 当前查看更多价格的换算
        list: [],
        pageSize: 20,
        currentPage: 1,
        totalCount: 0,
        disabledLoad: false,
        loading: false,
        detail: {
          list: [],
          loading: false,
          isMetailId: '',
          isMetailItem: null
        }
      },
      // ====
      // 换算结果
      resultInfo: {
        projectMatrixPrice: 0, // 项目换算造价金额
        matrixEconStd: 0 // 换算单方造价
      },
      showResult: false,

      // 保存
      showSaveScheme: false,
      conversionName: '', // 换算工程名称
      saveLoading: false
    }
  },
  computed: {
    stateList() {
      // 造价阶段列表
      return this.$store.state.project.stageList.filter(item =>
        ['概算', '预算', '结算'].includes(item.stdName)
      )
    },
    projectTypeChildren() {
      return (
        this.projectTypeList.find(
          item => item.id == this.newSingleProject.specialtyType
        )?.subs || []
      )
    },
    projectTypeChildrenChildren() {
      return (
        this.projectTypeChildren.find(
          item => item.id == this.newSingleProject.projectType
        )?.subs || []
      )
    },
    isSingleItem: {
      // 切勿返回新对象，这里是为了方便可以通过引用直接修改原对象
      // 当前选中单项工程
      get() {
        return this.singleProjectList.find(item => item.id == this.isSingleId)
      },
      set(value) {
        const index = this.singleProjectList.findIndex(
          item => item.id == this.isSingleId
        )
        if (index !== -1) {
          this.singleProjectList[index] = value
        }
      }
    },
    unitProjectList: {
      // 上 - 单位工程
      get() {
        return (
          this.singleProjectList.find(item => item.id == this.isSingleId)
            ?.sub || []
        )
      },
      set(value) {
        const isSingleItem = this.singleProjectList.find(
          item => item.id == this.isSingleId
        )
        if (isSingleItem) {
          isSingleItem.sub = value
        }
      }
    },
    isUnitItem: {
      // 切勿返回新对象
      get() {
        return this.singleProjectList
          .find(item => item.id == this.isSingleId)
          ?.sub?.find(item => item.id == this.isUnitId)
      },
      set(value) {
        const list = this.singleProjectList.find(
          item => item.id == this.isSingleId
        )?.sub
        const index = list?.findIndex(item => item.id == this.isUnitId)
        if (index >= 0) {
          list[index] = value
        }
      }
    },
    calculateData: {
      // 计算表格数据
      get() {
        const isUnitItem = this.singleProjectList
          .find(item => item.id == this.isSingleId)
          ?.sub?.find(item => item.id == this.isUnitId)
        let list = isUnitItem?.sub || []
        if (isUnitItem) {
          list = [
            {
              ...isUnitItem,
              unitProjectName: isUnitItem?.useName,
              isSingle: true
            },
            ...list
          ]
        }
        return list
      },
      set(value) {
        const isUnitItem = this.singleProjectList
          .find(item => item.id == this.isSingleId)
          ?.sub?.find(item => item.id == this.isUnitId)
        if (isUnitItem) {
          isUnitItem.sub = value
        }
      }
    },
    currentUnitPtc() {
      // 当前单位工程的分部总占比
      const ptc = this.isUnitItem?.sub.reduce((total, item) => {
        return total + (item.ptc || 0)
      }, 0)
      return ptc
    }
    // projectPtc() {
    //   // 项目占比
    //   let ptc = 0
    //   this.singleProjectList.forEach(sItem => {
    //     sItem?.sub.forEach(uItem => {
    //       uItem?.sub.forEach(bItem => {
    //         if (bItem.ptc) {
    //           ptc += bItem.ptc
    //         }
    //       })
    //     })
    //   })

    //   return ptc
    // }
  },
  watch: {
    // 当前选中单位工程阶段id
    // isUnitId(id) {
    //   if (id) {
    //     // 获取换算后单项工程列表
    //     this.listMatrixPage();
    //   }
    // },
    stateList: {
      deep: true,
      immediate: true,
      handler(newValue) {
        if (
          Array.isArray(newValue) &&
          newValue.length &&
          !this.topForm.stageConfigId
        ) {
          // this.topForm.stageConfigId = newValue[0]?.id
          this.topForm.stageConfigId = newValue.find(item =>
            item.stdName.includes('预')
          )?.id
        }
      }
    },
    // 修改了建筑面积，需要重新获取换算结果
    'topForm.caliber': {
      deep: true,
      handler(data) {
        this.showResult = false
      }
    },
    currentUnitPtc(newValue) {
      // 保存当前单位工程的分部总占比
      if (this.isUnitItem) {
        this.$set(this.isUnitItem, 'totalPtc', newValue)
      }
    }
  },
  mounted() {
    this.getProjectType()
    this.getallUnitProjectType()
    this.getAreaTree().then(res => {
      if (this.$route.query.matrixId) {
        this.matrixId = this.$route.query.matrixId
        // this.alikeKey = this.$route.query.alikeKey
        this.getMatrixProjectOnUnit({
          matrixId: this.matrixId
        })
      }
    })
    // this.getSingleProjectList()
  },
  methods: {
    checkNumber,
    formatDate,
    formatArea(provinceName = '', cityName = '', area = '') {
      return [provinceName, cityName, area].filter(item => item).join('-')
    },
    // 计算======================
    // 换算合价
    calcMatrixTotalPrice(count, matrixPrice) {
      // 数量 * 换算单价
      return count * parseFloat(matrixPrice)
    },
    // 差价
    calcSpreadPrice(matrixTotalPrice, totalPrice) {
      // 换算合价 - 合价
      return matrixTotalPrice - totalPrice
    },
    // 合差价
    calcSpreadPriceSum(newSpreadPrice, oldSpreadPrice, spreadPriceSum = 0) {
      // 合差价 + （更改的差价 - 原差价）
      return spreadPriceSum + (newSpreadPrice - oldSpreadPrice)
    },
    // 总差价
    calcTotalSpreadPrice(spreadPriceSum, pricePctSum) {
      // 合差价 / 合占比
      return spreadPriceSum / pricePctSum / 0.01 || 0
    },
    // 单位换算造价金额（分部工程）
    calcBranchMatrixTotalPrice(totalPrice, totalSpreadPrice) {
      // 造价金额 + 总差价
      return totalPrice + totalSpreadPrice
    },
    // 分部工程换算造价金额
    calcBranchMatrixPrice(matrixTotalPrice, ptc) {
      // 单位换算造价金额 * 发布占比
      return matrixTotalPrice * ptc * 0.01
    },
    // 单位工程换算金额
    calcUnitMatrixPrice(matrixTotalPrice, totalPtc) {
      // （分部换算造价金额 1 + ... + 分部换算造价金额n) / (占比1 + ... + 占比n)
      return matrixTotalPrice / totalPtc / 0.01 || 0
    },
    handleUnitMatrixPrice(unitProjectItem) {
      let newMatrixTotalPrice = 0
      let newTotalPtc = 0
      for (let i = 0; i < unitProjectItem.sub.length; i++) {
        const item = unitProjectItem.sub[i]
        if (item.matrixPrice) {
          newMatrixTotalPrice += parseFloat(item.matrixPrice)
          newTotalPtc += item.ptc
        }
      }
      const newMatrixPrice = this.calcUnitMatrixPrice(
        newMatrixTotalPrice,
        newTotalPtc
      )
      this.$set(unitProjectItem, 'matrixPrice', newMatrixPrice)
      return newMatrixPrice
    },
    // 计算单位工程下的分部总占比
    calcUnitPtc(unitProjectItemSub) {
      const totalPtc = unitProjectItemSub.reduce((total, item) => {
        return total + (item.ptc || 0)
      }, 0)
      // this.$set(unitProjectItem, 'totalPtc', totalPtc)

      return totalPtc
    },
    // 计算口径输入限制（非负数值）
    iptkoujin2(e) {
      // 清除"数字"和"."以外的字符
      this.topForm.caliber = this.topForm.caliber.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.topForm.caliber = this.topForm.caliber.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.topForm.caliber = this.topForm.caliber.replace(/\.{2,}/g, '.')
      this.topForm.caliber = this.topForm.caliber
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
    },
    // 获取单项工程详情列表
    getMatrixProjectOnUnit({ matrixId }) {
      let projectBuildHistoryItem = sessionStorage.getItem(
        'projectBuildHistoryItem'
      )
      if (projectBuildHistoryItem) {
        projectBuildHistoryItem = JSON.parse(projectBuildHistoryItem)
      }
      this.alikeKey = projectBuildHistoryItem.alikeKey
      this.topForm.caliber = projectBuildHistoryItem.caliber
      this.topForm.caliberUnit = projectBuildHistoryItem.caliberUnit
      this.provinceList.some(item => {
        if (item.name === projectBuildHistoryItem.provinceName) {
          this.cityList = item.sub
          this.topForm.provinceId = item.id
          this.topForm.provinceName = item.name
          item.sub.some(item2 => {
            if (item2.name === projectBuildHistoryItem.cityName) {
              this.topForm.cityId = item2.id
              this.topForm.cityName = item2.name
            }
          })
        }
      })
      this.topForm.dateRange[0] = projectBuildHistoryItem.matrixTimeStart
      this.topForm.dateRange[1] = projectBuildHistoryItem.matrixTimeEnd
      this.topForm.matrixTimeType = projectBuildHistoryItem.matrixTimeType
      this.topForm.matrixTimeYear = projectBuildHistoryItem.matrixTimeYear
      this.topForm.matrixTimeDesc = projectBuildHistoryItem.matrixTimeDesc
      this.resultInfo.projectMatrixPrice =
        projectBuildHistoryItem.matrixTotalPrice
      this.conversionName = projectBuildHistoryItem.name
      this.topForm.name = projectBuildHistoryItem.projectName

      if (projectBuildHistoryItem.stageConfigId) {
        this.topForm.stageConfigId = projectBuildHistoryItem.stageConfigId
      }
      const params = {
        matrixId
      }
      getMatrixProjectOnUnit(params).then(res => {
        if (res?.code === '01') {
          this.singleProjectList = res.body?.map((sItem, sIndex) => {
            const sSub = sItem.unitNormRes.map(uItem => {
              const uSub = uItem.unitDeptRes.map(bItem => {
                const bSub = bItem.matPriceRes || []
                return {
                  // ...bItem,
                  // matPriceRes: undefined,
                  branchProjectName: bItem.engDeptName,
                  ptc: bItem.ptc,
                  projectName: bItem.sourceName,
                  id: bItem.engDeptConfigId,
                  engDeptId: bItem.engDeptId,
                  unitId: bItem.engUnitId,
                  isNew: false,
                  matrixDeptId: bItem.matrixDeptId,
                  matrixPrice: uItem.matrixTotalPrice,
                  stageConfigId: bItem.stageConfigId,
                  matrixTotalPrice: bItem.unitMatrixTotalPrice,
                  pricePctSum: bItem.unitPricePctSum,
                  spreadPriceSum: bItem.unitSpreadPriceSum,
                  totalPrice: bItem.unitTotalPrice,
                  sub: bSub
                }
              })

              return {
                // ...uItem,
                // unitDeptRes: undefined,
                useName: uItem.name,
                matrixPrice: uItem.matrixTotalPrice,
                id: uItem.unitTypeId,
                isNew: false,
                totalPtc: this.calcUnitPtc(uSub),
                sub: uSub
              }
            })

            return {
              // ...sItem,
              // unitNormRes: undefined,
              id: sIndex,
              matrixPrice: sItem.matrixTotalPrice,
              isNew: false,
              name: sItem.projectName,
              engType: sItem.engType,
              projectType: sItem.projectType,
              specialtyType: sItem.specialtyType,
              sub: sSub
            }
          })

          if (this.singleProjectList.length === 1) {
            // 默认选中第一个
            this.changeSingleProject(this.singleProjectList[0])
          }
        }
      })
    },
    // 获取地区（省，市）
    getAreaTree() {
      return getAreaTree().then(res => {
        if (res && res.code === '01') {
          this.provinceList = res.body
          this.cityList = this.provinceList[0].sub

          // 默认选择
          if (!this.matrixId) {
            this.provinceList.some(item => {
              if (item.name === '广东省') {
                this.cityList = item.sub
                this.topForm.provinceId = item.id
                this.topForm.provinceName = item.name
                item.sub.some(item2 => {
                  if (item2.name === '江门市') {
                    this.topForm.cityId = item2.id
                    this.topForm.cityName = item2.name
                  }
                })
              }
            })
          }
        }
      })
    },
    // 切换省份
    changeProvince(id) {
      for (var i = 0; i < this.provinceList.length; i++) {
        if (this.provinceList[i].id == id) {
          this.cityList = this.provinceList[i].sub
          this.topForm.provinceName = this.provinceList[i].name
          this.topForm.cityName = ''
          this.topForm.cityId = ''
          break
        }
      }
    },

    // 切换城市
    changeCity(id) {
      for (var i = 0; i < this.cityList.length; i++) {
        if (this.cityList[i].id == id) {
          this.topForm.cityName = this.cityList[i].name
          break
        }
      }
    },
    // 选中换算时间
    changeDateRange1() {
      this.alterTime = true
      // this.timePickActice = 1
      this.getMatrixUnitPrice()
    },
    changeDateRange2() {
      this.alterTime = true
      this.timePickActice = 2
      this.getMatrixUnitPrice()
    },
    timeChange() {},
    // getSingleProjectList() {
    //   getSingleProjectList().then(res => {
    //     if (res.code === '01') {
    //       this.singleProjectList = res.body.map(item => ({ ...item, isEdit: false }))

    //       if (this.singleProjectList && this.singleProjectList.length) {
    //           // 默认选中第一个
    //           this.changeSingleProject(this.singleProjectList[0])
    //         }
    //     }
    //   })
    // },
    // editSingleProject(item){
    //   item.isEdit
    // },
    getProjectType() {
      getProjectType().then(res => {
        if (res?.code === '01') {
          this.projectTypeList = res.body || []
        }
      })
    },
    // 单项工程
    openAddSingleProject() {
      this.addSingleProjectActive = 1
      this.showAddSingleProject = true
      if (!this.projectTypeList?.length) {
        this.getProjectType()
      }
    },
    getallUnitProjectType() {
      this.addSingleProjectLoading = true
      const data = {
        pid: 0,
        type: 1
      }
      getUnitProjectType(data)
        .then(res => {
          this.addSingleProjectLoading = false
          if (res?.code === '01') {
            this.allUnitProjectList =
              res.body.list.map(item => ({
                ...item,
                disabled: false,
                checked: false
              })) || []
          }
        })
        .catch(err => {
          this.addSingleProjectLoading = false
        })
    },
    addSingleProject() {
      // this.getAllUnitProjectList()
      if (!this.newSingleProject.name) {
        this.$message({
          type: 'error',
          message: '请输入工程名称'
        })
        return
      }
      if (
        !this.newSingleProject.specialtyType ||
        !this.newSingleProject.projectType ||
        !this.newSingleProject.engType
      ) {
        this.$message({
          type: 'error',
          message: '请选择项目分类'
        })
        return
      }
      this.addSingleProjectActive = 2
    },
    addSingleProject2() {
      const sub = this.allUnitProjectList.filter(item => item.checked)
      if (!sub.length) {
        this.$message({
          type: 'error',
          message: '请选择单位工程'
        })
        return
      }
      const singleProject = {
        id: new Date().getTime(),
        ...this.newSingleProject,
        // name: this.newSingleProject.name,
        matrixPrice: 0,
        isNew: true,
        sub: sub.map(item => ({ ...item, isNew: true, sub: [] }))
      }
      // singleProject.sub.forEach(item=>{
      //   item.sub[0] = {
      //     unitProjectName: item.useName,
      //     isSingle: true
      //   }
      // })

      this.singleProjectList.push(singleProject)

      if (this.singleProjectList.length === 1) {
        // 默认选中第一个
        this.changeSingleProject(this.singleProjectList[0])
      }
      this.showAddSingleProject = false
    },
    // getAllUnitProjectList(){
    //   getAllUnitProjectList().then(res => {
    //     if(res?.code === '01') {
    //       this.allUnitProjectList = res.body
    //     }
    //   })
    // },
    saveSingleProject(item) {
      if (!item.name) {
        this.$message({
          type: 'error',
          message: '请输入分类名称'
        })
        return
      }
      this.$message({
        type: 'success',
        message: '操作成功'
      })
      item.isEdit = false
      // const data = {
      //   name: item.name,
      //   id: item.id,
      // }

      // saveSingleProject(data).then(res => {
      //   if (res.code === '01') {
      //     this.$message({
      //       type: 'success',
      //       message: res.message
      //     })
      //     item.isEdit = false
      //   } else {
      //     this.$message({
      //       type: 'error',
      //       message: res.message
      //     })
      //   }
      // })
    },
    deleteSingleProject(id) {
      this.$confirm('确定删除该单项工程?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const index = this.singleProjectList.findIndex(item => item.id == id)
        if (this.isSingleId === id) {
          if (this.singleProjectList[index - 1]) {
            this.changeSingleProject(this.singleProjectList[index - 1])
          } else if (this.singleProjectList[index + 1]) {
            this.changeSingleProject(this.singleProjectList[index + 1])
          }
        }
        this.singleProjectList.splice(index, 1)
        this.$message({
          type: 'success',
          message: '操作成功'
        })
      })
    },
    // 切换单项工程
    changeSingleProject(item) {
      this.isSingleId = item.id
      // this.isProjectItem = item;

      // this.isCacheId = this.isSingleId;

      // 单位工程
      // this.unitProjectList = item.sub;
      if (this.unitProjectList && this.unitProjectList.length) {
        // 默认选中第一个
        this.changeUnitProject(this.unitProjectList[0].id)
      }
    },
    // 单位工程
    openAddUnitProject() {
      this.showAddUnitProject = true
      this.allUnitProjectList.forEach(item => {
        if (this.isSingleItem.sub.find(item2 => item2.id == item.id)) {
          item.disabled = true
          item.checked = true
        } else {
          item.disabled = false
          item.checked = false
        }
      })
    },
    // 确认选择
    confirmAddUnitProject() {
      const sub = this.allUnitProjectList
        .filter(item => item.checked && !item.disabled)
        .map(item => ({ ...item, isNew: true, sub: [] }))
      this.isSingleItem.sub.push(...sub)
      this.showAddUnitProject = false
    },
    // 切换单位工程
    changeUnitProject(id) {
      this.isUnitId = id
    },
    deleteUnitProject(id) {
      this.$confirm('确定删除该单位工程?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const index = this.isSingleItem.sub.findIndex(item => item.id == id)
        if (this.isUnitId === id) {
          if (this.isSingleItem.sub[index - 1]) {
            this.changeUnitProject(this.isSingleItem.sub[index - 1].id)
          } else if (this.isSingleItem.sub[index + 1]) {
            this.changeUnitProject(this.isSingleItem.sub[index + 1].id)
          }
        }
        this.isSingleItem.sub.splice(index, 1)

        this.$message({
          type: 'success',
          message: '操作成功'
        })
      })
    },
    // listMatrixPage(){
    //   const data =  {}
    //   listMatrixPage(data).then(res => {
    //     if(res?.code === '01') {
    //       this.calculateData = res.body.list
    //     }
    //   })
    // },
    // 添加分部工程
    getbranchProjectNameList() {
      const data = {
        pid: this.isUnitId,
        type: 2
      }
      return getUnitProjectType(data).then(res => {
        if (res?.code === '01') {
          this.branchProjectNameList = res.body.list.map(item => ({
            ...item,
            disabled: false,
            checked: false
          }))
        }
      })
    },
    async openAddBranchProject() {
      this.showAddBranchProject = true
      await this.getbranchProjectNameList()
      this.branchProjectNameList.forEach(item => {
        if (this.isUnitItem.sub.find(item2 => item2.id == item.id)) {
          item.disabled = true
          item.checked = true
        } else {
          item.disabled = false
          item.checked = false
        }
      })
    },
    addBranchProject() {
      const branchProjectList = this.branchProjectNameList
        .filter(item => item.checked && !item.disabled)
        .map(item => ({
          ...item,
          branchProjectName: item.useName,
          isNew: true,
          sub: []
        }))
      // this.calculateData.push(...branchProjectList)
      this.isUnitItem.sub.push(...branchProjectList)
      this.showAddBranchProject = false
    },
    deleteBranchProject(id) {
      this.$confirm('确定删除该分部工程?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        const index = this.isUnitItem.sub.findIndex(item => item.id == id)
        this.isUnitItem.sub.splice(index, 1)
        this.$message({
          type: 'success',
          message: '操作成功'
        })
      })
    },
    // 选择分部工程==============================
    // 打开选择分部工程弹窗
    openSelectBranchProject(row) {
      this.branchProject.activeContent = 'list'
      this.showSelectBranchProject = true
      this.branchProjectActive = row
      this.searchBranchProject(row.id)
    },
    // 勾选分部工程
    checkBranchProject(checked, projectId) {
      if (checked) {
        this.branchProject.activeId = projectId
      } else {
        this.branchProject.activeId = null
      }
    },
    // 确认选择分部工程
    confirmBranchProject() {
      const item = this.branchProject.list.find(
        item => item.projectId === this.branchProject.activeId
      )
      if (!item) {
        this.$message({
          type: 'error',
          message: '请选择分部工程'
        })
        return
      }
      const index = this.isUnitItem.sub.findIndex(pItem => {
        if (pItem.id == this.branchProjectActive.id) {
          return true
        }
      })

      // 通过数组方法替换元素，触发视图更新
      this.isUnitItem.sub.splice(index, 1, {
        ...this.isUnitItem.sub[index],
        ...item
      })
      this.showSelectBranchProject = false
      this.getMatrixUnitPrice(this.isUnitItem.sub[index])
    },
    searchBranchProject(id) {
      const specialtyType = this.projectTypeList.find(
        item => item.id == this.isSingleItem.specialtyType
      )
      const projectType = specialtyType.subs.find(
        item => item.id == this.isSingleItem.projectType
      )
      const engType = projectType.subs.find(
        item => item.id == this.isSingleItem.engType
      )
      const data = {
        currentPage: this.branchProject.currentPage,
        pageSize: this.branchProject.pageSize,
        province: this.topForm.provinceName,
        city: this.topForm.cityName,
        // startTime: '2022-03-01 00:00:00',
        // endTime: '2022-07-01 00:00:00',
        engDeptConfigId: id,
        specialtyType: specialtyType.name,
        projectType: projectType.name,
        engType: engType.name,
        stageConfigId: this.topForm.stageConfigId
      }
      this.branchProject.loading = true
      choiceUnitProject(data)
        .then(res => {
          this.branchProject.loading = false
          if (res.code === '01') {
            this.branchProject.list = res.body.list
            this.branchProject.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.branchProject.loading = false
        })
    },
    // 切换分页
    branchProjectCurrentChange(currentPage) {
      this.currentPage = currentPage
      this.searchBranchProject(this.branchProjectActive.id)
    },

    // 查看分部工程详情==========================
    openBranchProjectDetail(row) {
      this.branchProject.activeContent = 'detail'
      this.branchProject.lookRow = row
      this.lookUnitProjectInfo(row.engDeptId, row.stageConfigId)
    },
    lookUnitProjectInfo(engDeptId, stageConfigId) {
      const params = {
        engDeptId,
        stageConfigId
      }
      this.branchProject.detail.loading = true
      lookUnitProjectInfo(params)
        .then(res => {
          this.branchProject.detail.loading = false
          if (res.code === '01') {
            this.branchProject.detail.list =
              res.body.map(item => ({ ...item, sub: [], loading: false })) || []
          }
        })
        .catch(err => {
          this.branchProject.detail.loading = false
        })
    },
    // 展开分项工程
    expandBranchProjectDetail(row, expandedRows) {
      if (!row.sub?.length) {
        const params = {
          // engDeptId: row.id,
          // stageConfigId: this.branchProject.lookRow.stageConfigId,
          // currentPage: 1,
          // pageSize: 99999,
          deptId: row.engDeptId,
          itemId: row.id,
          projectStageId: this.branchProject.lookRow.stageConfigId,
          unitId: this.branchProject.lookRow.unitId
        }
        row.loading = true
        lookDeptProjectInfo(params)
          .then(res => {
            row.loading = false
            if (res?.code === '01') {
              row.sub =
                res.body.list.map(item => ({
                  ...item,
                  sub: [],
                  loading: false
                })) || []
            }
          })
          .catch(err => {
            row.loading = false
          })
        // row.loading = true
        // const data = {
        //   pid: row.id,
        //   type: 3
        // }
        // getUnitProjectType(data).then(res => {
        //   row.loading = false
        //   if (res?.code === '01') {
        //     row.sub = res.body.list || []
        //   }
        // }).catch(err=>{
        //   row.loading = false
        // })
      }
    },
    // 查看换算=================================
    openMatrixUnitProject(row) {
      if (this.topForm.dateRange.length !== 2) {
        this.$message({
          type: 'error',
          message: '请选择调价时间'
        })
        return
      }
      if (!row.ptc) {
        this.$message({
          type: 'error',
          message: '请选择分部工程'
        })
        return
      }

      this.matrixUnitProject.activeContent = 'list'
      // row.sub = []
      this.branchProjectLookRow = row
      this.showMatrixUnitProject = true

      this.matrixUnitProject.currentPage = 1
      this.matrixUnitProject.loading = true
      this.searchMatrixUnitProject()
        .then(res => {
          this.matrixUnitProject.loading = false
          if (res.code === '01') {
            this.matrixUnitProject.list = res.body?.list || []
            this.matrixUnitProject.totalCount = res.body?.totalCount || 0
          }
        })
        .catch(err => {
          this.matrixUnitProject.loading = false
        })
      // const data = {
      //   startTime: this.topForm.dateRange[0],
      //   endTime: this.topForm.dateRange[1],
      //   matrixProjectId: row.projectId,
      //   projectStageId: row.stageConfigId,
      //   unitId: row.unitId
      // }
      // lookMatrixUnitProject(data).then(res => {
      //   this.matrixUnitProject.loading = false
      //   if (res.code === '01') {
      //     this.matrixUnitProject.list = res.body?.list || []
      //   }
      // }).catch(err => {
      //   this.matrixUnitProject.loading = false
      // })
    },
    searchMatrixUnitProject() {
      const row = this.branchProjectLookRow
      const data = {
        pageSize: this.matrixUnitProject.pageSize,
        currentPage: this.matrixUnitProject.currentPage,
        startTime: this.topForm.dateRange[0],
        endTime: this.topForm.dateRange[1],
        matrixProjectId: row.projectId,
        projectStageId: row.stageConfigId,
        unitId: row.unitId
      }
      return lookMatrixUnitProject(data).then(res => {
        this.matrixUnitProject.currentPage++
        return res
      })
    },
    // 滚动分页
    nextMatrixUnitProject() {
      console.log('滚动分页')
      if (
        this.matrixUnitProject.list.length < this.matrixUnitProject.totalCount
      ) {
        this.searchMatrixUnitProject().then(res => {
          if (res.code === '01') {
            this.matrixUnitProject.list.push(...(res.body?.list || []))
          }
        })
      }
    },
    // 获取单位工程换算造价金额
    getMatrixUnitPrice(branchProjectItem) {
      // 有item传入，单独修改一个
      if (this.topForm.dateRange.length !== 2) {
        // '请选择调价时间'
        return
      }

      this.showResult = false // 价格有变需要重新提交换算价

      const unitIds = []
      if (typeof branchProjectItem !== 'undefined') {
        unitIds.push(branchProjectItem.unitId)
      } else {
        this.singleProjectList.forEach(sItem => {
          sItem?.sub.forEach(uItem => {
            uItem?.sub.forEach(bItem => {
              if (bItem.unitId && !unitIds.includes(bItem.unitId)) {
                unitIds.push(bItem.unitId)
              }
            })
          })
        })

        if (!unitIds.length) {
          console.log(`unitIds=${unitIds}`)
          return
        }
      }

      const handleSuccess = (res, item) => {
        const hasPrice = res.body.some(item2 => {
          if (item.unitId === item2.unitId) {
            this.$set(item, 'matrixTotalPrice', item2.matrixTotalPrice)
            this.$set(item, 'pricePctSum', item2.pricePctSum)
            this.$set(item, 'spreadPriceSum', item2.spreadPriceSum)
            this.$set(item, 'totalPrice', item2.totalPrice)
            this.$set(item, 'matrixTotalPrice', item2.totalPrice)
            this.$set(
              item,
              'matrixPrice',
              this.calcBranchMatrixPrice(item2.matrixTotalPrice, item.ptc)
            )
            return true
          }
        })
        if (!hasPrice) {
          this.$set(item, 'matrixTotalPrice', undefined)
          this.$set(item, 'pricePctSum', undefined)
          this.$set(item, 'spreadPriceSum', undefined)
          // this.$set(item, 'totalPrice', undefined)
          this.$set(item, 'matrixTotalPrice', undefined)
          this.$set(item, 'matrixPrice', undefined)
        }
      }

      const data = {
        startTime: this.topForm.dateRange[0],
        endTime: this.topForm.dateRange[1],
        unitIds
      }
      getMatrixUnitPrice(data).then(res => {
        if (res.code === '01') {
          if (typeof branchProjectItem !== 'undefined') {
            handleSuccess(res, branchProjectItem)
            this.singleProjectList.some(sItem => {
              const isHas = sItem?.sub.some(uItem => {
                const isHas = uItem?.sub.some(item => {
                  if (item.id == branchProjectItem.id) {
                    item.isNew = true
                    return true
                  }
                })
                if (isHas) {
                  uItem.isNew = true
                  return true
                }
              })
              if (isHas) {
                sItem.isNew = true
                return true
              }
            })
          } else {
            // 批量修改换算金额
            this.singleProjectList.forEach(sItem => {
              sItem.isNew = true
              sItem?.sub.forEach(uItem => {
                uItem.isNew = true
                uItem?.sub.forEach(item => {
                  item.isNew = true
                  handleSuccess(res, item)
                })
              })
            })
          }
          // 计算新单位工程换算金额
          this.singleProjectList.forEach(sItem => {
            sItem.sub.forEach(uItem => {
              this.handleUnitMatrixPrice(uItem)
            })
          })
        }
      })
    },
    matrixUnitProjectCellDblClick(row, column) {
      if (column.property === 'matrixPrice') {
        if (this.topForm.dateRange.length !== 2) {
          this.$message({
            type: 'error',
            message: '请选择调价时间'
          })
          return
        }
        this.$set(row, 'isEdit', true)

        this.$nextTick(() => {
          this.$refs[column.property] && this.$refs[column.property].focus()
        })
      }
    },
    setMatrixPrice(row, type) {
      row.matrixPrice = Number(row.matrixPrice)
      if (!this.branchProjectLookRow.oldData) {
        // 首次更改单价才会保存旧数据
        this.branchProjectLookRow.oldData = {
          ...this.branchProjectLookRow,
          sub: [...this.branchProjectLookRow.sub]
        }
        this.branchProjectLookRow.sub = []
      }

      // 换算合价
      const matrixTotalPrice = this.calcMatrixTotalPrice(
        row.count,
        row.matrixPrice
      )
      this.$set(row, 'matrixTotalPrice', matrixTotalPrice)
      // 差价&合差价
      const oldSpreadPrice = row.spreadPrice
      const newSpreadPrice = this.calcSpreadPrice(
        matrixTotalPrice,
        row.totalPrice
      )
      this.$set(row, 'spreadPrice', newSpreadPrice)
      const spreadPriceSum = this.calcSpreadPriceSum(
        newSpreadPrice,
        oldSpreadPrice,
        this.branchProjectLookRow.spreadPriceSum
      )
      this.branchProjectLookRow.spreadPriceSum = spreadPriceSum
      // console.log(`合差价=${spreadPriceSum}`)
      // 总差价 & 单位换算造价金额（分部工程）
      const totalSpreadPrice = this.calcTotalSpreadPrice(
        spreadPriceSum,
        this.branchProjectLookRow.pricePctSum
      )
      const branchMatrixTotalPrice = this.calcBranchMatrixTotalPrice(
        this.branchProjectLookRow.totalPrice,
        totalSpreadPrice
      )
      this.branchProjectLookRow.matrixTotalPrice = branchMatrixTotalPrice
      this.branchProjectLookRow.matrixPrice = this.calcBranchMatrixPrice(
        branchMatrixTotalPrice,
        this.branchProjectLookRow.ptc
      )
      // 单位工程换算金额
      this.handleUnitMatrixPrice(this.isUnitItem)
      if (type !== 'select') {
        this.$set(row, 'isEdit', false)
        this.$set(row, 'matType', '')
        this.$set(row, 'matId', null)
      }
      this.branchProjectLookRow.sub.push(row)
    },
    confirmMatrixUnitProject() {
      this.showMatrixUnitProject = false
    },
    cancelMatrixUnitProject() {
      this.showMatrixUnitProject = false
      if (this.branchProjectLookRow.oldData) {
        this.branchProjectLookRow = this.branchProjectLookRow.oldData
      }
    },
    // 查看更多价格
    openMatrixUnitProjectDetail(row) {
      if (this.topForm.dateRange.length !== 2) {
        this.$message({
          type: 'error',
          message: '请选择调价时间'
        })
        return
      }

      this.matrixUnitProject.activeContent = 'detail'
      this.matrixUnitProject.lookRow = row
      const data = {
        startTime: this.topForm.dateRange[0],
        endTime: this.topForm.dateRange[1],
        matrixProjectId: this.branchProjectLookRow.projectId,
        projectStageId: this.branchProjectLookRow.stageConfigId,
        unitId: this.branchProjectLookRow.unitId,
        zcode: row.zcode
      }
      this.matrixUnitProject.detail.loading = true
      getMoreOtherMatPrice(data)
        .then(res => {
          this.matrixUnitProject.detail.loading = false
          if (res.code === '01') {
            this.matrixUnitProject.detail.list = res.body?.list || []
          }
        })
        .catch(err => {
          this.matrixUnitProject.detail.loading = false
        })
    },
    // 选用
    confirmMetail() {
      if (!this.matrixUnitProject.detail.isMetailId) {
        this.$message.error('请先选中要替换的材价！')
        return
      }
      if (
        this.matrixUnitProject.detail.isMetailId &&
        this.matrixUnitProject.detail.isMetailItem
      ) {
        const row = this.matrixUnitProject.lookRow
        this.$set(row, 'matId', this.matrixUnitProject.detail.isMetailItem.id)
        this.$set(
          row,
          'matrixPrice',
          this.matrixUnitProject.detail.isMetailItem.price
        )
        this.$set(
          row,
          'matType',
          this.matrixUnitProject.detail.isMetailItem.matType
        )
        this.setMatrixPrice(row, 'select')

        this.matrixUnitProject.activeContent = 'list'
        this.matrixUnitProject.detail.isMetailId = ''
      } else {
        this.$message.error('当前材价不能被替换！')
        return
      }
      this.matrixUnitProject.activeContent = 'list'
    },
    // 取消
    cancelMetail() {
      this.matrixUnitProject.activeContent = 'list'
      this.matrixUnitProject.detail.isMetailId = ''
      this.matrixUnitProject.detail.isMetailItem = null
    },
    // 计算结果
    // calculateResult() {
    //   console.log("计算结果", this.totalInfo);
    // },
    // 提交换算价
    submitResult() {
      if (!this.singleProjectList.length) {
        this.$message.warning('请先添加单项工程！')
        return
      }
      if (!this.topForm.caliber) {
        this.$message.warning('不输入总建筑面积不会生成换算造价金额!')
        return
      }
      const isOverflow = this.singleProjectList.some(sItem => {
        return sItem.sub.some(uItem => {
          if (uItem.totalPtc > 100) {
            this.isSingleId = sItem.id
            this.isUnitId = uItem.id
            return true
          }
        })
      })
      if (isOverflow) {
        this.$message.warning('分部总占比不得大于100%，请修改后再提交!')
        return
      }

      this.resultInfo.projectMatrixPrice = 0
      this.resultInfo.matrixEconStd = 0
      const notMatrixPrice = this.singleProjectList.some(sItem => {
        let sum = 0
        const notMatrixPrice1 = sItem.sub.some(uItem => {
          // 校验换算金额是否为空=================
          if (!parseFloat(uItem.matrixPrice)) {
            return true
          }
          const notMatrixPrice2 = uItem.sub.some(bItem => {
            if (!parseFloat(bItem.matrixPrice)) {
              return true
            }
          })
          if (notMatrixPrice2) {
            return true
          }
          // ====================================
          sum += parseFloat(uItem.matrixPrice) || 0
        })
        if (notMatrixPrice1) {
          return true
        }

        sItem.matrixPrice = sum
        this.resultInfo.projectMatrixPrice += sum // 计算项目换算造价金额
      })
      if (notMatrixPrice) {
        this.$message.warning('单位工程或分部工程的换算金额不能为空！')
        return
      }

      this.resultInfo.matrixEconStd =
        this.resultInfo.projectMatrixPrice / parseFloat(this.topForm.caliber)

      this.showResult = true

      // this.calculateResult();
    },
    // 保存方案弹窗
    submitScheme() {
      if (!this.topForm.name) {
        this.$message.error('请输入创建项目名称!')
        return
      }
      // if (!this.newCaliber) {
      //   this.$message.error("请输入总建筑面积!");
      //   return;
      // }

      this.showSaveScheme = true
    },
    // 保存方案
    saveScheme() {
      // if (!this.conversionName) {
      //   this.$message.error("请输入换算工程新名称!");
      //   return;
      // }
      if (!this.topForm.name) {
        this.$message.error('请输入创建项目名称!')
        return
      }
      this.saveLoading = true
      const data = {
        alikeKey: this.alikeKey,
        alterTime: this.alterTime,
        caliber: this.topForm.caliber,
        caliberUnit: this.topForm.caliberUnit,
        province: this.topForm.provinceName,
        city: this.topForm.cityName,
        matrixTimeStart: this.topForm.dateRange[0],
        matrixTimeEnd: this.topForm.dateRange[1],
        matrixTimeType: this.topForm.matrixTimeType,
        matrixTimeYear: this.topForm.matrixTimeYear,
        matrixTimeDesc: this.topForm.matrixTimeDesc,
        matrixEconStd: this.resultInfo.matrixEconStd,
        matrixTotalPrice: this.resultInfo.projectMatrixPrice,
        // name: this.conversionName,
        name: this.topForm.name,
        projectName: this.topForm.name,
        projectStageId: this.topForm.stageConfigId,
        type: 2
      }

      data.matrixProjectReqs = this.singleProjectList.map(sItem => {
        let unitNormSaveReqs = sItem.sub?.map(uItem => {
          const unitDeptSaveReqs = uItem.sub?.map(bItem => {
            // const matPriceSaveReqs = bItem?.sub
            const matPriceSaveReqs = bItem.sub?.map(mItem => {
              const {
                count,
                matType,
                matrixPrice,
                matrixTotalPrice,
                name,
                price,
                pricePct,
                projectMatId,
                spec,
                spreadPrice,
                totalPrice,
                unit
              } = mItem
              return {
                count,
                matType,
                matrixPrice,
                matrixTotalPrice,
                name,
                price,
                pricePct,
                projectMatId,
                spec,
                spreadPrice,
                totalPrice,
                unit
              }
            })

            return {
              // ...bItem,
              // sub: undefined,
              engDeptId: bItem.engDeptId,
              engUnitId: bItem.unitId,
              isNew: bItem.isNew,
              matrixDeptId: bItem.matrixDeptId,
              matrixTotalPrice: bItem.matrixPrice,
              stageConfigId: bItem.stageConfigId,
              unitMatrixTotalPrice: bItem.matrixTotalPrice,
              unitPricePctSum: bItem.pricePctSum,
              unitSpreadPriceSum: bItem.spreadPriceSum,
              unitTotalPrice: bItem.totalPrice,
              matPriceSaveReqs
            }
          })

          return {
            // ...uItem,
            // sub: undefined,
            matrixTotalPrice: uItem.matrixPrice,
            projectNormConfigId: uItem.id,
            isNew: uItem.isNew,
            unitDeptSaveReqs
          }
        })
        unitNormSaveReqs = unitNormSaveReqs.filter(
          item => item.unitDeptSaveReqs.length
        )
        return {
          // ...sItem,
          // sub: undefined,
          isNew: sItem.isNew,
          projectName: sItem.name,
          engType: sItem.engType,
          projectType: sItem.projectType,
          specialtyType: sItem.specialtyType,
          unitNormSaveReqs
        }
      })

      let saveApi = saveProjectBuild
      if (this.matrixId) {
        saveApi = addProjectBuild
      }
      saveApi(data).then(res => {
        this.saveLoading = false
        if (res?.code === '01') {
          this.$message.success('保存方案成功！')
          // this.showSaveScheme = false;
          this.$router.push({
            path: '/targetApplication/projectBuildHistory'
          })
        } else {
          this.$message.error(res.message || '操作失败！')
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.project-build-container {
  .top {
    padding: 10px 20px;
    border-top: 1px solid #f6f6f6;
    background-color: #fff;
    // display: grid;
    // grid-template-columns: repeat(2, 573px);
    // gap: 20px;
    .top-row {
      > div {
        margin-right: 20px;
      }
      &:nth-child(n + 2) {
        margin-top: 20px;
      }
    }
    /deep/ .el-input {
      width: 440px;
      .el-input__inner {
        border-radius: 20px;
      }
    }
    /deep/ .el-select {
      width: 215px;
      .el-input {
        width: 100%;
      }
      // &::v-deep .el-input--suffix .el-input__inner {
      //   height: 36px;
      //   line-height: 36px;
      // }
    }
    // /deep/ .el-date-editor {
    //   width: 215px;
    // }
    /deep/ .koujing {
      &.el-input {
        width: 310px;
      }
      .el-input__inner {
        border-right: none;
        border-radius: 20px 0 0 20px;
      }
    }
    /deep/ .form-unit {
      &.el-select {
        width: 130px;
      }
      .el-input__inner {
        border-radius: 0 20px 20px 0;
      }
    }
    .tip-text {
      margin: 5px 0 0 133px;
      color: #999;
      font-size: 12px;
    }
  }
  .main {
    padding: 20px 20px 60px 20px;
    min-height: calc(100vh - 500px);
    border-radius: 8px;
    background-color: #fff;
    .com-label-text {
      &.green {
        color: #1eb645;
      }
      &.gray {
        color: #999999;
      }
      &.red {
        color: #f13a3f;
      }
    }
    .main-sidebar {
      width: 200px;
      .check-item {
        height: 44px;
        color: #999;
        font-size: 14px;
        width: 100%;
        border-bottom: 1px solid rgba(229, 229, 229, 0.5);
        position: relative;
        padding: 0 14px;
        .icon-box {
          height: 14px;
          .icon {
            cursor: pointer;
          }
        }
        &.item-active {
          color: #fff;
          background: $color-minor;
          border-radius: 2px;
          &::after {
            display: block;
            content: '';
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-left: 8px solid $color-minor;
            border-bottom: 8px solid transparent;
            position: absolute;
            right: -8px;
            top: 50%;
            margin-top: -8px;
          }
        }
      }
      .custom-edit-ipt {
        width: 124px;
      }
    }
    .main-right {
      flex: 1;
      border-radius: 2px;
      // padding-bottom: 66px;
      background: #fff;
      .main-right-top {
        background: #fff;
        .item-group {
          margin-bottom: 10px;
          border-bottom: 1px solid $color-minor;
          box-shadow: 0px 1px 0px 0px rgba(249, 161, 71, 0.3);
          .check-item {
            width: 140px;
            height: 32px;
            color: #bfbfbf;
            font-weight: 500;
            font-size: 12px;
            cursor: pointer;
            &:hover {
              color: $color-minor;
            }
          }
          .item-active {
            color: #ffffff;
            background-image: url('~@/assets/img/icons/item_bg.png');
            background-size: 140px 32px;
            box-shadow: 0px 2px 0px 0px rgba(249, 161, 71, 0.3);
            border-radius: 1px;
            &:hover {
              color: #ffffff;
            }
          }
        }
        .add-tab {
          padding: 0 12px;
        }
      }
      .table-box {
        width: 100%;
        padding-bottom: 18px;
        position: relative;
        height: 600px;
        .el-table {
          position: absolute;
          font-size: 12px;

          &::v-deep .el-input__inner,
          .el-input {
            font-size: 12px;
          }
          /deep/ .has-gutter {
            th {
              background: #eff2f7 !important;
            }
            .cell {
              font-size: 12px;
              color: #999999 !important;
            }
          }
        }
        .green {
          color: #1eb645;
        }
        .gray {
          color: #999999;
        }
        .red {
          color: #f13a3f;
        }
        .orange {
          color: #f9a147;
        }
        .icons {
          cursor: pointer;
        }
        .title-link {
          color: $color-primary;
          cursor: pointer;
        }
        // .icon-wrap {
        //   &>span {
        //     &:last-child {
        //       padding-right: 0;
        //     }
        //   }
        // }
      }
    }
    .results {
      margin: 20px 10px 0 10px;
      padding: 20px 30px;
      font-size: 14px;
      color: #fff;
      background: #ff9081;
      li {
        flex: 1;
        text-align: center;
        position: relative;
        span {
          display: inline-block;
        }
        &:not(:last-child)::after {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 50px;
          background: #fff;
        }
      }
    }
    .result-btn {
      text-align: right;
      margin-right: 10px;
      .el-button {
        padding: 0 20px;
      }
    }
  }
}
</style>

<style lang="scss" module>
@import '../../styles/variables.scss';
.dialog-checkbox {
  :global {
    .com-checkbox {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .el-checkbox {
        width: auto;
        margin-right: 12px;
      }
    }
    // .el-checkbox-group {
    //   justify-content: flex-start;
    // }
  }
}
.input--search {
  :global {
    .el-input {
      input {
        border: none;
      }
    }
  }
}
.dialog-big {
  :global {
    .el-dialog {
      margin: 0 auto;
    }
    .active {
      color: $color-minor;
    }
  }
}
.dialog-table-box {
  :global {
    width: 100%;
    padding-bottom: 18px;
    position: relative;
    .el-table {
      // position: absolute;
      font-size: 12px;

      .el-input__inner,
      .el-input {
        font-size: 12px;
      }
      .has-gutter {
        th {
          background: #eff2f7 !important;
        }
        .cell {
          font-size: 12px;
          color: #999999 !important;
        }
      }
    }
    .icons {
      cursor: pointer;
    }
    .title-link {
      color: $color-primary;
      cursor: pointer;
    }
    // .icon-wrap {
    //   &>span {
    //     &:last-child {
    //       padding-right: 0;
    //     }
    //   }
    // }
  }
}
</style>
