<template>
  <div class="material-detail">
    <div class="up-wrap">
      <div class="com-search">
        <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如：材料名称" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <div class="search-type">
        <div class="flex-fs norm-type">
          <span class="com-label-text">国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{'is-fold': isFold}">
              <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">全部</li>
              <li v-for="(item, index) in normType" :key="index" :class="{active: curNormType == item.code}" @click="changeNormType(index, item.code)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="normTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('')">全部</li>
              <li v-for="(item, index) in normTypeItem" :key="index" :class="{active: curNormTypeItem == item.code}" @click="changeNormTypeItem(item.code)">
                {{ item.name }}
              </li>
            </ul>
          </div>
          <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" />
        </div>
      </div>

      <div class="com-table table-wrap">
        <div class="flex-csb com-operate-wrap">
          <div>
            <!-- <el-button v-has="$roles.fun_raiseprice_appeardetail_export" class="has-primary-btn" :loading="exportLoading" @click="exportTempDetail">导出</el-button> -->
            <el-button v-has="'mpccollect:evaluate:exportMaterialDetailCount'" class="has-primary-btn" :loading="exportLoading" @click="exportTempDetail">导出</el-button>
          </div>
          <!-- <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting"></span>
            <span>列表设置</span>
          </div> -->
        </div>

        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" row-key="id" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" :reserve-selection="true" width="96px" />
          <el-table-column v-if="checkedList.indexOf('材料名称') != -1" prop="name" label="材料名称" />
          <el-table-column v-if="checkedList.indexOf('规格') != -1" prop="spec" label="规格" />
          <el-table-column v-if="checkedList.indexOf('单位') != -1" prop="unit" label="单位" />
          <el-table-column v-if="checkedList.indexOf('编码') != -1" prop="zcode" label="编码" />
          <el-table-column v-if="checkedList.indexOf('标准名称') != -1" prop="stdName" label="标准名称" />
          <el-table-column v-if="checkedList.indexOf('品牌') != -1" prop="brand" label="品牌" />
          <el-table-column v-if="checkedList.indexOf('价格(元)') != -1" label="价格(元)">
            <template slot-scope="scope">
              <span>{{ scope.row.price || 0 }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('备注') != -1" prop="remark" label="备注" />
          <!-- <el-table-column v-if="checkedList.indexOf('是否有效') != -1" label="是否有效">
            <template slot-scope="scope">
              <span>{{ scope.row.isValid==1?'无效':'有效' }}</span>
            </template>
          </el-table-column> -->
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" width="400px" class="com-dialog" :close-on-click-modal="false">
      <div class="select-list com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = !showSetListDialog">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getCjType,
  queryMaterialDetail,
  exportMaterialDetail,
  exportAllMaterialDetail
} from '@/api/cs/materialManage'

export default {
  name: 'MaterialDetail',
  data() {
    return {
      uploaderId: null,
      periodId: null,
      searchVal: '',
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      customType: [], // 自定义分类
      customTypeItem: [],
      curCustomType: '',
      curCustomTypeItem: '',
      normType: [], // 国标分类
      normTypeItem: [],
      curNormType: '',
      curNormTypeItem: '',
      loading: false,
      showSetListDialog: false,
      checkList: [
        // 表头列表
        '材料名称',
        '规格',
        '单位',
        '编码',
        '标准名称',
        '品牌',
        '价格(元)',
        '是否有效',
        '备注'
      ],
      checkedList: [
        // 列表选中的设置项
        '材料名称',
        '规格',
        '单位',
        '编码',
        '标准名称',
        '品牌',
        '价格(元)',
        '是否有效',
        '备注'
      ],
      disabledCheckedList: [],
      exportLoading: false,
      isFold: true,
      pageSizeList: [10, 20, 30, 40, 50, 100]
    }
  },
  mounted() {
    this.periodId = this.$route.query.periodId
    this.uploaderId = this.$route.query.uploaderId
    this.getData()
  },
  methods: {
    // 全部导出
    exportAllTempDetail() {
      if (this.totalCount == 0) {
        this.$message({
          type: 'error',
          message: '没有可导出数据'
        })
        return
      }
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem
      var data = {
        periodId: this.periodId,
        customTypeId: customTypeId || null,
        keyword: this.searchVal ? this.searchVal : null,
        subcId: subcId || null,
        uploaderId: this.uploaderId
      }

      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMaterialDetail(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价详情列表.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价详情列表.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportTempDetail() {
      if (this.multipleSelection.length === 0) {
        this.exportAllTempDetail()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }

      var data = {
        ids: ids
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMaterialDetail(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价详情列表.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价详情列表.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getTempDetailList()
    },
    // 详情列表
    getTempDetailList() {
      var customTypeId =
        this.curCustomTypeItem === ''
          ? this.curCustomType
          : this.curCustomTypeItem
      var subcId =
        this.curNormTypeItem === '' ? this.curNormType : this.curNormTypeItem
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        periodId: this.periodId,
        customTypeId: customTypeId || null,
        keyword: this.searchVal ? this.searchVal : null,
        subcId: subcId || null,
        uploaderId: this.uploaderId
      }
      this.loading = true
      queryMaterialDetail(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 页面初始数据
    getData() {
      this.loading = true
      getCjType()
        .then(res => {
          // 国标分类
          if (res.code == '01') {
            this.normType = res.body.subcTypes
          }

          this.getTempDetailList()
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.curNormType = code
      this.curNormTypeItem = ''
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }

      this.getTempDetailList()
    },
    changeNormTypeItem(code) {
      this.curNormTypeItem = code

      this.getTempDetailList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTempDetailList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/cs/variables.scss';
.material-detail {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding: 20px 0 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .search-type {
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .norm-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .com-dialog {
    .set-type-wrap {
      .r-color {
        margin-right: 5px;
        font-size: 16px;
      }
      > div {
        margin-bottom: 15px;
        > span {
          margin-right: 8px;
          white-space: nowrap;
        }
      }
      .cj-upload {
        width: 100%;
        > div {
          position: relative;
          width: 100%;
        }
        .u-ipt {
          padding-left: 10px;
          width: 100%;
          height: 34px;
          line-height: 34px;
          border: 1px solid #dcdfe6;
          border-radius: 4px;
        }
        .u-btn {
          max-width: 66px;
          min-width: 66px;
          height: 34px;
          line-height: 34px;
          text-align: center;
          color: #fff;
          background: $color-primary;
          border-radius: 0 4px 4px 0;
        }
        .u-file {
          position: absolute;
          width: 100%;
          opacity: 0;
        }
        .u-dot {
          position: absolute;
          top: 1px;
          right: 66px;
          width: 36px;
          height: 32px;
          line-height: 27px;
          text-align: center;
          background: #edeff3;
          color: #333;
          font-size: 14px;
          font-weight: bold;
        }
      }
      .u-mode-btn {
        color: $color-primary;
        cursor: pointer;
      }
    }
    .set-type-wrap {
      > div {
        text-align: center;
      }
    }
  }
}
</style>
