<template>
  <div class="material-count-detail">
    <div class="up-wrap">
      <h3>
        <span>{{ name }}</span>
        <span v-if="unitName">({{ unitName }})</span>
      </h3>

      <div class="search-type">
        <div class="flex-c">
          <span class="s-text com-label-text">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate()" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate()" />
          </div>
        </div>
      </div>

      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如：周期" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>

      <div class="com-table">
        <div class="flex-csb com-operate-wrap">
          <div>
            <el-button v-has="'mpccollect:evaluate:exportMaterialDetailCount'" class="has-primary-btn" @click="openEvaluate('all')">批量评价</el-button>
            <el-button v-has="'mpccollect:evaluate:exportMaterialDetailCount'" @click="exportAllFile">全部导出</el-button>
            <el-button v-has="'mpccollect:evaluate:exportMaterialDetailCount'" @click="exportFile">导出</el-button>
          </div>
          <!-- <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting" />
            <span>列表设置</span>
          </div> -->
        </div>
        <!-- <el-table v-loading="loading" :data="modeList" tooltip-effect="dark" style="width: 100%;" @selection-change="handleSelectionChange"> -->
        <el-table ref="multipleTable" v-loading="loading" :data="modeList" tooltip-effect="dark" row-key="id" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" :reserve-selection="true" width="80px" />
          <el-table-column label="周期">
            <template slot-scope="scope">
              <div class="cp p-color" @click="skipDetail(scope.row)">{{ scope.row.howPeriod }}</div>
            </template>
          </el-table-column>
          <el-table-column prop="lastTime" label="最后上传时间">
            <template slot-scope="scope">
              <span>{{ scope.row.lastTime | filterDate }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="matCount" label="模板材料数" />
          <el-table-column prop="quantityCount" label="报价数" />
          <el-table-column prop="submittedCount" label="有效报价数" />
          <el-table-column prop="unadoptNum" label="报价异常数" />
          <el-table-column prop="adoptRate" label="采纳率" />
          <el-table-column prop="errorRate" label="报价异常率" />
          <el-table-column prop="speed" label="报价及时性" />
          <el-table-column prop="evaluate" label="评价" show-overflow-tooltip>
            <template slot-scope="scope">
              <span>{{ scope.row.evaluate }}</span>
              <span v-if="scope.row.remark">:{{ scope.row.remark }}</span>
            </template>
          </el-table-column>
          <!-- <el-table-column prop="111111" label="本期评分" />
          <el-table-column prop="111111" label="上期评分" /> -->
          <el-table-column prop="rank" label="本期排名" />

          <!-- <el-table-column label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span @click="openEvaluate(scope.row.periodId)">
                  <el-tooltip effect="light" content="评价" placement="top">
                    <img src="@/assets/img/cs/icons/appraise.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column> -->

        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="changePageSize">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 评价弹窗 -->
    <el-dialog title="评价" :visible.sync="showCalculateDialog" :close-on-click-modal="false" width="521px" class="com-dialog calculate-dialog">
      <div class="flex-fs mb-20">
        <span class="label-text w-60">评价:</span>
        <div class="flex-c pr">
          <el-radio v-model="code" label="A">非常优秀</el-radio>
          <el-radio v-model="code" label="B">优秀</el-radio>
          <el-radio v-model="code" label="C">一般</el-radio>
          <el-radio v-model="code" label="D">差</el-radio>
        </div>
      </div>
      <div class="flex-fs mb-20">
        <span class="label-text w-60">评价说明:</span>
        <div class="flex-c pr ">
          <el-input v-model="remark" type="textarea" :autosize="{ minRows: 8, maxRows: 16}" maxlength="200" show-word-limit placeholder="请输入内容" />
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showCalculateDialog = false">取消</el-button>
        <el-button type="primary" :loading="confirmPriceCalLoading" @click="addEvaluate">确定</el-button>
      </span>
    </el-dialog>
    <!-- 评价弹窗 end -->
  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import {
  queryMaterialDetailCount,
  addEvaluate,
  exportMaterialDetailCount
} from '@/api/cs/materialManage'

export default {
  name: 'MaterialCountDetail',
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    }
  },
  data() {
    return {
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      modeList: [],
      multipleSelection: [],
      loading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      id: null,
      name: null,
      unitName: null,
      startDate: null,
      endDate: null,
      exportLoading: false,
      periodIds: '',
      showCalculateDialog: false,
      confirmPriceCalLoading: false,
      remark: '',
      code: '',
      evaluteIds: ''
    }
  },
  mounted() {
    // var year = new Date().getFullYear()
    // this.startDate = year + '-01-01'
    // this.endDate = year + '-12-31'
    this.id = this.$route.query.id || sessionStorage.getItem('counts_id')
    this.name = this.$route.query.name || sessionStorage.getItem('counts_name')
    this.unitName =
      this.$route.query.unitName || sessionStorage.getItem('counts_unitName')
    sessionStorage.setItem('counts_id', this.id)
    sessionStorage.setItem('counts_name', this.name)
    sessionStorage.setItem('counts_unitName', this.unitName)
    this.getTempList()
  },
  methods: {
    // 增加评价
    addEvaluate() {
      const data = {
        code: this.code,
        name: '',
        ids: this.evaluteIds,
        periodIds: this.periodIds,
        remark: this.remark
      }
      addEvaluate(data).then(res => {
        if (res.code === '01') {
          this.$message({
            type: 'success',
            message: '添加成功'
          })
          this.showCalculateDialog = false
          this.code = ''
          this.remark = ''
          this.periodIds = ''
          this.getTempList()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    openAlert(text) {
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: 'warning'
      })
    },
    // 评价弹窗
    openEvaluate(periodId) {
      this.periodIds = ''
      this.evaluteIds = ''
      if (periodId === 'all') {
        if (this.multipleSelection.length === 0) {
          this.openAlert('请至少选择一条数据')
          return
        }
        const arrs = []
        const arrs1 = []
        this.multipleSelection.forEach(item => {
          arrs.push(item.periodId)
        })
        this.multipleSelection.forEach(item => {
          arrs1.push(item.id)
        })
        this.periodIds = arrs.join(',')
        this.evaluteIds = arrs1.join(',')
      } else {
        this.periodIds = periodId
      }
      if (!this.periodIds) {
        this.openAlert('此数据没有对应周期模板，请重选数据')
        return
      }
      this.showCalculateDialog = true
    },
    // 跳转详情
    skipDetail(item) {
      this.$router.push({
        path: '/cs/appraiseExamine/materialCountDetail/materialDetail',
        query: {
          periodId: item.periodId,
          uploaderId: item.uploaderId
        }
      })
    },
    // 选择适用时间
    toggleDate() {
      this.currentPage = 1
      this.getTempList()
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getTempList()
    },
    // 获取模板列表
    getTempList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        beginOn: formatDate(this.startDate, 2),
        endOn: formatDate(this.endDate, 2),
        keyword: this.searchKeyword,
        uploaderId: this.id
      }
      this.loading = true
      queryMaterialDetailCount(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.modeList = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 切换pageSize
    changePageSize() {
      this.currentPage = 1
      this.getTempList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTempList()
    },
    // 全部导出
    exportAllFile() {
      if (this.totalCount === 0) {
        this.$message({
          type: 'error',
          message: '没有可导出的数据'
        })
        return
      }

      var data = {
        beginOn: formatDate(this.startDate),
        endOn: formatDate(this.endDate),
        keyword: this.searchKeyword,
        uploaderId: this.id
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMaterialDetailCount(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '评价考核详情.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '评价考核详情.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportFile() {
      if (this.multipleSelection.length == 0) {
        // this.exportAllFile()
        this.openAlert('请至少选择一条数据')
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }

      var data = {
        ids: ids
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMaterialDetailCount(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '评价考核详情.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '评价考核详情.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.material-count-detail {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding: 20px 0 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    h3 {
      padding-left: 20px;
      margin: 0 0 20px 0;
      font-size: 26px;
      color: #333;
    }
  }
  .search-type {
    padding: 0 20px 20px 20px;
    width: 100%;
    background: none;
    .s-text {
      margin-right: 15px;
      white-space: nowrap;
    }
  }
}
/deep/.el-textarea__inner {
  width: 310px;
}
</style>
