<template>
  <div class="material-count com-input">
    <div class="up-wrap">
      <!-- 搜索 -->
      <div class="com-search">
        <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如：账号、采集员姓名、单位名称等" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc" />
      </div>
      <!-- 搜索 end -->
      <!-- 筛选 -->
      <div class="search-type">
        <div class="flex-fs custom-type">
          <span class="com-label-text">企业类型</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curCompanyTypeCode === null}" @click="toggleCompanyType(null)">全部</li>
              <li v-for="(item, index) in companyTypeList" :key="index" :class="{active: curCompanyTypeCode === item.dictCode}" @click="toggleCompanyType(item.dictCode)">
                {{ item.dictName }}
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="flex-c custom-type pb-20">
          <span class="com-label-text">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate2" />
          </div>
        </div> -->
        <!-- 周期 -->
        <div class="pb-20 flex-c  cycle-wrap">
          <span class="com-label-text">周期</span>
          <el-select v-model="curCycle" class="com-radius-input" placeholder="请选择" clearable @change="changeCycle">
            <el-option v-for="item in cycleList" :key="item.id" :label="item.howPeriod" :value="item.id" />
          </el-select>
        </div>
        <!-- 周期 end -->
        <div class="flex-c custom-type pb-20">
          <span class="com-label-text">评分</span>
          <div class="com-time-search score">
            <el-input-number v-model="minInput" :precision="2" :min="0" :max="100" placeholder="请输入内容" :controls="false" @blur="minChange" />
          </div>
          <span class="com-line" />
          <div class="com-time-search score">
            <el-input-number v-model="maxInput" :precision="2" :min="0" :max="100" placeholder="请输入内容" :controls="false" @blur="maxChange" />
          </div>
        </div>

        <!-- <div class="flex-fs custom-type">
          <span><span class="com-alt">占</span>上报数</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curReport === null}" @click="toggleReport(null)">全部</li>
              <li
                :class="{active: curReport === item}"
                v-for="(item, index) in reportList"
                :key="index"
                @click="toggleReport(item)">
                {{item}}
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      <!-- 筛选 end -->
      <!-- 表格 -->
      <div class="com-table table-wrap">
        <div class="flex-csb com-operate-wrap">
          <div class="flex-c">
            <el-button v-has="'mpccollect:evaluate:addEvaluate'" class="has-primary-btn" @click="openEvaluate('all')">评价</el-button>
            <el-button v-has="'mpccollect:evaluate:queryMaterial'" class="has-minor-btn" @click="rearrangement">重新排名</el-button>
            <el-button v-has="'mpccollect:evaluate:print'" @click="printAllFile">打印</el-button>
            <el-button v-has="'mpccollect:evaluate:exportMaterialCount'" :loading="exportLoading" @click="exportAllFile">全部导出</el-button>
            <el-button v-has="'mpccollect:evaluate:exportMaterialCount'" :loading="exportLoading" @click="exportFile">导出</el-button>
          </div>
          <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting" />
            <span>列表设置</span>
          </div>
        </div>
        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" row-key="id" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" :reserve-selection="true" />
          <!-- <el-table-column v-if="checkedList.indexOf('采集员信息') != -1" label="采集员信息">
            <template slot-scope="scope">
              <div>账号:{{ scope.row.userAccount }}</div>
              <div>采集员:{{ scope.row.userName }}</div>
              <div>单位:{{ scope.row.unitName }}</div>
              <div>电话:{{ scope.row.phone }}</div>
              <div>单位类型:{{ scope.row.enterpriseType }}</div>
            </template>
          </el-table-column> -->
          <el-table-column v-if="checkedList.indexOf('账号') != -1" prop="userAccount" label="账号" />
          <el-table-column v-if="checkedList.indexOf('采集员') != -1" prop="userName" label="采集员" />
          <el-table-column v-if="checkedList.indexOf('单位') != -1" prop="unitName" label="单位" />
          <el-table-column v-if="checkedList.indexOf('电话') != -1" prop="phone" label="电话" />
          <el-table-column v-if="checkedList.indexOf('单位类型') != -1" prop="enterpriseType" label="单位类型" />

          <el-table-column v-if="checkedList.indexOf('周期') != -1" prop="periodName" label="周期" />
          <el-table-column v-if="checkedList.indexOf('报价总期数') != -1" prop="periodCount" label="报价总期数" />
          <el-table-column v-if="checkedList.indexOf('报价总数量') != -1" prop="sumMatNum" label="报价总数量" />

          <el-table-column v-if="checkedList.indexOf('模板材料数') != -1" prop="periodMatCount" label="模板材料数" />
          <el-table-column v-if="checkedList.indexOf('报价数') != -1" prop="periodQuantityCount" label="报价数" />
          <el-table-column v-if="checkedList.indexOf('有效报价数') != -1" label="有效报价数">
            <template slot-scope="scope">
              <span>{{ scope.row.submittedCount || 0 }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('采纳率') != -1" prop="adoptRate" label="采纳率" />
          <el-table-column v-if="checkedList.indexOf('异常率') != -1" prop="errorRate" label="异常率" />
          <el-table-column v-if="checkedList.indexOf('报价及时性') != -1" prop="speed" label="报价及时性">
            <template slot="header">
              <span>报价及时性</span>
              <img v-has="'mpccollect:evaluate:updateAddPriceSpeed'" class="timely" src="@/assets/img/cs/icons/appraise.png" alt="" @click="openTimely">
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('最新评价') != -1" label="最新评价" show-overflow-tooltip>
            <template slot-scope="scope">
              <span>{{ scope.row.evaluate }}</span>
              <span v-if="scope.row.remark">:{{ scope.row.remark }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('最新评分') != -1" prop="score" label="最新评分" />
          <el-table-column v-if="checkedList.indexOf('最新排名') != -1" prop="rank" label="最新排名" />
          <el-table-column v-if="checkedList.indexOf('最新评级') != -1" prop="grade" label="最新评级" />

          <el-table-column v-if="checkedList.indexOf('操作') != -1" label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span v-has="'mpccollect:evaluate:queryMaterialDetailCount'" @click="skipDetail(scope.row)">
                  <el-tooltip effect="light" content="详情" placement="top">
                    <img src="@/assets/img/cs/icons/details.png" alt="">
                  </el-tooltip>
                </span>

                <span v-has="'mpccollect:evaluate:addEvaluate'" @click="openEvaluate(scope.row)">
                  <el-tooltip effect="light" content="评价" placement="top">
                    <img src="@/assets/img/cs/icons/appraise.png" alt="">
                  </el-tooltip>
                </span>

                <span v-has="'mpccollect:evaluate:getScoreLineDetail'" @click="openAnalysis(scope.row)">
                  <el-tooltip effect="light" content="评分统计" placement="top">
                    <img src="@/assets/img/cs/icons/statistics.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
      <!-- 表格 end -->
    </div>

    <el-dialog title="评价考核" :visible.sync="dialogTableVisible" width="100%">
      <el-button v-print="printInfoObj" @click="printAllFile2">打印</el-button>
      <el-table id="printMe" :data="tableData">
        <!-- <el-table-column label="采集员信息">
          <template slot-scope="scope">
            <div>账号:{{ scope.row.userAccount }}</div>
            <div>采集员:{{ scope.row.userName }}</div>
            <div>单位:{{ scope.row.unitName }}</div>
            <div>电话:{{ scope.row.phone }}</div>
            <div>单位类型:{{ scope.row.enterpriseType }}</div>
          </template>
        </el-table-column> -->
        <el-table-column prop="userAccount" label="账号" />
        <el-table-column prop="userName" label="采集员" />
        <el-table-column prop="unitName" label="单位" />
        <el-table-column prop="phone" label="电话" />
        <el-table-column prop="enterpriseType" label="单位类型" />

        <el-table-column prop="periodName" label="周期" />
        <el-table-column prop="periodCount" label="报价总期数" />
        <el-table-column prop="quantityCount" label="报价总数量" />
        <el-table-column prop="periodMatCount" label="模板材料数" />
        <el-table-column prop="periodQuantityCount" label="报价数" />
        <el-table-column label="有效报价数">
          <template slot-scope="scope">
            <span>{{ scope.row.submittedCount || 0 }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="adoptRate" label="采纳率" />
        <el-table-column prop="errorRate" label="异常率" />
        <el-table-column prop="speed" label="报价及时性" />
        <el-table-column prop="evaluate" label="最新评价(默认优秀）" />
        <el-table-column prop="score" label="最新评分" />
        <el-table-column prop="rank" label="最新排名" />
        <el-table-column prop="grade" label="最新评级" />
      </el-table>
    </el-dialog>

    <!-- 导出弹窗 -->
    <el-dialog title="导出" :visible.sync="showExportDialog" :close-on-click-modal="false" width="491px" class="com-dialog">
      <div class="ta-center">
        <img src="@/assets/img/cs/icons/ex_icon.png" alt="">
        <p>是否导出选择的数据？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showExportDialog = !showExportDialog">取消</el-button>
        <el-button type="primary">确定</el-button>
      </span>
    </el-dialog>

    <!-- 报价及时性设置弹窗 -->
    <el-dialog title="报价及时性设置" :visible.sync="showTimelyDialog" :close-on-click-modal="false" width="521px" class="com-dialog calculate-dialog">
      <div v-for="items in speedSetList" :key="items.id" class="flex-fs mb-20 speeds">
        <span class="label-text w-60 speed">{{ items.name }}:</span>
        <div class="flex-c pr">
          <div class="">
            <el-input-number v-model="items.start" :precision="0" :min="0" placeholder="请输入内容" :controls="false" @blur="minChangeCopy(items)" />
          </div>
          <span class="com-line" />
          <div class="">
            <el-input-number v-model="items.end" :precision="0" :min="0" placeholder="请输入内容" :controls="false" @blur="maxChangeCopy(items)" />
          </div>
        </div>
        <el-select v-model="values" placeholder="请选择">
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value" />
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showTimelyDialog = false">取消</el-button>
        <el-button type="primary" :loading="confirmPriceCalLoading" @click="updateAddPriceSpeed">确定</el-button>
      </span>
    </el-dialog>
    <!-- 报价及时性设置弹窗 end -->

    <!-- 评价弹窗 -->
    <el-dialog title="评价" :visible.sync="showCalculateDialog" :close-on-click-modal="false" width="521px" class="com-dialog calculate-dialog">
      <div class="flex-fs mb-20">
        <span class="label-text w-60">评价:</span>
        <div class="flex-c pr">
          <el-radio v-model="code" label="A">非常优秀</el-radio>
          <el-radio v-model="code" label="B">优秀</el-radio>
          <el-radio v-model="code" label="C">一般</el-radio>
          <el-radio v-model="code" label="D">差</el-radio>
        </div>
      </div>
      <div class="flex-fs mb-20">
        <span class="label-text w-60">评价说明:</span>
        <div class="flex-c pr ">
          <el-input v-model.trim="remark" type="textarea" :autosize="{ minRows: 8, maxRows: 16}" maxlength="200" show-word-limit placeholder="请输入内容" />
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showCalculateDialog = false">取消</el-button>
        <el-button type="primary" :loading="confirmPriceCalLoading" @click="addEvaluate">确定</el-button>
      </span>
    </el-dialog>
    <!-- 评价弹窗 end -->

    <!-- 评价统计弹窗 -->
    <el-dialog title="评价统计" :visible.sync="showAnalysisDialog" :close-on-click-modal="false" width="600px" class="com-dialog calculate-dialog">
      <div id="analysisChart" class="analysisChart" />
    </el-dialog>
    <!-- 评价统计弹窗 end -->

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" width="400px" class="com-dialog" :close-on-click-modal="false">
      <div class="select-list com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = false">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import { formatDate } from '@/utils/common'
import {
  addEvaluate,
  getSysDictList,
  queryMaterialCount,
  exportMaterialCount,
  selestPriceSpeedSetList,
  updateAddPriceSpeed,
  getPeriodSettList,
  getScoreLineDetail
} from '@/api/cs/materialManage'
export default {
  name: 'MaterialCount',
  data() {
    return {
      showSetListDialog: false,
      checkList: [
        // 表头列表
        '账号',
        '采集员',
        '单位',
        '电话',
        '单位类型',
        // '采集员信息',
        '周期',
        '报价总期数',
        '报价总数量',
        '模板材料数',
        '报价数',
        '有效报价数',
        '采纳率',
        '异常率',
        '报价及时性',
        '最新评价',
        '最新评分',
        '最新排名',
        '最新评级',
        '操作'
      ],
      checkedList: [
        // 列表选中的设置项
        // '账号',
        '采集员',
        // '单位',
        // '电话',
        // '单位类型',
        // '采集员信息',
        '周期',
        // '报价总期数',
        // '报价总数量',
        '模板材料数',
        '报价数',
        // '有效报价数',
        // '采纳率',
        // '异常率',
        '报价及时性',
        '最新评价',
        '最新评分',
        '最新排名',
        '最新评级',
        '操作'
      ],
      disabledCheckedList: [
        // 禁止设置项
      ],
      lineId: '',
      minInput: undefined,
      maxInput: undefined,
      startDate: '',
      endDate: '',
      analysisChart: null,
      curCycle: '',
      cycleList: [], // 周期列表
      printInfoObj: {
        id: 'printMe'
        // popTitle: '测试期刊'
      },
      searchKeyword: null,
      companyTypeList: [], // 企业类型
      curCompanyTypeCode: null, // 当前选中企业类型code
      reportList: ['0', '0~500', '500~1000', '1000~1500', '1500以上'], // 上报数
      curReport: null,
      minNumber: null,
      maxNumber: null,
      tableData: [],
      multipleSelection: [],
      pageSize: 10,
      currentPage: 1,
      totalCount: 0,
      loading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      showExportDialog: false,
      exportLoading: false,
      showCalculateDialog: false,
      showAnalysisDialog: false,
      confirmPriceCalLoading: false,
      dialogTableVisible: false,
      showTimelyDialog: false,
      code: 'B',
      remark: '',
      periodIds: '',
      evaluteIds: '',
      speedSetList: [],
      scoreList: [],
      periodList: [],
      options: [
        {
          value: 'hour',
          label: '小时'
        },
        {
          value: 'day',
          label: '天'
        }
        // {
        //   value: 'month',
        //   label: '月'
        // },
        // {
        //   value: 'season',
        //   label: '季'
        // },
        // {
        //   value: 'year',
        //   label: '年'
        // }
      ],
      values: '',
      unitName: ''
    }
  },
  mounted() {
    this.getDataList()
    this.getCompanyTypeList()
    this.getPeriodSettList()
  },
  methods: {
    getPeriodSettList() {
      getPeriodSettList().then(res => {
        if (res.code === '01') {
          this.cycleList = res.body
        }
      })
    },
    updateAddPriceSpeed() {
      if (!this.compare()) return
      this.options.some(ope => {
        if (ope.value === this.values) {
          this.unitName = ope.label
        }
      })
      this.speedSetList.map(item => {
        item.unitCode = this.values
        item.unitName = this.unitName
      })
      this.confirmPriceCalLoading = true
      updateAddPriceSpeed(this.speedSetList).then(res => {
        this.confirmPriceCalLoading = false
        if (res.code === '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
          this.showTimelyDialog = false
        }
      })
    },
    openTimely() {
      this.selestPriceSpeedSetList()
      this.showTimelyDialog = true
    },
    selestPriceSpeedSetList() {
      selestPriceSpeedSetList().then(res => {
        if (res.code === '01') {
          this.speedSetList = res.body
          this.values = res.body[0].unitCode
        }
      })
    },
    minChange() {
      const minNumber = Number(this.minInput)
      const maxNumber = Number(this.maxInput)
      if (minNumber > maxNumber && maxNumber) {
        this.$message({
          type: 'error',
          message: '不能大于最大值'
        })
        this.minInput = undefined
        return false
      }
      this.currentPage = 1
      this.getDataList()
    },
    maxChange() {
      const minNumber = Number(this.minInput)
      const maxNumber = Number(this.maxInput)
      if (minNumber > maxNumber && minNumber) {
        this.$message({
          type: 'error',
          message: '不能小于最小值'
        })
        this.maxInput = undefined
        return false
      }
      this.currentPage = 1
      this.getDataList()
    },
    minChangeCopy(items) {
      const min = Number(items.start)
      const max = Number(items.end)
      if (min >= max && max) {
        this.$message({
          type: 'error',
          message: '不能大于或等于结束值'
        })
        items.start = undefined
      }
    },
    maxChangeCopy(items) {
      this.compare(items)
      const min = Number(items.start)
      const max = Number(items.end)
      if (min >= max && min) {
        this.$message({
          type: 'error',
          message: '不能小于或等于开始值'
        })
        items.end = undefined
      }
    },
    compare(items) {
      let codeA = {}
      let codeB = {}
      let codeC = {}
      let codeD = {}
      this.speedSetList.forEach(element => {
        if (element.code === 'A') {
          codeA = element
        } else if (element.code === 'B') {
          codeB = element
        } else if (element.code === 'C') {
          codeC = element
        } else if (element.code === 'D') {
          codeD = element
        }
      })
      if (
        !(
          typeof codeA.start === 'number' &&
          typeof codeA.end === 'number' &&
          typeof codeB.start === 'number' &&
          typeof codeB.end === 'number' &&
          typeof codeC.start === 'number' &&
          typeof codeC.end === 'number' &&
          typeof codeD.start === 'number' &&
          typeof codeD.end === 'number'
        )
      ) {
        this.$message({
          type: 'error',
          message: '值不能为空'
        })
        return false
      }
      if (
        codeA.end - 0.1 >= codeB.start ||
        codeB.end - 0.1 >= codeC.start ||
        codeC.end - 0.1 >= codeD.start
      ) {
        this.$message({
          type: 'error',
          message: '下一级的结束值不能小于上一级的结束值'
        })
        if (items) {
          items.end = undefined
        }
        return false
      }
      if (
        codeA.start >= codeA.end ||
        codeB.start >= codeB.end ||
        codeC.start >= codeC.end ||
        codeD.start >= codeD.end
      ) {
        this.$message({
          type: 'error',
          message: '不能小于或等于开始值'
        })
        return false
      }

      return true
    },
    // 选择开始适用时间
    toggleDate(val) {
      if (val) {
        this.startDate = formatDate(this.startDate, '1')
        const beginTime = new Date(val).getTime()
        const endTime = +beginTime + 3600 * 1000 * 24 * 365
        this.endDate = formatDate(endTime, '1')
      }
      this.currentPage = 1
      this.getDataList()
    },
    // 选择结束适用时间
    toggleDate2() {
      this.endDate = formatDate(this.endDate, '1')
      this.currentPage = 1
      this.getDataList()
    },
    // 切换周期
    changeCycle() {
      this.currentPage = 1
      this.getDataList()
    },
    // 打印
    printAllFile() {
      this.dialogTableVisible = true
    },
    printAllFile2() {
      this.dialogTableVisible = false
    },
    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.$message({
          type: 'error',
          message: '没有可导出的数据'
        })
        return
      }

      var data = {
        keyword: this.searchKeyword,
        minCount: this.minInput,
        maxCount: this.maxInput,
        dictCode: this.curCompanyTypeCode,
        startDate: this.startDate,
        endDate: this.endDate,
        periodIds: this.curCycle
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMaterialCount(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '评价考核.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '评价考核.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportFile() {
      if (this.multipleSelection.length == 0) {
        // this.exportAllFile()
        this.openAlert('请至少选择一条数据')
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }

      var data = {
        ids: ids
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMaterialCount(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '评价考核.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '评价考核.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 切换上报数
    toggleReport(item) {
      this.curReport = item
      this.currentPage = 1
      var minCount = null
      var maxCount = null
      if (item === null) {
      } else if (item === '0') {
        minCount = 0
        maxCount = 0
      } else if (item === '1500以上') {
        minCount = 1500
      } else {
        minCount = item.split('~')[0]
        maxCount = item.split('~')[1]
      }
      this.minNumber = Number(minCount)
      this.maxNumber = Number(maxCount)
      this.currentPage = 1
      this.getDataList()
    },
    // 切换企业类型
    toggleCompanyType(code) {
      this.curCompanyTypeCode = code
      this.currentPage = 1
      this.getDataList()
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 获取列表数据
    getDataList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.searchKeyword,
        minCount: this.minInput?.toFixed(2),
        maxCount: this.maxInput?.toFixed(2),
        dictCode: this.curCompanyTypeCode,
        startDate: this.startDate,
        endDate: this.endDate,
        periodIds: this.curCycle
      }
      this.loading = true
      queryMaterialCount(data)
        .then(res => {
          this.loading = false
          if (res.code === '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 跳转详情
    skipDetail(item) {
      this.$router.push({
        path: '/cs/appraiseExamine/materialCountDetail/index',
        query: {
          id: item.uploaderId,
          name: item.userName,
          unitName: item.unitName
        }
      })
    },
    // 导出弹窗
    openExportDialog() {
      if (this.multipleSelection.length === 0) {
        this.openAlert('请至少选择一条数据')
        return
      }
      this.showExportDialog = !this.showExportDialog
    },
    // 获取企业类型
    getCompanyTypeList() {
      var params = {
        dictTypeId: 'ENTERPRISE_TYPE'
      }
      getSysDictList(params).then(res => {
        this.companyTypeList = res.body
      })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    openAlert(text) {
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: 'warning'
      })
    },
    // 评价弹窗
    openEvaluate(periodId) {
      this.periodIds = ''
      this.evaluteIds = ''
      if (periodId === 'all') {
        if (this.multipleSelection.length === 0) {
          this.openAlert('请至少选择一条数据')
          return
        }
        const arrs = []
        const arrs1 = []
        this.multipleSelection.forEach(item => {
          arrs.push(item.periodId)
        })
        this.multipleSelection.forEach(item => {
          arrs1.push(item.evaluteId)
        })
        this.periodIds = arrs.join(',')
        this.evaluteIds = arrs1.join(',')
      } else {
        this.periodIds = periodId.periodId
        this.evaluteIds = periodId.evaluteId
      }
      if (!this.periodIds) {
        this.openAlert('此数据没有对应周期模板，请重选数据')
        return
      }
      this.showCalculateDialog = true
    },
    // 增加评价
    addEvaluate() {
      this.confirmPriceCalLoading = true
      const data = {
        code: this.code,
        name: '',
        periodIds: this.periodIds,
        ids: this.evaluteIds,
        remark: this.remark
      }
      addEvaluate(data).then(res => {
        this.confirmPriceCalLoading = false
        if (res.code === '01') {
          this.$message({
            type: 'success',
            message: '添加成功'
          })
          this.showCalculateDialog = false
          this.code = 'B'
          this.remark = ''
          this.periodIds = ''
          this.getDataList()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 重新排名
    rearrangement() {
      this.getDataList()
      this.$message({
        type: 'success',
        message: '操作成功'
      })
    },
    // 评价统计
    openAnalysis(item) {
      this.lineId = item.id
      this.getScoreLineDetail()
    },
    getScoreLineDetail() {
      const data = {
        uploaderId: this.lineId
      }
      getScoreLineDetail(data).then(res => {
        if (res.code === '01') {
          this.scoreList = []
          this.periodList = []
          res.body.forEach(value => {
            this.periodList.push(value.periodName)
            this.scoreList.push(value.score)
          })
          this.showAnalysisDialog = true
          this.$nextTick(() => {
            this.initEcharts()
          })
        }
      })
    },
    // 初始化图表
    initEcharts() {
      var chartDom = document.getElementById('analysisChart')
      var myChart = echarts.init(chartDom)
      var option

      option = {
        xAxis: {
          type: 'category',
          data: this.periodList,
          axisLabel: {
            interval: 0 // X轴信息全部展示
            // rotate: -60 // 60 标签倾斜的角度
          }
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            data: this.scoreList,
            type: 'line'
          }
        ],
        // dataZoom: [
        //   // Y轴滑动条

        //   {
        //     type: 'slider', // 滑动条

        //     show: true, // 开启

        //     yAxisIndex: [0],

        //     left: '93%', // 滑动条位置

        //     start: 1, // 初始化时，滑动条宽度开始标度

        //     end: 50 // 初始化时，滑动条宽度结束标度
        //   },

        //   // y轴内置滑动

        //   {
        //     type: 'inside', // 内置滑动，随鼠标滚轮展示

        //     yAxisIndex: [0],

        //     start: 1, // 初始化时，滑动条宽度开始标度

        //     end: 50 // 初始化时，滑动条宽度结束标度
        //   }
        // ],

        // X滑动框

        dataZoom: [
          // X轴滑动条

          {
            type: 'slider', // 滑动条

            show: true, // 开启

            xAxisIndex: [0],

            height: 20,

            // left: '93%', // 滑动条位置

            start: 1, // 初始化时，滑动条宽度开始标度

            end: 50 // 初始化时，滑动条宽度结束标度
          },

          // X轴内置滑动

          {
            type: 'inside', // 内置滑动，随鼠标滚轮展示

            xAxisIndex: [0],

            start: 1, // 初始化时，滑动条宽度开始标度

            end: 50 // 初始化时，滑动条宽度结束标度
          }
        ]
      }

      option && myChart.setOption(option)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/cs/variables.scss';
.material-count {
  .up-wrap {
    padding: 20px 0 45px 0;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .top-search {
      padding: 0 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .search-ipt {
        width: 315px;
        height: 34px;
        border-radius: 5px 0px 0px 5px;
      }
      .search-btn {
        width: 86px;
        height: 34px;
        text-align: center;
        background: $color-primary;
        box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
        border-radius: 0px 5px 5px 0px;
        color: #fff;
      }
    }
    .search-type {
      padding: 20px 20px 0px 20px;
      width: 100%;
      background: #f7f7f7;
      .custom-type {
        > span {
          margin-right: 15px;
          white-space: nowrap;
        }
        .t-wrap {
          max-width: 100%;
          box-sizing: border-box;
          ul {
            margin-bottom: 10px;
            li {
              margin-bottom: 8px;
              margin-right: 24px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              &.active {
                color: $color-minor;
              }
              &:hover {
                color: $color-minor;
              }
            }
          }
        }
      }
      .ct-input {
        width: 110px;
      }
      .ct-btn {
        button {
          padding: 0;
          width: 60px;
          height: 34px;
          line-height: 34px;
        }
      }
    }
  }
  .com-dialog {
    p {
      margin-top: 15px;
      color: #333;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
.cycle-wrap {
  > span {
    margin-right: 19px;
    color: #333;
    font-size: 14px;
  }
  .el-select {
    width: 350px;
  }
}
.score {
  /deep/ .el-input__inner {
    border-radius: 20px;
  }
}
/deep/.el-textarea__inner {
  width: 310px;
}
.analysisChart {
  width: 100%;
  height: 250px;
}
.timely {
  vertical-align: middle;
  margin-left: 5px;
}
.speed {
  height: 34px;
  line-height: 34px;
}
.speeds {
  /deep/.el-select > .el-input {
    padding-left: 15px;
    width: 110px;
  }
}
.com-search {
  width: 400px;
}
/deep/ .el-input-number {
  width: 110px;
}
</style>

<style media="print">
@page {
  size: auto;
  margin: 3mm;
}
@media print {
  html {
    background-color: #ffffff;
    height: auto;
    margin: 0px;
  }
  body {
    border: solid 1px #ffffff;
    /* border: solid 1px red; */
    /* margin: 10mm 15mm 10mm 15mm; */
  }
  #printMe table {
    table-layout: auto !important;
  }
  #printMe .el-table__header-wrapper .el-table__header {
    width: 100% !important;
    border: solid 1px #f2f2f2;
  }
  #printMe .el-table__body-wrapper .el-table__body {
    width: 100% !important;
  }
  #printMe #pagetable table {
    table-layout: fixed !important;
  }
}
</style>
