<template>
  <div class="seg-project">
    <div class="flex-csb com-table-label">
      <p class="b-label">{{ curName }}工程标准配置</p>
    </div>
    <div class="com-search2 com-search3">
      <el-input v-model="params.keyword" placeholder="请输入项目名称/编码" @keyup.enter.native="searchFun" />
      <i class="el-icon-search" @click="searchFun" />
    </div>

    <div class="b-content">
      <div class="flex-csb">
        <div class="flex-c pl-0 pb-0 com-operate-wrap">
          <el-button type="primary" class="flex-cc has-primary-btn w-btn" @click="customChange(true, {})">
            <img src="@/assets/img/icons/project_stock/start.png" alt="" class="mr-4">
            <span>启用自定义名称</span>
          </el-button>
          <el-button type="primary" class="flex-cc has-minor-btn w-btn" @click="customChange(false, {})">
            <img src="@/assets/img/icons/project_stock/disabled_02.png" alt="" class="mr-4">
            <span>禁用自定义名称</span>
          </el-button>
          <!-- <el-button class="flex-cc delete-btn s-btn">
            <img src="@/assets/img/icons/dels.png" alt="" class="mr-4">
            <span>删除</span>
          </el-button> -->
        </div>
        <!-- <div class="flex-c mt-29 pr-11">
          <span class="cp add-project" @click="addOrEditSegProjectDialog('新增')">
            <img src="@/assets/img/icons/project_stock/add.png" alt="">
            <span> 新增{{curName}}工程</span>
          </span>
        </div> -->
        <div class="back mr-20 cp" @click="$router.back()">返回上一级</div>
      </div>
      <div class="mt-11 com-table-wrap">
        <el-table key="id" :data="tableData" style="width: 100%" border @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="66" />
          <el-table-column prop="code" label="标准化工程编码（国标）" />
          <el-table-column prop="stdName" label="标准化名称" />
          <el-table-column label="自定义名称">
            <template slot-scope="scope">
              <div v-if="scope.row.customName" class="flex-csb">
                <span>{{ scope.row.customName }}</span>
                <el-switch v-model="scope.row.enableCustom" class="mr-11" @change="customChange($event, scope.row, 1)" />
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="keyword" label="匹配关键词" />
          <!-- <el-table-column label="前端显示">
            <template slot-scope="scope">
              <div class="flex-csb">
                <span>测试</span>
                <el-switch class="mr-11" v-model="scope.row.state"> </el-switch>
              </div>
            </template>
          </el-table-column> -->
          <el-table-column prop="updator" label="操作人" />
          <!-- <el-table-column prop="name" label="更新时间"> </el-table-column> -->
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-tooltip effect="light" content="编辑" placement="top">
                <img class="cp mr-26" src="@/assets/img/icons/edits.png" alt="" @click="addOrEditUnitProjectDialog('编辑', scope.row)">
              </el-tooltip>
              <el-tooltip v-if="params.type != 4" effect="light" content="子级" placement="top">
                <img class="cp mr-26" src="@/assets/img/icons/project_stock/sub.png" alt="" @click="skipSub(scope.row)">
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>

        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="params.pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="params.currentPage" :page-size="params.pageSize" layout="prev, pager, next, jumper" :total="totalCount"
              @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 新增/编辑单位工程弹窗 -->
    <el-dialog :visible.sync="unitProjectDialog" :close-on-click-modal="false" :title="curLabel + '标准' + curName + '工程'" width="460px" class="com-dialog com-dialog2 com-input com-radio-wrap w-125">
      <div class="flex-c mb-18">
        <span class="label-text"><span>*</span>标准化名称</span>
        <el-input v-if="curLabel === '新增'" v-model="stdName" placeholder="请输入标准化名称" />
        <span v-else class="d-content">{{ stdName }}</span>
      </div>
      <div class="flex-c mb-18">
        <span class="label-text">自定义名称</span>
        <el-input v-model="customName" placeholder="请输入自定义名称" />
      </div>
      <div class="flex-c mb-18">
        <span class="label-text">是否启用自定义名称</span>
        <el-radio v-model="enableCustom" :label="true">启用</el-radio>
        <el-radio v-model="enableCustom" :label="false">禁用</el-radio>
      </div>
      <div class="flex-c">
        <span class="label-text">匹配关键词</span>
        <el-input v-model="keyword" type="textarea" row="6" resize="none" placeholder="请输入匹配关键词" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="unitProjectDialog = false">取消</el-button>
        <el-button :loading="btloading" type="primary" @click="addOrEditNormEng">确定</el-button>
      </span>
    </el-dialog>
    <!-- 新增/编辑单位工程弹窗 end -->
  </div>
</template>

<script>
import {
  queryNormEngList,
  addNormEngConfig,
  updateEngConfig,
  configCustomName
} from '@/api/project'

export default {
  data() {
    return {
      curPid: null, // 单位工程id
      params: {
        currentPage: 1,
        keyword: '',
        pageSize: 10,
        pid: 0, // 单位工程父级id为0
        type: 1 // 1:单位工程,2:分部工程,3:分项工程,4:清单
      },
      tableData: [],
      totalCount: 0,
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      unitProjectDialog: false,
      curLabel: '新增', // 当前操作
      curName: '', // 当前配置名称
      stdName: '', // 标准化名称
      customName: '', // 自定义名称
      enableCustom: true, // 自定义名称开关
      keyword: '', // 匹配关键词
      isId: null, // 当前id
      isPid: null, // 当前pid
      btloading: false, // 按钮loading
      showDelDialog: false, // 显示删除单位工程配置弹窗
      delloading: false // 删除单位工程配置弹窗loading
    }
  },
  mounted() {
    this.curPid = this.$route.query.pid
    this.params.pid = this.$route.query.id
    this.params.type = this.$route.query.type
    switch (parseInt(this.params.type)) {
      case 2:
        this.curName = '分部'
        break
      case 3:
        this.curName = '分项'
        break
      case 4:
        this.curName = '清单'
        break
      default:
        this.curName = '单位'
        break
    }
    this.getNormEngList()
  },
  methods: {
    // 跳转工程
    skipSub(item) {
      this.$router.push({
        path: '/setting/projectSet/branchProject',
        query: {
          id: item.id,
          type: parseInt(this.params.type) + 1,
          pid: this.curPid
        }
      })
    },

    // 开启/关闭自定义阶段名称
    customChange(value, row, type) {
      // type=1单个，反之批量
      const ids = []
      if (type === 1) {
        ids.push(row.id)
      } else {
        if (this.multipleSelection.length === 0) {
          this.openAlert()
          return
        }
        for (let i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      }
      const text = value ? '启用' : '关闭'
      this.$confirm(`确定${text}自定义名称吗？`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(async() => {
          configCustomName({
            enableCustom: value,
            ids: ids.join(','),
            pid: this.params.pid // 上级id，单位工程列表pid为0
          }).then(res => {
            if (res && res.code == '01') {
              let message = ''
              if (value) {
                row.enableCustom = true
                message = '开启成功'
              } else {
                row.enableCustom = false
                message = '关闭成功'
              }
              // 批量则重新渲染列表
              if (type != 1) {
                this.params.currentPage = 1
                this.getNormEngList()
              }
              // 逻辑操作
              this.$message({
                type: 'success',
                message
              })
            }
          })
        })
        .catch(() => {
          row.enableCustom = !value
        })
    },
    // 新增/编辑单位工程配置
    addOrEditNormEng() {
      if (!this.stdName) {
        this.$message({
          type: 'error',
          message: '请填写标准化名称'
        })
        return
      } else {
        const data = {
          customName: this.customName,
          enableCustom: this.enableCustom,
          keyword: this.keyword,
          stdName: this.stdName,
          type: this.params.type,
          pid: 0
        }

        this.btloading = true

        if (this.curLabel == '新增') {
          addNormEngConfig(data).then(res => {
            if (res && res.code == '01') {
              this.unitProjectDialog = false
              this.$message({
                type: 'success',
                message: '添加单位工程配置成功'
              })
              this.getNormEngList()
            }

            this.btloading = false
          })
        } else {
          data.id = this.isId
          data.pid = this.isPid
          updateEngConfig(data).then(res => {
            if (res && res.code == '01') {
              this.unitProjectDialog = false
              this.$message({
                type: 'success',
                message: '编辑单位工程配置成功'
              })
              this.getNormEngList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
            this.btloading = false
          })
        }
      }
    },
    // 单位工程配置弹窗
    addOrEditUnitProjectDialog(type, row) {
      this.curLabel = type
      this.unitProjectDialog = true

      if (type == '新增') {
        this.stdName = ''
        this.customName = ''
        this.enableCustom = false
        this.keyword = ''
        this.isId = null
        this.isPid = null
      } else {
        this.stdName = row.stdName
        this.customName = row.customName
        this.enableCustom = row.enableCustom
        this.keyword = row.keyword
        this.isId = row.id
        this.isPid = row.pid
      }
    },
    // 获取工程配置列表
    getNormEngList() {
      queryNormEngList(this.params).then(res => {
        if (res.code == '01') {
          this.tableData = res.body.list
          this.totalCount = res.body.totalCount
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 新增/编辑工程
    // addOrEditSegProjectDialog(type) {
    //   this.curLabel = type
    //   this.unitProjectDialog = true
    // },
    // 搜索
    searchFun() {
      this.params.currentPage = 1
      this.getNormEngList()
    },
    // 切换分页
    handleCurrentChange(val) {
      this.params.currentPage = val
      this.getNormEngList()
    },
    // 勾选
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || '至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '操作提示', {
        confirmButtonText: '确定',
        type: type
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.seg-project {
  padding: 23px 13px 23px 16px;
  width: 100%;
  .back {
    color: $color-primary;
    font-size: 15px;
  }
  .add-project {
    color: $color-primary;
    font-weight: bold;
  }
}
</style>
