<template>
  <el-dialog title="预警弹窗" :visible.sync="showWarnDialog" width="885px" :show-close="false" class="com-dialog warn-dialog" :close-on-click-modal="false" :close-on-press-escape="false">
    <div class="flex-c">
      <span>预警模型:</span>
      <div class="tag flex-cc ml-10 mr-26">{{tableWarnData.warnModel}}</div>
      <span>预警指标：{{tableWarnData.warnName}}</span>
    </div>
    <div class="banner mt-16 mb-28 flex-csb">
      <div>
        <div>当前指标</div>
        <div class="price">{{formatNumber(tableWarnData.econStd,true)}}</div>
      </div>
      <div>
        <div>预警指标</div>
        <div class="price">{{formatNumber(tableWarnData.calPrice)+tableWarnData.unit+'/'+(tableWarnData.caliberUnit || (tableWarnData.econStd && tableWarnData.econStd.split('/')[1] || ''))}}</div>
      </div>
      <div>
        <div>预警范围</div>
        <div class="price">{{tableWarnData.startV}}% ~ {{tableWarnData.endV}}%</div>
      </div>
      <div class="res" v-if="tableWarnData.warningResult">
        <div>预警结果(正常)</div>
        <div class="price">{{tableWarnData.warning}}%</div>
      </div>
      <div class="warn" v-else>
        <div>预警结果(异常)</div>
        <div class="price">{{tableWarnData.warning}}%</div>
      </div>
    </div>
    <template v-if="tableWarnData.warnModel != '自定义'">
      <p class="gray mb-12">
        <span class="mr-20">时间范围：{{tableWarnData.calculateStartTime}} ~ {{tableWarnData.calculateEndTime}}</span>
        <span class="mr-20">计算方式：{{tableWarnData.calculateWay}}</span>
        <span class="mr-20">样本数量：{{tableWarnData.number}}</span>
      </p>
      <!-- 表内容 -->
      <div class="table-box">
        <el-table ref="multipleTable" v-if="tableWarnData" :data="tableWarnData.list || tableWarnData.warningIndicatorResList" height="400px" tooltip-effect="dark" class="table-main"
          style="width: 100%;" :row-class-name="tableRowClassName">
          <el-table-column label="指标名称">
            <template slot-scope="scope">
              <div class="t-color">{{scope.row.name}}</div>
            </template>
          </el-table-column>
          <el-table-column label="单方造价">
            <template slot-scope="scope">
              <div class="t-color">{{formatNumber(scope.row.econStd,true)}}</div>
            </template>
          </el-table-column>
          <el-table-column label="阶段">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.stageConfigName}}</span>
            </template>
          </el-table-column>
          <el-table-column label="单项工程名">
            <template slot-scope="scope">
              <span class="t-color">{{scope.row.projectName}}</span>
            </template>
          </el-table-column>
          <el-table-column label="特征">
            <template slot-scope="scope">
              <span class="t-color ellipsis2" :title="scope.row.feature">{{scope.row.feature}}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </template>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="closeDialog">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
export default {
  props: ['tableWarnData', 'showWarnDialog'],
  data() {
    return {}
  },

  methods: {
    closeDialog() {
      this.$emit('closeDialog')
    },

    // 不参与计算的行背景置灰
    tableRowClassName({ row, rowIndex }) {
      if (!row.isQualified) {
        return 'gray-row'
      } else {
        return ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../../styles/variables.scss';
.warn-dialog {
  .tag {
    color: #f13a3f;
    width: 60px;
    height: 22px;
    background: #ffd3d5;
    border-radius: 2px;
  }
  .banner {
    color: #ffffff;
    > div {
      width: 196px;
      height: 54px;
      border-radius: 4px;
      padding: 8px 12px;
    }
    .price {
      font-size: 18px;
      margin-top: 3px;
    }
    .gray {
      color: #999999;
    }
    & > div:nth-child(1) {
      background: $color-primary;
    }
    & > div:nth-child(2) {
      background: $color-minor;
    }
    & > div:nth-child(3) {
      background: #0facd5;
    }
    .res {
      // background: #36CFC9;
      background: #00cc00;
    }
    .warn {
      background: $color-danger;
    }
  }
}
</style>

<style lang="scss">
.warn-dialog {
  .el-dialog__header {
    background: #ffffff;
  }
  .el-dialog__body {
    border-top: 1px solid #efefef;
  }
  .el-table {
    height: auto !important;
    max-height: 341px;
    .gray-row {
      color: rgba(158, 158, 158, 0.5);
    }
  }
}
</style>
