<template>
  <div class="common-material-container com-input">
    <div class="up-wrap">
      <div class="top-label">
        <p>
          <span class="t-label">{{ cjItem.name }}</span>
        </p>
        <p>
          <span>规格型号：{{ cjItem.spec }}，</span>
          <span>单位：{{ cjItem.unit }}</span>
        </p>
      </div>

      <!-- <div class="flex-c com-select cycle-wrap">
        <span>周期</span>
        <el-select v-model="curCycle" placeholder="请选择" @change="changeCycle" disabled>
          <el-option
            v-for="item in cycleList"
            :key="item.id"
            :label="item.howPeriod"
            :value="item.id">
          </el-option>
        </el-select>
      </div> -->

      <div class="search-type">
        <div class="flex-fs com-text mb-15">
          <span>周期：</span>
          <span>{{ curCycleName }}</span>
        </div>
        <div class="flex-fs custom-type">
          <span class="com-label-text">材价来源</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curSource == ''}" @click="changeSource('')">
                全部
              </li>
              <li v-for="(item, index) in cjSourceList" :key="index" :class="{active: curSource == item.dictCode}" @click="changeSource(item.dictCode)">
                {{ item.dictName }}
              </li>
            </ul>
          </div>
        </div>
        <div class="flex-fs custom-type">
          <span class="com-label-text">价格类型</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curType == ''}" @click="changeType('')">
                全部
              </li>
              <li v-for="(item, index) in cjTypeList" :key="index" :class="{active: curType == item.dictCode}" @click="changeType(item.dictCode)">
                {{ item.dictName }}
              </li>
            </ul>
          </div>
        </div>

        <div class="flex-c com-select com-input custom-type">
          <span class="com-label-text"><span class="com-alt">占</span>报价人</span>
          <el-select v-model="curJoin" placeholder="请选择报价人" @change="changeUser">
            <el-option v-for="item in joinList" :key="item.userId" :label="item.userName" :value="item.userId" />
          </el-select>
        </div>
      </div>

      <div class="table-wrap">
        <div class="flex-csb com-operate-wrap">
          <div>
            <el-button class="has-primary-btn" :loading="exportLoading" @click="exportFile">导出</el-button>
            <el-button class="delete-btn" :loading="deleteLoading" @click="deleteCj">删除</el-button>
          </div>
        </div>

        <el-table ref="multipleTable" v-loading="tableLoading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="96px" />
          <el-table-column prop="brand" label="品牌" />
          <el-table-column prop="sourceName" label="来源" />
          <el-table-column prop="typeName" label="价格类型" />
          <el-table-column prop="uploader" label="报价人" />
          <el-table-column prop="priceStr" label="价格(元)" />
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getCjData,
  getSysDictList,
  exportTempFile,
  deleteCjItem,
  getQuoterList
} from '@/api/cs/materialManage'
import { getCycleInfo } from '@/api/cs/collectTemplate'
import { getTempDetailInfo } from '@/api/synthesizePriceStock'

export default {
  name: 'MaterialManage',
  data() {
    return {
      cjItem: {},
      materialId: '', // 材料ID
      zcode: '', // 标准化编码
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      tableLoading: false,
      multipleSelection: [],
      joinList: [], // 报价人列表
      curJoin: '',
      cjSourceList: [], // 材价来源
      curSource: '',
      cjTypeList: [], // 材价类型
      curType: '',
      isGetCount: false, // 是否显示相同材价数
      cycleList: [], // 周期
      curCycle: '',
      curCycleName: '',
      exportLoading: false,
      deleteLoading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      detailParams: {}
    }
  },
  mounted() {
    try {
      this.cjItem = JSON.parse(sessionStorage.getItem('cj_item'))
    } catch (err) {
      this.cjItem = {}
    }

    this.curCycle = Number(this.$route.query.cycleId)
    this.materialId = this.$route.query.materialId
    this.zcode = this.$route.query.zcode
    this.getMaterialType()
    this.getMaterialSource()
    this.getCycleInfo()
    this.getQuoterList()
    // this.getTempDetailInfo()
  },
  methods: {
    // 获取周期综合价信息
    getTempDetailInfo() {
      var params = {
        periodId: this.curCycle
      }
      getTempDetailInfo(params).then(res => {
        if (res.code == '01') {
          this.detailParams = res.body || {}
        }
      })
    },
    // 切换报价人
    changeUser() {
      this.getMaterialData()
    },
    // 获取报价人列表
    getQuoterList() {
      var params = {
        periodId: this.curCycle,
        zcode: this.zcode,
        materialId: this.materialId
      }
      getQuoterList(params).then(res => {
        if (res.code == '01') {
          this.joinList = res.body
          this.joinList.unshift({
            userName: '全部',
            userId: ''
          })
        }
      })
    },
    // 删除材价
    deleteCj() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      var params = {
        ids: ids.join(','),
        periodId: this.curCycle
      }

      this.$confirm('确定删除选中材价吗?', '删除', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.deleteLoading = true
        deleteCjItem(params)
          .then(res => {
            this.deleteLoading = false
            if (res.code === '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.getMaterialData()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.deleteLoading = false
          })
      })
    },
    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }
      var data = {
        periodId: this.curCycle ? this.curCycle : null,
        matSourceTypeCode: this.curSource ? this.curSource : null,
        matTypeCode: this.curType ? this.curType : null,
        userId: this.curJoin ? this.curJoin : null,
        isGetCount: true
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportTempFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportFile() {
      var ids = []
      if (this.multipleSelection.length > 0) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      } else {
        this.exportAllFile()
        return
      }
      var data = {
        ids: ids
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportTempFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 切换周期
    changeCycle(val) {
      this.curJoin = ''
      this.currentPage = 1
      for (var i = 0; i < this.cycleList.length; i++) {
        if (val == this.cycleList[i].id) {
          this.curCycle = this.cycleList[i].id
        }
      }

      this.getMaterialData()
      this.getQuoterList()
    },
    // 获取周期列表
    getCycleInfo() {
      getCycleInfo().then(res => {
        if (res.code == '01') {
          this.cycleList = res.body
          this.currentPage = 1
          this.getMaterialData()

          for (var i = 0; i < this.cycleList.length; i++) {
            if (this.curCycle == this.cycleList[i].id) {
              this.curCycleName = this.cycleList[i].howPeriod
            }
          }
        }
      })
    },
    // 切换材价来源
    changeSource(item) {
      this.currentPage = 1
      this.curSource = item
      this.getMaterialData()
    },
    // 切换材价类型
    changeType(item) {
      this.currentPage = 1
      this.curType = item
      this.getMaterialData()
    },
    // 相同材料集列表
    getMaterialData() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        materialId: this.materialId ? this.materialId : null,
        // zcode: this.zcode ? this.zcode : null, // czhui 针对数据部，传zcode不传materialId
        isGetCount: this.isGetCount,
        periodId: this.curCycle ? this.curCycle : null,
        userId: this.curJoin ? this.curJoin : null,
        matSourceTypeCode: this.curSource ? this.curSource : null,
        matTypeCode: this.curType ? this.curType : null
      }
      this.tableLoading = true
      getCjData(data)
        .then(res => {
          this.tableLoading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.tableLoading = false
        })
    },
    // 材价类型
    getMaterialType() {
      var params = {
        dictTypeId: 'MAT_TYPE'
      }
      getSysDictList(params).then(res => {
        if (res.code == '01') {
          this.cjTypeList = res.body
        }
      })
    },
    // 材价来源
    getMaterialSource() {
      var params = {
        dictTypeId: 'MAT_SOURCE_TYPE'
      }
      getSysDictList(params).then(res => {
        if (res.code == '01') {
          this.cjSourceList = res.body
        }
      })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getMaterialData()
    },
    openAlert() {
      this.$alert('请至少选择一条数据', '提示', {
        confirmButtonText: '确定',
        type: 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.common-material-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .top-label {
    padding: 20px;
    font-size: 14px;
    color: #999;
    .t-label {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }
    span {
      margin-right: 10px;
    }
  }
  .cycle-wrap {
    padding: 20px;
    > span {
      margin-right: 19px;
      color: #333;
      font-size: 14px;
    }
    .el-select {
      width: 350px;
    }
  }
  .search-type {
    padding: 0 20px 6px 20px;
    width: 100%;
    .custom-type {
      > span {
        margin-right: 15px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        ul {
          margin-bottom: 10px;
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-select {
        width: 350px;
      }
    }
  }
  .table-wrap {
    .cj-count {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      color: $color-primary;
    }
  }
}
</style>

<style lang="scss">
.common-material-container {
  .cycle-wrap {
    .el-select {
      .el-input.is-disabled .el-input__inner {
        color: #666;
      }
    }
  }
}
</style>
