<template>
  <div class="upload-material-container com-input">
    <div class="up-wrap">
      <div class="search-type">
        <div class="flex-c">
          <span class="s-text com-label-text">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate" />
          </div>
          <span class="com-line" />
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate2" />
          </div>
        </div>
      </div>

      <div class="flex-c com-select cycle-wrap">
        <span class="com-label-text">周期</span>
        <el-select v-model="curCycle" class="com-radius-input" placeholder="请选择" @change="changeCycle">
          <el-option v-for="item in cycleList" :key="item.id" :label="item.howPeriod" :value="item.id" />
        </el-select>
      </div>

      <div class="flex-c com-s-text select-mode">
        <span class="mr-20 com-label-text">是否模板数据</span>
        <ul class="flex-c c-6">
          <li class="mr-20 cp" :class="{'minor-color': isTemplateMat == 'all'}" @click="changeTemplateMat('all')">全部</li>
          <li class="mr-20 cp" :class="{'minor-color': isTemplateMat == 'yes'}" @click="changeTemplateMat('yes')">模板数据</li>
          <li class="mr-20 cp" :class="{'minor-color': isTemplateMat == 'no'}" @click="changeTemplateMat('no')">非模板数据</li>
        </ul>
      </div>

      <div class="com-search">
        <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如：名称、规格、编码" @keyup.enter.native="getCjList" />
        <i class="el-icon-search" @click="getCjList" />
      </div>
      <div class="search-type pt-0">
        <div class="flex-fs custom-type">
          <span class="com-label-text"><span class="com-alt">占</span>材价来源</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curSource == ''}" @click="changeSource('')">
                全部
              </li>
              <li v-for="(item, index) in cjSource" :key="index" :class="{active: curSource == item.dictCode}" @click="changeSource(item.dictCode)">
                {{ item.dictName }}
              </li>
            </ul>
          </div>
        </div>
        <div class="flex-fs custom-type">
          <span class="com-label-text"><span class="com-alt">占</span>材价类型</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curType == ''}" @click="changeType('')">
                全部
              </li>
              <li v-for="(item, index) in cjTypeList" :key="index" :class="{active: curType == item.dictCode}" @click="changeType(item.dictCode)">
                {{ item.dictName }}
              </li>
            </ul>
          </div>
        </div>
        <div class="flex-fs custom-type">
          <span class="com-label-text">自定义分类</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curCustomType == ''}" @click="changeCustomType('', '')">
                全部
              </li>
              <li v-for="(item, index) in customType" :key="index" :class="{active: curCustomType == item.id}" @click="changeCustomType(index, item.id)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="customTypeItem && customTypeItem.length > 0" class="flex-cw">
              <li :class="{active: curCustomTypeItem == ''}" @click="changeCustomTypeItem('', '')">
                全部
              </li>
              <li v-for="(item, index) in customTypeItem" :key="index" :class="{active: curCustomTypeItem == item.name}" @click="changeCustomTypeItem(item.name, item.id)">
                {{ item.name }}
              </li>
            </ul>
            <ul>
              <li class="no-item" @click="$router.push('/setting/materialSet')">编辑分类</li>
            </ul>
          </div>
        </div>
        <!-- <div class="flex-fs custom-type">
          <span><span class="com-alt">占位</span>标准化</span>
          <div class="t-wrap">
            <ul class="flex-c">
              <li
                :class="{active: item === curNormLabel}"
                v-for="(item, index) in normLabel"
                :key="index"
                @click="changeNormLabel(item)"
                >
                {{item}}
              </li>
            </ul>
          </div>
        </div> -->
        <!-- 材料类型 -->
        <div class="flex-fs custom-type">
          <span class="com-label-text"><span class="com-alt">符</span>材料类型</span>
          <div class="t-wrap">
            <ul class="flex-c">
              <li :class="{active: standardType === '0'}" @click="toggleStandard('0')">全部</li>
              <li :class="{active: standardType === '1'}" @click="toggleStandard('1')">标准化材料</li>
              <li :class="{active: standardType === '2'}" @click="toggleStandard('2')">自定义材料</li>
            </ul>
          </div>
        </div>
        <div class="flex-fs norm-type">
          <span class="com-label-text"><span class="com-alt">符</span>国标分类</span>
          <div class="t-wrap">
            <ul class="flex-cw" :class="{'is-fold': isFold}">
              <li :class="{active: curNormType == ''}" @click="changeNormType('', '')">
                全部
              </li>
              <li v-for="(item, index) in normType" :key="index" :class="{active: curNormType == item.code}" @click="changeNormType(index, item.code)">
                {{ item.name }}
              </li>
            </ul>
            <ul v-if="normTypeItem && normTypeItem.length > 0" class="flex-cw all-list">
              <li :class="{active: curNormTypeItem == ''}" @click="changeNormTypeItem('', '')">
                全部
              </li>
              <li v-for="(item, index) in normTypeItem" :key="index" :class="{active: curNormTypeItem == item.name}" @click="changeNormTypeItem(item.name, item.code)">
                {{ item.name }}
              </li>
            </ul>
          </div>
          <span v-if="normType && normType.length > 0" class="cp el-icon-arrow-up" :class="{'is-rotate': isFold}" @click="isFold = !isFold" />
        </div>
      </div>

      <div class="table-wrap">
        <div class="flex-csb com-operate-wrap">
          <div>
            <el-button v-has="$roles.fun_raiseprice_pool_add" class="has-primary-btn" @click="showExport('1')">添加材价</el-button>
            <el-popover v-has="$roles.fun_raiseprice_pool_addmaterpirce" placement="bottom" trigger="click">
              <div class="com-special-operate-wrap">
                <el-button @click="showAddOneDialog = true">添加单条</el-button>
                <el-button style="margin-left: 3px;" @click="showExport('2')">批量添加</el-button>
              </div>
              <el-button slot="reference" class="has-minor-btn">添加自定义材价</el-button>
            </el-popover>
            <span v-has="$roles.fun_raiseprice_pool_addmaterpirce" class="mytemp">
              <el-tooltip class="item" effect="light" content="添加统称性材料如：水、电，油等。" placement="top-start">
                <img src="@/assets/img/icons/tips.png" alt="" class="tips">
              </el-tooltip>
            </span>
            <el-button v-has="$roles.fun_raiseprice_pool_resetstander" @click="reStandardAll">
              重新标准化
            </el-button>
            <!-- <el-button
              @click="setType"
              v-has="$roles.fun_raiseprice_pool_adj">分类调整</el-button> -->
            <el-button v-has="$roles.fun_raiseprice_pool_join" @click="openAddCurTemp">加入本期模板</el-button>
            <el-button v-has="$roles.fun_raiseprice_pool_del" class="delete-btn" :loading="deleteLoading" @click="deleteCj">删除</el-button>
            <el-button v-has="$roles.fun_raiseprice_pool_export" :loading="exportLoading" @click="exportFile">导出</el-button>
            <el-button v-has="$roles.fun_raiseprice_pool_adjgjclass" @click="trimGb">调整国标分类</el-button>
          </div>
          <div class="flex-c set-wrap" @click="showSetListDialog = !showSetListDialog">
            <span class="el-icon-setting" />
            <span>列表设置</span>
          </div>
        </div>

        <el-table ref="multipleTable" v-loading="tableLoading" :data="tableData" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="66px" />
          <el-table-column v-if="checkedList.indexOf('编码') != -1" prop="zcode" label="编码" />
          <el-table-column v-if="checkedList.indexOf('标准名称') != -1" prop="stdName" label="标准名称" />
          <el-table-column v-if="checkedList.indexOf('材料名称') != -1" prop="name" label="材料名称" min-width="120px" />
          <el-table-column v-if="checkedList.indexOf('规格') != -1" prop="spec" label="规格" min-width="160px" />
          <el-table-column v-if="checkedList.indexOf('标准规格') != -1" prop="features" label="标准规格" min-width="160px" />
          <el-table-column v-if="checkedList.indexOf('单位') != -1" width="66px" prop="unit" label="单位" />
          <el-table-column v-if="checkedList.indexOf('品牌') != -1" prop="brand" label="品牌" />
          <el-table-column v-if="checkedList.indexOf('材价来源') != -1" prop="sourceName" label="材价来源" />
          <el-table-column v-if="checkedList.indexOf('价格类型') != -1" prop="typeName" label="价格类型" />
          <el-table-column v-if="checkedList.indexOf('自定义分类') != -1" prop="custcName" label="自定义分类" />
          <el-table-column v-if="checkedList.indexOf('国标分类') != -1" prop="subcName" label="国标分类" />
          <el-table-column v-if="checkedList.indexOf('材料价格(元)') != -1" prop="priceStr" label="材料价格(元)" />
          <el-table-column v-if="checkedList.indexOf('适用周期') != -1" prop="applicablePeriod" label="适用周期" />
          <el-table-column v-if="checkedList.indexOf('是否模板数据') != -1" align="center" label="是否模板数据">
            <template slot-scope="scope">
              <span v-if="scope.row.isTemplateMat === 1">是</span>
              <span v-else>否</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('材料类型') != -1" width="120px" align="center" label="材料类型">
            <template slot-scope="scope">
              <span v-if="scope.row.isFormat">标准化材料</span>
              <span v-else>自定义材料</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('备注') != -1" prop="remark" label="备注" />
          <el-table-column v-if="checkedList.indexOf('该材料报价数') != -1" label="该材料报价数">
            <template slot-scope="scope">
              <span class="cj-count" @click="skipComCj(scope.row)">{{ scope.row.sameMatCount }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="checkedList.indexOf('操作') != -1" align="left" label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span v-has="$roles.fun_raiseprice_pool_edit" @click="editPricelDialog(scope.row)">
                  <el-tooltip effect="light" content="编辑材价" placement="top">
                    <img class="icons" src="@/assets/img/icons/edits.png" alt="">
                  </el-tooltip>
                </span>
                <span v-has="$roles.fun_raiseprice_pool_resetstander" @click="reSomeStandard(scope.row)">
                  <el-tooltip effect="light" content="重新标准化" placement="top">
                    <img class="icons" src="@/assets/img/icons/refreshs.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>

    <!-- 导入弹窗 -->
    <el-dialog :title="isCustomize?'添加自定义材价':'添加材价'" :visible.sync="showExportDialog" :close-on-click-modal="false" width="600px" class="com-dialog">
      <div class="flex-cwsb export-wrap">
        <div class="flex-c">
          <span>材价类型</span>
          <el-select v-model="curDialogType" placeholder="请选择">
            <el-option v-for="item in cjTypeList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode" />
          </el-select>
        </div>
        <div class="flex-c">
          <span>材价来源</span>
          <el-select v-model="curDialogSource" placeholder="请选择">
            <el-option v-for="item in cjSource" :key="item.dictCode" :label="item.dictName" :value="item.dictCode" />
          </el-select>
        </div>
        <!-- <div>
          <span>材价地区</span>
          <el-select v-model="curCity" placeholder="请选择">
            <el-option
              v-for="(item, index) in cityList"
              :key="index"
              :label="item"
              :value="item">
            </el-option>
          </el-select>
        </div> -->
        <div class="flex-c cycle-select">
          <span>适用周期</span>
          <!-- <span>{{howPeriod}}</span> -->
          <el-select v-model="dialogCurCycle" placeholder="请选择">
            <el-option v-for="item in dialogCycleList2" :key="item.id" :label="item.howPeriod" :value="item.id" />
          </el-select>
        </div>
        <div class="flex-c cj-upload">
          <span>材价上传</span>
          <div class="flex-c">
            <div class="u-ipt">{{ cjFile.name }}</div>
            <div class="u-btn">上传</div>
            <div class="u-dot">...</div>
            <input ref="fileElem" class="u-file" type="file" @change="uploadCjFile($event)">
          </div>
        </div>
        <div v-if="!isCustomize" class="flex-c mb-20 cj-upload">
          <span>上传模板</span>
          <el-select v-model="dialogCurCycle2" style="width: 100%;" placeholder="请选择">
            <el-option v-for="item in dialogCycleList" :key="item.id" :label="item.howPeriod" :value="item.id" />
          </el-select>
          <el-button class="ml-10 download-btn" type="primary" size="small" :loading="downloadLoading" @click="uploadTemplate">下载</el-button>
        </div>
        <div v-else class="flex-c">
          <span>导入模板</span>
          <span class="u-mode-btn" @click="uploadTemplate">材价导入模板</span>
        </div>
        <div v-if="isCustomize" style="color: #ff0000;width: 100%;">注意：添加的自定义材价不会执行标准化程序。</div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showExportDialog = false">取消</el-button>
        <el-button type="primary" @click="confirmUploadMode">确定</el-button>
      </span>
    </el-dialog>

    <!-- 分类调整弹窗 -->
    <el-dialog title="自定义分类" :visible.sync="showTypeDialog" :close-on-click-modal="false" width="400px" class="com-dialog">
      <div class="set-type-wrap">
        <div>
          <span><span class="r-color">*</span>一级分类：</span>
          <el-select v-model="curOneType" placeholder="请选择" @change="dialogChangeCustomType">
            <el-option v-for="item in customType" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </div>
        <div>
          <span><span class="com-alt">*</span>二级分类：</span>
          <el-select v-model="curTwoType" placeholder="请选择">
            <el-option v-for="item in curTowTypeList" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </div>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button @click="showTypeDialog = false">取消</el-button>
        <el-button type="primary" :loading="dialogTypeLoading" @click="confirmChangeType">确定</el-button>
      </span>
    </el-dialog>

    <!-- 列表设置弹窗 -->
    <el-dialog title="列表设置" :visible.sync="showSetListDialog" :close-on-click-modal="false" width="400px" class="com-dialog">
      <div class="com-checkbox">
        <el-checkbox-group v-model="checkedList">
          <el-checkbox v-for="(item, index) in checkList" :key="index" :label="item" />
        </el-checkbox-group>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showSetListDialog = false">取消</el-button>
        <el-button type="primary" @click="showSetListDialog = !showSetListDialog">确定</el-button>
      </span>
    </el-dialog>

    <!-- 加入本期全部非模板数据提示弹窗 -->
    <el-dialog title="加入本期模板" :visible.sync="showAddCurNotTempDialog" :close-on-click-modal="false" width="491px" class="com-dialog warning-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/icons/war_icon.png" alt="">
        <p>确定把本期全部非模板数据的材料</p>
        <p class="mt-5">加入本期（第{{ curCycleName }}期模板）模板吗</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddCurNotTempDialog = false">取消</el-button>
        <el-button type="primary" :loading="addOneTypeLoading" @click="addCurNotTemp">确定</el-button>
      </span>
    </el-dialog>

    <!-- 加入本期模板提示弹窗 -->
    <el-dialog title="加入本期模板" :visible.sync="showAddCurTempTipDialog" :close-on-click-modal="false" width="491px" class="com-dialog warning-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/icons/war_icon.png" alt="">
        <p class="mb-10 mt-5">确定把勾选的材料加入本期（第{{ curCycleName }}期模板）模板吗</p>
        <p class="tip-text">注意：模板已存在的材料数据将自动忽略。</p>
      </div>
      <!-- <div class="dialog-content" v-else>
        <img src="@/assets/img/icons/del_icon02.png" alt="">
        <p>确定把勾选的材料加入本期（第{{curCycleName}}期模板）模板吗</p>
      </div> -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddCurTempTipDialog = false">取消</el-button>
        <el-button type="primary" :loading="addOneTypeLoading" @click="addCurTemp">确定</el-button>
      </span>
    </el-dialog>

    <!-- 已存在提示弹窗 -->
    <el-dialog title="加入本期模板" :visible.sync="showHasDialog" :close-on-click-modal="false" width="491px" class="com-dialog warning-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/icons/war_icon.png" alt="">
        <p>{{ hasText }}</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="showHasDialog = false">确定</el-button>
      </span>
    </el-dialog>
    <!-- 已存在提示弹窗 end -->

    <!-- 重新标准化弹窗 -->
    <el-dialog title="重新标准化" :visible.sync="reStandard" :close-on-click-modal="false" width="400px" class="com-dialog com-select re-standard">
      <div v-if="reStandardStatus==1" class="dialog-content">
        <img src="@/assets/img/reStandard1.png" alt="">
        <p>您确定要标准化材价吗？</p>
      </div>
      <div v-if="reStandardStatus==2" class="dialog-content">
        <img src="@/assets/img/cs/reStandard2.png" alt="">
        <p>正在标准化...</p>
      </div>
      <div v-if="reStandardStatus==3" class="dialog-content">
        <img src="@/assets/img/reStandard3.png" alt="">
        <p>标准化成功<span class="suc-num3">{{ successCount3 }}</span>条，失败<span class="err-num3">{{ failCount3 }}</span>条</p>
      </div>
      <span v-if="reStandardStatus == 1" slot="footer" class="dialog-footer">
        <el-button @click="reStandard = false">取消</el-button>
        <el-button type="primary" @click="toStandard">确定</el-button>
      </span>
      <span v-if="reStandardStatus == 3" slot="footer" class="dialog-footer">
        <el-button v-if="failCount3 > 0" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="reStandard=false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加自定义材价结果弹窗 -->
    <el-dialog title="添加自定义材价" :visible.sync="showResDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog resultdialog">
      <div v-if="resStatus==3" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/reStandard2.png" alt="" style="margin-bottom:30px;">
        <p>正在安全扫描...</p>
      </div>
      <div v-if="resStatus==1" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/success_img.png" alt="" class="img2">
        <p>导入成功<span class="suc-num2">{{ successCount }}</span>条，失败<span class="err-num2">{{ failCount }}</span>条</p>
      </div>
      <div v-if="resStatus==2" class="flex-cc scan-content scan-success2">
        <img src="@/assets/img/cs/error_img.png" alt="" class="img2">
        <p v-if="errMsg">{{ errMsg }}</p>
        <p v-else>上传失败，请重试</p>
      </div>
      <span v-if="resStatus!=3" slot="footer" class="dialog-footer">
        <el-button v-if="resStatus==1 && failCount > 0" style="border:1px solid #2773FC;" :loading="downloadKeyLoading" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="showResDialog=false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 编辑材价弹窗 -->
    <el-dialog title="编辑材价" :visible.sync="showImportDialog3" :close-on-click-modal="false" width="491px" class="com-dialog remark-dialog">
      <div class="flex-c mb-20">
        <span class="label-text" style="text-align:left;min-width:0;width:80px;margin-right:10px;"><span>*</span>材价名称</span>
        <el-input v-model="materialName" placeholder="请输入材价名称" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text" style="text-align:left;min-width:0;width:80px;margin-right:10px;">材价规格</span>
        <el-input v-model="materialSpecs" placeholder="请输入材价规格" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text" style="text-align:left;min-width:0;width:80px;margin-right:10px;"><span>*</span>材价单位</span>
        <el-input v-model="materialUnit" placeholder="请输入材价单位" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text" style="text-align:left;min-width:0;width:80px;margin-right:10px;"><span>*</span>材价价格</span>
        <el-input v-model="materialPrice" placeholder="请输入材价价格" @input="checkTaxPoint($event)" />
      </div>
      <div>
        <p class="r-label">备注</p>
        <el-input v-model="materialRemarks" type="textarea" resize="none" rows="10" maxlength="300" />
        <div class="ta-right">
          <span v-if="materialRemarks">{{ materialRemarks.length }}</span><span v-else>0</span>/300
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showImportDialog3 = false">取消</el-button>
        <el-button type="primary" :loading="remarkLoading" @click="editPriceDialog">确定</el-button>
      </span>
    </el-dialog>

    <!-- 编辑-正在标准化弹窗 -->
    <el-dialog title="编辑材价" :visible.sync="showEdit" :close-on-click-modal="false" width="400px" class="com-dialog com-select re-standard">
      <div class="dialog-content">
        <img src="@/assets/img/cs/reStandard2.png" alt="">
        <p>正在标准化...</p>
      </div>
    </el-dialog>

    <!-- 调整国标分类弹窗 -->
    <el-dialog title="调整国标分类" :visible.sync="showGbDialog" :close-on-click-modal="false" width="490px" class="com-dialog com-input-width">
      <div class="flex-c mb-20">
        <span class="label-text">国标一级分类：</span>
        <el-select v-model="oneGb" class="ml-10" placeholder="请选择" @change="changeGb($event,'1')">
          <el-option v-for="(item, index) in normType" :key="item.id" :label="item.name" :value="index" />
        </el-select>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text">国标二级分类：</span>
        <el-select v-model="twoGb" class="ml-10" placeholder="请选择" @change="changeGb($event,'2')">
          <el-option v-for="(item, index) in normType2" :key="item.id" :label="item.name" :value="index" />
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showGbDialog = false">取消</el-button>
        <el-button type="primary" @click="submitGb">确定</el-button>
      </span>
    </el-dialog>

    <!-- 添加单条材料弹窗 -->
    <el-dialog title="添加材料" :visible.sync="showAddOneDialog" :close-on-click-modal="false" width="491px" class="com-dialog remark-dialog">
      <div class="flex-c">
        <div class="flex-c mb-20 mr-10">
          <span class="ta-left label-text"><span>*</span>材价类型</span>
          <el-select v-model="addOneParams.oneType" placeholder="请选择">
            <el-option v-for="item in cjTypeList" :key="item.dictCode" :label="item.dictName" :value="item.dictCode" />
          </el-select>
        </div>
        <div class="flex-c mb-20">
          <span class="ta-left label-text"><span>*</span>材价来源</span>
          <el-select v-model="addOneParams.oneSource" placeholder="请选择">
            <el-option v-for="item in cjSource" :key="item.dictCode" :label="item.dictName" :value="item.dictCode" />
          </el-select>
        </div>
      </div>
      <div class="flex-c mb-20">
        <span class="ta-left label-text"><span>*</span>适用周期</span>
        <el-select v-model="addOneParams.oneCycle" placeholder="请选择" style="width: 100%;">
          <el-option v-for="item in dialogCycleList2" :key="item.id" :label="item.howPeriod" :value="item.id" />
        </el-select>
      </div>
      <div class="flex-c mb-20">
        <span class="ta-left label-text"><span>*</span>材价名称</span>
        <el-input v-model="addOneParams.materialName" placeholder="请输入材料名称" />
      </div>
      <div class="flex-c mb-20">
        <span class="ta-left label-text">材价规格</span>
        <el-input v-model="addOneParams.materialSpecs" placeholder="请输入材料规格" />
      </div>
      <div class="flex-c mb-20">
        <span class="ta-left label-text"><span>*</span>材价单位</span>
        <el-input v-model="addOneParams.materialUnit" placeholder="请输入材料单位" />
      </div>
      <div class="flex-c mb-20">
        <span class="ta-left label-text"><span>*</span>材价价格</span>
        <el-input v-model="addOneParams.materialPrice" placeholder="请输入材料价格" @input="checkNumber($event)" />
      </div>
      <div>
        <p class="mb-5 r-label">备注</p>
        <el-input v-model="addOneParams.materialRemarks" type="textarea" resize="none" rows="10" maxlength="300" />
        <div class="ta-right">
          <span v-if="addOneParams.materialRemarks">{{ addOneParams.materialRemarks.length }}</span><span v-else>0</span>/300
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showAddOneDialog = false">取消</el-button>
        <el-button type="primary" :loading="loading" @click="submitOneMat">确定</el-button>
      </span>
    </el-dialog>

    <!-- 标准化弹窗 -->
    <ScanLoading v-if="startScan" :title="'添加材价'" :scan-state="scanState" :fail-count="failCount" :success-count="successCount" :download-key-loading="downloadKeyLoading" @confirmScan="confirmScan"
      @downloadErrorList="downloadErrorList" />
  </div>
</template>

<script>
import ScanLoading from '@/components/ScanLoading'
import {
  getCjType,
  getCjData,
  deleteCjItem,
  exportTempFile,
  getSysDictList,
  importCjFile,
  updateCjType,
  joinThisPeriodTemplate,
  uploadMaterialTemp,
  updateMatPrice,
  againFormatPrice,
  updateSubCId,
  addOrUpdateMatPrice
} from '@/api/cs/materialManage'
import { getCycleInfo } from '@/api/cs/collectTemplate'
import { getTempDetailInfo } from '@/api/synthesizePriceStock'
import { downloadErrorExcel } from '@/api/common'
import { formatDate, checkNumber } from '@/utils/common'

export default {
  name: 'MaterialManage',
  components: {
    ScanLoading
  },
  data() {
    return {
      showAddOneDialog: false,
      addOneParams: {
        oneType: null,
        oneSource: null,
        oneCycle: null,
        materialName: '',
        materialSpecs: '',
        materialUnit: '',
        materialPrice: '',
        materialRemarks: ''
      },
      isFold: true,
      userId: '', // 报价人
      curType: '',
      curSource: '',
      successCount: 0, // 标准化成功数
      failCount: 0, // 标准化失败数
      successCount3: 0, // 重新标准化成功数
      failCount3: 0, // 重新标准化失败数
      scanTimer: null, // 标准化定时器
      scanState: '0', // 0请求进行中，1请求成功，2请求失败
      startScan: false, // 开始标准化
      downloadKey: '',
      downloadKeyLoading: false,
      showAddCurTempTipDialog: false,
      addOneTypeLoading: false,
      deleteLoading: false,
      cjFile: {},
      exportLoading: false,
      searchVal: '', // 搜索关键词
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableLoading: false,
      tableData: [],
      multipleSelection: [], // 已选中的表单项
      pageSizeList: [10, 20, 30, 40, 50, 100],
      customType: [],
      customTypeItem: [],
      normType: [],
      normTypeItem: [],
      normType2: [], // 调整国标分类时二级分类
      oneGb: '', // 调整国标时选的一级分类index
      twoGb: '', // 调整国标时选的二级分类index
      curCustomType: '', // 和customCode值一样
      curCustomTypeItem: '',
      customCode: '',
      curNormType: '',
      curNormTypeItem: '',
      normCode: '',
      curCycle: null, // 当前选中的周期
      curCycleName: '',
      howPeriod: '',
      cycleList: [],
      isTemplateMat: 'all',
      hasTemplateMat: false,
      normLabel: ['全部', '已标准化', '未标准化'],
      curNormLabel: '全部',
      isGetCount: true, // 是否显示该材料报价数
      showExportDialog: false, // 导入弹窗
      cjSource: [], // 材价来源
      curDialogSource: '',
      cjTypeList: [], // 材价类型
      curDialogType: '',
      cityList: [], // 材价地区
      curCity: '',
      showTypeDialog: false, // 分类调整弹窗
      curOneType: '', // 一级分类
      curTwoType: '', // 二级分类
      curTowTypeList: [], // 列表设置弹窗二级分类列表
      dialogCurCycle: '', // 导入弹窗当前选中周期
      dialogCurCycle2: null, // 导入弹窗当前选中模板
      dialogCycleList: [],
      dialogCycleList2: [],
      dialogTypeLoading: false, // 分类调整弹窗按钮loading
      showSetListDialog: false, // 列表设置弹窗
      checkList: [
        // 表头列表
        '编码',
        '标准名称',
        '材料名称',
        '规格',
        '标准规格',
        '单位',
        '品牌',
        '材价来源',
        '价格类型',
        '自定义分类',
        '国标分类',
        '材料价格(元)',
        '适用周期',
        '是否模板数据',
        '该材料报价数',
        '材料类型',
        '备注',
        '操作'
      ],
      checkedList: [
        // 列表选中的设置项
        '材料名称',
        '规格',
        '标准规格',
        '单位',
        '材料价格(元)',
        '适用周期',
        '该材料报价数',
        '品牌',
        '材价来源',
        '价格类型',
        '自定义分类',
        '国标分类',
        '是否模板数据',
        '材料类型',
        '备注',
        '操作'
      ],
      disabledCheckedList: [
        // 禁止设置项
        '材料名称',
        '规格',
        '单位',
        '材料价格(元)',
        '适用周期',
        '是否模板数据',
        '该材料报价数'
      ],
      showHasDialog: false,
      hasText: '',
      detailParams: {},
      startDate: null,
      endDate: null,
      downloadLoading: false,
      showAddCurNotTempDialog: false,
      importLoading: false,
      reStandard: false, // 显示重新标准化弹窗
      reStandardStatus: '', // 重新标准化状态 1询问2正在3完成
      againFormatStr: '', // 重新标准化的材价ids
      standardType: '0', // 材料类型分类0/1/2
      isCustomize: false, // 导入是否为自定义材价
      resStatus: '', //  导入自定义材价结果 1成功 2失败
      errMsg: '', //  失败信息
      showResDialog: false, //  显示添加自定义材价结果弹窗
      showImportDialog3: false, // 编辑材价弹窗
      materialId: '', // 材料id
      materialName: '', // 材料名称
      materialSpecs: '', // 材料规格
      materialUnit: '', // 材料单位
      materialPrice: '', // 材料价格
      materialRemarks: '', // 材料备注
      remarkLoading: false,
      showGbDialog: false, // 显示国标分类弹窗
      showEdit: false, // 显示编辑正在标准化弹窗
      editStatus: '', // 1为标准化数据，才需要标准化弹窗
      loading: false
    }
  },
  mounted() {
    this.getMaterialStockType()
    this.getMaterialSource()
    this.getMaterialTypeList()
    this.getDialogCycleInfo()
  },
  methods: {
    checkNumber(val) {
      this.addOneParams.materialPrice = checkNumber(val)
    },
    // 添加单条材价
    submitOneMat() {
      if (!this.addOneParams.oneType) {
        this.$message({
          type: 'error',
          message: '请选择材价类型'
        })
        return
      } else if (!this.addOneParams.oneSource) {
        this.$message({
          type: 'error',
          message: '请选择材价来源'
        })
        return
      } else if (!this.addOneParams.oneCycle) {
        this.$message({
          type: 'error',
          message: '请选择适用周期'
        })
        return
      } else if (!this.addOneParams.materialName) {
        this.$message({
          type: 'error',
          message: '请输入材料名称'
        })
        return
      } else if (!this.addOneParams.materialUnit) {
        this.$message({
          type: 'error',
          message: '请输入材料单位'
        })
        return
      } else if (!this.addOneParams.materialPrice) {
        this.$message({
          type: 'error',
          message: '请输入材料价格'
        })
        return
      }

      const data = {
        typeCode: this.addOneParams.oneType,
        sourceCode: this.addOneParams.oneSource,
        periodId: this.addOneParams.oneCycle,
        name: this.addOneParams.materialName,
        spec: this.addOneParams.materialSpecs,
        unit: this.addOneParams.materialUnit,
        price: this.addOneParams.materialPrice,
        remark: this.addOneParams.materialRemarks
      }

      this.loading = true
      addOrUpdateMatPrice(data).then(res => {
        this.loading = false
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })

          this.getCjList()
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 输入限制
    checkTaxPoint(e) {
      // 清除"数字"和"."以外的字符
      this.materialPrice = this.materialPrice.replace(/[^\d.]/g, '')
      // 验证第一个字符是数字而不是字符
      this.materialPrice = this.materialPrice.replace(/^\./g, '')
      // 只保留第一个.清除多余的
      this.materialPrice = this.materialPrice.replace(/\.{2,}/g, '.')
      this.materialPrice = this.materialPrice
        .replace('.', '$#$')
        .replace(/\./g, '')
        .replace('$#$', '.')
      // 只能输入四个小数
      this.materialPrice = this.materialPrice.replace(
        /^(\-)*(\d+)\.(\d\d\d\d).*$/,
        '$1$2.$3'
      )
    },
    // 调整国标分类
    trimGb() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      this.oneGb = ''
      this.twoGb = ''
      this.normType2 = []
      this.showGbDialog = true
    },
    // 切换国标分类
    changeGb(e, type) {
      if (type == '1') {
        // 切换一级
        this.twoGb = ''
        this.normType2 = this.normType[e].sub
      } else if (type == '2') {
        // 切换二级
      }
    },
    // 提交国标分类
    submitGb() {
      if (this.oneGb === '') {
        this.$message({
          type: 'error',
          message: '请选择一级国标分类'
        })
        return
      }
      if (this.twoGb === '') {
        this.$message({
          type: 'error',
          message: '请选择二级国标分类'
        })
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      ids = ids.join(',')
      const params = {
        ids: ids,
        subcId: this.normType2[this.twoGb].code
      }
      updateSubCId(params)
        .then(res => {
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showGbDialog = false
            this.getCjList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '调整失败'
          })
        })
    },
    // 调重新标准化接口
    toStandard() {
      const params = {
        ids: this.againFormatStr,
        periodId: this.curCycle
      }
      this.reStandardStatus = 2
      againFormatPrice(params)
        .then(res => {
          if (res.code === '01') {
            this.reStandardStatus = 3
            try {
              this.failCount3 = res.body.failCount
              this.successCount3 = res.body.successCount
              this.downloadKey = res.body.downloadKey
            } catch (err) {}
            this.getCjList()
          } else {
            this.reStandard = false
            this.reStandardStatus = ''
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
        })
        .catch(err => {
          this.reStandard = false
          this.reStandardStatus = ''
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
    },
    // 重新标准化
    reSomeStandard(data) {
      this.reStandardStatus = 1
      this.reStandard = true
      this.againFormatStr = data.id + ''
    },
    // 重新标准化(批量)
    reStandardAll() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      this.reStandardStatus = 1
      this.reStandard = true
      this.againFormatStr = ids.join(',')
    },
    // 编辑材价弹窗
    editPricelDialog(item) {
      this.editStatus = item.isFormat
      this.materialId = item.id
      this.materialName = item.name.replace(/\n/g, ' ')
      this.materialSpecs = item.spec
      this.materialUnit = item.unit
      this.materialPrice = item.priceStr
      this.materialRemarks = item.remark || ''
      this.showImportDialog3 = true
    },
    // 编辑材价接口
    editPriceDialog() {
      if (!this.materialName) {
        this.$message({
          type: 'error',
          message: '请输入材价名称'
        })
        return
      } else if (!this.materialUnit) {
        this.$message({
          type: 'error',
          message: '请输入材价单位'
        })
        return
      } else if (!this.materialPrice) {
        this.$message({
          type: 'error',
          message: '请输入材价价格'
        })
        return
      } else if (this.materialRemarks.length > 300) {
        this.$message({
          type: 'error',
          message: '材价备注不能超过300字符'
        })
        return
      }
      const data = {
        matPriceId: +this.materialId,
        periodId: this.curCycle,
        name: this.materialName,
        spec: this.materialSpecs || null,
        unit: this.materialUnit,
        price: this.materialPrice,
        remark: this.materialRemarks || null
      }
      this.showImportDialog3 = false
      let times
      if (this.editStatus == 1) {
        this.showEdit = true
        times = 2500
      } else {
        times = 0
      }
      updateMatPrice(data)
        .then(res => {
          const that = this
          setTimeout(function() {
            that.showEdit = false
            if (res.code == '01') {
              that.$message({
                type: 'success',
                message: res.message
              })
              that.getCjList()
            } else {
              that.$message({
                type: 'error',
                message: res.message
              })
            }
          }, times)
        })
        .catch(err => {})
    },
    // 切换标准分类
    toggleStandard(type) {
      this.standardType = type
      this.currentPage = 1
      this.getCjList()
    },
    // 获取周期综合价信息
    getTempDetailInfo() {
      var params = {
        periodId: this.curCycle
      }
      getTempDetailInfo(params).then(res => {
        if (res.code == '01') {
          this.detailParams = res.body
        }
      })
    },
    // 下载失败清单
    downloadErrorList() {
      var params = {
        downloadKey: this.downloadKey
      }
      this.downloadKeyLoading = true
      downloadErrorExcel(params)
        .then(res => {
          this.reStandard = false
          this.showResDialog = false
          this.startScan = false
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            )
            this.downloadKeyLoading = false
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '失败清单.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
            this.downloadKeyLoading = false
          }
        })
        .catch(err => {
          this.downloadKeyLoading = false
        })
    },
    // 标准化完成
    confirmScan() {
      this.startScan = false
      this.showExportDialog = false
      if (this.scanTimer) {
        clearTimeout(this.scanTimer)
      }
    },
    // 切换模板类型
    changeTemplateMat(type) {
      this.isTemplateMat = type
      this.currentPage = 1
      this.getCjList()
    },
    // 下载材价导入模板
    uploadTemplate() {
      if (!this.dialogCurCycle2 && !this.isCustomize) {
        // 导入材价校验
        this.$message({
          type: 'error',
          message: '请选择要下载的模板'
        })
        return
      }
      var params = {}
      if (this.dialogCurCycle2 !== 'all') {
        params.periodId = this.dialogCurCycle2
      }
      if (this.isCustomize) {
        // 导入自定义材价
        params.periodId = null
      }
      params.isCustomize = this.isCustomize
      this.downloadLoading = true
      uploadMaterialTemp(params)
        .then(res => {
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {
            this.downloadLoading = false
          }
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '材价导入模板.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            this.downloadLoading = false
            sessionStorage.removeItem('blob_filename')
          }
        })
        .catch(err => {
          this.downloadLoading = false
        })
    },
    // 切换材价来源
    changeSource(item) {
      this.currentPage = 1
      this.curSource = item
      this.getCjList()
    },
    // 切换材价类型
    changeType(item) {
      this.currentPage = 1
      this.curType = item
      this.getCjList()
    },
    // 选择开始时间
    toggleDate(val) {
      if (val) {
        const beginTime = new Date(val).getTime()
        const endTime = +beginTime + 3600 * 1000 * 24 * 365
        this.endDate = endTime
      }
      this.currentPage = 1
      this.getCycleInfo()
    },
    // 选择结束时间
    toggleDate2() {
      this.currentPage = 1
      this.getCycleInfo()
    },
    // 切换周期
    changeCycle(val) {
      this.currentPage = 1
      for (var i = 0; i < this.cycleList.length; i++) {
        if (val == this.cycleList[i].id) {
          this.curCycle = this.cycleList[i].id
          this.howPeriod = this.cycleList[i].howPeriod
        }
      }

      this.getTempDetailInfo()
      this.getCjList()
    },
    // 加入本期模板
    addCurTemp() {
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      var params = {
        periodId: this.curCycle,
        matPriceIds: ids.join(',')
      }
      this.addOneTypeLoading = true
      joinThisPeriodTemplate(params)
        .then(res => {
          this.addOneTypeLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showAddCurTempTipDialog = false
            this.getCjList()
          } else if (res.code == '313') {
            this.showAddCurTempTipDialog = false
            this.showHasDialog = true
            this.hasText = res.message
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addOneTypeLoading = false
        })
    },
    // 加入全部非模板数据
    addCurNotTemp() {
      var params = {
        periodId: this.curCycle
      }
      this.addOneTypeLoading = true
      joinThisPeriodTemplate(params)
        .then(res => {
          this.addOneTypeLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showAddCurNotTempDialog = false
            this.getCjList()
          } else if (res.code == '313') {
            this.showAddCurNotTempDialog = false
            this.showHasDialog = true
            this.hasText = res.message
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addOneTypeLoading = false
        })
    },
    // 加入本期模板弹窗
    openAddCurTemp() {
      if (!this.curCycle) {
        this.$message({
          type: 'error',
          message: '请选择周期'
        })
        return
      }
      const detailParams = this.detailParams
      if (
        !detailParams ||
        detailParams.auditStatus == 2 ||
        detailParams.auditStatus == 3 ||
        detailParams.auditStatus == 4
      ) {
        this.$message({
          type: 'error',
          message: '不可加入本期模板'
        })
        return
      }

      for (var i = 0; i < this.cycleList.length; i++) {
        if (this.curCycle == this.cycleList[i].id) {
          this.curCycleName = this.cycleList[i].period
        }
      }

      // 不勾选材价则显示弹窗加入全部非模板数据
      if (this.multipleSelection.length == 0) {
        this.showAddCurNotTempDialog = true
        return
      }

      // 是否存在模板数据
      this.hasTemplateMat = false
      for (var j = 0; j < this.multipleSelection.length; j++) {
        if (this.multipleSelection[j].isTemplateMat) {
          this.hasTemplateMat = true
          break
        }
      }

      this.showAddCurTempTipDialog = true
    },
    // 获取周期信息
    getCycleInfo() {
      var params = {
        startDate: formatDate(this.startDate),
        endDate: formatDate(this.endDate)
      }
      getCycleInfo(params)
        .then(res => {
          if (res.code == '01') {
            this.cycleList = res.body || []
            // 首次加载显示当前时间对应周期
            try {
              const curDate = new Date().getTime()
              for (let i = 0; i < this.cycleList.length; i++) {
                const startDate = this.cycleList[i].startDate
                const endDate = this.cycleList[i].endDate
                if (
                  new Date(startDate).getTime() <= curDate &&
                  curDate <= new Date(endDate).getTime()
                ) {
                  this.curCycle = res.body[i].id
                  this.howPeriod = res.body[i].howPeriod
                }
              }
              // 若当前时间没有周期，则选最旧一期
              if (!this.curCycle) {
                this.curCycle = res.body[res.body.length - 1].id
                this.howPeriod = res.body[res.body.length - 1].howPeriod
              }
            } catch (err) {
              this.curCycle = null
              this.howPeriod = ''
            }
            this.getTempDetailInfo()
            this.getCjList()
          } else {
            this.tableLoading = false
          }
        })
        .catch(err => {
          this.getCjList()
          this.tableLoading = false
        })
    },
    // 获取所有周期信息
    getDialogCycleInfo() {
      getCycleInfo().then(res => {
        if (res.code == '01') {
          this.dialogCycleList = res.body || []
          this.dialogCycleList2 = JSON.parse(JSON.stringify(res.body))
          for (var i = 0; i < this.dialogCycleList.length; i++) {
            this.dialogCycleList[i].name =
              '第' + this.dialogCycleList[i].period + '期'
          }
          this.dialogCycleList.unshift({
            howPeriod: '通用模板',
            id: 'all'
          })
        }
      })
    },
    // 确定导入材价文件
    confirmUploadMode() {
      if (!this.curDialogType) {
        this.$message({
          type: 'error',
          message: '请选择材价类型'
        })
        return
      } else if (!this.curDialogSource) {
        this.$message({
          type: 'error',
          message: '请选择材价来源'
        })
        return
      } else if (!this.dialogCurCycle) {
        this.$message({
          type: 'error',
          message: '请选择适用周期'
        })
        return
      } else if (!this.cjFile || !this.cjFile.size) {
        this.$message({
          type: 'error',
          message: '请上传材价文件'
        })
        return
      }

      var formData = new FormData()
      formData.append('matTypeCode', this.curDialogType)
      formData.append('matSourceTypeCode', this.curDialogSource)
      // formData.append('city', this.curCity)
      formData.append('periodId', this.dialogCurCycle)
      formData.append('matPriceFile', this.cjFile)
      formData.append('isCustomize', this.isCustomize) // 是否自定义材价

      // 接口请求开始标准化效果
      if (!this.isCustomize) {
        // 非自定义材价
        this.startScan = true
        this.scanState = '0'
        this.scanTimer = setTimeout(() => {
          importCjFile(formData)
            .then(res => {
              if (res.code == '01') {
                this.scanState = '1'
                this.showExportDialog = false
                try {
                  this.failCount = res.body.failCount
                  this.successCount = res.body.successCount
                  this.downloadKey = res.body.downloadKey
                } catch (err) {}

                this.currentPage = 1
                // 后端为异步请求，故设置个500ms再取数据
                setTimeout(() => {
                  this.getCjList()
                  // stayCycle标识，无需刷新周期
                  this.getMaterialStockType('stayCycle')
                }, 500)
              } else {
                this.scanState = '2'
                this.$message({
                  type: 'error',
                  message: res.message
                })
              }
            })
            .catch(err => {
              this.scanState = '2'
            })
        }, this.$store.getters.loadingTime4)
      } else {
        // 自定义材价
        this.showExportDialog = false
        this.resStatus = 3
        this.showResDialog = true // 导入结果弹窗
        importCjFile(formData)
          .then(res => {
            if (res.code == '01') {
              const that = this
              setTimeout(function() {
                that.resStatus = 1
              }, 2500)
              try {
                this.failCount = res.body.failCount
                this.successCount = res.body.successCount
                this.downloadKey = res.body.downloadKey
              } catch (err) {}

              this.currentPage = 1
              // 后端为异步请求，故设置个500ms再取数据
              setTimeout(() => {
                this.getCjList()
                // stayCycle标识，无需刷新周期
                this.getMaterialStockType('stayCycle')
              }, 500)
            } else {
              this.resStatus = 2
              this.errMsg = res.message
            }
          })
          .catch(err => {})
      }
    },
    // 选择分类
    dialogChangeCustomType(val) {
      for (var i = 0; i < this.customType.length; i++) {
        if (val === this.customType[i].id) {
          this.curTowTypeList = this.customType[i].sub
          this.curTwoType = ''
        }
      }
    },
    // 确定修改分类
    confirmChangeType() {
      if (!this.curOneType) {
        this.$message({
          type: 'error',
          message: '请选择一级分类'
        })
        return
      }
      var ids = []
      if (this.multipleSelection.length > 0) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      }
      var params = {
        matPriceLibIds: ids.join(','),
        customId: this.curTwoType ? this.curTwoType : this.curOneType
      }
      this.dialogTypeLoading = true
      updateCjType(params)
        .then(res => {
          this.dialogTypeLoading = false
          if (res.code === '01') {
            this.showTypeDialog = false
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getCjList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.dialogTypeLoading = false
        })
    },
    // 分类调整
    setType() {
      var ids = []
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      this.curTowTypeList = []
      this.curOneType = null
      this.curTwoType = null
      this.showTypeDialog = true
    },
    // 上传材价文件
    uploadCjFile(e) {
      var file = e.target.files[0]
      if (file.name.indexOf('.xls') > -1 || file.name.indexOf('.xlsx') > -1) {
        this.cjFile = file
      } else {
        this.$message({
          type: 'error',
          message: '只支持上传xls或xlsx格式的Excel文件'
        })
      }
    },
    // 材价类型
    getMaterialTypeList() {
      this.cjTypeList = []
      var params = {
        dictTypeId: 'MAT_TYPE'
      }
      getSysDictList(params).then(res => {
        this.cjTypeList = res.body || []
      })
    },
    // 材价来源
    getMaterialSource() {
      var params = {
        dictTypeId: 'MAT_SOURCE_TYPE'
      }
      getSysDictList(params).then(res => {
        this.cjSource = res.body
      })
    },
    // 添加材价按钮
    showExport(type) {
      if (type == '1') {
        // 添加材价
        this.isCustomize = false
      } else if (type == '2') {
        // 添加自定义材价
        this.isCustomize = true
      }
      this.showExportDialog = !this.showExportDialog
      // 默认选中第一个
      try {
        this.curDialogType = this.cjTypeList[0].dictCode
      } catch (err) {
        this.curDialogType = ''
      }
      try {
        this.curDialogSource = this.cjSource[0].dictCode
      } catch (err) {
        this.curDialogSource = ''
      }
      // 默认选择当前周期
      this.dialogCurCycle = this.curCycle
      this.dialogCurCycle2 = this.curCycle
      this.cjFile = {}
      try {
        this.$refs.fileElem.value = null
      } catch (err) {}
    },
    // 跳转相同材价库
    skipComCj(item) {
      sessionStorage.setItem('cj_item', JSON.stringify(item))
      this.$router.push({
        path: '/materialManage/commonMaterial/index',
        query: {
          zcode: item.zcode,
          materialId: item.materialId,
          cycleId: this.curCycle
        }
      })
    },
    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }
      var isTemplateMat = null
      switch (this.isTemplateMat) {
        case 'all':
          isTemplateMat = null
          break
        case 'yes':
          isTemplateMat = true
          break
        case 'no':
          isTemplateMat = false
          break
      }
      var data = {
        periodId: this.curCycle ? this.curCycle : null,
        custcid: this.customCode ? this.customCode : null,
        isTemplateMat: isTemplateMat,
        keyword: this.searchVal,
        matSourceTypeCode: this.curSource ? this.curSource : null,
        matTypeCode: this.curType ? this.curType : null,
        subcid: this.normCode ? this.normCode : null
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportTempFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportFile() {
      var ids = []
      if (this.multipleSelection.length > 0) {
        for (var i = 0; i < this.multipleSelection.length; i++) {
          ids.push(this.multipleSelection[i].id)
        }
      } else {
        this.exportAllFile()
        return
      }
      var data = {
        ids: ids
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportTempFile(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价信息.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 删除材价
    deleteCj() {
      if (this.multipleSelection.length == 0) {
        this.openAlert()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id + '')
      }
      var params = {
        ids: ids.join(','),
        periodId: this.curCycle
      }

      this.$confirm('确定删除选中材价吗?', '删除', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.deleteLoading = true
        deleteCjItem(params)
          .then(res => {
            this.deleteLoading = false
            if (res.code === '01') {
              this.$message({
                type: 'success',
                message: res.message
              })
              this.getCjList()
            } else {
              this.$message({
                type: 'error',
                message: res.message
              })
            }
          })
          .catch(err => {
            this.deleteLoading = false
          })
      })
    },
    // 切换自定义材料分类
    changeCustomType(index, code) {
      this.customTypeItem = []
      this.currentPage = 1
      this.curCustomType = code
      this.curCustomTypeItem = ''
      this.customCode = code
      if (index !== '') {
        if (this.customType && this.customType.length > 0) {
          this.customTypeItem = this.customType[index].sub
        }
      }

      this.getCjList()
    },
    changeCustomTypeItem(name, code) {
      this.currentPage = 1
      this.curCustomTypeItem = name
      if (code !== '') {
        this.customCode = code
      } else {
        this.customCode = this.curCustomType
      }

      this.getCjList()
    },
    // 切换标准化
    changeNormLabel(label) {
      this.currentPage = 1
      this.curNormLabel = label

      this.getCjList()
    },
    // 切换国标分类
    changeNormType(index, code) {
      this.currentPage = 1
      this.curNormType = code
      this.curNormTypeItem = ''
      this.normCode = code
      if (index !== '') {
        this.normTypeItem = this.normType[index].sub
      } else {
        this.normTypeItem = []
      }

      this.getCjList()
    },
    changeNormTypeItem(name, code) {
      this.currentPage = 1
      this.curNormTypeItem = name
      if (code !== '') {
        this.normCode = code
      } else {
        this.normCode = this.curNormType
      }

      this.getCjList()
    },
    // 获取材价分类
    getMaterialStockType(type) {
      this.tableLoading = true
      getCjType()
        .then(res => {
          if (res.code == '01') {
            // 自定义材料分类
            this.customType = res.body.custcTypes
            // 国标分类
            this.normType = res.body.subcTypes

            if (type !== 'stayCycle') {
              this.getCycleInfo()
            }
          } else {
            this.tableLoading = false
          }
        })
        .catch(err => {
          this.tableLoading = false
        })
    },
    // 获取材价列表
    getCjList() {
      if (!this.curCycle) {
        this.tableLoading = false
        return
      }
      var isTemplateMat = null
      switch (this.isTemplateMat) {
        case 'all':
          isTemplateMat = null
          break
        case 'yes':
          isTemplateMat = true
          break
        case 'no':
          isTemplateMat = false
          break
      }
      var isFormat = this.standardType == 0 ? null : this.standardType == 1
      var data = {
        isFormat: isFormat,
        currentPage: this.currentPage,
        customId: this.customCode ? this.customCode : null,
        isGetCount: this.isGetCount,
        isTemplateMat: isTemplateMat,
        keyword: this.searchVal ? this.searchVal : null,
        pageSize: this.pageSize,
        subcid: this.normCode ? this.normCode : null,
        periodId: this.curCycle ? this.curCycle : null,
        userId: this.userId ? this.userId : null,
        matSourceTypeCode: this.curSource ? this.curSource : null,
        matTypeCode: this.curType ? this.curType : null
      }
      this.tableLoading = true
      this.tableData = []
      getCjData(data)
        .then(res => {
          this.tableLoading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.tableLoading = false
        })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getCjList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.upload-material-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .search-type {
      padding: 20px 20px 0 20px;
      width: 100%;
      background: none;
      .s-text {
        margin-right: 19px;
        white-space: nowrap;
      }
    }
    .cycle-wrap {
      padding: 20px;
      > span {
        margin-right: 19px;
        color: #333;
        font-size: 14px;
      }
      .el-select {
        width: 310px;
      }
    }
    .select-mode {
      padding: 0 20px;
      margin-bottom: 16px;
    }
  }
  .search-type {
    padding: 20px 60px 6px 20px;
    width: 100%;
    background: #f7f7f7;
    .custom-type,
    .norm-type {
      > span {
        margin-right: 15px;
        color: #333;
        font-size: 14px;
        white-space: nowrap;
      }
      .t-wrap {
        max-width: 100%;
        box-sizing: border-box;
        .no-item {
          margin-bottom: 18px;
          color: $color-minor;
          font-size: 14px;
        }
        ul {
          margin-bottom: 10px;
          &.all-list {
            padding: 5px 12px;
            background: #fff;
            box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
            border-radius: 5px;
            li {
              padding-top: 8px;
              padding-bottom: 8px;
              &:last-child {
                margin-right: 0;
              }
            }
          }
          li {
            padding-bottom: 8px;
            margin-right: 24px;
            font-size: 14px;
            color: #666;
            cursor: pointer;
            &.active {
              color: $color-minor;
            }
            &:hover {
              color: $color-minor;
            }
          }
        }
      }
      .el-icon-arrow-up {
        font-size: 16px;
        font-weight: bold;
        &.is-rotate {
          transform: rotate(180deg);
        }
      }
      .is-fold {
        height: 50px;
        overflow-y: hidden;
      }
    }
  }
  .table-wrap {
    .mytemp {
      padding-right: 20px;
      position: relative;
      .tips {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 20px;
        bottom: -2px;
      }
      .edit-wrap {
        span {
          cursor: pointer;
          color: $color-primary;
          &:first-child {
            padding-right: 15px;
          }
        }
      }
    }
    .cj-count {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      color: #2773fc;
    }
  }
  .edit-wrap {
    display: flex;
    flex-direction: column;
    span {
      cursor: pointer;
      color: $color-primary;
      &:first-child {
        padding-right: 15px;
        line-height: 40px;
      }
    }
  }
  .export-wrap,
  .set-type-wrap {
    > div {
      margin-bottom: 15px;
      > span {
        margin-right: 8px;
        white-space: nowrap;
      }
    }
    .cj-upload {
      width: 100%;
      > div {
        position: relative;
        width: 100%;
      }
      .u-ipt {
        padding-left: 10px;
        width: 100%;
        height: 34px;
        line-height: 34px;
        border: 1px solid #dcdfe6;
        border-radius: 4px;
      }
      .u-btn {
        max-width: 66px;
        min-width: 66px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #fff;
        background: #2773fc;
        border-radius: 0 4px 4px 0;
      }
      .u-file {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
      }
      .u-dot {
        position: absolute;
        top: 1px;
        right: 66px;
        width: 36px;
        height: 32px;
        line-height: 27px;
        text-align: center;
        background: #edeff3;
        color: #333;
        font-size: 14px;
        font-weight: bold;
      }
    }
    .u-mode-btn {
      color: #2773fc;
      cursor: pointer;
    }
  }
  .set-type-wrap {
    > div {
      text-align: center;
    }
  }

  .warning-dialog {
    .dialog-content {
      text-align: center;
      width: 100%;
      font-size: 14px;
      color: #333;
      img {
        margin-bottom: 15px;
      }
      .label-text {
        margin-top: 5px;
        margin-bottom: 15px;
      }
      .tip-text {
        margin-bottom: 5px;
        color: #999;
        font-size: 12px;
      }
    }
  }
  .re-standard {
    padding: 20px;
    color: #333333;
    .suc-num3 {
      color: #8cc929;
    }
    .err-num3 {
      color: #ff3c3c;
    }
    img {
      margin-bottom: 20px;
    }
    .dialog-content {
      text-align: center;
    }
  }

  .resultdialog {
    .scan-success2 {
      flex-direction: column;
      padding: 48px 0 20px 0;
      font-size: 14px;
      color: #333;
      .img2 {
        width: 56px;
        height: 56px;
        margin-bottom: 30px;
      }
      .suc-num2 {
        color: #8cc929;
      }
      .err-num2 {
        color: #ff3c3c;
      }
    }
  }
}
</style>
<style lang="scss">
@import '../../styles/variables.scss';
.upload-material-container {
  .select-mode {
    .el-radio__input.is-checked .el-radio__inner {
      background: #fff;
    }
    .el-radio__inner::after {
      width: 8px;
      height: 8px;
      background: $color-primary;
    }
  }
  .el-table td,
  .el-table th {
    &:first-child {
      text-align: center;
    }
  }
  .cycle-select {
    .el-input__inner {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .set-type-wrap {
    .el-input {
      width: 200px;
    }
    .el-select .el-input__inner {
      width: 175px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
</style>
