<template>
  <div class="material-count-detail">
    <div class="up-wrap">
      <h3>
        <span>{{name}}</span>
        <span v-if="deptName">（{{deptName}}）</span>
      </h3>

      <div class="search-type">
        <div class="flex-c">
          <span class="s-text com-label-text">时间</span>
          <div class="com-time-search">
            <el-date-picker v-model="startDate" type="date" placeholder="选择日期" @change="toggleDate()">
            </el-date-picker>
          </div>
          <span class="com-line"></span>
          <div class="com-time-search">
            <el-date-picker v-model="endDate" type="date" placeholder="选择日期" @change="toggleDate()">
            </el-date-picker>
          </div>
        </div>
      </div>

      <div class="com-search">
        <el-input class="search-ipt" placeholder="搜索关键字，如：编码、名称" v-model="searchKeyword" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc"></i>
      </div>

      <div class="com-table">
        <el-table :data="modeList" tooltip-effect="dark" v-loading="loading" style="width: 100%;" @selection-change="handleSelectionChange">
          <el-table-column label="周期">
            <template slot-scope="scope">
              <div class="cp p-color" @click="skipDetail(scope.row)">{{scope.row.howPeriod}}</div>
            </template>
          </el-table-column>
          <el-table-column label="最后上传时间">
            <template slot-scope="scope">
              <span>{{scope.row.lastTime | filterDate}}</span>
            </template>
          </el-table-column>
          <el-table-column label="报价数量">
            <template slot-scope="scope">
              <span>{{scope.row.quantityCount || 0}}</span>
            </template>
          </el-table-column>
          <el-table-column label="送审报价">
            <template slot-scope="scope">
              <span>{{scope.row.submittedCount || 0}}</span>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="changePageSize">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import { queryMaterialDetailCount } from '@/api/cs/materialManage'

export default {
  name: 'MaterialCountDetail',
  data() {
    return {
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      modeList: [],
      multipleSelection: [],
      loading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      id: null,
      name: null,
      deptName: null,
      startDate: null,
      endDate: null
    }
  },
  mounted() {
    var year = new Date().getFullYear()
    this.startDate = year + '-01-01'
    this.endDate = year + '-12-31'
    this.id = this.$route.query.id
    this.name = this.$route.query.name
    this.deptName = this.$route.query.deptName
    this.getTempList()
  },
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    }
  },
  methods: {
    // 跳转详情
    skipDetail(item) {
      this.$router.push({
        path: '/userManage/materialDetail',
        query: {
          periodId: item.periodId,
          uploaderId: item.uploaderId
        }
      })
    },
    // 选择适用时间
    toggleDate() {
      this.currentPage = 1
      this.getTempList()
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getTempList()
    },
    // 获取模板列表
    getTempList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        beginOn: formatDate(this.startDate),
        endOn: formatDate(this.endDate),
        keyword: this.searchKeyword,
        uploaderId: this.id
      }
      this.loading = true
      queryMaterialDetailCount(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.modeList = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 切换pageSize
    changePageSize() {
      this.currentPage = 1
      this.getTempList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getTempList()
    }
  }
}
</script>

<style lang="scss" scoped>
.material-count-detail {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .up-wrap {
    padding: 20px 0 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    h3 {
      padding-left: 20px;
      margin: 0 0 20px 0;
      font-size: 26px;
      color: #333;
    }
  }
  .search-type {
    padding: 0 20px 20px 20px;
    width: 100%;
    background: none;
    .s-text {
      margin-right: 15px;
      white-space: nowrap;
    }
  }
}
</style>
