<template>
  <div class="material-count com-input">
    <div class="up-wrap">
      <!-- 搜索 -->
      <div class="com-search">
        <el-input class="search-ipt" placeholder="搜索关键字，如：编码、名称" v-model="searchKeyword" @keyup.enter.native="searchFunc" />
        <i class="el-icon-search" @click="searchFunc"></i>
      </div>
      <!-- 搜索 end -->
      <!-- 筛选 -->
      <div class="search-type">
        <div class="flex-fs custom-type">
          <span class="com-label-text">企业类型</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curCompanyTypeCode === null}" @click="toggleCompanyType(null)">全部</li>
              <li :class="{active: curCompanyTypeCode === item.dictCode}" v-for="(item, index) in companyTypeList" :key="index" @click="toggleCompanyType(item.dictCode)">
                {{item.dictName}}
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="flex-fs custom-type">
          <span><span class="com-alt">占</span>上报数</span>
          <div class="t-wrap">
            <ul class="flex-cw">
              <li :class="{active: curReport === null}" @click="toggleReport(null)">全部</li>
              <li
                :class="{active: curReport === item}"
                v-for="(item, index) in reportList"
                :key="index"
                @click="toggleReport(item)">
                {{item}}
              </li>
            </ul>
          </div>
        </div> -->
      </div>
      <!-- 筛选 end -->
      <!-- 表格 -->
      <div class="com-table table-wrap">
        <div class="flex-c com-operate-wrap">
          <el-button class="has-primary-btn" :loading="exportLoading" @click="exportFile" v-has="$roles.fun_raiseprice_count_export">导出</el-button>
        </div>
        <el-table ref="multipleTable" :data="tableData" tooltip-effect="dark" v-loading="loading" row-key="id" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" :reserve-selection="true" width="80px">
          </el-table-column>
          <el-table-column prop="userAccount" label="账号">
          </el-table-column>
          <el-table-column prop="userName" label="采集员">
          </el-table-column>
          <el-table-column prop="unitName" label="单位">
          </el-table-column>
          <el-table-column prop="phone" label="电话">
          </el-table-column>
          <el-table-column prop="dictName" label="单位类型">
          </el-table-column>
          <el-table-column label="报价数量">
            <template slot-scope="scope">
              <span>{{scope.row.quantityCount || 0}}</span>
            </template>
          </el-table-column>
          <el-table-column label="有效报价">
            <template slot-scope="scope">
              <span>{{scope.row.submittedCount || 0}}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <div class="icon-wrap">
                <span @click="skipDetail(scope.row)">
                  <el-tooltip effect="light" content="详情" placement="top">
                    <img src="@/assets/img/icons/details.png" alt="">
                  </el-tooltip>
                </span>
              </div>
            </template>
          </el-table-column>
        </el-table>

        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item">
                </el-option>
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{totalCount}}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background @current-change="handleCurrentChange" :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount">
            </el-pagination>
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
      <!-- 表格 end -->
    </div>

    <!-- 导出弹窗 -->
    <el-dialog title="导出" :visible.sync="showExportDialog" :close-on-click-modal="false" width="491px" class="com-dialog">
      <div class="ta-center">
        <img src="@/assets/img/icons/ex_icon.png" alt="">
        <p>是否导出选择的数据？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showExportDialog = !showExportDialog">取消</el-button>
        <el-button type="primary">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getSysDictList,
  queryMaterialCount,
  exportMaterialCount
} from '@/api/cs/materialManage'
export default {
  name: 'MaterialCount',
  data() {
    return {
      searchKeyword: null,
      companyTypeList: [], // 企业类型
      curCompanyTypeCode: null, // 当前选中企业类型code
      reportList: ['0', '0~500', '500~1000', '1000~1500', '1500以上'], // 上报数
      curReport: null,
      minNumber: null,
      maxNumber: null,
      tableData: [],
      multipleSelection: [],
      pageSize: 10,
      currentPage: 1,
      totalCount: 0,
      loading: false,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      showExportDialog: false,
      exportLoading: false
    }
  },
  mounted() {
    this.getDataList()
    this.getCompanyTypeList()
  },
  methods: {
    // 全部导出
    exportAllFile() {
      if (this.totalCount == 0) {
        this.$message({
          type: 'error',
          message: '没有可导出的数据'
        })
        return
      }

      var data = {
        keyword: this.searchKeyword,
        minCount: this.minNumber,
        maxCount: this.maxNumber,
        dictCode: this.curCompanyTypeCode
      }
      this.$confirm('确定导出全部数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMaterialCount(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价汇总.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价汇总.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 导出
    exportFile() {
      if (this.multipleSelection.length == 0) {
        this.exportAllFile()
        return
      }
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }

      var data = {
        ids: ids
      }
      this.$confirm('确定导出当前勾选的数据?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.exportLoading = true
        exportMaterialCount(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '材价汇总.xls'
              )
              this.exportLoading = false
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {
              this.exportLoading = false
            }
            // 读取文件成功
            fileReader.onload = event => {
              this.exportLoading = false
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '材价汇总.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              this.exportLoading = false
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {
            this.exportLoading = false
          })
      })
    },
    // 切换上报数
    toggleReport(item) {
      this.curReport = item
      this.currentPage = 1
      var minCount = null
      var maxCount = null
      if (item === null) {
      } else if (item === '0') {
        minCount = 0
        maxCount = 0
      } else if (item === '1500以上') {
        minCount = 1500
      } else {
        minCount = item.split('~')[0]
        maxCount = item.split('~')[1]
      }
      this.minNumber = Number(minCount)
      this.maxNumber = Number(maxCount)
      this.currentPage = 1
      this.getDataList()
    },
    // 切换企业类型
    toggleCompanyType(code) {
      this.curCompanyTypeCode = code
      this.currentPage = 1
      this.getDataList()
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 获取列表数据
    getDataList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.searchKeyword,
        minCount: this.minNumber,
        maxCount: this.maxNumber,
        dictCode: this.curCompanyTypeCode
      }
      this.loading = true
      queryMaterialCount(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 跳转详情
    skipDetail(item) {
      this.$router.push({
        path: '/userManage/materialCountDetail/index',
        query: {
          id: item.id,
          name: item.userName,
          deptName: item.deptName
        }
      })
    },
    // 导出弹窗
    openExportDialog() {
      if (this.multipleSelection.length === 0) {
        this.openAlert()
        return
      }
      this.showExportDialog = !this.showExportDialog
    },
    // 获取企业类型
    getCompanyTypeList() {
      var params = {
        dictTypeId: 'ENTERPRISE_TYPE'
      }
      getSysDictList(params).then(res => {
        this.companyTypeList = res.body
      })
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    openAlert() {
      this.$alert('请至少选择一条数据', '提示', {
        confirmButtonText: '确定',
        type: 'warning'
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../styles/variables.scss';
.material-count {
  .up-wrap {
    padding: 20px 0 45px 0;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    .top-search {
      padding: 0 20px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      .search-ipt {
        width: 315px;
        height: 34px;
        border-radius: 5px 0px 0px 5px;
      }
      .search-btn {
        width: 86px;
        height: 34px;
        text-align: center;
        background: $color-primary;
        box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
        border-radius: 0px 5px 5px 0px;
        color: #fff;
      }
    }
    .search-type {
      padding: 20px 20px 0px 20px;
      width: 100%;
      background: #f7f7f7;
      .custom-type {
        > span {
          margin-right: 15px;
          white-space: nowrap;
        }
        .t-wrap {
          max-width: 100%;
          box-sizing: border-box;
          ul {
            margin-bottom: 10px;
            li {
              margin-bottom: 8px;
              margin-right: 24px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              &.active {
                color: $color-minor;
              }
              &:hover {
                color: $color-minor;
              }
            }
          }
        }
      }
      .ct-input {
        width: 110px;
      }
      .ct-btn {
        button {
          padding: 0;
          width: 60px;
          height: 34px;
          line-height: 34px;
        }
      }
    }
  }
  .com-dialog {
    p {
      margin-top: 15px;
      color: #333;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
</style>