<template>
  <div class="user-manage-container">
    <div class="up-wrap com-el-tabs">
      <Account />
    </div>
  </div>
</template>

<script>
import Account from './components/Account'
export default {
  name: 'UserManage',
  components: {
    Account
  }
}
</script>

<style lang="scss" scoped>
.user-manage-container {
  .up-wrap {
    padding-bottom: 30px;
    width: 100%;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
</style>