@font-face {
  font-family: "iconfont"; /* Project id 3421372 */
  src: url('iconfont.woff2?t=1657697667251') format('woff2'),
       url('iconfont.woff?t=1657697667251') format('woff'),
       url('iconfont.ttf?t=1657697667251') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenhao:before {
  content: "\e67b";
}

.icon-hit:before {
  content: "\e67a";
}

.icon-zhanghaoshezhi:before {
  content: "\e665";
}

.icon-yonghuguanli:before {
  content: "\e666";
}

.icon-jiaosequanxian:before {
  content: "\e667";
}

.icon-gaimima:before {
  content: "\e668";
}

.icon-shouye:before {
  content: "\e669";
}

.icon-mobanguanli:before {
  content: "\e66a";
}

.icon-cesuanjiapingshen:before {
  content: "\e66b";
}

.icon-fabuguanli:before {
  content: "\e66c";
}

.icon-shujucaijitiqu:before {
  content: "\e66d";
}

.icon-xinxijia:before {
  content: "\e66e";
}

.icon-pingjia:before {
  content: "\e66f";
}

.icon-caijiaku:before {
  content: "\e670";
}

.icon-pinpaiku:before {
  content: "\e671";
}

.icon-caijiyuanguanli:before {
  content: "\e672";
}

.icon-canshushezhi:before {
  content: "\e673";
}

.icon-zhibiaoguanli:before {
  content: "\e674";
}

.icon-zhibiaoyingyong:before {
  content: "\e675";
}

.icon-xiangmuguanli:before {
  content: "\e676";
}

.icon-wendangguanli:before {
  content: "\e677";
}

.icon-caijiaguanli:before {
  content: "\e678";
}

.icon-xunjiaguanli:before {
  content: "\e679";
}

