<template>
  <!-- <div style=" height:11rem ; "> -->
  <div class="dashboard-container" :class="{ 'opened': opened }">

    <!-- echarts map地图的areaColor背景图 -->
    <img id="mapBg" class="map-bg" src="@/assets/img/cs/home/map_bg.png" alt="">
    <!-- 导航下拉框 -->
    <!-- <div class="quitmeun">
        <el-dropdown class="flex-c avatar-container" trigger="hover">
          <span class="flex-c el-dropdown-link">
            <i class="el-icon-caret-bottom" />
          </span>
          <el-dropdown-menu slot="dropdown" class="user-dropdown">
            <el-dropdown-item @click.native="skipPage('/userinfo')">
              <span class="el-icon el-icon-user" />
              <span>个人信息</span>
            </el-dropdown-item>
            <el-dropdown-item @click.native="skipPage('/userinfo?to=pwd')">
              <span class="el-icon el-icon-unlock" />
              <span>修改密码</span>
            </el-dropdown-item>
            <el-dropdown-item @click.native="logout">
              <span class="el-icon el-icon-switch-button" />
              <span>退出登录</span>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div> -->
    <!-- 背景图 -->
    <div class="home-bg-color" />

    <!-- 主体 -->
    <div style="height:100%;">
      <!-- 中部 -->
      <div class="flex-fsb center-wrap" style="">
        <!-- 材料清单列表 -->
        <ul class="mat-list">
          <img v-for="(item, index) in 4" :key="index + 99" class="block-img" :class="'block-img' + (index + 1)" src="@/assets/img/cs/home/block_icon.png" alt="">
          <li class="flex-cc titles">
            <span class="name ellipsis1">材料名称</span>
            <span class="util">单位<span class="com-alt">占位</span></span>
            <span class="spec ellipsis1">规格</span>
          </li>
          <li v-for="(item, index) in matList" :key="index" class="flex-cc cp" :class="{'active': zcode == item.detailId}" @click="changeMat(item)">
            <span class="doc" :style="zcode == item.detailId ? 'background-color:#F9A147;':''" />
            <span class="name ellipsis1" :title="item.name">{{ item.name }}</span>
            <span class="util util-v">{{ item.unit }}<span class="com-alt">占位</span></span>
            <span class="spec spec-v ellipsis1" :title="item.spec">{{ item.spec }}</span>
            <img v-if="zcode == item.detailId" class="active-icon" src="@/assets/img/cs/home/r_icon.png" alt="">
          </li>
        </ul>
        <!-- 材料清单列表 end -->

        <!-- 地图 -->
        <div class="map-wrap">
          <div class="flex-ccw mat-count">
            <div class="flex-c">
              <span style="min-width:1.1875rem;letter-spacing:.025rem;word-break:keep-all;font-size:.25rem;font-family:'Source Han Sans CN';font-weight: 500;">材价总数:</span>
              <ul class="flex-c">
                <li v-for="(item, index) in currMatCount" :key="index" class="flex-c">
                  <div class="flex-cc num-wrap" :style="currMatCount&&currMatCount.length>7?'width:0.8rem;height:0.8rem;':''">
                    <span>{{ item }}</span>
                    <img src="@/assets/img/cs/home/num_bg.png" alt="">
                  </div>
                  <span v-if="((index + 1) % 3 === 0) && (index < currMatCount.length - 1)" class="dot">,</span>
                </li>
              </ul>
            </div>
            <div class="flex-c">
              <span style="min-width:1.1rem;letter-spacing:.025rem;">比上月多</span>
              <span class="more-text">{{ moreLastMonth }}</span>
              <img src="@/assets/img/cs/home/top_icon.png" alt="" :style="moreLastMonth < 0 ? 'transform: rotate(180deg);' : ''">
            </div>
          </div>
          <div class="b-s-count">
            <span>品牌: {{ brand }}</span>
            <span>供应商: {{ supplier }}</span>
          </div>
          <div class="box">
            <div class="bling" />
            <div id="mapChart" class="map-chart" />
          </div>
        </div>
        <!-- 地图 end -->

        <!-- 趋势 -->
        <div class="trend-wrap">
          <!-- 信息价趋势 -->
          <div class="info-wrap">
            <img v-for="(item, index) in 4" :key="index + 99" class="block-img" :class="'block-img' + (index + 1)" src="@/assets/img/cs/home/block_icon.png" alt="">
            <div class="c-wrap">
              <div class="flex-csb c-title">
                <p class="ellipsis1">{{ curMatName }}信息价趋势</p>
                <el-popover v-model="trendVisible" placement="bottom-end" :offset="12" trigger="click">
                  <div slot="reference" class="icon-box">
                    <span class="icon iconfont icon-zhanghaoshezhi" />
                  </div>

                  <div :class="$style.search">
                    <div>
                      <!-- <span class="fw-b" :class="$style['s-text']">时间</span> -->
                      <!-- <div class="com-time-search">
                        <el-date-picker v-model="searchQuery.startTrendDate" type="month" value-format="yyyy-MM" placeholder="选择月" @change="sortDate('startTrendDate', 'endTrendDate')" />
                      </div>
                      <span class="com-line" />
                      <div class="com-time-search">
                        <el-date-picker v-model="searchQuery.endTrendDate" type="month" value-format="yyyy-MM" placeholder="选择月" @change="sortDate('startTrendDate', 'endTrendDate')" />
                      </div> -->
                      <div class="date-type">
                        <div v-for="(item, index) in dateType" :key="item.name" :class="['type-item', trendDateTypeActive === item.type ? 'active' : '']" @click="changeTrendDateType(item, index)">
                          {{ item.name }}</div>
                      </div>
                      <!-- <DateRangePiceker v-model="trendDateRange" type="month" value-format="yyyy-MM" placeholder="选择月" /> -->
                    </div>
                    <!-- <div class="btn-box">
                      <el-button size="medium" type="primary" @click="getMsgPriceData">确定</el-button>
                    </div> -->
                  </div>
                </el-popover>
              </div>

              <div v-show="infoPriceTrends && infoPriceTrends.length > 0" id="infoPriceChart" class="info-price-chart" @click="showInfoDialog = true" />
              <div v-show="!infoPriceTrends || infoPriceTrends.length == 0" v-loading="infoPriceTrendsLoading" element-loading-text="数据加载中" element-loading-background="rgba(0, 0, 0, 0.3)"
                class="info-price-chart flex-cc no-data">{{ infoPriceTrendsLoading ? '':'暂无数据' }}</div>
            </div>
          </div>
          <el-dialog :title="`${curMatName}信息价趋势`" :visible.sync="showInfoDialog" :close-on-click-modal="false" width="80%" :class="['com-dialog', $style['chart-dialog']]"
            @open="openInfoPriceChartBig">
            <template #title>
              <div class="flex-csb title">
                <span>{{ curMatName }}信息价趋势</span>
                <el-popover v-model="trendVisibleBig" placement="bottom-end" :offset="10" trigger="click">
                  <div slot="reference" class="icon-box">
                    <span class="set-btn icon iconfont icon-zhanghaoshezhi" />
                  </div>

                  <div :class="$style.search" style="width: 352px">
                    <div>
                      <!-- <span class="fw-b" :class="$style['s-text']">时间</span> -->
                      <!-- <div class="com-time-search">
                        <el-date-picker v-model="searchQuery.startTrendDate" type="month" value-format="yyyy-MM" placeholder="选择月" @change="sortDate('startTrendDate', 'endTrendDate')" />
                      </div>
                      <span class="com-line" />
                      <div class="com-time-search">
                        <el-date-picker v-model="searchQuery.endTrendDate" type="month" value-format="yyyy-MM" placeholder="选择月" @change="sortDate('startTrendDate', 'endTrendDate')" />
                      </div> -->
                      <div class="date-type mb-20">
                        <div v-for="(item, index) in dateType" :key="item.name" :class="['type-item', trendDateTypeActive === item.type ? 'active' : '']" @click="changeTrendDateType(item, index)">
                          {{ item.name }}</div>
                      </div>
                      <DateRangePiceker v-model="trendDateRange" :type="trendDateTypeActive" value-format="yyyy-MM-dd" :placeholder="`选择${dateType[trendDateTypeIndex].name}`"
                        @change="changeTrendDateRange" />
                    </div>
                    <!-- <div class="btn-box">
                      <el-button size="medium" type="primary" @click="getMsgPriceData">确定</el-button>
                    </div> -->
                  </div>
                </el-popover>
              </div>
            </template>
            <div v-show="infoPriceTrendsAll && infoPriceTrendsAll.length > 0" id="infoPriceChartBig" class="info-price-chart-big" />
            <div v-show="!infoPriceTrendsAll || infoPriceTrendsAll.length == 0" v-loading="infoPriceTrendsAllLoading" element-loading-text="数据加载中" element-loading-background="rgba(0, 0, 0, 0.3)"
              class="flex-cc no-data info-price-chart-big">{{ infoPriceTrendsAllLoading ? '':'暂无数据' }}</div>
          </el-dialog>
          <!-- 信息价趋势 end-->
          <!-- <div>{{ (latestAroundCityPrices[0].city === ' ' && priorAroundCityPrices[0].city === ' ') }}</div> -->
          <!-- 周边城市 -->
          <div class="city-wrap">
            <img v-for="(item, index) in 4" :key="index + 99" class="block-img" :class="'block-img' + (index + 1)" src="@/assets/img/cs/home/block_icon.png" alt="">
            <div class="c-wrap">
              <div class="flex-csb c-title">
                <p>周边城市信息价对比</p>
                <el-popover v-model="aroudVisible" placement="bottom-end" :offset="12" trigger="click">
                  <div slot="reference" class="icon-box">
                    <span class="icon iconfont icon-zhanghaoshezhi" />
                  </div>

                  <div :class="$style['search-city']">
                    <div v-for="item in cityList" :key="item" :class="['city-item', cityActive.includes(item) ? 'active' : '']" @click="selectCity(item)">{{ item }}</div>
                  </div>
                </el-popover>
              </div>

              <div v-show="(latestAroundCityPrices && latestAroundCityPrices.length > 0 ) || (priorAroundCityPrices && priorAroundCityPrices.length > 0 )" id="cityChart" class="city-chart" />
              <!-- @click="showCityDialog=true" -->
              <div v-show="(!latestAroundCityPrices && !priorAroundCityPrices) || (latestAroundCityPrices.length == 0 && priorAroundCityPrices.length == 0)" v-loading="latestAroundCityPricesLoading"
                element-loading-text="数据加载中" element-loading-background="rgba(0, 0, 0, 0.3)" class="city-chart flex-cc no-data">{{ latestAroundCityPricesLoading ? '':'暂无数据' }}
              </div>
            </div>
          </div>
          <el-dialog :title="`周边城市信息价对比`" :visible.sync="showCityDialog" :close-on-click-modal="false" width="80%" :class="['com-dialog', $style['chart-dialog']]" @open="openCityChartBig">
            <div v-show="aroundCityPricesAll && aroundCityPricesAll.length" id="cityChartBig" class="city-chart-big" />
            <div v-show="!aroundCityPricesAll || aroundCityPricesAll.length == 0" v-loading="aroundCityPricesAllLoading" element-loading-text="数据加载中" element-loading-background="rgba(0, 0, 0, 0.3)"
              class="flex-cc no-data city-chart-big">{{ aroundCityPricesAllLoading ? '':'暂无数据' }}</div>
          </el-dialog>
          <!-- 周边城市 end-->
        </div>
        <!-- 趋势 end -->
      </div>

      <!-- 常见材料周边城市对比 -->
      <div class="equal-wrap">
        <img v-for="(item, index) in 4" :key="index" class="block-img" :class="'block-img' + (index + 1)" src="@/assets/img/cs/home/block_icon.png" alt="">
        <div class="c-wrap" style="width: 100%;">
          <div class="flex-cc c-title">
            <img src="@/assets/img/cs/home/left_icon.png" alt="">
            <p>周边城市对比</p>
            <img src="@/assets/img/cs/home/right_icon.png" alt="">
          </div>
          <el-popover v-model="cityEqualVisible" placement="bottom-end" :offset="12" trigger="click">
            <div slot="reference" class="icon-box icon-box2">
              <span class="icon iconfont icon-zhanghaoshezhi" />
            </div>

            <div :class="$style.search">
              <div class="date-type mb-20">
                <div v-for="(item, index) in dateType" :key="item.name" :class="['type-item', cityEqualDateTypeActive === item.type ? 'active' : '']" @click="changeCityEqualDateType(item, index)">
                  {{ item.name }}</div>
              </div>
              <DateRangePiceker v-model="cityEqualDateRange" :type="cityEqualDateTypeActive" value-format="yyyy-MM-dd" :placeholder="`选择${dateType[cityEqualDateTypeIndex].name}`"
                @change="changeCityEqualDateRange" />
              <!-- <div class="flex-c">
                <DateRangePiceker v-model="cityEqualDateRange" type="month" value-format="yyyy-MM" placeholder="选择月" />
              </div>
              <div class="btn-box">
                <el-button size="medium" type="primary" @click="getNationwideCityPrice">确定</el-button>
              </div> -->
            </div>
          </el-popover>
          <div v-show="countryList && countryList.length > 0" id="cityEqualChart" class="city-equal-chart" />
          <div v-show="!countryList || countryList.length == 0" v-loading="countryListloading" element-loading-text="数据加载中" element-loading-background="rgba(0, 0, 0, 0.3)"
            class="city-equal-chart flex-cc no-data">{{ countryListloading ? '':'暂无数据' }}</div>
        </div>
      </div>
      <!-- 常见材料周边城市对比 end -->
    </div>

  </div>
  <!-- </div> -->
</template>

<script>
import * as echarts from 'echarts'
// import mapJson from '@/assets/440000_full.json'
import DateRangePiceker from '@/components/DateRangePicker'
import { getMainMaterialList } from '@/api/cs/user'
import {
  getHomePage,
  getAroundCityPrice,
  getAllMessage,
  getBrandAndSpplierAmount,
  getNationwideCityPrice
} from '@/api/cs/home'
import { getDefaultCity } from '@/api/cs/common'
import { debounce } from '@/utils/optimization'
import {
  rem,
  extendObject,
  lastDayOfMonth,
  lastDayOfQuarter
} from '@/utils/common'
export default {
  name: 'Dashboard',
  components: {
    DateRangePiceker
  },
  data() {
    this.dateType = [
      {
        name: '年',
        type: 'year',
        transformData(data = []) {
          if (Array.isArray(data)) {
            data = JSON.parse(JSON.stringify(data))
          }

          const newData = []
          let temp = []
          data.forEach(item => {
            if (
              !temp.length ||
              (item.month &&
                temp[0].month?.split('-')[0] === item.month?.split('-')[0])
            ) {
              temp.push(item)
            } else {
              const sum = temp.reduce((total, item) => {
                return total + parseFloat(item.price)
              }, 0)

              const obj = JSON.parse(JSON.stringify(temp[0]))
              obj.price = sum / temp.length || 1
              obj.howPeriod = temp[0].month?.split('-')[0] + '年'
              newData.push(obj)
              temp = [item]
            }
          })
          return newData
        }
      },
      {
        name: '季',
        type: 'quarter',
        transformData(data = []) {
          if (Array.isArray(data)) {
            data = JSON.parse(JSON.stringify(data))
          }

          const newData = []
          let temp = []
          data.forEach(item => {
            const quarter = {
              1: '第一季',
              2: '第一季',
              3: '第一季',
              4: '第二季',
              5: '第二季',
              6: '第二季',
              7: '第三季',
              8: '第三季',
              9: '第三季',
              10: '第四季',
              11: '第四季',
              12: '第四季'
            }
            // 同年同季度的放到temp
            if (
              !temp.length ||
              (item.month &&
                temp[0].month?.split('-')[0] === item.month?.split('-')[0] &&
                quarter[parseInt(temp[0].month?.split('-')[1])] ===
                  quarter[parseInt(item.month?.split('-')[1])])
            ) {
              temp.push(item)
            } else {
              const sum = temp.reduce((total, item) => {
                return total + parseFloat(item.price)
              }, 0)

              const obj = JSON.parse(JSON.stringify(temp[0]))
              obj.price = sum / temp.length || 1
              const date = temp[0].month?.split('-')
              obj.howPeriod = `${date[0]}年${quarter[parseInt(date[1])]}`
              newData.push(obj)
              temp = [item]
            }
          })
          return newData
        }
      },
      {
        name: '月',
        type: 'month',
        transformData(data) {
          return data
        }
      }
    ]
    return {
      echartTimer: null, // echart重绘定时器
      // 材料列表
      matList: [],
      zcode: null,
      curMatName: null,

      // 信息价趋势
      trendVisible: false,
      trendDateTypeActive: 'month',
      trendDateTypeIndex: 2,
      trendDateRange: [], // 信息价趋势时间范围
      infoPriceChartXData: null,
      infoPriceChartYData: null,
      infoPriceChart: null,
      // infoPriceChartOption: null,
      showInfoDialog: false,
      trendVisibleBig: false,
      infoPriceChartBigXData: null,
      infoPriceChartBigYData: null,
      infoPriceChartBig: null,
      infoPriceChartBigOption: null,
      infoPriceTrends: [], // 信息价趋势
      infoPriceTrendsLoading: false,
      // 地图
      currMatCount: [],
      mapChart: null,
      moreLastMonth: 0,
      brand: null,
      supplier: null,
      regionName: '', // 默认省份
      regionCode: '', // 省份编码
      mapJson: '', // 地图json数据

      // 周边城市-旧
      priorAroundCityPrices: [], // 周边城市上期信息价
      latestAroundCityPrices: [], // 周边城市最新信息价
      latestAroundCityPricesLoading: false,
      // 周边城市
      aroudVisible: false,
      aroudDateRange: [], // 周边城市时间范围
      cityChartXData: null,
      cityChartSeries: null,
      cityChart: null,
      cityChartOption: null,
      cityList: [
        // '江门',
        // '东莞',
        // '中山',
        // '佛山',
        // '广州',
        // '珠海',
        // '深圳',
        // '惠州',
        // '肇庆'
      ],
      cityActive: [
        // '广州',
        // '东莞',
        // '深圳',
        // '佛山',
        // '清远',
        // '江门',
        // '中山',
        // '肇庆',
        // '珠海'
      ],
      showCityDialog: false,
      cityChartBigXData: null,
      cityChartBigSeries: null,
      cityChartBig: null,
      cityChartBigOption: null,
      // 常见材料周边城市
      cityEqualVisible: false,
      cityEqualDateTypeActive: 'month',
      cityEqualDateTypeIndex: 2,
      cityEqualDateRange: [], // 常见材料周边城市时间范围
      cityEqualLegend: null,
      cityEqualXData: null,
      cityEqualSeries: null,
      // cityEqualOption: null,
      cityEqualChart: null,

      countryList: [], // 常见材料周边数据
      countryListloading: false,
      // 全部数据================
      // 信息价趋势
      infoPriceTrendsAll: [],
      infoPriceTrendsAllLoading: false,
      infoPriceTrendsAllOrigin: [], // 信息价趋势原始数据
      // 周边城市
      aroundCityPricesAll: [],
      aroundCityPricesAllLoading: false
      // aroundCityPricesAllOrigin: [], // 周边城市原始数据
    }
  },
  computed: {
    opened() {
      return this.$store.state.app.sidebar.opened
    }
  },
  watch: {
    opened: function() {
      if (this.echartTimer) {
        clearTimeout(this.echartTimer)
      }
      this.echartTimer = setTimeout(() => {
        if (this.mapChart) this.mapChart.resize()
        if (this.infoPriceChart) {
          this.infoPriceChart.resize()
          // this.infoPriceChart.clear()
          this.infoPriceChart.setOption(
            // this.changePx(this.infoPriceChartOption)
            this.getInfoPriceOption(
              this.infoPriceChartXData,
              this.infoPriceChartYData
            )
          )
        }
        if (this.cityChart) {
          this.cityChart.resize()
          // this.cityChart.clear()
          this.cityChart.setOption(
            this.getCityOption(this.cityChartXData, this.cityChartSeries)
          )
        }
        if (this.cityEqualChart) {
          this.cityEqualChart.resize()
          // this.cityEqualChart.clear()
          this.cityEqualChart.setOption(
            this.getEqualOption(
              this.cityEqualLegend,
              this.cityEqualXData,
              this.cityEqualSeries
            )
          )
        }

        clearTimeout(this.echartTimer)
      }, 200)
    }
  },
  created() {
    this.getCity()
  },
  mounted() {
    document.querySelector('.app-main').style.padding = '17px 0 0 0'
    this.getMainMaterialList()
    this.getNationwideCityPrice()
  },
  beforeDestroy() {
    document.querySelector('.app-main').style.padding = ''
  },
  methods: {
    // 获取默认城市和省份
    getCity() {
      getDefaultCity().then(res => {
        // debugger
        if (res.code == '01') {
          sessionStorage.setItem('init_default_city', res.body.defaultCity)
          this.$store.commit('user/SET_DEFAULT_CITY', res.body.defaultCity)
          this.regionName = res.body.region.name
          this.regionCode = res.body.region.regionCode
          this.mapJson = require(`@/assets/province/${this.regionCode}.json`)
        } else {
          this.$message({
            type: 'error',
            message: res.message
          })
        }
      })
    },
    // 右上角navbar
    // skipPage(path) {
    //   this.$router.push(path)
    // },
    // toggleSideBar() {
    //   this.$store.dispatch('app/toggleSideBar')
    // },
    // async logout() {
    //   await this.$store.dispatch('user/logout')
    //   this.$router.push('/login')
    // },
    // 切换材料
    changeMat(item) {
      if (this.zcode != item.detailId) {
        this.zcode = item.detailId
        this.curMatName = item.name
        this.getHomePage()
      }
    },
    // 获取主材清单
    getMainMaterialList() {
      var loading = this.$loading({
        text: '数据加载中...',
        background: 'rgba(0, 0, 0, 0.3)'
      })
      getMainMaterialList()
        .then(res => {
          loading.close()
          if (res.code == '01') {
            this.matList = res.body || []
            // mock
            // this.matList = [
            //   {
            //     detailId: 1,
            //     name: 'mock'
            //   }
            // ]
            if (this.matList && this.matList.length > 0) {
              this.zcode = this.matList[0].detailId
              this.curMatName = this.matList[0].name
              this.getHomePage()
              // this.getAllMessage()
            } else {
              this.initMapChart()
            }
          }
        })
        .catch(() => {
          loading.close()
        })
    },
    // 首页数据
    getHomePage() {
      this.infoPriceTrendsLoading = true
      var params = {
        tempDetailId: this.zcode
      }
      // var loading = this.$loading({
      //   text: '数据加载中...',
      //   background: 'rgba(0, 0, 0, 0.3)'
      // })
      // this.priorAroundCityPrices = []
      // this.latestAroundCityPrices = []
      this.infoPriceTrends = []
      getHomePage(params)
        .then(res => {
          this.infoPriceTrendsLoading = false
          if (res.code === '01') {
            try {
              // this.priorAroundCityPrices = res.body.priorAroundCityPrices || []
              // this.latestAroundCityPrices =
              //   res.body.latestAroundCityPrices || []
              this.infoPriceTrends = (
                res.body.msgPriceTrends || []
              ).sort((a, b) => (a.startDate > b.startDate ? 1 : -1))

              this.$nextTick(() => {
                this.initInfoPriceChart()
                // this.initCityChart()
                // this.initMapChart()
              })
            } catch (err) {}
          } else {
            // console.log(res.code)
          }
        })
        .catch(err => {
          // loading.close()
          this.infoPriceTrendsLoading = false
        })
      this.getAroundCityData()
      getBrandAndSpplierAmount().then(res => {
        if (res.code === '01') {
          try {
            this.brand = res.body.brand || 0
            this.supplier = res.body.supplier || 0
          } catch (error) {}
        }
      })
    },
    getAllMessage() {
      const params = {
        tempDetailId: this.zcode,
        type: this.trendDateTypeActive
      }
      this.infoPriceTrendsAll = []
      this.aroundCityPricesAll = []
      // var loading = this.$loading({
      //   text: '数据加载中...',
      //   background: 'rgba(0, 0, 0, 0.3)'
      // })
      this.infoPriceTrendsAllLoading = true
      this.aroundCityPricesAllLoading = true
      return getAllMessage(params)
        .then(res => {
          // loading.close()
          this.infoPriceTrendsAllLoading = false
          this.aroundCityPricesAllLoading = false
          if (res.code === '01') {
            try {
              this.infoPriceTrendsAll = (
                res.body.msgPriceTrends || []
              ).sort((a, b) => (a.startDate > b.startDate ? 1 : -1))
              // this.infoPriceTrendsAllOrigin = JSON.parse(JSON.stringify(res.body.msgPriceTrends))
              // this.infoPriceTrends = this.infoPriceTrendsAll.slice(-6)

              this.aroundCityPricesAll = (
                res.body.latestAroundCityPrices || []
              ).sort((a, b) => (a.month > b.month ? 1 : -1))
              // this.aroundCityPricesAllOrigin = JSON.parse(JSON.stringify(res.body.latestAroundCityPrices))
              // this.latestAroundCityPrices = this.aroundCityPricesAll.slice(-6)

              // this.$nextTick(() => {
              // this.initInfoPriceChart()
              // this.initCityChart()
              // this.initMapChart()
              // })
            } catch (error) {}
          }
        })
        .catch(() => {
          // loading.close()
          this.infoPriceTrendsAllLoading = false
          this.aroundCityPricesAllLoading = false
        })
    },
    changeTrendDateType(item, index) {
      this.trendDateTypeActive = item.type
      this.trendDateTypeIndex = index
      // this.infoPriceTrendsAll = this.dateType[index].transformData(this.infoPriceTrendsAllOrigin)
      // this.infoPriceTrends = this.infoPriceTrendsAll.slice(-6)
      this.$nextTick(() => {
        // this.getInfoPriceData() // 更新数据
        // this.infoPriceChart.setOption(
        //   this.getInfoPriceOption(this.infoPriceChartXData, this.infoPriceChartYData)
        // )
        this.getMsgPriceData()
        if (this.infoPriceChartBig) {
          this.trendDateRange.splice(0)
          if (this.showInfoDialog) {
            this.getMsgPriceDataAll()
          }
        }
      })
    },
    // 信息价趋势数据范围筛选
    changeTrendDateRange(dateRange = []) {
      // const startDate = dateRange[0] || ''
      if (dateRange[0] && dateRange[1]) {
        let endDate = dateRange[1] || ''
        switch (this.trendDateTypeActive) {
          case 'year': {
            endDate = lastDayOfMonth(endDate.replace(/-\d{2}/, '-12'))
            break
          }
          case 'quarter': {
            endDate = lastDayOfQuarter(endDate)
            break
          }
          default: {
            endDate = lastDayOfMonth(endDate)
          }
        }
        this.trendDateRange[1] = endDate
        this.getMsgPriceDataAll()
      }
      // const startIndex = this.infoPriceTrendsAllOrigin.findIndex(item => item.month === startDate) || 0
      // const endIndex = this.infoPriceTrendsAllOrigin.findIndex(item => item.month === endDate) || -1
      // this.infoPriceTrendsAll = this.dateType[this.trendDateTypeIndex].transformData(this.infoPriceTrendsAllOrigin.slice(startIndex, endIndex))
    },
    // 信息价趋势数据
    getMsgPriceData() {
      const params = {
        tempDetailId: this.zcode,
        // startTrendDate: this.trendDateRange[0],
        // endTrendDate: this.trendDateRange[1],
        type: this.trendDateTypeActive
      }
      this.infoPriceTrendsLoading = true
      this.infoPriceTrends = []
      getHomePage(params)
        .then(res => {
          this.infoPriceTrendsLoading = false
          if (res.code === '01') {
            try {
              this.infoPriceTrends = (
                res.body.msgPriceTrends2 || []
              ).sort((a, b) => (a.startDate > b.startDate ? 1 : -1))
            } catch (error) {}
            this.$nextTick(() => {
              this.initInfoPriceChart({ init: false })
            })
          }
        })
        .catch(err => {
          this.infoPriceTrendsLoading = false
        })
    },
    getMsgPriceDataAll() {
      const params = {
        tempDetailId: this.zcode,
        startTrendDate: this.trendDateRange[0],
        endTrendDate: this.trendDateRange[1],
        type: this.trendDateTypeActive
      }
      this.infoPriceTrendsAllLoading = true
      this.infoPriceTrendsAll = []
      getAllMessage(params)
        .then(res => {
          this.infoPriceTrendsAllLoading = false
          if (res.code === '01') {
            try {
              this.infoPriceTrendsAll = (
                res.body.msgPriceTrends || []
              ).sort((a, b) => (a.startDate > b.startDate ? 1 : -1))
            } catch (error) {}
            this.$nextTick(() => {
              // this.initInfoPriceChartBig({ init: false }) 这招不行啊
              this.getInfoPriceData(
                'infoPriceChartBig',
                this.infoPriceTrendsAll
              ) // 更新数据
              this.infoPriceChartBig.setOption(
                this.getInfoPriceOption(
                  this.infoPriceChartBigXData,
                  this.infoPriceChartBigYData
                )
              )
            })
          }
        })
        .catch(() => {
          this.infoPriceTrendsAllLoading = false
        })
    },
    // 周边城市数据
    getAroundCityData() {
      this.latestAroundCityPricesLoading = true
      const params = {
        tempDetailId: this.zcode
        // startAroudDate: this.aroudDateRange[0],
        // endAroudDate: this.aroudDateRange[1]
      }
      this.latestAroundCityPrices = []
      getAroundCityPrice(params)
        .then(res => {
          this.latestAroundCityPricesLoading = false
          if (res.code === '01') {
            try {
              this.latestAroundCityPrices = (
                res.body.latestAroundCityPrices || []
              ).sort((a, b) => (a.month > b.month ? 1 : -1))
              // .filter(item => item.matPriceList.length === 1)
              this.cityList = this.latestAroundCityPrices.map(item =>
                item.city.slice(0, 2)
              )
              this.cityActive = [...this.cityList]
              // mock
              // const latestAroundCityPrices = [
              //   {
              //     id: null,
              //     name: null,
              //     code: null,
              //     city: '广州市',
              //     price: 2556
              //   },
              //   {
              //     id: null,
              //     name: null,
              //     code: null,
              //     city: '深圳市',
              //     price: 1726
              //   },
              //   {
              //     id: null,
              //     name: null,
              //     code: null,
              //     city: '珠海市',
              //     price: 1630
              //   },
              //   {
              //     id: null,
              //     name: null,
              //     code: null,
              //     city: '汕头市',
              //     price: 896
              //   },
              //   {
              //     id: null,
              //     name: null,
              //     code: null,
              //     city: '佛山市',
              //     price: 509
              //   }
              // ]
              // latestAroundCityPrices.forEach((item, i) => {
              //   item.matPriceList = [
              //     {
              //       city: item.city,
              //       month: '2022-01-01',
              //       endDate: '2022-01-31',
              //       price: 300 + i * 100
              //     },
              //     {
              //       city: item.city,
              //       month: '2022-02-01',
              //       endDate: '2022-02-28',
              //       price: 100 + i * 100
              //     },
              //     {
              //       city: item.city,
              //       month: '2022-03-01',
              //       endDate: '2022-03-31',
              //       price: 200 + i * 100
              //     },
              //     {
              //       city: item.city,
              //       month: '2022-04-01',
              //       endDate: '2022-04-30',
              //       price: 300 + i * 100
              //     },
              //     {
              //       city: item.city,
              //       month: '2022-05-01',
              //       endDate: '2022-05-31',
              //       price: 150 + i * 100
              //     },
              //     {
              //       city: item.city,
              //       month: '2022-06-01',
              //       endDate: '2022-06-30',
              //       price: 200 + i * 100
              //     }
              //   ]
              // })
              // this.latestAroundCityPrices = latestAroundCityPrices
              // this.cityList = this.latestAroundCityPrices.map(item =>
              //   item.city.slice(0, 2)
              // )
              // this.cityActive = [...this.cityList]
            } catch (error) {}
            this.$nextTick(() => {
              this.initCityChart()
              this.initMapChart()
            })
          }
        })
        .catch(err => {
          this.latestAroundCityPricesLoading = false
        })
    },
    // 常见材料周边城市信息价数据
    getNationwideCityPrice() {
      const params = {
        startDate: this.cityEqualDateRange[0],
        endDate: this.cityEqualDateRange[1],
        type: this.cityEqualDateTypeActive
      }
      // var loading = this.$loading({
      //   text: '数据加载中...',
      //   background: 'rgba(0, 0, 0, 0.3)'
      // })
      this.countryListloading = true
      this.countryList = []
      getNationwideCityPrice(params)
        .then(res => {
          // loading.close()
          this.countryListloading = false
          // this.cityEqualVisible = false
          if (res.code == '01') {
            var currMatCount = res.body.currMatCount || 0
            if (currMatCount) {
              this.currMatCount = (currMatCount + '').split('')
            } else {
              this.currMatCount = [0]
            }
            this.moreLastMonth = res.body.moreLastMonth || 0
            this.countryList = res.body.nationWideCityPriceList || []
            this.$nextTick(() => {
              this.initEqualChart()
            })
          }
        })
        .catch(err => {
          this.countryListloading = false
          // loading.close()
          // this.cityEqualVisible = false
        })
    },
    changeCityEqualDateType(item, index) {
      this.cityEqualDateTypeActive = item.type
      this.cityEqualDateTypeIndex = index
      this.cityEqualDateRange.splice(0)
      this.getNationwideCityPrice()
    },
    changeCityEqualDateRange(dateRange) {
      if (dateRange[0] && dateRange[1]) {
        let endDate = dateRange[1]
        switch (this.cityEqualDateTypeActive) {
          case 'year': {
            endDate = lastDayOfMonth(endDate.replace(/-\d{2}/, '-12'))
            break
          }
          case 'quarter': {
            endDate = lastDayOfQuarter(endDate)
            break
          }
          default: {
            endDate = lastDayOfMonth(endDate)
          }
        }

        this.cityEqualDateRange[1] = endDate
        this.getNationwideCityPrice()
      }
    },
    // 初始化地图
    initMapChart() {
      const latestAroundCityPrices = this.latestAroundCityPrices
      if (!this.mapChart) {
        this.mapChart = echarts.init(document.getElementById('mapChart'))
      }
      const myChart = this.mapChart
      echarts.registerMap(this.regionName, this.mapJson)
      let mapColors = ['#A6EDFF', '#18E4EC', '#F1CC3C']
      const mapData = []
      // 最大值
      let max = 0
      // 城市数据
      for (let i = 0; i < latestAroundCityPrices.length; i++) {
        mapData.push({
          name: latestAroundCityPrices[i].city,
          value: latestAroundCityPrices[i].price
        })
      }

      for (let j = 0; j < mapData.length; j++) {
        if (mapData[j].value > max) {
          max = mapData[j].value
        }
      }
      // 没有地图数据
      if (mapData.length === 0) {
        mapColors = ['rgba(173, 223, 248, 1)']
      }

      const option = {
        tooltip: {
          formatter: function(params) {
            return params.name + ': ' + (params.value || 0)
          }
        },
        geo: [
          {
            map: this.regionName,
            aspectScale: 0.75, // 长宽比
            zoom: 1.05,
            roam: false, //  是否开启鼠标缩放和平移漫游
            layoutCenter: ['50.7%', '53%'], // 52,51
            layoutSize: '94%', // 95
            itemStyle: {
              borderWidth: 0,
              borderColor: 'rgba(0,0,0,0)',
              areaColor: {
                image: document.getElementById('mapBg'),
                repeat: 'repeat'
              }
            },
            silent: true
          }
        ],
        series: [
          {
            type: 'map',
            silent: false, // 关闭鼠标悬浮事件
            zoom: 1.15,
            map: this.regionName,
            selectedMode: false,
            label: {
              normal: {
                show: true,
                formatter: params => {
                  if (this.cityList.includes(params.name.replace('市', ''))) {
                    return params.name + '\n' + (params.value || '')
                  }
                  return ''
                },
                textStyle: {
                  color: 'rgba(16, 95, 176, 1)' //  城市名颜色
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  color: '#2f9b9f'
                }
              }
            },

            itemStyle: {
              normal: {
                show: true,
                borderWidth: 1,
                borderColor: 'rgba(50, 178, 237, 1)', //    地图分隔颜色
                // 径向渐变，前三个参数分别是圆心 x, y 和半径，取值同线性渐变
                areaColor: {
                  type: 'radial',
                  // x: 0.5,
                  // y: 0.5,
                  // r: 1,
                  x: 320,
                  y: 170,
                  r: 300,
                  colorStops: [
                    {
                      offset: 0,
                      // color: 'rgba(218, 241, 252, 1)' // 0% 处的颜色
                      color: '#E5F5FC'
                    },
                    {
                      offset: 0.7,
                      // color: 'rgba(141, 212, 245, 1)' // 100% 处的颜色
                      color: '#6AC3F1'
                    }
                  ],
                  global: true // 缺省为 false
                }
              },
              emphasis: {
                areaColor: '#98f0f3' // hover颜色
              }
            },
            emphasis: {
              show: true,
              textStyle: {
                color: '#fff'
              }
            },
            data: mapData
          }
        ],
        visualMap: {
          show: false,
          min: 0,
          max: max,
          left: 'right',
          top: 'bottom',
          text: [max, 0], // 文本，默认为数值文本
          calculable: false,
          inRange: {
            color: mapColors
          },
          textStyle: {
            color: '#02B6FF'
          }
        }
      }
      myChart.setOption(option)
      // console.log(option);
      // 让图表跟随屏幕自动的去适应
      window.addEventListener(
        'resize',
        debounce(function() {
          myChart.resize()
        }, 100)
      )
    },
    // 打开信息价趋势弹窗=============================
    async openInfoPriceChartBig() {
      // if (!this.infoPriceTrendsAll.length) {
      // }
      if (this.infoPriceChartBig) {
        this.getMsgPriceDataAll()
      } else {
        await this.getAllMessage()
        this.initInfoPriceChartBig()
      }
    },
    initInfoPriceChartBig(init = true) {
      const optionSource = {
        grid: {
          top: '8%',
          left: '5%',
          right: '5%',
          bottom: '13%',
          containLabel: true
        },
        dataZoom: [
          {
            type: 'slider',
            show: true,
            realtime: true,
            start: 0,
            end: 50,
            bottom: '5%'
          },
          {
            type: 'inside',
            realtime: true,
            start: 0,
            end: 50
          }
        ]
      }
      this.$nextTick(() => {
        if (this.infoPriceChartBig) {
          this.infoPriceChartBig.resize()
        } else {
          this.initInfoPriceChart({
            elementId: 'infoPriceChartBig',
            dataSource: this.infoPriceTrendsAll,
            optionSource,
            init
          })
        }
      })
    },
    // 初始化信息价趋势
    initInfoPriceChart({
      elementId = 'infoPriceChart',
      dataSource,
      optionSource = {},
      init = true
    } = {}) {
      // const infoPriceTrends = dataSource || this.infoPriceTrends

      if (!this[elementId]) {
        this[elementId] = echarts.init(document.getElementById(elementId))
      } else {
        this[elementId].resize()
        this[elementId].clear()
      }

      const myChart = this[elementId]
      const { xData, yData } = this.getInfoPriceData(elementId, dataSource)
      const option = this.getInfoPriceOption(xData, yData, optionSource)
      myChart.setOption(option)
      // myChart.setOption(optionSource)
      // 让图表跟随屏幕自动的去适应
      if (init) {
        window.addEventListener(
          'resize',
          debounce(() => {
            this[elementId].resize()
            // myChart.clear()
            this[elementId].setOption(
              this.getInfoPriceOption(
                this[elementId + 'XData'],
                this[elementId + 'YData'],
                optionSource
              )
            )
            // this.initInfoPriceChart()
          }, 100)
        )
      }
    },
    // 信息价趋势data
    getInfoPriceData(elementId = 'infoPriceChart', dataSource) {
      const infoPriceTrends = dataSource || this.infoPriceTrends

      const xData = []
      const yData = []
      for (let i = 0; i < infoPriceTrends.length; i++) {
        // xData.push(infoPriceTrends[i].howPeriod)
        xData.push({
          value: `${infoPriceTrends[i].startDate}\n${infoPriceTrends[i].endDate}`
        })
        yData.push(infoPriceTrends[i].messagePrice || 0)
      }
      this[elementId + 'XData'] = xData
      this[elementId + 'YData'] = yData

      return {
        xData,
        yData
      }
    },
    // 信息价趋势option
    getInfoPriceOption(xData, yData, optionSource) {
      const option = {
        tooltip: {
          trigger: 'axis',
          formatter: function(params) {
            let html = ''
            params.forEach(v => {
              html += `
                      <div>
                        <p style="font-size: 14px;color:#89EAFF;"><span style="color: #fff;">材价：</span>${v.value}</p>
                        <div class="flex-c" style="font-size: 12px;color:#6685A6;">
                          <span style="align-self: flex-start;">系统周期：</span>
                          <span style="white-space: pre">${v.name}</span>
                        </div>
                      </div>
                    `
              // <p style="font-size: 12px;color:#6685A6;white-space: pre">系统周期：${v.name}</p>
            })
            return html
          },
          extraCssText:
            'background: #000; border-radius: 5px;border: none;padding: 16px 20px;'
        },
        grid: {
          top: '25%',
          left: '5%',
          // right: '10%',
          bottom: '10%',
          containLabel: true
        },
        xAxis: [
          {
            // name: '信息价',
            // nameTextStyle: {
            //   color: "#46D6FE",
            //   fontSize: 12
            // },
            type: 'category',
            axisLine: {
              show: false,
              lineStyle: {
                color: '#023B78'
              }
            },
            axisLabel: {
              textStyle: {
                color: '#fff',
                fontSize: 10
              },
              margin: rem(12),
              formatter(value) {
                return value
                  .split('\n')
                  .map(item => item.slice(2))
                  .join('\n')
              }
            },
            splitArea: {
              color: '#f00',
              lineStyle: {
                color: '#f00'
              }
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: '#023B78'
              }
            },
            boundaryGap: false,
            data: xData
            // data: ['揭阳','汕头','潮州','北京','上海'],
          }
        ],
        yAxis: [
          {
            name: '单位（元）',
            nameTextStyle: {
              color: '#89EAFF',
              fontSize: rem(12, 10),
              padding: [0, rem(32), 0, 0]
            },
            type: 'value',
            splitLine: {
              show: true,
              lineStyle: {
                color: '#023B78'
              }
            },
            axisLine: {
              show: false
            },
            axisLabel: {
              show: true,
              margin: rem(11),
              textStyle: {
                // color: '#B1B3BC',
                color: '#fff',
                fontSize: rem(14, 10)
              }
            },
            axisTick: {
              show: false
            }
          }
        ],
        series: [
          {
            type: 'line',
            data: yData,
            // data: [1800,600,800,1500,2100],
            smooth: true,
            lineStyle: {
              width: 2,
              color: '#6BF9FF'
            },
            // 设置拐点
            symbol: 'circle',
            // 拐点大小
            symbolSize: 6,
            // 开始不显示拐点， 鼠标经过显示
            showSymbol: false,
            itemStyle: {
              color: '#6BF9FF',
              borderColor: 'rgba(68, 240, 255, .2)',
              borderWidth: 25
            },
            areaStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: 'rgba(68, 240, 255, .6)'
                    },
                    {
                      offset: 1,
                      color: 'rgba(2, 17, 50, .1)'
                    }
                  ],
                  false
                )
              }
            }
          }
        ]
      }
      // 合并额外配置
      extendObject(true, option, optionSource)
      return option
    },
    selectCity(cityItem) {
      const i = this.cityActive.indexOf(cityItem)
      if (i !== -1) {
        this.cityActive.splice(i, 1)
        this.cityChart.dispatchAction({
          type: 'legendUnSelect',
          // 图例名称
          name: cityItem
        })
      } else {
        this.cityActive.push(cityItem)
        this.cityChart.dispatchAction({
          type: 'legendSelect',
          // 图例名称
          name: cityItem
        })
      }
    },
    // 打开周边城市折线图弹窗==========================
    async openCityChartBig() {
      if (!this.aroundCityPricesAll.length) {
        await this.getAllMessage()
      }
      // mock

      // const temp = [
      //   1150,
      //   3230,
      //   3224,
      //   4218,
      //   3135,
      //   7147
      // ]
      // this.aroundCityPricesAll = []
      // for (let index = 0; index < 10; index++) {
      //   this.aroundCityPricesAll.push(...temp)
      // }
      const optionSource = {
        legend: {
          itemWidth: 12,
          itemHeight: 11,
          itemGap: 10,
          left: 'auto',
          right: '5%',
          top: '3%',
          textStyle: {
            fontSize: 14
          }
        },
        grid: {
          top: '8%',
          left: '5%',
          right: '5%',
          bottom: '13%',
          containLabel: true
        },
        dataZoom: [
          {
            type: 'slider',
            show: true,
            realtime: true,
            start: 0,
            end: 50,
            bottom: '5%'
          },
          {
            type: 'inside',
            realtime: true,
            start: 0,
            end: 50
          }
        ]
      }
      this.$nextTick(() => {
        if (this.cityChartBig) {
          this.cityChartBig.resize()
          // this.cityChartBig.clear()
          // this.cityChartBig.setOption(this.cityChartBigXData, this.cityChartBigSeries, optionSource)
        } else {
          this.initCityChart({
            elementId: 'cityChartBig',
            dataSource: this.aroundCityPricesAll,
            optionSource
          })
        }
      })
    },
    // 周边城市折线图
    initCityChart({
      elementId = 'cityChart',
      dataSource,
      optionSource = {},
      init = true
    } = {}) {
      // const priorAroundCityPrices = this.priorAroundCityPrices
      const latestAroundCityPrices = dataSource || this.latestAroundCityPrices
      if (!latestAroundCityPrices?.length) {
        return
      }

      // 找出最多条数据的 matPriceList 作为创建 xData 的依据
      let longItem = {
        matPriceList: []
      }
      latestAroundCityPrices.forEach(item => {
        if (item.matPriceList?.length > longItem.matPriceList.length) {
          longItem = item
        }
      })
      const xData = longItem?.matPriceList.map(item => item.month)
      const series = []

      latestAroundCityPrices.forEach(item => {
        const yData = item.matPriceList.map(item2 => item2.price)
        series.push({
          name: item.city.slice(0, 2),
          data: yData,
          type: 'line'
        })
      })

      this[elementId + 'XData'] = xData
      this[elementId + 'Series'] = series
      if (!this[elementId]) {
        this[elementId] = echarts.init(document.getElementById(elementId))
      }
      const myChart = this[elementId]
      const option = this.getCityOption(xData, series, optionSource)
      myChart.setOption(option)

      if (init) {
        // 是否首次初始化
        if (elementId === 'cityChart') {
          // 点击小图表查看大图表
          myChart.getZr().on('click', event => {
            if (!event.target || event.target?.type !== 'rect') {
              this.showCityDialog = true
            }
          })
        }
        // 让图表跟随屏幕自动的去适应
        window.addEventListener(
          'resize',
          debounce(() => {
            this[elementId].resize()
            // myChart.clear()
            this[elementId].setOption(
              this.getCityOption(
                this[elementId + 'XData'],
                this[elementId + 'Series'],
                optionSource
              )
            )
          }, 100)
        )
      }
    },
    getCityOption(xData, series, optionSource) {
      console.log(series)
      const cityList = this.cityList
      let max = 0
      if (!optionSource.grid) {
        series.forEach(item => {
          if (Array.isArray(item.data)) {
            const dataMax = Math.max(...item.data)
            if (dataMax > max) {
              max = dataMax
            }
          }
        })
      }
      const option = {
        legend: {
          icon: 'rect',
          itemWidth: rem(12),
          itemHeight: rem(11),
          itemGap: rem(5),
          left: this.opened ? '23%' : '26%',
          // right: this.opened ? '' : '10%',
          top: '3%',
          textStyle: {
            color: '#fff',
            fontSize: rem(14, 10)
          },
          data: cityList
        },
        grid: {
          // left: '10%',
          // right: '10%',
          // bottom: '8%',
          // containLabel: true
          top: '25%',
          left: max < 1000 ? '11%' : '5%',
          // right: '10%',
          bottom: '5%',
          containLabel: true
        },
        tooltip: {
          trigger: 'axis',
          extraCssText:
            'background: #000; border-radius: 5px;border: none;padding: 16px 20px;white-space: pre;',
          textStyle: {
            color: '#fff'
          },
          formatter(params) {
            let html = `<div style="white-space: pre">${params[0].name}</div>`
            // console.log(params)
            params.forEach(v => {
              if (v.value > 0) {
                html += `<div class="flex-c" style="font-size: 14px;margin-top: 4px">
                          <div class="flex-c">
                            ${v.marker}
                            <span style="align-self: flex-start;margin: 0 20px 0 4px;">${v.seriesName}</span>
                          </div>
                          <div style="flex:1;text-align: right;">${v.value}</div>
                        </div>`
              }
            })
            // console.log(html)
            return html
          }
        },
        xAxis: {
          type: 'category',
          // data: ['第3期', '第4期', '第5期', '第6期', '第7期', '第8期'],
          data: xData,
          axisLine: {
            show: false,
            lineStyle: {
              color: '#023B78'
            }
          },
          axisLabel: {
            textStyle: {
              color: '#fff',
              fontSize: 10
            },
            margin: rem(12),
            formatter(value) {
              return value.slice(2, 7)
            }
          },
          splitArea: {
            color: '#f00',
            lineStyle: {
              color: '#f00'
            }
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: '#023B78'
            }
          },
          boundaryGap: false
        },
        yAxis: {
          name: '单位（元）',
          nameTextStyle: {
            color: '#89EAFF',
            fontSize: rem(12, 10),
            padding: [0, rem(32), 0, 0]
          },
          type: 'value',
          splitLine: {
            show: true,
            lineStyle: {
              color: '#023B78'
            }
          },
          axisLine: {
            show: false
          },
          axisLabel: {
            show: true,
            margin: rem(11),
            textStyle: {
              // color: '#B1B3BC',
              color: '#fff',
              fontSize: rem(14)
            }
          },
          axisTick: {
            show: false
          }
        },
        series: series
      }

      // 合并额外配置
      extendObject(true, option, optionSource)
      return option
    },
    // 初始化常见材料周边城市对比======================
    initEqualChart() {
      var countryList = this.countryList
      var xData = countryList.map(item => item.city)
      var tData = []
      var legend = [] // 材料
      var colorArr = [
        {
          start: 'rgba(12,120,243,1)',
          end: 'rgba(5,29,85,1)'
        },
        {
          start: 'rgba(12,184,250,1)',
          end: 'rgba(6,32,82,1)'
        },
        {
          start: 'rgba(27,240,254,1)',
          end: 'rgba(8,40,84,1)'
        },
        {
          start: 'rgba(44,250,138,1)',
          end: 'rgba(10,41,70,1)'
        },
        {
          start: 'rgba(251,238,35,1)',
          end: 'rgba(32,37,57,1)'
        }
      ]

      // 取到第一个城市的材料顺序
      // const sortName = []
      // if (countryList && countryList.length > 0) {
      //   for (var i = 0; i < countryList[0].length; i++) {
      //     sortName.push(countryList[0][i].name)
      //   }
      // }
      // // 将第一个城市后面的每个城市数组中的材料，按第一个城市的材料顺序排序
      // for (let i = 1; i < countryList.length; i++) {
      //   for (let j = 0; j < countryList[i].length; j++) {
      //     for (let k = 0; k < sortName.length; k++) {
      //       if (sortName[k] == countryList[i][j].name && k !== j) {
      //         const tObj = countryList[i][j]
      //         countryList[i][j] = countryList[i][k]
      //         countryList[i][k] = tObj
      //       }
      //     }
      //   }
      // }

      // 城市数据拼接

      // for (let i = 0; i < countryList.length; i++) {
      //   let city = ''
      //   for (let j = 0; j < countryList[i].length; j++) {
      //     city = countryList[i][j].city
      //   }
      //   xData.push(city)
      // }
      // 各材料价格
      for (let i = 0; i < countryList.length; i++) {
        for (let j = 0; j < countryList[i].matPriceList.length; j++) {
          const JItem = countryList[i].matPriceList[j]
          if (i == 0) {
            tData.push([JItem.price])
          } else {
            tData[j].push(JItem.price)
          }
        }
      }
      try {
        var tCity = countryList[0].matPriceList
        // 材料名称列表
        for (let k = 0; k < tCity.length; k++) {
          legend.push(tCity[k].name)
        }
      } catch (err) {}
      const seriesData = []
      tData.forEach((item, index) => {
        var obj1 = {}
        obj1 = {
          name: legend[index],
          type: 'bar',
          stack: legend[index],
          data: item,
          barWidth: 20,
          itemStyle: {
            normal: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0.2,
                    color: colorArr[index].start
                  },
                  {
                    offset: 1,
                    color: colorArr[index].end
                  }
                ],
                globalCoord: false
              }
            }
          },
          barGap: '60%'
        }
        seriesData.push(obj1)
      })
      if (!this.cityEqualChart) {
        this.cityEqualChart = echarts.init(
          document.getElementById('cityEqualChart')
        )
      }
      this.cityEqualLegend = legend
      this.cityEqualXData = xData
      this.cityEqualSeries = seriesData
      const myChart = this.cityEqualChart
      const option = this.getEqualOption(legend, xData, seriesData)
      myChart.setOption(option)

      // 让图表跟随屏幕自动的去适应
      window.addEventListener(
        'resize',
        debounce(() => {
          myChart.resize()
          // myChart.clear()
          myChart.setOption(
            this.getEqualOption(
              this.cityEqualLegend,
              this.cityEqualXData,
              this.cityEqualSeries
            )
          )
        }, 100)
      )
    },
    getEqualOption(legend, xData, series) {
      series.forEach(item => {
        item.barWidth = rem(20)
      })

      const option = {
        // backgroundColor: 'rgba(16, 42, 54, 1)',
        grid: {
          left: '3%',
          top: '20%',
          right: '3%',
          bottom: '8%',
          containLabel: true
        },
        legend: {
          show: true,
          icon: 'rect',
          itemWidth: rem(12),
          itemHeight: rem(11),
          right: '40px',
          top: '0px',
          textStyle: {
            color: '#fff',
            fontSize: rem(14, 10)
          },
          data: legend
        },
        tooltip: {
          trigger: 'axis',
          formatter: function(params) {
            var str = ''
            for (var i = 0; i < params.length; i++) {
              if (params[i].seriesName !== '') {
                str += `
                            <div>
                              <p style="font-size: 12px;color:#16C0FF;">
                                <span style="color: #fff;display:inline-block;width: 6em;text-align:right;vertical-align: middle;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">${params[i].seriesName}</span>
                                <span style="color: #fff;">：</span><span style="vertical-align: middle;">${params[i].value}</span>
                              </p>
                            </div>
                          `
              }
            }
            return str
          },
          extraCssText:
            'background: rgba(0,0,0,.6); border-radius: 5px;border: none;'
        },
        xAxis: [
          {
            type: 'category',
            data: xData,
            axisPointer: {
              type: 'shadow'
            },
            axisLabel: {
              margin: rem(16),
              textStyle: {
                // color: '#B1B3BC',
                color: '#fff',
                fontSize: rem(14, 10)
              }
            },
            axisLine: {
              lineStyle: {
                // color: '#112349'
                color: '#023B78'
              }
            },
            splitLine: {
              show: true,
              lineStyle: {
                type: 'solid',
                width: 1,
                // color: '#112349'
                color: '#023B78'
              }
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '单位（元）',
            nameTextStyle: {
              padding: [0, rem(32), 0, 0],
              color: '#89EAFF',
              // color: '#46D6FE',
              fontSize: rem(12, 10)
            },
            // min: 0,
            // max: 50,
            axisLabel: {
              formatter: '{value}',
              textStyle: {
                // color: '#B1B3BC',
                color: '#fff',
                fontSize: rem(14, 10)
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: true,
              lineStyle: {
                type: 'solid',
                width: 1,
                // color: '#112349'
                color: '#023B78'
              }
            }
          }
        ],
        series: series
      }
      return option
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-container {
  // position: absolute;

  // top: 0;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  // padding: 1.0125rem 0 0 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  // min-width: 1680px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('~@/assets/img/cs/home/bg.png');
  .map-bg {
    position: absolute;
    top: 9999px;
    left: 9999px;
    opacity: 0;
  }
  // .quitmeun {
  //   position: fixed;
  //   right: 35px;
  //   top: 5px;
  //   .avatar-container {
  //     height: 60px;
  //     line-height: 60px;
  //     > span {
  //       color: #333;
  //       font-weight: bold;
  //       font-size: 22px;
  //       i {
  //         margin-left: 5px;
  //         color: #333;
  //       }
  //     }
  //   }
  // }
  .no-data {
    color: #0efcff;
    font-size: 0.175rem;
  }
  .home-bg-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background: #050723;
  }
  .center-wrap {
    padding: 0.92rem 1.01rem 0px 1.06rem;
  }
  .block-img {
    position: absolute;
    width: 0.15rem;
    height: 0.15rem;
  }
  .mat-list {
    position: relative;
    width: 28%;
    height: 7.075rem;
    padding-top: 0.06rem;
    background-size: 100% 100%;
    background-image: url('~@/assets/img/cs/home/left_bg.png');

    .block-img1 {
      top: -0.02rem;
      left: -0.015rem;
    }
    .block-img2 {
      top: -0.02rem;
      right: 0;
    }
    .block-img3 {
      bottom: -0.02rem;
      left: -0.015rem;
    }
    .block-img4 {
      bottom: -0.02rem;
      right: 0;
    }
    .titles {
      // color: #ffffa6;
      color: #f9a147;
      font-size: 0.175rem;
    }
    li {
      position: relative;
      // margin-bottom: 9px;
      margin-bottom: 0.14rem;
      justify-content: space-between;
      padding: 0 0.125rem 0 0.4rem;
      width: 98%;
      left: 1%;
      height: 0.5rem;
      color: #fff;
      font-size: 0.175rem;
      box-sizing: border-box;
      &.active {
        background-image: url('~@/assets/img/cs/home/act_img.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      &:hover:not(li:first-child) {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: rgba(22, 132, 234, 0.2);
      }
      &:first-child {
        padding: 0 0.625rem 0 0.3625rem;
        height: 0.48rem;
        border: none;
        .spec {
          text-align: right;
          box-sizing: border-box;
        }
      }
      .doc {
        width: 0.1rem;
        height: 0.1rem;
        border-radius: 50%;
        background-color: #73ffff;
        position: absolute;
        left: 0.18rem;
      }
      .name,
      .spec {
        display: block;
        // min-width: 125px;
        // max-width: 125px;
        width: 1.55rem;
        flex-shrink: 0;
        &.spec-v {
          color: #7fe2ff;
        }
      }
      .name {
        text-align: left;
      }
      .spec {
        text-align: center;
      }
      .util {
        display: block;
        width: 100%;
        white-space: nowrap;
        text-align: center;
        &.util-v {
          width: 0.75rem;
          color: #ffbe0f;
        }
      }
      .active-icon {
        position: absolute;
        right: -0.25rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .map-wrap {
    flex: 1;
    margin: 0.1rem 0.2rem 0 0.225rem;
    position: relative;
    .mat-count {
      color: #89eaff;
      font-size: 0.25rem;
      // flex-wrap: nowrap;
      .more-text {
        color: #ffc513;
        letter-spacing: 0.025rem;
        font-size: 0.225rem;
      }
      .num-wrap {
        position: relative;
        width: 0.9625rem;
        height: 0.975rem;
        font-size: 0.825rem;
        color: #89eaff;
        font-weight: bold;
        > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          // z-index: 99;
          font-size: 0.7rem;
        }
        > img {
          position: absolute;
          top: 0;
          left: 0;
          // z-index: 98;
          z-index: 1;
          width: 100%;
          height: 100%;
        }
      }
      .dot {
        margin-top: 0.35rem;
        font-size: 40px;
        font-weight: bold;
      }
    }
    .b-s-count {
      // position: absolute;
      // top: 1.1rem;
      // left: 50%;
      // transform: translateX(-50%);
      // z-index: 99999999;
      color: #89eaff;
      // font-weight: bold;
      font-size: 0.25rem;
      text-align: center;
      span:nth-child(n + 2) {
        margin-left: 0.5rem;
      }
    }
    .box {
      width: 100%;
      // height: 6.25rem;
      // height: 5.7rem;
      height: 5.5rem;
      position: relative;
      .map-chart {
        width: 100%;
        // height: 5.7rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .bling {
        width: 100%;
        // height: 5.6rem;
        height: 100%;
        position: absolute;
        bottom: -18%;
        left: 50%;
        transform: translate(-50%);
        background: url('~@/assets/img/cs/home/bling.png');
        background-size: 100% 100%;
        opacity: 0.9;
      }
    }
  }
  .trend-wrap {
    width: 29%;
    height: 7.075rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    .info-wrap,
    .city-wrap {
      position: relative;
      // width: 5.4125rem;
      // height: 3.8875rem;
      // height: 3.4375rem;
      height: 3.58rem;
      box-sizing: border-box;
      background-size: 100% 100%;
      background-image: url('~@/assets/img/cs/home/trend_bg_new.png');
      // .block-img {
      //   position: absolute;
      //   width: 0.2rem;
      //   height: 0.2rem;
      // }
      .block-img1 {
        top: 0.05rem;
        // left: -0.025rem;
      }
      .block-img2 {
        top: 0.05rem;
        right: 0.03rem;
      }
      .block-img3 {
        bottom: -0.01rem;
        // left: -0.025rem;
      }
      .block-img4 {
        bottom: -0.01rem;
        right: 0.03rem;
      }
      .c-title {
        // height: 0.45rem;
        padding-top: 0.13rem;
        p {
          text-align: left;
          // margin: 8px 0 0 0;
          padding: 0 0.45rem;
          font-weight: bold;
          font-size: 0.2rem;
          color: #f9a147;
          width: 100%;
          line-height: 0.45rem;
          // margin-top: 0.13rem;
        }
        .icon-box {
          color: #fff;
          margin-right: 0.25rem;
          line-height: 16px;
          .icon-zhanghaoshezhi {
            cursor: pointer;
          }
        }
      }
    }
    .info-wrap {
      // margin-bottom: 0.275rem;
      // margin-top: -0.06rem;
      margin-top: -0.065rem;
      // background-image: url('../../assets/img/home/trend_bg2.png');
    }
    .city-wrap {
      margin-top: -0.04rem;
    }
  }
  .info-price-chart,
  .city-chart {
    // width: 5.4125rem;
    // height: 3.2875rem;
    // height: 2.8375rem;
    height: 2.95rem;
  }

  //底部城市
  .equal-wrap {
    // margin: 0.1rem auto 0;
    // margin: 0.13rem 1.16rem 0.26rem 1.17rem;
    margin: 0.06rem 1.1rem 0.26rem 1.11rem;
    position: relative;
    // overflow: hidden;
    // width: calc(100% - 2.3rem);
    // height: 3.1625rem;
    border: 0.025rem solid #077da5;
    // background-size: 100% 100%;
    // background-image: url('../../assets/img/home/bottom_city_bg.png');
    // .block-img {
    //   position: absolute;
    //   width: 0.2rem;
    //   height: 0.2rem;
    // }
    .block-img1 {
      top: -0.08rem;
      left: -0.08rem;
    }
    .block-img2 {
      top: -0.08rem;
      right: -0.09rem;
    }
    .block-img3 {
      bottom: -0.08rem;
      left: -0.08rem;
    }
    .block-img4 {
      bottom: -0.08rem;
      right: -0.09rem;
    }
    .c-wrap {
      position: relative;
      & > span {
        position: absolute;
        top: 0.11rem;
        right: -8px;
        z-index: 1;
      }
      .icon-box {
        color: #fff;
        margin-right: 0.25rem;

        .icon-zhanghaoshezhi {
          cursor: pointer;
        }
      }
    }
    .c-title {
      height: 0.45rem;
      border-radius: 0.125rem;
      // position: relative;
      position: absolute;
      width: 100%;
      // z-index: 1;
      p {
        padding: 0 0.1875rem;
        font-weight: bold;
        font-size: 0.2rem;
        color: #f9a147;
      }
    }

    .city-equal-chart {
      width: 100%;
      height: 2.9rem;
      top: 0.085rem;
    }
  }

  &.opened {
    background-size: 100% 100%;
    .center-wrap {
      padding: 0.83rem 0.91rem 0px 0.96rem;
    }
    .equal-wrap {
      // margin: 0.068rem 1.02rem 0.26rem 1.02rem;
      margin: 0.05rem 1rem 0.26rem 1rem;
    }
  }
}
</style>

<style lang="scss" module>
.search {
  :global {
    .s-text {
      margin-right: 15px;
      color: #333;
      font-size: 14px;
      white-space: nowrap;
    }
    .date-type {
      display: flex;
      justify-content: center;
      // margin: 0 auto;
      // margin-bottom: 20px;
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      // gap: 12px;
      .type-item {
        cursor: pointer;
        &:nth-child(n + 2) {
          margin-left: 20px;
        }
        &.active {
          color: #6cc6f7;
        }
      }
    }
    .btn-box {
      margin-top: 8px;
      text-align: right;
    }
  }
}
.search-city {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 12px;
  :global {
    .city-item {
      cursor: pointer;
      &.active {
        color: #6cc6f7;
      }
    }
  }
}
.chart-dialog {
  :global {
    .el-dialog__body {
      padding: 1px;
      .info-price-chart-big,
      .city-chart-big {
        background-color: #000d2e;
        height: 70vh;
      }
    }
    .title {
      position: relative;
      .el-popover__reference {
        position: absolute;
        top: 0px;
        right: 46px;
        .set-btn {
          cursor: pointer;
          font-size: 20px;
        }
      }
    }
  }
}
</style>
