<template>
  <div class="comment-container">
    <div class="com-bg">
      <div class="bread">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item>询价管理</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/publicModule/inquiryManage/inquiryExamine' }">询价审核</el-breadcrumb-item>
          <el-breadcrumb-item><span class="active"> {{ $route.meta.title }} </span></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
    </div>
    <div class="detail-top">
      <p class="s-title">{{ proName }}</p>
      <div class="flex-csb o-title">
        <div class="o-title">
          <img src="@/assets/img/icons/title_start2.png" style="width: 14px; height: 14px" alt="">
          <span style="font-size: 14px">{{ piciName }}</span>
        </div>
        <div class="flex-c btns">
          <el-button v-if="status == '1'" type="primary" class="flex-cc btn" @click="showExamine(2)">审核通过</el-button>
          <el-button v-if="status == '1'" type="primary" class="flex-cc btn btn6" @click="showExamine(3)">审核不通过</el-button>
        </div>
      </div>
      <div v-if="topTableData" class="top-table">
        <div class="rows flex-c">
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon1.png" alt="">
            </div>
            <div class="key">报价地区：</div>
            <div class="val">{{ topTableData.offerArea }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon4.png" alt="">
            </div>
            <div class="key">材料数：</div>
            <div class="val">{{ topTableData.materialCount }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon7.png" alt="">
            </div>
            <div class="key">报价数：</div>
            <div class="val">{{ topTableData.needCount }}</div>
          </div>
        </div>
        <div class="rows flex-c">
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon2.png" alt="">
            </div>
            <div class="key">批次联系人：</div>
            <div class="val">{{ topTableData.engineer }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon5.png" alt="">
            </div>
            <div class="key">手机号码：</div>
            <div class="val">{{ topTableData.mobile }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon8.png" alt="">
            </div>
            <div class="key">QQ：</div>
            <div class="val">{{ topTableData.qq }}</div>
          </div>
        </div>
        <div class="rows flex-c">
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon3.png" alt="">
            </div>
            <div class="key">批次附件：</div>
            <div class="flex-c files">
              <div v-if="topTableData.appendix && topTableData.appendix.length > 0" class="flex-c file-box">
                <div v-for="(item, index) in topTableData.appendix" :key="index" class="flex-csb fileitem">
                  <template v-if="item">
                    <img src="@/assets/img/icons/file.png" alt="" class="file-img">
                    <p class="file-name">{{ item.fileName }}</p>
                  </template>
                </div>
              </div>
            </div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon6.png" alt="">
            </div>
            <div class="key">批次备注：</div>
            <div class="val">{{ topTableData.remark }}</div>
          </div>
          <div class="items flex-c">
            <div class="icon">
              <img src="@/assets/img/icons/icon9.png" alt="">
            </div>
            <div class="key">发布账号：</div>
            <div class="val">{{ topTableData.inquiryAccount }}</div>
          </div>
        </div>
      </div>
      <!-- 审核状态图标 -->
      <div class="status-box">
        <!-- <img src="@/assets/img/examine_pend.png" alt="" v-if="status == '1'"> -->
        <img v-if="status == '2'" src="@/assets/img/examine_yes.png" alt="">
        <img v-if="status == '3'" src="@/assets/img/examine_no.png" alt="">
      </div>
    </div>
    <div class="com-table table-wrap detail-table">
      <div class="flex-c com-operate-wrap inquiry">
        <el-button type="primary" class="btn" @click="showExportConfirm('select')">
          <div class="flex-cc">
            <img src="@/assets/img/icons/export.png" alt="" class="el-icon-search">导出
          </div>
        </el-button>
        <el-button type="primary" class="btn btn2" @click="showExportConfirm('all')">
          <div class="flex-cc">
            <img src="@/assets/img/icons/export.png" alt="" class="el-icon-search">全部导出
          </div>
        </el-button>
        <el-button v-if="status == '3' && inquiryType == '0'" type="primary" class="flex-cc btn" @click="editInquiry">编辑询价</el-button>
        <div class="com-search2 mb-5">
          <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如:材料名称" @keyup.enter.native="search" />
          <i class="el-icon-search" @click="search" />
        </div>
      </div>
      <!-- 表内容 -->
      <div v-if="tableData && tableData.length > 0" class="table-box">
        <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%" @selection-change="multipleSelection = $event">
          <el-table-column type="selection" width="66px" />
          <el-table-column prop="applyDate" label="材料名称">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.name }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="spec" min-width="120px" label="规格型号">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.spec }}</span>
            </template>
          </el-table-column>
          <el-table-column label="需求量">
            <template slot-scope="scope">
              <span class="t-color wrap">{{ scope.row.amount }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="unit" label="单位" />
          <el-table-column prop="maxRecommendNum" label="报价数" />
          <el-table-column label="含税/含运费">
            <template slot-scope="scope">
              <div class="flex-c mode-name">
                <img v-if="scope.row.tax == '是'" src="@/assets/img/icons/shui.png" alt="" class="faster-img">
                <img v-else src="@/assets/img/icons/shui_gray.png" alt="" class="faster-img">
                <img v-if="scope.row.carriage == '是'" src="@/assets/img/icons/yun.png" alt="" class="faster-img">
                <img v-else src="@/assets/img/icons/yun_gray.png" alt="" class="faster-img">
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="grade" label="档次">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.grade }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="brand" label="品牌">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.brand || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column label="供应商名称">
            <template slot-scope="scope">
              <span class="t-color">{{ scope.row.data || "--" }}</span>
            </template>
          </el-table-column>
          <el-table-column label="备注信息" align="center">
            <template slot-scope="scope">
              <el-tooltip v-if="scope.row.remark" placement="top" effect="light">
                <span slot="content">{{ scope.row.remark }}</span>
                <span class="mode-name">查看</span>
              </el-tooltip>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
      <!-- 表格无数据 -->
      <div v-else class="flex-cc nodata">
        <img src="@/assets/img/nodata.png" alt="" class="img">
      </div>
    </div>

    <!-- 导出材料询问弹窗 -->
    <el-dialog title="操作提示" :visible.sync="showExportDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <div>
        {{
          isExportType == "select"
            ? "你确定要导出勾选的材料吗？"
            : "你确定要导出全部材料吗？"
        }}
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button :loading="exportloading" type="primary" @click="confirmExport">确定</el-button>
      </span>
    </el-dialog>

    <!-- 审核弹窗 -->
    <el-dialog title="询价审核" :visible.sync="showToexamineDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false" @close="remark = ''">
      <img v-if="examineStatus == 1" src="@/assets/img/dialog/confirm.png" alt="">
      <p v-if="examineStatus == 1">确定审核通过？</p>
      <p v-if="examineStatus == 2" style="margin-bottom: 20px; text-align: left; padding-left: 4px">
        确定审核不通过？
      </p>
      <el-input v-if="examineStatus == 2" v-model="remark" type="textarea" resize="none" rows="7" placeholder="请输入审核批注（选填）" maxlength="300" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="showToexamineDialog = false">取消</el-button>
        <el-button type="primary" :loading="toExamineloading" @click="auditInquiry">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  auditInquiry,
  getInquiryMaterialPageList,
  getInquiryInfoById,
  exportInquiryMaterial
} from '@/api/inquiry'

import { exportInquiry } from '@/api/inquirySetting'

export default {
  filters: {
    gradeFilter(grade) {
      if (grade) {
        switch (grade) {
          case '0':
            return '中级'
          case '1':
            return '中高级'
          case '2':
            return '高级'
        }
      }
    }
  },
  data() {
    return {
      topTableData: {}, // 批次详情
      fileList: [], // 文件列表
      tableData: [], // 表格数据
      loading: false,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      searchVal: '', // 关键字
      showExportDialog: false,
      isExportType: '', // 当前导出类型
      exportloading: false,
      isAuditStatus: null, // 当前审核状态
      examineStatus: '', // 审核弹窗状态 1通过 2不通过
      remark: '', // 审核不通过理由
      showToexamineDialog: false, // 显示审核二次确认弹窗
      toExamineloading: false, // 二次确认loading
      status: '', // 审核状态 （1待审核 2审核通过 3审核不通过）
      inquiryId: '', // 批次id
      piciName: '', // 批次名称
      proName: '', // 项目名称
      multipleSelection: [], // 已选中的表单项
      inquiryType: '' // 询价类型
    }
  },
  mounted() {
    this.status = this.$route.query.status
    this.inquiryId = this.$route.query.id
    this.piciName = this.$route.query.piciName
    this.proName = this.$route.query.proName
    this.inquiryType = this.$route.query.inquiryType

    this.getInquiryInfoById()
    this.getInquiryMaterialPageList()
  },
  methods: {
    // 搜索
    search() {
      this.currentPage = 1
      this.getInquiryMaterialPageList()
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      // this.getUsersList()
      this.getInquiryMaterialPageList()
    },
    // 审核询价批次信息
    // auditInquiry() {
    //   auditInquiry({
    //     auditStatus: this.status,
    //     inquiryId: this.inquiryId,
    //   }).then((res) => {
    //     console.log(res);
    //   });
    // },
    // 获取询价库材料列表
    getInquiryMaterialPageList() {
      const params = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        inquiryId: this.inquiryId,
        keyWord: this.searchVal
      }
      this.loading = true
      getInquiryMaterialPageList(params)
        .then(res => {
          console.log(res)
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          } else {
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
          this.loading = false
        })
        .catch(err => {
          this.loading = false
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
    },
    // 获取批次详情
    getInquiryInfoById() {
      console.log(this.inquiryId)
      getInquiryInfoById({ id: this.inquiryId })
        .then(res => {
          console.log(res)
          // topTableData
          if (res.code == '01') {
            this.topTableData = res.body
          } else {
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
    },
    // 显示导出二次确认弹窗
    showExportConfirm(type) {
      this.isExportType = type
      if (this.isExportType == 'select') {
        if (!this.multipleSelection || this.multipleSelection.length == 0) {
          this.openAlert()
          return
        }
      }
      this.showExportDialog = true
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },
    // 确认导出
    confirmExport() {
      if (this.isExportType == 'select') {
        this.ExportSelectMaterial()
      } else {
        this.ExportAllMaterial()
      }
    },
    // 导出选中材料
    ExportSelectMaterial() {
      var imIds = ''
      for (var i = 0; i < this.multipleSelection.length; i++) {
        if (i == 0) imIds += this.multipleSelection[i].id
        else imIds += ',' + this.multipleSelection[i].id
      }

      // let params = {
      //   currentPage: this.currentPage,
      //   keyword: this.searchVal,
      //   pageSize: this.pageSize,
      //   inquiryId: this.inquiryId,
      //   imIds,
      // };
      // this.exportInquiryMaterial(params);

      const params = {
        currentPage: this.currentPage,
        keyword: this.searchVal,
        pageSize: this.pageSize,
        piciId: this.inquiryId,
        imIds
      }
      this.exportInquiry(params)
    },
    // 导出全部材价
    ExportAllMaterial() {
      const params = {
        currentPage: 1,
        keyword: '',
        pageSize: this.totalCount,
        piciId: this.inquiryId
      }
      this.exportInquiry(params)
    },
    // 调用导出接口
    exportInquiry(params) {
      this.exportloading = true
      exportInquiry(params)
        .then(res => {
          // ie11文件下载兼容
          if (navigator.msSaveOrOpenBlob) {
            navigator.msSaveBlob(
              new Blob([res], { type: 'text/csv;charset=utf-8;' }),
              sessionStorage.getItem('blob_filename') || '材料信息.xls'
            )
            return
          }
          const blob = res
          // 导出excel
          const fileReader = new FileReader()
          try {
            fileReader.readAsDataURL(blob)
          } catch (err) {}
          // 读取文件成功
          fileReader.onload = event => {
            const a = document.createElement('a')
            const _fileName =
              sessionStorage.getItem('blob_filename') || '材料信息.xls'
            a.download = _fileName
            a.href = event.target.result
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }
          // 读取完成（成功/失败）
          fileReader.onloadend = event => {
            sessionStorage.removeItem('blob_filename')
          }

          this.exportloading = false
          this.showExportDialog = false
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
          this.exportloading = false
        })
    },
    // 显示审核二次确认弹窗
    showExamine(type) {
      this.isAuditStatus = type
      this.showToexamineDialog = true

      if (type == 3) {
        this.examineStatus = 2
      } else {
        this.examineStatus = 1
      }
    },
    // 审核操作
    auditInquiry() {
      const obj = {
        inquiryId: this.inquiryId,
        auditStatus: this.isAuditStatus
      }
      if (this.isAuditStatus == 3) {
        // 审核不通过
        obj.remark = this.remark
      }
      this.toExamineloading = true
      // 审核
      auditInquiry(obj)
        .then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message || '审核成功！'
            })

            setTimeout(() => {
              this.getInquiryInfoById()
              this.currentPage = 1
              this.getInquiryMaterialPageList()
              this.status = this.isAuditStatus == 3 ? '3' : '2'
            }, 300)
          } else {
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }

          this.toExamineloading = false
          this.showToexamineDialog = false
        })
        .catch(err => {
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
          this.toExamineloading = false
          this.showToexamineDialog = false
        })
    },
    // 编辑询价
    editInquiry() {
      this.$router.push({
        path: '/publicModule/inquiryManage/editInquiry',
        query: {
          piciId: this.inquiryId,
          type: this.inquiryType,
          decide: 0
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../styles/variables.scss';
.comment-container {
  width: 100%;
  background-size: 100%;
  position: relative;

  .com-bg {
    top: -38px;
  }

  .detail-top {
    position: relative;
    background-color: #ffffff;
    padding: 6px 82px 31px 38px;
    border-radius: 0 0 6px 6px;
    .s-title {
      margin-top: 18px;
      margin-bottom: 14px;
    }
    .o-title {
      margin-bottom: 10px;
    }
    .btns {
      .btn {
        width: 112px;
        height: 34px;
        color: #ffffff !important;
        border-radius: 5px;
        font-weight: 400;
        .el-icon-search {
          margin-right: 5px;
        }
        > span {
          display: flex;
          align-items: center;
        }
      }
      .btn6 {
        background: $color-danger;
        border-color: $color-danger;
      }
    }
    .status-box {
      position: absolute;
      top: 14px;
      right: 34px;
      .status-img {
        width: 190px;
        height: 190px;
      }
    }
    .top-table {
      border: 1px solid #e6e6e6;
      border-right: none;
      .rows {
        .items {
          flex: 1;
          padding: 25px 29px;
          min-width: 416px;
          max-width: 33.33%;
          max-height: 81px;
          border-right: 1px solid #e6e6e6;
          border-bottom: 1px solid #e6e6e6;
          .icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
          .key {
            font-weight: 400;
            color: $gray-color;
            line-height: 30px;
            margin-right: 28px;
            min-width: 85px;
            max-width: 85px;
          }
          .val {
            font-family: 'mainfont';
            font-weight: bold;
            color: $table-color;
          }
          .files {
            max-width: 65%;
            min-width: 280px;
            .file-box {
              width: 100%;
              flex-wrap: wrap;
              .fileitem {
                margin-right: 6px;
                margin-bottom: 4px;
                .file-img {
                  width: 21px;
                  height: 20px;
                }
                .file-name {
                  margin: 0 25px 0 7px;
                  width: 81px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-size: 12px;
                  font-family: 'mainfont';
                }
              }
            }
          }
        }
      }
    }
  }
  .detail-table {
    margin-top: 18px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #ffffff;
    .inquiry {
      background: #fcfcfd;

      .btn {
        width: 112px;
        height: 34px;
        color: #ffffff !important;
        border-radius: 5px;
        font-weight: 400;
        .flex-cc {
          margin: 0 auto;
        }
        .el-icon-search {
          margin-right: 5px;
        }
        > span {
          display: flex !important;
          align-items: center !important;
        }
      }
      .btn2 {
        background: $color-minor;
        border-color: $color-minor;
      }
      .btn3 {
        background: $color-danger;
        border-color: $color-danger;
      }
    }
    .table-box {
      padding-bottom: 30px;
      .t-color {
        font-weight: 400;
        color: $table-color;
      }
      .wrap {
        width: 166px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .mode-name {
        cursor: pointer;
        color: $color-primary;
        text-align: left;
      }
      .faster-img {
        width: 18px;
        height: 18px;
        margin-left: 5px;
      }
    }
  }
}
</style>

<style lang="scss">
.comment-container {
  .table-box {
    .has-gutter {
      font-size: 14px;
    }
    .el-table {
      color: #5f5f5f;
      font-size: 13px;
      font-weight: 400;
    }
  }
}
</style>
