<template>
  <div class="rule">
    <ul>
      <li v-for="(item, index) in rules" :key="index">
        <div class="rulesBox">
          <p class="rules-title">{{ item.title }}</p>
          <div class="rules-content" v-if="item.content">{{ item.content }}</div>
          <div class="children" v-if="item.children">
            <div class="childrenBox" v-for="(childrenItem, childrenIndex) in item.children" :key="childrenIndex">
              <p class="children-title">{{ childrenItem.title }}</p>
              <div class="childrenRulesItem" v-if="childrenItem.content">{{ childrenItem.content }}</div>
              <div class="children" v-if="childrenItem.children">
                <div class="childrenBox2" v-for="(childrenItem2, childrenIndex2) in childrenItem.children" :key="childrenIndex2">
                  <div class="childrenRulesItem">{{ childrenItem2.content }}</div>
                  <div class="children" v-if="childrenItem2.children">
                    <div class="childrenBox2" v-for="(childrenItem3, childrenIndex3) in childrenItem2.children" :key="childrenIndex3">
                      <div class="childrenRulesItem">{{ childrenItem3.content }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      rules: [
        {
          title: '一、定义：',
          content: '询价批次是用户为了快速、准确地寻找所需材料的价格而在平台上发布的材料询价凭证。'
        },
        {
          title: '二、材料询价发布规则：',
          content: '材料询价发布包括：材料名称、规格型号、数量、单位、档次、品牌、报价（推荐）数、材料附件、材料备注，项目名称、工程师信息、报价地区等各项信息填写规则如下：',
          children: [
            {
              title: '1、材料名称',
              children: [
                {
                  content: 'a)需准确完整填写材料名称，且必须与材料描述相匹配；'
                },
                {
                  content: 'b)材料名称中严禁填写带有任何禁售产品，以及其他非法字词。'
                }
              ]
            },
            {
              title: '2、规格型号',
              children: [
                {
                  content: 'a)材料的规格型号应填写详细，准确，清晰；'
                },
                {
                  content: 'b)规格型号中严禁填写带有任何禁售，以及其他非法词汇。'
                }
              ]
            },
            {
              title: '3、数量单位',
              children: [
                {
                  content: 'a)需如实填写所需材料数量，及数量单位。如填写采购数量不准确，将会影响最终的材料报价金额。'
                }
              ]
            },
            {
              title: '4、报价（推荐）数',
              children: [
                {
                  content: 'a)材料询价所需要的报价（推荐）数以填写的具体数字为计算单位，1条报价（推荐）数收取（扣除）1条询价条数。'
                }
              ]
            },
            {
              title: '5、材料档次品牌',
              children: [
                {
                  content: 'a)用户所填写的材料询价的品牌及档次，直接影响询价工程师在询价时对品牌、档次的选择及最终报价结果。'
                }
              ]
            },
            {
              title: '6、材料附件',
              children: [
                {
                  content: 'a)只能上传与询价材料有关的文件内容；'
                },
                {
                  title: 'b)严禁上传。',
                  children: [
                    {
                      content: 'i.淫秽、低俗、反动等违法内容；'
                    },
                    {
                      content: 'ii.与材料或公司无关的内容；'
                    },
                    {
                      content: 'iii.涉嫌侵犯他人知识产权的内容；'
                    },
                    {
                      content: 'iv.其它根据网站规则不得上传的内容。'
                    }
                  ]
                },
              ]
            },
            {
              title: '7、材料备注',
              children: [
                {
                  content: 'a)根据需询价的材料，填写材料的详细信息或对回复报价的其他要求说明。'
                }
              ]
            },
            {
              title: '8、项目名称',
              children: [
                {
                  content: 'a)需准确填写询价材料所属的真实项目名称，促使询价工程师更加精准询价。'
                }
              ]
            },
            {
              title: '9、工程师信息',
              children: [
                {
                  content: 'a)系统会自动提取联系信息，如不是负责本次采购的联系人和联系方式，请自主修改正确的联系信息，以确保询价工程师准确联系相应询价负责人进行洽谈。'
                }
              ]
            },
            {
              title: '10、报价地区',
              children: [
                {
                  content: 'a)用户需准确填写询价材料的报价地区，如未准确填写，最终因材料报价地区的不同，直接影响材料报价的最终结果出现较大差异。'
                }
              ]
            },
          ]
        },
        {
          title: '三、个人信息保护声明：',
          content: '个人信息的收集：',
          children: [
            {
              title: '1、造价通收集您的个人信息的最终目的是为了向您提供更好的产品、服务，优化并丰富您的用户体验，所收集的个人信息可单独或者与其他信息结合识别您的个人身份的信息，包括：',
              children: [
                {
                  content: '①姓名'
                },
                {
                  content: '②移动电话'
                },
                {
                  content: '③您在网站的表格上输入的其他信息（电子邮箱、住址等）'
                },
                {
                  content: '④在您上载到网站的内容中包含的任何个人信息'
                }
              ]
            },
            {
              title: '2、以上个人信息均为您自愿提供。您有权拒绝提供，但如您拒绝提供某些个人信息，您将可能无法使用我们提供的产品、服务，或者可能对您使用产品或服务造成一定的影响；'
            },
            {
              title: '3、对于不满 18 岁的用户，须在法定监护人已经阅读本声明并且许可的情况下，通过网站提交个人信息；'
            },
            {
              title: '4、个人信息的使用和分享',
              content: '您同意，中建普联可以通过以下方式对个人信息进行使用和分享（包含对于个人信息的存储和处理）：',
              children: [
                {
                  content: '①我们和关联公司使用；'
                },
                {
                  content: '②我们向相关供应商、厂商及集团分享并由其使用；'
                },
                {
                  content: '③我们及关联公司及相关建材供应商、厂商为满足您的需求，可能通过您提供的信息与您联系；'
                },
                {
                  content: '④我们及关联公司及相关建材供应商、厂商可能定期或不定期向您发送有关产品、服务或相关活动的信息，您同意接收上述信息；'
                },
                {
                  content: '⑤您同意免除上述个人信息的接收和或使用方在按照本法律声明所述情形下进行信息披露和使用而导致的或可能导致的所有索赔、责任和损失。'
                },
              ]
            }
          ]
        },
        {
          title: '四、附则：',
          children: [
            {
              content: '1、本规则解释权归中建普联所有；'
            },
            {
              content: '2、中建普联有权不定时修订本规则并公示，修订后的规则于公示日或公示内容指定日生效。'
            }
          ]
        },
        {
          title: '©2021 施工企业经营管理大数据平台 版权所有'
        },
        {
          title: '中华人民共和国国家标准《建设工程人工材料设备机械数据标准》参编单位和数据提供方：广东中建普联科技股份有限公司'
        }
      ],
    };
  }
};
</script>

<style lang="scss" scoped>
  .rule{
    color: #333333;
    font-size: 14px;
    line-height: 16px;
    max-height: 334px;
    overflow-y: scroll;
    .rulesBox{
      margin-bottom: 30px;
      .childrenBox{
        margin-bottom: 10px;
      }
    }
  }
</style>
