<template>
  <div class="account-container">
    <div class="mt-5 com-search">
      <el-input v-model="searchKeyword" class="search-ipt" placeholder="搜索关键字，如账号、姓名" @keyup.enter.native="searchFunc" />
      <i class="el-icon-search" @click="searchFunc" />
    </div>
    <!-- 表格 -->
    <div class="com-table">
      <div class="com-operate-wrap pt-0">
        <el-button @click="openCreateUserDialog">添加账号</el-button>
        <el-button @click="openCreateUserDialog('update')">修改</el-button>
        <el-button @click="openChangeRoleDialog">更换角色</el-button>
        <el-button @click="openInitPasswordDialog">重置密码</el-button>
        <el-button class="delete-btn" @click="openDelDialog">删除</el-button>
      </div>

      <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" row-key="id" style="width: 100%;" @selection-change="handleSelectionChange">
        <el-table-column type="selection" :reserve-selection="true" width="80px" />
        <el-table-column prop="userAccount" label="账号" />
        <el-table-column prop="userName" label="姓名" />
        <el-table-column prop="phone" label="手机号" />
        <el-table-column prop="deptName" label="部门" />
        <el-table-column prop="job" label="职位" />
        <el-table-column prop="roleGroup" label="角色组" />
        <el-table-column label="最近登录时间">
          <template slot-scope="scope">
            <span>{{ scope.row.lastLoginOn | filterDate }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="lastLoginIp" label="最近访问IP" />
      </el-table>

      <div class="flex-csb com-pages-wrap">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
              <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
          <div class="com-page-btn">确定</div>
        </div>
      </div>
    </div>
    <!-- 表格 end -->

    <!-- 添加/修改账号弹窗 -->
    <el-dialog :title="title" :visible.sync="showCreateUserDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-input">
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>账号</span>
        <el-input v-model="createParams.account" maxlength="6" placeholder="请输入6位由英文与数字组成的账号" :disabled="title === '修改账号'" @input="checkInput" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>姓名</span>
        <el-input v-model="createParams.name" maxlength="10" placeholder="请输入姓名" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>部门</span>
        <el-input v-model="createParams.department" maxlength="10" placeholder="请输入部门" />
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>职位</span>
        <el-input v-model="createParams.job" maxlength="10" placeholder="请输入职位" />
      </div>
      <div class="flex-c mb-20 com-select">
        <span class="label-text"><span>*</span>角色组</span>
        <el-select v-model="createParams.roleId" placeholder="请选择角色">
          <el-option v-for="(item, index) in roleGroup" :key="index" :label="item.roleName" :value="item.id" />
        </el-select>
      </div>
      <div class="flex-c mb-20">
        <span class="label-text"><span>*</span>手机号</span>
        <el-input v-model="createParams.phone" maxlength="11" placeholder="请输入手机号" />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showCreateUserDialog = false">取消</el-button>
        <el-button type="primary" :loading="addLoading" @click="addOrUpdateAccount">确定</el-button>
      </span>
    </el-dialog>
    <!-- 添加/修改账号弹窗 end -->

    <!-- 更换角色弹窗 -->
    <el-dialog title="更换角色" :visible.sync="showChangeRoleDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-input">
      <p class="com-s-text mb-20">请选择您要更换的角色</p>
      <div class="flex-c com-select">
        <el-select v-model="curRoleId" placeholder="请选择">
          <el-option v-for="(item, index) in roleGroup" :key="index" :label="item.roleName" :value="item.id" />
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showChangeRoleDialog = false">取消</el-button>
        <el-button type="primary" :loading="changeRoleLoading" @click="changeRoles">保存</el-button>
      </span>
    </el-dialog>
    <!-- 更换角色弹窗 end -->

    <!-- 重置密码弹窗 -->
    <el-dialog title="重置密码" :visible.sync="showInitPasswordDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/war_icon.png" alt="">
        <p class="fw-b">您确定要重置[<span v-if="multipleSelection && multipleSelection.length > 0">{{ multipleSelection[0].userAccount }}</span>]用户密码吗？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showInitPasswordDialog = false">取消</el-button>
        <el-button type="primary" :loading="initPwdLoading" @click="initPwd">确定</el-button>
      </span>
    </el-dialog>
    <!-- 重置密码 end-->

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/del_icon02.png" alt="">
        <p class="fw-b">确定删除选中用户？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delLoading" @click="confirmDelete">确定</el-button>
      </span>
    </el-dialog>
    <!-- 删除弹窗 end-->
  </div>
</template>

<script>
import { formatDate, validPhone } from '@/utils/common'
import {
  deleteUser,
  resetPwd,
  getRoleList,
  addUser,
  updateUser,
  selectUser,
  updateRole
} from '@/api/cs/user'
export default {
  name: 'Account',
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    }
  },
  data() {
    return {
      title: '添加账号',
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      loading: false,
      showCreateUserDialog: false, // 创建/修改账号弹窗
      createParams: {
        // 添加账号参数
        account: null,
        name: null,
        department: null,
        job: null,
        roleId: null,
        phone: null
      },
      roleGroup: [], // 角色组
      showChangeRoleDialog: false, // 更换角色弹窗
      curRoleId: null, // 当前要更换的角色
      showInitPasswordDialog: false, // 重置密码弹窗
      initPwdLoading: false,
      showDelDialog: false, // 删除弹窗
      delLoading: false,
      addLoading: false,
      changeRoleLoading: false,
      curEditType: null
    }
  },
  mounted() {
    this.getDataList()
    this.getRoleList()
  },
  methods: {
    // 数值校验
    checkInput() {
      // 只能输入英文、数字
      this.createParams.account = this.createParams.account.replace(
        /[^\a-\z\A-\Z0-9]/g,
        ''
      )
    },
    // 新增
    addUser(params) {
      this.addLoading = true
      addUser(params)
        .then(res => {
          this.addLoading = false
          if (res.code == '01') {
            this.$alert('添加账号成功！密码为：' + res.body, '操作提示', {
              confirmButtonText: '确定',
              type: 'success'
            })

            this.showCreateUserDialog = false
            this.$refs.multipleTable.clearSelection()
            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addLoading = false
        })
    },
    // 修改
    updateUser(params) {
      this.addLoading = true
      updateUser(params)
        .then(res => {
          this.addLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showCreateUserDialog = false
            this.$refs.multipleTable.clearSelection()
            this.getDataList()

            // 修改自己的信息，导航栏同步userName
            if (params.id === this.$store.getters.id) {
              sessionStorage.setItem('user_name', params.userName)
              sessionStorage.setItem('phone', params.phone)
              this.$store.commit('user/SET_NAME', params.userName)
              this.$store.commit('user/SET_PHONE', params.phone)
            }
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.addLoading = false
        })
    },
    // 添加/修改账号
    addOrUpdateAccount() {
      var reg = new RegExp('^[A-Za-z0-9]+$')
      if (!this.createParams.account) {
        this.$message({
          type: 'error',
          message: '请输入账号'
        })
        return
      } else if (!reg.test(this.createParams.account)) {
        this.$message({
          type: 'error',
          message: '账号只能为英文、数字'
        })
        return
      } else if (!this.createParams.name) {
        this.$message({
          type: 'error',
          message: '请输入姓名'
        })
        return
      } else if (!this.createParams.department) {
        this.$message({
          type: 'error',
          message: '请输入部门'
        })
        return
      } else if (!this.createParams.job) {
        this.$message({
          type: 'error',
          message: '请输入职位'
        })
        return
      } else if (!this.createParams.roleId) {
        this.$message({
          type: 'error',
          message: '请选择角色'
        })
        return
      } else if (!this.createParams.phone) {
        this.$message({
          type: 'error',
          message: '请输入手机号'
        })
        return
      } else if (!validPhone(this.createParams.phone)) {
        this.$message({
          type: 'error',
          message: '请输入有效的手机号'
        })
        return
      }
      var roleName = null
      for (var i = 0; i < this.roleGroup.length; i++) {
        if (this.roleGroup[i].id == this.createParams.roleId) {
          roleName = this.roleGroup[i].roleName
        }
      }

      var params = {
        deptName: this.createParams.department,
        job: this.createParams.job,
        roleId: this.createParams.roleId,
        roleName: roleName,
        userAccount: this.createParams.account,
        userName: this.createParams.name,
        phone: this.createParams.phone
      }
      // curEditType = update为修改，否者为新增
      if (this.curEditType == 'update') {
        params.id = this.multipleSelection[0].id
        this.updateUser(params)
      } else {
        this.addUser(params)
      }
    },
    // 更换角色
    changeRoles() {
      if (!this.curRoleId) {
        this.$message({
          type: 'error',
          message: '请选择角色'
        })
        return
      }
      var params = {
        id: this.multipleSelection[0].id,
        roleId: this.curRoleId
      }
      this.changeRoleLoading = true
      updateRole(params)
        .then(res => {
          this.changeRoleLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.showChangeRoleDialog = false
            this.$refs.multipleTable.clearSelection()
            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.changeRoleLoading = false
        })
    },
    // 获取角色列表
    getRoleList() {
      getRoleList().then(res => {
        if (res.code == '01') {
          this.roleGroup = res.body
        }
      })
    },
    // 重置密码
    initPwd() {
      var params = {
        id: this.multipleSelection[0].id
      }
      this.initPwdLoading = true
      resetPwd(params)
        .then(res => {
          this.initPwdLoading = false
          if (res.code == '01') {
            this.showInitPasswordDialog = false
            this.$refs.multipleTable.clearSelection()
            this.$alert('重置密码成功！新密码为：' + res.body, '操作提示', {
              confirmButtonText: '确定',
              type: 'success'
            })
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.initPwdLoading = false
        })
    },
    // 账号列表
    getDataList() {
      var data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.searchKeyword
      }
      this.loading = true
      selectUser(data)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 确定删除
    confirmDelete() {
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].id)
      }
      var params = {
        ids: ids.join(',')
      }
      this.delLoading = true
      deleteUser(params)
        .then(res => {
          this.delLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showDelDialog = false
            this.$refs.multipleTable.clearSelection()
            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.delLoading = false
        })
    },
    // 删除弹窗
    openDelDialog() {
      if (this.multipleSelection.length > 0) {
        this.showDelDialog = true
      } else {
        this.openAlert('请至少选择一个要删除的账号')
        return
      }
    },
    // 重置密码弹窗
    openInitPasswordDialog() {
      if (this.multipleSelection.length == 1) {
        this.showInitPasswordDialog = true
      } else {
        this.openAlert('请仅选择一个要修改的账号')
        return
      }
    },
    // 更换角色弹窗
    openChangeRoleDialog() {
      if (this.multipleSelection.length == 1) {
        this.curRoleId = this.multipleSelection[0].roleId
        this.showChangeRoleDialog = true
      } else {
        this.openAlert('请仅选择一个要修改的账号')
        return
      }
    },
    // 添加/修改账号弹窗
    openCreateUserDialog(type) {
      this.curEditType = null
      // 修改
      if (type == 'update') {
        this.title = '修改账号'
        this.curEditType = type
        if (this.multipleSelection.length == 1) {
          this.showCreateUserDialog = true
          this.createParams = {
            account: this.multipleSelection[0].userAccount,
            name: this.multipleSelection[0].userName,
            department: this.multipleSelection[0].deptName,
            job: this.multipleSelection[0].job,
            roleId: this.multipleSelection[0].roleId,
            phone: this.multipleSelection[0].phone
          }
        } else {
          this.openAlert('请仅选择一个要修改的账号')
          return
        }
      } else {
        // 添加
        this.title = '添加账号'
        this.showCreateUserDialog = true
        this.createParams = {
          account: null,
          name: null,
          department: null,
          job: null,
          roleId: null,
          phone: null
        }
      }
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>
