<template>
  <div class="permission-container">
    <div class="mt-5 com-search">
      <el-input v-model="searchKeyword" class="search-ipt" placeholder="请输入关键字" @keyup.enter.native="searchFunc" />
      <i class="el-icon-search" @click="searchFunc" />
    </div>
    <!-- 表格 -->
    <div class="com-table">
      <div class="com-operate-wrap pt-0">
        <el-button @click="skipRolesManagerPage">添加角色</el-button>
        <el-button class="delete-btn" @click="openDelDialog">删除</el-button>
      </div>

      <el-table ref="multipleTable" v-loading="loading" :data="tableData" tooltip-effect="dark" style="width: 100%;" @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="80px" />
        <el-table-column prop="roleName" label="角色名称" />
        <el-table-column prop="relatePerson" label="相关角色人员" />
        <el-table-column label="更新时间">
          <template slot-scope="scope">
            <span>{{ scope.row.updateOn | filterDate }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="creator" label="操作人" />
        <el-table-column label="功能权限" class="role-icon">
          <template slot-scope="scope">
            <img class="cp pl-20" src="@/assets/img/cs/icons/role_icon.png" alt="" @click="skipRolesManagerPage(scope.row)">
          </template>
        </el-table-column>
      </el-table>

      <div class="flex-csb com-pages-wrap">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
              <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
          <div class="com-page-btn">确定</div>
        </div>
      </div>
    </div>
    <!-- 表格 end -->

    <!-- 删除弹窗 -->
    <el-dialog title="删除" :visible.sync="showDelDialog" :close-on-click-modal="false" width="491px" class="com-dialog com-del-dialog">
      <div class="dialog-content">
        <img src="@/assets/img/cs/icons/del_icon02.png" alt="">
        <p class="fw-b">确定删除选中角色？</p>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showDelDialog = false">取消</el-button>
        <el-button type="primary" :loading="delLoading" @click="deleteRoles">确定</el-button>
      </span>
    </el-dialog>
    <!-- 删除弹窗 end-->
  </div>
</template>

<script>
import { formatDate } from '@/utils/common'
import { selectRole, deleteRole } from '@/api/cs/user'

export default {
  name: 'Account',
  filters: {
    filterDate(val) {
      var res = val ? formatDate(val, '1') : ''
      return res
    }
  },
  data() {
    return {
      searchKeyword: null,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      tableData: [],
      multipleSelection: [],
      pageSizeList: [10, 20, 30, 40, 50, 100],
      loading: false,
      showDelDialog: false, // 删除弹窗
      delLoading: false
    }
  },
  mounted() {
    this.getDataList()
  },
  methods: {
    // 删除角色
    deleteRoles() {
      var ids = []
      for (var i = 0; i < this.multipleSelection.length; i++) {
        ids.push(this.multipleSelection[i].roleId)
      }
      var params = {
        ids: ids.join(',')
      }
      this.delLoading = true
      deleteRole(params)
        .then(res => {
          this.delLoading = false
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })

            this.showDelDialog = false
            this.$refs.multipleTable.clearSelection()
            this.getDataList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
          }
        })
        .catch(err => {
          this.delLoading = false
        })
    },
    // 角色列表数据
    getDataList() {
      var params = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.searchKeyword
      }
      this.loading = true
      selectRole(params)
        .then(res => {
          this.loading = false
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          }
        })
        .catch(err => {
          this.loading = false
        })
    },
    // 跳转角色管理页
    skipRolesManagerPage(item) {
      this.$router.push({
        path: '/setting/rolesManager/index',
        query: {
          id: item.roleId,
          name: item.roleName
        }
      })
    },
    // 删除弹窗
    openDelDialog() {
      if (this.multipleSelection.length > 0) {
        this.showDelDialog = true
      } else {
        this.openAlert('请至少选择一个要删除的角色')
        return
      }
    },
    // 搜索
    searchFunc() {
      this.currentPage = 1
      this.getDataList()
    },
    // 表格选取
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getDataList()
    },
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type || 'warning'
      })
    }
  }
}
</script>
