<template>
  <div>
    <!-- 标准化弹窗 -->
    <el-dialog
      :title="title"
      :visible.sync="showScanDialog"
      :before-close="closeScan"
      :close-on-click-modal="false"
      width="560px"
      class="com-dialog com-scan-dialog">
      <div>
        <el-steps class="scan-step" :active="curActive" align-center>
          <el-step title="完善信息" icon="el-icon-check"></el-step>
          <el-step title="安全扫描" icon="el-icon-check"></el-step>
          <el-step class="label-3" title="智能标准化" icon="el-icon-check"></el-step>
          <el-step class="label-4" title="标准化完成" icon="el-icon-check"></el-step>
        </el-steps>
        <div class="flex-cc scan-content"  v-if="!isScan">
          <div class="loading-img">
            <img src="@/assets/img/dialog/scan_loading.png" alt="">
            <span>{{curActive}}<span>项</span></span>
          </div>
          <span class="tip-label">正在拼命为您批量标准化，请耐心等候...</span>
        </div>
        <div class="flex-cc scan-item"  v-if="!isScan">
          <div class="s-item">
            <img src="@/assets/img/dialog/scan_act_01.png" alt="" v-if="curActive >= 1">
            <img src="@/assets/img/dialog/scan_01.png" alt="" v-else>
            <p>上传文档成功</p>
          </div>
          <div class="s-item">
            <img src="@/assets/img/dialog/scan_act_02.png" alt="" v-if="curActive >= 2">
            <img src="@/assets/img/dialog/scan_02.png" alt="" v-else>
            <p>智能识别文档成功</p>
          </div>
          <div class="s-item">
            <img src="@/assets/img/dialog/scan_act_03.png" alt="" v-if="curActive >= 3">
            <img src="@/assets/img/dialog/scan_03.png" alt="" v-else>
            <p>自动清洗数据成功</p>
          </div>
          <div class="s-item">
            <img src="@/assets/img/dialog/scan_act_04.png" alt="" v-if="curActive == 4">
            <img src="@/assets/img/dialog/scan_04.png" alt="" v-else>
            <p>正在批量标准化</p>
          </div>
        </div>

        <div class="flex-cc scan-content scan-success" v-if="isScan && curActive > 3">
          <img src="@/assets/img/dialog/success.png" alt="">
          <div>
            <p>标准化成功<span class="suc-num">{{successCount}}</span>条，失败<span class="err-num">{{failCount}}</span>条</p>
            <p class="warntips" v-if="failCount > 0 && bzhFailList && bzhFailList.length > 0">温馨提示：是否将标准化失败的材料{{failCount}}条，保存为非标准化材价？</p>
          </div>
        </div>
        <div class="flex-cc scan-content scan-success" v-if="isScan && curActive <= 3">
          <img src="@/assets/img/dialog/error.png" alt="">
          <p v-if="errMsg">{{errMsg}}</p>
          <p v-else>上传失败，请重试</p>
        </div>
      </div>

      <span slot="footer" class="dialog-footer scanfoot" v-if="isScan">
        <el-button v-if="curActive > 3 && failCount > 0" :loading="downloadKeyLoading" @click="downloadErrorList">下载失败清单</el-button>
        <el-button type="primary" @click="confirmScan(failCount>0 ? true : false)">确定</el-button>
        <el-button type="primary" @click="confirmScan(false)" v-if="failCount > 0 && bzhFailList && bzhFailList.length > 0">否</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: ['bzhFailList', 'scanState', 'failCount', 'successCount', 'downloadKeyLoading', 'errMsg', 'title'],
  data () {
    return {
      curActive:0,           // 当前进度
      isScan: false,          // 是否扫描完毕
      showScanDialog: true,  // 显示标准化弹窗
      timer1: null,
      timer2: null,
      timer3: null,
      timer4: null,
      timer5: null,
      timer6: null,
    }
  },
  mounted() {
    clearTimeout(this.timer1)
    clearTimeout(this.timer2)
    clearTimeout(this.timer3)
    clearTimeout(this.timer5)
    clearTimeout(this.timer6)
    clearInterval(this.timer4)
    this.initLoading()
  },
  watch: {
    // 监听标准化状态：scanState（0待开始，1成功，失败）
    scanState() {
      clearTimeout(this.timer1)
      clearTimeout(this.timer2)
      clearTimeout(this.timer3)
      clearTimeout(this.timer5)
      clearInterval(this.timer4)
      this.isScan = true

      if (this.scanState == '1') {
        this.curActive = 4
      } else if (this.scanState == '2') {
        this.curActive = 3
      }
    }
  },
  computed: {
    ...mapGetters([
      'loadingTime1',
      'loadingTime2',
      'loadingTime3',
    ])
  },
  methods: {
    // 初始化
    initLoading() {
      this.isScan = false
      this.curActive = 0
      this.timer1 = setTimeout(() => {
        this.curActive ++
      }, this.loadingTime1)
      this.timer2 = setTimeout(() => {
        this.curActive ++
      }, this.loadingTime2)
      this.timer3 = setTimeout(() => {
        this.curActive ++
      }, this.loadingTime3)
      this.timer4 = setInterval(() => {
        if (this.scanState == '2') {
          this.curActive ++
          this.timer5 = setTimeout(() => {
            this.isScan = true
          }, 500)
        }
      }, 1000)
    },

    // 关闭扫描
    closeScan(done) {
      if (!this.isScan) {
        this.$confirm('正在标准化，确认关闭?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          if (!this.isScan) {
            this.$emit('confirmScan')
            clearTimeout(this.timer1)
            clearTimeout(this.timer2)
            clearTimeout(this.timer3)
            clearTimeout(this.timer5)
            clearInterval(this.timer4)
          }
        })
      } else {
        done()
        this.$emit('confirmScan')
      }
    },
    // 通知父组件结束标准化效果
    confirmScan(ajax) {
      this.$emit('confirmScan',ajax)
      clearTimeout(this.timer1)
      clearTimeout(this.timer2)
      clearTimeout(this.timer3)
      clearTimeout(this.timer5)
      clearInterval(this.timer4)
    },
    // 下载失败清单
    downloadErrorList() {
      this.$emit('downloadErrorList')
      // this.confirmScan()
    }
  }
}
</script>

<style lang="scss">
@import '../../styles/variables.scss';
// 安全扫描样式
.com-scan-dialog {
  .scan-step {
    .el-step__head {
      position: absolute;
      top: 20px;
      left: 0;
      &.is-finish {
        .el-step__icon {
          background: #2773FC;
        }
        .el-icon-check {
          display: block;
        }
      }
      .el-icon-check {
        display: none;
      }
      .el-step__icon-inner {
        font-size: 14px;
        color: #fff;
        font-weight: bold;
      }
      .el-step__icon {
        width: 21px;
        height: 21px;
        background: #ccc;
        border-radius: 50%;
      }
    }
    .el-step__main {
      position: absolute;
      top: -15px;
      left: 26px;
    }
    .el-step.label-3 {
      .el-step__main {
        left: 19px;
      }
    }
    .el-step.label-4 {
      .el-step__main {
        left: 40px;
      }
    }
    .el-step__title.is-finish {
      color: #2773FC;
    }
    .el-step__title {
      color: #999;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .scan-content {
    padding-top: 68px;
    .loading-img {
      position: relative;
      margin-right: 22px;
      img {
        animation: scanLoading .5s linear infinite;
      }
      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #2773FC;
        font-size: 30px;
        font-weight: bold;
        > span {
          color: #2773FC;
          font-size: 12px;
        }
      }
    }
    .tip-label {
      font-size: #333;
      color: #333;
    }
  }
  .scan-item {
    margin: 26px auto 0 auto;
    width: 438px;
    text-align: center;
    .s-item {
      margin-right: 29px;
      &:last-child {
        margin-right: 0;
      }
      p {
        margin-top: 10px;
        font-size: 10px;
        color: #999;
      }
    }
  }
  .scan-success {
    padding: 78px 0 20px 0;
    font-size: 14px;
    color: #333;
    img {
      margin-right: 23px;
      width: 71px;
      height: 85px;
    }
    .warntips{
        width: 300px;
        font-size: 12px;
        margin-top: 10px;
        color: #555555;
    }
    .suc-num {
      color: #8CC929;
    }
    .err-num {
      color: #FF3C3C;
    }
  }
  .el-dialog__header{
    background-color: #ffffff;
  }
  .el-dialog__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    .scanfoot{
      >button{
        border-radius: 5px;
        width: 112px;
        height: 34px;
        font-weight: 500;
        font-size: 15px;
      }
      & button:first-child{
        // color: $color-primary !important;
        border:1px solid $color-primary !important;
      }
    }
  }
}
</style>
