<template>
  <div class="personal">
    <div class="p-content">
      <UserInfo />
    </div>
  </div>
</template>

<script>
import UserInfo from './components/UserInfo'
export default {
  name: 'Profile',
  components: {
    UserInfo
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.personal {
  margin-top: 17px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .p-content {
    padding: 35px 25px;
    width: 100%;
    background: #fff;
  }
}
</style>
