<template>
  <div class="kpi">
    <div class="flex-c com-menu-wrap">
      <div class="cp m-item" :class="{ active: curMenu === '单方造价' }" @click="changeMenu('单方造价')">
        <span>单方造价</span>
        <div class="t-line" />
      </div>
      <div class="cp m-item" :class="{ active: curMenu === '技术指标' }" @click="changeMenu('技术指标')">
        <span>技术指标</span>
        <div class="t-line" />
      </div>
    </div>

    <div class="tab-content">
      <div class="com-search2">
        <el-input v-model="economicName" placeholder="请输入指标名称、分类搜索" @keyup.enter.native="economicSearchFun" />
        <i class="el-icon-search" @click="economicSearchFun" />
      </div>
      <!-- <div class="flex-fs custom-type">
        <span class="com-label-text">选择指标分类</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curTargetType === null }">全部</li>
            <li>主材总含量</li>
            <li>工程量消耗</li>
            <li>工料机消耗</li>
          </ul>
        </div>
      </div>
      <div class="flex-fs custom-type">
        <span class="com-label-text">请选择单位工程</span>
        <div class="t-wrap">
          <ul class="flex-cw">
            <li :class="{ active: curUnit === null }">全部</li>
            <li>房屋建筑与装饰工程</li>
            <li>通用安装工程</li>
            <li>园林绿化工程</li>
          </ul>
        </div>
      </div> -->
      <div class="flex-csb">
        <div class="flex-c pl-0 pb-0 com-operate-wrap">
          <el-button type="primary" :loading="btLoading" class="flex-cc has-primary-btn w-btn" @click="setEffectTarget(1)">
            <img src="@/assets/img/icons/project_stock/valid.png" alt="" class="mr-4">
            <span>设为有效指标</span>
          </el-button>
          <el-button type="primary" :loading="btLoading" class="flex-cc has-minor-btn w-btn" @click="setEffectTarget(2)">
            <img src="@/assets/img/icons/project_stock/no_valid.png" alt="" class="mr-4">
            <span>设为无效指标</span>
          </el-button>

          <!-- czhui -->
          <!-- <el-button @click="shareTarget" class="flex-cc btn btn3 w-btn">
            <img
              src="@/assets/img/v2.0/icons/分享 拷贝 2.png"
              alt=""
              class="el-icon-search mr-4"
            />分享项目指标
          </el-button> -->

          <!-- <el-button class="flex-cc default-btn w-btn">
            <img src="@/assets/img/icons/project_stock/compare_02.png" alt="" class="mr-4">
            <span>指标同类对比</span>
          </el-button>
          <el-button class="flex-cc default-btn w-btn">
            <img src="@/assets/img/icons/project_stock/compare_02.png" alt="" class="mr-4">
            <span>指标阶段对比</span>
          </el-button> -->
        </div>
        <div class="flex-c export-btn" @click="exportTarget">
          <span class="cp">
            <img src="@/assets/img/icons/project_stock/export.png" alt="">
            <span>导出指标</span>
          </span>
        </div>
      </div>

      <div class="b-content">
        <div class="div-category">
          <engineering-tree ref="engineerTree" :project-stage-id="projectStageId" :cur-menu="curMenu" :is-state="false" @nodeClick="engineerClick" />
        </div>
        <div class="total-table">
          <el-table ref="multipleTable" key="table1" v-loading="isLoading" :data="totalTable" tooltip-effect="dark" style="width: 100%" @selection-change="multipleSelection = $event">
            <el-table-column type="selection" width="40" />
            <el-table-column type="index" width="60" label="序号" />
            <el-table-column label="指标名称">
              <template slot-scope="scope">
                <span class="cp" @click="toTargetDetail(scope.row)">
                  {{ scope.row.name }}
                </span>
              </template>
            </el-table-column>
            <el-table-column prop="type" label="指标分类" />
            <el-table-column prop="stdName" label="所属单位工程" />
            <el-table-column :label="curMenu === '单方造价' ? '单方造价' : '技术指标'">
              <template slot-scope="scope">
                <span :class="{ 'g-color': scope.row.error }">{{
                  scope.row.econStd
                }}</span>
              </template>
            </el-table-column>
            <el-table-column v-if="curMenu === '单方造价'" width="130" prop="totalPrice" label="造价金额(万元)" />
            <el-table-column v-if="curMenu === '技术指标'" width="130" prop="totalPrice" label="工程量(单位)" />
            <el-table-column prop="caliber" label="建筑面积(㎡)" />
            <el-table-column v-if="curMenu === '单方造价'" prop="projectSVenue" label="适用地区" />
            <el-table-column v-if="curMenu === '单方造价'" prop="applicableDate" label="适用时间" />
            <el-table-column label="操作" width="100">
              <template slot-scope="scope">
                <div class="flex-csb">
                  <el-popover v-if="scope.row.status" placement="top-start" popper-class="popper-style" trigger="hover" class="ml-20">
                    <ul class="ul-chart">
                      <li class="mb-10" @click="showTrendChart(scope.row.id, 1)">
                        指标同类走势
                      </li>
                      <li @click="showTrendChart(scope.row.id, 2)">
                        指标阶段走势
                      </li>
                    </ul>
                    <img slot="reference" class="va-m mr-2" src="@/assets/img/v2.0/icons/指标趋势.png" alt="">
                  </el-popover>
                  <span class="flex-c mr-10" @click="setCurrentModel(scope.row.status, scope.$index)">
                    <template v-if="scope.row.status">
                      <img class="va-m mr-2" src="@/assets/img/v2.0/icons/有效.png" alt="">
                      <span class="va-m c-minor nowrap">有效</span>
                    </template>
                    <template v-else>
                      <img class="va-m mr-2" src="@/assets/img/v2.0/icons/无效.png" alt="">
                      <span class="va-m nowrap">无效</span>
                    </template>
                  </span>

                  <!-- <span
                    v-if="true"
                    @click="showTrendChart"
                    class="flex-c mr-10"
                  >
                    <img
                      class="va-m mr-2"
                      src="@/assets/img/v2.0/icons/指标趋势.png"
                      alt=""
                    />
                    <span class="va-m b-color">指标同类走势</span>
                  </span>
                  <span v-if="true" @click="showTrendChart" class="flex-c">
                    <img
                      class="va-m mr-2"
                      src="@/assets/img/v2.0/icons/指标趋势.png"
                      alt=""
                    />
                    <span class="va-m b-color">指标阶段走势</span>
                  </span> -->
                </div>
              </template>
            </el-table-column>
          </el-table>
          <!-- 分页 -->
          <div class="flex-csb com-pages-wrap">
            <div class="flex-c left-page">
              <span>当前显示</span>
              <div class="flex-cc cur-page">
                <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                  <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
                </el-select>
              </div>
              <span>条</span>
              <span class="total-num">共{{ totalCount }}条数据</span>
            </div>
            <div class="flex-c right-page">
              <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
              <div class="com-page-btn">确定</div>
            </div>
          </div>
        </div>
        <!-- <div class="detail-table" v-else>
          <el-table
            ref="multipleTable"
            :data="detailTable"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change="multipleSelection = $event"
          >
            <el-table-column type="selection" width="40"> </el-table-column>
            <el-table-column type="index" label="序号" width="60">
            </el-table-column>
            <el-table-column label="指标名称">
              <template slot-scope="scope">
                <span class="cp" @click="toTargetDetail">
                  {{ scope.row.name }}
                </span>
              </template>
            </el-table-column>
            <el-table-column prop="type" label="指标分类"> </el-table-column>
            <el-table-column prop="name" label="技术指标">
              <template slot-scope="scope">
                <span :class="{'g-color': scope.row.error}">{{scope.row.econStd}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="工程量(单位)">
            </el-table-column>
            <el-table-column width="130" prop="econStd" label="总建设面积">
            </el-table-column>
            <el-table-column prop="caliber" label="建筑面积(㎡)">
            </el-table-column>
            <el-table-column label="操作" width="100">
              <template slot-scope="scope">
                <div class="flex-csb">
                  <span v-if="scope.row.effect" class="flex-c mr-10">
                    <img
                      class="va-m mr-2"
                      src="@/assets/img/v2.0/icons/有效.png"
                      alt=""
                    />
                    <span class="va-m c-minor nowrap">有效</span>
                  </span>
                  <span v-else class="flex-c mr-10">
                    <img
                      class="va-m mr-2"
                      src="@/assets/img/v2.0/icons/无效.png"
                      alt=""
                    />
                    <span class="va-m nowrap">无效</span>
                  </span>
                  <el-popover
                    placement="top-start"
                    popper-class="popper-style"
                    trigger="hover"
                  >
                    <ul class="ul-chart">
                      <li @click="showTrendChart" class="mb-10">
                        指标同类走势
                      </li>
                      <li @click="showTrendChart">指标阶段走势</li>
                    </ul>
                    <img
                      class="va-m mr-2"
                      slot="reference"
                      src="@/assets/img/v2.0/icons/指标趋势.png"
                      alt=""
                    />
                  </el-popover>
                </div>
              </template>
            </el-table-column>
          </el-table>
          <div class="flex-csb com-pages-wrap">
            <div class="flex-c left-page">
              <span>当前显示</span>
              <div class="flex-cc cur-page">
                <el-select
                  v-model="pageSize"
                  placeholder="请选择"
                  @change="handleCurrentChange(1)"
                >
                  <el-option
                    v-for="(item, index) in pageSizeList"
                    :key="index"
                    :label="item"
                    :value="item"
                  >
                  </el-option>
                </el-select>
              </div>
              <span>条</span>
              <span class="total-num">共{{ totalCount }}条数据</span>
            </div>
            <div class="flex-c right-page">
              <el-pagination
                background
                @current-change="handleCurrentChange"
                :current-page.sync="currentPage"
                :page-size="pageSize"
                layout="prev, pager, next, jumper"
                :total="totalCount"
              >
              </el-pagination>
              <div class="com-page-btn">确定</div>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <!--  添加项目对比弹窗 -->
    <el-dialog :visible.sync="addItemCompare" :close-on-click-modal="false" title="添加工程对比" width="885px" class="com-dialog">
      <div>
        <div class="flex-c">
          <div class="com-search2">
            <el-input v-model="keyword" placeholder="请输入工料机名称查找" @keyup.enter.native="searchFun" />
            <i class="el-icon-search" @click="searchFun" />
          </div>
          <div class="flex-c com-select">
            <el-select v-model="curUnit" placeholder="请选择单位工程">
              <el-option v-for="item in list" :key="item.id" :label="item.id" :value="item.id" />
            </el-select>
          </div>
          <div class="flex-c com-select">
            <el-select v-model="curUnit" placeholder="请选择分类">
              <el-option v-for="item in list" :key="item.id" :label="item.id" :value="item.id" />
            </el-select>
          </div>
        </div>
      </div>
    </el-dialog>

    <el-dialog :title="trendType == 1 ? '指标同类走势' : '指标阶段走势'" :visible.sync="trendChartVisible" width="885px" class="chart-dialog">
      <div class="dialog-content">
        <ul v-if="trendInfo" class="flex-csb ul-row">
          <li>
            <span>所属行业：</span>
            <span>
              {{ trendInfo.specialtyType
              }}<template v-if="trendInfo.specialtyType && trendInfo.projectType">-</template>{{ trendInfo.projectType
              }}<template v-if="
                  (trendInfo.engType && trendInfo.projectType) ||
                    (trendInfo.engType && trendInfo.sort)
                ">-</template>{{ trendInfo.engType }}
            </span>
          </li>
          <li>
            <span>阶段：</span>
            <span>{{ trendInfo.stageName }}</span>
          </li>
          <li>
            <span>适用：</span>
            <span>
              {{ trendInfo.province
              }}<template v-if="trendInfo.province && trendInfo.city">-</template>{{ trendInfo.city }}
            </span>
          </li>
          <li>
            <span>计税：</span>
            <span>{{ trendInfo.taxManner | taxMannerFilter }}</span>
          </li>
          <li>
            <span>指标分类：</span>
            <span>{{ trendInfo.sort }}</span>
          </li>
        </ul>
        <ul class="flex-csb mt-10">
          <li>
            <span>当前指标：</span>
            <span v-if="trendInfo" :title="trendInfo.name" class="red mr-20">{{ trendInfo.name }}</span>
          </li>
          <li>
            <span>当前数值：</span>
            <span v-if="trendInfo" :title="trendInfo.econStd" class="red mr-20">{{ trendInfo.econStd }}</span>
          </li>
          <li v-if="trendType == 1" class="flex-c">
            <span>所选时间范围：</span>
            <div class="flex-c com-select cycle-wrap">
              <el-select v-model="curTime" class="com-radius-input" placeholder="请选择" size="medium" @change="trendIndicator">
                <el-option v-for="item in timeList" :key="item.value" :label="item.name" :value="item.value" />
              </el-select>
            </div>
          </li>
        </ul>

        <div id="echarts2" class="mt-20" style="width: 100%; height: 400px" />
      </div>
    </el-dialog>

    <!-- 设置有效无效 -->
    <confirm-dialog title-text="操作提示" :is-show.sync="showEffectDialog" :content-text="effectContent" :bt-loading="effectLoading" @confirmClick="confirmEffect" />
    <!-- 设置成功弹窗 -->
    <complete-dialog :is-show.sync="showCompleteDialog" :dialog-type="completeType" :content-text="completeContent" />
  </div>
</template>

<script>
import * as echarts from 'echarts'

import {
  getEconListByStageId,
  setIndicator,
  trendIndicator,
  exportIndicator
} from '@/api/project2.0'

import EngineeringTree from '@/components/EngineeringTree/index.vue'
export default {
  components: {
    EngineeringTree
  },
  filters: {
    taxMannerFilter(tax) {
      if (tax == '1') {
        return '增值税（一般计税方法）'
      } else if (tax == '2') {
        return '增值税（简易计税方法）'
      } else {
        return '增值税（营业税计税法）'
      }
    }
  },
  props: ['baseInfoParams', 'projectStageId'],
  data() {
    return {
      curMenu: '单方造价',
      list: [], // 单位工程列表
      curUnit: '', // 当前选中单位工程
      totalTable: [], // 单方造价列表
      keyword: '',
      economicName: '', // 搜索指标名称、分类
      detailTable: [], // 技术指标列表
      multipleSelection: [],
      totalCount: 0,
      currentPage: 1,
      pageSize: 10,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      curTargetType: null, // 指标分类
      addItemCompare: false,

      trendChartVisible: false, // 是否显示走势图
      curTime: 0, // 当前选中的时间范围
      timeList: [
        {
          value: 0,
          name: '全部'
        },
        {
          value: 3,
          name: '近3年内'
        },
        {
          value: 5,
          name: '近5年内'
        }
      ], // 状态列表
      isLoading: false,
      isTypeCode: null, // 当前选中项目分类code

      showEffectDialog: false,
      isEffectType: 1, // 1有效 2无效
      isEffectIndex: null,

      completeType: 'success',
      showCompleteDialog: false,

      effectParams: {
        ids: [],
        status: 1
      },
      btLoading: false, // 有效/无限按钮loading
      effectLoading: false, // 确认弹窗loading
      trendId: null,
      trendType: 1, // 1、指标同类走势 2、指标阶段走势
      trendInfo: null,

      trendXaxis: [],
      trendYaxis: [],
      trendPoint: [],
      completeContent: ''
    }
  },
  computed: {
    // 设置有效/无效提示
    effectContent() {
      const text = this.isEffectType == 1 ? '有效' : '无效'
      const isEffect = this.isEffectType == 1 ? '能' : '不'
      return `确定将该指标设为${text}吗？${text}指标${isEffect}参与综合指标计算、分析等`
    },
    caliberUnit() {
      let unit = '元/m³'
      if (this.trendInfo && this.trendInfo.unit && this.trendInfo.caliberUnit) {
        unit = this.trendInfo.unit + '/' + this.trendInfo.caliberUnit
      }
      return unit
    }
  },
  mounted() {
    this.getEconListByStageId()
  },
  methods: {
    getText() {
      let text = '有效'
      let isNo = '可'
      if (this.isEffectType == 2) {
        text = '无效'
        isNo = '不'
      }
      const type = this.completeType == 'success' ? '成功' : '失败'
      this.completeContent = `设为${text}指标${type}，${text}指标${isNo}参与综合指标计算、分析等`
    },
    // 切换tab 或者 切换阶段
    changeMenu(item) {
      if (item && this.curMenu != item) {
        this.curMenu = item
      }
      this.currentPage = 1
      this.isTypeCode = null
      this.$nextTick(() => {
        this.$refs.engineerTree.getIndicatorTree()
        this.getEconListByStageId()
      })
    },
    // 工程分类筛选
    engineerClick(it) {
      this.isTypeCode = it.code
      this.getEconListByStageId()
    },
    // 获取指标列表
    getEconListByStageId(params) {
      let data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        type: this.curMenu == '单方造价' ? 1 : 2, // 1.经济 2.技术
        keyword: this.economicName,
        projectStageId: this.projectStageId,
        code: this.isTypeCode
      }
      if (params) data = { ...data, ...params }
      this.isLoading = true
      getEconListByStageId(data).then(res => {
        if (res.code == '01') {
          this.totalTable = res.body.list
          this.totalCount = res.body.totalCount
          this.isLoading = false
        }
      })
    },
    // 搜索
    searchFun() {},
    // 单方造价-搜索
    economicSearchFun() {
      this.currentPage = 1
      this.getEconListByStageId()
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getEconListByStageId()
    },
    // 设置有效/无效指标
    setEffectTarget(type) {
      if (this.multipleSelection.length > 0) {
        const arr = this.multipleSelection.map(it => {
          return it.id
        })
        this.effectParams.ids = arr + ''
        this.effectParams.status = type
        this.isEffectType = type
        this.setIndicator()
      } else {
        this.openAlert()
      }
    },
    // 显示设置有效/无效指标弹窗
    setCurrentModel(type, index) {
      this.isEffectType = !type ? 1 : 2
      this.isEffectIndex = index
      this.showEffectDialog = true
    },
    // 设置有效/无效
    confirmEffect() {
      const id = this.totalTable[this.isEffectIndex].id
      this.effectParams.ids = [id] + ''
      this.effectParams.status = this.isEffectType
      this.effectLoading = true

      this.setIndicator()
    },
    // 调用设置有效/无效请求
    setIndicator() {
      this.btLoading = true
      const effectParams = {
        ids: this.effectParams.ids,
        status: this.effectParams.status == 1 ? 1 : 0
      }
      setIndicator(effectParams)
        .then(res => {
          if (res.code == '01') {
            this.getText()
            this.showCompleteDialog = true
            this.getEconListByStageId()
          }
          this.effectLoading = false
          this.btLoading = false
        })
        .catch(err => {
          this.effectLoading = false
          this.btLoading = false
        })
    },
    // 分享项目指标
    shareTarget() {
      if (this.multipleSelection.length > 0) {
      } else {
        this.openAlert()
      }
    },
    // 导出指标
    exportTarget() {
      if (this.totalCount == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }

      let text = '全部'

      const data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        type: this.curMenu == '单方造价' ? 1 : 2, // 1.经济 2.技术
        keyword: this.economicName,
        projectStageId: this.projectStageId,
        code: this.isTypeCode
      }

      if (this.multipleSelection.length > 0) {
        const arr = this.multipleSelection.map(it => {
          return it.id
        })

        data.ids = arr
        text = '当前选中'
      }

      this.$confirm(`确定导出${text}数据吗?`, '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        exportIndicator(data)
          .then(res => {
            // ie11文件下载兼容
            if (navigator.msSaveOrOpenBlob) {
              navigator.msSaveBlob(
                new Blob([res], { type: 'text/csv;charset=utf-8;' }),
                sessionStorage.getItem('blob_filename') || '指标汇总.xls'
              )
              return
            }
            const blob = res
            // 导出excel
            const fileReader = new FileReader()
            try {
              fileReader.readAsDataURL(blob)
            } catch (err) {}
            // 读取文件成功
            fileReader.onload = event => {
              const a = document.createElement('a')
              const _fileName =
                sessionStorage.getItem('blob_filename') || '指标汇总.xls'
              a.download = _fileName
              a.href = event.target.result
              document.body.appendChild(a)
              a.click()
              document.body.removeChild(a)
            }
            // 读取完成（成功/失败）
            fileReader.onloadend = event => {
              sessionStorage.removeItem('blob_filename')
            }
          })
          .catch(err => {})
      })
    },
    // 获取指标走势数据
    trendIndicator() {
      trendIndicator({
        id: this.trendId,
        type: this.trendType,
        range: this.curTime
      }).then(res => {
        if (res.code == '01') {
          this.trendInfo = res.body
          const list = this.trendInfo.res
          if (list && list.length) {
            this.trendXaxis = []
            this.trendYaxis = []
            this.trendPoint = []

            for (let i = 0, l = list.length; i < l; i++) {
              if (this.trendType == 1) {
                const date = list[i].applicableDate.substring(0, 7)
                // 指标同类走势
                this.trendXaxis.push(date)
              } else {
                // 指标阶段走势
                this.trendXaxis.push(list[i].stageConfigName)
              }

              const str = parseFloat(list[i].econStd) + ''
              this.trendYaxis.push(str)

              if (list[i].id == this.trendId) {
                let name = ''
                if (this.trendType == 1) {
                  // 指标同类走势
                  name = list[i].applicableDate.substring(0, 7)
                } else {
                  // 指标阶段走势
                  name = list[i].stageConfigName
                }
                const obj = { name, value: str }
                this.trendPoint.push(obj)
              } else {
                const obj = { name: null, value: null }
                this.trendPoint.push(obj)
              }
            }

            this.$nextTick(() => {
              this.initEcharts()
            })
          }
        }
      })
    },
    // 显示走势图
    showTrendChart(id, type) {
      this.trendId = id
      this.trendType = type
      this.trendChartVisible = true

      if (type == 2) {
        this.curTime = 0
      }
      this.trendIndicator()
    },
    // 初始化图表
    initEcharts() {
      let end = 100
      const len = this.trendXaxis.length
      if (len > 10 && len <= 15) {
        end = 90
      } else if (len > 15 && len <= 20) {
        end = 70
      } else if (len > 20 && len <= 30) {
        end = 50
      } else if (len > 30) {
        end = 20
      }

      var myChart2 = echarts.init(document.getElementById('echarts2'))
      var option2 = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            crossStyle: {
              color: '#fff'
            }
          },
          textStyle: {
            color: '#fff'
          },
          backgroundColor: 'rgba(13, 78, 137, 1)',
          formatter: params => {
            return `单方造价：${params[0].value} ${this.caliberUnit}`
          }
        },
        dataZoom: {
          type: 'slider',
          show: true,
          showDetail: false,
          realtime: true,
          start: 0,
          end: end,
          height: 20,
          bottom: 0,
          brushSelect: false
        },
        legend: {
          data: ['单方造价', '当前数值']
        },
        grid: {
          bottom: 50
        },
        xAxis: [
          {
            type: 'category',
            data: this.trendXaxis,
            axisLabel: {
              lineStyle: {
                color: 'rgba(153, 153, 153, 1)'
              }
            },
            axisTick: {
              show: false
            }
          }
        ],
        yAxis: {
          type: 'value',
          name: '单方造价-' + this.caliberUnit,
          axisLabel: {
            formatter: '{value}'
          },
          min: 0
        },
        series: [
          {
            name: '单方造价',
            type: 'line',
            data: this.trendYaxis,
            itemStyle: {
              color: 'rgba(255, 135, 54, 1)'
            },
            lineStyle: {
              width: 1
            },
            smooth: true,
            areaStyle: {
              color: {
                type: 'linear',
                x: 0,
                y: 0,
                x2: 0,
                y2: 1,
                colorStops: [
                  {
                    offset: 0,
                    color: 'RGBA(255, 135, 54, .3)' // 0% 处的颜色
                  },
                  {
                    offset: 1,
                    color: 'RGBA(255, 244, 236, .5)' // 100% 处的颜色
                  }
                ],
                global: false // 缺省为 false
              }
            }
          },
          {
            name: '当前数值',
            type: 'scatter',
            data: this.trendPoint,
            markPoint: {
              symbol: 'circle',
              symbolSize: 10,
              itemStyle: {
                normal: {
                  borderColor: '#0D4E89',
                  color: '#0D4E89',
                  label: {
                    show: true,
                    backgroundColor: '#0D4E89',
                    position: 'top',
                    color: '#fff',
                    padding: [5, 10],
                    borderRadius: 3,
                    height: 15,
                    formatter: val => {
                      return '当前数值：' + val.value + this.caliberUnit
                    }
                  }
                }
              },
              data: [{ type: 'max', name: 'Max' }]
            },
            itemStyle: {
              color: '#0D4E89'
            }
          }
        ]
      }
      myChart2.setOption(option2)
    },
    // 跳转到指标详情
    toTargetDetail(row) {
      this.$router.push({
        path: '/target/detail',
        query: {
          id: row.id,
          type: this.curMenu == '单方造价' ? 1 : 2,
          projectName: this.baseInfoParams.name
        }
      })
    },
    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据操作'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.kpi {
  width: 100%;
  min-height: 300px;
  border-left: 7px solid #f6f6f6;
  background: #fff;
  padding-top: 28px;
  .com-menu-wrap {
    margin-bottom: 33px;
    background: #f6f6f6;
  }
  .com-select {
    width: 281px;
  }
  .com-pages-wrap {
    padding: 0;
  }
  .b-content {
    width: 100%;
    display: flex;
    // padding: 0 15px 100px 20px;
    padding-bottom: 100px;
    .export-btn {
      padding-right: 16px;
      color: #333;
      font-size: 16px;
      .s-export {
        margin-right: 36px;
      }
      img {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
    .total-table,
    .detail-table {
      padding: 0 0 57px 13px;
      margin-top: 17px;
      width: 100%;
      // box-shadow: 0px 1px 8px 0px #eff0f3;
      border-radius: 8px;

      .has-gutter {
        font-size: 14px;
      }

      .nowrap {
        min-width: 28px;
        display: inline-block;
      }

      .flex-csb span.flex-c {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      &::v-deep .el-table th:first-child > .cell,
      &::v-deep .el-table td:first-child > .cell {
        padding-left: 8px;
      }
    }

    .div-category {
      margin-top: 25px;
      padding-right: 20px;

      width: 220px;
      background: #fff;
      border-radius: 8px;
      border-right: 1px solid #f6f6f6;

      &::v-deep .com-search2 {
        padding-right: 10px;
        width: 200px;
        min-width: 150px;

        i {
          transform: scale(0.8);
        }

        .el-input__inner {
          padding-right: 6px;
          padding-left: 12px;
          font-size: 12px;
        }
      }
    }
  }
  .default-btn {
    img {
      width: 14px;
      height: 14px;
    }
  }
  .custom-type {
    // padding: 0 14px 0 23px;
    > span {
      margin-right: 32px;
      white-space: nowrap;
      min-width: 90px;
      text-align: center;
    }
    .t-wrap {
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      ul {
        margin-bottom: 10px;
        border-bottom: 1px solid #f3f3f4;
        &.all-list {
          padding: 5px 12px;
          background: #f3f3f4;
          box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
          border-radius: 5px;
          li {
            padding-top: 8px;
            padding-bottom: 8px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        li {
          padding-bottom: 8px;
          margin-right: 24px;
          font-size: 14px;
          color: #666;
          cursor: pointer;
          &.active {
            color: $color-minor;
          }
          &:hover {
            color: $color-minor;
          }
        }
      }
    }
  }

  .com-search2::v-deep .el-input__inner {
    border: 0;
  }

  .tab-content {
    padding: 0 20px 20px 20px;
  }

  .chart-dialog {
    &::v-deep .el-dialog__header {
      .el-dialog__title {
        font-size: 14px;
        font-family: Source Han Sans CN;
        font-weight: 600;
        color: #333333;
      }
      .el-icon-close:before {
        color: #0b4375;
        font-weight: 600;
      }
    }
    &::v-deep .el-dialog__body {
      padding: 25px 20px;
      font-size: 14px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #999999;
    }

    .dialog-content {
      .ul-row {
        padding-bottom: 16px;
        border-bottom: 1px solid #f4f4f4;
      }
    }
  }
}
.ml-20 {
  margin-left: -7px;
  margin-right: 20px;
}
</style>
<style lang="scss">
.kpi {
  .el-table th.is-leaf,
  .el-table td {
    border-bottom: 1px solid #f3f3f4;
  }

  .el-table th:first-child > .cell,
  .el-table td:first-child > .cell {
    padding-left: 27px;
  }
}
.popper-style {
  min-width: 120px;
}
.ul-chart {
  text-align: center;
  li {
    cursor: pointer;
    &:hover {
      opacity: 0.9;
      color: #1789f2;
    }
  }
}
</style>
