<template>
  <div class="quantity">
    <div class="flex-c com-menu-wrap">
      <div class="cp m-item" :class="{active: curMenu === '汇总表'}" @click="changeMenu('汇总表')">
        <span>汇总表</span>
        <div class="t-line" />
      </div>
      <div class="cp m-item" :class="{active: curMenu === '明细表'}" @click="changeMenu('明细表')">
        <span>明细表</span>
        <div class="t-line" />
      </div>
    </div>

    <div v-if="curMenu === '汇总表'" class="b-content">
      <div class="flex-csb">
        <div class="flex-c com-select">
          <el-select v-model="unitId" placeholder="请选择单位工程" @change="getProjectMatCount">
            <el-option v-for="item in unitProject" :key="item.id" :label="item.name" :value="item.id" />
          </el-select>
        </div>
        <div class="flex-c export-btn">
          <span class="cp" @click="exportFile">
            <img src="@/assets/img/icons/project_stock/export.png" alt="">
            <span>全部导出</span>
          </span>
        </div>
      </div>
      <div class="total-table expand-table">
        <el-table :data="totalTable" :row-key="getRowKeys" :expand-row-keys="expandRowKeys" style="width: 100%" @expand-change="expandChange">
          <el-table-column type="expand" width="48px">
            <template slot-scope="scope">
              <el-table :data="subTable" style="width: 100%" class="sub-expand-table">
                <el-table-column label="" width="48px" />
                <el-table-column label="">
                  <template slot-scope="subScope">
                    <span>{{ scope.$index + 1 }}.{{ subScope.$index + 1 }}</span>
                  </template>
                </el-table-column>
                <el-table-column prop="name" label="名称" />
                <el-table-column label="合价（元）">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.totalPrice) }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="单方造价">
                  <template slot-scope="subScope">
                    <span>{{ formatNumber(subScope.row.econStd, true) || '--/--' }}</span>
                  </template>
                </el-table-column>
                <el-table-column label="造价占比(合价/项目造价)">
                  <template slot-scope="scope">
                    <span v-if="scope.row.pct || scope.row.pct === 0">{{ (scope.row.pct * 100).toFixed(2) }}%</span>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </el-table-column>
          <el-table-column label="序号">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="名称" />
          <el-table-column label="合价（元）">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.totalPrice) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="单方造价">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.econStd, true) || '--/--' }}</span>
            </template>
          </el-table-column>
          <el-table-column label="造价占比(合价/项目造价)">
            <template slot-scope="scope">
              <span v-if="scope.row.pct || scope.row.pct === 0">{{ (scope.row.pct * 100).toFixed(2) }}%</span>
            </template>
          </el-table-column>
        </el-table>
        <div class="flex-csb bottom-wrap">
          <span />
          <div class="flex-c">
            <p class="mr-75">
              <span class="l-text">合计：</span>
              <span>{{ formatNumber(totalPrice) }}元</span>
            </p>
            <!-- <p>
              <span class="l-text">总造价占比</span>
              <span>{{totalPct * 100}}%</span>
            </p> -->
          </div>
        </div>
      </div>
    </div>
    <div v-else class="b-content">
      <div class="flex-csb">
        <div class="flex-c">
          <div class="com-search2">
            <el-input v-model="keyword" placeholder="请输入工料机名称查找" @keyup.enter.native="searchFun" />
            <i class="el-icon-search" @click="searchFun" />
          </div>
          <div class="flex-c com-select">
            <el-select v-model="unitDetailId" placeholder="请选择单位工程" @change="searchFun">
              <el-option v-for="item in unitProject" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </div>
          <div class="flex-c com-select">
            <el-select v-model="curType" placeholder="请选择分类" @change="searchFun">
              <el-option v-for="item in typeList" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </div>
          <div class="flex-c cp mr-10" @click="sortPrice">
            <img v-if="addprice == ''" src="@/assets/img/icons/project_stock/sort.png" alt="">
            <img v-if="addprice == 1 || addprice == 2" src="@/assets/img/icons/project_stock/sort_active.png" alt="">
            <span :style="addprice != '' ? 'color: #1789F2;' : ''">合价</span>
          </div>
          <div class="flex-c cp" @click="sortNum">
            <img v-if="addnum == ''" src="@/assets/img/icons/project_stock/sort.png" alt="">
            <img v-if="addnum == 1 || addnum == 2" src="@/assets/img/icons/project_stock/sort_active.png" alt="">
            <span :style="addnum != '' ? 'color: #1789F2;' : ''">数量</span>
          </div>
        </div>
        <div class="flex-c export-btn">
          <span class="cp s-export" @click="exportDetailFile('some')">
            <img src="@/assets/img/icons/project_stock/export.png" alt="">
            <span>导出</span>
          </span>
          <span class="cp" @click="exportDetailFile('all')">
            <img src="@/assets/img/icons/project_stock/export.png" alt="">
            <span>全部导出</span>
          </span>
        </div>
      </div>
      <div class="detail-table">
        <el-table ref="multipleTable" key="id" :data="detailTable" tooltip-effect="dark" style="width: 100%" @selection-change="multipleSelection = $event">
          <el-table-column type="selection" width="66" />
          <el-table-column label="序号">
            <template slot-scope="scope">
              <span>{{ scope.$index + 1 }}</span>
            </template>
          </el-table-column>
          <el-table-column prop="stdName" label="名称" />
          <el-table-column prop="spec" label="规格" />
          <el-table-column prop="unit" label="单位" />
          <el-table-column label="数量">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.count) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="单价（元）">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.price) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="合价（元）">
            <template slot-scope="scope">
              <span>{{ formatNumber(scope.row.totalPrice) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="材料占比（合价/工料机合计）" width="200">
            <template slot-scope="scope">
              <span>{{ (scope.row.pct * 100).toFixed(6) }}%</span>
              <span v-if="(scope.row.pct * 100)<0.000001">
                <el-tooltip effect="light" content="小于0.000001%" placement="top" class="ml-9 cp">
                  <i class="iconfont icon-wenhao r-color" />
                </el-tooltip>
              </span>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页 -->
        <div class="flex-csb com-pages-wrap">
          <div class="flex-c left-page">
            <span>当前显示</span>
            <div class="flex-cc cur-page">
              <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
                <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
              </el-select>
            </div>
            <span>条</span>
            <span class="total-num">共{{ totalCount }}条数据</span>
          </div>
          <div class="flex-c right-page">
            <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
            <div class="com-page-btn">确定</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getProjectMatCount,
  exportProjectMat,
  getProjectMatCountDetail,
  exportMatCountDetail,
  getProjectMatView
} from '@/api/project'
import { getProjectUnitEngList } from '@/api/newProject'
export default {
  props: ['baseInfoParams', 'projectStageDetail'],
  data() {
    return {
      expandRowKeys: [],
      getRowKeys(row) {
        return row.id
      },
      totalPct: 0, // 总造价占比
      totalPrice: 0, // 总造价
      unitId: 0, // 单位工程id
      projectStageId: null,
      projectId: null,
      curMenu: '汇总表',
      unitProject: [], // 单位工程列表
      curType: 0, // 分类
      typeList: [
        {
          id: 0,
          name: '全部'
        },
        {
          id: 1,
          name: '人工'
        },
        {
          id: 2,
          name: '材料'
        },
        {
          id: 3,
          name: '机械'
        }
      ], // 分类列表
      unitDetailId: 0, // 明细单位工程id
      list: [],
      totalTable: [],
      keyword: '',
      detailTable: [], // 明细表
      subTable: [],
      multipleSelection: [],
      totalCount: 0,
      currentPage: 1,
      pageSize: 10,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      addprice: '', // ''无序 1升序 2降序
      addnum: '' // ''无序 1升序 2降序
    }
  },
  mounted() {
    this.projectStageId = this.projectStageDetail.proStageBaseInfo.projectStageId
    this.projectId = this.baseInfoParams.id
    this.getProjectMatCount()
    this.getProjectUnitEngList()
    this.getProjectMatCountDetail()
  },
  methods: {
    // 筛选合价
    sortPrice() {
      this.addnum = ''
      if (this.addprice) {
        if (this.addprice == '1') {
          this.addprice = '2'
        } else {
          this.addprice = ''
        }
      } else {
        this.addprice = '1'
      }
      this.currentPage = 1
      this.getProjectMatCountDetail()
    },

    // 筛选数量
    sortNum(type) {
      this.addprice = ''
      if (this.addnum) {
        if (this.addnum == '1') {
          this.addnum = '2'
        } else {
          this.addnum = ''
        }
      } else {
        this.addnum = '1'
      }
      this.currentPage = 1
      this.getProjectMatCountDetail()
    },

    // 提示选取表格
    openAlert(text, type) {
      var text = text || '请至少选择一条数据'
      var type = type || 'warning'
      this.$alert(text, '提示', {
        confirmButtonText: '确定',
        type: type
      })
    },

    // 查询工料机汇总详情导出
    exportDetailFile(type) {
      let ids = []
      if (type == 'all') {
        if (this.detailTable.length == 0) {
          this.openAlert('暂无要导出的数据', 'info')
          return
        }
        ids = null
      } else {
        if (this.multipleSelection.length > 0) {
          for (var i = 0; i < this.multipleSelection.length; i++) {
            ids.push(this.multipleSelection[i].id)
          }
        } else {
          this.openAlert()
          return
        }
      }
      const data = {
        currentPage: null,
        pageSize: null,
        projectStageId: this.projectStageId,
        ids: ids
      }
      exportMatCountDetail(data).then(res => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: 'text/csv;charset=utf-8;' }),
            sessionStorage.getItem('blob_filename') || '工料机汇总详情.xls'
          )
          return
        }
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName =
            sessionStorage.getItem('blob_filename') || '工料机汇总详情.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          sessionStorage.removeItem('blob_filename')
        }
      })
    },
    // 工料机汇总表导出
    exportFile() {
      if (this.totalTable.length == 0) {
        this.openAlert('暂无要导出的数据', 'info')
        return
      }
      const params = {
        projectStageId: this.projectStageId,
        unitId: this.unitId
      }
      exportProjectMat(params).then(res => {
        // ie11文件下载兼容
        if (navigator.msSaveOrOpenBlob) {
          navigator.msSaveBlob(
            new Blob([res], { type: 'text/csv;charset=utf-8;' }),
            sessionStorage.getItem('blob_filename') || '工料机汇总表.xls'
          )
          return
        }
        const blob = res
        // 导出excel
        const fileReader = new FileReader()
        try {
          fileReader.readAsDataURL(blob)
        } catch (err) {}
        // 读取文件成功
        fileReader.onload = event => {
          const a = document.createElement('a')
          const _fileName =
            sessionStorage.getItem('blob_filename') || '工料机汇总表.xls'
          a.download = _fileName
          a.href = event.target.result
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
        // 读取完成（成功/失败）
        fileReader.onloadend = event => {
          sessionStorage.removeItem('blob_filename')
        }
      })
    },
    // 展开行
    expandChange(row, expandRows) {
      this.expandRowKeys = []
      if (expandRows.length) {
        if (row) {
          this.subTable = []
          this.expandRowKeys.push(row.id) // 每次push进去的是每行的ID
          if (row.detailList && row.detailList.length > 0) {
            row.detailList.forEach(item => {
              this.subTable.push(item)
            })
          }
        }
      }
    },
    // 工料机汇总表
    getProjectMatCount() {
      const params = {
        projectStageId: this.projectStageId,
        unitId: this.unitId
      }
      getProjectMatView(params).then(res => {
        if (res.code == '01') {
          this.totalTable = res.body || []
          let totalPrice = 0
          let totalPct = 0
          for (let i = 0; i < this.totalTable.length; i++) {
            totalPrice += this.totalTable[i].totalPrice
            totalPct += this.totalTable[i].pct * 100
          }
          this.totalPrice = totalPrice.toFixed(2)
          this.totalPct = totalPct.toFixed(2)
        }
      })
    },
    // 单位工程列表
    getProjectUnitEngList() {
      const params = {
        projectStageId: this.projectStageId
      }
      getProjectUnitEngList(params).then(res => {
        if (res.code === '01') {
          this.unitProject = res.body || []
          this.unitProject.unshift({
            id: 0,
            name: '全部'
          })
        }
      })
    },
    changeMenu(item) {
      this.curMenu = item
    },
    // 明细表
    getProjectMatCountDetail() {
      const data = {
        currentPage: this.currentPage,
        pageSize: this.pageSize,
        keyword: this.keyword,
        type: this.curType,
        unitId: this.unitDetailId,
        projectStageId: this.projectStageId,
        isTotalPrice:
          this.addprice == '1' ? true : this.addprice == '2' ? false : null,
        isCount: this.addnum == '1' ? true : this.addnum == '2' ? false : null
      }
      getProjectMatCountDetail(data).then(res => {
        if (res.code === '01') {
          this.detailTable = res.body.list
          this.totalCount = res.body.totalCount
        }
      })
    },
    // 搜索
    searchFun() {
      this.currentPage = 1
      this.getProjectMatCountDetail()
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      this.getProjectMatCountDetail()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.quantity {
  width: 100%;
  min-height: 300px;
  border-left: 7px solid #f6f6f6;
  background: #fff;
  padding-top: 28px;
  .com-menu-wrap {
    margin-bottom: 33px;
    background: #f6f6f6;
  }
  .com-select {
    width: 281px;
  }
  .com-pages-wrap {
    padding: 0;
  }
  .b-content {
    width: 100%;
    padding: 0 15px 100px 20px;
    .export-btn {
      padding-right: 16px;
      color: #333;
      font-size: 16px;
      .s-export {
        margin-right: 36px;
      }
      img {
        margin-right: 8px;
        vertical-align: middle;
      }
    }
    .total-table,
    .detail-table {
      margin-top: 24px;
      width: 100%;
      box-shadow: 0px 1px 8px 0px #eff0f3;
      border-radius: 8px;
      .bottom-wrap {
        padding: 0 34px 0 11px;
        width: 100%;
        height: 65px;
        border-radius: 1px;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        box-sizing: border-box;
        .l-text {
          margin-right: 5px;
          color: #999;
        }
      }
    }
    .detail-table {
      padding-bottom: 57px;
    }
    .total-table {
      padding: 0;
    }
  }
}
</style>
<style lang="scss">
.quantity {
  .com-select {
    margin: 0 19px 0 0 !important;
    .el-input__inner {
      height: 36px;
      line-height: 36px;
      border: 0;
      box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    }
    .el-icon-arrow-up {
      margin-top: 4px;
    }
    .el-icon-arrow-up.is-reverse {
      margin-top: 0;
    }
  }
  .com-search2 {
    border: 0;
    box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
    margin-right: 19px;
    input {
      border: 0;
    }
  }
  .el-table th.is-leaf,
  .el-table td {
    border-bottom: 1px solid #f3f3f4;
  }

  .el-table th:first-child > .cell,
  .el-table td:first-child > .cell {
    padding-left: 27px;
  }
}
</style>
