<template>
  <div class="inquirySetting-container">
    <div class="examine">
      <div class="com-operate-wrap">
        <div class="b-title">审核</div>
      </div>
      <div class="title">询价审核</div>
      <div class="flex-c setting">
        <p class="desc">询价条数审核上限</p>
        <el-input v-model="limitNum" class="ipt" @input="checkInput($event)" />
        <span>条</span>
        <!-- 开关 -->
        <div class="ml-10 com-switch">
          <span v-show="!sampleFilter" class="close-text" @click="switchState(true)">是</span>
          <span v-show="sampleFilter" class="open-text" @click="switchState(false)">否</span>
          <el-switch v-model="sampleFilter" active-color="#2773FC" inactive-color="#C2C2C2" @change="switchState" />
        </div>
      </div>
    </div>

    <!-- 造价通账号 -->
    <div class="account">
      <div class="com-operate-wrap">
        <div class="b-title">造价通账号</div>
      </div>
      <!-- 按钮/表格 -->
      <div class="com-table table-wrap detail-table">
        <!-- 功能按钮 -->
        <div class="flex-c com-operate-wrap inquiry">
          <div class="flex-c">
            <el-button type="primary" class="flex-cc btn btn1" @click="showBindWin">
              <img src="@/assets/img/icons/open_white.png" alt="" class="el-icon-search">绑定造价通账号
            </el-button>
            <el-button type="primary" class="flex-cc btn btn2" @click="$router.push('/publicModule/inquiryManage/buyCombo')">
              <img src="@/assets/img/icons/buy_plan.png" alt="" class="el-icon-search">购买套餐
            </el-button>
            <el-button class="flex-cc btn btn3" @click="showHistoryList">
              <img src="@/assets/img/icons/open_account.png" alt="" class="el-icon-search">绑定账号历史
            </el-button>
            <el-button class="flex-cc btn btn3 btn6" @click="$router.push('/publicModule/inquiryManage/order')">
              <img src="@/assets/img/icons/order.png" alt="" class="el-icon-search">订单
            </el-button>
          </div>
        </div>
        <!-- 表内容 -->
        <div v-if="tableData && tableData.length > 0" class="table-box">
          <el-table v-loading="loading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%">
            <el-table-column prop="account" label="账号" />
            <el-table-column prop="mobile" label="电话" />
            <el-table-column prop="name" label="名称" />
            <el-table-column prop="major" label="专业" />
            <el-table-column prop="residueInquiryCount" label="剩余询价条数" />
            <el-table-column prop="tbalance" label="通宝余额" />
            <el-table-column label="操作" width="400px">
              <template slot-scope="scope">
                <div class="flex-c">
                  <div class="flex-c examine">
                    <div class="flex-c yes" @click="showUnbound(scope.row, 1)">
                      <img src="@/assets/img/table/unbind.png" alt="">解绑
                    </div>
                    <div class="flex-c no" @click="showUnbound(scope.row, 2)">
                      <img src="@/assets/img/icons/synchro.png" alt="">同步历史询价
                    </div>
                  </div>
                  <div class="com-switch switch-wrap">
                    <span v-show="scope.row.isDefault" class="open-text" @click="toggleAutoState(false, scope.row, scope.$index)">默认</span>
                    <!-- <span
                      :class="['close-text', { disabled: isDefault }]"
                      v-show="!scope.row.isDefault"
                      @click="toggleAutoState(true, scope.row, scope.$index)"
                      >默认</span
                    > -->
                    <span v-show="!scope.row.isDefault" class="close-text" @click="toggleAutoState(true, scope.row, scope.$index)">默认</span>
                    <el-switch v-model="scope.row.isDefault" :active-value="1" :inactive-value="0" active-color="#2773FC" inactive-color="#C2C2C2" />
                    <!-- <el-switch
                      @change="toggleAutoState($event, scope.row, scope.$index)"
                      v-model="scope.row.isDefault"
                      :active-value="1"
                      :inactive-value="0"
                      active-color="#2773FC"
                      inactive-color="#C2C2C2"
                      :disabled="isDefault && !scope.row.isDefault"
                    >
                    </el-switch> -->
                  </div>
                </div>
              </template>
            </el-table-column>
          </el-table>
        </div>
        <!-- 表格无数据 -->
        <div v-else class="flex-cc nodata">
          <img src="@/assets/img/nodata.png" alt="" class="img">
        </div>
      </div>
    </div>

    <!-- 解绑账号/同步历史询价弹窗 -->
    <el-dialog :title="titleText" :visible.sync="showUnboundDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false" @close="delid = ''">
      <img src="@/assets/img/dialog/confirm.png" alt="">
      <p>{{ dialogText }}</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showUnboundDialog = false">取消</el-button>
        <el-button type="primary" :loading="unBoundloading" @click="unboundCount">确定</el-button>
      </span>
    </el-dialog>

    <!-- 绑定账号历史 -->
    <el-dialog title="绑定账号历史" :visible.sync="dialogHistoryVisible" class="bindAccHis">
      <el-table :data="historyData">
        <el-table-column property="account" label="账号" width="150" />
        <el-table-column label="绑定时间">
          <template slot-scope="scope">
            <span>{{ formatDate(scope.row.createTime, "1") }}</span>
          </template>
        </el-table-column>
        <el-table-column property="historyInquiryCount" label="本系统消耗条数" align="center" />
        <el-table-column label="取消绑定时间">
          <template slot-scope="scope">
            <span>{{ formatDate(scope.row.updateTime, "1") }}</span>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>

    <!-- 同步历史询价过程...弹窗 -->
    <el-dialog title="同步历史询价" :visible.sync="toRestandDialog" width="460px" class="com-dialog my-dialog redialog my-dialog" :close-on-click-modal="false">
      <div v-if="reStandStatus == 1" class="loading-box">
        <img src="@/assets/img/dialog/loading1.png" alt="" class="img">
        <img src="@/assets/img/dialog/loading2.png" alt="" class="img2">
      </div>
      <p v-if="reStandStatus == 1" class="blue-tips">正在同步历史询价...</p>
      <img v-if="reStandStatus == 2" src="@/assets/img/dialog/success.png" alt="">
      <img v-if="reStandStatus == 3" src="@/assets/img/dialog/error.png" alt="">
      <p v-if="reStandStatus == 2">{{ successMsg }}</p>
      <p v-if="reStandStatus == 3">{{ errmsg }}</p>
      <span v-if="reStandStatus != 1" slot="footer" class="dialog-footer">
        <!-- <el-button @click="toRestandDialog = false" v-if="reStandStatus == 3"
          >取消</el-button
        > -->
        <el-button type="primary" @click="toRestandDialog = false">确定</el-button>
      </span>
    </el-dialog>

    <!-- 同步历史询价选中年份 -->
    <el-dialog title="同步历史询价" :visible.sync="selectYearDialog" width="460px" class="com-dialog my-dialog redialog my-dialog" :close-on-click-modal="false">
      <p>请选择需要同步的造价通历史询价数据年份：</p>
      <el-date-picker v-model="selectedYear" size="small" class="year-date" auto-complete="new-password" value-format="yyyy" type="year" placeholder="选择年" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="selectYearDialog = false">取消</el-button>
        <el-button type="primary" @click="selectYearAfter">确定</el-button>
      </span>
    </el-dialog>

    <!-- 绑定账号 -->
    <bind-account :show-bind-dialog="showBindDialog" @hideDialog="showBindDialog = false" @search="getBindAccountList" />
  </div>
</template>

<script>
import {
  getBindAccountList,
  unBindAccount,
  historicalInquiryList,
  getBindAccountHistoryList,
  setDefaultAccount,
  upperLimit,
  getUpperLimit
} from '@/api/inquirySetting'
import BindAccount from '../../inquiryManage/components/BindAccount.vue'
import { formatDate } from '@/utils/common'
export default {
  components: {
    BindAccount
  },
  data() {
    return {
      limitNum: 1, // 询价条数审核上限
      sampleFilter: false, // 开关
      timeout: null, // 防抖定时器

      formatDate: formatDate,
      loading: false,
      tableData: [], // 表格数据
      showBindDialog: false, // 绑定账号弹窗
      bindloading: false, // 绑定造价通按钮loading
      showUnboundDialog: false, // 解绑账号confirm
      unBoundloading: false, // 解绑账号弹窗loading
      isDelCount: '', // 当前要解绑账号信息
      dialogText: '',
      historyData: [], // 绑定历史账号
      dialogHistoryVisible: false, //  是否显示历史账号列表
      toRestandDialog: false, // 显示同步历史询价弹窗
      reStandStatus: '', // 同步历史询价弹窗状态（1正在同步历史询价 2成功 3失败）
      errmsg: '', // 同步历史询价失败信息
      isDefault: false, // 是否已选中默认账号
      titleText: '', // 共用弹窗标题
      selectYearDialog: false, // 是否显示选中年份
      selectedYear: '', // 选中年份值
      isDefaultId: '' // 当前默认账号id
    }
  },

  mounted() {
    this.getUpperLimit()
    this.getBindAccountList()
  },

  methods: {
    // 初始状态
    getUpperLimit() {
      getUpperLimit().then(res => {
        if (res.code == '01') {
          this.limitNum = res.body.amount
          this.sampleFilter = res.body.powerSwitch == 1
        }
      })
    },

    // 数值校验(正整数)
    checkInput(e) {
      this.limitNum = this.limitNum.replace(/[^\d]/g, '')
      if (this.limitNum == 0) this.limitNum = ''
      // 防抖上传
      if (this.sampleFilter) {
        if (this.timeout !== null) clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          this.switchState(true)
        }, 2000)
      }
    },

    // 设置接口
    switchState(val) {
      if (this.timeout !== null) clearTimeout(this.timeout)
      this.sampleFilter = val
      var data = {
        amount: this.limitNum || 1,
        powerSwitch: val ? 1 : 0,
        id: this.$store.getters.userId
      }
      upperLimit(data).then(res => {
        if (res.code == '01') {
          this.$message({
            type: 'success',
            message: res.message
          })
        } else {
          this.$message({
            type: 'error',
            message: res.message || '出错了!'
          })
          // 失败则复原开关
          this.sampleFilter = !val
        }
      })
    },

    // 显示绑定造价通账号弹窗
    showBindWin() {
      this.showBindDialog = true
    },
    // 同步历史询价开关
    toggleAutoState(val, item, index) {
      console.log(val, item, index)

      var data = {
        id: item.id,
        isDefault: val ? 1 : 0
      }

      if (this.isDefaultId) {
        // 先关闭原有默认账号
        setDefaultAccount({
          id: this.isDefaultId,
          isDefault: 0
        }).then(res => {
          console.log('关闭原默认账号', res)
        })
      }

      setTimeout(() => {
        setDefaultAccount(data).then(res => {
          if (res.code == '01') {
            this.$message({
              type: 'success',
              message: res.message
            })
            this.getBindAccountList()
          } else {
            this.$message({
              type: 'error',
              message: res.message
            })
            // 失败则复原开关
            const release = this.tableData[index].isDefault
            this.tableData[index].isDefault = release
          }
        })
      }, 100)
    },
    // 获取绑定账号列表
    getBindAccountList() {
      getBindAccountList().then(res => {
        console.log(res)
        if (res.code == '01') {
          this.tableData = res.body
          this.isDefault = false
          this.isDefaultId = ''
          if (this.tableData && this.tableData.length > 0) {
            for (let i = 0, l = this.tableData.length; i < l; i++) {
              if (this.tableData[i].isDefault) {
                this.isDefaultId = this.tableData[i].id
                this.isDefault = true
              }
            }
          }
        } else {
          this.$message({
            type: 'error',
            message: res.message || '出错了'
          })
        }
      })
    },
    // 显示解绑账号二次确认弹窗
    showUnbound(row, type) {
      this.isDelCount = row
      if (type == 1) {
        this.titleText = '解绑'
        this.dialogText = '您确定要解绑当前账号吗？'
      } else {
        this.titleText = '同步历史询价'
        this.dialogText = '你确定要同步造价通历史询价信息吗？'
      }
      this.showUnboundDialog = true
    },
    // 解绑账号
    unboundCount() {
      if (this.dialogText == '您确定要解绑当前账号吗？') {
        this.unBoundloading = true
        unBindAccount({ id: this.isDelCount.id }).then(res => {
          if (res.code === '01') {
            this.$message({
              type: 'success',
              message: '解绑账号成功'
            })

            this.showUnboundDialog = false
            // 刷新绑定账号列表
            this.getBindAccountList()
          } else {
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
          this.unBoundloading = false
        })
      } else {
        this.selectYearDialog = true
      }
    },
    selectYearAfter() {
      if (!this.selectedYear) {
        this.$message.warning('请选中年份！')
        return
      }
      // 同步历史询价
      this.reStandStatus = 1
      this.showUnboundDialog = false
      this.toRestandDialog = true

      historicalInquiryList({
        memberId: this.isDelCount.account,
        piciData: this.selectedYear
      })
        .then(res => {
          if (res.code === '01') {
            this.reStandStatus = 2
            this.selectYearDialog = false
            this.successMsg =
              '本次成功同步' +
              res.body.size +
              '条材价！之前已同步' +
              res.body.numSize +
              '条材价，请到材价库中查看'
            // 刷新绑定账号列表
            this.getBindAccountList()
          } else {
            this.errmsg = res.message || '同步历史询价失败！'
            this.reStandStatus = 3
          }
        })
        .catch(err => {
          this.errmsg = err.message || '同步历史询价失败！'
          this.reStandStatus = 3
        })
    },
    // 获取绑定账号历史列表
    getBindAccountHistoryList() {
      getBindAccountHistoryList().then(res => {
        // historyData
        if (res.code === '01') {
          this.historyData = res.body
        } else {
          this.$message({
            type: 'error',
            message: res.message || '出错了'
          })
        }
      })
    },
    // 显示历史账号列表
    showHistoryList() {
      console.log('sssss')
      this.getBindAccountHistoryList()
      this.dialogHistoryVisible = true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.inquirySetting-container {
  & > .examine {
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 0 25px 70px 0;
    .title {
      font-size: 18px;
      font-family: 'mainfont';
      font-weight: bold;
      margin: 26px 38px;
    }
    .setting {
      margin-left: 38px;
      font-weight: 400;
      .ipt {
        margin: 0 12px;
      }
    }
  }
  .account {
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 0 0 70px;
    .b-title {
      width: 110px !important;
    }
  }
  // 表格
  .detail-table {
    margin-top: 18px;
    padding-bottom: 20px;
    padding-left: 25px;
    border-radius: 6px;
    background-color: #ffffff;
    .inquiry {
      background: #fcfcfd;
      .btn {
        height: 34px;
        color: #ffffff !important;
        border-radius: 5px;
        font-size: 15px;
        font-family: 'mainfont';
        font-weight: 500;
        &:hover {
          border: 1px solid;
        }
        .el-icon-search {
          margin-right: 5px;
        }
      }
      .btn1 {
        width: 184px !important;
        background: $color-primary !important;
      }
      .btn2 {
        background: $color-minor;
        border-color: $color-minor;
        box-shadow: 0px 1px 4px 0px rgba(12, 18, 56, 0.15);
      }
      .btn3 {
        width: 140px;
        color: $color-primary !important;
        border-color: #3699ff !important;
        &:hover {
          background: #ffffff !important;
          box-shadow: 0px 1px 4px 0px #3699ff;
        }
      }
      .btn6 {
        width: 90px;
      }
    }
    .table-box {
      background: #ffffff;
      padding-bottom: 60px;
      .examine {
        font-size: 13px;
        height: 16px;
        font-family: 'mainfont';
        margin-right: 17px;
        padding-right: 17px;
        border-right: 1px solid #9eb8d0;
        > div {
          margin-right: 25px;
          cursor: pointer;
          > img {
            margin-right: 5px;
          }
        }
      }
      .yes {
        color: $color-minor;
      }
      .no {
        color: $color-primary;
      }
      .t-color {
        font-weight: 400;
        color: $table-color;
      }
      .faster-img {
        width: 44px;
        height: 19px;
        margin-left: 5px;
      }
      .wrap {
        width: 214px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .mode-name {
        cursor: pointer;
        color: $color-primary;
      }
    }
  }
  .bindwin {
    .box {
      padding: 0 40px;
      .name {
        margin-bottom: 19px;
      }
      .password {
        margin-bottom: 19px;
      }
      .code {
        height: 36px;
        margin-bottom: 9px;
        > img {
          width: 178px;
          height: 100%;
        }
        .sendcode {
          width: 120px;
          height: 36px;
          color: #ffffff;
          background: #1789f2;
          border-radius: 4px;
          font-weight: 400;
          cursor: pointer;
        }
        .graycode {
          width: 120px;
          height: 36px;
          color: #ffffff;
          background: #b5b3b4;
          border-radius: 4px;
          font-weight: 400;
        }
      }
      .tips {
        min-height: 13px;
        width: 100%;
        font-size: 12px;
        font-family: 'mainfont';
        color: #ff1f1f;
        margin: 0 0 15px 5px;
      }
      .another {
        margin-top: 21px;
        font-size: 12px;
        font-family: 'mainfont';
        .left {
          > span {
            color: #999999;
          }
          > img {
            width: 16px;
            height: 16px;
            cursor: pointer;
            margin-left: 6px;
          }
          .wechat {
            width: 18px;
            height: 18px;
          }
        }
        .right {
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
  }
  .scanwin {
    .box {
      width: 210px;
      margin: 10px auto 20px;
      text-align: center;
      .scanimg {
        position: relative;
        margin: 0 auto;
        width: 132px;
        height: 132px;
        background: #ffffff;
        box-shadow: 0px 2px 18px 0px rgba(6, 41, 73, 0.14);
        border-radius: 12px;
        // transition: opacity 0.8s ease;
        > img {
          width: 104px;
          height: 104px;
        }
        .tip-img {
          margin-top: 5px;
          width: 25px;
        }
        .tipimg {
          display: none;
          opacity: 0;
          width: 185px;
          height: 250px;
          position: absolute;
          right: -200px;
          top: -10px;
          z-index: 2002;
          > img {
            width: 100%;
            height: 100%;
          }
        }
        &:hover {
          .tipimg {
            display: block;
            opacity: 1;
          }
        }
      }
      .tips {
        font-weight: 400;
        line-height: 71px;
        color: #333333;
      }
      .reobtain {
        cursor: pointer;
        color: #1789f2;
      }
      .icons {
        .item {
          font-size: 12px;
          font-weight: 300;
          color: #cdcdcd;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          > img {
            width: 22px;
            height: 22px;
            margin-bottom: 7px;
          }
        }
      }
    }
  }
  .year-date {
    width: 60%;
    margin-top: 20px;
  }
}
</style>

<style lang="scss">
@import '@/styles/variables.scss';
.inquirySetting-container {
  .com-operate-wrap {
    padding-left: 0 !important;
    .b-title {
      width: 54px !important;
    }
  }
  .setting {
    .ipt {
      width: 110px;
      height: 34px;
      background: #ffffff;
      border: 1px solid #b9c6dc;
      border-radius: 5px;
      box-sizing: border-box;
      border: 1px solid #e5e5e5;
      background: #ffffff;
      outline: none;
      border: none;
      .el-input__inner {
        width: 110px;
        height: 100% !important;
      }
    }
    // 开关
    .com-switch {
      .close-text {
        right: 16px !important;
      }
      .open-text {
        left: 16px !important;
      }
    }
  }
  .inquiry {
    .btn {
      > span {
        display: flex;
        align-items: center;
      }
    }
  }
  .table-box {
    .switch-wrap {
      .close-text {
        right: 10px;
        top: 4px;

        &.disabled {
          pointer-events: none;
        }
      }
      .open-text {
        top: 4px;
      }
    }
  }
  .bindwin,
  .scanwin {
    .el-dialog__header {
      background: none;
    }
  }
  .bindwin {
    .el-tabs__nav {
      width: 100%;
      .el-tabs__item {
        width: 50%;
        text-align: center;
      }
    }
    .box {
      .el-tabs__header {
        margin-bottom: 25px;
      }
      .el-tabs__content {
        width: 310px !important;
        margin: 0 auto;
        .el-input {
          .el-input__inner {
            height: 36px !important;
          }
          .el-input-group__prepend {
            width: 36px;
            background-color: #f3f9fe;
          }
        }
      }
      .code {
        .el-input__inner {
          width: 178px;
        }
      }
    }
  }
  .redialog {
    .loading-box {
      width: 90px;
      height: 90px;
      margin: 30px auto;
      position: relative;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .img {
        z-index: 0;
        animation: scanLoading 0.8s linear infinite;
      }
      .img2 {
        z-index: 1;
        animation: scanLoading2 0.8s linear infinite;
      }
      @keyframes scanLoading {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-360deg);
        }
      }
      @keyframes scanLoading2 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .blue-tips {
      color: #1789f2;
      line-height: 30px;
      margin-bottom: 40px;
    }
    .success {
      color: $color-primary;
    }
    .error {
      color: $color-danger;
    }
  }
}
</style>
