<template>
  <div class="order-container">
    <!-- 搜索 -->
    <div class="com-search2 search">
      <el-input v-model="searchVal" class="search-ipt" placeholder="搜索关键字，如:订单号、充值账号、充值套餐" @keyup.enter.native="search" />
      <i class="el-icon-search" @click="search" />
    </div>
    <!-- 表内容 -->
    <div class="table-box">
      <el-table v-loading="loading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%">
        <el-table-column prop="orderNo" label="订单号" />
        <el-table-column prop="rechargeAccount" label="充值账号" />
        <el-table-column label="充值套餐">
          <template v-if="scope.row" slot-scope="scope">
            <span> {{ scope.row.rechargeMeal }} </span>
          </template>
        </el-table-column>
        <el-table-column label="充值数量">
          <template v-if="scope.row" slot-scope="scope">
            <span> {{ scope.row.rechargeCount }} </span>
          </template>
        </el-table-column>
        <el-table-column prop="payWay" label="支付方式">
          <template slot-scope="scope">
            <span v-if="scope.row.payWay == 1">微信</span>
            <span v-else-if="scope.row.payWay == 2">支付宝</span>
            <span v-else-if="scope.row.payWay == 3">银行卡</span>
            <span v-else-if="scope.row.payWay == 4">通宝</span>
          </template>
        </el-table-column>
        <el-table-column prop="payStatus" label="支付状态">
          <template slot-scope="scope">
            <span v-if="scope.row.payStatus == 1" class="no">待支付</span>
            <span v-else-if="scope.row.payStatus == 2" class="pass">已支付</span>
            <span v-else-if="scope.row.payStatus == 3" class="no">订单取消</span>
          </template>
        </el-table-column>
        <el-table-column prop="createTime" label="充值时间">
          <template slot-scope="scope">
            <span>{{ formatDate(scope.row.createTime, "1") }}</span>
          </template>
        </el-table-column>
        <el-table-column label="交易操作" width="150px">
          <template slot-scope="scope">
            <div class="icon-wrap">
              <el-tooltip v-if="scope.row.payStatus == 0" effect="light" content="立即付款" placement="top">
                <img class="icons" src="@/assets/img/icons/pay_money.png" alt="">
              </el-tooltip>
              <span @click="toOrderDetail(scope.row)">
                <el-tooltip effect="light" content="订单详情" placement="top">
                  <img class="icons" src="@/assets/img/icons/details.png" alt="">
                </el-tooltip>
              </span>
              <el-tooltip v-if="scope.row.payStatus == 1" effect="light" content="取消订单" placement="top">
                <img class="icons" style="width:14px;" src="@/assets/img/icons/cancel.png" alt="" @click="cancelDialog=true;cancelItem=scope.row;cancelStatus=1;">
              </el-tooltip>
            </div>
          </template>
        </el-table-column>
      </el-table>
      <!-- 分页 -->
      <div class="flex-csb com-pages-wrap">
        <div class="flex-c left-page">
          <span>当前显示</span>
          <div class="flex-cc cur-page">
            <el-select v-model="pageSize" placeholder="请选择" @change="handleCurrentChange(1)">
              <el-option v-for="(item, index) in pageSizeList" :key="index" :label="item" :value="item" />
            </el-select>
          </div>
          <span>条</span>
          <span class="total-num">共{{ totalCount }}条数据</span>
        </div>
        <div class="flex-c right-page">
          <el-pagination background :current-page.sync="currentPage" :page-size="pageSize" layout="prev, pager, next, jumper" :total="totalCount" @current-change="handleCurrentChange" />
          <div class="com-page-btn">确定</div>
        </div>
      </div>
    </div>

    <!-- 删除文件提示弹窗 -->
    <el-dialog title="取消订单" :visible.sync="cancelDialog" width="460px" class="com-dialog my-dialog" :close-on-click-modal="false">
      <img v-if="cancelStatus == 1" src="@/assets/img/dialog/confirm.png" alt="">
      <img v-if="cancelStatus == 2" src="@/assets/img/dialog/success.png" alt="">
      <img v-if="cancelStatus == 3" src="@/assets/img/dialog/error.png" alt="">
      <p v-if="cancelStatus == 1">您确定取消订单吗？</p>
      <p v-if="cancelStatus == 2">{{ cancelSuccess }}</p>
      <p v-if="cancelStatus == 3">{{ cancelErr }}</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelDialog = false">取消</el-button>
        <el-button type="primary" @click="cancelOrder">确定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { getRechargeOrderPageList, cancelOrder } from '@/api/inquirySetting'
import { formatDate } from '@/utils/common'
export default {
  data() {
    return {
      formatDate: formatDate,
      searchVal: '',
      tableData: [],
      loading: false,
      currentPage: 1,
      pageSize: 10,
      totalCount: 0,
      pageSizeList: [10, 20, 30, 40, 50, 100],
      cancelDialog: false,
      cancelStatus: '', // 1询问 2成功 3失败
      cancelItem: '',
      cancelSuccess: '',
      cancelErr: ''
    }
  },
  mounted() {
    this.getRechargeOrderPageList()
  },
  methods: {
    search() {
      this.currentPage = 1
      this.getRechargeOrderPageList()
    },
    // 切换分页
    handleCurrentChange(val) {
      this.currentPage = val
      // this.getDataList()
      this.getRechargeOrderPageList()
    },
    // 取消订单
    cancelOrder() {
      if (this.cancelStatus == 2 || this.cancelStatus == 3) {
        this.cancelDialog = false
        return
      }
      const row = this.cancelItem
      const params = {
        id: row.id
      }
      cancelOrder(params)
        .then(res => {
          if (res.code == '01') {
            this.cancelStatus = 2
            this.cancelSuccess = res.message || '取消成功!'
            this.getRechargeOrderPageList()
          } else {
            this.cancelStatus = 3
            this.cancelErr = res.message || '取消失败!'
          }
        })
        .catch(err => {
          this.cancelStatus = 3
          this.cancelErr = err.message || '取消失败!'
        })
    },
    // 获取订单列表
    getRechargeOrderPageList() {
      this.loading = true
      getRechargeOrderPageList({
        currentPage: this.currentPage,
        keyword: this.searchVal,
        pageSize: this.pageSize
      })
        .then(res => {
          if (res.code == '01') {
            this.tableData = res.body.list
            this.totalCount = res.body.totalCount
          } else {
            this.$message({
              type: 'error',
              message: res.message || '出错了'
            })
          }
          this.loading = false
        })
        .catch(err => {
          this.loading = false
          this.$message({
            type: 'error',
            message: err.message || '出错了'
          })
        })
    },
    // 去订单详情
    toOrderDetail(row) {
      if (row.payStatus == 1) {
        // 待支付
        this.$router.push({
          path: '/publicModule/inquiryManage/orderDetail',
          query: {
            packageId: row.rechargeMeal,
            count: row.rechargeCount,
            amount: row.rechargeAccount,
            id: row.orderNo,
            payWay: row.payWay
          }
        })
      } else {
        this.$router.push({
          path: '/publicModule/inquiryManage/orderText',
          query: {
            packageId: row.rechargeMeal,
            count: row.rechargeCount,
            amount: row.rechargeAccount,
            isPayType: row.payWay,
            payStatus: row.payStatus
          }
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.order-container {
  padding: 20px;
  background: #ffffff;
  border-radius: 0 0 6px 6px;
  .search {
    margin-bottom: 30px;
  }
  .table-box {
    padding-bottom: 30px;
    .no {
      color: $color-danger;
    }
    .pass {
      color: #1eb645;
    }
  }
}
</style>

<style lang="scss">
.order-container {
  .search {
    width: 370px;
    .el-input {
      input {
        width: 320px;
      }
    }
  }
  .table-box {
    .icon-wrap {
      .icons {
        cursor: pointer;
        margin-right: 15px;
      }
    }
  }
}
</style>
