<template>
  <div class="detail-container">
    <div class="title">订单信息</div>
    <!-- 表内容 -->
    <div class="table-box">
      <div class="flex-csb backs" @click="$router.go(-1)">
        <span>返回</span>
        <img src="@/assets/img/icons/backs.png" alt="">
      </div>
      <el-table v-loading="loading" :data="tableData" tooltip-effect="dark" class="table-main" style="width: 100%">
        <el-table-column label="套餐" width="330px">
          <template slot-scope="scope">
            <div class="flex-c">
              <img v-if="scope.row.thumbnailUrl_Mid" class="buy-img" :src="scope.row.thumbnailUrl_Mid" alt="">
              <img v-else class="buy-img" src="@/assets/img/buy_img.png" alt="">
              <span>{{ scope.row.packageName }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column label="服务详情">
          <template v-if="scope.row.packageDescribe.length > 0" slot-scope="scope">
            <span v-for="(item, index) in scope.row.packageDescribe" :key="index">
              {{ index + 1 }}、{{ item }}
            </span>
          </template>
        </el-table-column>
        <el-table-column width="160px" label="单价">
          <template slot-scope="scope">
            <span>￥{{ scope.row.cashSalePriceTxt }}</span>
          </template>
        </el-table-column>
        <!-- <el-table-column width="250px" label="数量">
          <template>
            <span
              ><el-input-number
                size="small"
                v-model="num"
                controls-position="right"
                :min="1"
              ></el-input-number
            ></span>
          </template>
        </el-table-column> -->
        <el-table-column width="250px" label="数量">
          <template>
            <span>
              {{ num }}
            </span>
          </template>
        </el-table-column>
        <!-- <el-table-column prop="applyDate" label="商家优惠">
          <template slot-scope="scope">
            <span class="light">￥{{ scope.row.status }}</span>
          </template>
        </el-table-column> -->
        <el-table-column width="180px" label="小计">
          <template slot-scope="scope">
            <span class="light">￥{{ scope.row.cashSalePriceTxt * num }}</span>
          </template>
        </el-table-column>
        <el-table-column label="交易状态">
          <template slot-scope="scope">
            <span class="light">{{ payStatus == 2 ? '交易成功' : '交易取消' }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="title">支付方式</div>
    <div class="flex-c check">
      <div v-if="activePay == '1'" class="flex-cc item" :class="{ active: activePay == '1' }">
        <img src="@/assets/img/icons/pay_money.png" alt="">
        <span>微信支付</span>
      </div>
      <div v-if="activePay == '4'" class="flex-cc item" :class="{ active: activePay == '4' }">
        <img src="@/assets/img/icons/pay_tcoin.png" alt="">
        <span>通宝支付</span>
      </div>
    </div>
    <div v-if="activePay == '4' && amountInfo" class="wallet">
      您的账户余额： <span class="num">{{ amountInfo.tbalance }}</span> 通宝
    </div>
    <div v-else style="height: 88px" />
    <!-- <div class="info">
      <div class="titles">发票信息</div>
      <div v-if="amountInfo" class="flex-c infobox">
        <div class="items">联系人：{{ amountInfo.name || "--" }}</div>
        <div class="items">收票人手机：{{ amountInfo.mobile || "--" }}</div>
        <div class="items">收票人邮件：{{ amountInfo.email || "--" }}</div>
        <div class="items">发票类型：电子发票</div>
        <div class="items">发票类型：信息技术服务费</div>
      </div>
    </div> -->
  </div>
</template>

<script>
import { packageDetails, getTingInformation } from '@/api/inquirySetting'
export default {
  data() {
    return {
      num: 1,
      tableData: [],
      loading: false,
      packageId: '',
      amount: '', // 充值账号
      activePay: '', // 支付方式
      amountInfo: null, // 当前充值账号信息
      totalNum: 0, // 总金额
      payStatus: ''
    }
  },
  mounted() {
    this.packageId = this.$route.query.packageId
    this.num = this.$route.query.count
    this.amount = this.$route.query.amount
    this.payStatus = this.$route.query.payStatus // 支付状态
    this.activePay = this.$route.query.isPayType // 支付方式

    setTimeout(() => {
      this.packageDetails()
      this.getTingInformation()
    }, 0)
  },
  methods: {
    // 获取套餐详情
    packageDetails() {
      packageDetails({ packageId: this.packageId }).then(res => {
        console.log('套餐详情', res)
        if (res && res.code == '01') {
          this.tableData = []
          this.tableData.push(res.body)
        }
      })
    },
    // 获取账号信息
    getTingInformation() {
      getTingInformation({ memberId: this.amount }).then(res => {
        console.log('账号信息', res)
        if (res && res.code == '01') {
          this.amountInfo = res.body
        }
      })
    },
    // 总金额
    totalAmount() {
      if (this.tableData && this.tableData.length > 0) {
        this.totalNum = this.tableData[0].cashSalePriceTxt * this.num
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/variables.scss';
.detail-container {
  box-shadow: 0px 1px 0px 0px rgba(96, 96, 96, 0.06);
  border-radius: 6px;
  background: #ffffff;
  padding: 21px 202px 152px 25px;
  margin-top: 8px;
  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 23px;
  }
  .light {
    color: $color-minor;
  }
  .table-box {
    margin-bottom: 45px;
    position: relative;
    .backs {
      width: 56px;
      position: absolute;
      top: -30px;
      right: 10px;
      z-index: 1;
      color: $color-primary;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      > img {
        width: 16px;
        height: 16px;
      }
    }
    .buy-img {
      width: 72px;
      height: 72px;
      margin-right: 10px;
    }
  }
  .check {
    .item {
      width: 180px;
      height: 46px;
      background: #ffffff;
      box-shadow: 0px 4px 10px 0px rgba(214, 214, 214, 0.44);
      border-radius: 4px;
      color: #3a3a3a;
      margin-right: 31px;
      > img {
        margin-right: 5px;
      }
    }
    .active {
      border: 1px solid $color-danger;
      background: url('../../../assets/img/icons/checked.png') 152px 18px
        no-repeat;
      background-size: 27px 27px;
    }
  }
  .wallet {
    color: #3a3a3a;
    margin: 35px 0 26px;
    .num {
      font-size: 24px;
      font-weight: bold;
      color: $color-minor;
    }
  }
  .info {
    padding: 18px 0 21px;
    border-top: 1px dashed #bfbfbf;
    border-bottom: 1px dashed #bfbfbf;
    margin-bottom: 30px;
    .titles {
      font-size: 16px;
      color: #3a3a3a;
      opacity: 0.7;
    }
    .infobox {
      font-size: 12px;
      font-weight: bold;
      // margin: 33px 0 29px;
      margin-top: 33px;
      .items {
        margin-right: 36px;
      }
    }
  }
}
</style>
