<template>
  <div :class="classObj" class="app-wrapper">
    <!-- 一个遮层罩 -->
    <div v-if="device === 'mobile' && sidebar.opened" class="drawer-bg" @click="handleClickOutside" />
    <!-- 侧边菜单栏 -->
    <sidebar class="sidebar-container" />
    <div class="main-container">
      <div :class="{ 'fixed-header': fixedHeader }">
        <!-- 最顶部头部导航栏 -->
        <navbar />
      </div>
      <!-- 主体内容 -->
      <app-main />
      <div>
        <!-- 公共底部 -->
        <my-footer class="footer-container" />
      </div>
    </div>
  </div>
</template>

<script>
import { Navbar, Sidebar, AppMain, MyFooter } from './components'
import ResizeMixin from './mixin/ResizeHandler'
import { getProjectTypeTree } from '@/api/target'

export default {
  name: 'Layout',
  components: {
    Navbar,
    Sidebar,
    AppMain,
    MyFooter
  },
  mixins: [ResizeMixin],
  computed: {
    sidebar() {
      return this.$store.state.app.sidebar
    },
    device() {
      return this.$store.state.app.device
    },
    fixedHeader() {
      return this.$store.state.settings.fixedHeader
    },
    classObj() {
      return {
        hideSidebar: !this.sidebar.opened,
        openSidebar: this.sidebar.opened,
        withoutAnimation: this.sidebar.withoutAnimation,
        mobile: this.device === 'mobile'
      }
    },
    stateList() {
      // 造价阶段列表
      return this.$store.state.project.stageList
    },
    economicCategory() {
      // 经济-工程类型
      return this.$store.getters.economicCategory
    },
    technologyCategory() {
      // 技术-工程类型
      return this.$store.getters.technologyCategory
    }
  },
  created() {
    if (!this.stateList.length) {
      // 阶段列表
      this.$store.dispatch('getStageList')
    }

    // 获取工程类型数据
    // if (!this.economicCategory.length) {
    //   getProjectTypeTree({ type: 1 }).then((res) => {
    //     if (res && res.body) {
    //       this.$store.commit("SET_ECONOMIC_CATEGORY", res.body);
    //     }
    //   });
    // }

    // if (!this.technologyCategory.length) {
    //   getProjectTypeTree({ type: 2 }).then((res) => {
    //     if (res && res.body) {
    //       this.$store.commit("SET_TECHNOLOGY_CATEGORY", res.body);
    //     }
    //   });
    // }
  },
  methods: {
    handleClickOutside() {
      this.$store.dispatch('app/closeSideBar', { withoutAnimation: false })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/variables.scss';

.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
  &.mobile.openSidebar {
    position: fixed;
    top: 0;
  }
}
.mask {
  background: red;
  // opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}
.drawer-bg {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}

.fixed-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: calc(100% - #{$sideBarWidth});
  transition: width 0.28s;
}

.hideSidebar .fixed-header {
  width: calc(100% - 54px);
}

// .mobile .fixed-header {
//   width: 100%;
// }
.main-container {
  // padding-bottom: 40px;
}

.footer-container {
  height: 100px;
  font-size: 12px;
  line-height: 20px;
  color: #a0abbf;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
